<div class="shelf shelf--learn-more-banner">
  <div class="shelf__lining">
    <h2 class="shelf__h1">
      Learn More
    </h2>

    <p class="shelf__block">
      If you still have questions, please <a href="mailto:contact@shelby.tv" class="shelf__link-light">email us</a>.
    </p>

  </div><!-- eo shelf__lining -->
</div><!-- eo shelf -->



<div class="shelf shelf--learn-more clearfix">
  <div class="shelf__lining">
    <h3 class="shelf__h2">
      Shelby, Explained
    </h3>

    <ul class="shelf__list shelf__list--learn-more frame-body-wrapper">
      <li class="shelf__list--learn-more-entry">
        <h3 class="shelf__h3">.TV Networks</h3>
        <p class="shelf__list--learn-more-definition">
          A .TV Network lets you create your own video network, with your own channels
          (similar to NBC or CBS, except <strong>you control it, not the man</strong>).
          Each channel (we call them "Rolls"). is a collection of videos from anywhere on the Internet.
          It can be an expression of your tastes, interests, opinions, or marketing for your company.
        </p>
        <p class="shelf__list--learn-more-definition">
          We’ve designed the .TV experience from the ground up for web and mobile.
          Shelby gives you the tools to create, then gets out of the way to <strong>let the content speak for itself</strong>.
        </p>
      </li>
      
      <li class="shelf__list--learn-more-entry">
        <h3 class="shelf__h3">Rolls and <em>Rolling</em></h3>
        <p class="shelf__list--learn-more-definition">
          On Twitter you tweet, on Shelby you <em>roll</em>.
        </p>
        <p class="shelf__list--learn-more-definition">
          <strong>You curate video by <em>rolling</em> it.</strong>
          This adds it to one of the Rolls in your network.
          You can <em>re-roll</em> video from Rolls you follow within Shelby.  
          Or you can <em>roll</em> video from any webpage with our tools (a Chrome Extension and bookmarklet).
        </p>
      </li>
      
      <li class="shelf__list--learn-more-entry">
        <h3 class="shelf__h3">Twitter and Facebook</h3>
        <p class="shelf__list--learn-more-definition">
          Rolling video is fun when you hook up Twitter and Facebook.
          Shelby shows you the <strong>video your friends are sharing</strong> (which can be eye-opening). 
          You take it from there.
        </p>
        <p class="shelf__list--learn-more-definition">
          You can also share back to Twitter and Facebook when your roll a video.
          This is a great way to build an audience for your .TV network.
        </p>
      </li>
      
      <li class="shelf__list--learn-more-entry">
        <h3 class="shelf__h3">iPad</h3>
        <p class="shelf__list--learn-more-definition">
          We think big-box TVs and even YouTube have become too complicated.
          When it takes a lot of work to watch video, it's not enjoyable.
          We won’t stand for that.
          So we’re working on bringing Shelby to more devices.
        </p>
        <p class="shelf__list--learn-more-definition">
          <em>Stay tuned...</em>
        </p>
      </li>

      <li class="shelf__list--learn-more-entry">
        <h3 class="shelf__h3">We Just Made that Pun</h3>
        <p class="shelf__list--learn-more-definition">
          And we’re not apologizing.  We love it.
        </p>
      </li>
    </ul>


    <h3 class="shelf__h2">
      Shelby ❤ Curators
    </h3>

    <ul class="shelf__list shelf__list--learn-more frame-body-wrapper">
      <li class="shelf__list--learn-more-entry">
        <h3 class="shelf__h3">Easier to Curate</h3>
        <p class="shelf__list--learn-more-definition">
          You can search YouTube, Vimeo and more without killing the video you’re watching.
          By following creative and original Rolls, you'll <strong>discover great video before it already has a million views</strong>.
          Plus, it’s just two clicks to roll a video you see in your everyday browsing.
        </p>
      </li>
      
      <li class="shelf__list--learn-more-entry">
        <h3 class="shelf__h3">Better for Your Audience</h3>
        <p class="shelf__list--learn-more-definition">
          They get continuous, elegant playback like television.
          <strong>Not a pile of webpages</strong> that interrupt the experience.
        </p>
        <p class="shelf__list--learn-more-definition">
          <strong>Focus.</strong>  
          There are no distractions next to your content, so your audience can enjoy and focus.
        </p>
      </li>

      <li class="shelf__list--learn-more-entry">
        <h3 class="shelf__h3">More Distribution</h3>
        <p class="shelf__list--learn-more-definition">
          You’re more than a YouTube channel.
          So you should stand out from the crowd and build <strong>an audience that is uniquely yours</strong>.
        </p>
        <p class="shelf__list--learn-more-definition">
          With Shelby you can <strong>curate videos you didn't upload</strong>.
          And you can use videos from lots of different places (like YouTube, Vimeo, Hulu, DailyMotion, CollegeHumor, and more).
        </p>
      </li>

      <li class="shelf__list--learn-more-entry">
        <h3 class="shelf__h3">Embed on Your Website</h3>
        <p class="shelf__list--learn-more-definition">
          Our widget will automatically <strong>detect videos on your blog</strong> and add a link to your .tv network.
          See an example from Fred Wilson: <a href="http://www.avc.com/a_vc/2013/02/video-of-the-week-the-kbs-ventures-interview.html" class="shelf__link">http://avc.com</a>
        </p>
        <p class="shelf__list--learn-more-definition">
          Some partners have also chosen to <strong>embed the full Shelby playback experience</strong>.
          Either way, <a href="mailto:contact+embed@shelby.tv" class="shelf__link">email us</a> and we’ll make it happen.
        </p>
      </li>

      <li class="shelf__list--learn-more-entry">
        <h3 class="shelf__h3">Already Have a YouTube Channel?</h3>
        <p class="shelf__list--learn-more-definition">
          Keep it!
        </p>
        <p class="shelf__list--learn-more-definition">
          We can help you bring all that content into your own beautiful Shelby .TV network. <a href="mailto:ingestyoutube@shelby.tv" class="shelf__link">Email us</a> if you’re interested.
        </p>
      </li>

      <li class="shelf__list--learn-more-entry">
        <h3 class="shelf__h3">http://yourCustom.tv</h3>
        <p class="shelf__list--learn-more-definition">
          Custom domains are great.
          They allow you to build a brand that's all your own.
        </p>
        <p class="shelf__list--learn-more-definition">
          Whether it's your name, your band's name, a movie, or a company, we can help you create a beautiful page at your custom domain.
          Since they’re still in beta, <a href="mailto:customdomain@shelby.tv" class="shelf__link">email us</a> to get it setup.
        </p>
      </li>

      <li class="shelf__list--learn-more-entry">
        <h3 class="shelf__h3">iPad</h3>
        <p class="shelf__list--learn-more-definition">
          Your .TV network represents you.
          We’ll make sure your audience can relax and <strong>enjoy it on the couch</strong> as easily as they can at their desk.
          It will <em>just work</em> when building is complete.
        </p>
      </li>
    </ul>

    <h3 class="shelf__h2">
      How do I...
    </h3>

    <ul class="shelf__list shelf__list--learn-more frame-body-wrapper">
      <li class="shelf__list--learn-more-entry">
        <h3 class="shelf__h3">Report an issue or a bug?</h3>
        <p class="shelf__list--learn-more-definition">
          email <a href="mailto:feedback+bugs@shelby.tv" class="shelf__link">bugs@shelby.tv</a>
        </p>
      </li>

      <li class="shelf__list--learn-more-entry">
        <h3 class="shelf__h3">Request a feature?</h3>
        <p class="shelf__list--learn-more-definition">
          email <a href="mailto:feedback+featurerequest@shelby.tv" class="shelf__link">featurerequest@shelby.tv</a>
        </p>
      </li>

      <li class="shelf__list--learn-more-entry">
        <h3 class="shelf__h3">Give the gift of Shelby to my friends?</h3>
        <p class="shelf__list--learn-more-definition">
          Sign in, then click “Invite” in the header of the app.
        </p>
        <p class="shelf__list--learn-more-definition">
          If you’re out of invites, email <a href="mailto:feedback+invites@shelby.tv" class="shelf__link">invites@shelby.tv</a>
        </p>
      </li>
    </ul>
    
    <h3 class="shelf__h2">
      &nbsp;
    </h3>
    
    <ul class="shelf__list shelf__list--learn-more shelf__list--reserve-username frame-body-wrapper">
      <li class="shelf__list--learn-more-entry">
        <h3 class="shelf__h3">Name Your Network</h3>
        <p class="shelf__list--learn-more-definition">
          Plant a flag in the Internet and reserve your username.
        </p>
        
        <form id="js-email-form" class="form_module shelf__form shelf__form--learn-more js-track-submit" data-ga_action="Submit reserve username email">
          <fieldset id="js-email-form-submit" class="search_module">
            <input type="submit" class="button_primer button_default search_module__submit" value="Stake Your Claim" />

            <span class="search_module__input_wrapper">
              <input name="email" id="js-email-input" class="form_input search_module__input" type="email" placeholder="email@address.com" tabindex="0" autofocus/>
            </span>
          </fieldset><!-- eo search_module -->

          <fieldset id="js-email-form-feedback" class="hidden">
            <p class="shelf__list--learn-more-definition">
              Thanks!  We’ll be in touch.
            </p>
          </fieldset>
        </form>

      </li>
    </ul>

  </div><!-- eo shelf__lining -->
</div><!-- eo shelf -->