<button class="guide-toggle hide js-track-event" data-ga_category="Guide" data-ga_action="guide toggle" data-ga_label='<%= shelby.models.user.get('nickname') %>'>
  <div class="icon"></div>
  <div class="copy">hide guide</div>
</button>