<section class="channel-info-section">
  <div class="channel-info-section-lining clearfix">
    <ul class="list">
      <% _(channels).each(function(channel, key) { %>
        <li class="channel-info-section-channel js-channel" data-channel="<%= key %>">
          <span class="title"><%= channel.title %></span>
          <span class="play-button"><i class="icon-player_play"></i></span>
          <span class="now-playing"><small> now playing</small></span>
        </li>
      <% }); %>
    </ul>
  </div>
</section>
