<div class="channel_info_area animate_module">
  <div class="js-up-channel change-channel">
    <i class="icon-arrow_up"></i>
  </div>
  <div class="js-current-channel current-channel">
    <%= currentChannel %>
  </div>
  <div class="js-down-channel change-channel">
    <i class="icon-arrow_down"></i>
  </div>
</div>