<% var currentVideo = currentFrame.get('video') %>
<% var previousVideo = previousFrame ? previousFrame.get('video') : null %>

<div class="dynamic_video_info animate_module">
  <div class="media_body persistent_video_info__current-frame">
    <div class="persistent_video_info__lining">
      <%= currentVideo.get('title') %>
    </div><!-- eo .persistent_video_info__foot -->
  </div><!-- eo .persistent_video_info__current-frame -->
</div><!-- eo .persistent_video_info -->
