<h2 class="video-title"><%= endingFrame.get('video').get('title') %></h2>
<%= SHELBYJST['thumbnail-module']({
	thumbnail: endingFrame.get('video').get('thumbnail_url'), 
	title: endingFrame.get('video').get('title') }) %>