<!-- chris -->
<div class="remote-container">
	<div class="remote-controls top" >
		<div class="remote-pane"></div>
		<div class="remote-pane" style="background-color:#f2385a;">
			<div class="up button"></div>		
		</div>
		<div class="remote-pane"></div>
	</div>
	<div class="remote-controls middle" >
		<div class="remote-pane" style="background-color:#4ad9d9">
			<div class="left button"></div>		
		</div>
		<div class="remote-pane" style="background-color:#313435;line-height:0;text-align:center;font-size:22;font-weight:">			
			<div class="enter button">Enter</div>			
		</div>
		<div class="remote-pane" style="background-color:#52B576;">
			<div class="right button"></div>		
		</div>
	</div>
	<div class="remote-controls bottom">
		<div class="remote-pane"></div>
		<div class="remote-pane" style="background-color:#f5a503;">
			<div class="down button"></div>
		</div>
		<div class="remote-pane"></div>
	</div>
</div>