<div class="dir-button up">
	<a href="#">UP</a>
</div>
<div class="dir-button down">
	<a href="#">DOWN</a>
</div>
<div class="dir-button left">
	<a href="#">LEFT</a>
</div>
<div class="dir-button right">
	<a href="#">RIGHT</a>
</div>
<div class="dir-button enter">
	<a href="#">ENTER</a>
</div>