<div id="video-search">
	<div id="search-form">
		<input type="search" name="query" id="query" value="" /><!-- 
			--><button class="search-form-submit">search &rarr;</button>
		<script>
			$(document).ready(function(){
				var truncate = function(text, cutoff, delimiter) {
					return (text.length > cutoff) ? text.slice(0, cutoff) + delimiter : text;
				};
				
				$('.search-form-submit').on('click', function(){
					var q = $('input#query').val();
					$.getJSON('http://api.shelby.tv/v1/video/search?provider=youtube&q='+q, function(r){
						if (r.status == 200){
							$("#search-result-list").empty();
							r = r.result;
							var _videos = r.videos;
							for (var i in _videos) {
								var vid = _videos[i];
								for (var key in vid) {
									vid[key] = encodeURIComponent(vid[key]);
								}
			          $("#search-result-list").append('<li class="video list_button" data-title="'+vid.title+'" data-description="'+vid.description+'" data-provider_name="'+vid.provider_name+'" data-thumbnail_url="'+vid.thumbnail_url+'" data-source_url="'+vid.source_url+'" data-embed_url="'+vid.embed_url+'" data-provider_id="'+vid.provider_id+'" data-source_url="'+vid.source_url+'" data-embed_url="'+vid.embed_url+'"><img src="'+decodeURIComponent(vid.thumbnail_url)+'"/>'+truncate(decodeURIComponent(vid.title),40,'...')+'</li>');          
							}
							$('li.video').on('click', function(e){
								var t = e.currentTarget.dataset;
								var v = {
									title: t.title,
									description: t.description,
									provider_name: t.provider_name,
									provider_id: t.provider_id,
									thumbnail_url: t.thumbnail_url,
									source_url: t.source_url,
									embed_url: t.embed_url
								};
								console.log("clicked vid: ", v);
								$.ajax({
						      url: "<%= @url %>",
						      type: "PUT",
						      data: {command: "play", data: v},
						      success: function(r){ console.log('clicked play: ', r); }
						    });

							});
							
						}
						else { alert("something went wrong searching for those videos. wowzer."); }
					});
				});				
			});
		</script>
	</div>
	<div id="search-results">
		<ul id="search-result-list" class="list_module"></ul>
	</div>
</div>

<div id="controls">
 <%= render :partial => "/remote_control/dpad" %>
</div>

<%= javascript_tag render :partial => "/remote_control/api_remote_comm", :locals => { :channel => @channel, :url => @url }, :formats => [:js] %>