<a class="shelf__link" href="http://shelby.tv/blog/hiring">
  <div class="shelf shelf--about clearfix">
    <div class="shelf__lining">
      <p class="shelf__block">
        Hi, we're Shelby. We're a passionate team of builders hell-bent on democratizing the future of video and building a media company of the future.
        <br/> Oh yeah, and we're hiring too. Click here to learn more about Shelby the company.
      </p>
    </div><!-- eo shelf__lining -->
  </div><!-- eo shelf -->
</a>