  <div class="shelf shelf--about clearfix">
    <div class="shelf__lining">
      <p class="shelf__block icon_primer icon-mark">
        Hi, we're Shelby. We're a passionate team of builders hell-bent on democratizing the future of video and building a media company of the future. Oh yeah, and we're hiring too.
      </p>
    </div><!-- eo shelf__lining -->
  </div><!-- eo shelf -->