  <div class="shelf shelf--about clearfix">
    <div class="shelf__lining">
      <p class="shelf__block icon_primer icon--mark">
        Hi, we're Shelby. We're a passionate team of builders hell-bent on democratizing the future of video and building a media company of the future. Oh yeah, and we're hiring too.
      </p>
      <p class="shelf__block shelf__block--cta">
        <a class="shelf__link js-track-event" data-ga_action="Click Learn More" href="http://shelby.tv/blog/hiring">
          Click here to learn more about Shelby the company.
        </a>
      </p>
    </div><!-- eo shelf__lining -->
  </div><!-- eo shelf -->