<section class="landing_shelf landing_shelf--banner">
  <div class="landing_shelf__lining">
    <h1 class="landing_shelf__h1 landing_shelf__h1--extra">
      If it's not Shelby, it's friggin' crap!
    </h1>

    <h2 class="landing_shelf__h2">
      If this is a subline, it's not friggin' crap!
    </h2>

    <form class="form_module js-search-form" action="/search">
      <div class="media_module">
        <div class="media_image media_image--rev">
          <input type="submit" class="button_primer button_default form_submit" value="Search" />
        </div><!-- eo media_image -->

        <div class="media_body">
          <input type="text" class="form_input" name="query" id="query" min="1" />
        </div><!-- media_body -->
      </div><!-- media_module -->
    </form>
  </div>
</section>