<section class="landing-shelf landing-banner">
	<div class="landing-shelf__lining landing-banner-lining">
		<h1 class="landing-shelf-header-extra landing-banner-header">
			Express yourself <strong>with video</strong>
		</h1>
		<img class="landing-banner-figure" src="/images/landing/screen.png" title="Shelby.tv Web App" alt="Screenshot of Shelby.tv Web App" />
	</div>
</section>