<section class="landing-shelf landing-cta clearfix">
  <div class="landing-shelf-lining half landing-cta-genius">
    <h2 class="landing-shelf-subheader extra landing-cta-header">
      <i class="button_icon_center icon_landing_genius cta-icon icon-genius"></i>
      Shelby Genius
    </h2>

    <p class="landing-shelf-block display">
      Shelby Genius brings you video from Youtube, Vimeo, <br/>and Dailymotion.
      More info and screenshots available…
    </p>

    <a class="appstore-button shelby-light-gray clearfix js-track-event" data-ga_action="Click App Store" href="http://itunes.apple.com/us/app/shelby-genius/id556665733" title="Shelby Genius App available on the App Store">
      <i class="button_icon_left icon_iphone iphone-icon">
        Available on the <span>App Store</span>
      </i>
    </a>
  </div>

  <div class="landing-shelf-lining half landing-cta-explore">
    <h2 class="landing-shelf-subheader extra landing-cta-header">
      <i class="button_icon_center icon_landing_explore cta-icon icon-explore"></i>
      Explore
    </h2>

    <p class="landing-shelf-block display">
      Explore video from Shelby and discover what<br />
      videos you've been missing out on. No login required!
    </p>

    <a href="#explore-shelby" class="landing-cta-button shelby-light-gray">
      Explore Shelby
    </a>
  </div>
</section>