<div class="shelf shelf--cta">
  <div class="shelf__lining">
    <h1 class="shelf__h1">
      <% if @landing_messaging == :discover_and_enjoy %>
        <%= Settings::Marketing.discover_and_enjoy %>
      <% elsif @landing_messaging == :powered_by_friends %>
        <%= Settings::Marketing.powered_by_friends %>
      <% end %>
    </h1>

    <p class="shelf__block">
      Imagine a new kind of TV with only one channel <br/>and it’s tuned just for you. Welcome to Shelby TV.
    </p>

    <p class="shelf__block">
      <a
        href="/signup"
        class="button_primer button_command button_command--wide button_command--large button_green shelf__button js-cta js-track-event"
        data-ga_action="Click Sign Up"
        data-ga_label="Main"
        >
        Sign Up
      </a>
    </p>
  </div>

  <img src="/images/landing/screenshot.jpg" class="shelf__img" alt="Shelby.tv in-app screenshot" />
</div><!-- eo shelf -->
