<div class="shelf shelf--cta">
  <div class="shelf__lining">
    <h1 class="shelf__h1">
      Watch videos you'll love.
    </h1>

    <p class="shelf__block">
      Imagine a new kind of TV with only one channel <br/>and it’s tuned just for you. Welcome to Shelby TV.
    </p>

    <p class="shelf__block">
      <a href="/invite" class="button_primer button_command button_command--wide button_command--large button_green shelf__button js-cta js-track-event" data-ga_action="Click Sign Up">
        Sign Up
      </a>
    </p>
  </div>

  <img src="/images/landing/screenshot.png" class="shelf__img" />
</div><!-- eo shelf -->