<% format_content_for_layout __FILE__ %>

<div class=" clearfix">
  <div class=" shelf__lining">
    <h1 class="shelf__h1 four-fifths">
      We are excited to announce that our team has joined Samsung Electronics.
    </h1>

    <p class="shelf__block four-fifths">
        We started this company four years ago to change the way we discover and enjoy video. We didn’t just write code though. We also built a brand that became synonymous with video discovery. We worked with world-class investors and mentors. We built a team of fantastic people - some of the best in the business - who loved working with each other day in, and day out.
      </p>

 
<p class="shelf__block four-fifths">
        In short, we did a lot, and we had a lot of fun doing it.
      </p>

 
<p class="shelf__block four-fifths">
        Since we began, the ecosystem has changed drastically, but one thing remains the same: consumers still demand an innovative solution to accessing their favorite content.
      </p>

 
<p class="shelf__block four-fifths">
        Our team is excited to develop new technology to meet these challenges as part of Samsung Electronics. Working with Samsung Electronics means we’ll have the resources to start fresh, building products that change the way we watch and discover our favorite content, now and long into the future.
      </p>

 
<p class="shelf__block four-fifths">
        We’re really excited and you should be, too.
      </p>

 
<p class="shelf__block four-fifths">
        Finally, a sincere thank you to you — our friends, fans, users, partners, mentors, and supporters. Without you, we wouldn’t be here. Every video you shared, every piece of feedback — positive or critical! — you sent, every minute spent with you has made this an experience we’ll cherish forever.
      </p>

 
<p class="shelf__block four-fifths" style="font-weight: bold">
        Lots of love,
<br />
        reece, dan, henry, chris, josh, and mike
      </p>

 
<p class="shelf__block four-fifths">
        For our users going forward…
        <br />
        Shelby will remain an independent entity and will retain its business, products and customers, but will begin winding down its operations.  We know you’ve spent a lot of time with Shelby, and have consequently built a library of favorite videos worth saving. So, we built <a href="https://shelby.tv/user_takeout">a handy tool to export all of your favorites/shares</a> from Shelby. Just be sure you are logged into Shelby, and then follow the simple instructions on this page and enjoy digging back into your archive! You have until July 1, but why not “<a href="https://www.youtube.com/watch?v=NflTOYuVJ0E">do it now!</a>”
    </p>

  </div>
</div>

<hr />
