<% format_content_for_layout __FILE__ %>

<div class="media_module clearfix">
  <div class="media_image shelf__lining one-half">
    <h1 class="shelf__h1 four-fifths">
      <%= raw Settings::Marketing.cta %>
    </h1>

    <p class="shelf__block">
      <%= raw Settings::Marketing.cta_body %>
    </p>

    <div class="shelf__block">
        <a href="http://shelby.tv/blog" class="js-track-event button_text" data-ga_action="Click Try on Web" data-ga_label="Call to Action shelf">
          <%= Settings::Marketing.cta_shutdown_announcment %>
        </a>
    </div>

    <div class="facepile">
      <iframe src="//www.facebook.com/plugins/facepile.php?app_id=115071338568035&amp;action&amp;max_rows=2&amp;size=medium&amp;show_count=true&amp;width=360&amp;colorscheme=light&amp;appId=115071338568035" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:360px;" allowTransparency="true"></iframe>
    </div>
  </div><!-- eo media_image -->

  <div class="media_body">
    <%= image_tag "1.png", :class => "shelf__img--iphone", :alt => "Shelby.tv ios screenshot" %>
  </div><!-- media_body -->
</div>
