<% if @social_signup_error or @access_error or @invite_error or @auth_failure or (flash[:error] == "401") %>
  <div class="shelf__wrapper shelf__wrapper--error clearfix">
    <div class="shelf shelf--error clearfix">
      <% if @access_error or @invite_error %>
        <p class="js-signin-error">
          Please Sign up or Log in
        </p>
      <% end %>

      <% if @auth_failure %>
        <p class="js-signin-error">
          There was a problem logging you in<%= if @auth_strategy then " with #{@auth_strategy}" end%>.
          <br/>Please try again.
        </p>
      <% end %>

      <% if (flash[:error] == "401") %>
        <p class="js-signin-error">
          Session expired, please log in again!
        </p>
      <% end %>

      <% if @social_signup_error  %>
        <p class="js-signin-error">
          The best Shelby.tv experience starts with signing up with an email address and password. <br/>
          Try starting again here.
        </p>
      <% end %>
    </div><!-- eo shelf -->
  </div><!-- eo shelf__wrapper -->
<% end %>
