<div class="shelf shelf--signup">
  <div class="shelf__lining">
    <h2 class="shelf__h1">
      We're glad you asked.
    </h2>

    <p class="shelf__block">
      Below, you'll find answers.<br />
      If you still have questions, please <a href="mailto:contact@shelby.tv" class="shelf__link-light">email us</a>.
    </p>

  </div><!-- eo shelf__lining -->
</div><!-- eo shelf -->



<div class="shelf shelf--faq clearfix">
  <div class="shelf__lining">
    <h3 class="shelf__h2">
      General FAQ
    </h3>
    <hr class="shelf__hr" />
    
    <ul class="shelf__list">
      <li>
        <h3 class="shelf__h3">What’s a .TV network?</h3>
        <ul class="shelf__list">
          <li>A collection of videos, organized into one or more individual channels called Rolls.</li>
          <li>An expression of your tastes, interests, opinions, whims</li>
          <li>An experience, designed from the ground up to get out of your way and let the content speak for itself</li>
          <li>A threat to traditional TV networks and their refusal to innovate</li>
        </ul>
      </li>

      <li>
        <h3 class="shelf__h3">Why would I want my own .TV network?</h3>
        <ul class="shelf__list">
          <li>Build the brand of your company</li>
          <li>Build your personal brand</li>
          <li>Organize your favorite videos as you come across them on the Internet</li>
          <li>Show your friends the best stuff</li>
          <li>Create something beautiful the world should be watching, instead of traditional TV</li>
          <li>Create something to put on at a party</li>
          <li>Show off on Google with http://YourName.tv</li>
        </ul>
      </li>

      <li>
        <h3 class="shelf__h3">How do I curate to my .tv network?</h3>
        <ul class="shelf__list">
          <li>With our Chrome plugin and bookmarklet, you can curate directly from any website.</li>
          <li>You can also curate anything in Shelby when you’re watching somebody else's Roll or your own Stream.</li>
        </ul>
      </li>

      <li>
        <h3 class="shelf__h3">What’s the Stream?</h3>
        <ul class="shelf__list">
          <li>Your stream is an incoming collection of video.  It’s the one place in Shelby that houses content from every Roll you follow.</li>
          <li>It plays video you care about straight away.  No need to spend time searching.</li>
        </ul>
      </li>

      <li>
        <h3 class="shelf__h3">What’s a Roll?</h3>
        <ul class="shelf__list">
          <li>It’s a themed collection of video (the “channel” within the .tv network)</li>
          <li>You can follow other Rolls on Shelby</li>
          <li>Your .TV network can be made up of multiple rolls to showcase different types of content</li>
        </ul>
      </li>

      <li>
        <h3 class="shelf__h3">What about Twitter and Facebook?</h3>
        <ul class="shelf__list">
          <li>The videos in your Stream come from Shelby Roll’s you follow and your Twitter or Facebook friends (if you’ve linked those accounts)</li>
          <li>You can also share to Twitter and Facebook when you roll a video</li>
        </ul>
      </li>

      <li>
        <h3 class="shelf__h3">What about iPad?</h3>
        <ul class="shelf__list">
          <li>We think TVs and YouTube have become way too complicated.  They stopped being enjoyable when they stopped focusing on you, the viewer.  We won’t stand for that.</li>
          <li>So we’re working on bringing Shelby to more devices, making sure you can relax and enjoy it at home.</li>
          <li><em>Stay tuned...</em></li>
        </ul>
      </li>

      <li>
        <h3 class="shelf__h3">Did you really just make that pun?</h3>
        <ul class="shelf__list">
          <li>Yes.  And we’re not apologizing.  We love it.</li>
        </ul>
      </li>
    </ul>
    
    
    <hr class="hr--spacer-double" />
    <h3 class="shelf__h2">
      I’m a Curator / Content Creator...
    </h3>
    <hr class="shelf__hr" />
    
    <ul class="shelf__list">
      <li>
        <h3 class="shelf__h3">How is Shelby better for my viewers?</h3>
        <ul class="shelf__list">
          <li>They get continuous, simple playback like television.  Not a pile of web pages.</li>
          <li>They focus on your content, without any distractions next to it.</li>
        </ul>
      </li>
      
      <li>
        <h3 class="shelf__h3">What is shown next to my Rolls / on my .TV network?</h3>
        <ul class="shelf__list">
          <li>More of your videos!  No more distracting, off-brand recommendations</li>
        </ul>
      </li>
      
      <li>
        <h3 class="shelf__h3">Will this get me more distribution?</h3>
        <ul class="shelf__list">
          <li>Internet culture loves to curate and share their creation...</li>
          <li>Your viewers can easily curate your content in their own way within Shelby and share that out to their Twitter and Facebook friends</li>
        </ul>
      </li>
      
      <li>
        <h3 class="shelf__h3">Can I add my .TV network on my own website?</h3>
        <ul class="shelf__list">
          <li>Absolutely!  Why else would we have planted this question?</li>
          <li>If you’re already embedding videos on your blog, our widget can automatically detect them and add a link to your .tv network from your blog.</li>
          <li>See an example: <a href="http://www.avc.com/a_vc/2013/02/video-of-the-week-the-kbs-ventures-interview.html" class="shelf__link">http://avc.com</a></li>
          <li>Some partners have also chosen to embed the full Shelby playback experience.</li>
          <li>Either way, <a href="mailto:contact+embed@shelby.tv" class="shelf__link">get in touch</a> and we’ll make it happen.</li>
        </ul>
      </li>
      
      <li>
        <h3 class="shelf__h3">Why not just use YouTube?</h3>
        <ul class="shelf__list">
          <li>You’re more than a YT channel, build your brand</li>
          <li>Stand out from the crowd and the noise</li>
          <li>Build a community uniquely yours</li>
          <li>Curate videos you didn’t create and upload</li>
          <li>Curate videos from more providers (like Vimeo, Hulu, DailyMotion, CollegeHumor and more)</li>
        </ul>
      </li>
      
      <li>
        <h3 class="shelf__h3">Do I have to cancel my YouTube channel?</h3>
        <ul class="shelf__list">
          <li>Nope!</li>
          <li>In fact, we can help you bring all that content into your own beautiful Shelby .TV network.</li>
          <li><a href="mailto:ingestyoutube@shelby.tv" class="shelf__link">Email us</a> if you’re interested.</li>
        </ul>
      </li>
      
      <li>
        <h3 class="shelf__h3">How do I setup http://MyDomain.tv?</h3>
        <ul class="shelf__list">
          <li>Shelby ❤ Custom Domains</li>
          <li>Since they’re still in beta, <a href="mailto:customdomain@shelby.tv" class="shelf__link">email us</a> to get it setup.</li>
        </ul>
      </li>
      
      <li>
        <h3 class="shelf__h3">Can I put my .tv network on an iPad?</h3>
        <ul class="shelf__list">
          <li>Our goal is to give you and your audience a refreshingly enjoyable experience on all devices</li>
          <li>We’re still working on bringing Shelby to more devices</li>
          <li>So <a href="mailto:contact+ipad@shelby.tv" class="shelf__link">get in touch</a> with your specific questions/desires</li>
        </ul>
      </li>
    </ul>
    
    <hr class="hr--spacer-double" />
    <h3 class="shelf__h2">
      How do I...
    </h3>
    <hr class="shelf__hr" />
    
    <ul class="shelf__list">
      <li>
        <h3 class="shelf__h3">Report an issue or a bug?</h3>
        <ul class="shelf__list">
          <li>email <a href="mailto:feedback+bugs@shelby.tv" class="shelf__link">bugs@shelby.tv</a></li>
        </ul>
      </li>

      <li>
        <h3 class="shelf__h3">Request a feature?</h3>
        <ul class="shelf__list">
          <li>email <a href="mailto:feedback+featurerequest@shelby.tv" class="shelf__link">featurerequest@shelby.tv</a></li>
        </ul>
      </li>
      
      <li>
        <h3 class="shelf__h3">Give the gift of Shelby to my friends?</h3>
        <ul class="shelf__list">
          <li>Sign in, then click “Invite” in the header of the app</li>
          <li>If you’re out of invites, email <a href="mailto:feedback+invites@shelby.tv" class="shelf__link">invites@shelby.tv</a></li>
        </ul>
      </li>
    </ul>
    
    <hr class="hr--spacer-double" />
    
  </div><!-- eo shelf__lining -->
</div><!-- eo shelf -->