<div class="shelf shelf--signup">
  <div class="shelf__lining">
    <h2 class="shelf__h1">
      We're glad you asked.
    </h2>

    <p class="shelf__block">
      Below, you'll find answers.<br />
      If you still have questions, please <a href="mailto:contact@shelby.tv">email us</a>.
    </p>

  </div><!-- eo shelf__lining -->
</div><!-- eo shelf -->



<div class="shelf shelf--community clearfix">
  <div class="shelf__lining">
    <h3 class="shelf__h2">
      General FAQ
    </h3>
    <hr class="shelf__hr" />
    
    <ul>
      <li>TODO</li>
    </ul>
    
    <h3 class="shelf__h2">
      I’m a Curator / Content Creator...
    </h3>
    <hr class="shelf__hr" />
    
    <ul>
      <li>TODO</li>
    </ul>
    
    <h3 class="shelf__h2">
      How do I...
    </h3>
    <hr class="shelf__hr" />
    
    <ul>
      <li>TODO</li>
    </ul>
    
    </ul>
  </div><!-- eo shelf__lining -->
</div><!-- eo shelf -->