<footer id="footer" class="shelby__foot clearfix js-toggle-footer">
  <a href="#footer" class="animate_module tab js-track-event" data-ga_action="Click Learn More" data-ga_label="Footer tab"><span class="icon  icon-arrow_up"></span> <span class="tab__link">Learn More</span></a>
  <nav>
    <div class="shelby__lining one-fifth clearfix">
      <h4 class="shelby__h4">
        About Us
      </h4>

      <ul class="list clearfix">
        <li class="list__item">
          <a
            href="/team"
            target="_blank"
            class="list__link js-track-event"
            data-ga_action="Click Team"
            title="About the Team"
            >
            Team
          </a>
        </li>

        <li class="list__item">
          <a
            href="http://shelby.tv/blog"
            target="_blank"
            class="list__link js-track-event"
            data-ga_action="Click Blog"
            title="News and Updates"
            >
            Blog
          </a>
        </li>

        <li class="list__item">
          <a
            href="http://press.shelby.tv/"
            target="_blank"
            class="list__link js-track-event"
            data-ga_action="Click Press"
            title="See what we're up to!"
            >
            Press
          </a>
        </li>

        <li class="list__item">
          <a
            href="http://shelby.tv/blog/hiring"
            target="_blank"
            class="list__link js-track-event"
            data-ga_action="Click Hiring
            Page" title="Want to work with us?"
            >
            We're hiring!
          </a>
        </li>

        <li class="list__item">
          <a
            href="http://nytm.org/made"
            target="_blank"
            class="list__link js-track-event"
            data-ga_action="Click Made
            in NYC" title="Proudly Made in New York City"
            >
            Made in NYC
          </a>
        </li>
      </ul>
    </div><!-- eo lining -->

  <% if @roll && ['513f4964b415cc143a00ec8b', '513f8019b415cc3b3900000d', '50f6d51cb415cc7ebd000007'].include?(@roll['id']) %>
    <div class="shelby__lining one-fifth clearfix">
      <h4 class="shelby__h4">
        Disclaimer
      </h4>

       <ul class="list">
         <li class="shelf__disclaimer-text">
          NCAA, Final Four, March Madness, NCAA Sweet 16 and Elite 8 are trademarks of the National Collegiate Athletic Association.
         </li>
       </ul>
    </div><!-- eo lining -->
  <% end %>

    <div class="shelby__lining one-fifth clearfix">
      <h4 class="shelby__h4">
        Help
      </h4>

      <ul class="list clearfix">
        <li class="list__item">
          <a
            href="http://shelby.tv/privacy.html"
            target="_blank"
            class="list__link js-track-event"
            data-ga_action="Click Privacy Policy"
            >
            Privacy Policy
          </a>
        </li>
        <li class="list__item">
          <a
            href="https://shelby.tv/tou.html"
            target="_blank"
            class="list__link js-track-event"
            data-ga_action="Click Terms of Use"
            >
            Terms of Use
          </a>
        </li>
        <li class="list__item">
          <a
            href="https://getsatisfaction.com/shelbytv"
            target="_blank"
            class="list__link js-track-event"
            data-ga_action="Click Terms of Service"
            >
            Contact Us
          </a>
        </li>
      </ul>
    </div><!-- eo lining -->

    <div class="shelby__lining one-fifth clearfix">
      <h4 class="shelby__h4">
        Social
      </h4>

      <ul class="list clearfix">
        <li class="list__item">
          <a
            href="http://facebook.com/shelbytv"
            target="_blank"
            class="list__link js-track-event"
            data-ga_action="Click Facebook"
            >
            Facebook
          </a>
        </li>
        <li class="list__item">
          <a
            href="https://twitter.com/shelby"
            target="_blank"
            class="list__link js-track-event"
            data-ga_action="Click Twitter"
            >
            Twitter
          </a>
        </li>
      </ul>
    </div><!-- eo lining -->
  </nav>
</footer>
