<section class="landing-shelf landing-shelf-genius">
  <div class="landing-shelf-lining">
    <h1 class="landing-shelf-header">
      <img src="/images/landing/geniuslogo.png" class="genius-logo" alt="Shelby Genius" />, where video finds you.
    </h1>

    <h2 class="landing-shelf-subheader">
      A fun way to discover videos with continuous playback from YouTube, Vimeo, Dailymotion.
    </h2>

    <% unless primary_shelf %>
      <h2>Powered by Shelby.tv</h2>
    <% end %>

    <a href="http://itunes.apple.com/us/app/shelby-genius/id556665733" class="appstore-button clearfix js-track-event" data-ga_action="Click App Store">
      <i class="button_icon_left icon_iphone iphone-icon">
        Available on the <span>App Store</span>
      </i>
    </a>

    <div class="landing-appstore-header clearfix">
      More information and screenshots<br />
      available on the App Store
    </div>

    <div class="landing-feature-header">
      Featured in:
    </div>
    <ul class="list_module landing-feature-list">
      <li class="list_item landing-feature-item"><a class="landing-feature-link landing-feature-techcrunch" href="http://techcrunch.com/2012/10/02/shelby-genius/" target="_blank" title="Video Discovery Startup Shelby.tv Is Back (Kinda), With A New Genius App That’s Like Pandora For Video">
        <img src="/images/landing/tclogo_bw.png" alt="Featured on TechCrunch" title="Featured on TechCrunch"/></a></li><!--
      --><li class="list_item landing-feature-item"><a class="landing-feature-link landing-feature-guardian" href="http://www.guardian.co.uk/technology/appsblog/2012/oct/05/best-iphone-ipad-apps-blue-note-radioplayer" target="_blank" title="Video Discovery Startup Shelby.tv Is Back (Kinda), With A New Genius App That’s Like Pandora For Video"><img src="/images/landing/guardian_logo.png" alt="Featured on The Guardian" title="Featured on The Guardian"/></a>
      </li>
    </ul>
  </div>
</section>
