<section class="landing-shelf landing-shelf-genius">
	<div class="landing-shelf-lining">
		<h1 class="landing-shelf-header">
			<img src="/images/landing/geniuslogo.png" class="genius-logo" alt="Shelby Genius" />, where video finds you.
		</h1>
		
		<h2 class="landing-shelf-subheader">
			A fun way to discover videos with continuous playback from YouTube, Vimeo, Dailymotion.
		</h2>
		
		<% unless primary_shelf %>
			<h2>Powered by Shelby.tv</h2>
		<% end %>
				
		<div class="landing-appstore-header">More info and screenshots...</div>
		<a href="http://itunes.apple.com/us/app/shelby-genius/id556665733" class="ir landing-appstore js-track-event" data-ga_action="Click App Store">
			Available on the App Store
    </a>

	</div>
</section>