<section class="landing-shelf landing-shelf-genius">
	<div class="landing-shelf-lining">
		<h1 class="landing-shelf-header">No YouTube? No Problem.</h1>
		
		<h2 class="landing-shelf-subheader">
			Shelby genius brings you video from
		</h2>
		
		<p class="landing-providers">
			<img src="/images/landing/providers.png">
		</p>
		
		<a href="/TODO" class="ir landing-appstore js-track-event" data-ga_category="Landing Page" data-ga_action="Shelf App Store">
			Available on the App Store
    </a>

	</div>
</section>