<section class="landing-shelf-genius-email-share landing-shelf--share landing-shelf">
	<div class="landing-shelf__lining clearfix">

		<%= render :partial => "/home/shelf/video_embed" %>
		
		<div class="landing-shelf__content">
			<h1>
				Your friend found this searching for "<%= URI.unescape(@roll['title'][8..-1]) %>"
			</h1>
			
			<hr />
			
			<h2 class="landing-shelf__h2">
				Shelby.tv is a simple new way to enjoy video.
				We're currently in a private beta, but we'll let you know when the wait is over.
			</h2>

			<%= render :partial => "/home/shelf/interest_email_form" %>
	
		</div>

	</div>
</section>