<div class="signup signup--cta" role="main">
  <div class="signup__head">
    <h1 class="signup__h1">
      Watch videos you'll love
    </h1>
  </div>

  <div class="signup__body">
    <p class="signup__block">
      Shelby TV is your hub for videos that matter<br />
      to you, your friends, and the world around you.
    </p>

    <a class="button_primer button_green button_command button_command--flexible signup__button--cta js-track-event" href="/signup" data-ga_action="Click Start Watching!">
      Get Started
    </a>
  </div><!-- eo signup__body -->
</div><!-- eo signup--cta -->

<div class="signup signup--romance clearfix" role="main">
  <div class="signup__body clearfix">
    <h2 class="signup__h2">
      Only the good stuff
    </h2>

    <p class="signup__block">
      Personalized stream of<br/>
      video your friends are loving.
    </p>
  </div><!-- eo signup__body -->

  <div class="signup__body clearfix">
    <h2 class="signup__h2">
      Share your favorites
    </h2>

    <p class="signup__block">
      Create your own Shelby TV<br/>
      channel to share with the world.
    </p>
  </div>

  <div class="signup__img_wrapper">
    <img src="/images/onboarding/landing.png" class="signup__img hidden" />
  </div>
</div><!-- eo signup--cta -->
