<form id="js-email-form" class="landing-form js-track-submit" data-ga_action="Submit interest email">
  <label for="js-email-input" class="landing-form-label">
    Email
  </label>
  <span class="landing-input-error hidden">Email must be valid!</span>

	<input name="email" type="email" id="js-email-input" class="landing-form-input" placeholder="email@address.com" /><!--

  --><input type="submit" value="Submit" id="js-email-submit" class="landing-form-submit" />
</form>

<div id="js-thankyou" class="gate-lining hidden">
  <h2 class="gate-head">
    Thanks for signing up!
  </h2>
</div>