<section class="onboarding__lining onboarding__lining--init-signup">
  <div class="onboarding__head">
    <h3 class="onboarding__h3">
      Step 1 of 2
    </h3>

    <h1 class="onboarding__h1">
      Shelby turns the web into your personal TV channel
    </h1>

    <h2 class="onboarding__h2">
      Connect with
    </h2>
  </div><!-- eo onboarding__head -->

  <div class="onboarding__body">

    <a href="#" class="button_primer button_standard button_facebook-blue onboarding__button--social one-quarter">
      <span class="icon icon-social_facebook"></span> Facebook
    </a>

    <a href="#" class="button_primer button_standard button_twitter-blue onboarding__button--social one-quarter">
      <span class="icon icon-social_twitter"></span> Twitter
    </a>

    <hr class="hr hr--double" />

    <p class="onboarding__block">
      or, sign up with <a href="#" class="onboarding__anchor js-signup-with-email">your email address.</a>
    </p>
  </div><!-- eo onboarding__body -->
</section><!-- eo onboarding__lining--init-signup -->
