<div class="shelf__wrapper--iphone">
  <div class="shelf shelf--iphone clearfix">
    <div class="animate_module iphone js-iphone">
      <div class="iphone__viewport js-iphone-viewport">
        <div class="slide animate_module">
          <img class="animate_module" src="/images/landing/_CONTENT/iphone-1a.jpg" />
          <img class="animate_module" src="/images/landing/_CONTENT/iphone-1b.jpg" />
        </div>

        <div class="slide animate_module">
          <img class="animate_module" src="/images/landing/_CONTENT/iphone-2a.jpg" />
          <img class="animate_module" src="/images/landing/_CONTENT/iphone-2b.jpg" />
        </div>
      </div>
    </div><!-- eo iphone -->
  </div><!-- eo shelf -->
</div><!-- eo shelf__wrapper -->