<div class="shelf__wrapper--iphone">
  <div class="shelf shelf--iphone clearfix">
    <div class="animate_module iphone js-iphone">
      <img class="animate_module" src="/images/landing/iphone-1.png" />
      <img class="animate_module" src="/images/landing/iphone-3.png" />
    </div>
  </div><!-- eo shelf -->
</div><!-- eo shelf__wrapper -->