<div class="shelf shelf--learn-more-teaser clearfix">
  <div class="shelf__lining">
    <h3 class="shelf__h2">
      Let us break it down for you
    </h3>
    
    <hr class="shelf__hr" />
    
    <a class="button_primer button_blue js-track-event" href="/learn_more" data-ga_action="Click Learn More">
      Learn More
    </a>
    
  </div><!-- eo shelf__lining -->
</div><!-- eo shelf -->