<div class="shelf__wrapper shelf__wrapper--login">
  <div class="shelf shelf--login">
    <div class="shelf__lining frame-body-wrapper one-third">
      <%= render :partial => 'objects/login_form' %>
    </div>
  </div>
</div>
