<nav class="slide_navigator">
  <ul class="list js-slide-navigator">
    <li class="list__item list__item--selected">
      <a href="#intro" class="slide_navigator__button js-scrollto">
        <span class="visuallyhidden">Intro</span>
      </a>
    </li>
    <li class="list__item">
      <a href="#stream" class="slide_navigator__button js-scrollto">
        <span class="visuallyhidden">Stream</span>
      </a>
    </li>
    <li class="list__item">
      <a href="#social" class="slide_navigator__button js-scrollto">
        <span class="visuallyhidden">Social</span>
      </a>
    </li>
    <li class="list__item">
      <a href="#press" class="slide_navigator__button js-scrollto">
        <span class="visuallyhidden">Press</span>
      </a>
    </li>
  </ul>
</nav>
