<div class="shelf shelf--network clearfix">
  <div class="shelf__lining">
    <h3 class="shelf__h2">
      Shelby supports content from great sources all over the web:
    </h3>

    <ul class="list shelf__list shelf__list--sources clearfix">
      <% (0..6).each do |i| %>
        <li class="shelf__item visuallyhidden">
          DailyMotion
        </li>
        <li class="shelf__item visuallyhidden">
          Blip
        </li>
        <li class="shelf__item visuallyhidden">
          YouTube
        </li>
        <li class="shelf__item visuallyhidden">
          Vimeo
        </li>
        <li class="shelf__item visuallyhidden">
          Hulu
        </li>
        <li class="shelf__item visuallyhidden">
          Twitter
        </li>
        <li class="shelf__item visuallyhidden">
          Facebook
        </li>
      <% end %>
    </ul>

    <h3 class="shelf__h2">
      We believe users should watch when/where they want to
    </h3>

    <img class="shelf__image" src="/images/landing/tv.png" />

  </div><!-- eo shelf__lining -->
</div><!-- eo shelf -->