<div class="shelf shelf--network clearfix">
  <div class="shelf__lining">
    <h3 class="beta">
      We love video from every corner of the web
    </h3>

    <hr class="shelf__hr" />

    <ul class="list shelf__list shelf__list--sources clearfix">
      <li class="shelf__item visuallyhidden">
        DailyMotion
      </li>

      <li class="shelf__item visuallyhidden">
        Blip
      </li>

      <li class="shelf__item visuallyhidden">
        YouTube
      </li>

      <li class="shelf__item visuallyhidden">
        Vimeo
      </li>

      <li class="shelf__item visuallyhidden">
        Hulu
      </li>

      <li class="shelf__item visuallyhidden">
        Twitter
      </li>

      <li class="shelf__item visuallyhidden">
        Facebook
      </li>
    </ul>

    <a class="button_primer button_blue button_wide shelf__button--cta js-track-event" href="/channels" data-ga_action="Click Start Watching!" data-ga_label="Bottom CTA">
      Start Watching!
    </a>

  </div><!-- eo shelf__lining -->
</div><!-- eo shelf -->
