<div class="shelf shelf--network clearfix">
  <div class="shelf__lining">
    <h3 class="shelf__h2">
      Shelby supports content from great sources all over the web:
    </h3>

    <hr class="shelf__hr" />

    <ul class="list shelf__list shelf__list--sources clearfix">
      <li class="shelf__item visuallyhidden">
        DailyMotion
      </li>

      <li class="shelf__item visuallyhidden">
        Blip
      </li>

      <li class="shelf__item visuallyhidden">
        YouTube
      </li>

      <li class="shelf__item visuallyhidden">
        Vimeo
      </li>

      <li class="shelf__item visuallyhidden">
        Hulu
      </li>

      <li class="shelf__item visuallyhidden">
        Twitter
      </li>

      <li class="shelf__item visuallyhidden">
        Facebook
      </li>
    </ul>
  </div><!-- eo shelf__lining -->
</div><!-- eo shelf -->