<div class="shelf shelf--network clearfix">
  <div class="shelf__lining">
    <h3 class="shelf__h2">
      Shelby supports content from great sources all over the web
    </h3>

    <ul class="list shelf__list clearfix">
      <% (0..6).each do |i| %>
        <li class="shelf__item">
          <div></div>
        </li>
      <% end %>
    </ul>

    <h3 class="shelf__h2">
      We believe users should watch when/where they want to
    </h3>



  </div><!-- eo shelf__lining -->
</div><!-- eo shelf -->