<ul class="list list--fit press_list four-fifths">
  <li class="list__item one-quarter">
    <a href="#">
        <span class="ir image_module shelf__img shelf__img--verge one-whole">The Verge</span>
      </a>
    </li><!--

  --><li class="list__item one-quarter">
    <a href="http://www.thevideoink.com/news/shelby-tv-takes-another-stab-at-video-discovery-with-new-ios-app/#.UoUsbZGs1Fz">
      <span class="ir image_module shelf__img shelf__img--video_ink one-whole">VideoInk</span>
    </a>
  </li><!--

  --><li class="list__item one-quarter">
      <a href="http://techcrunch.com/2013/11/14/like-the-legend-of-the-phoenix-all-ends-with-video-discovery/">
      <span class="ir image_module shelf__img shelf__img--tc one-whole">TechCrunch</span>
    </a>
  </li>
</ul>
