<ul class="list list--fit press_list">
  <li class="list__item one-sixth">
    <span class="ir image_module shelf__img shelf__img--mashable">Mashable</span>
  </li><!--

  --><li class="list__item one-sixth">
    <span class="ir image_module shelf__img shelf__img--tnw">TNW</span>
  </li><!--

  --><li class="list__item one-sixth">
    <span class="ir image_module shelf__img shelf__img--tc">TechCrunch</span>
  </li>
</ul>
