<div class="shelf__wrapper shelf__wrapper--press clearfix">
  <div class="shelf shelf--press clearfix">
    <div class="shelf__lining">
      <h3 class="shelf__h2">
        Featured by
      </h3>

      <ul class="list list--inline">
        <li class="list__item one-fifth">
          <span class="ir image_module shelf__img shelf__img--mashable">Mashable</span>
        </li>

        <li class="list__item one-fifth">
          <span class="ir image_module shelf__img shelf__img--tnw">TNW</span>
        </li>

        <li class="list__item one-fifth">
          <span class="ir image_module shelf__img shelf__img--tc">TechCrunch</span>
        </li>
      </ul>
    </div>
  </div><!-- eo shelf -->
</div>
