<ul class="list list--fit press_list one-whole">
  <li class="list__item one-quarter">
    <a target="_blank" href="http://techcrunch.com/2013/11/14/like-the-legend-of-the-phoenix-all-ends-with-video-discovery/">
      <span class="ir image_module shelf__img shelf__img--tc one-whole">TechCrunch</span>
    </a>
  </li><!--

  --><li class="list__item one-quarter">
      <a target="_blank" href="http://gigaom.com/2013/11/14/third-times-a-charme-shelby-tv-tries-a-comeback-with-new-social-video-iphone-app/">
        <span class="ir image_module shelf__img shelf__img--gigaom one-whole">Gigaom</span>
      </a>
    </li><!--

  --><li class="list__item one-quarter">
    <a target="_blank" href="http://www.thevideoink.com/news/shelby-tv-takes-another-stab-at-video-discovery-with-new-ios-app/#.UoUsbZGs1Fz">
      <span class="ir image_module shelf__img shelf__img--video_ink one-whole">VideoInk</span>
    </a>
  </li><!--

</ul>
