<ul class="list list--fit press_list">
  <li class="list__item one-quarter">
    <span class="ir image_module shelf__img shelf__img--mashable one-whole">Mashable</span>
  </li><!--

  --><li class="list__item one-quarter">
    <span class="ir image_module shelf__img shelf__img--tnw one-whole">TNW</span>
  </li><!--

  --><li class="list__item one-quarter">
    <span class="ir image_module shelf__img shelf__img--tc one-whole">TechCrunch</span>
  </li>
</ul>
