<ul class="list list--fit press_list two-thirds">
  <li class="list__item one-quarter">
    <span class="ir image_module shelf__img shelf__img--verge one-whole">The Verge</span>
  </li><!--

  --><li class="list__item one-quarter">
    <span class="ir image_module shelf__img shelf__img--video_ink one-whole">VideoInk</span>
  </li><!--

  --><li class="list__item one-quarter">
    <span class="ir image_module shelf__img shelf__img--tc one-whole">TechCrunch</span>
  </li>
</ul>
