<section class="landing-shelf landing-shelf--private">
	<div class="landing-shelf__lining">
		<h1 class="landing-shelf__h1">Shelby.tv</h1>
	
		<h2 class="landing-shelf__h2">
			Shelby.tv is a simple new way to enjoy video.
			We're currently in a private beta, but we'll let you know when the wait is over.
		</h2>
	
		<%= render :partial => "/home/shelf/interest_email_form" %>

	</div>

	<div class="browser-image">
	</div>
</section>