<div class="shelf shelf--secondary-cta">
  <div class="shelf__lining">
    <h2 class="shelf__h2">
      Make Shelby.tv yours.
      <a
        href="#"
        class="button_primer button_command button_command--flexible button_command--large button_green shelf__button--cta js-track-event"
        data-ga_action="Click Sign Up"
        data-ga_action="Bottom"
        >
        Sign Up
      </a>
    </h2>
  </div>
</div><!-- eo shelf -->
