<div class="shelf shelf--secondary-cta">
  <div class="shelf__lining">
    <h2 class="shelf__h2">
      Make Shelby.tv yours. <button class="button_primer button_command button_command--flexible button_command--large button_green">Sign Up</button>
    </h2>
  </div>
</div><!-- eo shelf -->