<section class="landing-shelf flat landing-signmeup">
	<div class="landing-shelf-lining">
    <form class="form_module_horz landing-signmeup-form">
      <label for="landing-signmeup-input" class="form_label">
        I want my .TV
      </label>
      <span id="landing-signmeup-input-wrapper" class="form_input-wrapper" tabindex="1">
        <input id="landing-signmeup-input" class="form_input" name="landing-signmeup-input" type="text" placeholder="username" />.shelby.tv
      </span>
      <input class="form_submit shelby-green" type="submit" value="Sign me up!" />
    </form>
	</div>
</section>