<div class="shelf shelf--signup">
  <div class="shelf__lining">
    <h2 class="shelf__h1">
      Create your own .TV network
    </h2>

    <p class="shelf__block">
      In the past, a few people at big TV networks programmed the TV that millions watch.  <br/>
      In the future, everyone gets their own channel. Start curating yours now.
    </p>

    <form id="js-email-form" class="form_module shelf__form js-search-form" data-ga_action="Submit interest email">
      <div class="media_module">
        <div class="media_image media_image--rev">
          <input type="submit" class="button_primer button_default form_submit" value="Sign Up" />
        </div><!-- eo media_image -->

        <div class="media_body">
          <input name="email" id="js-email-input" class="form_input" type="email" placeholder="email@address.com" tabindex="0" />
        </div><!-- media_body -->
      </div><!-- media_module -->
    </form>
  </div><!-- eo shelf__lining -->
</div><!-- eo shelf -->