<section class="landing-shelf flat landing-signmeup">
	<div class="landing-shelf__lining">
    <form id="js-email-form" class="form_module_horz landing-signmeup-form js-track-submit" data-ga_action="Submit interest email">
      <label for="js-email-input" class="form_label">
        I want my .TV
      </label>

      <input name="email" id="js-email-input" class="form_input" type="email" placeholder="email@address.com" autofocus />

      <input id="js-email-submit" class="button_primer button_blue landing-button-large landing-signmeup-submit" type="submit" value="Request an invite!" />
    </form>
	</div>
</section>