<section class="landing-shelf flat landing-signmeup">
	<div class="landing-shelf__lining">
    <form class="form_module_horz landing-signmeup-form">
      <label for="landing-signmeup-input" class="form_label">
        I want my .TV
      </label>

      <input id="landing-signmeup-input" class="form_input" type="email" placeholder="email@address.com" autofocus />

      <input class="button_primer button_blue landing-button-large landing-signmeup-submit" type="submit" value="Request an invite!" />
    </form>
	</div>
</section>