<div class="shelf shelf--signup">
  <div class="shelf__lining">
    <h2 class="shelf__h1">
      Create your own .TV network
    </h2>

    <p class="shelf__block">
      In the past, a few people at big TV networks programmed the TV that millions watch.  <br/>
      In the future, everyone gets their own channel. Start curating yours now.
    </p>

    <form id="js-email-form" class="form_module shelf__form js-track-submit" data-ga_action="Submit interest email">
      <fieldset class="search_module">
        <input type="submit" class="button_primer button_default search_module__submit" value="Sign Up" />

        <span class="search_module__input_wrapper">
          <input name="email" id="js-email-input" class="form_input search_module__input" type="email" placeholder="email@address.com" tabindex="0" autofocus/>
        </span>
      </fieldset><!-- eo search_module -->
    </form>
  </div><!-- eo shelf__lining -->
</div><!-- eo shelf -->