<a class="shelf__link js-track-event" href="http://shelby.tv" title="Learn more about Shelby.tv"
                    data-ga_category="SEO Video"
                    data-ga_action="Click on Slogan">
  <div class="shelf shelf--slogan">
    <div class="shelf__lining clearfix">
      <h2 class="shelf__h2">
        <% if @seo_messaging == :videos_youll_love %>
          <%= Settings::Marketing.videos_youll_love %>
        <% elsif @seo_messaging == :discover_and_enjoy %>
          <%= Settings::Marketing.discover_and_enjoy %>
        <% elsif @seo_messaging == :just_for_you %>
          <%= Settings::Marketing.just_for_you %>
        <% elsif @seo_messaging == :no_search_required %>
          <%= Settings::Marketing.no_search_required %>
        <% end %>
      </h2>
    </div>
  </div><!-- eo shelf -->
</a>
