<div class="shelf shelf--slogan">
  <div class="shelf__lining">
    <h2 class="shelf__h2">
      Make <a href="http://shelby.tv" class="js-track-event" data-ga_action="Click Home Page">Shelby.tv</a> yours.
    </h2>
  </div>
</div><!-- eo shelf -->