<a class="shelf__link" href="http://shelby.tv" title="Learn more about Shelby.tv">
  <div class="shelf shelf--slogan">
    <div class="shelf__lining clearfix">
      <h2 class="shelf__h2">
        Your personal channel of video, powered by friends.
      </h2>
    </div>
  </div><!-- eo shelf -->
</a>