<div class="shelf shelf--social clearfix">
  <div class="media_module media_module--bare clearfix">
    <div class="media_image--rev">
      <img src="/images/landing/social-cards.png" class="shelf__img" alt="Shelby gets better when you connect your twitter, tumblr, or facebook accounts." />
    </div>

    <div class="media_body shelf__lining">
      <h2 class="shelf__h1">
        Powered by friends.
      </h2>

      <p class="shelf__block">
        You know that feeling of laughing with friends about that video? Shelby TV makes sure you’ll always know about awesome videos important in your world.
      </p>
    </div>
  </div>
</div><!-- eo shelf -->