<div class="shelf shelf--social clearfix shelf--facebook-logged-out">
  <div class="force_graph__wrapper js-force-graph">
    <!-- filled in by force-graph js -->
  </div>

  <div class="shelf__lining">
    <h2 class="shelf__h1">
      Powered by friends.
    </h2>
    <p class="shelf__block">
      You know that feeling of laughing with friends about that video? Shelby TV makes sure you’ll always know about awesome videos important in your world.
    </p>
    
    <div class="facepile">
      <iframe src="//www.facebook.com/plugins/facepile.php?app_id=115071338568035&amp;action&amp;max_rows=2&amp;size=medium&amp;show_count=true&amp;width=360&amp;colorscheme=light&amp;appId=115071338568035" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:360px;" allowTransparency="true"></iframe>
    </div>
  </div>
</div><!-- eo shelf -->
