<div class="shelf__wrapper shelf__wrapper--social clearfix">
  <div class="shelf shelf--social clearfix shelf--facebook-logged-out js-social">
    <div class="media_module media_module--bare clearfix">

      <div class="shelf__lining two-thirds">
        <h2 class="shelf__h1">
          <%= raw Settings::Marketing.social %>
        </h2>

        <p class="shelf__block">
          <%= raw Settings::Marketing.social_body %><a href="#">Learn More</a>
        </p>

        <p class="shelf__block">
          <button class="button_primer button_command button_command--flexible button_green">
            <%= raw Settings::Marketing.social_cta %>
          </button>
        </p>
      </div>

      <div class="">
        <img src="/images/landing/iphone-3.png" class="shelf__img--iphone cloaked" alt="Shelby gets better when you connect your twitter, tumblr, or facebook accounts." />
      </div>
    </div>
  </div><!-- eo shelf -->
</div>
