<div class="shelf shelf--start-watching">
  <div class="shelf__lining">
    <h2 class="shelf__h1">
      The TV network for the web
    </h2>

    <p class="shelf__block">
      Shelby lets you create, collaborate, and consume #channels of amazing web video.<br />
      Join our community to help build a new kind of TV network.
    </p>

    <a class="button_primer button_blue button_wide shelf__button--cta js-track-event" href="/channels" data-ga_action="Click Start Watching!">
      Start Watching!
    </a>
  </div><!-- eo shelf__lining -->
</div><!-- eo shelf -->