<div class="shelf__wrapper shelf__wrapper--stream clearfix">
  <div class="shelf shelf--stream clearfix">
    <div class="media_module media_module--bare clearfix">
      <div class="media_image shelf__lining">
        <h2 class="shelf__h1">
          <%= Settings::Marketing.stream %>
        </h2>

        <p class="shelf__block">
          <%= Settings::Marketing.stream_body %>
        </p>
      </div>

      <div class="media_body shelf__img--stream js-stream" role="img">
        <img src="/images/landing/iphone-1.png" class="shelf__img--iphone cloaked" alt="" title="" />
      </div>
    </div>
  </div><!-- eo shelf -->
</div>