<div class="shelf shelf--stream clearfix">
  <div class="media_module media_module--bare clearfix">
    <div class="media_image">
      <img src="/images/landing/stream.png" class="shelf__img--stream" />
    </div>

    <div class="media_body shelf__lining">
      <h2 class="shelf__h1">
        Your perfect video stream.
      </h2>

      <p class="shelf__block">
        Shelby TV takes videos from across the web <br/>and organizes them based on importance to you.
      </p>

      <img src="/images/landing/sources.png" class="shelf__img--sources" />

      <p class="shelf__block">
       Our recommendations get better the more you watch.
      </p>
    </div>
  </div>
</div><!-- eo shelf -->