<div class="shelf__wrapper shelf__wrapper--stream clearfix">
  <div class="shelf shelf--stream clearfix">
    <div class="media_module media_module--bare clearfix">
      <div class="media_image shelf__lining two-thirds">
        <h2 class="shelf__h1 js-target">
          <%= raw Settings::Marketing.stream %>
        </h2>

        <p class="shelf__block">
          <%= raw Settings::Marketing.stream_body %>
        </p>

        <ul class="list list--inline shelf__list">
          <li class="list__item">
            <img src="/images/landing/youtube.jpg" />
          </li>

          <li class="list__item">
            <img src="/images/landing/vimeo.jpg" />
          </li>

          <li class="list__item">
            <img src="/images/landing/hulu.jpg" />
          </li>

          <li class="list__item">
            <img src="/images/landing/blip.jpg" />
          </li>

          <li class="list__item">
            <img src="/images/landing/facebook.jpg" />
          </li>

          <li class="list__item">
            <img src="/images/landing/twitter.jpg" />
          </li>
        </ul>
      </div>

      <div class="media_body shelf__img--stream js-stream" role="img">
        <img src="/images/landing/iphone-1.png" class="shelf__img--iphone cloaked" alt="" title="" />
      </div>
    </div>
  </div><!-- eo shelf -->
</div>