<div class="shelf shelf--stream clearfix">
  <div class="media_module media_module--bare clearfix">
    <div class="media_image media_image--rev shelf__lining">
      <h2 class="shelf__h1">
        Your perfect video stream.
      </h2>

      <p class="shelf__block">
        Shelby TV takes videos from across the web <br/>and organizes them based on importance to you. <br/>Our recommendations get better the more you watch.
      </p>

      <img src="/images/landing/sources.png" class="shelf__img--sources" alt="Screenshot of the Stream, in app" />
    </div>

    <div class="media_body shelf__img--stream js-stream" role="img">
      <img src="/images/landing/stream.jpg" class="shelf__img visuallyhidden" alt="Screenshot of the in-app video stream" />
    </div>
  </div>
</div><!-- eo shelf -->