<section class="landing-shelf landing-shelf-video-graph-blog">
	<div class="landing-shelf-lining">
		<h1 class="landing-shelf-header">
			Shelby's Video Graph
		</h1>
		
		<h2 class="landing-shelf-subheader">
			Graphs power some of our most interesting services.  From Facebook's social graph and LinkedIn's business network graph, to Pandora's music graph, they are all around us.
		</h2>
		
		<h2 class="landing-shelf-subheader">
			Let's take a look at the young and rapidly growing <a href="http://shelby.tv/blog">Video Graph behind Shelby</a>.
		</h2>

	</div>
</section>