<div id="fb-root"></div>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '305135322927840', // App ID
      channelUrl : '//WWW.YOUR_DOMAIN.COM/channel.html', // Channel File
      status     : true, // check login status
      cookie     : true, // enable cookies to allow the server to access the session
      xfbml      : true  // parse XFBML
    });

    // Additional initialization code here
		var frame = shelby.models.guide.get("activeFrameModel");
		$('#fb-comments-holder').html('<div class="fb-comments" data-href="'+shelby.config.appUrl+'/roll/'+frame.get('roll').id+'/frame/'+frame.id+'" data-num-posts="2"></div>');
    FB.XFBML.parse($('#fb-comments-holder')[0]);

		/*
		// Event subscriptions
		FB.Event.subscribe('comment.create',
			function(response) {
				window.comment_response = response;
			}
		);
		
		FB.Event.subscribe('edge.create',
		    function(response) {
					window.like_response = response;
		    }
		);
		*/
  };

  // Load the SDK Asynchronously
  (function(d){
     var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement('script'); js.id = id; js.async = true;
     js.src = "//connect.facebook.net/en_US/all.js";
     ref.parentNode.insertBefore(js, ref);
   }(document));
</script>