<div id="fb-root"></div>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '305135322927840', // App ID
      channelUrl : '//WWW.YOUR_DOMAIN.COM/channel.html', // Channel File
      status     : true, // check login status
      cookie     : true, // enable cookies to allow the server to access the session
      xfbml      : true  // parse XFBML
    });

		if (typeof shelby !== "undefined" && shelby.guide) {
			var frame = shelby.models.guide.get("activeFrameModel");
			$('#fb-comments-holder').html('<div class="fb-comments" data-href="'+shelby.config.appUrl+'/roll/'+frame.get('roll').id+'/frame/'+frame.id+'" data-num-posts="2"></div>');			
		}
		FB.XFBML.parse($('#fb-comments-holder')[0]);
    FB.XFBML.parse($('.roll')[0]);

		// do things if logged in or not
		FB.getLoginStatus(function(response) {  
		  if (response.status == "connected"){
		    // logged in and authorized!
		    $('body').addClass('connected');
				FB.api('/me?fields=id,name,likes.fields(name)', function(r){
					for (var L in r.likes.data) {
						if (L <= 10){
							$('ul#searches-from-likes').append('<li><a href="#">'+r.likes.data[L]['name']+'</a></li>');
						}
					}
				});
				FB.api('/me', function(r){
					$('.login-area .landing-shelf-header').text("Hi "+r.first_name+"! See what video Shelby Genius finds from your likes and interests:");
				});
		  }
		  else {
		    // logged in but not authorized
		    $('body').addClass('not_authorized');
				$('.login-area .landing-shelf-header').text("Login to personalize your video discovery and to share videos with your friends");
		  }
		});
		
		/*
		// Event subscriptions
		FB.Event.subscribe('comment.create',
			function(response) {
				window.comment_response = response;
			}
		);
		*/
  };

  // Load the SDK Asynchronously
  (function(d){
     var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement('script'); js.id = id; js.async = true;
     js.src = "//connect.facebook.net/en_US/all.js";
     ref.parentNode.insertBefore(js, ref);
   }(document));
</script>