<div id="fb-root"></div>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '305135322927840', // App ID
      channelUrl : '//WWW.YOUR_DOMAIN.COM/channel.html', // Channel File
      status     : true, // check login status
      cookie     : true, // enable cookies to allow the server to access the session
      xfbml      : true  // parse XFBML
    });

		if (typeof shelby !== "undefined") {
			var frame = shelby.models.guide.get("activeFrameModel");
			$('#fb-comments-holder').html('<div class="fb-comments" data-href="'+shelby.config.appUrl+'/roll/'+frame.get('roll').id+'/frame/'+frame.id+'" data-num-posts="2"></div>');			
		}
		FB.XFBML.parse($('#fb-comments-holder')[0]);
		
		/*
		// if logged in 
		FB.api('/me?fields=id,name,likes.fields(name)', function(r){
			console.log(r);
			for (var L in r.likes.data) { 
				console.log(r.likes.data[L]['name']);
			}
		});

		// Event subscriptions
		FB.Event.subscribe('auth.authResponseChange', function(response) {
			window.resp = response;
			$('body').removeClass(''); 	// any class like genius-fb-*
			$('body').addClass('');			// genius-fb-{new-auth-status}
		});

		FB.Event.subscribe('comment.create',
			function(response) {
				window.comment_response = response;
			}
		);
		*/
  };

  // Load the SDK Asynchronously
  (function(d){
     var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement('script'); js.id = id; js.async = true;
     js.src = "//connect.facebook.net/en_US/all.js";
     ref.parentNode.insertBefore(js, ref);
   }(document));
</script>