<section class="landing-shelf landing-shelf-private login-area">
	<div class="landing-shelf-lining">
		<h1 class="landing-shelf-header">Login to personalize your video discovery and to share videos with your friends</h1>

		<h2 class="landing-shelf-subheader">
			<div class="fb-login-button" data-show-faces="true" data-width="400" data-max-rows="2" data-scope="user_groups,user_likes,user_interests,friends_likes"></div>
		</h2>

	</div>
</section>