<section class="landing-shelf landing-shelf-private previous-search-area">
	<div class="landing-shelf-lining">
		<h1 class="landing-shelf-header">Previous Genius Results:</h1>

		<h2 class="landing-shelf-subheader">
			<ul id="search-history-list"></ul>
			<ul id="recommended-searches">
				<li><a href="http://fb.shelby.tv/roll/">Gopro</a></li>
				<li><a href="http://fb.shelby.tv/roll/">Muppets</a></li>
				<li><a href="http://fb.shelby.tv/roll/">Oprah</a></li>
				<li><a href="http://fb.shelby.tv/roll/">Richard Feynman</a></li>
				<li><a href="http://fb.shelby.tv/roll/">The Greatest Speech Ever Made</a></li>
				<li><a href="http://fb.shelby.tv/roll/">Base jumping</a></li>
			</ul>
		</h2>

	</div>
</section>
