<div class="signup signup--social" role="main">
  <div class="signup__head">
    <h2 class="signup__h2">
      Step 2 of 3: Social
    </h2>

    <h1 class="signup__h1">
      Shelby TV is better with friends
    </h1>
  </div>

  <div class="signup__body">
    <%= form_tag do %>
      <fieldset class="form_fieldset">
        <legend class="form__legend">
          Connect social networks and your stream <br />
          will be updated with videos shared by friends.
        </legend>

        <fieldset class="form_fieldset">
          <%= content_tag :button, :type => 'submit', :name => 'commit', :value => 'facebook', :class => 'button_primer button_command button_command--share button_facebook-blue one-fifth' do %>
            <span class="icon icon-facebook"></span> <span class="button_label">Facebook</span>
          <% end %>

          <%= content_tag :button, :type => 'submit', :name => 'commit', :value => 'twitter', :class => 'button_primer button_command button_command--share button_twitter-blue one-fifth' do %>
            <span class="icon icon-twitter"></span> <span class="button_label">Twitter</span>
          <% end %>
        </fieldset>
      </fieldset>

      <fieldset class="form_fieldset">
        <%= submit_tag("Next",:class => 'button_primer button_command button_command--wide button_green') %>
      </fieldset>
    <% end %>

  </div>
</div>





