//------------------------------------------------------------------------------
//  Button Primer
//------------------------------------------------------------------------------
/*
    TERMS:

1   inversion-value

    a breakpoint, it distinguishes between
    light-colored buttons with dark text and dark-colored buttons with light text
    refer to _color-table.scss for understanding on determining the actual value


2   .button_primer

    base for any styled button can be
    <a class="button_primer">my button</a>
    <button class="button_primer">my button</button>


3   .button_active
4   .button_enabled

    use the active/enabled button when you want a "toggle-able" effect.


5   .visuallydisabled

    when you want to display a button that looks usable, but doesn't have any interactivity whatsoever


6   .disabled, [disabled]

    when a button is not usable, and needs to look disabled you have two options
      <button disabled class="button_primer button_blue">My Button</button>
      <button class="button_primer button_blue disabled">My Button</button>

    NOTE: using the attribute on the element, and not the classname means the browser denies activity on the button
    if you use .disabled instead, make sure you disable the interactivity manually with javascript


7   .faux_button, a.button_primer

    any <a> with the class of "button_primer" will style properly.
    any element (span, strong, etc. that you might use) will need <el class="button_primer button_blue faux_button">My Button</el>

    * use of .faux_button should be extremely rare

8  .button_flat

    this is a weird thing. the only use-case right now is in the preferences pane so it's probably going to be a short-lived style


*/

@mixin button($name,$base,$inversion-value : 62) {
  &,
  &.button_enabled:hover,
  &.visuallydisabled:hover {
    background-color: $base;

    // @include gradient-primer($base, 3%, bottom);
  }

  border: 1px solid darken($base, if(lightness($base) < $inversion-value, 6.5%, 20%));
  color: if(lightness($base) < $inversion-value, $ui-white, $ui-soft-black);

  @if $base == darken($ui-green,5%) { //darkened; see _color-table
    text-shadow: 0px 0px 1px $ui-black;
  }
  @if $base == $twitter-blue {
    text-shadow: 0px 0px 1px $ui-black;
  }

  &:hover {
    background: lighten($base, 10.25%);
  }

  &.button_active,
  &.button_enabled:active,
  &:active {
    background: darken($base, 5.5%);
  }

  &.button_enabled {
    &,
    &:hover {
      color: darken($base, 28%);
    }
  }

  &[disabled],
  &.disabled {
    &,
    &:hover {
      $_disabled-color: #aaaaaa;

      background: $_disabled-color;
      border: 1px solid $_disabled-color;
      color: darken($_disabled-color, 13.5%);
    }
  }

  &:hover,
  &:visited {
    color: if(lightness($base) < $inversion-value, $ui-white, $ui-soft-black);
  }
}

.button_primer {
  @include roundies(button);

  background-image: -webkit-linear-gradient(bottom, rgba(1,1,1,.05), rgba(0,0,0,0));
  background-image: -moz-linear-gradient(bottom, rgba(1,1,1,.05), rgba(0,0,0,0));
  background-image: -o-linear-gradient(bottom, rgba(1,1,1,.05), rgba(0,0,0,0));
  background-image: -ms-linear-gradient(bottom, rgba(1,1,1,.05), rgba(0,0,0,0));
  background-image: linear-gradient(to top, rgba(1,1,1,.05), rgba(0,0,0,0));
  font-family: $font-family;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  position: relative;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-align: center;

  &:hover {
    cursor: pointer;
  }

  &[disabled],
  &.visuallydisabled,
  &.disabled {
    cursor: default;
  }

  &:focus {
    border: 1px solid rgba(0,0,0,1);
    outline: none;
  }
}

////////////////////////////////////////////////////////////////////////////
//  faux_button should be applied to
//  elements that will be styled by .button_primer
//  but are not <button> elements, i.e. <a> elements
////////////////////////////////////////////////////////////////////////////
a.button_primer,
.faux_button {
    display: inline-block;

    &:active,
    &:hover,
    &:link,
    &:visited {
      text-decoration: none;
    }
}

////////////////////////////////////////////////////////////////////////////
//  a flat button
//  i.e. bookmarklet button in /preferences
////////////////////////////////////////////////////////////////////////////
.button_flat {
  @include roundies(input);

  background: transparent;
  border: 1px solid $inset;
  font-family: $font-family;
  padding: 1em;
  text-align: left;
  width: 100%;

  .tools-icon {
    display: block;
  }

  &:hover {
    background-color: lighten($base,3%);
    border-color: lighten($inset,2%)
  }
  &:active {
    background-color: darken($base, 10%);
    border-color: darken($inset,15%);
  }
}

/////////////////////////////////////////////////////////////////////////////
//  button invisible
//  sometimes you need an invisible button.
/////////////////////////////////////////////////////////////////////////////
.button_invisible {
  border: none;
  background: transparent;
  font-size: inherit;
}