@mixin button-sizing($use: generic) {
    @if $use == frame-command {
    padding-bottom: 0.8em;
    padding-right: 1em;
    padding-top: 0.8em;
    padding-left: 1em;
  } @elseif $use == explore-rolls {
    padding-top: .8em;
    padding-bottom: .75em;
    //------------------------------------------------------
    //  follow/unfollow need to be the same size.
    //  setting the WIDTH normalizes them,
    //  rather than having the width delegated by the padding
    //------------------------------------------------------
    width: 100px;
  } @elseif $use == wide {
    padding-top: .8em;
    padding-right: 3em;
    padding-bottom: .75em;
    padding-left: 3em;
  } @elseif $use == guide-close {
    padding: .6em;
  } @elseif $use == social-login {
    padding-top:.25em;
    padding-bottom: .2em;
  } @elseif $use == generic {//generic
    padding-top: .8em;
    padding-right: 1em;
    padding-bottom: .75em;
    padding-left: 1em;
  }
}

.button_standard {
    @include button-sizing;
}

.button_command {
    @include button-sizing(frame-command);
}
    //alphabetical
    .button_command--email {}
    .button_command--embed {}
    .button_command--facebook {}
    .button_command--like {}
    .button_command--roll {}
    .button_command--share {}
    .button_command--shortlink {}
    .button_command--tumblr {}
    .button_command--twitter {}

.button_explore {
    @include button-sizing(explore-rolls);
}

.button_wide {
    @include button-sizing(wide);
}

.button_icon-only {
    @include button-sizing(guide-close);
}

.button_social-login {
    @include button-sizing(social-login);
}