//------------------------------------------------------------------------------
//  Button Primer
//------------------------------------------------------------------------------
@mixin button($name,$base,$inversion-value : 62) {
  &,
  &.button_enabled:hover,
  &.visuallydisabled:hover {
    @include gradient-primer($base, 3%, bottom);
  }

  border: 1px solid darken($base, if(lightness($base) < $inversion-value, 6.5%, 20%));
  color: if(lightness($base) < $inversion-value, $ui-white, $ui-soft-black);
  font-weight: bold;

  &:hover {
    background: lighten($base, 10.25%);
  }

  &.button_active,
  &.button_enabled:active,
  &:active {
    background: darken($base, 5.5%);
  }

  &.button_enabled {
    &,
    &:hover {
      color: darken($base, 28%);
    }
  }

  &[disabled],
  &.disabled {
    &,
    &:hover {
      $_disabled-color: #aaaaaa;

      background: $_disabled-color;
      border: 1px solid $_disabled-color;
      color: darken($_disabled-color, 13.5%);
    }
  }

  &:hover,
  &:visited {
    color: if(lightness($base) < $inversion-value, $ui-white, $ui-soft-black);
  }

  &.disabled {
     &:active,
     &:hover,
     &:link,
     &:visited {
     }
  }
}

.button_primer {
  @include roundies(button);

  font-family: $font-family;
  position: relative;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;

  &:hover {
    cursor: pointer;
  }

  &[disabled],
  &.visuallydisabled,
  &.disabled {
    cursor: default;
  }

  &:focus {
    border: 1px solid rgba(0,0,0,1);
    outline: none;
  }
}

////////////////////////////////////////////////////////////////////////////
//  faux_button should be applied to
//  elements that will be styled by .button_primer
//  but are not <button> elements, i.e. <a> elements
////////////////////////////////////////////////////////////////////////////
a.button_primer,
.faux_button {
    display: inline-block;

    &:active,
    &:hover,
    &:link,
    &:visited {
      text-decoration: none;
    }
}

////////////////////////////////////////////////////////////////////////////
//  a flat button
//  i.e. bookmarklet button in /preferences
////////////////////////////////////////////////////////////////////////////
.button_flat {
  @include roundies(input);

  background: transparent;
  border: 1px solid $inset;
  font-family: $font-family-display;
  padding: 1em;
  text-align: left;
  width: 100%;

  .tools-icon {
    display: block;
  }

  &:hover {
    background-color: lighten($base,3%);
    border-color: lighten($inset,2%)
  }
  &:active {
    background-color: darken($base, 10%);
    border-color: darken($inset,15%);
  }
}