//------------------------------------------------------------------------------
//  Button Primer
//------------------------------------------------------------------------------
@mixin button($name,$base) {
  @include gradient-primer($base);

  border: 1px solid if(lightness($base) < 50, $base, darken($base,20%));
  box-shadow: inset 0 1px 0 0 lighten($base, 20%), //inner top hightlight
              inset 0 -1px 0 0 darken($base, 5%);
//    color: darken($base, 50%);
  color: if(lightness($base) < 53, $button-color, $button-color-light);
  font-weight: if(lightness($base) < 53, 500, 500);
  text-shadow: if(lightness($base) < 53, $shadow-text, none);

  &:not([disabled]):not(.disabled):not(.visuallydisabled):hover {
      $base-hover: lighten($base, 5%);

      @include gradient-primer($base-hover);

      border: 1px solid darken($base-hover,10%);
      box-shadow: inset 0 1px 0 0 lighten($base-hover, 20%), //inner top hightlight
                  inset 0 -1px 0 0 darken($base-hover, 5%);
  }

  &:not([disabled]):not(.disabled):not(.visuallydisabled):active {
      $base-active: darken($base, 5%);

      @include gradient-primer($base-active);

      border: 1px solid darken($base-active, 50%);
      box-shadow: inset 0 1px 0 0 lighten($base-active, 20%), //inner top hightlight
                  inset 0 -1px 0 0 darken($base-active, 5%);
  }

  &[disabled],
  &.disabled {
      color: darken($base, 30%);
  }

  &:hover,
  &:visited {
    color: if(lightness($base) < 53, $button-color, $button-color-light);
  }

  &.disabled {
     &:active,
     &:hover,
     &:link,
     &:visited {
      color: rgba(if(lightness($base) < 53, $button-color, $button-color-light),.4);
      text-shadow: none;
     }
  }
}

.button_primer {
  @include roundies(input);

  font-family: $font-family-display;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;

  &:not([disabled]):not(.disabled):not(.visuallydisabled):hover {
      cursor: pointer;
  }

  &.visuallydisabled,
  &.disabled {
      cursor: default;
  }

  &:not([disabled]):not(.disabled):not(.visuallydisabled):focus {
      border: 1px solid black;
      outline: none;
  }
}

////////////////////////////////////////////////////////////////////////////
//  faux_button should be applied to
//  elements that will be styled by .button_primer
//  but are not <button> elements, i.e. <a> elements
////////////////////////////////////////////////////////////////////////////
a.button_primer,
.faux_button {
    display: inline-block;

    &:active,
    &:hover,
    &:link,
    &:visited {
        text-decoration: none;
    }
}