$x-primer-color        : $button-default-color;
//TODO: primer tone is now obsolete
$primer-tone           : light !default;
$primer-button-context : generic !default;

@mixin button-primer($x-primer-color: $button-default-color, $primer-tone: light, $primer-button-context: frame-command, $enable-pseudo-classes: true){
  @include gradient-primer($x-primer-color);

  border: 1px solid adjust-lightness($x-primer-color, -10%);
  border-radius: $button-radius;
  box-shadow: inset 0 1px 0 0 adjust-lightness($x-primer-color, 20%), //inner top highlight
              inset 0 -1px 0 0 adjust-lightness($x-primer-color, -5%); //inner bottom shadow
  font-family: $font-family-display;
  //determine size in the actual class.
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;

  @if $primer-button-context == frame-command {
    padding-top: .8em;
    padding-right: 1em;
    padding-bottom: .75em;
    padding-left: 1em;
  } @elseif $primer-button-context == explore-rolls {
    padding-top: .8em;
    padding-bottom: .75em;
    //------------------------------------------------------
    //  follow/unfollow need to be the same size.
    //  setting the WIDTH normalizes them,
    //  rather than having the width delegated by the padding
    //------------------------------------------------------
    width: 100px;
  } @elseif $primer-button-context == wide {
    padding-top: .8em;
    padding-right: 3em;
    padding-bottom: .75em;
    padding-left: 3em;
  } @elseif $primer-button-context == guide-close {
    padding: .6em;
  } @else {//generic
    padding-top: .8em;
    padding-right: 1em;
    padding-bottom: .75em;
    padding-left: 1em;
  }

  @if $x-primer-color == $button-default-color {
    //------------------------------------------------------
    //  toggle LIGHT font and DARK font depending on button bg.
    //------------------------------------------------------
    color: $button-color-light;
    font-weight: 500;
  } @else {
    color: $button-color;
    font-weight: 700;
    text-shadow: 0px -1px 0px #333;
  }

  @if $enable-pseudo-classes {
    &:hover {
      $x-primer-color-hover : lighten($x-primer-color, 5%);

      @include gradient-primer($x-primer-color-hover);

      border: 1px solid adjust-lightness($x-primer-color-hover, -10%);
      border-radius: $button-radius;
      box-shadow: inset 0 1px 0 0 adjust-lightness($x-primer-color-hover, 20%), //inner top highlight
                  inset 0 -1px 0 0 adjust-lightness($x-primer-color-hover, -5%); //inner bottom shadow

      }

    &:active {
      $x-primer-color-active : darken($x-primer-color, 5%);

      @include gradient-primer($x-primer-color-active);

      border: 1px solid adjust-lightness($x-primer-color-active, -10%);
      border-radius: $button-radius;
      box-shadow: inset 0 1px 0 0 adjust-lightness($x-primer-color-active, 20%), //inner top highlight
                  inset 0 -1px 0 0 adjust-lightness($x-primer-color-active, -5%); //inner bottom shadow
    }

    &:focus {
      border: 1px solid black;
      outline: none;
    }
  }

}//eo button-primer