@mixin button-sizing($use: generic) {
    @if $use == frame-command {
    padding-bottom: 0.5em;
    padding-right: 0em;
    padding-top: 0.5em;
    padding-left: 0em;
  } @elseif $use == explore-rolls {
    padding-top: .8em;
    padding-bottom: .75em;
    //------------------------------------------------------
    //  follow/unfollow need to be the same size.
    //  setting the WIDTH normalizes them,
    //  rather than having the width delegated by the padding
    //------------------------------------------------------
    width: 100px;
  } @elseif $use == wide {
    padding-top: .8em;
    padding-right: 3em;
    padding-bottom: .75em;
    padding-left: 3em;
  } @elseif $use == guide-close {
    padding: .6em;
  } @elseif $use == social-login {
    padding-top:.25em;
    padding-bottom: .2em;
  } @elseif $use == generic {//generic
    padding-top: .8em;
    padding-right: 1em;
    padding-bottom: .75em;
    padding-left: 1em;
  }
}

.button_standard {
  @include button-sizing(frame-command);
}

.button_command {
  @include button-sizing(frame-command);
  font-size: $font-size-button;

  .icon{
    &:before {
      // font-size: 1.2em;
      // vertical-align: -0.15em;
    }
  }
  & + .button_command--cancel {
    margin-left: 5px;
  }
}
    //button set
    .button_command--flexible {
      padding-left: 0.8em;
      padding-right: 0.8em;
    }
    .button_command--wide {
      padding-left: 3em;
      padding-right: 3em;
    }
    .button_command--sub {
      font-size: $font-size-sub-button;
      width: 7.5em;

      .icon {
        margin-right: 2px;
      }
      .icon-twitter {
        margin-left: -4px;
      }
    }
    .button_command--large {
      font-size: $font-size-large-button;
    }
    .button_command--cancel {
      padding: 0.65em;
      vertical-align: top;
    }
    .button_command--email {}
    .button_command--embed {
      .icon-embed {
        margin-right: 2px;
      }
    }
    .button_command--facebook {
      .icon-facebook {
        display: inline-block;
        width: 0.5em;
      }
    }
    .button_command--remove {}
    .button_command--roll {}
    .button_command--shortlink {
      display: block;
      font-size: $font-size-button;
      margin-bottom: 0.5em;
      margin-top: 0.5em;
      position: relative;

      //non-normative overrides
      .form_input {
        font-size: inherit;
        padding-left: 1.7em;
      }

      .icon-shortlink,
      .icon-embed {
        left: 0;
        margin: 0;
        padding: 0.55em 0 0 0.3em;
        position: absolute;
        top: 0;
      }
    }
    .button_command--text {
      background-color: transparent;
      background-image: none;
      border: none;
      border-radius: 0;
      color: inherit;

      &:hover {
        color: inherit;
      }
    }
    .button_command--tumblr {}
    .button_command--twitter {
      .icon-twitter {
        display: inline-block;
        width: 1em;
        margin-left: -0.25em
      }
    }

  //icon adjustments
    .button_command--like {
      .icon-like {
        margin-left: -0.3em;
      }
    }
    .button_command--like,
    .button_command--roll {
      .icon {
        margin-right: 1px;
      }
    }

  //width normalization
    .button_command--fill {
      width: 100%;
    }

    .button_command--email,
    .button_command--embed,
    .button_command--shortlink {
    }

    .button_command--submit,
    .button_command--roll,
    .button_command--like,
    .button_command--follow,
    .button_command--remove,
    .button_command--remove,
    .button_command--follow {
      width: 5.7em;
    }
    .button_command--share {
      padding-left: 0;
      padding-right: 0;
      width: 6.5em;

      .icon {
        margin-right: 2px;
      }
    }

.button_transparent {
  opacity: 0;
}

.button_share {
  padding-bottom: 0.8em;
  padding-right: 1em;
  padding-top: 0.8em;
  padding-left: 2.1em;
  position: relative;
  width: 100%;

  .icon {
    left: 0;
    margin: 0.8em;
    position: absolute;
    top: 0;
  }
}

.button_explore {
    @include button-sizing(explore-rolls);
}

.button_wide {
    @include button-sizing(wide);
}

.button_icon-only {
    @include button-sizing(guide-close);
}

.button_social-login {
    @include button-sizing(social-login);
}