////////////////////////////////////////////////////////////////////////////
//  REFERENCE TABLE
/*  ---------------------

    excerpt from _base.scss---------

    $ui-white      : rgba(#ffffff,1);
    $ui-off-white  : rgba(#f4f4f4,1);

    $ui-black      : rgba(#333333,1);
    $ui-soft-black : rgba(#555555,1);
    $ui-gray       : rgba(#f1f1f1,1);

    $ui-green      : rgba(#6fbe47,1);
    $ui-red        : rgba(#ee4c4c,1);
    $ui-blue       : rgba(#0590c4,1);

    $facebook-blue : rgba(#013e80,1);
    $twitter-blue  : rgba(#2CAAE1,1);
    $tumblr-blue   : rgba(#2f445b,1);
*/
////////////////////////////////////////////////////////////////////////////

$color-names :

    white        ,
    off-white    ,

    black        ,
    soft-black   ,
    gray         ,

    green        ,
    red          ,
    blue         ,

    facebook-blue,
    twitter-blue ,
    tumblr-blue  ;


$color-values :

    rgba(#ffffff,1),
    rgba(#f4f4f4,1),

    rgba(#333333,1),
    rgba(#555555,1),
    rgba(#f1f1f1,1),

    rgba(#6fbe47,1),
    rgba(#ee4c4c,1),
    rgba(#0590c4,1),

    rgba(#013e80,1),
    rgba(#2CAAE1,1),
    rgba(#2f445b,1);
