@mixin basefont{
  font:100 normal 62.5%/1.231 $font-family;
}

@mixin inputfont{
  font:300 normal 100%/1.231 $font-family-display;
}

@mixin buttonfont{
  font:700 normal 100%/1.231 $font-family-display;
}