@mixin basefont{
  font:normal normal 62.5%/1.231 $font-family;
}

// header-size inspired by https://github.com/csswizardry/inuit.css/blob/master/generic/_mixins.scss

@mixin header-size($_font-size){
  font-size: $_font-size;
  font-size: ($_font-size / $base-font-size) * 1rem;
}
