$network-image : $icon-share-twitter-on !default;

@mixin x-logged-out-networks-buttons($primer-color, $network-image){
  background-color: $primer-color;
  @include background(linear-gradient(top, adjust-lightness($primer-color,10%), $primer-color));
  @include buttonfont;
  @include text-shadow(0px -1px 0px #333);

  border-radius: $button-radius;
  box-shadow:inset 0px 1px 0px 0px $highlight;
  color: $button-color;
  font-size: 11px;
  line-height: 2.5;
  padding-left: 15px;
  position: relative;

  @if $primer-color == $twitter-blue {//twitter blue is lighter, thus needing more darkening
    border: 1px solid adjust-lightness($primer-color,-40%);
  }
  @else {
    border: 1px solid adjust-lightness($primer-color,-20%);
  }

  &:before{
    background-repeat: no-repeat;
    bottom: 1px;
    content: "\0020";
    float: left;
    left: 0;
    position: absolute;
    top: 1px;
    width: 30px;
  }
}