@mixin roundies($type: normal){
  @if $type == normal {
    border-radius: $radius;
  }
  @else if $type == button {
    border-radius: $radius - 3;
  }
  @else if $type == input {
    border-radius: $radius - 2;
  }
  @else if $type == avatar {
    border-radius: $radius - 1;
  }
  @else if $type == header {
    border-radius: $radius $radius 0 0;
  }
  @else if $type == footer {
    border-radius: 0 0 $radius $radius;
  }
  @else if $type == left {
    border-radius: $radius 0 0 $radius;
  }
  @else if $type == right {
    border-radius: 0 $radius $radius 0;
  }
  @else if $type == left-input {
    border-radius: ($radius - 2) 0 0 ($radius - 2);
  }
  @else if $type == right-input {
    border-radius: 0 ($radius - 2) ($radius - 2) 0;
  }
}