@mixin sash-primer() {
  background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAACCAYAAAB/qH1jAAAAGElEQVQIW2O0ty//zwAEHJwCIIqBEV0AAFukBC0orjxyAAAAAElFTkSuQmCC);
  box-shadow: 0 0 3px 1px rgba(0,0,0,0.8), inset 0px 0 4px rgba(255,255,255,0.5);
  color: white;
  font-size: 1.3em;
  font-weight: 600;
  padding: .1em 0;
  text-align: center;
  text-shadow: 0px -1px 0px rgba(0,0,0,0.5);
}