/*
  citation: http://css-tricks.com/centering-in-the-unknown/

  went with the table hack because the :before pseudo element isn't reponsively-friendly
*/

@mixin vertical-align-hack {
  display: table;
  width:100%;

  & > .vertical-align-hack__el {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
  }
}

.vertical-align-hack {
  @include vertical-align-hack;
}