@import "base";

.logged-out-banner-wrapper{
	bottom:0;
	left:0;
	padding-right:330px;
	position:absolute;
	top:0;
	width:100%;
}

.logged-out-overlay{
	background:black;	
	bottom:0;
	display:none;
	height:100%;
	@include opacity(0.8);
	position:absolute;
	text-align:center;
	width:100%;
	z-index:0;

	p{
		color:#efefef;
		font-size:40px;
		font-weight:500;
		margin-top:25%;
		padding-right:330px;
		top:50%;
	}
}

.logged-out-banner{
  border-radius: 0 0 $radius $radius;

	background-color: #585858;
	margin:0 auto;
	min-width:680px;
	max-width:738px;
	position:relative;
	z-index:1;
}

.logged-out-header{
	background-color: #303030;
	border-bottom:1px solid #222;
	padding:$defaultMargin;

}

.logged-out-nav{
	float:left;
	font-size:11px;

	li{
		display:inline;		
		padding-right:$defaultMargin/2;
	}
	a{
		color:#d3d3d3;
		text-decoration:none;

		&:hover{
			color:white;
			text-decoration:underline;
		}
		&:visited,
		&:active{
			color:white;
		}
	}
}

.logged-out-origin{
	float:right;
}

.logged-out-tagline{
	float:left;
	font-weight:100;
	font-size:17px;
	margin-top:20px;
	width:50%;

	a{
		text-decoration:none;
		font-weight:500;
		&:hover{
			text-decoration:none;
		}
		&:active,
		&:visited{
			text-decoration:none;
		}
	}
}

.logged-out-networks{
	float:left;
	margin:12px 0;
	padding:0;
	width:50%;

	li{
		display:inline;
		float:left;
		width:50%;
	}
	button{
		width:93%;
	}
}

//@mixin logged-out-network-buttons{
//	@include buttonfont;
//	@include roundies;

//	border:1px solid #222;
//	color:white;
//	font-size:11px;
//	line-height:2.5;
//	text-align:center;
//	margin-right:10px;
//	padding-left:30px;
//	position:relative;

//	&:before{
//		border-right:1px solid #222;
//		bottom:1px;
//		content:"\0020";
//		float:left;
//		left:0;
//		position:absolute;
//		top:1px;
//		width:30px;
//	}
//}

$network-image : $icon-rolls-share-twitter-on !default;

@mixin x-logged-out-networks-buttons($primer-color, $network-image){
	background-color: $primer-color;
	@include background(linear-gradient(top, adjust-lightness($primer-color,10%), $primer-color));
	border-radius: $button-radius;
	@include box-highlight($primer-color);
	@include buttonfont;
	@include text-shadow(0px -1px 0px #333);

	@if $primer-color == $twitter-blue {
		border: 1px solid adjust-lightness($primer-color,-40%);
	} @else {
		border: 1px solid adjust-lightness($primer-color,-20%);
	}
	color: $button-color;
	font-size: 11px;
	line-height: 2.5;
//	padding-left: 33px;
	padding-left: 15px;
	position: relative;

	&:before{
		background-repeat: no-repeat;
//		border-right: 1px solid adjust-lightness($primer-color, 20%);
		bottom: 1px;
		content: "\0020";
		float: left;
		left: 0;
		position: absolute;
		top: 1px;
		width: 30px;
	}
}


.logged-out-twitter {
	@include x-logged-out-networks-buttons($twitter-blue);
	&:before{
		background-image: url($icon-rolls-share-twitter-on);
		background-position: 3px 5px;
		background-size: 97%;
	}
}

.logged-out-facebook {
	@include x-logged-out-networks-buttons($facebook-blue);
	&:before{
		background-image: url($icon-rolls-share-facebook-on);
		background-position: 1px -1px;
		background-size: 95%;
	}
}


//.xlogged-out-twitter{
//	@include logged-out-network-buttons;
//	background:$twitter-blue;
//	@include background( linear-gradient(top, adjust-lightness($twitter-blue, 10%), $twitter-blue) );
	
//	&:before{
//		background:url($icon-rolls-share-twitter-on) no-repeat 2px 4px transparent;
//	}
//}

//.xlogged-out-facebook{
//	@include logged-out-network-buttons;
//	background:$facebook-blue;
//	@include background( linear-gradient(top, adjust-lightness($facebook-blue, 10%), $facebook-blue) );

//	&:before{
//		background:url('../images/assets/rolls_share_facebook_on.svg') no-repeat center center transparent;
//	}
//}