@import "base",
		"compass",
		"compass/css3/border-radius",
		"compass/css3/box-shadow";

h1,h2,h3,h4,h5,h6{
	font-weight:500;
	line-height:1.231;
	margin:0;
}

html,body{
	bottom:0;
	height:100%;
	left:0;
	margin:0;
	overflow:hidden;
	padding:0;
	position:absolute;
	right:0;
	top:0;
	width:100%;
}

body{
	@include fontcolor;
	@include basefont;

	@include background(
		url('../images/assets/noise.png') #000
	);

}

a{
	color: #a4a4a4;
	
	&:hover, 
	&:visited,
	&:active{
		color: #a4a4a4;
	}

}

.wrapper{
	bottom:0;
	left:0;
	position:absolute;
	right:0;
	top:0;
}

.lining{
	float:left;
	margin-right:-330px;
	height:100%;
	width:100%;

}

.content{
	float:right;
	width:330px;
}

.main{
	@extend .content;

	background:#494949;
	font-size:1.2em;
	height:100%;
	line-height:1.4;
	overflow:hidden;
	position:relative;
	z-index:3;
	
	opacity: 1;
	@include transition-property('opacity, margin-right');
	@include transition-duration(.5s);
	@include transition-timing-function(ease-in-out);
	@include transition-delay(0s);
}

.main.hide-guide {
  margin-right:-330px;
}

.user-inactive .main{
  opacity: .5;
}

.content-body{
	bottom:0;
	overflow-x:hidden;
	overflow-y:auto;
	position:absolute;
	top:88px;
	width:100%;
}


//.content-body{
//	bottom:0;
//	left:0;
//	position:absolute;
//	right:0;
//	top:88px;
//	overflow-y:scroll;
//}


.menu{
	@include box-shadow(0px 2px 5px 0px #333);

	border-bottom:1px solid #222;
	position:relative;
	overflow:hidden;
}

.spinner{
	left:50%;
	margin-left:-24px;
	margin-top:100px;
	position:absolute !important;
	z-index:0  !important;
}

