@import "base",
		"compass",
		"compass/css3",
		"compass/css3/border-radius",
		"compass/css3/box-shadow";

.comment-overlay-wrapper {
	@include transition-property(opacity);
	@include transition-duration(.25s);
	@include transition-timing-function(ease-out);
	@include transition-delay(0s);

	background: transparent;
	font-size: 12px;
	left: $defaultMargin;
	line-height: 1.4;
	padding-right: 360px;
	position: absolute;
	top: $defaultMargin;
	width: 100%;

	.user {
		@include border-radius($radius);
		max-width: 500px;

	}
	.user-vcard{
		border: none;
	}
}

.video-player-aside{

	.video-activity-list{
		border-left:1px solid black;
		border-right:1px solid black;
		height:67px;
		width:100%;

		li{
			display:none;
		}
		.first{
			display:block;
		}
	}

	width:473px;

}

.aside-nav{
	@include background(
		url('../images/assets/comment_arrow_right.svg') #303030
		//$softShelbyDarkGray
	);
	@include border-radius($radius);
	@include box-shadow(inset 1px 1px 1px 1px lime);

	width: 24px;
	height: 67px;
	
	&.left{
		@include background(
			url('../images/assets/comment_arrow_left.svg') #303030
		);
	}

}