@import "base";

.comment-overlay-wrapper {
	@include transition-property(opacity);
	@include transition-duration(.25s);
	@include transition-timing-function(ease-out);
	@include transition-delay(0s);

	background: transparent;
	font-size: 12px;
	left: $defaultMargin;
	line-height: 1.4;
	padding-right: 360px;
	position: absolute;
	top: $defaultMargin;
	width: 100%;
	z-index:2;

	.user {
		background-color: #303030;
		height: inherit;
		margin-left: 25px;
		margin-right: 25px;
		max-width: 500px;
		overflow-y: hidden;
	}

	.user-vcard{
		border: none;
	}

	.user-video-text p {
		max-height: 2.5em;
		overflow: hidden;
	}
}

.comment-overlay-lining {
	display: none;
	height: 67px;
	max-width: 550px;
	position: relative;
}

.comment-overlay-prev {
	@include x-comment-overlay-buttons;
	@include background(
		url('../images/assets/comment_arrow_left.svg') no-repeat center center #303030 
		//$softShelbyDarkGray
	);
	@include border-radius($radius 0 0 $radius);
	left: 0;
}
.comment-overlay-next {
	@include x-comment-overlay-buttons;
	@include background(
		url('../images/assets/comment_arrow_right.svg') no-repeat center center #303030
	);
	@include border-radius(0 $radius $radius 0);
	right: 0;

}

