@import "base";

.context-overlay-wrapper {
	@include transition-property(opacity);
	@include transition-duration(.25s);
	@include transition-timing-function(ease-out);
	@include transition-delay(0s);
	left: $defaultMargin;
	padding-right: 360px;
	position: absolute;
	top: $defaultMargin;
	width: 100%;
	z-index:3;	
}

.context-overlay-lining {
	font-size: 120%; //fixes the clipping of the icons in the buttons, makes line-height taller
	max-width: 330px;
	position: relative;

	.frame-title {
		width: 64%;
	}
}

