@import "base";

.context-overlay-wrapper {
	@include transition-property(opacity);
	@include transition-duration(.25s);
	@include transition-timing-function(ease-out);
	@include transition-delay(0s);
	
	left: $defaultMargin;
	padding-right: 360px;
	position: absolute;
	top: $defaultMargin;
	width: 100%;
	z-index:3;	
}

.context-overlay-lining {
	font-size: 120%; //fixes the clipping of the icons in the buttons, makes line-height taller
	max-width: 330px;
	position: relative;

	.video-card {
		background-color: $guide-bg-color;
		box-shadow: inset 0px 1px 0px 0px $outset;
		margin: 10px;
	}

	.frame-title {
		width: 61%;
	}

//	.xframe-locator {
//		&:before {
//			border-left-color: $outset;
//		}
//	}

	.frame-controls {
		button{
			border-top-color: $outset;
			border-left-color: $outset;
		}
	}
}

.user-inactive .context-overlay-wrapper {
  opacity: 0;
}

