@import "base",
		"compass",
		"compass/css3",
		"compass/css3/border-radius",
		"compass/css3/box-shadow";

.frame-rolling-completion{
	@extend .rolling-main;
//	background:blue;
//	@include opacity(0.9);
	overflow-y:hidden;
	.frame-share{
//		background: url('../images/assets/noise.png') #494949;
		@include border-radius(0);
		bottom:0;
		height:auto;
		margin:0;
		padding:0;
		position:absolute;
		top:40px;	

		&:before{
			background:#222;
			@include opacity(0.2);
			bottom:0;
			content:"\0020";
			position:absolute;
			top:0;
			width:100%;
		}
	}

	.share-networks-list{
		li{
			background:none;
			border-bottom:none;
			margin-bottom:0;
			padding:0;
		}
	}
}

.frame-rolling-completion-header{
	
	background:url("../images/assets/noise.png") #555;
	border-bottom:1px solid #222;
	height:40px;

	h1{
		@include background(
			url('../images/assets/noise.png')
			$flatShelbyBlue
		);
		border-bottom:1px solid adjust-lightness($flatShelbyBlue,-10%);
		font-size:13px;
		height:40px;
		line-height:3;
		padding-left:$defaultMargin;
		padding-right:$defaultMargin;
		overflow:hidden;
		text-overflow:ellipsis;
		white-space:nowrap;

		&.roll-type-public{
			&:before{
				content:url('../images/assets/rolls_public.svg');
				float:left;
				margin: 4px 10px;
			}
		}

		&.roll-type-private{
			@extend .roll-type-public;
			
			&:before{
				content:url('../images/assets/rolls_private.svg');
			}
		}

	}
}

.frame-share-undo{
	line-height:3;
	margin:0 5px;
	position:absolute;
	right:5px;
	top:0;
}