@import "base";

.frame-rolling-completion{
	@extend .rolling-main;
//	background:blue;
//	@include opacity(0.9);
	border-top: none;
	@include border-radius($radiusHeader);
	overflow-y:hidden;
	top: 0;
	z-index: 1;

	.frame-share{
//		background: url('../images/assets/noise.png') #494949;
		@include border-radius(0);
		bottom:0;
		height:auto;
		margin:0;
		padding:0;
		position:absolute;
		top:40px;	

		&:before{
			background:#222;
			@include opacity(0.2);
			bottom:0;
			content:"\0020";
			position:absolute;
			top:0;
			width:100%;
		}
	}

	.share-networks-list{
		li{
//			background:none;
//			border-bottom:none;
			margin-bottom:0;
			padding:0;
		}
	}

	&.frame-rolling-private {
		.share-comment-counter {
			display: block;
			float: right;
			height:20px;
			position: relative;
		}
	}
}

.frame-rolling-completion-header{
	
	border-bottom: 1px solid $outline;
	height: 40px;

	h1{
		@include background(
			url('../images/assets/noise.png')
			#666
		);
		border-bottom: 1px solid $rolls-inset;
		@include border-radius($radius $radius 0 0);
		font-size: 16px;
		height: 40px;
		line-height: 2.4;
//		padding-left: $defaultMargin;
		padding-right: $defaultMargin;
		overflow: hidden;
		text-align: center;
		text-overflow: ellipsis;
		white-space: nowrap;

//		&.roll-type-public{
//			&:before{
//				content: "\0020";
//				background: url('../images/assets/rolls_public.svg') no-repeat center center transparent;
//				float: left;
//				height: 21px;
//				margin: 8px;
//				position: absolute;
//				width: 20px;
//			}
//		}

		&.roll-type-private{
			@extend .roll-type-public;
			
			&:before{
				background-image: url('../images/assets/rolls_private.svg');
			}
		}
   &.roll-type-social {
      padding-left: $defaultMargin;
    }
	}
}

.frame-share-undo {
	line-height: 3;
	margin: 0 5px;
	position: absolute;
	right: 5px;
	top: 0;
}
