@import "base";

.rolling-main {
  
  height: 100%;
	overflow-y: scroll;

	& > li {
		&:first-child {
			@include border-radius($radius - 1 $radius - 1 0 0);
	
			h2 {
				@include border-radius($radius - 1 $radius - 1 0 0);
			}
		}

		&:hover {
			background-color: #666;
			cursor: pointer;
		}
	}

	.share-comment-counter {
		margin: 0;
		right: 0;
	}
}

.rolling-main-header {
	padding: 10px;
}

.rolling-main-done  {
	@include x-button-primer($shelby-blue);
}


.rolling-main-social  {
	@extend .rolling-main-done;

	float: right;
	padding-left: 0;

	&:before {
		background: url('../images/assets/sharebutton_icons.svg') no-repeat 0px center;
		background-size: 71%;
		border-right: 1px solid adjust-lightness($shelby-blue,-5%);
		content: "\0020";
		float: left;
		margin: 0px 9px;
		width: 36px;
		height: 15px;
	}
}

.rolling-frame {
	@include roundies;

//	background-color: #494949;	
}
