@import "base";

.frame-rolling-options{
  
}

//this is a crazy temporary hack.
.create-roll {
  .roll-options{
    border: none;
    &:first-child {
      border-top: 1px solid $outset;
    }

    &:nth-child(2) {
      float: left;
      margin-bottom: 2em;
      width: 50%;
    }
  }
}

.new-roll-status {
  @include roundies;

  display: block;
  border: 1px solid $inset;
  overflow: hidden;
  padding: 7px;
  width: 126px;
}

.new-roll-status-checkbox {
  @include transition-property('margin');
  @include transition-duration(0.25s);
  @include transition-timing-function(ease-out);

  float: left;
  position: relative;

  &:before {
    color: $button-color;
    content: "Public";
    font:500 normal 100%/1.231 'Ubuntu',Trebuchet MS,sans-serif;
    left: 53px;
    position: absolute;
    top: 0;
  }

  &:after {
    background-color: gray;
    @include background(
      url('/images/assets/lock-public.svg') no-repeat center center #999//,
//      linear-gradient(top, adjust-lightness(#666, 20%), #666)
      );
    @include box-highlight(#666);
    @include roundies;

    background-size: 61%;
    border: 1px solid adjust-lightness(#666, -10%);
    content: "\0020";
    cursor: pointer;
    display: block;
    height:30px;
    left: -10px;
    position: absolute;
    top: -10px;
    width: 35px;
  }

  &:checked {
    margin-left: 82%;

    &:before {
      left: -75px;
      content: "Private";
    }

    &:after {
      @include background(
        url('/images/assets/lock_private.svg') no-repeat center center #999//,
        //linear-gradient(top, adjust-lightness(#666, 10%), #999)
      );
      background-size: 43%;
    }
  }
}


.roll-options {
  @include x-fieldset-primer;
  border-top: 1px solid $outset;
  border-bottom: 1px solid $inset;
}

.roll-options-label {
  @include x-form-label-primer;
}

.roll-options-input {
  @include inputfont;
  @include opacity(0.8);
  @include roundies(input);

  border: 1px solid $inset;
  display:block;
  padding: 5px;
  margin-bottom:5px;
  width: 100%;

  &:focus{
    @include transition-property('opacity');
    @include transition-duration(0.25s);
    @include transition-timing-function(ease-in);
    @include opacity(1);
  }
}

 .roll-options-submit {
  @include x-button-primer($shelby-blue);

  float: right;
  width: 100%;
}