@import "base";

.frame-rolling-options{
  
}

.roll-options {
  @include x-fieldset-primer;
  border-top: 1px solid $outset;
  border-bottom: 1px solid $inset;
}

.roll-options-label {
  @include x-form-label-primer;
}

.roll-options-input {
  @include inputfont;
  @include opacity(0.8);
  @include roundies(input);

  border: 1px solid $inset;
  display:block;
  padding: 5px;
  margin-bottom:5px;
  width: 100%;

  &:focus{
    @include transition-property('opacity');
    @include transition-duration(0.25s);
    @include transition-timing-function(ease-in);
    @include opacity(1);
  }
}

.roll-options-submit {
  @include x-button-primer($shelby-blue);

  float: right;
  width: 33%;
}