@import "base";

.frame-rolling-completion{
	@extend .rolling-main;
	@include roundies(header);

	border-top: none;
	overflow-y:hidden;
	top: 0;
	z-index: 1;

	.frame-share{
		@include border-radius(0);

		bottom:0;
		height:auto;
		margin:0;
		padding:0;
		position:absolute;
		top:40px;	

		&:before{
			@include opacity(0.2);
		
			background:#222;
			bottom:0;
			content:"\0020";
			position:absolute;
			top:0;
			width:100%;
		}
	}

	.share-networks-list{
		li{
			margin-bottom:0;
			padding:0;
		}
	}

	&.frame-rolling-private {
		.share-comment-counter {
			display: block;
			float: right;
			height:20px;
			position: relative;
		}
	}
}

.frame-rolling-completion-header{
	@include roundies(header);

	background-color: $rolling-header-bg-color;
	border-bottom: 1px solid $outline;
	height: 40px;

	h1{
		border-bottom: 1px solid $rolls-inset;
		font-size: 16px;
		height: 40px;
		line-height: 2.4;
		margin: 0 auto;
		max-width: 145px;
		padding-right: $defaultMargin;
		overflow: hidden;
		text-align: center;
		text-overflow: ellipsis;
		white-space: nowrap;

//		&.roll-type-public{
//			&:before{
//				content: "\0020";
//				background: url('../images/assets/rolls_public.svg') no-repeat center center transparent;
//				float: left;
//				height: 21px;
//				margin: 8px;
//				position: absolute;
//				width: 20px;
//			}
//		}

		&.roll-type-private{
			@extend .roll-type-public;
			
			&:before{
				background-image: url('../images/assets/rolls_private.svg');
			}
		}
   &.roll-type-social {
      padding: 0;
    }
	}
}

.frame-share-undo {
	line-height: 3;
	margin: 0 5px;
	position: absolute;
	right: 5px;
	top: 0;
}
