@import "base";
// blockquote gradient top #444 bottom #333, box-shadow (dist 6px, size 10px)
.list {
	margin: 0;
	padding: 0;

	li {
		list-style-type: none;	
	}
}

.frame {
	padding: $defaultMargin;

	&:hover {
		@include background(#292b2d);
	}
}

.video-card {
	@include box-shadow(inset 0 1px 0 0 adjust-lightness($outset, 5%));
	@include roundies;

	background-color: $video-card-bg-color;
	border: $frame-stroke;
	margin: 0;
	overflow: hidden;
	padding: 0;
	position: relative;
}

.video-thumbnail {
	background-color: $video-card-thumbnail;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	cursor: pointer;
	line-height: 75px;
	margin: 0;
	text-align: center;
//	width: 100%;
}

.video-thumbnail-image {
	cursor: pointer;
	display: inline-block;
	margin: -29px auto 0;
	overflow: hidden;
	padding-top: 0;
	vertical-align: middle;
	width: 100%;
}	

.video-thumbnail-missing {
		background-image: url($icon-missing-thumb);
		background-size: 20%;
}

.video-card-header {
	border-bottom: 1px solid $inset;
//	padding: $defaultMargin - 4 $defaultMargin - 2;
	padding: 0;

	a {
		text-decoration: none;
		&:active,
		&:visited {
			text-decoration: none;
		}
		&:hover {
			text-decoration: underline;
		}
	}
}

.active-list-item .video-card-header {
  @include background( linear-gradient(top, adjust-lightness($shelby-green, 10%), $shelby-green) );
  @include border-top-radius($radius);
  h1, h2 {
    color: $shelby-gray;
  }
  h3 {
    color: adjust-lightness($shelby-gray, -10%);
  }
  .frame-title:before {
    content: "On Now: ";
    font-style: italic;
  }
}

.frame-creator-avatar {
	border-radius: $radius 0 0 0;
	float: left;
	height: 40px;
	width: 40px;
}

.frame-creator-avatar-missing{
	@extend .frame-creator-avatar;

	background: url($icon-missing-thumb) no-repeat center center #454545;
	background-size: 50%;
}

@mixin frame-header-smalltype{
	color: #999;
	font-size: 11px;
	font-weight: 300;
	height: 1.9em;
	padding: 6px 8px 0;
}

//see .frame-creator-roll, .frame-timestamp

.frame-creator-roll {
	@include frame-header-smalltype;
	@include ellipsis();

	float: left;
	width: 50%;
}

.frame-creator-origin-twitter{
	@extend .user-post-origin-twitter;
}

.frame-timestamp {
	@include frame-header-smalltype;
	float:right;
}

.frame-locator {
	@include buttonfont;

	background: url($icon-locate) no-repeat 10px center transparent;
	border-bottom: none;
	border-left: 1px solid $inset;
	border-right: none;
	border-top: none;
	color: $button-color;
	line-height: 3.25;
	padding: 0 1em 0 3em;
	position: absolute;
	right: 0;

	&:before {
		border-left: 1px solid adjust-lightness($outset, 5%);
		content: "\0020";
		display: block;
		height: 40px;
		float: left;
		margin: 0 0 0 -36px;
	}

}

.frame-title {
	clear: right; 
	color: #bfbfbf;
	float: left;
  font-size: 13px;
  height: 19px;
  line-height: 17px;
	overflow: hidden;
  padding: 0 8px 0;
  text-overflow: ellipsis;
	white-space: nowrap; 
	width: 83%; 
}

.video-card-footer {
	border-radius: 0 0 $radius $radius;
	overflow: hidden;
	z-index: 5;
}

.video-thumbnail {
	height: 125px;
	overflow: hidden;
	position: relative;
}	

.video-activity-comment {
	border-bottom: 1px solid $inset;
	border-top: 1px solid $outset;
	padding: $defaultMargin;

	textarea {
		border-radius: $input-radius;
		border-color: #555;
		padding: $defaultMargin/2;
		resize: none;
		width: 100%;
	}

	.video-activity-comment-submit {
		@include x-button-primer($shelby-blue,small);

		float: right;
		margin-top: 5px;
	}
}

.video-activity-toggle {

}

.video-activity-list {
	margin: 0;
	padding-left: 0;
	
	li {
		border-bottom: 0;
		list-style-type: none;
		padding: 0;
	}
}

.video-source {
	float: right;
	height: 1.231em;
	max-width: 50%;
	overflow: hidden;
	text-overflow: ellipsis;
}

.video-author {
	margin: 0;
}

/* XXX BELOW still needed for context overlay, but not for conversation within guide  */
.user-vcard {
	border-bottom: 1px solid $inset;
	border-top: 1px solid $outset;
	height: 100%;
	padding: 0 9px 9px;

	a {
		text-decoration: none;
	}
}

.user-avatar {
	display: block;
	float: left;

	img {
		margin-bottom: 7px;
		margin-right: 7px;
		margin-top: 9px;
	}
}
.user-handle {
	color: #a4a4a4;
	font-size: 11px;
	font-weight: 500;
	line-height: 2.8;
}

.user-post-date {
	@extend .user-handle;
	float: right;
	line-height: 1;
	margin-top: 9px;
	padding-right: 3px;
}

.user-post-origin-twitter {
	&:before {
		content: image-url('../images/assets/twitter_stamp.svg');
		float: left;
		font-size: 0.75em;
		margin: 3px 3px 0 0;
	}
}

.user-post-origin-facebook {
	@extend .user-post-origin-twitter;
	&:before {
		content: image-url('../images/assets/facebook_stamp.svg');
	}
}

.user-post-origin-tumblr {
	@extend .user-post-origin-twitter;
	&:before {
		content: image-url('../images/assets/tumblr_stamp.svg');
	}
}

.user-video-text {
	margin-top: -7px;

	p {
		margin: 2px $defaultMargin/2 0 $defaultMargin*3+2;
	}
}
/* XXX ABOVE still needed for context overlay, but not for conversation within guide  */

.frame-controls {
	margin: 0;
	padding: 0;

	li {
		display: block;
		float: left;
		list-style-type: none;
		width: 25%;

		&:first-child {
			button {
				border-left: none;
			}
		}

		&:last-child {
			button {
				border-right: none;
			}
		}
	}
	button {
		@include buttonfont;
		background: transparent;
		border-bottom: none;
		border-left: 1px solid adjust-lightness($outset, 5%);
		border-right: 1px solid $inset;
		border-top: 1px solid adjust-lightness($outset, 5%);
		display: block;
		height: 42px;
		width: 100%;
	}
}

.frame-activity {
	font-weight: 500;
}

.frame-activity-favorites {
	border-bottom: 1px solid $inset;
	border-top: 1px solid adjust-lightness($outset, 5%);
	font-size: $font-size - 2;
	margin: 0;
	padding: 4px;
	width: auto;
	
	li {
		display: block;
		float: left;
		height: 24px;
		list-style-type: none;
		overflow: hidden;
		margin-right: 3px;
		width: 24px;
	}
	
	a { 
	  display: block;
	}

	img {
		display: block;
		width: 100%;
	}

	&:before {
		background: url("../images/assets/videocard_heart_off.svg") no-repeat 3px center transparent;
		background-size: 55%;
		content: "\0020";
		float: left;
		height: 24px;
		width: 22px;
	}
}

.frame-controls-like {
	i{
		background: url("../images/assets/videocard_heart_off.svg") no-repeat left 0 transparent;
		color: #efefef;
		font-style: normal;
		padding-bottom: 2px;
		padding-left: 19px;
	}
	&.upvoted,
	&:hover {
		i {
			background: url("../images/assets/videocard_heart_on.svg") no-repeat left 0 transparent;
		}
	}
}

.frame-controls-comments {
	i{
		background: url("../images/assets/videocard_comment_off.svg") no-repeat left 0 transparent;
		color: #efefef;
		font-style: normal;
		padding-bottom: 2px;
		padding-left: 21px;
	}
	.frame-comments-open,
	&:hover {
		i {
			background: url("../images/assets/videocard_comment_on.svg") no-repeat left 0 transparent;
		}
	}
}

.frame-controls-roll {
	button {
		@extend .notype;
		background:url('../images/assets/videocard_roll_off.svg') no-repeat center center transparent;
	}
	&:hover {
		button {
			background:url('../images/assets/videocard_roll_on.svg') no-repeat center center transparent;		
		}
	}
}

.frame-controls-share {
	button {
		@extend .notype;
		background:url('../images/assets/videocard_share_off.svg') no-repeat center center transparent;
	}
	&:hover {
		button {
			background:url('../images/assets/videocard_share_on.svg') no-repeat center center transparent;		
		}
	}
}
