@import "base";
// blockquote gradient top #444 bottom #333, box-shadow (dist 6px, size 10px)
.list {
	margin: 0;
	padding: 0;

	li {
		background-color: $base-bg-color;
		list-style-type: none;
		padding: $defaultMargin;
	
		&:hover {
			@include background(#555);
		}
	}
}
.active-list-item {
	.active-frame {
		@include background(#6d6d6d);
	}
}

.video-card {
	@include roundies;

	background-color: $video-card-color;
	border: $frame-stroke;
	margin: 0;
	overflow: hidden;
	padding: 0;
	position: relative;
}

.video-thumbnail {
	background: $video-card-thumbnail;
	line-height: 75px;
	margin: 0;
	text-align: center;
//	width: 100%;
}

.video-thumbnail-image {
	cursor: pointer;
	display: inline-block;
	margin: -27px auto 0;
	overflow: hidden;
	padding-top: 0;
	vertical-align: middle;
	width: 100%;
}	

.video-thumbnail-missing {
		margin: 36px auto 0;
		width: auto; 
}

.video-card-header {
	border-bottom: 1px solid $inset;
	padding: $defaultMargin - 4 $defaultMargin - 2;

	a {
		text-decoration: none;
		&:active,
		&:visited {
			text-decoration: none;
		}
		&:hover {
			text-decoration: underline;
		}
	}

	h1 {
		float: left;
		font-size: 1em;
		height: 1.231em;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		width: 100%;
	}
}

.video-card-footer {
	@include border-radius(0 0 $radius $radius);
	
	overflow: hidden;
	z-index: 5;
}

//OBSOLETE? 
//.frame-main-social {
//	@include button-primer($flatShelbyBlue);
//	@include box-shadow(inset -1px 0px 1px 0px adjust-lightness($flatShelbyBlue, 10%));
//	border: 1px solid adjust-lightness($flatShelbyBlue, -15%);
	
//	display: block;
//	float: right;
//	margin: -4px -3px;
//	padding: 0px;

//	&:before {
//		background: url('../images/assets/sharebutton_icons.svg') no-repeat 0px center;
//		background-size: 72%;
//		content: "\0020";
//		float: left;
//		margin: 1px 2px 1px 7px;
//		width: 38px;
//		height: 17px;
//	}
//}

//.video-vote {
//	float: right;
//	font-size: 1em;
//	margin: 0;		
//	padding-left: 0;
//	button {
//	}
//}

.video-thumbnail {
	height: 125px;
	overflow: hidden;
	position: relative;
}	

.video-controls {
	margin: $defaultMargin/2;
	padding: 0;
	position: absolute;
	right: 0px;
	top: 0px;

	.roll-frame {
		background-color: $flatShelbyGreenButton;
		@include background($softShelbyGreenButton);
		@include box-shadow(inset 0px 1px 1px 0px #69f034);
		@include roundies;

		border: $frame-stroke;
		margin-bottom: 5px;
		padding: 0;
	
		button {
			@include background(
				url('../images/assets/action_roll.svg') no-repeat 8px 4px
			);
			@include roundies;
			display: block;
			height: 32px;
			margin: 0;
			outline: 0;
			text-decoration: underline;
			width: 32px;
		}
		&:hover {
			@include background($softShelbyGreenButtonHighlight);
			@include box-shadow(inset 0px 1px 1px 0px #69f034);
		}
	}
	.share-frame {
		background-color: $sharingShelbyBlue;
		@include background($sharingShelbyBlueButton);
		@include box-shadow(inset 0px 1px 1px 0px #00C6DE);
		@include roundies;
		
		border: $frame-stroke;
		margin-bottom: 5px;
		padding: 0;
	
		button {
			@include background(url('../images/assets/action_share.svg') no-repeat 2px 9px);
			@include roundies;

			display: block;
			height: 32px;
			margin: 0;
			outline: 0;
			text-decoration: underline;
			width: 32px;
		}
		&:hover {
			@include background($sharingShelbyBlueHighlight);
			@include box-shadow(inset 0px 1px 1px 0px #077dba);
		}

	}
	
	.upvote-frame {
		background-color: $flatLightShelbyGrayButton;
		@include background($lightShelbyGrayButton);
		@include box-shadow(inset 0px 1px 1px 0px #888);
		@include roundies;

		border: $frame-stroke;
		margin-bottom: 5px;
		padding: 0;
	
		button {
			@include background(url('../images/assets/action_heart_white.svg') no-repeat 9px 4px);
			@include buttonfont;
			@include roundies;
			color: #fff;
			display: block;
			font-weight: bold;
			height: 32px;
			margin: 0;
			outline: 0;
			padding-top: 16px;
			width: 32px;
		}
		&:hover {
			@include background($lightShelbyGrayButtonHighlight);
			@include box-shadow(inset 0px 1px 1px 0px #888);
		}
 }
 .upvote-frame.upvoted {
 	background-color: $flatShelbyRed;
		@include background($softShelbyRed);
		@include box-shadow(inset 0px 1px 1px 0px #ef2f74);
		
		button {
		 @include background(
				url('../images/assets/action_heart.svg') no-repeat 9px 4px
			);
		 color: #222;
	 }
 }
	
	.save-frame {
		@extend .roll-frame;
		background-color: $flatShelbyPurple;
		@include background($softShelbyPurple);
		@include box-shadow(inset 0px 1px 1px 0px #8d8f90);

		button {
			@include background(
				url('../images/assets/saved_action.svg') no-repeat center center
			);
		}
		&:hover {
			@include background($softShelbyPurpleHighlight);
			@include box-shadow(inset 0px 1px 1px 0px $softShelbyPurpleHighlight);			
		}	
	}
	.remove-frame {
		@extend .save-frame;
		@include box-shadow(inset 0px 1px 1px 0px #c0224c);
		background-color: $flatShelbyRed;
		@include background($softShelbyRed);

		button {
			@include background(
				url('../images/assets/saved_remove.svg') no-repeat center center
			);
		}	
		&:hover {
			@include background($softShelbyRedHighlight);
			@include box-shadow(inset 0px 1px 1px 0px $softShelbyRedHighlight);
		}
	}
}

.video-footer {
	border-top: 1px solid $outset;
	font-size: $font-size - 2;
	font-weight: 500;
	height: 27px;
	padding: 6px 8px 7px;
}

.video-activity {
	//display: none;
}


.video-activity-comment {
	padding: $defaultMargin;

	textarea {
		@include border-radius($input-radius);
		border-color: #555;
		padding: $defaultMargin/2;
		resize: none;
		width: 100%;
	}

	.video-activity-comment-submit {
		@extend .rolling-main-done;
		float: right;
	}
}

.video-activity-toggle {

}

.video-activity-list {
	margin: 0;
	padding-left: 0;
	
	li {
		border-bottom: 0;
		list-style-type: none;
		padding: 0;
	}
}

.video-source {
	float: right;
	height: 1.231em;
	max-width: 50%;
	overflow: hidden;
	text-overflow: ellipsis;
}

.video-author {
	margin: 0;
}

.user-vcard {
	border-bottom: 1px solid $inset;
	border-top: 1px solid $outset;
	height: 100%;
	padding: 0 9px 9px;

	a {
		text-decoration: none;
	}
}

.user-avatar {
	display: block;
	float: left;

	img {
		margin-bottom: 7px;
		margin-right: 7px;
		margin-top: 9px;
	}
}
.user-handle {
	color: #a4a4a4;
	font-size: 11px;
	font-weight: 500;
	line-height: 2.8;
}

.user-post-date {
	@extend .user-handle;
	float: right;
	line-height: 1;
	margin-top: 9px;
	padding-right: 3px;
}

.user-post-origin-twitter {
	&:before {
		content: image-url('../images/assets/twitter_stamp.svg');
		float: left;
		font-size: 0.75em;
		margin: 1px 3px;
	}
}

.user-post-origin-facebook {
	@extend .user-post-origin-twitter;
	&:before {
		content: image-url('../images/assets/facebook_stamp.svg');
	}
}

.user-post-origin-tumblr {
	@extend .user-post-origin-twitter;
	&:before {
		content: image-url('../images/assets/tumblr_stamp.svg');
	}
}

.user-video-text {
	margin-top: -7px;

	p {
		margin: 2px $defaultMargin/2 0 $defaultMargin*3+2;
	}
}
