// blockquote gradient top #444 bottom #333, box-shadow (dist 6px, size 10px)
.list{
	margin:0;
	padding:0;

	li{
		@include background(
			url('../images/assets/noise.png') 
			#494949
		);
		list-style-type:none;
		padding:$defaultMargin;
	
		&:hover{
			@include background(
				url('../images/assets/noise.png') #555
			);
		}
	}

	.active-frame{
		@include background(
			url('../images/assets/noise.png') #6d6d6d
		);
	}
}

.video-card{
	@include border-radius($radius);

	border:$articleStroke;
	font-size: $font-size;
	margin:0;
	overflow:hidden;
	padding:0;
	position:relative;

	footer{
		@include box-shadow(0px 4px 13px 4px #333);
		border-top:1px solid $outset;
		z-index:5;
	}
}

.video-thumbnail {
	background:#444;
	line-height:75px;
	margin:0;
	text-align:center;
	width:100%;

	img{
		//@include border-radius(5px);
		display:inline-block;
		margin:0 auto 0;
		overflow:hidden;
		padding-top:0;
		vertical-align:middle;
		width:100%;
		cursor:pointer;
	}	
}

.video-card-header{
	@include softgradient;
	@include border-radius($radiusHeader);

	padding:$defaultMargin - 4 $defaultMargin - 2 $defaultMargin - 2;

	a{
		text-decoration:none;
		&:active,
		&:visited{
			text-decoration:none;
		}
		&:hover{
			text-decoration:underline;
		}
	}

	h1{
		float: left;
		font-size:1em;
		height:1.231em;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		width: 80%;
	}
}
.video-score{
	@include fontcolorLight;
	@include buttonfont;

	background:transparent;
	border:none;
	float:right;
	line-height:1.231;
	padding:0;

	&:before{
		content: url('../images/assets/score.svg');
		margin-right:3px;
	}

	&:hover:before{
		color:$flatShelbyBlue;
	}

	&:active{
		color:$flatShelbyBlue;

	}
}
.video-score-upvoted{
	&:before{
		content:"\0020";
	}
}

//.video-vote {
//	float:right;
//	font-size:1em;
//	margin:0;		
//	padding-left:0;

//	button {

			
//	}

//}

.video-thumbnail{
	height:125px;
	overflow:hidden;
	position:relative;
}	
.video-controls{
	margin:$defaultMargin/2;
	padding:0;
	position:absolute;
	right:0px;
	top:0px;

	.roll-frame{
		@include roundies;
		@include background(
			url('../images/assets/noise.png'),
			$softShelbyBlue
		);
		@include box-shadow(inset 0px 1px 1px 0px #00C6DE);

		border:$menuStroke;
		margin-bottom:5px;
		padding:0;
	
		button{
			@include background(
				url('../images/assets/roll_action.svg') no-repeat 0px -1px
			);
			@include roundies;
			display:block;
			height:44px;
			margin:0;
			outline:0;
			text-decoration:underline;
			width:44px;
		}
	}
	.save-frame{
		@extend .roll-frame;
		@include background(
			url('../images/assets/noise.png'),
			$softShelbyGray
		);
		@include box-shadow(inset 0px 1px 1px 0px #8d8f90);

		button{
			@include background(
				url('../images/assets/saved_action.svg') no-repeat center center
			);
		}	
	}
	.remove-frame{
		@extend .save-frame;
		@include box-shadow(inset 0px 1px 1px 0px #c0224c);
		@include background(
			url('../images/assets/noise.png'),
			$softShelbyRed
		);

		button{
			@include background(
				url('../images/assets/remove.svg') no-repeat center center
			);
		}	
	}
}

.video-footer{
	@include softgradient;
	@include border-radius($radiusFooter);

	border-top:1px solid $inset;
	bottom:0;
	font-size:$font-size - 2;
	font-weight:700;
	height:27px;
	left:0;
	padding: 6px 8px 7px;
	position: absolute;
	width:100%;
}

.video-activity{
	//display:none;

}

.video-activity-comment{
	padding:$defaultMargin $defaultMargin 35px;
	textarea{
		@include border-radius($radius);
		padding:$defaultMargin/2;
		width:100%;
		resize:none;
	}

	.video-activity-comment-submit{
//		@extend .share-submit-button;
		@include form-button-small;
		@include background($softShelbyBlue);
		@include box-shadow(inset -1px 0px 1px 0px #79cae7);
		float:right;
		margin:3px 0;
		padding:0 7px;
		width:auto;
	}
}

.video-activity-toggle{

}

.video-activity-list{
	margin:0;
	padding-left:0;
	
	li{
		border-bottom:0;
		list-style-type:none;
		padding:0;

	}
	.user-vcard {
		padding-bottom:9px;
	}
}

.video-source{
	float:right;

}

.video-author{
	margin:0;
}


.user{
//	background:pink;
	@include softgradient;
}

.user-vcard{
	border-bottom:1px solid $outset;
	border-top:1px solid $inset;
	font-size:13px;
	font-weight:300;
	height:100%;
	padding: 0 9px 36px;
	a{
		text-decoration:none;
	}
}

.user-avatar{
	img{
		margin-right:7px;
		margin-top: 9px;
	}
}
.user-handle{
	font-size:11px;
	font-weight:700;
	color:#a4a4a4;
}

.user-post-date{
	@extend .user-handle;
	float:right;
	margin-top:9px;
	padding-right:3px;
}

.user-post-origin-twitter{
	a:before{
		content: image-url('../images/assets/twitter_stamp.svg');
		float:left;
		font-size:0.75em;
		margin:0 2px;
	}
}

.user-post-origin-facebook{
	@extend .user-post-origin-twitter;
	a:before{
		content: image-url('../images/assets/facebook_stamp.svg');
	}
}
.user-video-text{
	margin-top:-7px;

	p{
		margin:0 $defaultMargin/2 0 $defaultMargin*3+6;
	}
}
