@import "base";

.no-access {
	margin-top: 30px;
}

.private-beta-access {
	h2 {
	margin: 10px 0;
	}
	p.login {
	width: 205px;
	}
}

.email-gate {
	background-color: #101010;
	@include background(url('../images/email-gate/bg.png') no-repeat center center #101010);
	@include background-size(cover);
}

.email-gate-wrapper {
	margin: 0 auto;
	width: 480px;
}

.content-wrapper {
	margin: 15% auto 0;
	width: 1020px;
 
}
.embed-gate-wrapper {
	float: left;
	width: 500px;
}
.embed-gate-wrapper iframe { 
	width: 500px; 
	height: 300px;
}
.email-gate-wrapper.with-embed {
	float: left;
	margin-left: 40px;
}

.email-gate-header{

}

.email-gate-logo {
	@include background(url('../images/email-gate/landing_logo.svg') no-repeat center center transparent);

	background-size: 100%;
	float: left;
	height: 100px;
	margin-right: 18px;
	width: 50%;
}


.email-gate-slogan {
	float: left;
	font-size: 11px;
	line-height: 1.4;
	margin-top: 40px;
	width: 33%;
}


.email-gate-login{
	margin: $defaultMargin;
	position: absolute;
	right: 0;
	top: 0;
	width: 205px;
}

.email-gate-login-button {
	background: $shelby-green;
	@include background( linear-gradient(top, adjust-lightness($shelby-green, 10%), $shelby-green) );
	@include buttonfont;
	@include roundies;
	@include text-shadow(0px 1px 2px #222);
	
	border: none;
	box-shadow: 0 0 0 1px $shelby-green;
	color: #efefef;
	display: block;
	float: right;
	font-size: 13px;
	margin: 0 0 10px 20px;
	padding: 7px $defaultMargin+9px;
}

.email-gate-networks{
	@include background(#585858);
	@include roundies;

	box-shadow: inset 0 1px 2px -1px #999;
	display: none;
	margin-top: 45px;
	padding: 10px;
	position: relative;

	&:before{
		@include rotate(45deg);

		background: #585858;
		box-shadow: inset 1px 1px 2px -1px #999;
		content: "\0020";
		display: block;
		height: 10px;
		position: absolute;
		right: 31px;
		top: -5px;
		width: 10px;

	}

	.email-gate-error {
		color: #DADADA;
		font-size: 13px;
		margin-top: 10px;
	}

}

.email-gate-networks-twitter {
	//extended by .logged-out-twitter
	display: block;
	padding: 3px 3px 3px 36px;
	text-align: center;
	text-decoration: none;
	width: 100%;

	&:before {
		width: 36px;
	}
	&:visited {
		color: #efefef;
	}
}

.email-gate-networks-facebook {
	//extended by .logged-out-facebook
	display: block;
	margin-top: $defaultMargin;
	padding: 3px 3px 3px 36px;
	text-align: center;
	text-decoration: none;

	width: 100%;
		&:before {
		width: 36px;
	}
	&:visited {
		color: #efefef;
	}
}

.email-gate-error {
	color: $shelby-red;
}

.email-gate-signup {
	margin: 0 auto;
	text-align: center;
}

.email-gate-caption { 
	font-size: 13px;
	margin: 5px auto 10px;
	text-align: center;
	width: 100%;
}

.email-gate-label {
	display: block;
	font-size: 14px;
	font-weight: 300;
	line-height: 3.8;
	text-align: right;
}

.email-gate-code,
.email-gate-email {
	@include roundies(input);
	border: none;
	display: block;
	float: right;
	font-size: 14px;
	margin: 5px 25% 5px $defaultMargin;
	padding: $defaultMargin+2 $defaultMargin;
	width: 50%;
}

.email-gate-signup-submit{
	@include buttonfont;
	background: $shelby-blue;
	@include background( linear-gradient(top, adjust-lightness($shelby-blue, 10%), $shelby-blue) );
	@include roundies;
	@include text-shadow(0px 1px 2px #222);

	border: none;
	box-shadow: 0 0 0 1px $shelby-blue;
	color: #efefef;
	display: block;
	font-size: 13px;
	margin: $defaultMargin+4 auto;
	padding: 7px $defaultMargin+9px;
	width: 17%;
}

.email-gate-thank-you {
	display: none;
	margin-top: $defaultMargin;
	text-align: center;

	h1{
		font-size: 1em;
		margin-bottom: 2em;
	}
}

.detour{
	margin-top: 1.231em;
}