@import "base";

.gate {
	background-color: #101010;
	@include background(url('/images/t3.png') no-repeat center center #101010);
	@include background-size(cover);

	color: #efefef;
	font-size: 13px;
	line-height: 1.5;
}

.gate-wrapper {
	margin-top: 1em;
}

.gate-lining {
	margin-left: 170px;
	margin-top: 50px;
	width: 24em;
}

.gate-logo {
	@include background-size(contain);

	background-image: url('/images/assets/shelbylogo.svg');
	background-position: left center;
	background-repeat: no-repeat;
	clear: left;
	float: left;
	height: 40px;
	margin: 0 35px;
	width: 100px;
}

.gate-slogan {
	font-size: (11em/13);
	font-weight: 100;
	line-height: 4;
}

.gate-header {
	font-size: 2em;
}

.gate-subheader {
}

.gate-login {
	@include x-button-primer($shelby-blue);

	margin: 0 0 1.5em;

}

.gate-form {
	margin: 1em 0 2em;
}

.gate-form-input{
	@include inputfont;
	@include roundies(input);

	border: none;
	margin-left: 1px;
	margin-top: 1em;
	padding: 4px 3px;
	width: 61.8%;
}

.gate-form-submit{
	@include x-button-primer($shelby-green, small);

	display: block;
	margin-top: 0.5em;
}

.gate-no-access {
	@include x-button-primer($shelby-gray, small);

	color: $button-color;
	display: block;
	float: left;
	font-size: (11em/13);
	font-weight: 300;
	margin-top:3em;
	padding: 5px 9px;
	text-decoration: none;

	&:visited {
		color: $button-color;
	}
}

.gate-small {
	font-size: (10em/13);
}

.gate-networks-twitter{
	margin-top: 2em;
}

.gate-networks-twitter,
.gate-networks-facebook {
  display: block;
  padding: 4px 3px 3px 15px;
  text-align: center;
  text-decoration: none;
  width: 200px;	

  &:before {
    width: 36px;
  }
  &:visited {
    color: #efefef;
  }
}

.gate-networks-twitter {
  //extend existing
  @extend .logged-out-twitter;
}

.gate-networks-facebook {
  @extend .logged-out-facebook;
  margin-top: $defaultMargin;
}

.gate-input-error {
	color: #FF5200;
	font-size: (12em/13);
	padding-left: .5em;
}

