@import "base";

.guide-presentation-selector {
//  background-color: $guide-presentation-bg-color;
}

.guide-presentation-stream {
  //needs refactoring eventually:
  //x-tab-primer is applying a slew of backgrounds which are then overwritten by the consective background style.
  @extend .notype;
  @include x-tab-primer($guide-presentation-tab-bg-color);
  @include background(
    url("../images/assets/stream.svg") no-repeat center center,
    linear-gradient(top, adjust-lightness($guide-presentation-tab-bg-color, 10%), $guide-presentation-tab-bg-color)
  );
  @include roundies;
  margin-left: $default-margin;
  padding: 13px 33px;
}

.guide-presentation-filter {
  margin: 7px 4px 7px 85px;
  padding: 0;
}

.guide-presentation-filter-item {
  list-style-type: none;
 
 .guide-presentation-button {
    @include x-tab-primer($guide-presentation-tab-bg-color);
    padding: 6px;
    width: 33%;
 }

  &:first-child{
    button {
      //left rounded
      border-radius: $radius 0 0 $radius;
      border-right: none;
    }
  }
  &:last-child {
    button {
      //right rounded
      border-radius: 0 $radius $radius 0;
      border-left: none;    
    }
  }
}

.guide-presentation-button {
   &.guide-presentation-content-selected{
    @include background(    
      linear-gradient(top, adjust-lightness($guide-presentation-tab-bg-selected, 10%), $guide-presentation-tab-bg-selected)
    );
    box-shadow: inset 0 1px 1px 0 adjust-lightness($guide-presentation-tab-bg-selected,2%);
    
    &.guide-presentation-stream {
      @include background(
        url("../images/assets/stream.svg") no-repeat center center,
        linear-gradient(top, adjust-lightness($guide-presentation-tab-bg-selected, 10%), $guide-presentation-tab-bg-selected)
      );
      box-shadow: inset 0 1px 1px 0 adjust-lightness($guide-presentation-tab-bg-selected,2%);
    }
  }
}