@import "base";
		
#guide-overlay-controls {
  position: absolute;
  right: 0;
  top: 50%;
  z-index: 10;
}

.guide-toggle {
  @include transition-property('width, right');
	@include transition-duration(.5s);
	@include transition-timing-function(ease-in-out);
	@include transition-delay(.1s);
  
  background-color: #0e0e0e;
  bottom: 0;
  border: 1px solid #202020;
  border-right: none;
  border-radius: $radius 0 0 $radius;
  box-shadow: 2px 2px 5px 0px #333;  
  cursor: pointer;
  height: 45px;
	overflow: hidden;
  padding-right: 0;
  position: absolute;
  right: 0;
  width: 29px;
	
	.copy { 
    @include transition-property(opacity);
  	@include transition-duration(.5s);
  	@include transition-timing-function(ease-in-out);
  	@include transition-delay(0s);

    @include basefont;
    @include opacity(0.0);
  	
  	color: #fff;
    font-size: 14px;
    position: absolute;
    right: 33px;
    top: 13px;
    width: 70px;
  }
  
	.icon {
	  @include transition-property(rotate);
  	@include transition-duration(.5s);
  	@include transition-timing-function(ease-in-out);
    
	  background:url('../images/assets/guide.svg') no-repeat center center transparent;
	  float: right;
	  height: 20px; 
	  width: 20px;
  }
}

.guide-toggle.show {
  @include transition-delay(0s);
  
  .icon {
    @include rotate(180deg);
  }
  
  .copy { 
    @include opacity(0.0);
  }
}

.user-inactive .guide-toggle.hide, .guide-toggle.hide:hover {
  @include transition-delay(0s);
    
  width: 112px;
  
  .copy {
    @include opacity(1.0);
    @include transition-delay(.2s);
  }
}

.guide-toggle.hide:hover {
  @include transition-duration(.1s);
  .copy {
    @include transition-duration(.1s);
    @include transition-delay(.1s);
  }
}

.user-inactive .guide-toggle.show {
  border: none;
  box-shadow:none;
  right: -35px;
}