@import "base",
		"compass",
		"compass/css3",
		"compass/css3/border-radius",
		"compass/css3/box-shadow";

.guide-education {
	padding: 0 !important;
}

.guide-education-lining {
	background: $flatEducationYellow;
	@include background($softEducationYellow);
	border: 1px solid adjust-lightness($flatEducationYellow,-5%);
	position:relative;

	p {
		color: #000;
		font-size: 12px;
		font-weight: 500;
		margin-left: 10px;
		margin-right: 48px;
		margin-top: 10px;
	}
}

.guide-education-close {
	@include background(
		url('../images/assets/remove_notification.svg') no-repeat center center transparent
	);
	border: none;
	color: #333;
	cursor: pointer;
	height: 10px;
	margin: 10px;
	position: absolute;
	right: 0;
	top: 0;
	width: 10px;
}

