@import "base",
		"compass/css3/border-radius",
		"compass/css3/box-shadow";
*{
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	box-sizing: border-box;
}
body{font-size:$font-size;}
h1,h2,h3,h4,h5,h6{line-height:1.231;margin:0;}

// parent references 
a{
	color:green;
	
	&:hover{
		color:black;
	}
	&:visited{
		color:red;
	}
}

menu{
	margin:0;
	padding:0;
}

.content{
	float:right;
	width:330px;

}

.notype{
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;

}