@import "base",
		"compass",
		"compass/css3",
		"compass/css3/border-radius",
		"compass/css3/box-shadow";

/* non-programatic changes to app display */
body.isolated-roll {
  
  /* adjust the name and avatar of the visible isolated roll */
  .current-roll {
    font-size: 2.2em;
    line-height: 1.75;
  }
  .current-roll-avatar {
    height: 40px;
    width: 40px;
  }
  
  /* hide the roll nav buttons */
  .rolls-list-nav, .rolls-back { display: none; }
  
  /* don't need a border above/below the roll title */
  .filter-controls { border: none; }
  
  /* hide the frame's tool-bar and new-conversation */
  .frame-controls { display: none; }
  
  /* don't show any education */
  .guide-education { display: none!important; }

  .context-overlay-lining {
    .video-card-header {
      border-bottom: none;
    }

    .frame-locator {
      display: none;
    }

    .frame-creator-roll {
      width: inherit;
    }

    .frame-title {
      width: 83%;
    }
  }

}