@import "base",
		"compass",
		"compass/css3/border-radius",
		"compass/css3/box-shadow";

h1,h2,h3,h4,h5,h6{line-height:1.231;margin:0;}

body{
	@include fontcolor;
	@include basefont;

	@include background(
		url('../images/assets/noise.png') #005500
	);
}

a{
	color: #a4a4a4;
	
	&:hover, 
	&:visited,
	&:active{
		color: #a4a4a4;
	}

}

.content{
	float:right;
	width:330px;
}

.main{
	@extend .content;

	background:pink;
	font-size:1.3em;

}

.content-body{
	height:650px;
	overflow-x:hidden;
	overflow-y:scroll;

}