@import "base",
		"compass",
		"compass/css3",
		"compass/css3/border-radius",
		"compass/css3/box-shadow";

#roll-header,.roll-header{
	@include background(
		url('../images/assets/noise.png') $rollsBG
	);
	display:none;

//	border-top:1px solid #222;
}

.rolls-menu{
//	background:$rollsBG;
	margin:0;
	padding:0;

	li {
		display:block;
		float:left;
		list-style-type:none;
		margin:0;
		padding:$defaultMargin;
		width:50%;
	}
}

.rolls-add{
	@include rolls-menu-button;
}

.rolls-invite{
	@extend .rolls-add;	
}

.rolls-share{
	@extend .rolls-add;
	@include box-shadow(inset -1px 0px 1px 0px #79cae7);
	background:$flatShelbyBlue;
	@include background(
		$softShelbyBlue
	);
}

.rolls-leave{
	@extend .rolls-add;
	@include box-shadow(inset -1px 0px 1px 0px adjust-lightness($shelbyGreen,-30%));
	background:$flatShelbyGreen;
	@include background(
		$softShelbyGreenDeboss
	);	
}

.share-dialog{

	background:#585858;
	border-bottom:1px solid #222;
	padding:0 $defaultMargin;
	display:none;
	position:relative;
	z-index:1;

}

.share-form{

}

.share-comment{
	position:relative;
//	padding:$defaultMargin;

	textarea{
		@include border-radius($radius);
		
		resize:none;
		width:100%;
	}

	.video-shared{
		@extend .video-saved;
		@include border-radius($radius);
		padding-top:15px;
	}
}

.share-networks{
	float:left;
	width:50%;
}

.share-networks-list{

	margin:0;
	padding:0;

	li{
		display:inline-block;
		list-style-type:none;
		margin:$defaultMargin $defaultMargin $defaultMargin 0;

	}
}

.networks-twitter{
	@extend .notype;
	@include background(
		url('../images/assets/rolls_share_twitter_off.svg') no-repeat center center,
		$softNetworksUnselected

	);
	@include border-radius($radius/2);
	@include box-shadow(inset 0px 1px 1px 0px #777);

//	background-size:80%;
	border:1px solid black;
	height:34px;
	width:34px;

	&.active{
		@include background(
			url('../images/assets/rolls_share_twitter_on.svg') no-repeat center center,
			$softTwitterBlue
		);
		@include box-shadow(inset 0px 1px 1px 0px #00d0e5);

	}

}

.networks-facebook{
	@extend .networks-twitter;
	@include background(
		url('../images/assets/rolls_share_facebook_off.svg') no-repeat center center,
			$softNetworksUnselected
		);
		@include box-shadow(inset 0px 1px 1px 0px #777);
	
	&.active{
		@include background(
			url('../images/assets/rolls_share_facebook_on.svg') no-repeat center center,
			$softFacebookBlue
		);
		@include box-shadow(inset 0px 1px 1px 0px #0179c1);

	}

}

.share-submit{
	float:right;
	width:50%;
}

.share-submit-button{
	@include form-submit-button;
	.spinner{
		left:278px;
		top:7px;
	}
}
//.rolls{
//	background:$myBlue;
//	margin: 0;
//	padding:0;
	
//	a{
//		border:1px solid darkGreen;
//		display:block;
//	}

//	h1{
//		line-height:2.231;
//		position:relative;
//	}

//	img{
//		float:left;
//		margin-right:$defaultMargin;
//		width:50px;
//	}	
	
//	li{
//		list-style-type:none;

//	}
//	.public{
//		h1:after{
//			content: "%";
//			padding-right:$defaultMargin/1.5;
//			float:right;
//		}

//	}
//	.private{
//		@extend .public;
		
//		h1:after{
//			content: "&";
//		}
//	}

//}