@import "base";

.rolls-list{
	@extend .list;

	padding:0;
	position:relative;
	margin:0;

	a{	
		cursor:pointer;
		display:block;
		padding: 5px;

		&:hover{
			background-color: #6d6d6d;
		}
	}

	li{
		padding:0;
	}

	.active-list-item{
		position:relative;

		.roll-item-creator {
			color: $rolls-inset;
		}

		.roll-item-title,
		.roll-item-people {
			color: $rolls-inset;
		}

		a{
			color:#000;
		}

		h2{
			height:36px;
			overflow:hidden;
			text-overflow:ellipsis;
			white-space:nowrap;
			width:160px;

			&:after {
			  content: "Now Playing";
			  color: $inset;
			  padding-top: 10px;
			  padding-right: 10px;
			  position: absolute;
			  right: 0;
			  top: 0;
			}
		}
	}
}
