@import "base";

.existing-rolls-list {
	.rolling-main-header {
		border-top: none;
	}
}

.existing-rolls-list > ul {
	@extend .list;

	cursor: pointer;
	
	a {
		display: block;
		height: inherit;
		text-decoration: none;

		&:visited{
			text-decoration: none;
		}

		&:hover,
		&:active{
			text-decoration: underline;
			.roll-selection-item-add {
				text-decoration: underline;
			}
		}
	}
}

.roll-selection-item {
	border-bottom:  1px solid $inset;
}

.rolling-public-roll {
	.roll-selection-item-lining {
		background: url('/images/assets/lock-public.svg') no-repeat right center transparent;
	}
}

.rolling-private-roll {
	.roll-selection-item-lining {
		background: url('/images/assets/lock_private.svg') no-repeat right center transparent;
	}
}

.roll-selection-item-lining {
//	border-bottom:  1px solid $inset;
	border-top:  1px solid $outset;
	border-right:  1px solid $outset;
	margin-right: 45px;
}

.roll-selection-item-thumbnail {
	float: left;
	height: 40px;
	margin: 5px 10px 5px 5px;
	width: 40px;
}

.roll-selection-item-title {
	@include ellipsis();

	font-size: 14px;
	padding-top: 10px;
	padding-right: 45px;
}

.roll-selection-item-state {
	font-size: 11px;
	color: #777;
}

.roll-selection-item-add {
	background-color: adjust-lightness($guide-bg-color, -2%);
	background-image: url($icon-video-card-roll-off);
	background-position: center 26px;
	background-repeat: no-repeat;
	background-size: 25%;
	border-top: 1px solid adjust-lightness($outset, -5%); 
	border-left: 1px solid adjust-lightness($inset, -5%); 
	float: right;
	font-weight: 500;
	font-size: 11px;
	height: 50px;
	padding: 8px;
	width: 45px;
	text-align: center;
}