@import "base";

.existing-rolls-list ul {
	@extend .list;

	cursor: pointer;
	
	a {
		display: block;
		padding: $defaultMargin/2;
		text-decoration: none;

		&:visited{
			text-decoration: none;
		}

		&:hover,
		&:active{
			text-decoration: underline;
		}
	}

	li {
		border-bottom:  1px solid $inset;
		border-top:  1px solid $outset;
		padding: $defaultMargin/2;

		&:last-child {
			border-bottom: none;
		}
	}

}