@import "base";

.rolls-list{
	@extend .list;

	padding:0;
	position:relative;
	margin:0;

  .roll-item-header:hover{
		background-color: #6d6d6d;
	}

	a{	
		cursor:pointer;
		display:block;
		padding: 5px;
	}

	li{
		padding:0;
	}

	.active-list-item {
		position:relative;

		.roll-item-button {
			&:after {
		    @include box-shadow(0 0 86px 70px adjust-lightness($shelby-green, -15%));
			}
		}
//    .roll-item-header {
//      @include background( linear-gradient(top, adjust-lightness($shelby-green, 10%), $shelby-green) );
//    }
		
//		.roll-item-creator{
//      color: $shelby-gray;
//    }

//		.roll-item-title {
//		  color: adjust-lightness($shelby-gray, -10%);
//			overflow:hidden;
//			text-overflow:ellipsis;
//			white-space:nowrap;

//			&:before {
//			  content: "On Now: ";
//			  font-style: italic;
//			}
//		}
	}
}
