@import "base";

#roll-header,
.roll-header {
	background-color: $rolls-bg-color;
	display: none;
}

.rolls-menu {
	margin: 0;
	padding: 0;

	li {
		display: block;
		float: left;
		list-style-type: none;
		margin: 0;
		padding: $defaultMargin;
		width: 75%;
		&:last-child {
			padding-left: 0;
			width: 25%;
		}
		&:nth-last-child(2){ 
			display: none;
			padding-left: 0;
			width: 25%;
		}
	}
}

.rolls-add {
	@include x-button-primer($shelby-green);
	
	float: right;
	margin-top: 0;
	width: 100%;
}

.rolls-invite {
	@extend .rolls-add;	
}

.rolls-share {
	@extend .rolling-main-done;
	float: left;
	margin-top: 0 !important;
	width: 100%;
}

.rolls-leave {
	@include x-button-primer;
	float: right;
	margin-top: 0;
}

.rolls-edit{
	@extend .rolls-leave;
	width: 100%;
}

.rolls-share-cancel {
	@extend .rolls-leave;
	margin-top: 0;
}

.share-dialog {
	background:#585858;
	padding:0;
	display:none;
	position:relative;
	width:100%;
	z-index:1;
}

.share-form {
	background: #494949;
	padding: 0;
	position: relative;

	fieldset {
		border-top: 1px solid $rolls-outset;
		border-bottom: 1px solid $rolls-inset;
		padding: 0 $defaultMargin $defaultMargin;

		&:first-child {
			border-top: none;
		}
		&:last-child {
			border-bottom: none;
		}
	}

	legend,
	label {
		float: left;
		font-weight: 500;
		margin: $defaultMargin - 2 0 $defaultMargin - 5;
		width: 100%;
	}
}

.share-comment {
	position:relative;

	textarea {
		@include roundies(input);
		
		padding:$defaultMargin/2;
		resize:none;
		width:100%;
	}

	.video-shared {
		@extend .video-saved;
		@include roundies;
		
		padding-top:15px;
	}
}

.share-networks {

}

.share-networks-list {
	float: left;
	margin: 0;
	padding: 0;

	li {
		display: inline-block;
		list-style-type: none;
		margin: 0 $defaultMargin $defaultMargin 0;

	}
}

.networks-twitter,
.networks-facebook {
	@include share-networks-buttons;
}

.networks-twitter {
	button {
		@include background(
			url('../images/assets/rolls_share_twitter_off.svg') no-repeat 1px 5px,
			linear-gradient(top, adjust-lightness($networks-unselected, 20%),$networks-unselected)
		);

	}
	&.active {
		button {
			background-color: $twitter-blue;
			@include background(
				url('../images/assets/rolls_share_twitter_on.svg') no-repeat 1px 5px,
				linear-gradient(top, adjust-lightness($twitter-blue, 20%),$twitter-blue)
			);
		}
	}
}

.networks-facebook {
	button {
		@include background(
			url('../images/assets/rolls_share_facebook_off.svg') no-repeat center center,
			linear-gradient(top, adjust-lightness($networks-unselected, 20%),$networks-unselected)
		);

	}
	&.active {
		button {
			background-color: $facebook-blue;
			@include background(
				url('../images/assets/rolls_share_facebook_on.svg') no-repeat center center,
				linear-gradient(top, adjust-lightness($facebook-blue, 20%),$facebook-blue)
			);
		}
	}
}

.share-submit {
}

.share-submit-button {
	@include x-button-primer($shelby-blue);

	margin-top: 10px;
	width: 100%;

	.spinner {
		left: auto;
		margin-left: auto;
		margin-top: auto;
		position: static;
	}
}
