.filter-controls{
	@include background(
		url('../images/assets/noise.png')
		$rollsBG
	);

	border-top:1px solid #333;
	border-bottom:1px solid #333;
	font-size:11px;
	font-weight:700;
	margin:0;
	padding:0;
	position:relative;
	text-align:center;
	width:100%;

	li{
		display:block;
	}

}

.current-roll{
	float:left;
	font-size:1.2em;
	line-height:2.75;
	padding:$defaultMargin/2;
	text-align:center;
	width:100%;
}


//	GROSS HACKY WAY
//	NEEDS TO BE CLEANED UP
//	XXX
.current-roll-avatar {
	display:inline-block;
	height:15px;
	left:-14px;
	position:relative;
	width:12px;
	top:-2px;
	span{
		display:block;
		height:25px;
		overflow:hidden;
		position:relative;
		width:25px;

	}
	img{
		overflow:hidden;
		height:100%;
		left:0;
		position:absolute;
		top:5px;
	}
}

@mixin backandforth{
	float:left;
	height:20px;
	padding:$defaultMargin/2 $defaultMargin;
	width:50%;
}

.rolls-back{
	@include background($softShelbyDarkGray);
	@include backandforth;
	@include border-radius($radius);	
	@include buttonfont;
	border:1px solid #222;
	color:#efefef;
	height:26px;
	left:$defaultMargin+7;
	padding:$defaultMargin/2 $defaultMargin $defaultMargin/2 $defaultMargin/2;
	position:absolute;
	top:$defaultMargin;
	width:auto;
	i{
		@include background(
			$softShelbyDarkGray
		);
		@include border-radius(0 100% 0 5px);
		@include rotate($default-rotate);
		border-bottom:1px solid #222;
		border-left:1px solid #222;
		display:block;
		height:17px;
		left:-8px;
		position:absolute;
		top:4px;
		width:17px;
	}
}

.rolls-list-nav{
	@extend .notype;
	padding:$defaultMargin;
	position:absolute;
	right:0;
	top:0;
	width:25%;
}

.roll-back{
	@include background(
		url('../images/assets/navarrow_left.svg') no-repeat center center,
		$softShelbyDarkGray
	);
	@include backandforth;
	@include border-radius($radius 0 0 $radius);
	border:1px solid #222;
	height:26px;
	text-align:left;
}
.roll-next{
	@include background(
		url('../images/assets/navarrow_right.svg') no-repeat center center,
		$softShelbyDarkGray
	);
	@include backandforth;
	@include border-radius(0 $radius $radius 0);
	border:1px solid #222;
	height:26px;
	text-align:right;
}