@import "base";

.roll-item {
	&:last-child {
		.roll-item-lining {
			border-bottom: none;
		}
	}

  &:hover {
    .roll-item-header {
      background-color: #6d6d6d;
    }
  }
}

.roll-item-lining,
.roll-item-people-lining {
  border-bottom: 1px solid $inset;
  border-top: 1px solid $outset;
}

.roll-item-lining {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
//  border-radius: 5px;
//  margin: 5px 10px;
  overflow: hidden;
}

.missing-roll-thumbnail {
	background-size: 25%;
}

.roll-item-button,
.roll-item-people-button {
  overflow: hidden;
  position: relative;
  z-index: 1; 

}

.roll-item-button{
  height: 150px;

  &:after {
    bottom: -2px;
    box-shadow: 0 0 86px 70px black;
    content: "\0020";
    height: 1px;
    margin-top: 10px;
    position: absolute;
    width: 100%;
  }

  &:hover {
    &:after {
      box-shadow: 0 0 86px 70px $shelby-gray;
//      box-shadow: 0 0 86px 70px adjust-lightness($shelby-green, -25%);
    }
  }
}

.roll-item-people-button {
  padding: 0;

  &:hover {
    &:after {
      bottom: -2px;
      box-shadow: 0 0 44px 16px adjust-lightness($shelby-gray, 2%);
      content: "\0020";
      height: 1px;
      margin-top: 10px;
      position: absolute;
      width: 100%;
    }
  }
}

.roll-item-container {
	bottom: 0;
	left: 0;
	margin-bottom: 10px;
	padding: 0; 
	position: absolute;
	width: 100%;
	z-index: 1;

	a {
		text-decoration: none;

		&:active,
		&:visited {
			text-decoration: none;
		}

		&:hover {
			text-decoration: underline;
		}
	}
}

.roll-item-container-column {
	float: left;
  position: relative;
	width: 50%;
  z-index: 1;
}

.roll-item-title,
.roll-item-creator {
	@include ellipsis();
}

.roll-item-title { 
	clear: right; 
	color: #bfbfbf;
  font-size: 13px;
  height: 19px;
  line-height: 17px;
  padding: 0 8px 0;
}

.roll-item-creator {
  color: #999;
  font-size: 11px;
  font-weight: 300;
  height: 1.9em;
  margin-top: 4px;
  padding: 6px 8px 0;
}

.roll-item-people {
  @extend .roll-item-title;

  margin-top: 12px;
}

.roll-item-total,
.roll-item-watched {
  font-size: 11px;
  font-weight: 100;
  padding-right: 8px;
  text-align: right;
}

.roll-item-total {
  margin-top: 12px;
  padding-bottom: 3px;
}

.roll-item-people-button {
  .roll-item-total {
    margin-top: 6px;
  }

  .roll-item-total,
  .roll-item-watched {
    color: #666;
  }
}

.active-list-item {
  .roll-item-people-button {
    background-color: $shelby-green;
    @include background( linear-gradient(top, adjust-lightness($shelby-green, 10%), $shelby-green) );
    &:hover{
      &:after{
        box-shadow: 0 0 44px 16px adjust-lightness($shelby-green, -5%);
      }
    } 
  }

  .roll-item-title {
    color: #fefefe;
  }

  .roll-item-total,
  .roll-item-watched {
    color: #444;
  }
}

.roll-item-watched {

}

.roll-item-avatar,
.roll-item-people-avatar {
	float: left;
	height: 40px;
  overflow: hidden;
	width: 40px;
}

.roll-item-people-avatar {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

  img {
    height: 100%;
  }
}

.roll-item-footer {
	height: 78px;
	margin-bottom: 2px;
}

.roll-item-stats {
	@include gradient-primer;
	float: right;
	height: inherit;
	cursor: pointer;
	width: 46px;
}

.roll-item-stats-count {
	border-bottom: 1px solid $bottom-color;
	display: block;
	font-size: 20px;
	font-weight: 500;
	height: 50%;
	line-height: 2;
	margin: 0 3px;
	text-align: center;

	&:after {
		background: url($icon-chevron-right) no-repeat center center transparent;
		content: "\0020";
		display: block;
		height: 100%;
		width: 100%;
	}
}

.roll-item-thumbnail {

}

.roll-item-contents {
	height: inherit;
	margin-right: 46px;
}

.roll-item-contents-list {
	height: inherit;
	margin: 0;
	padding: 0;
	position: relative;
}

.roll-item-contents-thumbnail {
	background-color: #111;
	cursor: pointer;
	height: inherit;
	left: 0;
	margin: 0px 2px 0 0;
	overflow: hidden;
	position: absolute;
	right: 0;
	top: 0;
	
	.thumbnail {
	  width: 100%;
	  height: 100%;
	  opacity: 0.5;
  }
  .missing-placeholder {
    width: 10%;
    margin-top: 7%;
    display: none;
  }
  
  &.missing {
    text-align: center;
    .thumbnail { display: none; }
    .missing-placeholder { display: inline; }
  }
}

.roll-item-people-lining {
  //see line 17 for shared styles
}

.roll-item-people-avatar {

}
