@import "base";
@import "compass/typography/links/unstyled-link";

html,body{
	height:100%;
	margin:0;
	padding:0;
	width:100%;
}

body{
	@include basefont;

	background-color:#101010;
	bottom:0;
	color: #a4a4a4;
	left:0;
	position:absolute;
	right:0;
	top:0;
}

a {
	@include unstyled-link;

	&:hover, 
	&:visited,
	&:active{
		color: inherit;
	}
}

p {
	margin: 1px;
}

.seovideo {
	@include background(
		url('../images/seovideo/bg.png') 0 0 repeat #101010
	);
}

.seovideo-wrapper {
	margin: 0 auto;
	width:874px;
}

.content-wrapper {
	width: 100%;
	margin: 0px;
}

.seovideo-header {
	margin:0px;
	height:47px;
        @include background-image(linear-gradient(#2e3132, #171819));
}

.seovideo-header-contents {
	margin:0 auto;
	height:47px;
	width:874px;
}

.seovideo-headerrule {
	height: 2px;
	width: 100%;
	color: #303234;
	background-color: #303234;
	margin: 0px 0px 0px 0px;
	border-top-color: black;
}

.seovideo-logo {
	float: left;
	width: 100px;
	padding-top: 13px;
}

.seovideo-slogan {
	font-size: 12px;
	font-weight: 400;
	padding-top: 20px;
	margin: 0 auto;
	width: 500px;
	text-align: center;
}

.seovideo-pitch {
	height: 38px;
	font-size: 12px;
	font-weight: 400;
	margin-top: 25px;
}

.seovideo-embed {
	float: left;
	width: 640px;
	padding: 0px;
	margin-top: 9px;
}

.seovideo-details {
	font-size: 12px;
	font-weight: 400;
	line-height: 1.4;
	float: left;
	width: 640px;
	padding: 0px;
	margin-top: 5px;
	margin-bottom: 28px;
}

.seovideo-messages {
	float: left;
	width: 640px;
}

.seovideo-relatedvideo-header {
	height: 28px;
}

.seovideo-relatedvideos {
	width: 194px;
	margin-top: 44px;
	padding: 0px;
}

.seovideo-leftcol {
	float: left;
	width: 640px;
	padding: 0px;
}

.seovideo-rightcol {
	font-size: 12px;
	font-weight: 400;
	float: right;
	width: 194px;
	padding: 0px;
	margin-left: 40px;
}

.seovideo-relatedvideo {
	width: 194px;
	margin: 0px 0px 10px 0px;
}

.seovideo-relatedvideo-title {
	font-size: 10px;
	font-weight: 100;
	margin: 4px 0px 0px 0px;
	max-height: 20px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.seovideo-message {
	margin: 10px 10px 10px 10px;
}

.seovideo-message-image {
	float: left;
	width: 50px;
	padding: 0px;
	margin: 0px;
}

.seovideo-messagenickname {
	font-size: 12px;
	font-weight: 600;
	margin-left: 60px;
        padding-top: 2px;
}

.seovideo-messagedate {
	color: white;
	font-size: 10px;
	margin-top: 10px;
	margin-left: 60px;
}

.seovideo-messagetext {
	color: white;
	font-size: 12px;
	margin-left: 60px;
	margin-top: 5px;
	line-height: 1.4;
}
