@import "compass/typography/links/unstyled-link";

html,body{
	height:100%;
	margin:0;
	padding:0;
	width:100%;
}

body{
	@include basefont;

	background-color:#101010;
	bottom:0;
	color: #a4a4a4;
	left:0;
	position:absolute;
	right:0;
	top:0;
}

a {
	@include unstyled-link;

	&:hover, 
	&:visited,
	&:active{
		color: inherit;
	}
}

p {
	margin: 1px;
}

.seovideo {
	@include background(
		url('../images/seovideo/bg.png') 0 0 repeat #101010
	);
}

.seovideo-wrapper {
	margin: 0 auto;
	width:874px;
}

.seovideo-wrapper-mobile {
	margin: 0 auto;
	width:320px;
}

.content-wrapper {
	width: 100%;
	margin: 0px;
}

.seovideo-header {
	margin:0px;
	height:47px;
        @include background-image(linear-gradient(#2e3132, #171819));
}

.seovideo-header-mobile {
	margin:0px;
	height:47px;
        @include background-image(linear-gradient(#2e3132, #171819));
}

.seovideo-header-contents {
	margin:0 auto;
	height:47px;
	width:874px;
}

.seovideo-header-contents-mobile {
	margin:0 auto;
	height:47px;
	width:320px;
}

.seovideo-headerrule {
	height: 2px;
	width: 100%;
	color: #303234;
	background-color: #303234;
	margin: 0px 0px 0px 0px;
	border-top-color: black;
}

.seovideo-logo {
	float: left;
	width: 100px;
	padding-top: 13px;
}

.seovideo-logo-mobile {
	float: left;
	margin-left: 6px;
	width: 34px;
	padding-top: 15px;
	overflow: hidden;
}

.seovideo-slogan {
	font-size: 12px;
	font-weight: 400;
	padding-top: 20px;
	margin: 0 auto;
	width: 500px;
	text-align: center;
}

.seovideo-slogan-mobile {
	font-size: 11px;
	font-weight: 400;
	padding-top: 20px;
	margin: 0 auto;
	width: 310px;
	text-align: center;
}

.seovideo-pitch {
	height: 38px;
	font-size: 12px;
	font-weight: 400;
	margin-top: 25px;
}

.seovideo-pitch-mobile {
	height: 44px;
	font-size: 11px;
	font-weight: 300;
	margin-top: 12px;
	text-align: center;
}

.seovideo-embed {
	float: left;
	width: 640px;
	padding: 0px;
	margin-top: 9px;
}

.seovideo-embed-mobile {
	width: 310px;
	padding: 0px;
	margin-top: 9px;
	margin-left: auto;
	margin-right: auto;
}

.seovideo-details {
	font-size: 12px;
	font-weight: 400;
	line-height: 1.4;
	float: left;
	width: 640px;
	padding: 0px;
	margin-top: 5px;
	margin-bottom: 28px;
}

.seovideo-details-mobile {
	font-size: 10px;
	font-weight: 300;
	line-height: 1.2;
	width: 310px;
	padding: 0px;
	margin-top: 5px;
	margin-bottom: 15px;
	margin-left: auto;
	margin-right: auto;
}

.seovideo-messages {
	float: left;
}

.seovideo-relatedvideo-header {
	height: 33px;
}

.seovideo-relatedvideo-header-mobile {
	height: 20px;
	width: 310px;
	font-size: 10px;
	font-weight: 400;
}

.seovideo-relatedvideos {
	width: 194px;
	margin-top: 39px;
	padding: 0px;
}

.seovideo-relatedvideos-mobile {
	width: 310px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5px;
	margin-bottom: 5px;
	padding: 0px;

        text-align: justify;
        -ms-text-justify: distribute-all-lines;
        text-justify: distribute-all-lines;
}

.seovideo-leftcol {
	float: left;
	width: 640px;
	padding: 0px;
}

.seovideo-rightcol {
	font-size: 12px;
	font-weight: 400;
	float: right;
	width: 194px;
	padding: 0px;
	margin-left: 40px;
}

.seovideo-relatedvideo {
	width: 194px;
	margin: 0px 0px 10px 0px;
}

.seovideo-relatedvideo-mobile {
	width: 94px;
	vertical-align: top;
	display: inline-block;
	*display: inline;
	zoom: 1;
}

.seovideo-relatedvideo-title {
	font-size: 10px;
	font-weight: 100;
	margin: 4px 0px 0px 0px;
	max-height: 20px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.seovideo-message {
	margin: 10px 10px 10px 10px;
}

.seovideo-message-mobile {
	margin: 5px 5px 5px 5px;
}

.seovideo-message-image {
	float: left;
	width: 50px;
	padding: 0px;
	margin: 0px;
}

.seovideo-messagenickname {
	font-size: 12px;
	font-weight: 600;
	margin-left: 60px;
        padding-top: 2px;
}

.seovideo-messagedate {
	color: white;
	font-size: 10px;
	margin-top: 10px;
	margin-left: 60px;
}

.seovideo-messagetext {
	color: white;
	font-size: 12px;
	margin-left: 60px;
	margin-top: 5px;
	line-height: 1.4;
}

.seovideo-message-image-mobile {
	float: left;
	width: 36px;
	padding: 0px;
	margin: 0px;
}

.seovideo-messagenickname-mobile {
	font-size: 11px;
	font-weight: 400;
	margin-left: 46px;
}

.seovideo-messagedate-mobile {
	color: white;
	font-size: 8px;
	margin-top: 8px;
	margin-left: 46px;
}

.seovideo-messagetext-mobile {
	color: white;
	font-size: 10px;
	margin-left: 46px;
	margin-top: 4px;
	line-height: 1.2;
}
