@import "base",
		"compass",
		"compass/css3",
		"compass/css3/border-radius",
		"compass/css3/box-shadow";

.about-team{
	dt{
		&:before{
			border:1px solid black;
			content:"\0020";
			display:block;
			height:172px;
			margin-bottom:$defaultMargin;
			width:100%;
		}
	}
	a{
		color: #efefef;
	}
}

.about-team-nav{
	li{
		float:left;
		list-style-type:none;
		width:50%;
	}
}

.about-header{
	h1{
		border-bottom:1px solid #222;
		font-size:16px;
		font-weight:500;
		line-height:2.75;
		margin:0 $defaultMargin $defaultMargin;
	}
}

.about-nav{
	margin:$defaultMargin;
	padding:0;

	a{
		text-decoration:none;

		&:hover,
		&:active{
			text-decoration:underline;
		}
		&:visited{
			text-decoration:none;
		}
	}

	h2,
	h3{
		font-size: 12px;
		line-height: 1.4;
	}
	h2{
		font-weight: 300;
	}

	h3{
		font-weight: 100;
	}
	li{
		list-style-type: none;
		margin-bottom: .5em;
	}
}

.about-term-list{
	dt{
		font-weight:500;
		margin:$defaultMargin $defaultMargin 0;
	}
	dd{
		margin:0 $defaultMargin;
		padding:0;
		&.about-definition{
			margin-top:$defaultMargin;
		}
	}
}

.about-definition-peripherals{
	@extend .about-nav;
	line-height: 1.5;
	list-style-type:none;
	margin:$defaultMargin 0 $defaultMargin*2 0;

	li{
		float:none;
		margin-bottom: 0;
		width:auto;
	}
}

.about-external-twitter {
	a{
		@include background(
			url('../images/assets/team_twitter.svg') no-repeat center left transparent
		);
		padding-left:22px;
	}
}

.about-external-link {
	a{
		@include background(
			url('../images/assets/team_web.svg') no-repeat center left transparent
		);
		padding-left:22px;
	}
}

.pacheco:before{
	background:url('../images/team/1_reece.gif') no-repeat center center transparent;
}
.spinosa:before{
	background:url('../images/team/2_dan.gif') no-repeat center center transparent;
}
.sztul:before{
	background:url('../images/team/3_henry.gif') no-repeat center center transparent;
}
.recny:before{
	background:url('../images/team/4_myles.gif') no-repeat center center transparent;
}
.kurdziel:before{
	background:url('../images/team/5_chris.gif') no-repeat center center transparent;
}
.johnson:before{
	background:url('../images/team/6_mark.gif') no-repeat center center transparent;
}
.appelwick:before{
	background:url('../images/team/7_lauren.gif') no-repeat center center transparent;
}
.samberg:before{
	background:url('../images/team/8_josh.gif') no-repeat center center transparent;
}
.iadevaia:before{
	background:url('../images/team/9_vincent.gif') no-repeat center center transparent;
}
.matyus:before{
	background:url('../images/team/10_mike.gif') no-repeat center center transparent;
}
.sabintsev:before{
	background:url('../images/team/11_arthur.gif') no-repeat center center transparent;
}
