@import "base";


.ui-test {

	.video-saves {
		background: url('../images/assets/saved_big.svg') no-repeat center center transparent;
		background-size: 100%;
		display:block;
		float: right;
		height: 14px;
		margin: 0;
		padding: 0;
		width: 10px;

		&:before {
			content: "";
		}	

	}
	
	.upvote-frame {
		.video-controls-button {
		  @include buttonfont;
      @include background(
				url('../images/assets/upvote_large.svg') no-repeat center 5px
			);
			background-size: 35%;
      border: none;
      color: #cfcfcf;
			padding-top: 27px;
			text-decoration: none;
		}
		.video-score-upvoted{
      color:#333; 
		}
	}	

	.video-controls {
		.save-frame {
			display: none;
		}
		.upvote-frame {
			display:block;
		}
	}

	.video-activity-comment {
		padding: 2px 0 0;
	}
	
}


