@import "base",
		"compass",
		"compass/css3",
		"compass/css3/border-radius",
		"compass/css3/box-shadow";

.you-preferences{
//		background:red;

}

.you-preferences-form{
	margin:0 $defaultMargin;

	legend{
		font-size:16px;
		font-weight:700;
		line-height:3;
	}

	input{
		@include border-radius($radius);
		border:1px solid #222;
	}
}

.you-preferences-list{
	margin:0;
	padding:0;

	li{
		border-bottom:1px solid #222;
		list-style-type:none;
		padding:$defaultMargin $defaultMargin/2;

		&:first-child{
			border-top:1px solid #222;
		}
	}
}

.you-profile,
.you-notifications{
	label,
	input{
		float:left;
		line-height:2;
		padding-left:$radius;
	}

	label{
		width:25%;
	}

	input{
		width:75%;
	}
}

.you-profile-actions{
	float:right;
	button{
		@include form-button-small;
		padding:0 5px;
		width:auto;
	}
}

.you-preferences-networks{
	@extend .you-preferences-list;

	h2{
		float:left;
		font-size:14px;
		width:25%;
	}	

	h3{
		float:left;
		font-size:12px;
		width:40%
	}	

	button{
		@include buttonfont;

		background:transparent;
		border:none;
		color:#efefef;
		float:right;
		font-size:11px;
		font-weight:300;
		text-decoration:underline;

		&.connected-network{
			@include form-submit-button;
			@include background(
				$softShelbyGreen
			);
			@include box-shadow(inset -1px 0px 1px 0px #85cc66);

			float:right;
			height:26px;
			line-height:1;
			margin:0;
			padding:0;
			text-decoration:none;
		}
	}
}

.you-preferences-notifications{
	@extend .you-preferences-list;
	
	label {
		font-size:14px;
		font-weight:500;
		width:33%;
	}
	input{
		margin-top:7px;
		width:33%;
	}
}