@import "base",
		"compass",
		"compass/css3",
		"compass/css3/border-radius",
		"compass/css3/box-shadow";

.you-preferences{
//		background:red;

}

.you-preferences-form{
	margin:0 $defaultMargin;

	fieldset{
		margin-bottom:1em;
		&:first-child,
		&.you-profile-actions{
			margin-bottom:0;
		}

	}

	input{
		@include border-radius($radius);
		@include inputfont;
		border:1px solid #222;
	}	

	legend{
		font-size:16px;
		font-weight:500;
		line-height:2.75;
	}

	
}

.you-preferences-list{
	margin:0;
	padding:0;

	li{
		border-bottom:1px solid #222;
		list-style-type:none;
		padding:$defaultMargin $defaultMargin/2 $defaultMargin $defaultMargin;

		&:first-child{
			border-top:1px solid #222;
		}
	}
	label{
		margin-top:1px;
	}
}

.you-profile,
.you-notifications{
	label,
	input{
		float:left;
		line-height:2;
	}

	label{
		width:25%;
	}

	input{
		padding-left:$radius;
		width:75%;
	}
}

.you-profile-actions{
	float:right;
	margin-top: $defaultMargin/2;

	button{
		@include form-button-small;
	}
	
	.you-profile-cancel{
		width:auto;
		padding:0 5px;
	}

	#response-message{
		float: left;
		margin: 6px;
	}
}


.you-preferences-networks{
	@extend .you-preferences-list;

	button{
		@include buttonfont;

		background:transparent;
		border:none;
		color:#efefef;
		float:right;
		font-size:11px;
		font-weight:300;
		text-decoration:underline;

		&.connected-network{
			@include form-submit-button;
			@include background(
				$softShelbyGreen
			);
			@include box-shadow(inset -1px 0px 1px 0px #85cc66);

			float:right;
			height:26px;
			line-height:1;
			margin:0;
			padding:0;
			text-decoration:none;
		}
	}

	h2{
		float:left;
		font-size:14px;
		line-height:2;
		width:40%;
	}	

	h3{
		float:left;
		font-size:12px;
		line-height:2.5;
		width:40%
	}	

	li{
		padding-left:0;
	}
}

.you-preferences-networks-twitter{

	&:before{
		@include background(
			url('../images/assets/rolls_twitter.svg') no-repeat center center #00a2d1
		);
		@include border-radius($radius);
		@include box-shadow(-1px 0px 5px -1px #222);

		background-size:76%;
		border:1px solid #222;
		content: "\0020";
		float:left;
		height:24px;
		left:0;
		margin: 1px 5px 0 0;
		top:0;
		width:24px;
	}
}
.you-preferences-networks-facebook{
	@extend .you-preferences-networks-twitter;

	&:before{
		@include background(
			url('../images/assets/rolls_facebook.svg') no-repeat center center #013e80
		);
		
		background-size:28%;
		content: "\0020";
	}	
}
.you-preferences-networks-tumblr{
	@extend .you-preferences-networks-twitter;

	&:before{
		@include background(
			url('../images/assets/rolls_tumblr.svg') no-repeat center center,
			$tumblrBlue

		);
		background-size:36%;
		content: "\0020";
	}
}

.you-preferences-notifications{
	@extend .you-preferences-list;
	
	label {
		font-size:14px;
		font-weight:500;
		position:relative;
		width:100%;
		z-index:1;
	}
	input[type="checkbox"]{

		margin-top:10px;
		position:absolute;
		height:0;
		left:50%;
//		visibility:hidden;
		width:50%;

		&:after{
			color:#efefef;
			content:"off";
			position:absolute;
			right:$defaultMargin*2;
			top:-7px;
		}

		&:checked:after{
			content:"on";
		}
	}
	input + span{
		@include transition-property(all);
	  	@include transition-duration(1s);
		@include transition-timing-function(ease-in);
		@include border-radius($radius - 1);
  		@include background($softShelbyRed);
  		border:1px solid #222;
		display:block;
		height:20px;
		margin:5px 0 0 49%;
		position:relative;
		width:60px;

		&:after{
			background:$flatSwitchGray;
			@include background(
				url('../images/assets/switch.svg') no-repeat center center,
				$softSwitchGray
			);
			@include border-radius($radius - 3);
			@include box-shadow(0px 0px 2px 1px #111);
			content:"\0020";
			height:18px;
			left:0;
			position:absolute;
			top:0;
			width:30px;

		}
	}
	input:checked + span{
  		@include background($softShelbyBlue);
		display:block;
		height:20px;
		position:relative;
		width:60px;
		&:after{
			left:49%;
		}	
	}
	input:focus{
		outline:none;
		border:none;
	}
}