@import "base",
		"compass",
		"compass/css3",
		"compass/css3/border-radius",
		"compass/css3/box-shadow";

.video-player{
	background: #000;
	color:white;
	height:100%;
	margin-right:330px;
	
	@include transition-property('margin-right');
	@include transition-duration(.5s);
	@include transition-timing-function(ease-in-out);
	@include transition-delay(0s);

//	p{
//		background:black;
//		margin:0;
//	}
}

.video-player.full-width {
  margin-right:0px;
}


#video-players-holder {
  position: relative;
  height: 100%;
  width: 100%;
  > * {
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
  }
  
  /* ooyala doesn't let you set % sizes when embedding, so we need to override here */
  #ooyala-player-holder div, #ooyala-player-holder object { width: 100%!important; height: 100%!important; }
}