@import "base",
		"compass/css3/border-radius",
		"compass/css3/box-shadow";

#video-players-holder {
  position: relative;
  height: 100%;
  width: 100%;
  > * {
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
  }
}