// blockquote gradient top #444 bottom #333, box-shadow (dist 6px, size 10px)
@import "base",
		"compass",
		"compass/css3/border-radius",
		"compass/css3/box-shadow";

.list{
	margin:0;
	padding:0;

	li{
		@include background(
			url('../images/assets/noise.png') 
			#494949
		);

		border-bottom:1px solid #222;
		list-style-type:none;
		padding:$defaultMargin;
	}
}

.video-card{
	@include border-radius($radius);

	border:$articleStroke;
	font-size: $font-size;
	margin:0;
	overflow:hidden;
	padding:0;
	position:relative;

	footer{
		@include box-shadow(0px 4px 13px 4px #333);
		border-top:1px solid $outset;
		z-index:5;
	}
}

.video-thumbnail {
	background:#444;
	line-height:75px;
	margin:0;
	text-align:center;
	width:100%;

	img{
		//@include border-radius(5px);
		display:inline-block;
		margin:0 auto 0;
		overflow:hidden;
		padding-top:0;
		vertical-align:middle;
		width:100%;
	}	
}

.video-card-header{
	@include softgradient;
	@include border-radius($radiusHeader);

	padding:$defaultMargin - 4 $defaultMargin - 2 $defaultMargin - 2;

	a{
		text-decoration:none;
		&:active,
		&:visited{
			text-decoration:none;
		}
		&:hover{
			text-decoration:underline;
		}
	}

	h1{
		float: left;
		font-size:1em;
		height:1.231em;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		width: 80%;
	}
}
.video-score{
	@include fontcolorLight;
	@include buttonfont;

	background:transparent;
	border:none;
	float:right;
	line-height:1.231;
	padding:0;

	&:before{
		content: url('../images/assets/favorite.png');
		margin-right:3px;
	}

	&:hover:before{
		color:red;
	}

	&:active{
		color:red;

	}
}

//.video-vote {
//	float:right;
//	font-size:1em;
//	margin:0;		
//	padding-left:0;

//	button {

			
//	}

//}

.video-thumbnail{
	height:125px;
	overflow:hidden;
	position:relative;
}	
.video-controls{
	margin:$defaultMargin/2;
	position:absolute;
	right:0px;
	top:0px;

	button{
		//@include softgradient;
		@include roundies;
		border:$menuStroke;
		display:block;
		height:50px;
		margin:$defaultMargin/2;
		outline:0;
		text-decoration:underline;
		width:50px;
	}

	li{
		background:none;
		border:none;
		padding:0;
	}

	.roll{
		@include background(
			url('../images/assets/roll.png') no-repeat center center,
			$softLinearGradient
		);

	}
	.watch-later{
		@include background(
			url('../images/assets/watch_later.png') no-repeat center center,
			$softLinearGradient
		);

	}
}

.video-footer{
	@include softgradient;
	@include border-radius($radiusFooter);

	border-top:1px solid $inset;
	font-size:$font-size - 2;
	font-weight:700;
	height:27px;
	padding: 6px 8px 7px;
}

.video-activity{
	//display:none;

}


.video-activity-toggle{

}

.video-activity-list{
	margin:0;
	padding-left:0;
	
	li{
		border-bottom:0;
		list-style-type:none;
		padding:0;

	}
}

.video-source{
	float:right;

}

.video-author{
	margin:0;
}


.user{
//	background:pink;
	@include softgradient;
}

.user-vcard{
	border-top:1px solid $inset;
	font-size:11px;
	font-weight:700;
	padding: 0 9px 0;
	a{
		text-decoration:none;
	}
}

.user-avatar{

	img{
		margin-right:7px;
		margin-top: 9px;
	}
}

.user-post-date{
	float:right;
	margin-top:9px;
	padding-right:3px;

	a:before{
		content: image-url('../images/assets/twitter_stamp.png');
		float:left;
		font-size:0.75em;
		margin:0 2px;
	}
}

.user-video-text{
	border-bottom:1px solid $outset;
	margin-top:-10px;

	p{
		margin:0 $defaultMargin/2 $defaultMargin $defaultMargin*4+5  ;
	}
}
