@import "base";
 
.video-player-tools-wrapper{
	@include transition-property(opacity);
	@include transition-duration(.25s);
	@include transition-timing-function(ease-out);
	@include transition-delay(0s);
	
	bottom:0;
	height:65px;
	left:0;
	opacity: 1;
	position:absolute;
	width:100%;
	z-index: 2;
}

.user-inactive .video-player-tools-wrapper,
.user-inactive .comment-overlay-wrapper{
  opacity: 0;
}

.video-player-tools{
	background-color: $flatShelbyVideoPlayer;
	@include background( $softShelbyVideoPlayer );
	@include roundies;

	border:1px solid #202020;
	height:45px;
	margin:$defaultMargin $defaultMargin*34 $defaultMargin $defaultMargin;

  @include transition-property(margin);
	@include transition-duration(.5s);
	@include transition-timing-function(ease-in-out);
	@include transition-delay(0s);
}

.video-player-tools.full-width{
  margin:$defaultMargin $defaultMargin*4 $defaultMargin $defaultMargin;
}

.video-player-tools-inner{
	@include roundies;
 	margin:0;
	padding:0;
  position: relative;
	width:100%;
}

.video-player-play{
	border:none;
	height:43px;
	float:left;
	width:47px;

	@include background(
		url('../images/assets/player_play.svg') center center no-repeat transparent
	);

	&.pause{
		@include background(
			url('../images/assets/player_pause.svg') center center no-repeat transparent
		);		
	}
}


.video-player-progress{
	@include border-radius($radius*2);

	background:black;
	height:8px;
	left:60px;
	right:230px;
	margin:18px 8px 0;
	position:absolute;
}

.video-player-progress-load{
	@include border-radius($radius*2);
	background:$flatShelbyDarkGray;
	@include background(
		$softShelbyDarkGray
	);

	height:8px;
	width:0;
}

.video-player-progress-elapsed{
	@extend .video-player-progress-load;
	@include background($shelbyProgressBlue);

	margin-top:-8px;
}

.video-player-scrubber{
	@include border-radius(50%);
	@include box-shadow(1px 0px 2px 1px black);

	background:#efefef;
	cursor:pointer;
	cursor:ew-resize;
	height:15px;
	left:0;
	margin:-11px;
	position:absolute;
	width:15px;
}

.video-player-timeline{
	color:#b2b2b2;
	float:right;
	font-size:13px;
	font-weight:300;
	line-height:3.25;
	margin:0 15px;
}

.video-player-volume{
	@extend .video-player-play;
	@include background(
		url('../images/assets/player_sound_on.svg') center center no-repeat transparent
	);

	float:right;

	&.mute{
		@include background(
			url('../images/assets/player_sound_off.svg') center center no-repeat transparent
		);
	}
}

.video-player-fullscreen{
	@extend .video-player-play;
	@include background(
		url('../images/assets/player_fullscreen.svg') center center no-repeat transparent
	);	

	float:right;

}

.video-player-quality{
	@extend .video-player-play;
	@include background(
		url('../images/assets/player_hd_off.svg') center center no-repeat transparent
	);

	float:right;

	&.hd-on{
		@include background(
			url('../images/assets/player_hd_on.svg') center center no-repeat transparent
		);
	}
}

.disable-video-quality .video-player-quality{
  @include background(
		url('../images/assets/player_hd_disabled.svg') center center no-repeat transparent
	);
}

.video-player-roll{
	@extend .video-player-play;
	@include background(
		url('../images/assets/player_roll.svg') center 6px no-repeat transparent
	);	

	float:right;

}

.video-player-nav-buttons-wrapper{	
  .video-player-prev{
    @include background(
  		url('../images/assets/arrow_left.svg') center center no-repeat #777
  	);
  	
  	@include transition-property(opacity);
  	@include transition-duration(.25s);
  	@include transition-timing-function(ease-out);
  	@include transition-delay(0s);
    
  	left: $defaultMargin*2;
  	opacity: 1.0;
  }

  .video-player-next{
    @include background(
  		url('../images/assets/arrow_right.svg') center center no-repeat #777
  	);
  	
  	@include transition-property('opacity, margin-right');
  	@include transition-duration('.25s, .5s');
  	@include transition-timing-function('ease-out, ease-in-out');
  	@include transition-delay('0s, 0s');
  	
  	margin-right: $defaultMargin*33;
  	opacity: 1.0;
  	right: $defaultMargin*2;
  	
  	&.full-width {
  	  margin-right: 0;
	  }
  }
  
  .video-player-prev, .video-player-next {
  	@include box-shadow(inset 0 1px 0 0 adjust-lightness(#777,25%));
	
  	@include border-radius($radius);

  	height:40px;
  	position:absolute;
  	top: 45%;
  	width: 40px;
  	z-index: 2;
  }
}

.user-inactive .video-player-nav-buttons-wrapper {
  .video-player-prev, .video-player-next {
    opacity: 0.0;
  }
}