<div class="rolling-main js-rolling-main">
	<!-- Content filled in by views for successive phases of the rolling interaction flow including: -->
	<!-- 		* RollingSelctionListView -->
</div>

<div class="rolling-main-footer">
  <div class="button">
    <button class="js-back rolling-main-back">Back</button>
  </div>
</div>