<div class="frame-rolling-completion-header">
	<h1 class="<%= roll.get('public') ? 'roll-type-public' : 'roll-type-private' %>">
    <% if (!roll.isNew()) { %>
      You rolled <%= frame.get('video').get('title') %>
    <% } else { %>
      <%= roll.get('public') ? 'New Public Roll' : 'New Private Roll' %>
    <% } %>
  </h1>
	<!-- <a class="frame-share-undo" href="#">Undo</a> -->
</div>