<fieldset class="roll-options">
  <input class="js-new-roll-name-input new-roll-name-input" placeholder="Roll name..." type="text">
  <% if (!roll.get('public')) { %>
    <input class="js-new-roll-recipients new-roll-recipients" placeholder="Email Addresses..." type="email" multiple="multiple">
  <% } %>
</fieldset>