<ul>
  <li class="small">
    small
  </li>
  <li class="big">
    big
  </li>
</ul>

<ul class="js-content-selector">
  <% switch(guide.get('displayState')){
      case libs.shelbyGT.DisplayState.rollList: %>
        <li class="js-people">people</li>
        <li class="js-my-rolls">my rolls</li>
        <li class="js-browse">browse</li>
  <%  break; } %>
</ul>