<div id="js-guide-presentation-selector" class="guide-presentation-selector">
  <!-- content filled in by GuidePresentationSelctorView -->
</div>

<div id="js-item-header">
  <!-- content filled in by ItemHeaderView -->
</div>

<div id="js-roll-action-menu" class="roll-action-menu">
  <!-- content filled in by RollActionMenuView -->
</div>