<% /* parent:"roll-item" */ %>
<a class="js-roll-item-button clearfix">
	<span class="roll-item-thumbnail">
		<img src="<%= roll.get('thumbnail_url') || '../images/avatar.jpg' %>">
	</span>
	<h2>
		<%= roll.get('title')%>
	</h2>
</a>