<li class="roll-selection-item-default clearfix">
	<h2 class="rolling-public-roll">
	  New Roll
	</h2>
</li>
<li class="roll-selection-item-default clearfix">
	<h2 class="rolling-private-roll">
	  New Private Roll
	</h2>
</li>
<li class="roll-selection-item-default rolling-social js-social clearfix">
	<h2 class="rolling-social">
	  Social
	</h2>
</li>