<ul id="js-roll-header" class="rolls-menu clearfix"> 
  <li>
    <button class="rolls-share js-share-roll">Share Roll</button>
  </li>
  <li>
    <button class="rolls-add js-leave-roll"></button>
  </li>
</ul>

<div id="js-share-roll" class="share-dialog">
  <!-- content rendered by ShareRollView -->
</div>
