<% if (guide.get('insideRollList')) { %>
	<button id="js-rolls-back" class="rolls-back">
		<i></i>
		Back
	</button>
<% } %>

<h2 class="current-roll">
	<%= roll.get('title') %>
</h2>

<% if (guide.get('insideRollList')) { %>
	<ul class="rolls-list-nav clearfix">
		<li>
			<button id="js-roll-back" class="roll-back">
				Previous Roll
			</button>
		</li>
		<li>	
			<button id="js-roll-next" class="roll-next">
				Next Roll
			</button>
		</li>
	</ul>
<% } %>