<li class="roll-selection-item-default clearfix">
  New Roll
</li>
<li class="roll-selection-item-default clearfix">
  New Private Roll
</li>
<li class="roll-selection-item-default js-social clearfix">
  Social
</li>