<li class="roll-selection-item-default clearfix">
	<a href="return false;">
		<h2 class="rolling-public-roll">
		  New Roll
		</h2>
	</a>
</li>
<li class="roll-selection-item-default clearfix">
	<a href="return false;">	
		<h2 class="rolling-private-roll">
		  New Private Roll
		</h2>
	</a>
</li>
<li class="roll-selection-item-default rolling-social js-social clearfix">
	<a href="return false;">	
		<h2 class="rolling-social">
		  Social
		</h2>
	</a>
</li>