<div style="background: red; width: 70%; height: 50px; position: absolute; bottom: 100px; left: 0;">
	<!-- added a wrapper div and styled inline so Mike can built this out however he sees fit -->
	<!-- this is wrapped by #video-controls which is probably the element to style -->
	<h1>PLAYER CONTROLS</h1>
</div>