<div class="welcome-message frame-body-wrapper">

  <div class="welcome-message__body">
    <div class="media_image media_image--rev">
      <button autofocus="autofocus" tabindex="0" class="button_primer button_blue welcome-message__button js-start-playing js-track-event" data-ga_category="Channel Welcome" data-ga_action="Click play button" data-ga_label="anonymous">
        Play
      </button>
    </div>

    <div class="media_body">
      <p class="welcome-message__subline">
        Powered by Shelby.tv
      </p>
    </div>

</div><!-- eo .welcome-message -->
