<div class="tooltip tooltip--inline tooltip--channels fin fin--top_left">
  <h5 class="tooltip__h1">
    Channels
  </h5>

  <p class="tooltip__block">
    Press the <span class="keyboard_button">&uarr;</span> or <span class="keyboard_button">&darr;</span> keys
  </p>
</div><!-- eo tooltip -->

<div class="tooltip tooltip--prev-video fin fin--left_bottom">
  <h5 class="tooltip__h1">
    Previous Video
  </h5>

  <p class="tooltip__block">
    Press the <span class="keyboard_button">&larr;</span> key
  </p>
</div><!-- eo tooltip -->

<div class="tooltip tooltip--hide-guide fin fin--left_top">
  <h5 class="tooltip__h1">
    Show Guide
  </h5>

  <p class="tooltip__block">
    Press the <span class="keyboard_button">G</span> key
  </p>
</div><!-- eo tooltip -->

<div class="tooltip tooltip--next-video fin fin--right_top">
  <h5 class="tooltip__h1">
    Next video
  </h5>

  <p class="tooltip__block">
    Press the <span class="keyboard_button">&rarr;</span> key
  </p>
</div><!-- eo tooltip -->

<div class="tooltip tooltip--inline tooltip--play-video fin fin--bottom_left">
  <h5 class="tooltip__h1">
    Play/Pause
  </h5>

  <p class="tooltip__block">
    Press the <span class="keyboard_button keyboard_button--inline">space bar</span>
  </p>
</div><!-- eo tooltip -->

<div class="tooltip tooltip--inline tooltip--toggle-tooltips">
  <h5 class="tooltip__h1">
    Keyboard Shortcuts
  </h5>

  <p class="tooltip__block">
    Press the <span class="keyboard_button keyboard_button--inline">?</span> key
  </p>
</div><!-- eo tooltip -->

<div class="welcome-message welcome-message--large frame-body-wrapper">
  <div class="welcome-message__head welcome-message__head--plain">
    <h2 class="welcome-message__h1--plain">
      Welcome to #Channels
    </h2>

    <h3 class="welcome-message__h2--plain">
      <!-- Channels are curated just for you by the Shelby community and our featured  -->
      <!-- Click play, lean back, and watch videos from our community supported channels -->

      Click Play, lean back, and watch videos curated by our community
    </h3>
  </div><!-- eo welcome-message__head -->

  <div class="welcome-message__body clearfix">
    <div class="media_image media_image--rev">
      <button autofocus="autofocus" tabindex="0" class="button_primer button_blue welcome-message__button js-start-playing js-track-event" data-ga_category="Channel Welcome" data-ga_action="Click play button" data-ga_label="anonymous">
        Play
      </button>
    </div>

    <div class="media_body">
      <p class="welcome-message__subline">
        Powered by Shelby.tv
      </p>
    </div>
  </div><!-- eo welcome-message__body -->
</div><!-- eo .welcome-message -->
