<div class="user clearfix">
  <div class="media_module user__lining clearfix">
    <div class="media_body">
      <h3 class="user__h1">
        #<%= channelName || '' %>
      </h3>
    </div><!-- eo media_body -->
  </div><!-- eo media_module -->
</div><!-- eo user -->
