<div class="welcome-message welcome-message--large frame-body-wrapper">
  <div class="welcome-message__head welcome-message__head--plain">
    <h2 class="welcome-message__h1--plain">
      Welcome to Shelby.tv
    </h2>

    <h3 class="welcome-message__h2--plain">
      Click Play to browse #channels created by our community
    </h3>
  </div><!-- eo welcome-message__head -->

  <div class="welcome-message__body clearfix">
    <div class="media_image media_image--rev">
      <button autofocus="autofocus" tabindex="0" class="button_primer button_blue welcome-message__button js-start-playing js-track-event" data-ga_category="Channel Welcome" data-ga_action="Click play button" data-ga_label="<%= shelby.models.user.get('nickname') %>">
        Play
      </button>
    </div>

    <div class="media_body">
      <p class="welcome-message__subline">
        <p class="tooltip__block">
          navigate with <span class="keyboard_button">&uarr;</span>, <span class="keyboard_button">&darr;</span>, <span class="keyboard_button">&larr;</span>, <span class="keyboard_button">&rarr;</span>, <span class="keyboard_button">G</span>
        </p>
      </p>
    </div>
  </div><!-- eo welcome-message__body -->
</div><!-- eo .welcome-message -->
