<div class="welcome-message welcome-message--large frame-body-wrapper">
  <div class="welcome-message__head welcome-message__head--plain">
    <h2 class="welcome-message__h1--plain">
      Signup for Shelby.tv
    </h2>

    <h3 class="welcome-message__h2--plain">
      <!-- Channels are curated just for you by the Shelby community and our featured  -->
      <!-- Click play, lean back, and watch videos from our community supported channels -->

      We're launching soon and want you on board!
    </h3>
  </div><!-- eo email-collection__head -->

  <div class="welcome-message__body clearfix">
    <div>
      <form id="js-email-form" class="form_module shelf__form js-track-submit" data-ga_action="Submit interest email">
        <fieldset id="js-email-form-submit" class="search_module">
          <input type="submit" class="button_primer button_wide button_green search_module__submit" value="Submit">

          <span class="search_module__input_wrapper">
            <input name="email" id="js-email-input" class="form_input search_module__input" type="email" placeholder="email@address.com" tabindex="0" autofocus="">
          </span>
        </fieldset><!-- eo search_module -->

        <fieldset id="js-email-form-feedback" class="hidden">
          <h6 class="shelf__h2">
            Thank you for signing up
          </h6>
        </fieldset>
      </form>
    </div>
  </div><!-- eo email-collection__body -->
</div><!-- eo .email-collection -->
