<div class="welcome-message welcome-message--large frame-body-wrapper">
  <div class="welcome-message__head welcome-message__head--plain">
    <h2 class="welcome-message__h1--plain">
      Discover and enjoy the best video
    </h2>

    <h3 class="welcome-message__h2--plain">
      <!-- Channels are curated just for you by the Shelby community and our featured  -->
      <!-- Click play, lean back, and watch videos from our community supported channels -->
      <!-- We’re building a revolutionary way to watch video. Want in? -->

      Join Shelby to start watching a personalized stream of video!
    </h3>
    <a onclick="return false;" href="#" class="js-close welcome-message-dismiss">close</a>
  </div><!-- eo email-collection__head -->

  <div class="welcome-message__body clearfix">
    <button class="button_primer button_command button_command--flexible button_command--wide button_green js-signup-button">Signup</button>
  </div><!-- eo email-collection__body -->
</div><!-- eo .email-collection -->
