<div class="email-collection email-collection--large frame-body-wrapper">
  <div class="email-collection__head email-collection__head--plain">
    <h2 class="email-collection__h1--plain">
      Signup for Shelby.tv
    </h2>

    <h3 class="email-collection__h2--plain">
      We're launching soon and want you on board!
    </h3>
  </div><!-- eo email-collection__head -->

  <div class="email-collection__body clearfix">
    <div class="media_image media_image--rev">
      <form id="js-email-form" class="form_module shelf__form js-track-submit" data-ga_action="Submit interest email">
        <fieldset id="js-email-form-submit" class="search_module">
          <input type="submit" class="button_primer button_default search_module__submit" value="Submit">

          <span class="search_module__input_wrapper">
            <input name="email" id="js-email-input" class="form_input search_module__input" type="email" placeholder="email@address.com" tabindex="0" autofocus="">
          </span>
        </fieldset><!-- eo search_module -->

        <fieldset id="js-email-form-feedback" class="hidden">
          <h6 class="shelf__h2">
            Thank you for signing up
          </h6>
        </fieldset>
      </form>
    </div>
  </div><!-- eo email-collection__body -->
</div><!-- eo .email-collection -->
