<div class="dynamic_video_info__description">
  <h1 class="dynamic_video_info__h1"><%= type == "share" ? "Tell someone about this video" : "You like it!" %></h1>
  <div class="dynamic_video_info__h2">Enjoying what you're watching? Share it with your friends, family, co-workers, handymen, baristas...</div>
</div>

<% if ( false  ) { %>
  <div class="dynamic_video_info__friends-avatars">
    <% if ( typeof shelby.models.user.get('autocomplete').facebook !== 'undefined' ) { %>
      <ul class="list--inline">
        <% friends = _.shuffle(shelby.models.user.get('autocomplete').facebook) %>
        <% for(var i = 0; i < friends.length; i++) { %>
          <li class="list__item">
            <img class="facepile" src="http://graph.facebook.com/<%= friends[i] %>/picture?type=square"></a>
          </li>
        <% } %>
      </ul>
      <% } %>
      <button class="button_primer button_command button_command--sub button_command--facebook  button_facebook-blue user__button js-track-event">
        <span class="icon icon-share"></span>
        <span class="button_label">Send to a friend...</span>
      </button>
  </div>
<% } else { %>
  <a href="mailto:?body=Check%20out%20this%20video:%20" target="_blank" class="button_primer button_command button_command--sub button_command--email  button_green user__button js-track-event">
      <span class="icon icon-share"></span>
      <span class="button_label">Send to a friend...</span>
  </a>
<% } %>
