<div class="dynamic-avatar clearfix">
    <img src="<%= shelbyAvatarUrl %>" class="user-avatar js-user-avatar">
  <div class="progress-overlay"></div>
  <div class="progress-message"></div>
  <div class="spinner-overlay"></div>
</div>