@font-face {
	font-family: 'Shelby-Icon-Font';
	src:url('fonts/Shelby-Icon-Font.eot');
	src:url('fonts/Shelby-Icon-Font.eot?#iefix') format('embedded-opentype'),
		url('fonts/Shelby-Icon-Font.woff') format('woff'),
		url('fonts/Shelby-Icon-Font.ttf') format('truetype'),
		url('fonts/Shelby-Icon-Font.svg#Shelby-Icon-Font') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'Shelby-Icon-Font';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
.icon-twitter, .icon-tumblr, .icon-thumbnail, .icon-sound-on, .icon-sound-off, .icon-shortlink, .icon-share, .icon-search, .icon-roll, .icon-play, .icon-pause, .icon-like, .icon-chevron, .icon-carrot, .icon-avatar, .icon-arrow_up, .icon-arrow_right, .icon-arrow_left, .icon-arrow_down, .icon-whole, .icon-type, .icon-mark, .icon-hd, .icon-guide-out, .icon-guide-in, .icon-facebook, .icon-embed, .icon-email, .icon-close {
	font-family: 'Shelby-Icon-Font';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.icon-twitter:before {
	content: "\e000";
}
.icon-tumblr:before {
	content: "\e001";
}
.icon-thumbnail:before {
	content: "\e002";
}
.icon-sound-on:before {
	content: "\e003";
}
.icon-sound-off:before {
	content: "\e004";
}
.icon-shortlink:before {
	content: "\e005";
}
.icon-share:before {
	content: "\e006";
}
.icon-search:before {
	content: "\e007";
}
.icon-roll:before {
	content: "\e008";
}
.icon-play:before {
	content: "\e009";
}
.icon-pause:before {
	content: "\e00a";
}
.icon-like:before {
	content: "\e00b";
}
.icon-chevron:before {
	content: "\e00c";
}
.icon-carrot:before {
	content: "\e00d";
}
.icon-avatar:before {
	content: "\e00e";
}
.icon-arrow_up:before {
	content: "\e00f";
}
.icon-arrow_right:before {
	content: "\e010";
}
.icon-arrow_left:before {
	content: "\e011";
}
.icon-arrow_down:before {
	content: "\e012";
}
.icon-whole:before {
	content: "\e013";
}
.icon-type:before {
	content: "\e014";
}
.icon-mark:before {
	content: "\e015";
}
.icon-hd:before {
	content: "\e016";
}
.icon-guide-out:before {
	content: "\e017";
}
.icon-guide-in:before {
	content: "\e018";
}
.icon-facebook:before {
	content: "\e019";
}
.icon-embed:before {
	content: "\e01a";
}
.icon-email:before {
	content: "\e01b";
}
.icon-close:before {
	content: "\e01c";
}
