/* line 3, ../../app/stylesheets/bookmarklet-overwrite.scss */
.frame-logo {
  color: #EFEFEF;
  float: right;
  font-size: 14px;
  line-height: 2;
  margin: 9px 12px 0 0;
  position: absolute;
  right: 0;
}

/* line 13, ../../app/stylesheets/bookmarklet-overwrite.scss */
.frame-logo-img {
  display: inline;
  margin-left: 5px;
  margin-top: 0px;
  width: 100px;
  vertical-align: middle;
}

/* line 21, ../../app/stylesheets/bookmarklet-overwrite.scss */
.frame-creator-avatar {
  height: 45px;
  width: 45px;
}

/* line 29, ../../app/stylesheets/bookmarklet-overwrite.scss */
.roll-selection-item-lining {
  height: 50px;
}

/* line 33, ../../app/stylesheets/bookmarklet-overwrite.scss */
.roll-selection-item {
  height: 51px;
  margin: 0;
  padding: 0;
}
/* line 38, ../../app/stylesheets/bookmarklet-overwrite.scss */
.roll-selection-item a:link, .roll-selection-item a:visited, .roll-selection-item a:active {
  color: #DCDDDE;
}
/* line 41, ../../app/stylesheets/bookmarklet-overwrite.scss */
.roll-selection-item a img {
  border: none;
}

/* line 47, ../../app/stylesheets/bookmarklet-overwrite.scss */
.roll-item-creator {
  height: 23.03030303px;
}

/* line 51, ../../app/stylesheets/bookmarklet-overwrite.scss */
.current-roll {
  font-size: 14.5454545455px;
}

/* line 57, ../../app/stylesheets/bookmarklet-overwrite.scss */
.share-submit-button,
.roll-options-submit,
.new-roll-status-checkbox {
  font-size: 12px;
}

/* line 63, ../../app/stylesheets/bookmarklet-overwrite.scss */
.guide-overlay-title-text {
  line-height: 2.65;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
}

/* line 70, ../../app/stylesheets/bookmarklet-overwrite.scss */
.guide-clickoff {
  position: fixed;
  top: 0px;
  z-index: 89999;
}

/* line 76, ../../app/stylesheets/bookmarklet-overwrite.scss */
.guide-window {
  background: #222;
  border: 0px 0px 25px 5px black;
  box-shadow: 0px 0px 25px 5px black;
  position: fixed;
  right: 0px;
  top: 0px;
  overflow: auto;
  z-index: 99999;
}

/* line 87, ../../app/stylesheets/bookmarklet-overwrite.scss */
.video-card-header {
  background-color: #35383A;
  border-radius: 5px 5px 0 0;
  height: 45px;
  margin: 0px;
  padding: 0px;
  position: absolute;
  z-index: 89999;
}

/* line 98, ../../app/stylesheets/bookmarklet-overwrite.scss */
.frame-exists .frame-logo:before {
  content: "Seen on";
  display: block;
  float: left;
}

/* line 105, ../../app/stylesheets/bookmarklet-overwrite.scss */
.frame-controls {
  background-color: #35383A;
  border-radius: 0 0 5px 5px;
  font-size: 13px;
  position: absolute;
  z-index: 89999;
}

/* line 113, ../../app/stylesheets/bookmarklet-overwrite.scss */
.frame-title {
  width: 50%;
}

/* line 117, ../../app/stylesheets/bookmarklet-overwrite.scss */
.guide-overlay-title {
  background-image: url("../../images/assets/mark.png");
  background-position: 15px 50%;
  background-repeat: no-repeat;
  background-size: 38px;
}
