/* line 1, ../../app/stylesheets/main.scss */
#player {
  float: left;
  border: 1px solid black;
}

/* line 6, ../../app/stylesheets/main.scss */
#guide {
  float: right;
  background-color: #CCCCCC;
  width: 200px;
}
