/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* Commenting out the Reset style sheet in favor of the normalize style sheet that comes with h5bp.
 * Need to integrate the h5bp normalizer into this compass fanciness.
 * @import "compass/reset";
 */
/* line 5, ../../app/stylesheets/png.scss */
.lt-ie9 .guide-toggle .copy {
  top: 1px;
}

/* line 18, ../../app/stylesheets/png.scss */
.no-svg .logo-header {
  background: url("../images/assets/shelbylogo.png") center 8px no-repeat transparent;
}
/* line 23, ../../app/stylesheets/png.scss */
.no-svg .top-level:after {
  background: url("../images/assets/carrot.png") no-repeat center center transparent;
}
/* line 31, ../../app/stylesheets/png.scss */
.no-svg .dashboard-search i {
  background: url("../images/assets/search.png") no-repeat center center;
}
/* line 39, ../../app/stylesheets/png.scss */
.no-svg .guide-toggle .icon {
  background: url("../images/assets/guide.png") no-repeat center center transparent;
}
/* line 50, ../../app/stylesheets/png.scss */
.no-svg .networks-twitter {
  background: #666666;
  background: url("../images/assets/rolls_share_twitter_off.png") no-repeat center center, #666666;
}
/* line 56, ../../app/stylesheets/png.scss */
.no-svg .networks-twitter.active {
  background: #00a2d1;
  background: url("../images/assets/rolls_share_twitter_on.png") no-repeat center center, -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #05c7ff), color-stop(100%, #00a2d1));
  background: url("../images/assets/rolls_share_twitter_on.png") no-repeat center center, -webkit-linear-gradient(top, #05c7ff, #00a2d1);
  background: url("../images/assets/rolls_share_twitter_on.png") no-repeat center center, -moz-linear-gradient(top, #05c7ff, #00a2d1);
  background: url("../images/assets/rolls_share_twitter_on.png") no-repeat center center, -o-linear-gradient(top, #05c7ff, #00a2d1);
  background: url("../images/assets/rolls_share_twitter_on.png") no-repeat center center, -ms-linear-gradient(top, #05c7ff, #00a2d1);
  background: url("../images/assets/rolls_share_twitter_on.png") no-repeat center center, linear-gradient(top, #05c7ff, #00a2d1);
}
/* line 65, ../../app/stylesheets/png.scss */
.no-svg .networks-facebook {
  background: #666666;
  background: url("../images/assets/rolls_share_facebook_off.png") no-repeat center center, #666666;
}
/* line 72, ../../app/stylesheets/png.scss */
.no-svg .networks-facebook.active {
  background: #013e80;
  background: url("../images/assets/rolls_share_facebook_on.png") no-repeat center center, -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #0157b3), color-stop(100%, #013e80));
  background: url("../images/assets/rolls_share_facebook_on.png") no-repeat center center, -webkit-linear-gradient(top, #0157b3, #013e80);
  background: url("../images/assets/rolls_share_facebook_on.png") no-repeat center center, -moz-linear-gradient(top, #0157b3, #013e80);
  background: url("../images/assets/rolls_share_facebook_on.png") no-repeat center center, -o-linear-gradient(top, #0157b3, #013e80);
  background: url("../images/assets/rolls_share_facebook_on.png") no-repeat center center, -ms-linear-gradient(top, #0157b3, #013e80);
  background: url("../images/assets/rolls_share_facebook_on.png") no-repeat center center, linear-gradient(top, #0157b3, #013e80);
}
/* line 84, ../../app/stylesheets/png.scss */
.no-svg .video-score:before {
  content: url("../images/assets/score.png");
}
/* line 91, ../../app/stylesheets/png.scss */
.no-svg .video-controls .roll-frame button {
  background: url("../images/assets/roll_action.png") no-repeat 0px -1px;
}
/* line 98, ../../app/stylesheets/png.scss */
.no-svg .video-controls .save-frame button {
  background: url("../images/assets/saved_action.png") no-repeat center center;
}
/* line 105, ../../app/stylesheets/png.scss */
.no-svg .video-controls .remove-frame button {
  background: url("../images/assets/saved_remove.png") no-repeat center center;
}
/* line 114, ../../app/stylesheets/png.scss */
.no-svg .user-post-origin-twitter:before {
  content: url('/images/../images/assets/twitter_stamp.png?1338995882');
}
/* line 120, ../../app/stylesheets/png.scss */
.no-svg .user-post-origin-facebook:before {
  content: url('/images/../images/assets/facebook_stamp.png?1338995882');
}
/* line 126, ../../app/stylesheets/png.scss */
.no-svg .video-player-play {
  background: url("../images/assets/player_play.png") center center no-repeat transparent;
}
/* line 131, ../../app/stylesheets/png.scss */
.no-svg .video-player-play.pause {
  background: url("../images/assets/player_pause.png") center center no-repeat transparent;
}
/* line 138, ../../app/stylesheets/png.scss */
.no-svg .video-player-volume {
  background: url("../images/assets/player_sound_on.png") center center no-repeat transparent;
}
/* line 142, ../../app/stylesheets/png.scss */
.no-svg .video-player-volume.mute {
  background: url("../images/assets/player_sound_off.png") center center no-repeat transparent;
}
/* line 149, ../../app/stylesheets/png.scss */
.no-svg .video-player-fullscreen {
  background: url("../images/assets/player_fullscreen.png") center center no-repeat transparent;
}
/* line 155, ../../app/stylesheets/png.scss */
.no-svg .video-player-roll {
  background: url("../images/assets/player_roll.png") center 6px no-repeat transparent;
}
/* line 164, ../../app/stylesheets/png.scss */
.no-svg .rolling-main-social:before {
  background: url("../images/assets/sharebutton_icons.png") no-repeat 0px center;
}
/* line 174, ../../app/stylesheets/png.scss */
.no-svg .frame-rolling-completion-header h1.roll-type-public:before {
  content: url("../images/assets/rolls_public.png");
}
/* line 179, ../../app/stylesheets/png.scss */
.no-svg .frame-rolling-completion-header h1.roll-type-private:before {
  content: url("../images/assets/rolls_private.png");
}
/* line 191, ../../app/stylesheets/png.scss */
.no-svg .form-rolls-list .rolling-public-roll.new:before {
  content: "+";
}
/* line 194, ../../app/stylesheets/png.scss */
.no-svg .form-rolls-list .rolling-public-roll:after {
  content: url("../images/assets/rolls_public.png");
}
/* line 200, ../../app/stylesheets/png.scss */
.no-svg .form-rolls-list .rolling-private-roll:after {
  content: url("../images/assets/rolls_private.png");
}
/* line 210, ../../app/stylesheets/png.scss */
.no-svg .you-preferences-networks-twitter:before {
  background: url("../images/assets/rolls_twitter.png") no-repeat center center #00a2d1;
}
/* line 217, ../../app/stylesheets/png.scss */
.no-svg .you-preferences-networks-facebook:before {
  background: url("../images/assets/rolls_facebook.png") no-repeat center center #013e80;
}
/* line 224, ../../app/stylesheets/png.scss */
.no-svg .you-preferences-networks-tumblr:before {
  background: url("../images/assets/rolls_tumblr.png") no-repeat center center, #2f445b;
}
/* line 233, ../../app/stylesheets/png.scss */
.no-svg .you-preferences-notifications input + span:after {
  background: url("../images/assets/switch.png") no-repeat center center, #fefefe;
}
/* line 245, ../../app/stylesheets/png.scss */
.no-svg .about-external-twitter a {
  background: url("../images/assets/team_twitter.png") no-repeat center left transparent;
}
/* line 253, ../../app/stylesheets/png.scss */
.no-svg .about-external-link a {
  background: url("../images/assets/team_web.png") no-repeat center left transparent;
}
/* line 263, ../../app/stylesheets/png.scss */
.no-svg .logged-out-twitter:before {
  background: url("../images/assets/rolls_share_twitter_on.png") no-repeat 1px 2px transparent;
}
/* line 269, ../../app/stylesheets/png.scss */
.no-svg .logged-out-facebook:before {
  background: url("../images/assets/rolls_share_facebook_on.png") no-repeat center center transparent;
}
/* line 276, ../../app/stylesheets/png.scss */
.no-svg .comment-overlay-prev {
  background: url("../images/assets/comment_arrow_left.png") no-repeat center center #303030;
}
/* line 281, ../../app/stylesheets/png.scss */
.no-svg .comment-overlay-next {
  background: url("../images/assets/comment_arrow_right.png") no-repeat center center #303030;
}
/* line 289, ../../app/stylesheets/png.scss */
.no-svg .email-gate-logo {
  background: url("../images/email-gate/landing_logo.png") no-repeat center center transparent;
}
/* line 294, ../../app/stylesheets/png.scss */
.no-svg .email-gate-networks-twitter:before {
  background: url("../images/assets/rolls_share_twitter_on.png") no-repeat 2px 4px transparent;
}
/* line 300, ../../app/stylesheets/png.scss */
.no-svg .email-gate-networks-facebook:before {
  background: url("../images/assets/rolls_share_facebook_on.png") no-repeat -1px center transparent;
}
