/* Welcome to Compass. Use this file to define print styles.
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" /> */
/* line 6, ../../app/stylesheets/print.scss */
* {
  background: transparent !important;
  color: black !important;
  box-shadow: none !important;
  text-shadow: none !important;
  filter: none !important;
  -ms-filter: none !important;
}

/* line 7, ../../app/stylesheets/print.scss */
a, a:visited {
  text-decoration: underline;
}

/* line 8, ../../app/stylesheets/print.scss */
a[href]:after {
  content: " (" attr(href) ")";
}

/* line 9, ../../app/stylesheets/print.scss */
abbr[title]:after {
  content: " (" attr(title) ")";
}

/* line 10, ../../app/stylesheets/print.scss */
.ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
  content: "";
}

/* line 11, ../../app/stylesheets/print.scss */
pre, blockquote {
  border: 1px solid #999;
  page-break-inside: avoid;
}

/* line 12, ../../app/stylesheets/print.scss */
thead {
  display: table-header-group;
}

/* line 13, ../../app/stylesheets/print.scss */
tr, img {
  page-break-inside: avoid;
}

/* line 14, ../../app/stylesheets/print.scss */
img {
  max-width: 100% !important;
}

@page {
  margin: 0.5cm;
}

/* line 16, ../../app/stylesheets/print.scss */
p, h2, h3 {
  orphans: 3;
  widows: 3;
}

/* line 17, ../../app/stylesheets/print.scss */
h2, h3 {
  page-break-after: avoid;
}
