<% var messages = frame.get('conversation').get('messages') %>
<% var creator = frame.get('creator') %>
<% var frameIsOnWatchLaterRoll = frame.isOnRoll(shelby.models.user.get('watch_later_roll')) %>
<article id="<%= frame.get('conversation_id') %>" class="video-card ui-test">
  <header class="video-card-header clearfix">
    <a class="js-frame-activate" href="#">
      <h1 title="<%= frame.get('video').get('title') %>">
		    <%= frame.get('video').get('title') %>
      </h1>
    </a>  
   <!-- <button class="video-score <%= ( _.contains(frame.get('upvoters'), shelby.models.user.id) ) ? 'video-score-upvoted' : '' %> js-track-event" data-ga_category="Frame" data-ga_action="upvote" data-ga_label='<%= shelby.models.user.get('nickname') %>' type="button"><%= frame.get('upvoters').length %></button>--> 
    <button class="video-saves save-frame ir">
      Save
    </button> 
  </header>
  
  <div class="video-thumbnail">
    <ul class="video-controls" type="toolbar">
      <li class="roll-frame">
        <button class="video-controls-button ir js-track-event" data-ga_category="Frame" data-ga_action="roll" data-ga_label='<%= shelby.models.user.get('nickname') %>' type="button">Roll Frame</button>
      </li>
      <li class="upvote-frame remove-frame">
        <button class="video-controls-button ir">
          Upvote
        </button>
      </li>
      <% if (!frameIsOnWatchLaterRoll) { %>
        <li class="save-frame">
          <button class="video-controls-button ir js-track-event" data-ga_category="Frame" data-ga_action="save" data-ga_label='<%= shelby.models.user.get('nickname') %>' type="button">Save Frame</button>
        </li>
      <% } else { %>
        <li class="remove-frame">
          <button class="video-controls-button ir" type="button">Remove Frame</button>
        </li>
      <% } %>
    </ul>
    <% if(frame.get('video').get('thumbnail_url')) { %>
      <img class="js-frame-activate video-thumbnail-image" src="<%= frame.get('video').get('thumbnail_url') %>" alt="posted by <%= creator.get('nickname') %>" title="posted by <%= creator.get('nickname') %>">
    <% } else { %>
      <img class="js-frame-activate video-thumbnail-missing" src="<%= '/images/assets/missing_thumb.svg' %>" alt="posted by <%= creator.get('nickname') %>" title="posted by <%= creator.get('nickname') %>">
    <% } %>
  </div>
 
  <footer class="video-card-footer">

    <!-- MessageView for the first message will be dynamically rendered here -->

      <section class="video-activity js-video-activity clearfix" style="<%= showConversation ? '' : 'display:none' %>">

        <!-- sample build -->
        <ul class="video-activity-list">
          <!-- MessageViews for the remaining messages are dynamically rendered here -->
        </ul>
        <!-- sample build -->
        <form class="video-activity-comment clearfix">
          <textarea class="js-add-message-input" rows="1"></textarea>
          <div class="js-frame-comment-error-message frame-comment-error-message"></div>
          <button class="js-message-submit video-activity-comment-submit js-track-event" data-ga_category="Frame" data-ga_action="comment" data-ga_label='<%= shelby.models.user.get('nickname') %>'>Comment</button>
        </form>
      </section><!-- eo section.video-shares -->
  
    <div class="video-footer">
      <% var remainingMessageCount = messages.length - (useFrameCreatorInfo ? 0 : 1) %>

			<!-- if no messages show text input field, otherwise show link to open conversation -->
			<% if (remainingMessageCount && remainingMessageCount > 0) { %>
	      <a class="video-activity-toggle js-video-activity-toggle js-track-event" data-ga_category="Frame" data-ga_action="show conversation" data-ga_label='<%= shelby.models.user.get('nickname') %>' href="#"><span class="js-video-activity-toggle-verb"> Show</span> conversation <% if (remainingMessageCount) { %> (<%= remainingMessageCount %>)<% } %></a>
	      <% if (shelby.models.guide.get('displayState') !== 'standardRoll' &&
	             shelby.models.guide.get('displayState') !== 'userPersonalRoll' &&
	             frame.has('roll')) { %>
	        <a onclick="return false;" class="video-source js-track-event" data-ga_category="Frame" data-ga_action="source link" data-ga_label='<%= shelby.models.user.get('nickname') %>' href="#">
	          <%= frameIsOnWatchLaterRoll ? 'Source' : frame.get('roll').get('title') %>
	        </a>
	      <% } %>
			<% } else { %>
				<form class="video-activity-comment clearfix">
          <textarea class="js-add-message-input" rows="1" placeholder="Write a comment..."></textarea>
          <div class="js-frame-comment-error-message frame-comment-error-message"></div>
        </form>
			<% } %>
    </div> 
  
  </footer>

</article><!-- eo #video-123.video-card -->
<!-- END VIDEO CARD -->
