<section class="clearfix">
  <h3 class="shelf__h2">
    Branding
  </h3>

<div class="column one-whole">
<code class="language-markup">
  <pre>
</pre>
</code>

  <div style="position: relative; font-size: 10px;">
    <div class="animate_module shelby-header clearfix" role="banner">
      <a href="#" class="shelby-logo visuallydisabled">
        <h1 class="shelby_logo">
          <span class="icon-mark"></span><span class="icon-type"></span><span class="ir">Shelby.tv</span>
        </h1>
      </a>

      <nav id="js-guide-presentation-selector" class="guide-presentation-selector">
        <ul class="js-content-selector list list--inline app_nav clearfix">
            <li class="list__item">
              <a href="#/stream" class="app_nav__button js-stream js-track-event">
                Stream
              </a>
            </li>

            <li class="list__item js-featured-menu">
              <a href="#/explore" class="app_nav__button active-item">
                Explore
              </a>
            </li>

            <li class="list__item js-guide-me js-track-event">
              <a href="#/username/activity" class="app_nav__button">
                Me
              </a>
            </li>

            <li class="list__item js-guide-me js-track-event">
              <a href="#/preferences/channels" class="app_nav__button">
                Channels
              </a>
            </li>


            <li class="dropdown_module list__item secondary-item guide-login">
              <button class="dropdown_button app_nav__button app_nav__button--settings" type="button">
                <span style="background-image: url('avatar.jpg');" class="image_module avatar avatar--inline avatar--tiny" role="img">
                  <img src="avatar.jpg" class="visuallyhidden"/>
                </span>
                <span class="button_label">username</span>
                <span class="icon-carrot"></span>
              </button>

              <section class="dropdown_section settings-section">
                <div class="dropdown_lining fin fin--top_right fin--edging clearfix">

                  <ul class="list">
                    <li class="list__item">
                      <button
                        class="button_primer button_command button_command--flexible button_command--sub button_command--text"
                      >
                        Me
                      </button>
                    </li>
                  </ul>

                  <ul class="list">
                    <li class="list__item">
                      <a
                        href="#"
                        class="button_primer button_command button_command--flexible button_command--sub button_command--text"
                        >
                        Preferences
                      </a>
                    </li>
                    <li class="list__item">
                      <a
                        href="#"
                        class="button_primer button_command button_command--flexible button_command--sub button_command--text"
                        >
                        Edit Profile
                      </a>
                    </li>

                    <li class="list__item">
                      <a
                        href="#"
                        class="button_primer button_command button_command--flexible button_command--sub button_command--text"
                        >
                        Notifications
                      </a>
                    </li>

                    <li class="list__item">
                      <a href="#" class="button_primer button_command button_command--flexible button_command--sub button_command--text ">
                        Support and Feedback
                      </a>
                    </li>

                    <li class="list__item">
                      <a href="#" class="button_primer button_command button_command--flexible button_command--sub button_command--text ">
                        Blog
                      </a>
                    </li>
                  </ul>

                  <ul class="list">
                    <li class="list__item">
                      <button
                        class="button_primer button_command button_command--flexible button_command--sub button_command--text"
                        >
                        Logout
                      </button>
                    </li>
                  </ul>

                </div>
              </section>
            </li><!-- eo login button/dropdown -->
          </ul><!-- eo guide-presentation-list -->
        </nav>
      </div>
    </div>
  </div>
</section>

