<section class="clearfix">
  <h3 class="shelf__h2">
    Buttons
  </h3>

<div class="column one-whole">
<code class="language-markup">
  <pre>&lt;button class="button_primer button_command button_command--flexible button_gray">
    &lt;span class="icon icon-share">&lt;/span>
    &lt;span class="button_label">Gray Button&lt;/span>
  &lt;/button>
</pre>
</code>

    <h4 class="shelf__h3">Grays</h4>
    <p>
      <button class="button_primer button_command button_command--flexible button_gray">
        <span class="button_label">.button_gray</span>
      </button>
      <button class="button_primer button_command button_command--flexible button_soft-black">
        <span class="button_label">.button_soft-black</span>
      </button>
      <button class="button_primer button_command button_command--flexible button_black">
        <span class="button_label">.button_black</span>
      </button>
    </p>

    <h4 class="shelf__h3">Colors</h4>
    <p>
      <button class="button_primer button_command button_command--flexible button_red">
        <span class="button_label">.button_red</span>
      </button>
      <button class="button_primer button_command button_command--flexible button_blue">
        <span class="button_label">.button_blue</span>
      </button>
      <button class="button_primer button_command button_command--flexible button_green">
        <span class="button_label">.button_green</span>
      </button>
    <!-- </p>

    <h4 class="shelf__h3">Social Media Colors</h4>
    <p> -->
      <button class="button_primer button_command button_command--flexible button_facebook-blue">
        <span class="button_label">.button_facebook-blue</span>
      </button>
      <button class="button_primer button_command button_command--flexible button_twitter-blue">
        <span class="button_label">.button_twitter-blue</span>
      </button>
    </p>
<!--   </div>
  <div class="column one-half">

 -->
    <h4 class="shelf__h3">States</h4>
    <div class="column one-fifth">
      <p>
        <a class="button_primer button_command button_command--flexible button_green">
          <span class="button_label">Anchor</span>
        </a>
      </p>
      <p>
        <button class="button_primer button_command button_command--flexible button_green">
          <span class="button_label">Button</span>
        </button>
      </p>

      <p>
        <button class="button_primer button_command button_command--sub button_green">
          <span class="button_label">Subnav</span>
        </button>
      </p>
      <p>
        <button class="button_primer button_command button_command--wide button_green">
          <span class="button_label">Wide</span>
        </button>
      </p>
      <p>
        <button class="button_primer button_command button_command--flexible button_command--large button_green">
          <span class="button_label">Large</span>
        </button>
      </p>
      <p>
        <button class="button_primer button_command button_command--flexible button_command--giant button_green">
          <span class="button_label">Giant</span>
        </button>
      </p>

      <p>
        <button class="button_primer button_command button_command--share button_green">
          <span class="icon icon-share"></span>
          <span class="button_label">Share</span>
        </button>
      </p>
      <p>
        <button class="button_primer button_command button_command--share button_green button_icon-only">
          <span class="icon icon-share"></span>
          <span class="button_label visuallyhidden">Share</span>
        </button>
      </p>

      <p>
        <button class="button_primer button_command button_command--flexible button_green visuallydisabled">
          <span class="button_label">Visually Disabled</span>
        </button>
      </p>
      <p>
        <button class="button_primer button_command button_command--flexible button_green" disabled>
          <span class="button_label">Disabled</span>
        </button>
      </p>
      <p>
        <button class="button_primer button_command button_command--flexible button_green button_active">
          <span class="button_label">Active</span>
        </button>
      </p>
      <p>
        <button class="button_primer button_command button_command--flexible button_text">
          <span class="button_label">Text</span>
        </button>
      </p>

      <p>
        <button class="button_primer button_command button_green button_busy" style="width: 100px;">
          <span class="button_label">Busy</span>
        </button>
      </p>

      <p>
        <button class="button_primer button_command button_command--flexible button_green button_flat">
          <span class="button_label">Block</span>
        </button>
      </p>
    </div>

    <div class="column column--padding four-fifths">
<code class="language-markup">
  <pre>&lt;!-- anchor element -->
  &lt;a      class="button_primer button_command button_command--flexible button_green">

  &lt;!-- button element -->
  &lt;button class="button_primer button_command button_command--flexible button_green">

  &lt;!-- subnav button -->
  &lt;button class="button_primer button_command button_command--sub button_green">

  &lt;!-- wide -->
  &lt;button class="button_primer button_command button_command--wide button_green">

  &lt;!-- large -->
  &lt;button class="button_primer button_command button_command--flexible button_command--large button_green">

  &lt;!-- giant -->
  &lt;button class="button_primer button_command button_command--flexible button_command--giant button_green">

  &lt;!-- share w/ icon-->
  &lt;button class="button_primer button_command button_command--share button_green">
    &lt;span class="icon icon-share">&lt;/span>
    &lt;span class="button_label">Share&lt;/span>

  &lt;!-- icon-only -->
  &lt;button class="button_primer button_command button_command--share button_green button_icon-only">
    &lt;span class="icon icon-share">&lt;/span>
    &lt;span class="button_label visuallyhidden">Share&lt;/span>

  &lt;!-- disabled attr -->
  &lt;button class="button_primer button_command button_command--flexible button_green" disabled>

  &lt;!-- .visuallydisabled -->
  &lt;button class="button_primer button_command button_command--flexible button_green visuallydisabled">

  &lt;!-- active -->
  &lt;button class="button_primer button_command button_command--flexible button_green button_active">

  &lt;!-- text -->
  &lt;button class="button_primer button_command button_command--flexible button_text">

  &lt;!-- busy/loading spinner -->
  &lt;button class="button_primer button_command button_green button_busy">

  &lt;!-- block/full width -->
  &lt;button class="button_primer button_command button_command--flexible button_green button_flat">

</pre>
</code>
    </div><!-- eo column -->


  </div>
</section>

