<section class="clearfix">
  <h3 class="shelf__h2">
    Buttons
  </h3>

<div class="column one-whole">
<code class="language-markup">
  <pre>&lt;button class="button_primer button_command button_command--flexible button_gray">
    &lt;span class="icon icon-share">&lt;/span>
    &lt;span class="button_label">Gray Button&lt;/span>
  &lt;/button>
</pre>
</code>

    <h4 class="shelf__h3">Grays</h4>
    <p>
      <button class="button_primer button_command button_command--flexible button_gray">
        <span class="button_label">.button_gray</span>
      </button>
      <button class="button_primer button_command button_command--flexible button_soft-black">
        <span class="button_label">.button_soft-black</span>
      </button>
      <button class="button_primer button_command button_command--flexible button_black">
        <span class="button_label">.button_black</span>
      </button>
    </p>

    <h4 class="shelf__h3">Colors</h4>
    <p>
      <button class="button_primer button_command button_command--flexible button_red">
        <span class="button_label">.button_red</span>
      </button>
      <button class="button_primer button_command button_command--flexible button_blue">
        <span class="button_label">.button_blue</span>
      </button>
      <button class="button_primer button_command button_command--flexible button_green">
        <span class="button_label">.button_green</span>
      </button>
    <!-- </p>

    <h4 class="shelf__h3">Social Media Colors</h4>
    <p> -->
      <button class="button_primer button_command button_command--flexible button_facebook-blue">
        <span class="button_label">.button_facebook-blue</span>
      </button>
      <button class="button_primer button_command button_command--flexible button_twitter-blue">
        <span class="button_label">.button_twitter-blue</span>
      </button>
    </p>
<!--   </div>
  <div class="column one-half">

 -->
    <h4 class="shelf__h3">.button_command--<i>[modifier]</i></h4>
      <ul>
        <li>.button_command--flexible</li>
        <li>.button_command--facebook</li>
        <li>.button_command--twitter</li>
        <li>.button_command--share</li>
        <li>…see <code>_button-sizing.scss</code> for full list of options</li>
      </ul>

    <h4 class="shelf__h3">.button_<i>[color_name]</i></h4>
      <ul>
        <li>.button_gray</li>
        <li>.button_soft-black</li>
        <li>.button_black</li>

        <li>.button_red</li>
        <li>.button_blue</li>
        <li>.button_green</li>

        <li>.button_facebook-blue</li>
        <li>.button_twitter-blue</li>
      </ul>

  </div>
</section>

