<div class="clearfix">
  <div class="column column--padding one-half" style="background-color: black;">
    <p style="color:white;">
      Regular, for dark backgrounds:
    </p>

    <p>
      <span class="shelby_logo">
        <span class="icon-mark"></span><span class="icon-type"></span><span class="ir">Shelby.tv</span>
      </span>
    </p>
  </div>

  <div class="column one-half">
    <p>
      Inverted, for light backgrounds:
    </p>

    <p>
      <span class="shelby_logo shelby_logo--inverted">
        <span class="icon-mark"></span><span class="icon-type"></span><span class="ir">Shelby.tv</span>
      </span>
    </p>
  </div>
</div>
