<div class="one-third">
  <p>
    The Modals are used through our app to either call out a feature or prompt the user to make a decision.
  </p>
</div>

<div class="column one-half" style="background-color:black;">
  <div class="modal">
    <div class="modal__body modal__body--scroll">
      <h1 class="modal__h1">Attention</h1>
      <p class="modal__block">
        The logs reveal that the ship investigated the breakup of a planet and was soon attacked by an enormous machine with a conical shell miles in length and a giant opening at one end filled with sparkling energy.
      </p>
      <p class="modal__block">
        Spock theorizes the machine breaks down planets into rubble which it then consumes for fuel and adds that given its past trajectory, it is likely to have come from outside the galaxy and will continue towards the "most densely populated region of our galaxy."
      </p>

      <p class="modal__block">
        Lt. Sulu reports that the shuttlecraft's subsequent explosion appears to have slightly decreased the planet killer's output power. Kirk realizes Decker may have had the right idea but not enough energy to succeed. Kirk has Spock determine if the thermonuclear detonation of the Constellation impulse engines inside the planet-killer would destroy it. Spock is unsure, and he and Scott both object to Kirk's intention to remain on the Constellation to carry out the plan. Kirk has Scott rig a manual 30-second detonation timer, planning to start it and beam back to the Enterprise before detonation.
      </p>

      <p class="modal__block">
        With everything prepared, Kirk orders the others back to the Enterprise and steers the Constellation toward the planet killer's maw. At the right moment he starts the 30-second timer and asks to be beamed out. The damaged Enterprise transporter shorts out, and Kirk is stranded on the Constellation. Scott rushes to make repairs. As the timer ticks toward zero, Science Officer Spock suggests to Chief Engineer Scott that he might complete the engineering task by trying "Inverse Phasing", Kirk issues an understated request: "Gentlemen, I suggest you beam me aboard" and watches the doomsday machine grow on the viewscreen.
      </p>

    </div>

    <div class="modal__foot">
      <button class="button_primer button_command button_command--flexible button_red">Abort!</button>
      <button class="button_primer button_command button_command--flexible button_green">Resume</button>
    </div>
  </div>
</div>

<div class="column column--padding one-half">
<code class="language-markup">
  <pre>&lt;div class="modal">
    &lt;!-- MODIFIERS: modal__body--scroll is optional,
            depending on how much content you want -->
    &lt;div class="modal__body modal__body--scroll">
      &lt;h1 class="modal__h1">
        Attention
      &lt;/h1>

      &lt;p class="modal__block">
        The logs reveal th…
      &lt;/p>

      &lt;p class="modal__block">
        Spock theorizes the ma…
      &lt;/p>

    &lt;/div>

    &lt!-- footer is reserved for interactivity -->
    &lt;div class="modal__foot">
      &lt;button class="button_primer button_command button_command--flexible button_red">
        Abort!
      &lt;/button>

      &lt;button class="button_primer button_command button_command--flexible button_green">
        Resume
      &lt;/button>
    &lt;/div>
  &lt;/div>
</pre>
</code>
</div>
