<section class="clearfix" id="share-page" name="share-page">
  <h3 class="shelf__h2">
    Share Page
  </h3>

  <div class="one-half clearfix">
    <p>The Share Pages came into existence for a three reasons:</p>
    <ul>
      <li>A videocard is a unique unit of information, and should have its own permalink.</li>
      <li>When a User shares one of their videocards, they expect to share that unit of information specifically.</li>
      <li>We don't have control over how a User shares a permalink, so we need a way for any device on any platform to enjoy a specific video.</li>
    </ul>
  </div>

  <center>
    <%= image_tag "share_page.png", :class => "two-thirds" %>
  </center>
</section>
