<section class="clearfix">
  <h3 class="shelf__h2">
    Typography
  </h3>
<div class="column two-thirds">
  <h1>h1 header</h1>
  <h2>h2 header</h2>
  <h3>h3 header</h3>
  <h4>h4 header</h4>
  <h5>h5 header</h5>
  <h6>h6 header</h6>
</div>

<div class="column column--padding one-third">
<code class="language-markup">
  <pre>&lt;h1>h1 header&lt;/h1>
  &lt;h2>h2 header&lt;/h2>
  &lt;h3>h3 header&lt;/h3>
  &lt;h4>h4 header&lt;/h4>
  &lt;h5>h5 header&lt;/h5>
  &lt;h6>h6 header&lt;/h6>
</pre>
</code>
</div>
</section>
