<section class="clearfix">
  <h3 class="shelf__h2">
    Typography
  </h3>
<div class="column two-fifths">
  <h1 class="alpha ellipsis">The quick brown fox jumps over the lazy dog 01234567890 !@#$%^&*()_+-=</h1>
  <h2 class="beta ellipsis">The quick brown fox jumps over the lazy dog 01234567890 !@#$%^&*()_+-=</h2>
  <h3 class="gamma ellipsis">The quick brown fox jumps over the lazy dog 01234567890 !@#$%^&*()_+-=</h3>
  <h4 class="delta ellipsis">The quick brown fox jumps over the lazy dog 01234567890 !@#$%^&*()_+-=</h4>
  <h5 class="epsilon ellipsis">The quick brown fox jumps over the lazy dog 01234567890 !@#$%^&*()_+-=</h5>
  <h6 class="zeta ellipsis">The quick brown fox jumps over the lazy dog 01234567890 !@#$%^&*()_+-=</h6>
</div>

<div class="column column--padding three-fifths">
<code class="language-markup">
  <pre>&lt;h1 class="alpha">h1 header&lt;/h1>
  &lt;h2 class="beta">h2 header&lt;/h2>
  &lt;h3 class="gamma">h3 header&lt;/h3>
  &lt;h4 class="delta">h4 header&lt;/h4>
  &lt;h5 class="epsilon">h5 header&lt;/h5>
  &lt;h6 class="zeta">h6 header&lt;/h6>
</pre>
</code>
</div>
</section>
