<section class="clearfix" id="widths" name="widths">
  <h3 class="shelf__h2">
    Widths
  </h3>
<div class="column one-whole">
  <code>.one-whole</code>
  <div class="frame-body-wrapper one-whole clearfix">
  </div>
  <code>.one-half</code>
  <div class="frame-body-wrapper one-half clearfix">
  </div>
  <code>.one-third</code>
  <div class="frame-body-wrapper one-third clearfix">
  </div>
  <code>.one-quarter</code>
  <div class="frame-body-wrapper one-quarter clearfix">
  </div>
  <code>.one-fifth</code>
  <div class="frame-body-wrapper one-fifth clearfix">
  </div>
  <code>.one-sixth</code>
  <div class="frame-body-wrapper one-sixth clearfix">
  </div>
  <code>.one-eighth</code>
  <div class="frame-body-wrapper one-eighth clearfix">
  </div>
  <code>.two-thirds</code>
  <div class="frame-body-wrapper two-thirds clearfix">
  </div>
  <code>.three-fifths</code>
  <div class="frame-body-wrapper three-fifths clearfix">
  </div>

</div>
<!--
<div class="column column--padding three-fifths">
<code class="language-markup">
  <pre>
    .one-whole
    .one-half
    .one-third
    .one-quarter
    .one-fifth
    .one-sixth
    .one-eighth

    </pre>
</code>
</div>
-->
</section>
