
//POSSIBLY LIKELY INCOMPLETE, ALSO INCLUDES OBSELETE IMAGEs
$extension: ".svg" !default;
$path: "/images/assets/" !default;

$logo-shelby                    : "#{$path}shelby_logo#{$extension}";
$logo-shelby-mark               : "#{$path}shelby_mark#{$extension}";

$icon-carrot                    : "#{$path}carrot#{$extension}";
$icon-chevron-right             : "#{$path}chevron#{$extension}";
$icon-comment-reply             : "#{$path}comment_reply#{$extension}";
$icon-mark                      : "#{$path}mark#{$extension}";
$icon-missing-thumbnail         : "#{$path}missing_thumb#{$extension}";
$icon-settings                  : "#{$path}settings#{$extension}";

$icon-player-fullscreen-enable  : "#{$path}player_fullscreen_enable#{$extension}";
$icon-player-fullscreen-disable : "#{$path}player_fullscreen_disable#{$extension}";
$icon-player-hd-disabled        : "#{$path}player_hd_disabled#{$extension}";
$icon-player-hd-on              : "#{$path}player_hd_on#{$extension}";
$icon-player-hd-off             : "#{$path}player_hd_off#{$extension}";
$icon-player-play               : "#{$path}player_play#{$extension}";
$icon-player-pause              : "#{$path}player_pause#{$extension}";
$icon-player-sound-off          : "#{$path}player_sound_off#{$extension}";
$icon-player-sound-on           : "#{$path}player_sound_on#{$extension}";

$icon-roll-lock                 : "#{$path}roll_lock#{$extension}";
$icon-roll-unlock               : "#{$path}roll_unlock#{$extension}";

$icon-share-facebook-on         : "#{$path}share_facebook_on#{$extension}";
$icon-share-facebook-off        : "#{$path}share_facebook_off#{$extension}";
$icon-share-twitter-on          : "#{$path}share_twitter_on#{$extension}";
$icon-share-twitter-off         : "#{$path}share_twitter_off#{$extension}";

$icon-social-facebook           : "#{$path}social_facebook#{$extension}"; 
$icon-social-tumblr             : "#{$path}social_tumblr#{$extension}";
$icon-social-twitter            : "#{$path}social_twitter#{$extension}";

$icon-switch-lock               : "#{$path}slider_lock#{$extension}";
$icon-switch-unlock             : "#{$path}slider_unlock#{$extension}";

$icon-team-twitter              : "#{$path}team_twitter#{$extension}";
$icon-team-web                  : "#{$path}team_web#{$extension}";

$icon-user-logged-out           : "#{$path}user_loggedout#{$extension}";

$icon-nav-stream                : "#{$path}nav_stream#{$extension}";

$icon-videocard-comment-off     : "#{$path}videocard_comment_off#{$extension}";
$icon-videocard-comment-on      : "#{$path}videocard_comment_on#{$extension}";
$icon-videocard-like-off        : "#{$path}videocard_like_off#{$extension}";
$icon-videocard-like-on         : "#{$path}videocard_like_on#{$extension}";
$icon-videocard-roll-off        : "#{$path}videocard_roll_off#{$extension}";
$icon-videocard-roll-on         : "#{$path}videocard_roll_on#{$extension}";
$icon-videocard-share-off       : "#{$path}videocard_share_off#{$extension}";
$icon-videocard-share-on        : "#{$path}videocard_share_on#{$extension}";

//UI-TODO: comb through radar.scss for hardcoded variables
//         below needs to be added to css:


//$x-pos : center !default;
//$y-pos : center !default;

//@mixin x-inline-svg($svg $primer-color, $x-pos, $y-pos){
//	background: url($svg) no-repeat $x-pos, $y-pos, $primer-color;
//}

//variables must be announced here.
$font-size   : 13px;
$size        : "62.5%" !default;
$button-size : large !default; 		//see @mixin x-button-primer()
$button-back : normal !default; 	//see @mixin x-button-primer()

//radius, for border-radius, etc.
$radius        : 5px;
$button-radius : 5px;
$input-radius  : 3px;
$roundies-type : normal !default;  //see @mixin roundies()

//spacing
$defaultMargin  : 10px;
$default-margin : 10px;
$margin         : 0.5em;

//border colors
$outline : #222;
$inset   : #000;
$outset  : #343434;

$rolls-inset : #333; //possibly obselete after new rolling pages are done
$rolls-outset : #555; //possibly obselete after new rolling pages are done

//border styles
$frame-stroke : 1px solid $outline;

//text-level colors
$button-color  : #efefef;
$text          : #dcddde;
$headerNavLink : #d8d8d8;

//background colors
$base-bg-color                      : #494949;
$guide-bg-color 				            : #232526;
$guide-presentation-bg-color        : #2f3233;
$guide-presentation-tab-bg-color    : #27292a;
$guide-presentation-tab-bg-selected : #111;
$header-bg-color                    : #2c2c2c;
$header-outline                     : #202020;
$filter-bg-color			              : #585858;
$video-card-color                   : #404040;
$video-card-bg-color                : #35383a;
$video-card-thumbnail               : #494949;
$video-controls-progress-load       : #303030;
$video-player 											: #0e0e0e;
$rolling-header-bg-color            : #555;
$rolls-bg-color 			              : #585858;
$toggle-switch-gray                 : #fefefe;

$settingsBG : #2b2a2a;
$rollsBG    : #585858;

//special colors
$primer-color      : #343434 !default;
$shelby-blue       : #0071a3;
//$shelby-gray       : #343434;
$shelby-gray       : #27292A;
$shelby-green      : #428e3a;
$shelby-purple     : #693a7b;
$shelby-red        : #cc1235;
$shelby-yellow     : #d5cd39;

$education-yellow  : #f9f15c;

$facebook-blue     : #013e80;
$twitter-blue      : #2CAAE1;
$tumblr-blue       : #2f445b;

$facebook-color    : #013e80;
$twitter-color     : #00a2d1;
$tumblr-color      : #2f445b;

$networks-unselected : #474747;

$highlight-amount : 25% !default; 

$bottom-color: #4e5354 !default;
$bottom-color-adjust: 20% !default;
