
//POSSIBLY LIKELY INCOMPLETE, ALSO INCLUDES OBSELETE IMAGEs

$logo-shelby                    : "/images/assets/shelby_logo.svg";
$logo-shelby-mark               : "/images/assets/shelby_mark.svg";

$icon-carrot                    : "/images/assets/carrot.svg";
$icon-chevron-right             : "/images/assets/chevron.svg";
$icon-mark                      : "/images/assets/mark.svg";
$icon-missing-thumbnail         : "/images/assets/missing_thumb.svg";
$icon-settings                  : "/images/assets/settings.svg";

$icon-player-fullscreen-enable  : "/images/assets/player_fullscreen_enable.svg";
$icon-player-fullscreen-disable : "/images/assets/player_fullscreen_disable.svg";
$icon-player-hd-disabled        : "/images/assets/player_hd_disabled.svg";
$icon-player-hd-on              : "/images/assets/player_hd_on.svg";
$icon-player-hd-off             : "/images/assets/player_hd_off.svg";
$icon-player-play               : "/images/assets/player_play.svg";
$icon-player-pause              : "/images/assets/player_pause.svg";
$icon-player-sound-off          : "/images/assets/player_sound_off.svg";
$icon-player-sound-on           : "/images/assets/player_sound_on.svg";

$icon-roll-lock                 : "/images/assets/roll_lock.svg";
$icon-roll-unlock               : "/images/assets/roll_unlock.svg";

$icon-share-facebook-on         : "/images/assets/share_facebook_on.svg";
$icon-share-facebook-off        : "/images/assets/share_facebook_off.svg";
$icon-share-twitter-on          : "/images/assets/share_twitter_on.svg";
$icon-share-twitter-off         : "/images/assets/share_twitter_off.svg";

$icon-social-facebook           : "/images/assets/social_facebook.svg"; 
$icon-social-tumblr             : "/images/assets/social_tumblr.svg";
$icon-social-twitter            : "/images/assets/social_twitter.svg";

$icon-switch-lock               : "/images/assets/slider_lock.svg";
$icon-switch-unlock             : "/images/assets/slider_unlock.svg";

$icon-team-twitter              : "/images/assets/team_twitter.svg";
$icon-team-web                  : "/images/assets/team_web.svg";

$icon-user-logged-out           : "/images/assets/user_loggedout.svg";

$icon-nav-stream                : "/images/assets/nav_stream.svg";

$icon-videocard-comment-off     : "/images/assets/videocard_comment_off.svg";
$icon-videocard-comment-on      : "/images/assets/videocard_comment_on.svg";
$icon-videocard-like-off        : "/images/assets/videocard_like_off.svg";
$icon-videocard-like-on         : "/images/assets/videocard_like_on.svg";
$icon-videocard-roll-off        : "/images/assets/videocard_roll_off.svg";
$icon-videocard-roll-on         : "/images/assets/videocard_roll_on.svg";
$icon-videocard-share-off       : "/images/assets/videocard_share_off.svg";
$icon-videocard-share-on        : "/images/assets/videocard_share_on.svg";

//UI-TODO: comb through radar.scss for hardcoded variables
//         below needs to be added to css:
$icon-comment-reply: "comment_reply.svg";


//$x-pos : center !default;
//$y-pos : center !default;

//@mixin x-inline-svg($svg $primer-color, $x-pos, $y-pos){
//	background: url($svg) no-repeat $x-pos, $y-pos, $primer-color;
//}

//variables must be announced here.
$font-size   : 13px;
$size        : "62.5%" !default;
$button-size : large !default; 		//see @mixin x-button-primer()
$button-back : normal !default; 	//see @mixin x-button-primer()

//radius, for border-radius, etc.
$radius        : 5px;
$button-radius : 5px;
$input-radius  : 3px;
$roundies-type : normal !default;  //see @mixin roundies()

//spacing
$defaultMargin  : 10px;
$default-margin : 10px;
$margin         : 0.5em;

//border colors
$outline : #222;
$inset   : #000;
$outset  : #343434;

$rolls-inset : #333; //possibly obselete after new rolling pages are done
$rolls-outset : #555; //possibly obselete after new rolling pages are done

//border styles
$frame-stroke : 1px solid $outline;

//text-level colors
$button-color  : #efefef;
$text          : #dcddde;
$headerNavLink : #d8d8d8;

//background colors
$base-bg-color                      : #494949;
$guide-bg-color 				            : #232526;
$guide-presentation-bg-color        : #35383a;
$guide-presentation-tab-bg-color    : #27292a;
$guide-presentation-tab-bg-selected : #111;
$header-bg-color                    : #2c2c2c;
$header-outline                     : #202020;
$filter-bg-color			              : #585858;
$video-card-color                   : #404040;
$video-card-bg-color                : #35383a;
$video-card-thumbnail               : #494949;
$video-controls-progress-load       : #303030;
$video-player 											: #0e0e0e;
$rolling-header-bg-color            : #555;
$rolls-bg-color 			              : #585858;
$toggle-switch-gray                 : #fefefe;

$settingsBG : #2b2a2a;
$rollsBG    : #585858;

//special colors
$primer-color      : #343434 !default;
$shelby-blue       : #0071a3;
//$shelby-gray       : #343434;
$shelby-gray       : #27292A;
$shelby-green      : #428e3a;
$shelby-purple     : #693a7b;
$shelby-red        : #cc1235;
$shelby-yellow     : #d5cd39;

$education-yellow  : #f9f15c;

$facebook-blue     : #013e80;
$twitter-blue      : #2CAAE1;
$tumblr-blue       : #2f445b;

$facebook-color    : #013e80;
$twitter-color     : #00a2d1;
$tumblr-color      : #2f445b;

$networks-unselected : #474747;

$highlight-amount : 25% !default; 

$bottom-color: #4e5354 !default;
$bottom-color-adjust: 20% !default;
