/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

/* Commenting out the Reset style sheet in favor of the normalize style sheet that comes with h5bp.
 * Need to integrate the h5bp normalizer into this compass fanciness.
 * @import "compass/reset";
 */

//variables must be announced here.
$font-size: 13px;
$size: "62.5%" !default;

//radius, for border-radius, etc.
$radius: 5px;
$radiusHeader: $radius - 2 $radius - 2 0 0;
$radiusFooter: 0 0 $radius - 2 $radius - 2;

//spacing
$defaultMargin: 10px;
$margin: 0.5em;

//colors
$text: #dcddde;

$headerNavLink: #d8d8d8;
$settingsBG: #2b2a2a;

$rollsBG: #585858;

$myBlue: #6666FF;
$myGreen: #ddFFdd;

$shelbyGreen: #549738;
$shelbyBlue: #0f8db8;
$shelbyProgressBlue: #0092c1;

$outset : #252525;
$inset : #4f4d51;

$rolls-inset : #333;
$rolls-outset : #555;

$save : #2291c2;

//border styles
$articleStroke : 1px solid #222;
$menuStroke : 1px solid black;
$saveStroke : 2px solid $save;

//soft gradient vals
$gradientDark : #303030;
$gradientLight : #333;

$softLinearGradient : linear-gradient(top, $gradientLight, $gradientDark);

$flatShelbyBlue: #007fb6;
$softShelbyBlue: linear-gradient(top, #00a5cc, $flatShelbyBlue);

$shelbyBlueHighlight: #79cae7;
$softShelbyBlueHighlight: adjust-lightness($flatShelbyBlue,5%);

$sharingShelbyBlue: #143caf;
$sharingShelbyBlueButton: linear-gradient(top, #0087c0, $sharingShelbyBlue);
$sharingShelbyBlueHighlight: adjust-lightness($sharingShelbyBlue,5%);

$flatShelbyGreen: #549738;
$softShelbyGreen: linear-gradient(top, $flatShelbyGreen, adjust-lightness($flatShelbyGreen,-10%));
$softShelbyGreenDeboss: linear-gradient(bottom, adjust-lightness($shelbyGreen,-15%), adjust-lightness($shelbyGreen,-25%));

$flatShelbyGreenButton: #59b034;
$softShelbyGreenButton: linear-gradient(top, #79c758, $flatShelbyGreenButton);
$softShelbyGreenButtonHighlight: adjust-lightness($flatShelbyGreenButton,5%);

$flatShelbyPurple: #693a7b;
$softShelbyPurple: linear-gradient(top, #8d539a, $flatShelbyPurple);
$softShelbyPurpleHighlight: #9863a2;

$flatShelbyYellow: #d5cd39;
$softShelbyYellow: linear-gradient(top, #dad450, $flatShelbyYellow);
$softShelbyYellowHighlight: #ddd756;

$flatEducationYellow: #f9f15c;
$softEducationYellow: linear-gradient(top, adjust-lightness($flatEducationYellow,10%), $flatEducationYellow);

$flatShelbyGray: #575757;
$softShelbyGray: linear-gradient(top, #7b7b7b, $flatShelbyGray);

$flatShelbyGrayButton: #343434;
$softShelbyGrayButton: linear-gradient(top, #4a4a4a, $flatShelbyGrayButton);

$flatLightShelbyGrayButton: #464646;
$lightShelbyGrayButton: linear-gradient(top, #646464, $flatLightShelbyGrayButton);
$lightShelbyGrayButtonHighlight: adjust-lightness($flatLightShelbyGrayButton,5%);

$flatShelbyGrayDeboss: #303030;
$softShelbyGrayDeboss: linear-gradient(bottom,#444,$flatShelbyGrayDeboss);

$flatShelbyDarkGray: #303030;
$softShelbyDarkGray: linear-gradient(top, #333, $flatShelbyDarkGray);

$flatShelbyRed: #9e1632;
$softShelbyRed: linear-gradient(top, #ba2046, $flatShelbyRed);
$softShelbyRedHighlight: adjust-lightness($flatShelbyRed,10%);

$flatShelbyVideoPlayer: #0e0e0e;
$softShelbyVideoPlayer:linear-gradient(top, #141414, $flatShelbyVideoPlayer);

$twitterBlue: #00a2d1;
$softTwitterBlue: linear-gradient(top, #00b5d7, $twitterBlue);

$facebookBlue: #013e80;
$softFacebookBlue: linear-gradient(top, #01599e, $facebookBlue);

$tumblrBlue: #2f445b;
$softTumblrBlue: linear-gradient(top, #426180, $tumblrBlue);


$flatSwitchGray: #fefefe;
$softSwitchGray: linear-gradient(top, #d7d7d7, $flatSwitchGray);

$flatNetworksUnselected: #474747;
$softNetworksUnselected: linear-gradient(top, #646464, $flatNetworksUnselected);

@mixin softgradient {
	background-color: $gradientDark;
	@include background($softLinearGradient);
}

//dark gradient styles
$darkGradientTop: #141414;
$darkGradientBot: #0e0e0e;

$darkLinearGradient : linear-gradient(top, $darkGradientTop, $darkGradientBot);

@mixin darkgradient {
	background: $darkGradientBot;
  @include background-image($darkLinearGradient);
}

@mixin roundies{
	@include border-radius($radius);

}

@mixin basefont{
	font:100 normal 62.5%/1.231 'Ubuntu',Trebuchet MS,sans-serif;
}

@mixin inputfont{
	font:300 normal 100%/1.231 'Ubuntu',Trebuchet MS,sans-serif;
}

@mixin buttonfont{
	font:500 normal 100%/1.231 'Ubuntu',Trebuchet MS,sans-serif;
}

@mixin fontcolor {
	color: $text;
}
@mixin fontcolorLight{
	color: #efefef;
}


//button primer, for consistency's sake

$top-color: #343434 !default;
$color: #4a4a4a !default;

@mixin button-primer($color){
	background: $color;
	@include background(linear-gradient(top, adjust-lightness($color,5%), $color));
	@include border-radius($radius);
	@include buttonfont;
	@include box-shadow(inset -1px 0px 1px 0px #444);
	
//	border: 1px solid adjust-lightness($color,-20%);
	border: 1px solid #222;
	color: #efefef;
	display: block;
//	float:left;
	font-family: 'Ubuntu',Trebuchet MS,sans-serif;
	font-size: $font-size;
	font-weight: 300;
//	height:23px;
	line-height:1.5;
	margin:3px;
	padding:1px 8px;
	text-shadow:0px 1px 2px #222;
//	width:auto;
}


@mixin button-basics($top,$bottom,$noise){
	@include border-radius($radius);
	@include buttonfont;

	border:1px solid #222;
	color:#efefef;
	display:block;
}

@mixin rolls-menu-button{
	@include border-radius($radius);
	@include buttonfont;
	background:$flatShelbyGreen;
	@include background(
		$softShelbyGreen
	);
	@include box-shadow(inset -1px 0px 1px 0px #85cc66);

	border:1px solid adjust-lightness($flatShelbyGreen, -5%);
	color:#efefef;
	display:block;
	line-height:2.5;
	margin:0;
	padding:0;
	text-shadow:0px 1px 2px #222;
	width:100%;
}

$color: red !default;

@mixin form-submit-button($color){
	@include border-radius($radius);
	@include buttonfont;
	background: $color;
	@include background(
		linear-gradient(top, adjust-lightness($color, 15%), $color)
	);
	@include box-shadow(inset -1px 0px 1px 0px adjust-lightness($color, 20%));

	border:1px solid adjust-lightness($color, -15%);
	color:#efefef;
	display:block;
	height:34px;
	float:inherit;
	line-height:2.5;
	margin:$defaultMargin 0;
	padding:0 10%;
	text-shadow:0px 1px 2px #222;
	width:81px;
}

@mixin form-button-small{
	@include border-radius($radius);
	@include buttonfont;
	@include background(
		$softShelbyGrayButton
	);
	@include box-shadow(inset -1px 0px 1px 0px #444);
	
	border:1px solid #222;
	color:#efefef;
	display:block;
	float:left;
	font-size:13px;
	height:23px;
	line-height:1.5;
	margin:3px;
	padding:0 5px;
	text-shadow:0px 1px 2px #222;
	width:auto;
}



