<% if Rails.env == "staging" %>
  <span class="shelby-title-staging"><%= Settings::Branch.branch %></span>
<% end %>

<header class="shelby__head clearfix" role="banner">
  <a href="/" class="button_primer shelby-logo">
    <h1 class="shelby-logo">
      <span class="shelby_logo">
        <span class="icon-mark"></span><span class="icon-type"></span><span class="ir">Shelby.tv</span>
      </span>
    </h1>
  </a>

  <nav>
    <ul class="list list--inline app_nav clearfix">
      <% if show_login %>
        <li class="dropdown_module list__item">
          <button class="dropdown_button button_primer button_command button_command--flexible button_command--text app_nav__button">
            Log In
            <i class="icon-carrot"></i>
          </button>

          <section class="dropdown_section login-section">
            <div class="dropdown_lining fin fin--top_right clearfix">
              <%= render :partial => '/objects/login_form' %>
            </div>
          </section>
        </li><!-- eo login button/dropdown -->
      <% end %>
    </ul>
  </nav>
</header>
