<header class="shelby__header clearfix" role="banner">
  <a href="/" class="button_primer shelby-logo">
    <% if Rails.env != "staging" %>
      <h1 class="shelby_logo">
        <span class="icon-mark"></span><span class="icon-type"></span><span class="ir">Shelby.tv</span>
      </h1>
    <% else %>
      <h1 class="shelby-title-staging">
        <%= Settings::Branch.branch %>
      </h1>
    <% end %>
  </a>

  <nav class="guide-presentation-selector">
    <ul class="list app_nav clearfix">
      <% if show_login %>
        <li class="dropdown_module list__item secondary-item guide-login">
          <button class="dropdown_button app_nav__button">
            Log In
            <i class="icon-carrot"></i>
          </button>

          <section class="dropdown_section login-section">
            <div class="dropdown_lining fin fin--top_right clearfix">
              <%= render :partial => '/objects/login_form' %>
            </div>
          </section>
        </li><!-- eo login button/dropdown -->
      <% end %>
    </ul>
  </nav>
</header>
