<!doctype html>
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Shelby.tv</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <%= include_stylesheets :common %>
  <%= include_javascripts :common, :shelby %>
</head>
<body>
  <!-- Prompt IE 6 users to install Chrome Frame. Remove this if you support IE 6.
       chromium.org/developers/how-tos/chrome-frame-getting-started -->
  <!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->
  
  <div id="wrapper" role="main">

    <div class="main">

      <header id="header" role="banner">
        <!-- contents in guide-header.jst -->
      </header>
      <div class="menu">
        <!-- contents in menu.jst -->
      </div>
      <div id="guide" class="content-body">
        <!-- guide contents dynamically rendered-->
      </div>

    </div><!-- eo .main -->

    <div id="player" class="video-player">

      <div id="youtube-player-holder"></div>
      <div id="vimeo-player-holder"></div>

    </div> <!-- eo .video-player -->

		<div id="temp-auth-related-links">
			<div id="temp-signin" style="display:none; position:fixed; top: 0px; height: 40px; font-size: 15px; padding: 5px 0px;">
				Sorry, you done appear to be signed in...
				<%= link_to 'login w/ twitter', "#{Settings::ShelbyAPI.url}/auth/twitter", :id => 'signin', :class => 'auth-popup' , "popup-width"=>"600" , "popup-height"=>"700" %>				
			</div>
			
			<div style="position:fixed; bottom: 10px; font-size: 15px;">
				<%= link_to 'signout', signout_path, :id => 'signout' %>
			</div>			
		</div>

  </div> <!-- eo ~main -->

  <!-- Asynchronous Google Analytics snippet. Change UA-XXXXX-X to be your site's ID.
       mathiasbynens.be/notes/async-analytics-snippet 
  <script>
    var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
    g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g,s)}(document,'script'));
  </script>

	-->
</body>
</html>
