  <%= javascript_include_tag "shelby" %>
  <%= stylesheet_link_tag "screen", :media => "screen" %>
  <!--[if lt IE 9]><%= stylesheet_link_tag "png", :media => "screen, projection" %><![endif]-->
</head>

<body class="shelby">
	<div id="fb-root"></div>
	<%= render :partial => "/genius/facebook/fb_sdk" if @genius_roll_id %>
	<section id="js-notification-banner-wrapper" class="notification-banner-wrapper"></section>
  <div id="js-shelby-wrapper" class="shelby-wrapper">

		<% unless @empty_shelby_wrapper %>
	    <header id="js-header" class="animate_module js-app-header shelby-header js-inactivity-preemption" role="banner">
	      <!-- contents in AppHeaderView -->
	    </header>
			<div id="js-iso-roll-header" class="animate_module js-app-header shelby-header isoroll__header js-inactivity-preemption" role="banner" hidden>
	      <!-- contents in IsoRollAppHeaderView -->
	    </div>

	    <div class="content_wrapper main-layout js-main-layout">
	      <section class="js-inactivity-preemption js-guide animate_module sidebar_module guide-wrapper clearfix" role="sidebar">
	        <!-- content filled in by GuideView -->
	      </section><!-- eo .guide-wrapper -->

	      <section class="content_lining" role="main">
	        <!-- content filled in by children of MainLayoutView -->
	      </section><!-- eo .content_lining -->
	    </div><!-- eo .content_wrapper.main-layout -->

	    <div class="content_wrapper explore-layout js-explore-layout">
	      <!-- content filled in by ExploreLayoutView -->
	    </div><!-- eo .content_wrapper.explore-layout -->

	    <div class="content_wrapper explore-layout js-onboarding-layout">
	      <!-- content filled in by OnboardingLayoutView -->
	    </div><!-- eo .content_wrapper.onboarding-layout -->

	    <div class="content_wrapper action-layout js-action-layout">
	      <section class="content_lining js-content_lining">
					<!-- children appended in by GuideOverlayManager -->
	      </section>
	    </div><!-- eo .content_wrapper.action-layout -->

			<!-- Need this at the base level so it's always in the DOM -->
			<div id="js-notifications-wrapper" class="notification__wrapper hide animate_module"></div>

      <!-- isolated roll specific happenings -->
      <div class="js-isolated-roll-welcome notifications-wrapper welcome-message__wrapper"></div>
		<% end %>

  </div> <!-- eo ~application -->