<!DOCTYPE html>
<!-- saved from url=(0069)http://search.cheezburger.com/?q=geek%20video&ref=navbar#geek%20video -->
<html class="        js history boxshadow csstransforms csstransforms3d csstransitions" lang="en" xmlns:og="http://ogp.me/ns#" xmlns:fb="http://www.facebook.com/2008/fbml"><!--<![endif]-->
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta property="fb:admins" content="647178770">
  <meta property="fb:app_id" content="151927811548639">
  <meta name="p:domain_verify" content="8b17fa9140551390d0f75e01dcf78693">

  <meta name="msApplication-ID" content="Cheezburger.Cheezburger">
  <meta name="msApplication-PackageFamilyName" content="Cheezburger.Cheezburger_a2ma4xw3wqp06">

  <title>Search </title>

  <%= stylesheet_link_tag "chzboot", :media => "screen" %>
  <%= javascript_include_tag "cheez", "landing" %>

  <script id="chz-configs" type="application/json">
  {"ClusterSiteId":null,"ContextualSiteId":null,"ProfileDomain":"http://profile.cheezburger.com","SiteName":"Search","SitePath":"/","PathWithoutPage":"/","VerticalSiteId":493,"VerticalPrefix":null,"SuperSitePrefix":"None","AdSuffix":"ROS","ShowAds":true,"ShowSponsoredPosts":false,"HasAsyncAds":true,"GAAcctId":"UA-4387187-2","Page":1,"imageDomain":"https://i.chzbgr.com","ShowEchoCommentsCount":true,"LandingPageUrl":"http://app.cheezburger.com/WhatAreCheezburgerSites","ReblogUrl":"/Shared/Add","Username":null,"UserSites":null,"KissInsightsUrl":"s3.amazonaws.com/ki.js/23712/4Ys.js","LoginMeow":"http://app.cheezburger.com/Account/LoginMeow","LoginUrl":"http://app.cheezburger.com/Account/Login?returnTo=http%3A%2F%2Fsearch.cheezburger.com%2F%3Fq%3Dgeek%20video%26ref%3Dnavbar","LoginAndRegisterUrl":"http://app.cheezburger.com/Account/RegisterAndLogin","LoginOrRegisterUrl":"http://app.cheezburger.com/Account/LoginOrRegisterV2","ForgotPasswordUrl":"http://app.cheezburger.com/Account/ForgotPassword?returnTo=http%3A%2F%2Fsearch.cheezburger.com%2F%3Fq%3Dgeek%20video%26ref%3Dnavbar","FacebookLoginAndRegisterUrl":"http://app.cheezburger.com/Account/FacebookLoginAndRegister","IsLoggedIn":false,"EnableMobileLogin":true,"FacebookLoginUrl":"http://app.cheezburger.com/Account/FacebookLogin","FacebookLoginV2Url":"http://app.cheezburger.com/Account/FacebookLoginV2","MobileLoginUrlV2":"http://app.cheezburger.com/Account/LotionLogin?returnTo=http%3A%2F%2Fsearch.cheezburger.com%2F%3Fq%3Dgeek%20video%26ref%3Dnavbar","FacebookAppId":"151927811548639","IsSinglePostPage":false,"IsSharePage":false,"IsHomePage":false,"IsProduction":true,"UserFavoritesUrl":"http://profile.cheezburger.com//favorites","UserId":null,"EnableOptimizely":false,"EnableAdSafeTracker":true,"ShowRegPopup":false,"CookieHostname":".cheezburger.com","ScoresUrl":"http://app.cheezburger.com/Rating/Scores","EchoApiUrl":"http://app.cheezburger.com/Echo","OnOCastVoteUrl":"http://app.cheezburger.com/Rating/OnoCast","EnablePerformanceLogging":false,"EnableFrameRateLogging":false,"RageFaceUrl":"https://s.chzbgr.com/s/release_20140428.294/img/rage_faces/","SoundUrl":"https://s.chzbgr.com/s/release_20140428.294/sound/","FacebookAppNamespace":"cheezburger-app","SplitTesting":{},"EnableFavoriteConversions":true,"UserEmailHash":null,"EnableOGVoting":true,"EnableOGFollow":true,"EnableOGCreateMeme":false,"EnableNewUserVotingTip":false,"EnableOGReblog":true,"EnableOGRecaption":true,"EnableOGCreateSite":false,"EnableKissInsights":false,"EnableGifPlayer":false,"EnableLazyVideos":false,"EnableAddThisButtons":true,"ViewServer":"http://cheezburger.com","DisableAnonymousComments":true,"IsNewlyCreatedAsset":false,"IsMySite":false,"HomepageUrl":"http://www.cheezburger.com","EnableVoteWidgetAd":false,"VoteWidgetAdIntervalMinutes":0,"VoteWidgetAdTag":null,"EnableMobileWebInterstitial":false,"MobileWebInterstitialIntervalMinutes":0,"UseFacebookFriendsImages":false,"EnableFanConverter":false,"EnableFreshdesk":true,"FreshdeskUrl":"http://support.cheezburger.com","EnableSlideShowMobileMVP":false,"EnableJumbotron":true,"EnableCoullVidlinkr":false,"EnableSharethroughAds":true,"VidlinkrWebsiteId":null,"EnableQuantcastAdvertise":true,"ShowViewListOverlay":true,"EnableFall2013VisualUpdates":true,"ShowSocialMediaIcons":true,"EnableTopSocialMediaIcons":true,"EnableSppAdSkinning":true,"EnableStickySidebar":false,"VisitorUserId":"63d70856-99e3-489c-ac82-9cd748cfb00c","EnableSplyt":true,"SplytCustomerId":"cheezburger-cheezburger-prod"}
</script>

  <!-- Shared _Layout -->

<style type="text/css">.fb_hidden{position:absolute;top:-10000px;z-index:10001}.fb_invisible{display:none}.fb_reset{background:none;border:0;border-spacing:0;color:#000;cursor:auto;direction:ltr;font-family:"lucida grande", tahoma, verdana, arial, sans-serif;font-size:11px;font-style:normal;font-variant:normal;font-weight:normal;letter-spacing:normal;line-height:1;margin:0;overflow:visible;padding:0;text-align:left;text-decoration:none;text-indent:0;text-shadow:none;text-transform:none;visibility:visible;white-space:normal;word-spacing:normal}.fb_reset>div{overflow:hidden}.fb_link img{border:none}
.fb_dialog{background:rgba(82, 82, 82, .7);position:absolute;top:-10000px;z-index:10001}.fb_reset .fb_dialog_legacy{overflow:visible}.fb_dialog_advanced{padding:10px;-moz-border-radius:8px;-webkit-border-radius:8px;border-radius:8px}.fb_dialog_content{background:#fff;color:#333}.fb_dialog_close_icon{background:url(http://static.ak.fbcdn.net/rsrc.php/v2/yq/r/IE9JII6Z1Ys.png) no-repeat scroll 0 0 transparent;_background-image:url(http://static.ak.fbcdn.net/rsrc.php/v2/yL/r/s816eWC-2sl.gif);cursor:pointer;display:block;height:15px;position:absolute;right:18px;top:17px;width:15px}.fb_dialog_mobile .fb_dialog_close_icon{top:5px;left:5px;right:auto}.fb_dialog_padding{background-color:transparent;position:absolute;width:1px;z-index:-1}.fb_dialog_close_icon:hover{background:url(http://static.ak.fbcdn.net/rsrc.php/v2/yq/r/IE9JII6Z1Ys.png) no-repeat scroll 0 -15px transparent;_background-image:url(http://static.ak.fbcdn.net/rsrc.php/v2/yL/r/s816eWC-2sl.gif)}.fb_dialog_close_icon:active{background:url(http://static.ak.fbcdn.net/rsrc.php/v2/yq/r/IE9JII6Z1Ys.png) no-repeat scroll 0 -30px transparent;_background-image:url(http://static.ak.fbcdn.net/rsrc.php/v2/yL/r/s816eWC-2sl.gif)}.fb_dialog_loader{background-color:#f2f2f2;border:1px solid #606060;font-size:24px;padding:20px}.fb_dialog_top_left,.fb_dialog_top_right,.fb_dialog_bottom_left,.fb_dialog_bottom_right{height:10px;width:10px;overflow:hidden;position:absolute}.fb_dialog_top_left{background:url(http://static.ak.fbcdn.net/rsrc.php/v2/ye/r/8YeTNIlTZjm.png) no-repeat 0 0;left:-10px;top:-10px}.fb_dialog_top_right{background:url(http://static.ak.fbcdn.net/rsrc.php/v2/ye/r/8YeTNIlTZjm.png) no-repeat 0 -10px;right:-10px;top:-10px}.fb_dialog_bottom_left{background:url(http://static.ak.fbcdn.net/rsrc.php/v2/ye/r/8YeTNIlTZjm.png) no-repeat 0 -20px;bottom:-10px;left:-10px}.fb_dialog_bottom_right{background:url(http://static.ak.fbcdn.net/rsrc.php/v2/ye/r/8YeTNIlTZjm.png) no-repeat 0 -30px;right:-10px;bottom:-10px}.fb_dialog_vert_left,.fb_dialog_vert_right,.fb_dialog_horiz_top,.fb_dialog_horiz_bottom{position:absolute;background:#525252;filter:alpha(opacity=70);opacity:.7}.fb_dialog_vert_left,.fb_dialog_vert_right{width:10px;height:100%}.fb_dialog_vert_left{margin-left:-10px}.fb_dialog_vert_right{right:0;margin-right:-10px}.fb_dialog_horiz_top,.fb_dialog_horiz_bottom{width:100%;height:10px}.fb_dialog_horiz_top{margin-top:-10px}.fb_dialog_horiz_bottom{bottom:0;margin-bottom:-10px}.fb_dialog_iframe{line-height:0}.fb_dialog_content .dialog_title{background:#6d84b4;border:1px solid #3b5998;color:#fff;font-size:14px;font-weight:bold;margin:0}.fb_dialog_content .dialog_title>span{background:url(http://static.ak.fbcdn.net/rsrc.php/v2/yd/r/Cou7n-nqK52.gif) no-repeat 5px 50%;float:left;padding:5px 0 7px 26px}body.fb_hidden{-webkit-transform:none;height:100%;margin:0;overflow:visible;position:absolute;top:-10000px;left:0;width:100%}.fb_dialog.fb_dialog_mobile.loading{background:url(http://static.ak.fbcdn.net/rsrc.php/v2/ya/r/3rhSv5V8j3o.gif) white no-repeat 50% 50%;min-height:100%;min-width:100%;overflow:hidden;position:absolute;top:0;z-index:10001}.fb_dialog.fb_dialog_mobile.loading.centered{max-height:590px;min-height:590px;max-width:500px;min-width:500px}#fb-root #fb_dialog_ipad_overlay{background:rgba(0, 0, 0, .45);position:absolute;left:0;top:0;width:100%;min-height:100%;z-index:10000}#fb-root #fb_dialog_ipad_overlay.hidden{display:none}.fb_dialog.fb_dialog_mobile.loading iframe{visibility:hidden}.fb_dialog_content .dialog_header{-webkit-box-shadow:white 0 1px 1px -1px inset;background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#738ABA), to(#2C4987));border-bottom:1px solid;border-color:#1d4088;color:#fff;font:14px Helvetica, sans-serif;font-weight:bold;text-overflow:ellipsis;text-shadow:rgba(0, 30, 84, .296875) 0 -1px 0;vertical-align:middle;white-space:nowrap}.fb_dialog_content .dialog_header table{-webkit-font-smoothing:subpixel-antialiased;height:43px;width:100%}.fb_dialog_content .dialog_header td.header_left{font-size:12px;padding-left:5px;vertical-align:middle;width:60px}.fb_dialog_content .dialog_header td.header_right{font-size:12px;padding-right:5px;vertical-align:middle;width:60px}.fb_dialog_content .touchable_button{background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#4966A6), color-stop(.5, #355492), to(#2A4887));border:1px solid #29447e;-webkit-background-clip:padding-box;-webkit-border-radius:3px;-webkit-box-shadow:rgba(0, 0, 0, .117188) 0 1px 1px inset, rgba(255, 255, 255, .167969) 0 1px 0;display:inline-block;margin-top:3px;max-width:85px;line-height:18px;padding:4px 12px;position:relative}.fb_dialog_content .dialog_header .touchable_button input{border:none;background:none;color:#fff;font:12px Helvetica, sans-serif;font-weight:bold;margin:2px -12px;padding:2px 6px 3px 6px;text-shadow:rgba(0, 30, 84, .296875) 0 -1px 0}.fb_dialog_content .dialog_header .header_center{color:#fff;font-size:16px;font-weight:bold;line-height:18px;text-align:center;vertical-align:middle}.fb_dialog_content .dialog_content{background:url(http://static.ak.fbcdn.net/rsrc.php/v2/y9/r/jKEcVPZFk-2.gif) no-repeat 50% 50%;border:1px solid #555;border-bottom:0;border-top:0;height:150px}.fb_dialog_content .dialog_footer{background:#f2f2f2;border:1px solid #555;border-top-color:#ccc;height:40px}#fb_dialog_loader_close{float:left}.fb_dialog.fb_dialog_mobile .fb_dialog_close_button{text-shadow:rgba(0, 30, 84, .296875) 0 -1px 0}.fb_dialog.fb_dialog_mobile .fb_dialog_close_icon{visibility:hidden}
.fb_iframe_widget{display:inline-block;position:relative}.fb_iframe_widget span{display:inline-block;position:relative;text-align:justify}.fb_iframe_widget iframe{position:absolute}.fb_iframe_widget_lift{z-index:1}.fb_hide_iframes iframe{position:relative;left:-10000px}.fb_iframe_widget_loader{position:relative;display:inline-block}.fb_iframe_widget_fluid{display:inline}.fb_iframe_widget_fluid span{width:100%}.fb_iframe_widget_loader iframe{min-height:32px;z-index:2;zoom:1}.fb_iframe_widget_loader .FB_Loader{background:url(http://static.ak.fbcdn.net/rsrc.php/v2/y9/r/jKEcVPZFk-2.gif) no-repeat;height:32px;width:32px;margin-left:-16px;position:absolute;left:50%;z-index:4}
.fb_connect_bar_container div,.fb_connect_bar_container span,.fb_connect_bar_container a,.fb_connect_bar_container img,.fb_connect_bar_container strong{background:none;border-spacing:0;border:0;direction:ltr;font-style:normal;font-variant:normal;letter-spacing:normal;line-height:1;margin:0;overflow:visible;padding:0;text-align:left;text-decoration:none;text-indent:0;text-shadow:none;text-transform:none;visibility:visible;white-space:normal;word-spacing:normal;vertical-align:baseline}.fb_connect_bar_container{position:fixed;left:0 !important;right:0 !important;height:42px !important;padding:0 25px !important;margin:0 !important;vertical-align:middle !important;border-bottom:1px solid #333 !important;background:#3b5998 !important;z-index:99999999 !important;overflow:hidden !important}.fb_connect_bar_container_ie6{position:absolute;top:expression(document.compatMode=="CSS1Compat"? document.documentElement.scrollTop+"px":body.scrollTop+"px")}.fb_connect_bar{position:relative;margin:auto;height:100%;width:100%;padding:6px 0 0 0 !important;background:none;color:#fff !important;font-family:"lucida grande", tahoma, verdana, arial, sans-serif !important;font-size:13px !important;font-style:normal !important;font-variant:normal !important;font-weight:normal !important;letter-spacing:normal !important;line-height:1 !important;text-decoration:none !important;text-indent:0 !important;text-shadow:none !important;text-transform:none !important;white-space:normal !important;word-spacing:normal !important}.fb_connect_bar a:hover{color:#fff}.fb_connect_bar .fb_profile img{height:30px;width:30px;vertical-align:middle;margin:0 6px 5px 0}.fb_connect_bar div a,.fb_connect_bar span,.fb_connect_bar span a{color:#bac6da;font-size:11px;text-decoration:none}.fb_connect_bar .fb_buttons{float:right;margin-top:7px}
.fbpluginrecommendationsbarleft,.fbpluginrecommendationsbarright{position:fixed !important;bottom:0;z-index:999}.fbpluginrecommendationsbarleft{left:10px}.fbpluginrecommendationsbarright{right:10px}</style></head>
<body class="proxima fall2013" data-twttr-rendered="true" style="zoom: 1;">
<!-- start: global nav -->
<div id="js-globalnav-wrap" class="navbar-wrap">
  <nav id="js-globalnav" class="navbar is-fixed">
    <div class="navbar-inner">
      <div class="container">

        <div class="mobile-nav-top">
          <a class="btn btn-navbar expand mobile-expand" data-toggle="collapse" data-target="#main-nav">
            <span class="plus"></span>
          </a>
          <a class="brand" href="http://www.cheezburger.com/">Cheezburger</a>
          <h2 class="navbar-title"><a href="http://search.cheezburger.com/">Search</a></h2>
        </div>

        <div class="mobile-collapse" id="main-nav">
          <ul class="nav">
              <li class="vertical ICHC  ">


                <a class="btn btn-navbar expand" data-toggle="collapse" data-target="#ICHC-nav">
                  <span class="plus"></span>
                </a>
                <a href="http://icanhas.cheezburger.com/?ref=navbar">

                  <span class="title">I Can Has</span>
                  <span class="sub-title">Animals</span>

                </a>

                  <div class="flyout row supersite ICHC" id="ICHC-nav">
                    <div class="row">

                      <div class="span4 cluster-header">
                        <h2 class="sprite-super-site super-site-ICHC">
                          <a href="http://icanhas.cheezburger.com/?ref=navbar">I Can Has</a>
                        </h2>

                      </div>

                      <div class=" vertical-sub-nav-ie-fix">

                        <ul class="unstyled">
                            <li>
                              <a href="http://icanhas.cheezburger.com/?ref=navbar">
                                I Can Has Cheezburger?
                                <span class="tagline">Lolcats n Funny Pictures </span>
                              </a>
                            </li>
                            <li>
                              <a href="http://icanhas.cheezburger.com/justcapshunz?ref=navbar">
                                Animal Capshunz
                                <span class="tagline">All of the Internet's Animals. Captioned</span>
                              </a>
                            </li>
                            <li>
                              <a href="http://icanhas.cheezburger.com/gifs?ref=navbar">
                                Animal Gifs
                                <span class="tagline">Cute and Hilarious Animal Gifs</span>
                              </a>
                            </li>
                            <li>
                              <a href="http://icanhas.cheezburger.com/squee?ref=navbar">
                                Daily Squee
                                <span class="tagline">So cute your brain might explode. </span>
                              </a>
                            </li>
                            <li>
                              <a href="http://icanhas.cheezburger.com/dogs?ref=navbar">
                                I Has A Hotdog
                                <span class="tagline">Loldogs n Cute Puppies </span>
                              </a>
                            </li>
                            <li>
                              <a href="http://icanhas.cheezburger.com/lolcats?ref=navbar">
                                Lolcats
                                <span class="tagline">Lolcats n' Funny Cat Pictures</span>
                              </a>
                            </li>
                            <li>
                              <a class="js-video" data-src="icanhas" href="http://search.cheezburger.com/?q=animal%20video&ref=navbar">
                                Videos
                                <span class="tagline">Watch all our Animal videos here!</span>
                              </a>
                            </li>
                        </ul>

                      </div>

                    </div>

                    <span class="flyout-bottom"></span>
                  </div>
              </li>
              <li class="vertical ROFL  ">


                <a class="btn btn-navbar expand" data-toggle="collapse" data-target="#ROFL-nav">
                  <span class="plus"></span>
                </a>
                <a href="http://roflrazzi.cheezburger.com/?ref=navbar">

                  <span class="title">ROFLrazzi</span>
                  <span class="sub-title">Celebs</span>

                </a>

                  <div class="flyout row supersite ROFL" id="ROFL-nav">
                    <div class="row">

                      <div class="span4 cluster-header">
                        <h2 class="sprite-super-site super-site-ROFL">
                          <a href="http://roflrazzi.cheezburger.com/?ref=navbar">ROFLrazzi</a>
                        </h2>

                      </div>

                      <div class=" vertical-sub-nav-ie-fix">

                        <ul class="unstyled">
                            <li>
                              <a href="http://roflrazzi.cheezburger.com/?ref=navbar">
                                ROFLrazzi
                                <span class="tagline">All That's Fab Funny in Showbiz</span>
                              </a>
                            </li>
                            <li>
                              <a href="http://roflrazzi.cheezburger.com/celebsredirect?ref=navbar">
                                Celebs
                                <span class="tagline">Lol Celebrities and Hollywood Humor</span>
                              </a>
                            </li>
                            <li>
                              <a href="http://memebase.cheezburger.com/derp?ref=navbar">
                                Derp
                                <span class="tagline">All the Derp Hurr that's fit to Derp</span>
                              </a>
                            </li>
                            <li>
                              <a href="http://failblog.cheezburger.com/engrishfunny?ref=navbar">
                                Engrish Funny
                                <span class="tagline">Funny Engrish pictures from around the World</span>
                              </a>
                            </li>
                            <li>
                              <a href="http://roflrazzi.cheezburger.com/history?ref=navbar">
                                Historic LOLs
                                <span class="tagline">Captioned Portraits of Yore</span>
                              </a>
                            </li>
                            <li>
                              <a href="http://icanhas.cheezburger.com/lovelylisting?ref=navbar">
                                Lovely Listings
                                <span class="tagline">Strange Findings in Real Estate Listings</span>
                              </a>
                            </li>
                            <li>
                              <a href="http://roflrazzi.cheezburger.com/scifi?ref=navbar">
                                Set Phasers to LOL
                                <span class="tagline">Syndicated LOLs</span>
                              </a>
                            </li>
                            <li>
                              <a class="js-video" data-src="ROFLrazzi" href="http://search.cheezburger.com/?q=celebs%20video&ref=navbar">
                                Videos
                                <span class="tagline">Watch all our Celebrity videos here!</span>
                              </a>
                            </li>
                            <li>
                              <a href="http://roflrazzi.cheezburger.com/wedinator?ref=navbar">
                                Wedinator
                                <span class="tagline">Your special day... is hilarious. </span>
                              </a>
                            </li>
                        </ul>

                      </div>

                    </div>

                    <span class="flyout-bottom"></span>
                  </div>
              </li>
              <li class="vertical FAIL  ">


                <a class="btn btn-navbar expand" data-toggle="collapse" data-target="#FAIL-nav">
                  <span class="plus"></span>
                </a>
                <a href="http://failblog.cheezburger.com/?ref=navbar">

                  <span class="title">FAIL Blog</span>
                  <span class="sub-title">Fails+Wins</span>

                </a>

                  <div class="flyout row supersite FAIL" id="FAIL-nav">
                    <div class="row">

                      <div class="span4 cluster-header">
                        <h2 class="sprite-super-site super-site-FAIL">
                          <a href="http://failblog.cheezburger.com/?ref=navbar">FAIL Blog</a>
                        </h2>

                      </div>

                      <div class=" vertical-sub-nav-ie-fix">

                        <ul class="unstyled">
                            <li>
                              <a href="http://failblog.cheezburger.com/?ref=navbar">
                                FAIL Blog
                                <span class="tagline">Funny FAIL Pictures and Videos </span>
                              </a>
                            </li>
                            <li>
                              <a href="http://failblog.cheezburger.com/after12?ref=navbar">
                                After 12
                                <span class="tagline">Party Fails</span>
                              </a>
                            </li>
                            <li>
                              <a href="http://failblog.cheezburger.com/autocowrecks?ref=navbar">
                                Autocowrecks
                                <span class="tagline">Text Wrecks &amp; Instant Lulz</span>
                              </a>
                            </li>
                            <li>
                              <a href="http://failblog.cheezburger.com/dating?ref=navbar">
                                Dating
                                <span class="tagline">Dating FAILs &amp; WINs</span>
                              </a>
                            </li>
                            <li>
                              <a href="http://failblog.cheezburger.com/fails?ref=navbar">
                                FAIL Nation
                                <span class="tagline">Just Classic FAILs</span>
                              </a>
                            </li>
                            <li>
                              <a href="http://failblog.cheezburger.com/failbook?ref=navbar">
                                Failbook
                                <span class="tagline">Too Funny To Unfriend</span>
                              </a>
                            </li>
                            <li>
                              <a href="http://failblog.cheezburger.com/work?ref=navbar">
                                Monday Thru Friday
                                <span class="tagline">Failing in the Workplace</span>
                              </a>
                            </li>
                            <li>
                              <a href="http://failblog.cheezburger.com/music?ref=navbar">
                                Music
                                <span class="tagline">Music FAILs &amp; WINs</span>
                              </a>
                            </li>
                            <li>
                              <a href="http://failblog.cheezburger.com/parenting?ref=navbar">
                                Parenting
                                <span class="tagline">Family FAILs &amp; WINs</span>
                              </a>
                            </li>
                            <li>
                              <a href="http://failblog.cheezburger.com/poorlydressed?ref=navbar">
                                Poorly Dressed
                                <span class="tagline">Seriously Questionable Style Moments </span>
                              </a>
                            </li>
                            <li>
                              <a href="http://failblog.cheezburger.com/school?ref=navbar">
                                School of Fail
                                <span class="tagline">School Fails</span>
                              </a>
                            </li>
                            <li>
                              <a href="http://failblog.cheezburger.com/thereifixedit?ref=navbar">
                                There, I Fixed It
                                <span class="tagline">Funny Bad Repairs </span>
                              </a>
                            </li>
                            <li>
                              <a href="http://failblog.cheezburger.com/ugliesttattoos?ref=navbar">
                                Ugliest Tattoos
                                <span class="tagline">Regrettable Tattoos</span>
                              </a>
                            </li>
                            <li>
                              <a class="js-video" data-src="failblog" href="http://search.cheezburger.com/?q=FAIL%20video&ref=navbar">
                                Videos
                                <span class="tagline">Find all our FAIL videos here!</span>
                              </a>
                            </li>
                            <li>
                              <a href="http://failblog.cheezburger.com/wins?ref=navbar">
                                WIN!
                                <span class="tagline">Funny WIN Photos and Videos</span>
                              </a>
                            </li>
                        </ul>

                      </div>

                    </div>

                    <span class="flyout-bottom"></span>
                  </div>
              </li>
              <li class="vertical MEME  ">


                <a class="btn btn-navbar expand" data-toggle="collapse" data-target="#MEME-nav">
                  <span class="plus"></span>
                </a>
                <a href="http://memebase.cheezburger.com/?ref=navbar">

                  <span class="title">Memebase</span>
                  <span class="sub-title">Memes</span>

                </a>

                  <div class="flyout row supersite MEME" id="MEME-nav">
                    <div class="row">

                      <div class="span4 cluster-header">
                        <h2 class="sprite-super-site super-site-MEME">
                          <a href="http://memebase.cheezburger.com/?ref=navbar">Memebase</a>
                        </h2>

                      </div>

                      <div class=" vertical-sub-nav-ie-fix">

                        <ul class="unstyled">
                            <li>
                              <a href="http://memebase.cheezburger.com/?ref=navbar">
                                Memebase
                                <span class="tagline">All Your Memes Are In Our Base</span>
                              </a>
                            </li>
                            <li>
                              <a href="http://memebase.cheezburger.com/americana?ref=navbar">
                                Americana
                                <span class="tagline">American Culture, Sports, and Humor - All Made in China</span>
                              </a>
                            </li>
                            <li>
                              <a href="http://memebase.cheezburger.com/artoftrolling?ref=navbar">
                                Art of Trolling
                                <span class="tagline">The Art of Pranks, Tricks, Lies and Trolling</span>
                              </a>
                            </li>
                            <li>
                              <a href="http://easter.cheezburger.com/?ref=navbar">
                                Easter
                                <span class="tagline">All Your Easter WINs, FAILs, Memes, &amp; Animals!</span>
                              </a>
                            </li>
                            <li>
                              <a href="http://memebase.cheezburger.com/pictureisunrelated?ref=navbar">
                                Picture Is Unrelated
                                <span class="tagline">Funny WTF Pictures </span>
                              </a>
                            </li>
                            <li>
                              <a href="http://memebase.cheezburger.com/ragecomics?ref=navbar">
                                Rage Comics
                                <span class="tagline">Express Your Rage</span>
                              </a>
                            </li>
                            <li>
                              <a href="http://memebase.cheezburger.com/senorgif?ref=navbar">
                                Señor Gif
                                <span class="tagline">Funny Animated GIFs</span>
                              </a>
                            </li>
                            <li>
                              <a href="http://memebase.cheezburger.com/puns?ref=navbar">
                                So Much Pun
                                <span class="tagline">Visual Puns and Jokes</span>
                              </a>
                            </li>
                            <li>
                              <a href="http://thedailywhat.cheezburger.com/?ref=navbar">
                                The Daily What
                                <span class="tagline">Trending Internet Culture</span>
                              </a>
                            </li>
                            <li>
                              <a href="http://memebase.cheezburger.com/thisisphotobomb?ref=navbar">
                                This Is Photobomb
                                <span class="tagline">Surprise! Ruined Photos </span>
                              </a>
                            </li>
                            <li>
                              <a href="http://memebase.cheezburger.com/totallylookslike?ref=navbar">
                                Totally Looks Like
                                <span class="tagline">Stuff That Looks Like Other Stuff</span>
                              </a>
                            </li>
                            <li>
                              <a href="http://memebase.cheezburger.com/verydemotivational?ref=navbar">
                                Very Demotivational
                                <span class="tagline">Work Harder, Not Smarter. </span>
                              </a>
                            </li>
                            <li>
                              <a href="http://memebase.cheezburger.com/videogames?ref=navbar">
                                Video Games
                                <span class="tagline">Video Game Memes</span>
                              </a>
                            </li>
                            <li>
                              <a class="js-video" data-src="memebase" href="http://search.cheezburger.com/?q=troll%20video&ref=navbar">
                                Videos
                                <span class="tagline">Watch and learn from all of our trolling videos here!</span>
                              </a>
                            </li>
                            <li>
                              <a href="http://memebase.cheezburger.com/webcomics?ref=navbar">
                                Web Comics
                                <span class="tagline">Comics from around the Web</span>
                              </a>
                            </li>
                        </ul>

                      </div>

                    </div>

                    <span class="flyout-bottom"></span>
                  </div>
              </li>
              <li class="vertical GEEK  ">


                <a class="btn btn-navbar expand" data-toggle="collapse" data-target="#GEEK-nav">
                  <span class="plus"></span>
                </a>
                <a href="http://geek.cheezburger.com/?ref=navbar">

                  <span class="title">Geek Universe</span>
                  <span class="sub-title">Gamers+Geeks</span>

                </a>

                  <div class="flyout row supersite GEEK" id="GEEK-nav">
                    <div class="row">

                      <div class="span4 cluster-header">
                        <h2 class="sprite-super-site super-site-GEEK">
                          <a href="http://geek.cheezburger.com/?ref=navbar">Geek Universe</a>
                        </h2>

                      </div>

                      <div class=" vertical-sub-nav-ie-fix">

                        <ul class="unstyled">
                            <li>
                              <a href="http://geek.cheezburger.com/?ref=navbar">
                                Geek Universe
                                <span class="tagline">Live Long and Geek Out</span>
                              </a>
                            </li>
                            <li>
                              <a href="http://geek.cheezburger.com/cartoons?ref=navbar">
                                Cartoons &amp; Anime
                                <span class="tagline">Not Just on Saturday Mornings</span>
                              </a>
                            </li>
                            <li>
                              <a href="http://geek.cheezburger.com/doctorwho?ref=navbar">
                                Doctor Who
                                <span class="tagline">All Time Lord, All the Time</span>
                              </a>
                            </li>
                            <li>
                              <a href="http://geek.cheezburger.com/GameofThrones?ref=navbar">
                                Game of Thrones
                                <span class="tagline">Spoiler Alert, They All Die</span>
                              </a>
                            </li>
                            <li>
                              <a href="http://geek.cheezburger.com/life?ref=navbar">
                                Geek Life
                                <span class="tagline">Cosplay, Conventions, and Consumerism</span>
                              </a>
                            </li>
                            <li>
                              <a href="http://geek.cheezburger.com/bronies?ref=navbar">
                                My Little Brony
                                <span class="tagline">Friendship is Magic</span>
                              </a>
                            </li>
                            <li>
                              <a href="http://geek.cheezburger.com/pokememes?ref=navbar">
                                Pokémemes
                                <span class="tagline">Gotta Catch'em All!</span>
                              </a>
                            </li>
                            <li>
                              <a href="http://geek.cheezburger.com/superheroes?ref=navbar">
                                Superheroes
                                <span class="tagline">Comics, Superheroes, and Villains</span>
                              </a>
                            </li>
                            <li>
                              <a href="http://geek.cheezburger.com/videogamecoverage?ref=navbar">
                                Video Game Coverage
                                <span class="tagline">Video Game News and More</span>
                              </a>
                            </li>
                            <li>
                              <a class="js-video" data-src="geekuniverse" href="http://search.cheezburger.com/?q=geek%20video&ref=navbar">
                                Videos
                                <span class="tagline">See all our Geek videos here!</span>
                              </a>
                            </li>
                        </ul>

                      </div>

                    </div>

                    <span class="flyout-bottom"></span>
                  </div>
              </li>
              <li class="vertical ESPANOL  ">


                <a class="btn btn-navbar expand" data-toggle="collapse" data-target="#ESPANOL-nav">
                  <span class="plus"></span>
                </a>
                <a href="http://espanol.cheezburger.com/?ref=navbar">

                  <span class="title">Español</span>
                  <span class="sub-title">Risas</span>

                </a>

                  <div class="flyout row supersite ESPANOL" id="ESPANOL-nav">
                    <div class="row">

                      <div class="span4 cluster-header">
                        <h2 class="sprite-super-site super-site-ESPANOL">
                          <a href="http://espanol.cheezburger.com/?ref=navbar">Español</a>
                        </h2>

                      </div>

                      <div class=" vertical-sub-nav-ie-fix">

                        <ul class="unstyled">
                            <li>
                              <a href="http://espanol.cheezburger.com/?ref=navbar">
                                Español
                                <span class="tagline">Una dosis diaria de humor en español</span>
                              </a>
                            </li>
                            <li>
                              <a href="http://espanol.cheezburger.com/tag/Animales?ref=navbar">
                                Animales
                                <span class="tagline"> De todos los tamaños pero sobre todo con pelo</span>
                              </a>
                            </li>
                            <li>
                              <a href="http://espanol.cheezburger.com/tag/Bromas?ref=navbar">
                                Bromas
                                <span class="tagline">¿Quieres que te explique de qué va este?</span>
                              </a>
                            </li>
                            <li>
                              <a href="http://espanol.cheezburger.com/tag/curiosidades?ref=navbar">
                                Curiosidades
                                <span class="tagline">¡Noticias, información, farándula y mucho más!</span>
                              </a>
                            </li>
                            <li>
                              <a href="http://espanol.cheezburger.com/tag/Deportes?ref=navbar">
                                Deportes
                                <span class="tagline"> Para verlos sentados</span>
                              </a>
                            </li>
                            <li>
                              <a href="http://espanol.cheezburger.com/tag/Gifs?ref=navbar">
                                Gifs
                                <span class="tagline">Son como películas, con desenlace y tal</span>
                              </a>
                            </li>
                            <li>
                              <a href="http://espanol.cheezburger.com/tag/Medios?ref=navbar">
                                Medios
                                <span class="tagline">¿Qué estará diciendo el vecino?</span>
                              </a>
                            </li>
                            <li>
                              <a href="http://espanol.cheezburger.com/tag/Memes?ref=navbar">
                                Memes
                                <span class="tagline"> Tus ocurrencias son nuestras risas</span>
                              </a>
                            </li>
                            <li>
                              <a href="http://espanol.cheezburger.com/tag/Videojuegos?ref=navbar">
                                Videojuegos
                                <span class="tagline">No necesitas jugarlos para disfrutarlos</span>
                              </a>
                            </li>
                            <li>
                              <a class="js-video" data-src="espanol" href="http://espanol.cheezburger.com/tag/Videos?ref=navbar">
                                Videos
                                <span class="tagline">Más que caídas, ¡seguro!</span>
                              </a>
                            </li>
                        </ul>

                      </div>

                    </div>

                    <span class="flyout-bottom"></span>
                  </div>
              </li>
              <li class="vertical KYM  ">


                <a class="btn btn-navbar expand" data-toggle="collapse" data-target="#KYM-nav">
                  <span class="plus"></span>
                </a>
                <a href="http://knowyourmeme.com/?ref=navbar">

                  <span class="title">KYM</span>
                  <span class="sub-title">Wiki</span>

                </a>

                  <div class="flyout row supersite KYM" id="KYM-nav">
                    <div class="row">

                      <div class="span4 cluster-header">
                        <h2 class="sprite-super-site super-site-KYM">
                          <a href="http://knowyourmeme.com/?ref=navbar">KYM</a>
                        </h2>

                      </div>

                      <div class=" vertical-sub-nav-ie-fix">

                        <ul class="unstyled">
                            <li>
                              <a href="http://knowyourmeme.com/memes/popular">
                                Popular Memes
                                <span class="tagline"></span>
                              </a>
                            </li>
                            <li>
                              <a href="http://knowyourmeme.com/search?utf8=%E2%9C%93&context=entries&q=status%3Aconfirmed+category%3Ameme">
                                All Memes
                                <span class="tagline"></span>
                              </a>
                            </li>
                            <li>
                              <a href="http://knowyourmeme.com/search?q=category%3Aevent&sort=newest">
                                New Events
                                <span class="tagline"></span>
                              </a>
                            </li>
                            <li>
                              <a href="http://knowyourmeme.com/search?q=category%3Asite&sort=newest">
                                New Sites
                                <span class="tagline"></span>
                              </a>
                            </li>
                            <li>
                              <a href="http://knowyourmeme.com/search?q=category%3Aperson&sort=newest">
                                New People
                                <span class="tagline"></span>
                              </a>
                            </li>
                            <li>
                              <a href="http://knowyourmeme.com/search?q=category%3Asubculture&sort=newest">
                                New Subcultures
                                <span class="tagline"></span>
                              </a>
                            </li>
                            <li>
                              <a href="http://knowyourmeme.com/photos/most-viewed">
                                All Images
                                <span class="tagline"></span>
                              </a>
                            </li>
                            <li>
                              <a class="js-video" data-src="none" href="http://knowyourmeme.com/videos/most-viewed">
                                All Videos
                                <span class="tagline"></span>
                              </a>
                            </li>
                            <li>
                              <a href="http://knowyourmeme.com/forums">
                                Forums
                                <span class="tagline"></span>
                              </a>
                            </li>
                        </ul>

                      </div>

                    </div>

                    <span class="flyout-bottom"></span>
                  </div>
              </li>

            <li class="search">
              <div class="search-container">
                <form method="GET" action="http://search.cheezburger.com/">
                  <div class="input">
                    <input type="text" name="q" id="search" placeholder="Search all of Cheezburger">
                    <button type="submit"><span class="glyph">&amp;</span></button>
                  </div>
                </form>
              </div>
            </li>
          </ul>

<div class="social-container">
  <div class="profile nav-collapse pull-profile">
      <div class="login-wrap btn-group btn-nav-group">
        <a class="js-login" href="http://app.cheezburger.com/Account/Login?returnTo=http%3A%2F%2Fsearch.cheezburger.com%2F%3Fq%3Dgeek%20video%26ref%3Dnavbar">Login</a>
      </div>
  </div>

  <div class="nav-collapse social2014  create-button">
    <a class="create title" data-toggle="modal" data-icon="4" href="http://search.cheezburger.com/?q=geek%20video&ref=navbar#js-dialog-creatememe"><i></i>Create</a>
  </div>

    <div class="nav-collapse social2014  submit-button">
      <a class="create title" data-icon="5" href="http://search.cheezburger.com/submit">Submit</a>
    </div>

    <div class="social-icons-container">
      <div class="social-media-icons">
        <a href="javascript:void(0)">
          <span class="facebook icons" data-icon="F">&nbsp;</span>
          <span class="twitter icons" data-icon="">&nbsp;</span>
        </a>
        <div class="flyout">
          <h6>Follow Cheezburger</h6>
        </div>
      </div>
    </div>
</div>
        </div>
      </div>
    </div>
  </nav>
</div>
<!-- end: global nav -->




  <div class="stream-wrapper">
    <iframe width="1170" id="shelby" src="/icanhas?mode=cheez" style="height:700px; width: 100%;"></iframe>
  </div>

    <!--<div class="square-ad">





    <div id="34173a50-6a86-4139-acd5-a31b1d5c6364" class="js-ad ad ad-300x600" data-adtype="NoneTEST_300_ATF_ROS" data-adsize="[[300,250]]"></div>

    </div> -->


<div class="hidden" id="url_query">geek video</div>


<script type="text/template" id="searchPageHeader" class="hidden">
  <div class="row search-header">
    <div class="span29">
      <h2>Find your funny!</h2>
    </div>
    <div class="span29">
      <input type="text" name="q" class="query" value="{{ term }}" />
      <button  class="btn btn-chz btn-large search-submit"> <span class="icons" data-icon="&"></span>Search</button>
    </div>
  </div>

  <div id="results-metadata"></div>
  <div class="row" id="results-row">
    <!--<div class="square-ad">





    <div id="34173a50-6a86-4139-acd5-a31b1d5c6364" class="js-ad ad ad-300x600" data-adtype="NoneTEST_300_ATF_ROS" data-adsize="[[300,250]]"></div>

    </div> -->
    <div class="pending-spinner">
      <div class="burger-spinner-wrapper">
        <div class="burger-spinner" />
      </div>

    </div>
  </div>

</script>

<script id="searchNullState" class="hidden" type="text/template">
  <div class="null-state clearfix pull-left">
    <div class="null-state-inner">
      <h2 class="text-center">Cheezburger Search is proven to deliver laughs.</h2>
      <p class="text-center">(...or go directly to one of our sites listed below)</p>
    </div>
  </div>
</script>



<script type="text/javascript">
  var base_url = "https://s.chzbgr.com/s/release_20140428.294/js/";

  require.config({
    baseUrl: base_url,
    paths: {
      jquery: 'libs/jquery'
    },
    waitSeconds: 180
  });
</script>


  </div>

  <footer class="footer-links  js-iscroll-hide js-footer">
    <div class="container">
        <div class="span5">
            <h6><a href="http://icanhas.cheezburger.com/?ref=footernav">I Can Has</a></h6>
              <ul class="unstyled">
                  <li><a href="http://icanhas.cheezburger.com/justcapshunz?ref=footernav">Animal Capshunz</a></li>
                  <li><a href="http://icanhas.cheezburger.com/gifs?ref=footernav">Animal Gifs</a></li>
                  <li><a href="http://icanhas.cheezburger.com/squee?ref=footernav">Daily Squee</a></li>
                  <li><a href="http://icanhas.cheezburger.com/dogs?ref=footernav">I Has A Hotdog</a></li>
                  <li><a href="http://icanhas.cheezburger.com/lolcats?ref=footernav">Lolcats</a></li>
                  <li><a href="http://search.cheezburger.com/?q=animal%20video?ref=footernav">Videos</a></li>
              </ul>
            <h6><a href="http://roflrazzi.cheezburger.com/?ref=footernav">ROFLrazzi</a></h6>
              <ul class="unstyled">
                  <li><a href="http://roflrazzi.cheezburger.com/celebsredirect?ref=footernav">Celebs</a></li>
                  <li><a href="http://memebase.cheezburger.com/derp?ref=footernav">Derp</a></li>
                  <li><a href="http://failblog.cheezburger.com/engrishfunny?ref=footernav">Engrish Funny</a></li>
                  <li><a href="http://roflrazzi.cheezburger.com/history?ref=footernav">Historic LOLs</a></li>
                  <li><a href="http://icanhas.cheezburger.com/lovelylisting?ref=footernav">Lovely Listings</a></li>
                  <li><a href="http://roflrazzi.cheezburger.com/scifi?ref=footernav">Set Phasers to LOL</a></li>
                  <li><a href="http://search.cheezburger.com/?q=celebs%20video?ref=footernav">Videos</a></li>
                  <li><a href="http://roflrazzi.cheezburger.com/wedinator?ref=footernav">Wedinator</a></li>
              </ul>
        </div>
        <div class="span5">
            <h6><a href="http://failblog.cheezburger.com/?ref=footernav">FAIL Blog</a></h6>
              <ul class="unstyled">
                  <li><a href="http://failblog.cheezburger.com/after12?ref=footernav">After 12</a></li>
                  <li><a href="http://failblog.cheezburger.com/autocowrecks?ref=footernav">Autocowrecks</a></li>
                  <li><a href="http://failblog.cheezburger.com/dating?ref=footernav">Dating</a></li>
                  <li><a href="http://failblog.cheezburger.com/fails?ref=footernav">FAIL Nation</a></li>
                  <li><a href="http://failblog.cheezburger.com/failbook?ref=footernav">Failbook</a></li>
                  <li><a href="http://failblog.cheezburger.com/work?ref=footernav">Monday Thru Friday</a></li>
                  <li><a href="http://failblog.cheezburger.com/music?ref=footernav">Music</a></li>
                  <li><a href="http://failblog.cheezburger.com/parenting?ref=footernav">Parenting</a></li>
                  <li><a href="http://failblog.cheezburger.com/poorlydressed?ref=footernav">Poorly Dressed</a></li>
                  <li><a href="http://failblog.cheezburger.com/school?ref=footernav">School of Fail</a></li>
                  <li><a href="http://failblog.cheezburger.com/thereifixedit?ref=footernav">There, I Fixed It</a></li>
                  <li><a href="http://failblog.cheezburger.com/ugliesttattoos?ref=footernav">Ugliest Tattoos</a></li>
                  <li><a href="http://search.cheezburger.com/?q=FAIL%20video?ref=footernav">Videos</a></li>
                  <li><a href="http://failblog.cheezburger.com/wins?ref=footernav">WIN!</a></li>
              </ul>
        </div>
        <div class="span5">
            <h6><a href="http://memebase.cheezburger.com/?ref=footernav">Memebase</a></h6>
              <ul class="unstyled">
                  <li><a href="http://memebase.cheezburger.com/americana?ref=footernav">Americana</a></li>
                  <li><a href="http://memebase.cheezburger.com/artoftrolling?ref=footernav">Art of Trolling</a></li>
                  <li><a href="http://easter.cheezburger.com/?ref=footernav">Easter</a></li>
                  <li><a href="http://memebase.cheezburger.com/pictureisunrelated?ref=footernav">Picture Is Unrelated</a></li>
                  <li><a href="http://memebase.cheezburger.com/ragecomics?ref=footernav">Rage Comics</a></li>
                  <li><a href="http://memebase.cheezburger.com/senorgif?ref=footernav">Señor Gif</a></li>
                  <li><a href="http://memebase.cheezburger.com/puns?ref=footernav">So Much Pun</a></li>
                  <li><a href="http://thedailywhat.cheezburger.com/?ref=footernav">The Daily What</a></li>
                  <li><a href="http://memebase.cheezburger.com/thisisphotobomb?ref=footernav">This Is Photobomb</a></li>
                  <li><a href="http://memebase.cheezburger.com/totallylookslike?ref=footernav">Totally Looks Like</a></li>
                  <li><a href="http://memebase.cheezburger.com/verydemotivational?ref=footernav">Very Demotivational</a></li>
                  <li><a href="http://memebase.cheezburger.com/videogames?ref=footernav">Video Games</a></li>
                  <li><a href="http://search.cheezburger.com/?q=troll%20video?ref=footernav">Videos</a></li>
                  <li><a href="http://memebase.cheezburger.com/webcomics?ref=footernav">Web Comics</a></li>
              </ul>
        </div>
        <div class="span5">
            <h6><a href="http://geek.cheezburger.com/?ref=footernav">Geek Universe</a></h6>
              <ul class="unstyled">
                  <li><a href="http://geek.cheezburger.com/cartoons?ref=footernav">Cartoons &amp; Anime</a></li>
                  <li><a href="http://geek.cheezburger.com/doctorwho?ref=footernav">Doctor Who</a></li>
                  <li><a href="http://geek.cheezburger.com/GameofThrones?ref=footernav">Game of Thrones</a></li>
                  <li><a href="http://geek.cheezburger.com/life?ref=footernav">Geek Life</a></li>
                  <li><a href="http://geek.cheezburger.com/bronies?ref=footernav">My Little Brony</a></li>
                  <li><a href="http://geek.cheezburger.com/pokememes?ref=footernav">Pokémemes</a></li>
                  <li><a href="http://geek.cheezburger.com/superheroes?ref=footernav">Superheroes</a></li>
                  <li><a href="http://geek.cheezburger.com/videogamecoverage?ref=footernav">Video Game Coverage</a></li>
                  <li><a href="http://search.cheezburger.com/?q=geek%20video?ref=footernav">Videos</a></li>
              </ul>
            <h6><a href="http://espanol.cheezburger.com/?ref=footernav">Español</a></h6>
              <ul class="unstyled">
                  <li><a href="http://espanol.cheezburger.com/tag/Animales?ref=footernav">Animales</a></li>
                  <li><a href="http://espanol.cheezburger.com/tag/Bromas?ref=footernav">Bromas</a></li>
                  <li><a href="http://espanol.cheezburger.com/tag/curiosidades?ref=footernav">Curiosidades</a></li>
                  <li><a href="http://espanol.cheezburger.com/tag/Deportes?ref=footernav">Deportes</a></li>
                  <li><a href="http://espanol.cheezburger.com/tag/Gifs?ref=footernav">Gifs</a></li>
                  <li><a href="http://espanol.cheezburger.com/tag/Medios?ref=footernav">Medios</a></li>
                  <li><a href="http://espanol.cheezburger.com/tag/Memes?ref=footernav">Memes</a></li>
                  <li><a href="http://espanol.cheezburger.com/tag/Videojuegos?ref=footernav">Videojuegos</a></li>
                  <li><a href="http://espanol.cheezburger.com/tag/Videos?ref=footernav">Videos</a></li>
              </ul>
        </div>
        <div class="js-ad-container ad-container ad-container-footer">





    <div id="ad-box-02" class="js-ad ad ad-300x250" data-adtype="NoneTEST_300_BTF_ROS" data-adsize="[300, 250]"></div>

        </div>
    </div>
  </footer>
<footer>
  <div class="ad-container ad-container-leaderboard bottom-ad">





    <div id="ad-bot-leaderboard" class="js-ad ad" data-adtype="NoneTEST_728_FOOTER_ROS" data-adsize="[728,90]"></div>

  </div>
</footer>
<footer class="footer is-visible">
  <nav class="container">
    <ul class="unstyled">
      <li><a href="http://blog.cheezburger.com/">Cheezburger Blog</a></li>
      <li><a href="http://advertising.cheezburger.com/">Advertising</a></li>
      <li><a href="http://advertising.cheezburger.com/press/">Press</a></li>
      <li><a href="http://jobs.cheezburger.com/">Jobs</a></li>
      <li><a href="http://support.cheezburger.com/">Support</a></li>
    </ul>
  </nav>
</footer>

<footer class="container legal alt">
  <p>
    <small>©2014 Cheezburger, Inc. | <a href="http://corp.cheezburger.com/terms-of-service/">Terms</a> | <a href="http://corp.cheezburger.com/privacy-policy/">Privacy</a> | <a href="http://corp.cheezburger.com/copyright-infringement-notification/">DMCA Policy</a></small>
    &nbsp;
    <small>Find us on: <a href="https://www.facebook.com/Cheezburger" title="Follow us on Facebook">Facebook</a>, <a href="https://twitter.com/Cheezburger" title="Follow us on Twitter">Twitter</a>, <a href="https://plus.google.com/105247221600709734681" title="Follow us on Google+" rel="publisher">Google+</a></small>
  </p>
  <p><small>Crafted from the finest Internets.</small></p>
</footer>

<div id="js-dialog-creatememe" class="modal modal-creatememe hide fade">
  <section class="modal-creatememe-body">
    <span class="close icons" data-dismiss="modal" data-icon="X"></span>
    <div class="span16 divider">
      <h2>Make a Meme</h2>
      <h4>Use one of our <a href="http://builder.cheezburger.com/Builder">LOLBuilders</a>. Get Internet famous. Prosper.</h4>
      <ul class="unstyled modal-creatememe-list">
        <li>
          <a href="http://builder.cheezburger.com/Builder" class="sprite sprite-builder-basic">
            <span>Add a caption</span>
          </a>
        </li>
        <li>
          <a href="http://builder.cheezburger.com/FlashBuilder/TotallyLooksLike" class="sprite sprite-builder-lookalike">
            <span>Make a Look-Alike</span>
          </a>
        </li>
        <li>
          <a href="http://builder.cheezburger.com/builder/advanced" class="sprite sprite-builder-advanced">
            <span>Add more than a caption</span>
          </a>
        </li>
        <li>
          <a href="http://builder.cheezburger.com/FlashBuilder/GraphJam" class="sprite sprite-builder-chart">
            <span>Make a chart</span>
          </a>
        </li>
        <li>
          <a href="http://builder.cheezburger.com/builder/poster" class="sprite sprite-builder-demotivational">
            <span>Make a Demotivational Poster</span>
          </a>
        </li>
        <li>
          <a href="http://failblog.cheezburger.com/submit/" class="sprite sprite-builder-fail">
            <span>Send in a FAIL</span>
          </a>
        </li>
        <li>
          <a href="http://builder.cheezburger.com/builder/breakingnews" class="sprite sprite-builder-news">
            <span>Add a Breaking News Headline</span>
          </a>
        </li>
        <li>
          <a href="http://builder.cheezburger.com/FlashBuilder/Comixed" class="sprite sprite-builder-comic">
            <span>Make a Comic Strip</span>
          </a>
        </li>
        <li>
          <a href="http://builder.cheezburger.com/builder/rage" class="sprite sprite-builder-rage">
            <span>Make a Rage Comic</span>
          </a>
        </li>
      </ul>
    </div>
    <div class="span8">
      <h2>Make a Site</h2>
      <h4><a href="http://app.cheezburger.com/cheezburgersitesdirectory">Cheezburger Sites</a>, the fastest site you'll ever make.</h4>
      <p>
        <a class="btn btn-chz btn-xlarge" href="http://sites.cheezburger.com/">Pick Your Site Name</a><br>
      </p>
      <p>
        <small class="tellmemore">
          <a href="http://sites.cheezburger.com/">Tell me more</a>
        </small>
      </p>
    </div>

  </section>
</div>


<div id="js-dialog-keynav" class="modal modal-keynav hide fade">
  <section class="modal-keynav-body">
    <a class="close" data-dismiss="modal">×</a>
    <div class="span5 divider">
      <h2>Keyboard Navigation</h2>
      <h3>Use your keyboard to navigate the site!</h3>
      <ul class="unstyled modal-keynav-list">
        <li><kbd class="light">J</kbd> <kbd class="light">K</kbd>  Next / previous Post</li>
        <li><kbd class="light">F</kbd>  Favorite</li>
        <li><kbd class="light">S</kbd>  Share on Facebook</li>
        <li><kbd class="light">?</kbd>  Menu</li>
      </ul>

    </div>
  </section>
</div>

<div id="js-invite-friends-gate" class="modal chz-modal hide fade">
  <span class="close icons" data-dismiss="modal" data-icon="X"></span>
  <div class="modal-body">
    <h2>Invite Your Friends!</h2>
    <h3>Cheezburger is even more awesome when you share with your friends.</h3>
    <a id="js-facebook-invite-friends-btn" class="btn btn-fb-reg">Invite with Facebook</a>
  </div>
</div>

<div id="js-dialog-submit" class="modal register-and-login modal-submit hide fade">
  <section class="modal-body">
    <h2>Submit</h2>
    <form action="http://search.cheezburger.com/Home/PostContent/" method="post" enctype="multipart/form-data">
      <div class="control-group">

        <label for="UploadedPhoto">Select a file to upload</label>
        <input type="file" name="UploadedPhoto" id="UploadedPhoto">
      </div>

      <div class="control-group">

        <label for="PhotoUrl">OR paste in the url to an image</label>
        <input id="PhotoUrl" name="PhotoUrl" type="text" value="">
      </div>

      <div class="control-group">

        <label for="VideoUrl">OR paste in the url to a video</label>
        <input id="VideoUrl" name="VideoUrl" type="text" value="">
      </div>

      <div class="control-group">

        <label for="Title">Title</label>
        <input id="Title" maxlength="255" name="Title" type="text" value="">
      </div>

      <div class="control-group">

        <label for="Description">Description</label>
        <input id="Description" name="Description" type="text" value="">
      </div>

      <div class="control-group">

        <label for="SourceUrl">URL for this content (if any)</label>
        <input id="SourceUrl" name="SourceUrl" type="text" value="">
      </div>

      <div>
        <button type="button" class="btn" data-dismiss="modal">Cancel</button>
        <button class="btn btn-chz">Submit</button>
      </div>
      <input type="hidden" name="__RequestVerificationToken" value="notSet">
    </form>
  </section>
</div>
<script>
$(document).ready(function(){

  $('.vertical')
    .on('mouseenter',function(){
      $(this).addClass('is-open');
    })
    .on('mouseleave',function(){
      $(this).removeClass('is-open');
    });

  $('.js-video').on('click',function(e){
    e.preventDefault();
    $('#shelby').attr('src','http://alpha.shelby.tv/'+$(this).data('src')+'?mode=cheez');
  });

});
</script>
</body>
</html>
