<!doctype html>
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

<% # if we got any meta tag info from request display it, otherwise just render head normally %>
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# shelbytv: http://ogp.me/ns/fb/shelbytv#">
  <%= render :partial => "meta_info", :locals => { :info => @meta_info } %>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>
    <%= render :partial => "title_tag", :locals => { :meta_info => @meta_info} %>
  </title>
  
  <meta name="viewport" content="width=device-width">
  <head profile="http://www.w3.org/2005/10/profile">
  <link rel="icon"type="image/png" href="/favicon.png">
  <%= include_stylesheets :common %>
  <%= include_javascripts :common %>
  <!--[if lt IE 9]><link href="/stylesheets/png.css" media="screen, projection" rel="stylesheet" type="text/css" /><![endif]-->  
</head>

<body class="gate">
  <!-- Prompt IE 6 users to install Chrome Frame. Remove this if you support IE 6.
       chromium.org/developers/how-tos/chrome-frame-getting-started -->
  <!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->

  <div class="clearfix gate-wrapper">
  	<header>
	  		<h1 class="ir gate-logo">
			  	<a href="/">
		  			Shelby.tv
			  	</a>
	  		</h1>
		  	<h4 class="gate-slogan">
		  		An amazing way to discover and enjoy videos.
				</h4>
		</header>
  	<div id="js-signup" class="gate-lining">
			<h2 class="gate-header">
				We'll be back!
			</h2>

			<p>
				So we've taken down the current Shelby.tv but <br/>don't worry, we're hard at work on the next version!
			</p>

			<p>
				Here is some more copy talking about what we're doing in our free time, lots of high fives and jump kicks! We can't wait to show you.
			</p>

			<button id="js-gate-login" class="gate-login">
				Beta User Login
			</button>

			<footer class="gate-footer">
				<form id="js-gate-form" class="gate-form">
					<h3 class="gate-subheader">
						Want to stay updated?
					</h3>

					<input type="email" placeholder="email@address.com" class="gate-form-input" />
					<input type="submit" class="gate-form-submit" />
				</form>

				<h3 class="gate-subheader">
					What's Shelby.tv?
				</h3>
				<p class="gate-small">
					Shelby.tv is the most exciting way to discover and show web video with your friends and family.
				</p>
			</footer>
		</div><!-- eo .gate-lining -->
  	<div id="js-login" class="gate-lining hidden">
			<h2 class="gate-header">
				Ultra Secret Login
			</h2>

			<p>
				Greetings Shelby Beta user, you've been selected to be inducted early into our field training program. Login below and try out the new Shelby.tv
			</p>

			<a class="gate-networks-twitter" href="http://api.gt.shelby.tv/auth/twitter">
        Log In with Twitter
      </a>   

      <a class="gate-networks-facebook" href="http://api.gt.shelby.tv/auth/facebook">
        Log In with Facebook
      </a>

      <a href="#" id="js-no-access" class="gate-no-access">
      	Not a Beta user?
      </a>
		</div><!-- eo .gate-lining -->
  </div><!-- eo .gate-wrapper -->
  <script>
  	$(document).ready(function(){
  		$('#js-gate-login').on('click', function(){
  			$('.gate-lining').toggleClass('hidden');
  		});

  		$('#js-no-access').on('click', function(){
  			$(this).remove();
  			$('#js-gate-form').children('.gate-subheader').text('Sign up for the Beta!').end()
  												.css('margin','2.5em 2px 1em').appendTo('#js-login');

  		});
  	});
	</script>
  <script>
    var _gaq=[['_setAccount','UA-21191360-6'],['_setDomainName','none'],['_trackPageview']];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
    g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g,s)}(document,'script'));
  </script>
</body>
</html>
