<html>
	<body>
		<a href="javascript:window.isShelbyBookmarklet=true;_sbm=document.createElement('SCRIPT');_sbm.type='text/javascript';_sbm.src='http://<%= Settings::VideoRadar.web_domain %>/assets/shelbify.js';document.getElementsByTagName('head')[0].appendChild(_sbm);">Shelby GT</a>
	</body>
</html>
