<html>
	<body>
		<a href="javascript:(function(){window.isShelbyBookmarklet=true;_sbm=document.createElement('SCRIPT');_sbm.type='text/javascript';_sbm.src='http://<%= Settings::Extension.web_domain %>/assets/shelbify.js';document.getElementsByTagName('head')[0].appendChild(_sbm);})();">Shelby Video Radar</a><br>
		Steps to Install the Shelby Bookmarklet:
		<br>
		<ul>
			<li>Click and drag the link above into your bookmarks bar.</li>
			<li>When you see a video you want to save for later or add to your roll in Shelby, click the bookmark.</li>
			<li>Shelby will find all videos on the page and let you save them to your queue or add to your roll.</li>
		</ul>
	</body>
</html>
