<% # encoding: UTF-8 %>
<div class="js-seo-like-video-message modal__wrapper modal__wrapper--light vertical-align-hack hidden">
  <div class="vertical-align-hack__el">

    <div class="frame-body-wrapper modal modal--center">
      <h2 class="alpha">
        Did you like that video?
      </h2>

      <div class="modal__block modal__block--push">
        <a href="#" class="button_primer button_command two-fifths button_green js-like-video js-cta js-track-event"  data-ga_category="<%= category %>" data-ga_action="Click YES I LIKE" data-ga_label="In Modal">
          <span class="button_label">Yes</span>
        </a>

        <a href="#" class="button_primer button_command two-fifths button_red js-dont-like-video js-cta js-track-event"  data-ga_category="<%= category %>" data-ga_action="Click NO I LIKE" data-ga_label="In Modal">
          <span class="button_label">No</span>
        </a>

      </div>
    </div><!-- eo modal -->

  </div><!-- eo .modal -->
</div>

<% if with_js %>
  <%= javascript_tag do %>
    <%= render :partial => "like_message_cta_brains", :locals => {:from_similar_video=> @from_similar_video}, :formats=>[:js] %>
  <% end %>
<% end %>
