<% # encoding: UTF-8 %>
<div class="js-seo-signup-message welcome-message__wrapper welcome-message__wrapper--seo hidden">
  <div class="welcome-message welcome-message--large welcome-message--seo">
    <div>
      <h2 class="welcome-message__h1--plain">
        Want more video?
      </h2>

      <h3 class="welcome-message__h2">
        Signup for Shelby.tv!
      </h3>

      <div class="welcome-message__button-wrapper">
        <a href="<%= "#{Settings::ShelbyAPI.url}#{Settings::ShelbyAPI.facebook_auth_path}?origin=http://shelby.tv" %>" class="button_primer button_facebook-blue button_command button_command--seo one-third button_command--facebook js-authorize js-authorize--facebook js-cta js-track-event"  data-popup_width="1000" data-popup_height="650" data-ga_category="SEO Video" data-ga_action="Click Sign Up with Facebook" data-ga_label="In Modal">
          <span class="icon-facebook"></span>
          <span class="button_label">Sign Up with Facebook</span>
        </a>
        <!--
          <a href="http://api.shelby.tv/auth/twitter" class="button_primer button_twitter-blue button_command button_command--seo button_command--twitter js-authorize js-authorize--facebook js-cta js-track-event"  data-popup_width="1000" data-popup_height="650" data-ga_category="SEO Video" data-ga_action="Click Sign Up with Twitter" data-ga_label="In modal">
            <span class="icon-twitter"></span>
            <span class="button_label">Sign Up with Twitter</span>
          </a>
        -->
        <br>
        <h3 class="email-signup">
          or <a href="http://shelby.tv/signup" class="js-track-event" data-ga_category="SEO Video" data-ga_action="Click Sign Up with Email Link" data-ga_label="In modal">signup</a>  with your email
        </h3>
      </div>
    </div><!-- eo welcome-message__head -->

  </div><!-- eo .welcome-message -->
</div>

<%= javascript_tag do %>
  <%= render :partial => "signup_cta_brains", :locals => {:from_similar_video=> @from_similar_video}, :formats=>[:js] %>
<% end %>
