<section class="landing-shelf landing-shelf-private previous-search-area">
	<div class="landing-shelf-lining">
		<h1 class="landing-shelf-header">Previous Genius Results:</h1>

		<h2 class="landing-shelf-subheader">
			<ul id="search-history-list"></ul>
			<ul id="recommended-searches">
				<li><a href="#">Gopro</a></li>
				<li><a href="#">Muppets</a></li>
				<li><a href="#">Oprah</a></li>
				<li><a href="#">Richard Feynman</a></li>
				<li><a href="#">The Greatest Speech Ever Made</a></li>
				<li><a href="#">Base jumping</a></li>
			</ul>
		</h2>

	</div>
</section>
