<% flash.each do |key, value| %>
  <p><strong><%= raw value %></strong></p>
<% end %>

<script type="text/javascript">
  $(document).ready(function(){
    setTimeout(function(){
      $(".js-flash").slideUp(400);
    }, 6000);
  });
</script>
