<% flash.each do |key, value| %>
  <div class="media_image media_image--rev">
    <button class="notification__button">
      <span class="icon icon-close"></span>
    </button>
  </div>

  <p class="media_body notification__message">
    <strong><%= raw value %></strong>
  </p>
<% end %>
