<div id="genius-query-info">
	<div id="friend-found-this">
		Your friend found this video by searching for
	</div>
	
	<div id="search-term">
		“<%= URI.unescape(@roll['title'][8..-1]) %>”
	</div>
</div>