<h1 class="shelby_logo">
  <span class="icon-mark"></span><span class="icon-type"></span><span class="ir">Shelby.tv</span>
</h1>
<% unless request.url[0..-2] == Settings::Application.mobile_url %>
  <a href="<%= Settings::Application.url %>/" data-icon="home" data-mini="true" class="ui-btn-right  js-track-event" data-ga_category="Mobile" data-ga_action="Clicked back to search" data-ajax="false">Home</a>
  <div id="mobile-roll-title" data-role="header" data-theme="c"></div>
<% end %>
