<% (@days + 1).times do |d| %>
  <ul class="list">
    <% @videos[d].each do |video| %>
      <li class="list__item">
          <img src="<%= video['thumbnail_url'] %>" >
      </li>
    <% end %>
  </ul>
<% end %>
