<div class="shelf__wrapper">
  <div class="shelf shelf--zeddmore">
    <%
        @display_date = @date
    %>
    <%# (@days + 1).downto(1) do |d| %>
    <% (@days).downto(0) do |d| %>
      <div class="column one-third">
        <h2 class="shelf__h2">
          <% if d == 0 %>
            "Today"
          <% else %>
            <%= Date.parse("#{@display_date.year}-#{@display_date.month}-#{(@display_date.day - d.to_i)}").strftime('%B %e, %Y') %>
          <% end %>
        </h2>
        <ul class="list">
          <script type="application/json" id="x"><%= raw @videos.to_json %></script>
          <% @videos[d].each do |video| %>
            <li class="list__item">
              <%= render :partial => 'objects/zeddmore_item',
                 :locals => {
                  :video => video
                 }
              %>
              <script class="js-video-json" type="application/json"><%= raw video.to_json %></script>
            </li>
          <% end %>
        </ul>
      </div><!-- eo column -->
    <% end %>
  </div><!-- eo shelf -->
</div><!-- eo shelf__wrapper -->
