<div class="shelf__wrapper">
  <div class="shelf shelf--zeddmore">
    <% (@days + 1).times do |d| %>
      <ul class="list list--column one-third">
        <% @videos[d].each do |video| %>
          <li class="list__item">
            <%= render :partial => 'objects/zeddmore_item',
               :locals => {
                :video => video
               }
             %>
             <script class="js-video-json" type="application/json"><%= raw video.to_json %></script>
          </li>
        <% end %>
      </ul>
    <% end %>
  </div><!-- eo shelf -->
</div><!-- eo shelf__wrapper -->
