<div class="shelf__wrapper clearfix">
  <div class="shelf shelf--zeddmore clearfix">
    <%
        @display_date = Date.parse(params[:date])
    %>
    <% (@days + 1).times do |d| %>
      <div class="column one-third">
        <h2 class="shelf__h2">
          <%= Date.parse("#{@display_date.year}-#{@display_date.month}-#{(@display_date.day - d.to_i)}").strftime('%B %e, %Y') %>
          <%# @display_date.strftime('%B %e, %Y') %>
        </h2>
        <ul class="list">
          <% @videos[d].each do |video| %>
            <li class="list__item">
              <%= render :partial => 'objects/zeddmore_item',
                 :locals => {
                  :video => video
                 }
              %>
              <script class="js-video-json" type="application/json"><%= raw video.to_json %></script>
            </li>
          <% end %>
        </ul>
      </div><!-- eo column -->
    <% end %>
  </div><!-- eo shelf -->
</div><!-- eo shelf__wrapper -->
