<div class="shelf shelf--community clearfix">
  <div class="shelf__lining">
    <h3 class="shelf__h2">
      You need to be logged in to see this page.
    </h3>

    <hr class="shelf__hr" />

    <ul class="list shelf__list clearfix">
      <li class="secondary-item guide-login" style="float: none; margin: 10px 365px -60px; font-size: 1.2em; width: 310px;">
        <section class=" login-section">
          <div class="frame-body-wrapper clearfix">
            <%= render :partial => '/objects/login_form' %>
          </div>
        </section>
      </li><!-- eo login button/dropdown -->
    </ul>
  </div><!-- eo shelf__lining -->
</div><!-- eo shelf -->
