<h2 class="extras__h1 ">
  You should roll.
</h2>

<div class="action_menu">
  <button class="button_primer button_green action_menu__button action_menu__button--roll js-track-event" data-ga_category="User Stats" data-ga_action="Click to roll frame" data-ga_label="<%= @user['nickname'] %>">
    <i class="icon-videocard_roll">
    </i>
      Roll to #Channels
  </button>
</div><!-- eo share-buttons -->