<h2 class="extras__h1 ">
  Roll this video to a Shelby channel so even more people will see it.
</h2>

<div class="action_menu">
  <a href="<%= "/roll/#{frame['roll_id']}/frame/#{frame['id']}/rolling" %>" class="button_primer button_green action_menu__button action_menu__button--roll js-track-event" data-ga_category="User Stats" data-ga_action="Click to roll frame" data-ga_label="<%= @user['nickname'] %>">
    <i class="icon-roll"></i>
      Roll
  </a>

  to <a href="/channels">#Channels</a>
</div><!-- eo share-buttons -->