<h2 class="extras__h1 ">
  Search for more great videos to show your audience on Shelby.
</h2>

<div class="action_menu">
  <form action="/search" accept-charset="UTF-8" class="search_module js-track-submit" data-ga_category="User Stats" data-ga_action="Search on shelby" data-ga_label="<%= @user['nickname'] %>">
    <button class="search_module__submit button_primer button_blue button_standard action_menu__button action_menu__button--search">
      Search
    </button>

    <span class="search_module__input_wrapper">
      <input name="query" class="search_module__input form_input" type="text" />
    </span>
  </form>
</div><!-- eo share-buttons -->