<h2 class="extras__h1 ">
  You should search.
</h2>

<div class="share-buttons">
  <form action="/search" accept-charset="UTF-8">
  <input name="query" class="form_input" type="text" />
  <input type="submit" class="button_primer button_default menu_button--twitter js-track-event">
    <i class="icon-videocard_roll">
    </i>
      Search
  </button>
  </form>
</div><!-- eo share-buttons -->