<h2 class="extras__h1 ">
  You should search.
</h2>

<div class="share-buttons">
  <form>
  <input class="form_input" type="text" />
  <button class="button_primer button_default menu_button--twitter js-track-event" data-ga_category="User Stats" data-ga_action="Click to roll frame" data-ga_label="<%= @user['nickname'] %>">
    <i class="icon-videocard_roll">
    </i>
      Search
  </button>
  </form>
</div><!-- eo share-buttons -->