<div class="shelf shelf--signup">
  <div class="shelf__lining">
    <h2 class="shelf__h1">
      New on  <%= @user['personal_roll_subdomain'] %>.shelby.tv:
    </h2>

    <p class="shelf__block">
      In the past, a few people at big TV networks programmed the TV that millions watch.  <br/>
      In the future, everyone gets their own channel. The future starts with you.
    </p>

  </div><!-- eo shelf__lining -->
</div><!-- eo shelf -->
