<div class="shelf shelf--stats-banner">
  <div class="shelf__lining">
    <h2 class="alpha">
      This Week in Stats
    </h2>

    <p class="shelf__block">
      Sit down with our resident statistician and doctor of physics, <br/>
      Henry Sztul, for a look at your video stats this week.
    </p>

  </div><!-- eo shelf__lining -->
</div><!-- eo shelf -->
