<div class="shelf shelf--signup">
  <div class="shelf__lining">
    <h2 class="shelf__h1">
      This Week in Stats
    </h2>

    <p class="shelf__block">
      Sit down with our resident statistician and doctor of physic, <br/>
      Henry Sztul, for a look at your video stats this week.
    </p>

  </div><!-- eo shelf__lining -->
</div><!-- eo shelf -->
