<div class="dynamic-avatar dynamic-avatar-lining clearfix">
	<% if( user.get('has_shelby_avatar') ){ %>
		<img src="<%= shelbyAvatarUrl %>" class="shelby-avatar user-avatar">
	<% } else { %>
		<img src="<%= user.get('user_image_original') || user.get('user_image') %>" class="external-avatar user-avatar">
	<% } %>
	<div class="progress-overlay"></div>
	<div class="spinner-overlay"></div>
</div>