<h1 class="mobile-logo ir js-track-event" data-ga_category="Mobile" data-ga_action="Clicked logo"></h1>
<% unless request.url[0..-2] == Settings::Application.mobile_url %>
	<a href="<%= Settings::Application.mobile_url %>/" data-icon="search" data-mini="true" class="ui-btn-right  js-track-event" data-ga_category="Mobile" data-ga_action="Clicked back to search" data-ajax="false">search</a>
	<div id="mobile-roll-title" data-role="header" data-theme="b"></div>
<% end %>