<h1 class="mobile-logo ir"></h1>
<% unless request.url == Settings::Application.url+"/m" %>
	<a href="<%= Settings::Application.url %>/m" data-icon="search" data-mini="true" class="ui-btn-right">search</a>
<% end %>