<div class="mobile-search-header">
  <header class="genius-header clearfix">
    <h1 class="genius-logo ir">
      Shelby.tv
    </h1>
    <p class="mobile-slogan">
      An amazing way to <br> discover and enjoy videos.
    </p>		
  </header>
</div>
