This page has acces to the following variables:
<ul>
  <li>@current_user (if user_signed_in?)</li>
  <li>@featured_dashboard</li>
</ul>

To get more frames use:
Shelby::API.get_user_dasboard(Settings::ShelbyAPI.featured_user_id, skip=20, limit=20)


<ul>
  <% @featured_dashboard.each do |dbe| %>
    <li>
      <% if dbe['frame'] and dbe['frame']['video'] %>
        <img src="<%= dbe['frame']['video']["thumbnail_url"] %>" />
      <% end %>
    </li>
  <% end %>
</ul>
