<ul class="list js-list">
  <% @featured_dashboard.each do |dbe| %>
    <li class="list__item">
      <% if dbe['frame'] and dbe['frame']['video'] and can_play_video(dbe['frame']['video']['provider_name']) and !dbe["duplicate"] %>
        <%= render :partial => '/objects/frame',
          :locals => {
            :frame          => dbe['frame'],
            :frame_owner    => dbe['frame']['creator'],
            :video          => dbe['frame']['video'],
            :signed_in_user => @signed_in_user,
            :is_mobile      => true,
            :embed_video    => false
          } %>
      <% end %>
    </li>
  <% end %>
</ul>

<p class="center">
  <%= link_to mobile_featured_path(:page => (@page + 1)), {:class => Settings::Mobile.load_more_button_class} do %>
    <span class="button_label">Load More</span>
  <% end %>
</p>

<%= javascript_tag do %>
  <%= render :partial => "/mobile/partials/mobile_video_player_brains", :formats=>[:js] %>
<% end %>
