<body class="mobile-search">
	<%= render :partial => "mobile_header" %>
	
	<div id="search-bar" class="mobile-search-form">
		<%= form_tag :m_results, :method => :post do %>
			<%= text_field_tag(:term, @query_param, :placeholder => 'search for some video', :class =>"genius-search-input") %>
		  <%= submit_tag("search &rarr;".html_safe, :class=>'genius-search-submit') %>
		<% end %>
	</div>	
</body>
