<div class="preferences_page preferences_page--profile">
  <form action="<%= Settings::Mobile.mobile_subdirectory %>/preferences/profile" class="form_module js-submit-profile" method="POST">
    <h1 class="form__legend">
      Update Profile
    </h1>

    <fieldset class="form_fieldset">
      <label for="userFullname" class="form_label">
        Full Name
      </label>
      <span class="form_error" data-error="You must provide your full name"></span>
      <input required type="text" class="form_input" id="userFullname" name="userFullname" placeholder="First Name, Last Name" value="<%= @user['name'] if @user['name'] %>" />
    </fieldset>

    <fieldset class="form_fieldset">
      <label for="userNickname" class="form_label">
        Username
      </label>
      <span class="form_error" data-error="You must provide a username"></span>
      <input required type="text" class="form_input" id="userNickname" name="userNickname" value="<%= @user['nickname'] if @user['nickname'] %>" />
    </fieldset>

    <fieldset class="form_fieldset">
      <label for="userEmail" class="form_label">
        Email
      </label>
      <span class="form_error" data-error="You must provide an email address"></span>
      <input required type="email" class="form_input" id="userEmail" name="userEmail" placeholder="email@address.com" value="<%= @user['primary_email'] if @user['primary_email'] %>" />
    </fieldset>

    <fieldset class="form_fieldset">
      <button type="submit" class="button_primer button_command button_command--submit button_green">
        Save
      </button>

      <button type="reset" class="button_primer button_command button_command--sub button_command--cancel button_command--submit button_gray js-cancel" title="Reset">
        Reset
      </button>
    </fieldset>
  </form>
</div>
