<%= render :partial => "search", :locals => { :query_param => @query_param } %>

<div id="search-history">
	<ul id="search-history-list" data-role="listview" data-split-theme="c" data-split-icon="delete" data-theme="c">
		<li>
			<a href='<%= Settings::Application.url %>/m/genius/4fbe42069a725b686300004a'>ESPN (promoted)</a><a class="espn" href="#">gear</a>
		</li>
	</ul>
</div>

<script>
	$(document).ready(function(event){
			window.cache = kizzy('history');
			window.searchHistory = window.cache.get('searchHistory');
			
			if (searchHistory){
				// show some history
				for (var term in searchHistory) {
					var link = searchHistory[term];
					$("#search-history-list").prepend('<li id="'+term+'" class="historical-link"><a href='+link+'>'+term+'</a><a class="remove-search-term" href="#">gear</a></li>').listview("refresh");
				}
			}
			else{
				// create some history
				cache.set('searchHistory', {});
			}
			
			$('.remove-search-term').on('click',function(){
				delete searchHistory[$(this).parent().attr('id')];
				cache.set('searchHistory', searchHistory);
				$(this).parent().remove();
			});
			
	});
</script>