<%= render :partial => "search", :locals => { :query_param => @query_param } %>

<div id="searchHistory">
	<ul id="search-history-list">
	</ul>
</div>

<script>
	$(document).ready(function(){
			window.cache = kizzy('history');
			window.searchHistory = window.cache.get('searchHistory');
			
			if (searchHistory){
				// show some history
				_history = cache.get('searchHistory');
				for (var term in _history) {
					var link = _history[term];
					$("#search-history-list").append('<li class="historical-link"><a href='+link+'>'+term+'</a></li>');
				}
				console.log("there's history here", _history);
			}
			else{
				// create some history
				cache.set('searchHistory', {});
			}
			
	});
</script>