<ul class="list">
  <% @dashboard.each do |dbe| %>
    <li class="list__item">
      <% if dbe['action'] != 31 and dbe['frame'] and dbe['frame']['video'] and can_play_video(dbe['frame']['video']['provider_name']) %>
        <%= render :partial => '/objects/frame',
            :locals => {
              :frame          => dbe['frame'],
              :frame_owner    => dbe['frame']['creator'],
              :video          => dbe['frame']['video'],
              :signed_in_user => @signed_in_user,
              :is_mobile      => true,
              :embed_video    => false
            } %>
      <% end %>
    </li>
  <% end %>
</ul>

<%= javascript_tag do %>
  <%= render :partial => "/mobile/partials/mobile_video_player_brains", :formats=>[:js] %>
<% end %>
