This page has acces to the following variables:
<ul>
  <li>@current_user</li>
  <li>@dashboard</li>
</ul>

To get more frames use:
Shelby::API.get_user_dasboard(@current_user['id'], skip=20, limit=20)

<ul class="list">
  <% @dashboard.each do |dbe| %>
    <li class="list__item">

      <% if dbe['frame'] and dbe['frame']['video'] %>
        <%= render :partial => '/objects/frame',
            :locals => {
              :frame          => dbe['frame'],
              :frame_owner    => dbe['frame']['creator'],
              :video          => dbe['frame']['video'],
              :signed_in_user => @signed_in_user,
              :is_mobile      => true
            } %>
      <% end %>

    </li>
  <% end %>
</ul>
