This page has acces to the following variables:
<ul>
  <li>@current_user</li>
  <li>@dashboard</li>
</ul>

To get more frames use:
Shelby::API.get_user_dasboard(@current_user['id'], skip=20, limit=20)


Hello <%= @current_user['nickname'] %>

<ul>
  <% @dashboard.each do |dbe| %>
    <li>
      <% if dbe['frame'] and dbe['frame']['video'] %>
        <img src="<%= dbe['frame']['video']["thumbnail_url"] %>" />
      <% end %>
    </li>
  <% end %>
</ul>
