/*

    Hacky shit, since the bookmarklet doesn't load iconfonts.

*/

.icon-close,
.icon-cancel {
  background-image: url("#{$path}cancel.svg");
  -webkit-background-size: contain;
  background-size: contain;
  display: block;
  height: 7px;
  width: 7px;
}

.icon-twitter {
  background-image: url("#{$path}share_twitter_off.svg");
  background-position: center center;
  -webkit-background-size: 1.3em;
  background-size: 1.3em;
  display: inline-block;
  height: 1em;
  vertical-align: -2px;
}
.button_twitter-blue {
  .icon-twitter {
    background-image: url("#{$path}share_twitter_on.svg");
  }
}

.icon-facebook {
  background-image: url("#{$path}share_facebook_off.svg");
  background-position: center center;
  -webkit-background-size: 1.3em;
  background-size: 1.3em;
  display: inline-block;
  height: 1em;
  vertical-align: -2px;
}
.button_facebook-blue {
  .icon-facebook {
    background-image: url("#{$path}share_facebook_on.svg");
  }
}

.icon-roll {
  background-color: transparent;
  background-image: url("#{$path}videocard_roll_on.svg");
  background-position: center 2px;
  -webkit-background-size: contain;
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  font-size: 1.1em;
  height: 1em;
  width: 1em;
}

.icon-like {
  background-color: transparent;
  background-image: url("#{$path}heart_on.svg");
  background-position: center 2px;
  -webkit-background-size: contain;
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  font-size: 1.1em;
  height: 1em;
  width: 1em;
}