.shelby--radar {
  .shelby-header {
    background: transparent;
    border: none;
  }

  .shelby-header__lining {
    margin: 20px auto 0;
    max-width: 550px;
  }

  .content_wrapper {
    margin: 70px auto 0;
    max-width: 550px;
  }
}
