
/*
 *  Local variables
 */
 $channel-menu-height: 87px;

.shelby--channels {
  .content_wrapper {
    margin-top: $channel-menu-height;
  }
}

//------------------------------------------------------------------------------
// Structure, Beginning of Feature
//------------------------------------------------------------------------------
.channel_info__wrapper {
  width: 100%;
  z-index: 1;
}

.channel-info-section {
  display: none;
  left: 0;
  position: absolute;
  width: 100%;
}

.channel-info-section-lining {
  background-color: $base;
  text-align: left;
  width: 100%;
}

.channel-info-list {
  margin: 0 auto !important;
  // width: 50%;
  text-align: center;
}

.channel-info-section-channel {
  color: #666;
  font-family: $font-family-display;
  font-size: 1.25em;
  font-weight: 300;
  height: 3.335em;
  line-height: 3.335em;
  padding: 0 .6em;
  width: 200px;
  text-align: center;

  & + .channel-info-section-channel {
    border-top: solid #adadad 1px;
  }

  &:hover{
    background-color: #b9b9b9;
    cursor: pointer;
  }

  .now-playing {
    display: none
  }
}

.channel-info-section-channel--active {
  background-color: #74C042;
  color: #FFF;

  .now-playing {
    display: inline-block;
    margin-left: 15px;
  }
}
