
/*
 *  Local variables
 */
 $channel-menu-height: 87px;

.shelby--channels {
  .content_wrapper {
    margin-top: $channel-menu-height;
  }
}

//------------------------------------------------------------------------------
// channel menu block
//------------------------------------------------------------------------------
.channel_menu {
  background-color: $base;
  display: none;
  left: 0;
  padding: 6px;
  position: absolute;
  text-align: left;
  width: 100%;
  z-index: 1;

  //non-normative overrides
  &.fin--top_left { //compound selector, menu must have fin.
    &:before {
      left: 316px; //positioning pertains to --top_left modifier
    }
  }
}

//elements
.channel_menu__list {
  margin: 0 auto !important;
}

.channel_menu__item {}

.channel_menu__button {
  font-size: 1.15em;
  margin-right: 6px;
  padding-top: 0.8em;
  padding-bottom: 0.75em;
  width: 9em;

  &:first-child {
    margin-left: 3px;
  }
}