/*
*   Local Variables
*/


//------------------------------------------------------------------------------
//  Email Collection Pane
//------------------------------------------------------------------------------
.email-collection__wrapper--email-collection {

  .welcome-message--large {
    width: 490px;
  }

  .welcome-message__body {
    padding: 1em;
  }

  input.search_module__submit {
    margin-left: 0.5em;
  }


}
