/*
*   Local Variables
*/


//------------------------------------------------------------------------------
//  Email Collection Pane
//------------------------------------------------------------------------------
.welcome-message__wrapper--email_collection {

  .welcome-message--large {
    width: 530px;
  }

  .welcome-message__body {
    margin: 0;
    position: relative;
    padding: 0 1em 1em;
    text-align: center;
  }

  form .search_module__submit {
    margin-left: 0.5em;
  }

  .welcome-message-dismiss {
    font-size: 0.85em;
    position: absolute;
    right: 1em;
    top: 1.0em;
  }

  .welcome-message__h2--plain {
    margin-bottom: 0.5em
  }

}
