@import "base";

/* ------------------------------------------------------------------------------
 * common layout positioning constants
 * ------------------------------------------------------------------------------
 */
$video-bottom: 250px;
$video-right: 225px;
$video-controls-top: 65px;


/* ------------------------------------------------------------------------------
 * Inactive user overrides
 * ------------------------------------------------------------------------------
 */
.user-inactive {

}

/* ------------------------------------------------------------------------------
 * Hotswitcher view - nominal
 * ------------------------------------------------------------------------------
 */
.hotswitch-content-wrapper {
  bottom: 0;
  color: #efefff;
  left: 0;
  opacity: 0.0;
  position: absolute;
  right: 0;
  top: 0;
  
  .hotswitch-ending-frame {
    border: 1px solid red;
    
    bottom: 0;
    height: $video-bottom;
    left: 0;
    padding-bottom: $video-controls-top;
    position: absolute;
    right: $video-right;
  }
  
  .hotswitch-starting-frame {
    border: 1px solid blue;
    
    bottom: 0;
    width: $video-right;
    padding-bottom: $video-controls-top;
    position: absolute;
    right: 0;
    top: 0;
  }
}

/* ------------------------------------------------------------------------------
 * Hotswitcher view - video ending
 * ------------------------------------------------------------------------------
 */
.videoplayer.hotswitch-enabled.hotswitch-video-ending .hotswitch-content-wrapper {
}
 
/* ------------------------------------------------------------------------------
* Hotswitcher view - video starting
* ------------------------------------------------------------------------------
*/
.videoplayer.hotswitch-enabled.hotswitch-video-starting .hotswitch-content-wrapper {
}


/* ------------------------------------------------------------------------------
 * Video Player Adjustments
 * ------------------------------------------------------------------------------
 *
 * .videoplayer                       - holds everything related to video playback
 * .videoplayer-viewport              - the players themselves
 * .video-player-tools-wrapper        - holds the play button, scrubber, etc.
 * .video-player-nav-buttons-wrapper  - the previous / next buttons
 * #mini-video-progress               - small progress indicator across bottom, shown during user-inactive
 *
 */
.videoplayer {
  &.hotswitch-enabled {
    
    .hotswitch-content-wrapper,
    .video-player-tools-wrapper {
      opacity: 1.0;
    }
    .video-player-nav-buttons-wrapper,
    #mini-video-progress {
      opacity: 0.0;
    }
  
    .videoplayer-viewport {
      bottom: $video-bottom;
      position: absolute;
      right: $video-right;
    }
    
    &.hotswitch-video-ending {
      
    }
  
    &.hotswitch-video-starting {

    }
  }
  
}