@import "base";
/*
 *  Local variables
 */
$persistent_video_info--next-frame-width: 200px;

/*
 * Abstracts
 */
.persistent_video_info__list {
  margin: 0;
  padding: 0;

  & > .persistent_video_info__item {
    list-style-type: none;
    display: inline-block;
  }
}

.persistent_video_info__h1 {
  font-size: 1.5em;
  font-weight: 500;
}

.persistent_video_info__h2 {
  font-size: 1.2em;
  font-weight: 500;
}

.persistent_video_info__h3 {
  font-size: 1em;
  font-weight: 300;
}

.persistent_video_info__h4 {
  font-family: $font-family;
  font-size: 1em;
  font-weight: bold;
}

/*
 * Structure
 */
.persistent_video_info {
  bottom: 0;
  height: $persistent_video_info--height;
  left: 0;
  margin: 0;
  position: absolute;
  right: 0;
}

/*
 * Current Frame
 */
.persistent_video_info__current-frame { //structured by media_module
  background: $guide-bg-color;
  box-shadow: 0 0 5px 0 rgba(0,0,0,.8);
  height: inherit;
  margin: 0;
  position: relative;

  .persistent_video_info__h1 {
    margin: 10px 12px;
  }
}

//current frame structure
.persistent_video_info__body {
  margin: 0 12px;
  font-size: 1.2em;

  //if there ends up being more than one instance of .persistent_video_info__body
  //then it may be worth it to abstract the styles; extend this media_body style
  //to the one that needs it:
  //ie. .persistent_video_info__body--A
  //    .persistent_video_info__body--B
  //if only one instance uses this media body style, then apply it to the respective
  //modifying class. basically we're forking styles when we need to limit needless
  //style calculations on the browser's part.
  .media_body {
    max-width: 40em;
  }
}

.persistent_video_info__foot {
  bottom: 0;
  margin-bottom: 1em;
  position: absolute;
  width: 100%;
}


//list of actions for current frame
.persistent_video_info__list--actions {
  font-size: 1.4em;

  .persistent_video_info__item {

  }

  .persistent_video_info__button {
    @include button-sizing;

    background: none;
    border: none;
    box-shadow: none;
    color: $button-color-light;
    font-family: $font-family-display;
    font-size: 1em;
    font-weight: 300;

    .icon {
      background-size: contain;
      -webkit-background-size: contain;
      display: block;
    }
  }

  .persistent_video_info__button--roll {
    .icon {
      padding-left: 1.4em;
    }
  }

  .persistent_video_info__button--queue {
    .icon {
      padding-left: 1.4em;
    }
  }

  .persistent_video_info__button--share {
    .icon {
      padding-left: 2em;
    }
  }

  .persistent_video_info__button--comment {
    .icon {
      padding-left: 1.4em;
    }
  }
}


/*
 * Next Frame
 */
.persistent_video_info__next-frame { //structured by media_module
  background: lighten($guide-bg-color,5%);
  height: inherit;
  margin: 0;
  width: $persistent_video_info--next-frame-width;

  .persistent_video_info__h2 {
    margin: 10px 12px;
  }

  .persistent_video_info__h3 {
    margin: 10px 12px;
  }

  //non-normative
  .frame-thumbnail {
    height: 80px;
    opacity: 0.8;
  }
}