.persistent_video_info--supplemental {
  .persistent_video_info__next-frame {
    img {
      width: 100%;
    }
  }

  .media_body {
    max-height: none;
  }

  .persistent_video_info__footer {
    margin-top: 1em;
  }

  .persistent_video_info__h1 {
    span {
      font-weight: 200;
    }
  }

  .persistent_video_info__body {
    .media_body {
      p {
        margin-bottom: 0;
      }
    }
  }
}

