//  THIS PARTIAL HAS MULTIPLE BLOCKS:
//    - Video Controls
//    - Video Progress Bar
//    - Video Navigation (Prev/Next)

//------------------------------------------------------------------------------
//  Block -- Video Controls
//------------------------------------------------------------------------------
.video_controls__wrapper {
  bottom: $persistent_video_info--height;
  left: 0;
  opacity: 1;
  position: absolute;
  right: 0;
  z-index: 2000000;
}

.video_controls {
	@include gradient-primer($video-player);

  color:$button-color;
  padding: 0;
  position: relative;
}

//------------------------------------------------------------------------------
//  Elements -- Video Controls
//------------------------------------------------------------------------------
.video_controls__button {
  background-color: transparent;
  border: none;
  color: inherit;
  float: left;
  font-size: 1.8em;
  padding: 0.7em 0em 0.5em;
  width: 3em;

  i {
    height: inherit;
  }
}

//------------------------------------------------------------------------------
//  Modifiers -- Video Controls
//------------------------------------------------------------------------------

//  Play button
.video_controls__button--play {
  &.video_controls__button--pause {
    .icon-player_play {
      display: none;
    }

    .icon-player_pause {
      display: inline;
    }
  }

  .icon-player_play {
    display: inline;
  }

  .icon-player_pause {
    display: none;
  }
}

// Volume button

.video_controls__button--volume {
  float: right;

  &.video_controls__button--muted {
    .icon-player_sound_on {
      display: none;
    }

    .icon-player_sound_off {
      display: inline;
    }
  }

  .icon-player_sound_on {
    display: inline;
  }

  .icon-player_sound_off {
    display: none;
  }
}

//  HD button

.video_controls__button--quality {
  float: right;
  display: none;

  //quality is not even an option, so it shouldn't display
  &.video_controls__button--hd-on {
    display: inline;

    .icon--HD {
    }
  }

  //quality is toggle-able
  &.video_controls__button--hd-off {
    display: inline;
    opacity: 0.4;

    .icon--HD {
    }
  }
}

//  END ------------------------------------------------------------------------

//------------------------------------------------------------------------------
//  Block -- Video Progress Bar
//------------------------------------------------------------------------------
.video_progress__wrapper {
  height: 4em;
  overflow: hidden;
  padding: 0 .5em;
}

.video_progress {
  background: black;
  border-radius: $radius*2;
  height: 8px;
  margin: 1.7em 8px 0;
  position: relative;
}

//------------------------------------------------------------------------------
//  Elements -- Video Progress Bar
//------------------------------------------------------------------------------
.video_progress__load {
  &:hover {
    cursor: pointer;
  }
}

.video_progress__load,
.video_progress__elapsed {
  background: $video-controls-progress-load;
  // @include background(linear-gradient(top, adjust-lightness($video-controls-progress-load, 5%), $video-controls-progress-load));
  @include gradient-primer($video-controls-progress-load);

  border-radius: $radius*2;
  height: 8px;
  width: 0;
}

.video_progress__elapsed {
  @include background($shelby-blue);

  margin-top:-8px;
}

.video_progress__scrubber {
  background: #efefef;
  border-radius: 8px;
  box-shadow: 1px 0px 2px 1px black;
  cursor: pointer;
  cursor: ew-resize;
  height: 15px;
  left: 0;
  margin: -11px;
  position: absolute;
  width: 15px;
}

.video_controls__time {
  color: #b2b2b2;
  float: right;
  font-size: 13px;
  font-size: 0.8rem;
  font-weight: 300;
  line-height: 3.6em;
  margin: 0 1em;
}

//  END ------------------------------------------------------------------------

//------------------------------------------------------------------------------
//  Block -- Video Navigational
//------------------------------------------------------------------------------

//------------------------------------------------------------------------------
//  Elements -- Video Navigation
//------------------------------------------------------------------------------

.videoplayer-nav__btn {
  @include gradient-primer($video-player);
  @include opacity(0.5);

  border: none;
  border-radius: $radius;
  color: $button-color;
  font-size: 2.5em;
  margin-top: -145px;
  padding: 0.6em 0.6em 0.5em;
  position: absolute;
  top: 50%;
  z-index: 2;

  &:hover {
    @include opacity(1.0);
  }

  .icon {
    display: block;
    height: inherit;
  }
}

//------------------------------------------------------------------------------
//  Modifiers -- Video Navigation
//------------------------------------------------------------------------------
.videoplayer-nav__btn--prev {
  left: $defaultMargin;
}

.videoplayer-nav__btn--next {
  right: $defaultMargin;
}

.videoplayer-nav__btn--fullscreen {
  @include gradient-primer($video-player);
  @include opacity(0.5);

  // border: none;
  // border-radius: $radius;
  // height: 4em;
  left: $defaultMargin;
  margin-top: -2.7em;
  // padding: 0;
  // position: absolute;
  // top: 50%;
  // width: 4em;
  // z-index: 2;

  &:hover {
    @include opacity(1.0);
  }

  .icon-player_fullscreen_enable {
    display: block;
  }

  .icon-player_fullscreen_disable {
    display: none;
  }

  &.cancel {
    .icon-player_fullscreen_enable {
      display: none;
    }

    .icon-player_fullscreen_disable {
      display: block;
    }
  }
}

//------------------------------------------------------------------------------
//  non-normative animation qualities
//------------------------------------------------------------------------------
.videoplayer_animate {
    @include transition-property('opacity, margin-right');
    @include transition-duration('.25s, .5s');
    @include transition-timing-function('ease-out, ease-in-out');
    @include transition-delay('0s, 0s');
}