.video_progress--mini__wrapper {
  @include transition-property('opacity');
  @include transition-duration(.3s);
  @include transition-timing-function(ease-in-out);
  @include transition-delay(0s);

  bottom: 0;
  width: 100%;
  position: absolute;
  height: 2px;
  z-index: 1;
  opacity: 0.0;
}

.video_progress--mini {
  height: inherit;
  margin: 0;

  > div {
    border-radius: 0;
    height: inherit;
    margin: 0;
    position: absolute;
  }
}