//  THIS PARTIAL HAS MULTIPLE BLOCKS:
//    - Video Controls
//    - Video Progress Bar
//    - Video Navigation (Prev/Next)

$_video-player : #0e0e0e;

//------------------------------------------------------------------------------
//  Block -- Video Controls
//------------------------------------------------------------------------------
.video_controls__wrapper {
  bottom: $persistent_video_info--height;
  left: 0;
  opacity: 1;
  position: absolute;
  right: 0;
  z-index: 2000000;
}

.video_controls {
	@include gradient-primer($_video-player);

  color: $button-color;
  padding: 0;
  position: relative;
}

//------------------------------------------------------------------------------
//  Elements -- Video Controls
//------------------------------------------------------------------------------
.video_controls__button {
  background-color: transparent;
  border: none;
  color: inherit;
  float: left;
  font-size: 1.8em;
  padding: 0.5em;
  -webkit-tap-highlight-color: rgba(5, 144, 196,.5);

  i {
    height: inherit;
  }
}

//------------------------------------------------------------------------------
//  Modifiers -- Video Controls
//------------------------------------------------------------------------------

//  Play button
.video_controls__button--play {
  &.video_controls__button--pause {
    .icon-play {
      display: none;
    }

    .icon-pause {
      display: inline;
    }
  }

  .icon-play {
    display: inline;
  }

  .icon-pause {
    display: none;
  }
}

// Prev/Next
// Right now, these show for Touch devices only.
// For non-touch button styles, grep .videoplayer-nav__btn
.video_controls__button--prev,
.video_controls__button--next {
  @include gradient-primer(#666);

  padding: 0.7em 0 0.5em;
  width: 2em;

  & > i {
    color: black;
  }
}

.video_controls__button--prev {
  @include roundies(right);
}

.video_controls__button--next {
  @include roundies(left);

  float: right;
}

.video_controls__button--fullscreen {
  float: right;

  .icon-guide-in {
    display: block;
  }

  .icon-guide-out {
    display: none;
  }

  &.cancel {
    .icon-guide-in {
      display: none;
    }

    .icon-guide-out {
      display: block;
    }
  }
}


// Volume button

.video_controls__button--volume {
  float: right;

  &.video_controls__button--muted {
    .icon-sound-on {
      display: none;
    }

    .icon-sound-off {
      display: inline;
    }
  }

  .icon-sound-on {
    display: inline;
  }

  .icon-sound-off {
    display: none;
  }
}

//  hd button

.video_controls__button--quality {
  float: right;
  display: none;

  //quality is not even an option, so it shouldn't display
  &.video_controls__button--hd-on {
    display: inline;

    .icon-hd {
    }
  }

  //quality is toggle-able
  &.video_controls__button--hd-off {
    display: inline;
    opacity: 0.4;

    .icon-hd {
    }
  }
}

//  END ------------------------------------------------------------------------

//------------------------------------------------------------------------------
//  Block -- Video Progress Bar
//------------------------------------------------------------------------------
.video_progress__wrapper {
  height: 4em;
  overflow: hidden;
  padding: 0 0.25em;
}

.video_progress {
  background: black;
  border-radius: $radius*2;
  height: 8px;
  margin: 1.5em 8px 0;
  position: relative;
}

//------------------------------------------------------------------------------
//  Elements -- Video Progress Bar
//------------------------------------------------------------------------------
.video_progress__load {
  &:hover {
    cursor: pointer;
  }
}

.video_progress__load,
.video_progress__elapsed {
  background-color: $ui-black;
  border-radius: $radius*2;
  height: 8px;
  width: 0;
}

.video_progress__elapsed {
  background: $ui-soft-black;
  margin-top:-8px;
}

.video_progress__scrubber {
  background: $ui-white;
  border-radius: 8px;
  box-shadow: 1px 0px 2px 1px $ui-black;
  cursor: pointer;
  cursor: ew-resize;
  height: 15px;
  left: 0;
  margin: -11px -10px;
  position: absolute;
  width: 15px;
}

.video_controls__time {
  color: $ui-white;
  float: right;
  font-size: 13px;
  font-size: 0.8rem;
  font-weight: bold;
  line-height: 2.35em;
  margin: 0.5em 1em 0;
}

//  END ------------------------------------------------------------------------

//------------------------------------------------------------------------------
//  Block -- Video Navigational
//------------------------------------------------------------------------------

//------------------------------------------------------------------------------
//  Elements -- Video Navigation
//------------------------------------------------------------------------------

.videoplayer-nav__btn {
  @include gradient-primer($_video-player);
  @include opacity(0.5);

  border: none;
  border-radius: $radius;
  color: $ui-white;
  font-size: 2.5em;
  margin-top: -145px;
  padding: 0.6em 0.6em 0.5em;
  position: absolute;
  top: 45%;
  z-index: 2;

  &:hover {
    @include opacity(1.0);
  }

  .icon {
    display: block;
    height: inherit;
  }
}

//------------------------------------------------------------------------------
//  Modifiers -- Video Navigation
//------------------------------------------------------------------------------
.videoplayer-nav__btn--prev {
  left: $defaultMargin;
}

.videoplayer-nav__btn--next {
  left: $defaultMargin;
  margin-top: -6px;
}

.videoplayer-nav__btn--fullscreen {
  @include gradient-primer($_video-player);
  @include opacity(0.5);

  // border: none;
  // border-radius: $radius;
  // height: 4em;
  left: $defaultMargin;
  margin-top: -2.7em;
  // padding: 0;
  // position: absolute;
  // top: 50%;
  // width: 4em;
  // z-index: 2;

  &:hover {
    @include opacity(1.0);
  }

  .icon-guide-in {
    display: block;
  }

  .icon-guide-out {
    display: none;
  }

  &.cancel {
    .icon-guide-in {
      display: none;
    }

    .icon-guide-out {
      display: block;
    }
  }
}

//------------------------------------------------------------------------------
//  non-normative animation qualities
//------------------------------------------------------------------------------
.videoplayer_animate {
    @include transition-property('opacity, margin-right');
    @include transition-duration('.25s, .5s');
    @include transition-timing-function('ease-out, ease-in-out');
    @include transition-delay('0s, 0s');
}
