/*
    Avatar
*/

//block
.avatar {
  @include roundies;

  background-color: $base;
  border: 1px solid #DDD;
  height: 3em;
  position: relative;
  overflow: visible;
  width: 3em;

  img {
    max-width: 100%;
  }

  &.missing-avatar {
    background-image: url($icon-missing-avatar) !important;
  }

  @media screen and (max-width: $mq-five-ish){
    height: 2em;
    width: 2em;
  }
}
  //mods
  .avatar--center {
    margin: 0 auto;
  }

  .avatar--inline {
    display: inline-block;
    vertical-align: middle;
  }

  .avatar--largest {
    height: 140px;
    width: 140px;
  }

  .avatar--medium {
    height: 4em;
    width: 4em;

    @media screen and (max-width: $mq-five-ish){
      height: 3em;
      width: 3em;
    }
  }

  .avatar--small {
  }

  .avatar--tiny {
    height: 2em;
    width: 2em;
  }
  //badges for special-cases
  .avatar--facebook,
  .avatar--twitter,
  .avatar--tumblr,
  .avatar--featured,
  .avatar--liker {
    &:before {
      background-color: $base-frame;
      border-radius: 4px;
      bottom: -4px;
      color: $button-color;
      height: 1em;
      font-size: 1.2em;
      padding: 0.3em;
      position: absolute;
      right: -4px;
      text-align: center;
      width: 1em;
      z-index: 1;
    }
  }
  .avatar--facebook {
    &:before {
      background-color: $facebook-blue;
    }
  }
  .avatar--twitter {
    &:before {
      background-color: $twitter-blue;
    }
  }
  .avatar--tumblr {
    &:before {
      background-color: $tumblr-blue;
    }
  }
  .avatar--featured {
    &:before {
      background-color: $ui-green;
    }
  }
  .avatar--liker {
    &:before {
      background-color: $ui-red;
      padding-left: 0.1em;
      padding-right: 0.5em;
    }
  }

