/*
    Prepend a badge,
    styles an <el class="badge badge--[facebook|tumblr|twitter] icon-social_*"></el>

    i.e. Preferences panel:

    <h2 class="badge badge--facebook icon-social_facebook preferences-networks-facebook form_label">Facebook</h2>

*/

.badge {
  &:before {
    @include roundies;

    color: #efefef;
    float: left;
    height:24px;
    left:0;
    line-height: 2.3;
    margin: 1px 5px 0 0;
    text-align: center;
    top:0;
    width:24px;
  }
}

.badge--facebook {
  &:before {
    background-color: $facebook-blue;
    border: 1px solid darken($facebook-blue, 5%);
  }
}

.badge--tumblr {
  &:before {
    background-color: $tumblr-blue;
    border: 1px solid darken($tumblr-blue, 5%);
  }
}

.badge--twitter {
  &:before {
    background-color: $twitter-blue;
    border: 1px solid darken($twitter-blue, 5%);
  }
}
