////////////////////////////////////////////////////////////////////////////
//  $icons, icon keywords are whitespace-delineated because Sass, scary right?
////////////////////////////////////////////////////////////////////////////

.icon {
  // vertical-align: -0.1em;

  &:before {
    &:hover {
      text-decoration: none;
    }
  }
}

.icon-like--red {
  &:before {
    color: #EE4C4C;
  }
}

.icon-roll--green {
  &:before {
    color: darken(#6cbc45,5%);
  }
}
