////////////////////////////////////////////////////////////////////////////
//  $icons, icon keywords are whitespace-delineated because Sass, scary right?
////////////////////////////////////////////////////////////////////////////

.icon {
  // vertical-align: -0.1em;

  &:before {
    &:hover {
      text-decoration: none;
    }
  }
}

.icon-like--red {
  &:before {
    color: #EE4C4C;
  }
}

.icon-roll--green {
  &:before {
    color: darken(#6cbc45,5%);
  }
}

.icon-activity-empty,
.icon-following-empty,
.icon-spinner {
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: contain;
  background-size: contain;
  display: inline-block;
  height: 1em;
  width: 1em;
}
    .icon-spinner--base {
      background-image: url('/images/assets/loading-explore.gif');
      vertical-align: -8px;
      height: 25px;
      width: 25px;
    }

.icon-activity-empty {
  background-image: $icon-activity-empty;

}

.icon-following-empty {
  background-image: $icon-following-empty;
}
