////////////////////////////////////////////////////////////////////////////
//  $icons, icon keywords are whitespace-delineated because Sass, scary right?
////////////////////////////////////////////////////////////////////////////
$icons:
  arrow_left
  arrow_right
  avatar
  cancel
  cancel_on
  carrot
  chevron
  chevron_white
  comment_reply
  email
  iphone
  iphone_dark
  landing_explore
  landing_genius
  logo_type
  logo_type
  missing_thumb
  onboarding_play
  player_fullscreen_disable
  player_fullscreen_enable
  player_hd_off
  player_hd_on
  player_pause
  player_play
  player_sound_off
  player_sound_on
  search
  share_facebook
  share_facebook_off
  share_facebook_on
  share_twitter
  share_twitter_off
  share_twitter_on
  shortlink
  social_facebook
  social_tumblr
  social_twitter
  star
  tag_dark
  tag_light
  videocard_comment
  videocard_queue
  videocard_queue_on
  videocard_roll
  videocard_roll_on;

//------------------------------------------------------------------------------
//  ICON CLASS CONSTRUCTOR
//------------------------------------------------------------------------------
@each $icon in $icons {
  .icon_#{$icon} {
    @include icon-primer($icon);
  }
}

//------------------------------------------------------------------------------
//  button icon module
//------------------------------------------------------------------------------
.button_icon,
.button_icon_center,
.button_icon_left,
.button_icon_right {
  background-repeat: no-repeat;
  background-size: auto;
  font-style: normal;
}

.button_icon,
.button_icon_center {
  background-position: center center;
}

.button_icon_left {
  background-position: center left;
}

.button_icon_right {
  background-position: center right;
}
