////////////////////////////////////////////////////////////////////////////
//  $icons, icon keywords are whitespace-delineated because Sass, scary right?
////////////////////////////////////////////////////////////////////////////
$icons:
  arrow_left
  arrow_right
  avatar
  cancel
  cancel_on
  carrot
  chevron
  chevron_white
  comment_reply
  email
  iphone
  iphone_dark
  landing_explore
  landing_genius
  logo_type
  logo_type
  missing_thumb
  onboarding_play
  player_fullscreen_disable
  player_fullscreen_enable
  player_hd_off
  player_hd_on
  player_pause
  player_play
  player_sound_off
  player_sound_on
  search
  share_facebook
  share_facebook_off
  share_facebook_on
  share_twitter
  share_twitter_off
  share_twitter_on
  shortlink
  social_facebook
  social_tumblr
  social_twitter
  star
  videocard_comment
  videocard_queue
  videocard_queue_on
  videocard_roll
  videocard_roll_on;

//------------------------------------------------------------------------------
//  ICON CLASS CONSTRUCTOR
//------------------------------------------------------------------------------
@each $icon in $icons {
  .icon_#{$icon} {
    @include icon-primer($icon);
  }
}

//------------------------------------------------------------------------------
//  button icon module
//------------------------------------------------------------------------------
.button_icon,
.button_icon_center,
.button_icon_left,
.button_icon_right {
  background-repeat: no-repeat;
  background-size: auto;
  font-style: normal;
}

.button_icon,
.button_icon_center {
  background-position: center center;
}

.button_icon_left {
  background-position: center left;
}

.button_icon_right {
  background-position: center right;
}


//------------------------------------------------------------------------------
//  Icon Font!
//------------------------------------------------------------------------------

@font-face {
  font-family: 'icomoon';
  src:url('../fonts/icomoon60031/fonts/icomoon.eot');
  src:url('../fonts/icomoon60031/fonts/icomoon.eot?#iefix') format('embedded-opentype'),
    url('../fonts/icomoon60031/fonts/icomoon.svg#icomoon') format('svg'),
    url('../fonts/icomoon60031/fonts/icomoon.woff') format('woff'),
    url('../fonts/icomoon60031/fonts/icomoon.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
  font-family: 'icomoon';
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
.icon_primer,
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: 'icomoon';
  font-style: normal;
  speak: none;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
.icon-videocard_roll:before {
  content: "\e000";
}
.icon-videocard_queue:before {
  content: "\e001";
}
.icon-player_sound_off:before {
  content: "\e002";
}
.icon-player_sound_on:before {
  content: "\e003";
}
.icon-comment_reply:before {
  content: "\e004";
}
.icon-chevron:before {
  content: "\e005";
}
.icon-carrot:before {
  content: "\e006";
}
.icon-player_play:before {
  content: "\e007";
}
.icon-videocard_comment:before {
  content: "\e008";
}
.icon-star:before {
  content: "\e009";
}
.icon-player_pause:before {
  content: "\e00a";
}
.icon-player_fullscreen_enable:before {
  content: "\e00b";
}
.icon-social_twitter:before {
  content: "\e00c";
}
.icon-social_tumblr:before {
  content: "\e00d";
}
.icon-social_facebook:before {
  content: "\e00e";
}
.icon-player_fullscreen_disable:before {
  content: "\e00f";
}
.icon-avatar:before {
  content: "\e010";
}
.icon-cancel:before {
  content: "\e011";
}
.icon-missing_thumb:before {
  content: "\e012";
}
.icon-iphone:before {
  content: "\e013";
}
.icon-shortlink:before {
  content: "\e014";
}
.icon-search:before {
  content: "\e015";
}
.icon-email:before {
  content: "\e016";
}
.icon-mark:before {
  content: "\e01c";
}
.icon-type:before {
  content: "\e017";
}
.icon-type-2:before {
  content: "\e018";
}
.icon-type-3:before {
  content: "\e019";
}
