/*

      App Nav dropdown panels

*/

.login-section {
  font-size: $font-size-text;
  padding-top: 1.5em;
  right: 1.3em;
  top: 2em;

  .fin--top_right:before {
    z-index: 0;
  }

  .dropdown_lining {
    background-color: $ui-white;
    box-shadow: 0px 0px 5px 0px black;
    text-align: left;
    width: 300px;
  }
}

.settings-section {
  font-size: $font-size-text;
  padding-top: 0.5em;
  right: 1.3em;

  //non-normative overrides
  .fin--top_right:before {
    z-index: 0;
  }
  .dropdown_lining {
    background-color: $ui-white;
    box-shadow: 0px 0px 5px 0px black;
    padding: 5px;
    text-align: left;
    width: 20em;
  }
  .list + .list {
    border-top: 1px solid $inset;
    margin: 0.5em 0 0;
    padding: 0.5em 0 0;
  }
  .button_primer {
    font-weight: normal;
    text-align: left;
    width: 100%;

    &:hover {
      background-color: $ui-gray;
    }
  }
}
