.icon-player_play--playable,
.frame-thumbnail--playable {
  &:before {
    border-radius: 92px;
    background-color: black;
    color: white;
    font-size: 2.6em;
    height: 71px;
    line-height: 2.1;
    left: 50%;
    margin-left: -36px;
    opacity: 0.5;
    padding-left: 5px;
    position: absolute;
    text-align: center;
    top: 14%;
    width: 71px;
  }

  &:hover {
    &:before {
      opacity: 0.8;
    }
  }
}