/*
  Card detailing a Roll Category and highlights a few rolls from that category

  Used in the Signup flow

*/

//------------------------------------------------------------------------------
//  Block
//------------------------------------------------------------------------------
.roll_card {
  border: 1px solid $ui-black;
  margin: 8px;
  padding: 8px;

  & > .media_module {
    margin: 0;
  }
}

//------------------------------------------------------------------------------
//  Elements
//------------------------------------------------------------------------------
.roll_card__h1 {
}

.roll_card__block {

}

.roll_card__avatar {
}


//------------------------------------------------------------------------------
//  Framework
//------------------------------------------------------------------------------
.roll_card__head {

}

.roll_card__body {
}
