/*
  Card detailing a Roll Category and highlights a few rolls from that category

  Used in the Signup flow

*/

//------------------------------------------------------------------------------
//  Block
//------------------------------------------------------------------------------
.roll_card {
  border: 1px solid $inset;
  margin: 8px;
  padding: 15px;

  & > .media_module {
    margin: 0;
  }
}

//------------------------------------------------------------------------------
//  Elements
//------------------------------------------------------------------------------
.roll_card__h1 {
  font-size: 1.5em;
}

.roll_card__block {
  margin-bottom: 1.5em;
}

.roll_card__avatar {
}


//------------------------------------------------------------------------------
//  Framework
//------------------------------------------------------------------------------
.roll_card__head {

}

.roll_card__body {
}
