/*
  This is an example of how you should use the Share Menu:

  <div class="share_menu frame-body-wrapper">
    <ul class="list">
      <li class="list__item">
        <button class="button_primer button_gray button_share button_share--embed">
          <span class="icon icon-embed"></span> Embed
        </button>
      </li>
      <li>
        <button class="button_primer button_gray button_share button_share--email">
          <span class="icon icon-email"></span> Email
        </button>
      </li>
      <li>
        <button class="button_primer button_gray button_share button_share--twitter">
          <span class="icon icon-twitter"></span> Twitter
        </button>
      </li>
      <li>
        <button class="button_primer button_gray button_share button_share--facebook">
          <span class="icon icon-facebook"></span> Facebook
        </button>
      </li>
      <li>
        <button class="button_primer button_gray button_share button_share--shortlink">
          <span class="icon icon-"></span> Shortlink
        </button>
      </li>
    </ul>
  </div>

*/

.share_menu {
  padding: 13px 15px 8px;

  .list {
    margin: auto;
    width: 80%;
  }

  .list__item {
    position: relative;
  }

  .button_primer {
    margin-bottom: 0.5em;
  }
}
  //TODO: debt
  //share_menu__faux-button could probably be abstracted like
  //button_command button_command--faux
  //(must account for button_command--sub adjustments.)
  .share_menu__faux-button {
    display: block;
    font-size: $font-size-sub-button;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    position: relative;
    width: 7.5em;

    //non-normative overrides
    .icon-shortlink,
    .icon-embed {
      left: 0;
      margin: 0;
      padding: 0.8em 0 0 0.5em;
      position: absolute;
      top: 0;
    }

    .form_input {
      background-color: transparent;
      height: 2.7em;
      font-size: inherit;
      padding: 0 0 0 1.7em;
      text-align: center;
    }
  }