/*
    Need a social icon stamped somewhere? Somehow?

    Examples:

    <i class="social-icon icon-twitter"></i>

    <i class="social-icon icon-tumblr"></i>

    <i class="social-icon icon-facebook"></i>

    Sizing and positioning should be set in a class for the partial
    that you've applied this to..

    e.g. HTML

      <div class="frame-footer">
        ...
        <div class="media_body">
          <i class="social-icon icon-social__twitter"></i>
          ...
        </div><!-- eo media_body -->
      </div><!-- eo frame-footer -->

    e.q. SCSS

      .frame-footer {
        .social-icon {
          font-size: 2em;
          margin: 1px;
          …
        }
      }
*/

//branded color always:

.social-icon {
  &.icon-twitter {
    color: $twitter-blue;
  }

  &.icon-tumblr {
    color: $tumblr-blue;
  }

  &.icon-facebook {
    color: $facebook-blue;
  }
}

//branded color on :hover:

.social-icon--hover {
  .list__link {
    &:hover {
      text-decoration: none;
    }
  }


  .icon-twitter {
    &:hover {
      color: $twitter-blue;
    }
  }

  .icon-tumblr {
    &:hover {
      color: $tumblr-blue;
    }
  }

  .icon-facebook {
    &:hover {
      color: $facebook-blue;
    }
  }
}

/*
    Social Badge List

    i.e. User Card, social outlets
    Extends the .list, .list__item structure:

    <ul class="list list--social_badges">
      <li>
        <a class="list__link icon-twitter" href="http://twitter.com/username" target="_blank">
          <span class="visuallyhidden">Twitter</span>
        </a>
      </li>
    </ul>
*/

.list--social_badges {
  .icon-facebook,
  .icon-tumblr,
  .icon-twitter {
    display: block; //fixes the 'unclickable area problem'
  }
}
