/*
  Need a social icon stamped somewhere? Somehow?

  Examples:

  <i class="social-icon icon-twitter"></i>

  <i class="social-icon icon-tumblr"></i>

  <i class="social-icon icon-facebook"></i>

  Sizing and positioning should be set in a class for the partial
  that you've applied this to..

  e.g. HTML

    <div class="frame-footer">
      ...
      <div class="media_body">
        <i class="social-icon icon-twitter"></i>
        ...
      </div><!-- eo media_body -->
    </div><!-- eo frame-footer -->

  e.q. SCSS

    .frame-footer {
      .social-icon {
        font-size: 2em;
        margin: 1px;
        …
      }
    }
*/

.social-icon {
  opacity: .5;

  &.icon-twitter {
    // color: $twitter-blue;
  }

  &.icon-tumblr {
    // color: $tumblr-blue;
  }

  &.icon-facebook {
    // color: $facebook-blue;
  }
}
