/*
    source card
*/
.source_card {
  margin: 0 0 1.3em;
}

.source_card__image {
  width: 4em;
}

.source_card__h1 {
  font-size: 1.15em;
  margin-top: 0.55em;
}

.source_card__block {
  font-size: 0.875em;
}

.source_card__button {
  margin: 0.5em 0.5em 0;
}
