/*
    User

    <div class="user">
      <div class="media_module user__lining clearfix">
        <span class="media_image image_module avatar avatar--small user__avatar" role="img" style="background-image:url(<%= avatar %>);">
          <img class="visuallyhidden" src="<%= avatar %>"/>
        </span><!-- eo media_image -->

        <div class="media_body">
          <h3 class="user__h1">
            <%= username %>
          </h3>

          <h4 class="user__h2">
            <%= realname %>
          </h4>
        </div><!-- eo media_body -->
      </div><!-- eo media_module -->
    </div><!-- eo user -->
*/

//block
.user {
  font-size: 1.2em;

  .user__lining {
    border-bottom: 1px solid $inset;
    margin: 0;
    padding: 0.8em;
  }

  //  Screens that LESS THAN 1100px wide.
  @media screen and (max-width: 1100px) {
    font-size: 1em;

    .user__button {
      margin-top: 0.5em;
    }
  }
}
    //mods
    //enables hover fanciness + dividing border
    .user--item {
      margin-top: 1px;

      &:hover {
        background-color: $base-frame;

        .user__button {
          display: block;
        }

        .icon {
          color: $text;
        }
      }
    }
    .user--no_lining {
      margin-bottom: 1.5em;

      .user__button {
        display: block;
        margin: 0.1em 0 0;
        position: relative;
      }
    }
    .user--medium_avatar {
      .user__button,
      .user__h1 {
        margin-top: 0.4em;
      }
    }

//elements
.user__avatar {
  display: inline-block;
  margin-right: 1em;
}

.user__h1,
.user__h2 {
  @include ellipsis;
}

.user__h1 {
  line-height: 1.4;

  &:only-child {
    line-height: 2.6;
  }
}
.user__h2 {
  font-family: $font-family;
  font-weight: normal;
  line-height: 1.4;
}
.user__lining {
  text-align: left;
  width: 100%;

  .icon {
    color: $inset;
    float: right;
    margin-top: 1em;
  }
}
.user__button {
  display: none;
  margin: 0.8em 2.5em 0 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}
.user__button--follow {}

.user__link { //clickable username
  &,
  &:visited {
    color: inherit;
    text-decoration: none;
  }

  &:hover {
    color: inherit;

    .user__h1 {
      text-decoration: underline;
    }
  }
}
