/*
  Card detailing a User and information about them
*/

//------------------------------------------------------------------------------
//  Block
//------------------------------------------------------------------------------
.user_card {
  margin: 8px;
}

//------------------------------------------------------------------------------
//  Elements
//------------------------------------------------------------------------------
.user_card__h1 {}

.user_card__avatar {}


//------------------------------------------------------------------------------
//  Framework
//------------------------------------------------------------------------------
.user_card__head {
  height: 100px;
  position: relative;

  .user_card__h1 {
    bottom: 0;
    left: 0;
    margin: 1em;
    position: absolute;
  }
}

.user_card__body {
  .xuser-avatar {
    height: 50px;
    width: 50px;
  }
}
