//------------------------------------------------------------------------------
//  Block classes for organizing layouts
//------------------------------------------------------------------------------

.column {
  float: left;

  @media screen and (max-width: $mq-nine-ish) {
    &:not(.column--immune) {
      float: none !important;
      width: auto !important;
      padding: 0 !important;
      margin: 0 !important;
    }
  }
}

.column + .column,
.column--padding {
  padding-left: 1em;
}
