//------------------------------------------------------------------------------
//  Text-level classes for small type tweaks
//------------------------------------------------------------------------------

.float--left {
  float: left;
}

.float--right {
  float: right;
}

.float--none {
  float: none;
}