//------------------------------------------------------------------------------
//  modular form framework
//
//    base styling to make any/all
//    inputs consistent throughout
//    the entire app
//------------------------------------------------------------------------------
////////////////////////////////////////////////////////////////////////////
//  SHARED BY HORIZONTAL + VERTICAL FORMS
////////////////////////////////////////////////////////////////////////////
.form_submit {
  @include button-sizing(wide);

  .spinner {
    left: auto;
    margin-left: -4px;
    margin-top: -2px;
    position: relative;
  }
}

////////////////////////////////////////////////////////////////////////////
//  VERTICAL FORMS
////////////////////////////////////////////////////////////////////////////
.form_module {

}

.form_fieldset {
  margin-top: 1em;
}

.form_legend {

}

.form_label {
  font-family: $font-family-display;
  font-size: 1em;
  font-weight: 400;
  display: block;
  line-height: 1.75;
}

.form_input,
.form_textarea {
  @include roundies(input);
  @include transition-property('border');
  @include transition-duration(0.25s);
  @include transition-timing-function(ease-in);

  border: 1px solid adjust-lightness($inset, -15%);
  display: block;
  font-size: 1.2em;
  padding: .5em;
  width: 100%;

  &:focus {
    outline: none;
    border: 1px solid adjust-lightness($inset, -50%);
  }

  &[disabled] {
    background-color: #eee;
    color: rgba(0,0,0,.4);
  }
}

.form_input_uneditable,
.form_textarea_uneditable {
  background-color: transparent;
  border: none;
  &[disabled] {
    background-color: transparent;
    border: none;
  }
}

.form_textarea_subline {
  margin: .25em 0 0;
  opacity: .5;
  text-align: right;
}

.form_input {
//  margin-bottom: 1em;
}

.form_textarea {

}
////////////////////////////////////////////////////////////////////////////
//  HORIZONTAL FORMS
//
//  horizontal forms are less often used.
//  instead of having horizontal be its own full set,
//  we're going to try to make the horizontal styles an override
//  thus making it a subclass of the standard vertical forms.
////////////////////////////////////////////////////////////////////////////
.form_module_horz {

  .form_fieldset {

  }

  .form_legend {

  }

  .form_label {
    display: inline;
  }

  .form_label {
    display: inline;
  }

  .form_input,
  .form_textarea {
    display: inline;
  }

  .form_input {

  }

  .form_textarea {

  }

  .form_submit {
    display: inline;

    .spinner {
      left: auto;
      margin-left: -4px;
      margin-top: -2px;
      position: relative;
    }
  }
}