//---------------------------
//  share form framework
//
//    TODO: make share_module a sub-class of form_module
//---------------------------

.share_module {

}

.share_label {
  float: left;
  margin-right: 5px;
}

.share_label_icon {
  display: block;
  float: left;
  height: 30px;
  width: 30px;
}

.share_input {

}

.share_input:checked {

}