//---------------------------
//  modular image
//---------------------------

.image_module {
  @include background-size(cover);

  background-color: $thumbnail_default_bg;
  background-position: center center;
  background-repeat: no-repeat;
  display: block;
}

.image_module--fill {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
