//---------------------------
//  TODO: fix this list shit
//---------------------------
.list,
.rolls-list,
.form-rolls-list,
.existing-rolls-list > ul {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    &:first-child {
      .frame {
        border-top: none;
      }
    }
  }
}

.list--inline {
  & > li {
    display: inline-block;
  }

  .left {
    float: left;
  }

  .right {
    float: right;
  }
}

.list--fit {
  display: table;
  width: 100%;

  & > li {
    display: table-cell;
  }
}

.list__link {
  &,
  &:link,
  &:visited {
    text-decoration: none;
  }

  &:hover,
  &:active {
    text-decoration: underline;
  }
}