//---------------------------
//  TODO: fix this list shit
//---------------------------
.list,
.rolls-list,
.form-rolls-list,
.existing-rolls-list > ul {
  margin: 0;
  padding: 0;

  li {
    list-style-type: none;
    &:first-child {
      .frame {
        border-top: none;
      }
    }
  }
}

.list--halves {
  li {
    display: inline-block;
    width: 50%;
  }
}

.list--thirds {
  li {
    display: inline-block;
    width: 33.33333%;
  }
}

.list--fourths {
  li {
    display: inline-block;
    width: 25%;
  }
}


.list--fifths {
  li {
    display: inline-block;
    width: 20%;
  }
}