//---------------------------
//  media module, what up!
//  thanks to @stubbornella.
//---------------------------

.media_module {
  margin : $media-module-margin;
  position : relative;
}

.media_body,
.media_image {
  overflow: hidden;
  zoom: 1;
}

.media_image {
  float: left;
  margin-right: 10px;
}

.media_image--rev {
  float: right;
  margin-left: 10px;
  margin-right: 0;
}

.media_body {
  p {
    margin: 0 0 .5em 0;
  }
}

//------------------------------------------------------------------------------
//  Panel extends: .media_module.panel
//------------------------------------------------------------------------------
.panel {
  padding: 1em;
}
    .panel--with-attribution {
      .panel__h1 {
        font-weight: normal;
      }
    }

    .panel--left {
      margin-left: 0;
    }

  .panel__h1 {
    @include ellipsis;

    font-weight: bold;
    font-size: 1.2em;
    line-height: 2.3;
  }

  .panel__button {
    @include button-sizing;
  }