.modal__wrapper {
  background-color: rgba(0,0,0,0.5);
  bottom: 0;
  left: 0;
  min-height: 100%;
  position: fixed;
  top: 0;
  z-index: 1;
}
    .modal__wrapper--light {
      background-color: rgba(255,255,255,0.5);
    }


.modal {
  background-color: $ui-gray;
  font-size: $font-size-fixed;
  margin: 0 auto;
  padding: $defaultMargin;
  text-align: left;
  width: 465px;

  &:before {
    z-index: 1;
  }

  // non-normative
  .user {
    font-size: 1em;
  }

  //headers
  .alpha {
    margin-bottom: 1em;
  }
}
    .modal--center {
      padding-top: 2em;
      text-align: center;
    }

.modal__body {
  background-color: $ui-white;
  border: 1px solid #ddd;
  padding: 2em 2em 1em;
}
    .modal__body--bare {
      padding: 0;
    }

    // super non-normative: styles abstracts/_load.scss
    .modal__body--twitter {
      .load_progress__status {
        background-color: $twitter-blue;
      }
    }
    .modal__body--facebook {
      .load_progress__status {
        background-color: $facebook-blue;
      }
    }


.modal__body--scroll {
  max-height: 420px;
  overflow-y: auto;
}

.modal__foot {
  padding-top: 1em;
}
    .modal__foot--rev {
      text-align: right;
    }

.modal__h1 {
}
    .modal__h1--padding {
      padding: 1em 0.75em;
    }

.modal__block {}
    .modal__block--push {
      margin-bottom: 1.3em;
    }

    .modal__block--hint {
      &,
      a {
        color: #888;
      }
    }
.modal__button {}

