.modal {
  background-color: $ui-gray;
  font-size: 13px;
  margin: 4em 1.25em;
  padding: $defaultMargin;
  text-align: left;
  width: 500px;

  &:before {
    z-index: 1;
  }

  // non-normative
  .user {
    font-size: 1em;
  }
}

.modal__body {
  background-color: $ui-white;
  border: 1px solid #ddd;
  padding: 2em 2em 1em;
}
    .modal__body--bare {
      padding: 0;
    }

    // super non-normative: styles abstracts/_load.scss
    .modal__body--twitter {
      .load_progress__status {
        background-color: $twitter-blue;
      }
    }
    .modal__body--facebook {
      .load_progress__status {
        background-color: $facebook-blue;
      }
    }


.modal__body--scroll {
  max-height: 420px;
  overflow-y: auto;
}

.modal__foot {
  padding-top: 1em;
  text-align: right;
}

.modal__h1 {
  font-size: 1.5em;
}
    .modal__h1--padding {
      padding: 1em 0.75em;
    }

.modal__block {}
    .modal__block--push {
      margin-bottom: 1.3em;
    }

.modal__button {}

