//------------------------------------------------------------------------------
//  ABSTRACTS
//  currently used on any overlay

//elements
.guide-overlay__h1 {
  @include ellipsis;

  padding: 0.8em 0.5em;
}

.guide-overlay__list {
  //non-normative
  .button_primer {
    text-align: left;
  }
  .icon-chevron {
    float: right;
    margin-top: 3px;
  }
}

//architectural
.guide-overlay__head {
  border-bottom: 1px solid $inset;
  height: $overlay_header_height;

  .button_icon-only {
    float: left;
    margin: 1em;
    position: relative;
  }
}

.guide-overlay__body {
  bottom: 0;
  position: absolute;
  overflow-y: auto;
  top: $overlay_header_height;
  width: 100%;
}

.guide-overlay__foot {
  bottom: 0;
  border-top: 1px solid $inset;
  font-size: 1.2em;
  left: 0;
  position: absolute;
  width: 100%;
}
