//------------------------------------------------------------------------------
//  Search Module
//
//  i.e. http://jsfiddle.net/matyus/GkcNz/
//------------------------------------------------------------------------------

.search__wrapper {
  @include roundies;

  background-color: $ui-white;
  display: inline-block;
  max-width: 200px;
  position: relative;
  width: 300px;

  & > .icon {
    color: $ui-black;
    position: absolute;
    right: 0.5em;
    z-index: 1;
  }

  & > .search {

    border: none;
    font-size: 13px;
    left: 0;
    margin: 0;
    position: absolute;
    width: 100%;
  }
}
    .search__wrapper--focused {
      max-width: 300px;
    }

.search {

}


.search_module {
  margin: 0;
}

.search_module__submit,
.search_module__input {
  display: inline-block;
  vertical-align: middle;
}

.search_module__submit {
  height: 2.3em;
}

.search_module__input_wrapper {
  height: 3.25em;
}

.search_module__submit {
  float: right;
}

.search_module__input_wrapper {
  display: block;
  overflow: hidden;
}

.search_module__input {
  height: inherit;
  width: 100%;
}
