//---------------------------
//  EXPERIMENTAL:
//  should arbitrary button get a class that gives it its color?
//  i.e.: <button class="form_submit submit-share shelby-blue">Submit</button>
//---------------------------
$list : blue,
        green,
        default,
        gray,
        gray-light,
        gray-medium,
        red,
        yellow;

@each $color in $list {
  .shelby-#{$color} {
    @include loopable-button-primer($color);
  }
}