//---------------------------
//  social-login framework
//---------------------------

.social_login {
}

.social_login-facebook,
.social_login-twitter {
  @include button-sizing(social-login);

  margin-right: .7em;
  text-align: center;
  width: 100px;

  .icon {
    background-size: contain;
    -webkit-background-size: contain;
    display: block;
    margin-left: .4em;
    padding: .5em 1.3em .5em 2.4em;
  }
}

.social_login-facebook {

}
.social_login-twitter {

}