//------------------------------------------------------------------------------
//  Text-level classes for small type tweaks
//------------------------------------------------------------------------------

.text-columns {
  -webkit-column-gap: auto;
  -moz-column-gap: auto;
  -ms-column-gap: auto;
  -o-column-gap: auto;
  column-gap: auto;
}

    .text-columns--2 {
      -webkit-column-count: 2;
      -moz-column-count: 2;
      -ms-column-count: 2;
      -o-column-count: 2;
      column-count: 2;
    }
    // add more as necessary.