@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot');
	src:url('fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('fonts/icomoon.svg#icomoon') format('svg'),
		url('fonts/icomoon.woff') format('woff'),
		url('fonts/icomoon.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'icomoon';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
[class^="icon-"]:before, [class*=" icon-"]:before {
	font-family: 'icomoon';
	font-style: normal;
	speak: none;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.icon-videocard_roll:before {
	content: "\e000";
}
.icon-videocard_queue:before {
	content: "\e001";
}
.icon-player_sound_off:before {
	content: "\e002";
}
.icon-player_sound_on:before {
	content: "\e003";
}
.icon-comment_reply:before {
	content: "\e004";
}
.icon-chevron:before {
	content: "\e005";
}
.icon-carrot:before {
	content: "\e006";
}
.icon-player_play:before {
	content: "\e007";
}
.icon-videocard_comment:before {
	content: "\e008";
}
.icon-star:before {
	content: "\e009";
}
.icon-player_pause:before {
	content: "\e00a";
}
.icon-player_fullscreen_enable:before {
	content: "\e00b";
}
.icon-social_twitter:before {
	content: "\e00c";
}
.icon-social_tumblr:before {
	content: "\e00d";
}
.icon-social_facebook:before {
	content: "\e00e";
}
.icon-player_fullscreen_disable:before {
	content: "\e00f";
}
.icon-avatar:before {
	content: "\e010";
}
.icon-cancel:before {
	content: "\e011";
}
.icon-missing_thumb:before {
	content: "\e012";
}
.icon-iphone:before {
	content: "\e013";
}
.icon-shortlink:before {
	content: "\e014";
}
.icon-search:before {
	content: "\e015";
}
.icon-email:before {
	content: "\e016";
}
.icon-mark:before {
	content: "\e01c";
}
.icon-type:before {
	content: "\e017";
}
.icon-type-2:before {
	content: "\e018";
}
.icon-type-3:before {
	content: "\e019";
}
