<div class="bookmarklet-notification video-radar-lining clearfix">
	<div class="notification-banner-left">
		<h1 class="video-radar-title">Video Radar</h1>
		<h2 class="video-radar-subtitle">Add video to Shelby! <em>Queue</em> and <em>Roll</em> while you browse the web.</h2>
		<button class="js-dismiss-extension-banner dismiss-banner-notification">✕</button>
	</div>
	<div class="notification-banner-right dropdown_module">
		<div class="">
			
		<div class="bookmarklet-drag-wrapper">
			<a href="javascript:window.isShelbyBookmarklet=true;_sbm=document.createElement('SCRIPT');_sbm.type='text/javascript';_sbm.src='//<%= shelby.config.webDomain %>/assets/shelbify.js';document.getElementsByTagName('head')[0].appendChild(_sbm);">✚ Shelby Video</a>
			<h2 class="video-radar-subtitle">Grab the bookmarklet!</h2>
		</div>
		
		<section class="dropdown_section bookmarklet-help">
			<ol>
				<li>Make sure your bookmarks bar is showing
					<ul>
						<li>Click "view" then "show bookmarks bar"</li>
					</ul>
				</li>
				<li>Drag the "✚ Shelby Video" button into your browser's bookmarks bar</li>
				<li>Click that button when you see video anywhere on the web!</li>
			</ol>
		</section>
		
		</div>
		
	</div>
</div>