<div class="notification_module notification-banner bookmarklet-notification">
	<div class="notification_actions">
		<button class="button_primer button_blue-dark notification_button js-dismiss">
			<!-- <i class="ir button_icon icon_cancel_blue icon"> -->
				&times;
			<!-- </i> -->
		</button>
		
		<span class="notification_label js-dismiss">
			No thanks
		</span>
	</div><!-- eo notification_action -->

	<div class="notification_body">
		<a class="button_primer faux_button button_gray-medium bookmarklet-notification-radar-button" href="javascript:(function(){window.isShelbyBookmarklet=true;_sbm=document.createElement('SCRIPT');_sbm.type='text/javascript';_sbm.src='//<%= shelby.config.webDomain %>/assets/shelbify.js';document.getElementsByTagName('head')[0].appendChild(_sbm);)();" title="Drag this to your Bookmarks Bar!">
			<i class="button_icon_left icon_videocard_roll icon">
				Video Radar
			</i>
		</a>  
		<h1 class="notification_message">
			&larr; Drag our bookmarklet into your Bookmarks Bar 
			<span class="dropdown_module">
				 <a href="#" onclick="return false;" class="js-tools dropdown_anchor bookmarklet-notification-radar-help" title="Click here for more information">
					Need Help?
				</a>

				<section class="dropdown_section bookmarklet-help-section clearfix">
		      <div class="dropdown_lining bookmarklet-help">
						<%= SHELBYJST['bookmarklet-instructions']() %>
		      </div>
		    </section>
			</span>
		</h1>
	</div>
</div><!-- eo bookmarklet-notification -->
