<div class="chrome-extension-notification">
	<div class="notification-banner-left">
		<h1>Shelby Video Radar</h1>
		<h2>Queue and Roll while you browse the web.</h2>
	</div>
	<div class="notification-banner-right">
		<div class="dropdown_module">
			
		BOOKMARKLET HOVER THING
		<div class="bookmarklet-drag-wrapper">
			<a href="javascript:window.isShelbyBookmarklet=true;_sbm=document.createElement('SCRIPT');_sbm.type='text/javascript';_sbm.src='//<%= shelby.config.webDomain %>/assets/shelbify.js';document.getElementsByTagName('head')[0].appendChild(_sbm);">✚ Shelby Video</a>
		</div>
		
		<section class="dropdown_section">
			<ol>
				<li>Click "view" then "show bookmark bar"</li>
				<li>Drag that button into browser's bookmark bar</li>
				<li>Click when you see video!</li>
			</ol>
		</section>
		
		</div>
		
	</div>
</div>