<div class="notification_module notification_module--extension">
  <div class="notification_actions">
    <button class="button_primer button_yellow notification_button js-dismiss">
      &times;
    </button>

    <span class="notification_label js-dismiss">
      No thanks
    </span>
  </div><!-- eo notification_action -->

  <div class="notification_body">
    <a class="button_primer faux_button button_gray-medium extension-notification-radar-button" href="<%= shelby.config.chromeExtensionWebStoreUrl %>" title="Click here to install the Shelby Video Radar!" target="_chromeExt">
      <i class="button_icon_left icon">
        Shelby Video Radar
      </i>
    </a>
    <h1 class="notification_message">
      &larr; Click here to install the Chrome Extension
    </h1>
  </div>
</div><!-- eo extension-notification -->
