<div class="chrome-extension-notification video-radar-lining clearfix">
	<div class="notification-banner-left">
		<h1 class="video-radar-title">Video Radar</h1>
		<h2 class="video-radar-subtitle">Add video to Shelby! <em>Queue</em> and <em>Roll</em> while you browse the web.</h2>
		<button class="js-dismiss-extension-banner dismiss-banner-notification">✕</button>
	</div>
	<div class="notification-banner-right get-extension-wrapper dropdown_module">
		<a href="<%= shelby.config.chromeExtensionWebStoreUrl %>" target="_chromeExt" class="get-extension">✚ Get the Chrome Extension</a>
	</div>
</div>