<div class="chrome-extension-notification">
	<div class="notification-banner-left">
		<h1>Shelby Video Radar</h1>
		<h2>Queue and Roll while you browse the web.</h2>
	</div>
	<div class="notification-banner-right">
		ADD TO CHROME (need link)
	</div>
</div>