<section class="content_lining" role="main">
  <section class="content_module onboarding-content-pane">
    <!-- content filled in by OnboardingContentPaneView -->
  </section>
</section><!-- eo .content_lining -->

<section class="js-inactivity-preemption js-guide guide-wrapper sidebar_module clearfix">
  <div class="guide-explore js-guide-explore clearfix">
    <ul class="list_module guide-list js-onboarding-guide">
      <!-- content filled in by OnboardingGuideView -->
    </ul>
  </div>
</section><!-- eo .guide-wrapper -->
