<h2>OK! Add video from friends.</h2>
<p>We'll bring you the video your friends are sharing on other networks. <strong>We won't post or share anything without your permission.</strong></p>
<a href="http://api.shelby.tv/auth/twitter" class="button_primer button_twitter-blue button_command button_command--sub button_command--twitter js-authorize" data-popup_width="1000" data-popup_height="650">
  <span class="icon-twitter"></span>
  Twitter
</a>
<a href="http://api.shelby.tv/auth/facebook" class="button_primer button_facebook-blue button_command button_command--sub button_command--facebook js-authorize"  data-popup_width="1000" data-popup_height="650">
  <span class="icon-facebook"></span>
  Facebook
</a>
<p>Or you can <a href="#" class="js-onboarding-advance-stage">skip this step</a></p>