<div class="modal__body  modal__body--scroll clearfix">
  <h2 class="modal__h1">
    Follow the best of web video
  </h2>
  <p class="modal__block modal__block--push">
    Follow at least 3 of our hand-picked content sources.<br />
    We'll keep your stream fresh with high quality video.
  </p>
  <div class="js-list-sources--onboarding">
    <!-- filled in by the FollowSourcesView -->
  </div>
</div><!-- eo modal__body -->

<div class="modal__foot modal__foot--rev clearfix">
  <button disabled class="button_primer button_command button_command--flexible button_green disabled js-onboarding-advance-stage">
    <span class="button_label">Follow 3 More</span>
  </button>
</div><!-- eo modal__foot -->
