<div class="onboarding-header">
  <h1>Comment and Share</h1>
  <h2>Connect your favorite network.</h2>
</div>
<ul class="clearfix onboarding-network-list">
  <li class="js-onboarding-network-list-item">
    <div class="onboarding-network-list-item-lining">
      <button>
        Twitter  
      </button>
    </div>
  </li>
  <li class="js-onboarding-network-list-item">
    <div class="onboarding-network-list-item-lining">
      <button>
        Facebook  
      </button>
    </div>
  </li>
  <li class="js-onboarding-network-list-item">
    <div class="onboarding-network-list-item-lining">
      <button>
        Tumblr  
      </button>
    </div>
  </li>
</ul>

<button class="onboarding-next-step">
  Next
</button>
