<div class="modal fin fin--left_top clearfix">
  <div class="modal__body clearfix">
    <h2 class="modal__h1">
      Welcome!
    </h2>
    <p class="modal__block">
      Mad titties up in here!
    </p>
  </div><!-- eo modal__body -->

  <div class="modal__foot clearfix">
    <button class="button_primer button_command button_command--flexible button_green">
      <span class="icon icon-roll"></span>
      <span class="button_label">Add Video</span>
    </button>
  </div><!-- eo modal__foot -->
</div>