<div class="modal__body clearfix">
  <h2 class="alpha modal__h1">
    Welcome to Shelby. This is your Stream.
  </h2>
  <p class="modal__block">
    Your stream is the place to find video. You don't have any <br/>video yet, so let's add some.
  </p>
</div><!-- eo modal__body -->

<div class="modal__foot modal__foot--rev clearfix">
  <button class="button_primer button_command button_command--flexible button_green js-onboarding-advance-stage">
    <span class="icon icon-roll"></span>
    <span class="button_label">Add Video</span>
  </button>
</div><!-- eo modal__foot -->