<div class="onboarding-head">
  <h1 class="onboarding-header">
    Last Step!
  </h1>
  <h2 class="onboarding-subheader">
    You've come a long way, baby.
  </h2>
</div>

<ol class="clearfix onboarding_list_module onboarding-last-list">
  <li class="onboarding-last-item js-onboarding-roll-list-item">
    <div class="onboarding-last-item-lining">
      <img src="/images/onboarding/roll.png" class="onboarding-roll-list-img" />

      <h3 class="onboarding-last-title">
        Roll to your .tv
      </h3>

      <h4 class="onboarding-last-desc">
        Publish a peronal roll of favorite videos by using the +Roll button.
      </h4>
    </div>
  </li>

  <li class="onboarding-last-item js-onboarding-roll-list-item">
    <div class="onboarding-last-item-lining">
      <img src="/images/onboarding/queue.png" class="onboarding-roll-list-img" />

      <h3 class="onboarding-last-title">
        Queue
      </h3>

      <h4 class="onboarding-last-desc">
        Save videos that interest you, or add them to your personal roll.
      </h4>
    </div>
  </li>

  <li class="onboarding-last-item js-onboarding-roll-list-item">
    <div class="onboarding-last-item-lining">
      <img src="/images/onboarding/explore.png" class="onboarding-roll-list-img" />

      <h3 class="onboarding-last-title">
        Explore
      </h3>

      <h4 class="onboarding-last-desc">
        Browse by topic, discover recommended videos, and follow new rolls.
      </h4>
    </div>
  </li>

  <li class="onboarding-last-item js-onboarding-roll-list-item">
    <div class="onboarding-last-item-lining">
      <img src="/images/onboarding/stream.png" class="onboarding-roll-list-img" />

      <h3 class="onboarding-last-title">
        Stream
      </h3>

      <h4 class="onboarding-last-desc">
        Watch videos from your connected networks and the rolls you follow.
      </h4>
    </div>
  </li>
</ol>

<button class="js-onboarding-next-step onboarding-next-step">
  Play My Stream
</button>
