<div class="modal__body clearfix">
  <h2 class="alpha modal__h1">
    OK! Add video from friends.
  </h2>

  <p class="modal__block modal__block--push">
    We'll bring you the video your friends are sharing on other networks. <br/><strong>We won't post or share anything without your permission.</strong>
  </p>

  <% if(authFailure){ %>
    <p class="form_error">
      Could not connect <%= _(service).capitalize() %>, please try again.
    </p>
  <% } %>

  <a href="http://api.shelby.tv/auth/twitter?redir_query=authed_with%3Dtwitter" class="button_primer button_twitter-blue button_command button_command--sub button_command--twitter one-third js-authorize js-authorize--twitter js-track-event" data-popup_width="1000" data-popup_height="650" data-ga_category="Onboarding" data-ga_action="Click Auth Twitter on Step 3" data-ga_label="<%= shelby.models.user.get('nickname') %>">
    <span class="icon-twitter"></span>
    <span class="button_label">Twitter</span>
  </a>

  <a href="http://api.shelby.tv/auth/facebook?redir_query=authed_with%3Dfacebook" class="button_primer button_facebook-blue button_command button_command--sub button_command--facebook one-third js-authorize js-authorize--facebook js-track-event"  data-popup_width="1000" data-popup_height="650"  data-ga_category="Onboarding" data-ga_action="Click Auth Facebook on Step 3" data-ga_label="<%= shelby.models.user.get('nickname') %>">
    <span class="icon-facebook"></span>
    <span class="button_label">Facebook</span>
  </a>

  <p class="modal__block modal__block--hint">
    Or you can <a href="#" class="js-onboarding-advance-stage">skip this step</a>
  </p>
</div><!-- eo modal__body -->
