<div class="onboarding_layout_head onboarding-head clearfix">
  <h1 class="onboarding-header">
    Ready to Roll
  </h1>
  <div class="onboarding-next-step-wrapper">
    <button class="js-onboarding-next-step onboarding-next-step">
      <i class="button_icon icon_player_play player-play">Play</i>
    </button>
    <span class="onboarding-next-step-counter">
      Start Watching
    </span>
  </div>
</div><!-- eo onboarding_layout_head -->

<div class="onboarding_layout_body onboarding-body onboarding-stage-4">
  <div class="onboarding-block-container clearfix">
    <p>
      Click <span class="onboarding-inline-button"><i class="button_icon icon_videocard_roll icon-roll">Roll…</i></span> to share video on
    </p>
    <h2 class="onboarding-username-display">
      http://<%= user.get('nickname') %>.shelby.tv
    </h2>
  </div>

  <div class="onboarding-stage-4-rolling-demo">
    <img class="onboarding-stage-4-rolling-demo-image" src="/images/onboarding/stage-4/rolling-demo.png" />
  </div>
</div><!-- eo onboarding_layout_body -->