<h2>Welcome to Shelby. This is your Stream.</h2>
<p>Your stream is the place to find video. You don't have any video yet, so let's add some.</p>
<button class="button_primer button_green button_command js-onboarding-advance-stage">
  <span class="icon icon-roll">
    Add Video
  </span>
</button>