<div class="onboarding-header">
  <h1>What's your name?</h1>
  <h2>Looking good BTW</h2>
</div>
<form class="onboarding-form-1 form_module">
  <label class="form_label" for="onboarding-username-input">username</label>
  <input class="form_input" id="js-onboarding-username-input" name="onboarding-username-input" type="text" placeholder="what's your nickname?" />
  <label class="form_label" for="onboarding-pwd-input">password</label>
  <input class="form_input" id="js-onboarding-pwd-input" name="onboarding-pwd-input" type="password" placeholder="shhhh it's a secret" />
  <label class="form_label" for="onboarding-email-input">email</label>
  <input class="form_input" id="js-onboarding-email-input" name="onboarding-email-input" type="email" placeholder="want the latest news?" />
</form>
<p>
  We will: confirm your account information. We won't: spam you.
</p>
<p class="onboarding-vanity-url">
  http://<span class="js-onboarding-url-username">username</span>.shelby.tv
</p>
<button class="onboarding-next-step">
  Get Started
</button>
