<div class="onboarding-head">
  <h1 class="onboarding-header">
    Shelby brings you video from people and places on the web
  </h1>
  <h2 class="onboarding-subheader">
    Click and follow <span class="onboarding-follow-more-count js-onboarding-follow-more-count">some rolls</span> to get fresh video in your stream
  </h2>
</div>

<%
  var rolls = [
    {
      title:'Laughing Squid',
      category:'POP CULTURE',
      img_src:'/images/onboarding/rolls/laughingsquid.png',
      roll_id:'4fc637879a725b755d001f77'
    },
    {
      title:'Om Gal',
      category:'INTERESTING PEOPLE',
      img_src:'/images/onboarding/rolls/omggal.png',
      roll_id:'4f8f81beb415cc4762002daa'
    },
    {
      title:'Brain Pickings',
      category:'EDUCATION',
      img_src:'/images/onboarding/rolls/brainpicker.png',
      roll_id:'4fbad2c5d1041266bc000d4f'
    },
    {
      title:'They Daily What',
      category:'POP CULTURE',
      img_src:'/images/onboarding/rolls/dailywhat.png',
      roll_id:'4fa28d849a725b79c9000228'
    },
    {
      title:'IGN',
      category:'GAMING',
      img_src:'/images/onboarding/rolls/ign.png',
      roll_id:'4f987a5e9a725b032b002f13'
    },
    {
      title:'Chris',
      category:'INTERESTING PEOPLE',
      img_src:'/images/onboarding/rolls/chris.png',
      roll_id:'4f901d4bb415cc661405fde9'
    },
    {
      title:'PBS Idea Channel',
      category:'POP CULTURE',
      img_src:'/images/onboarding/rolls/pbs.png',
      roll_id:'4faabca99a725b5cd50026a2'
    },
    {
      title:'Red Bull',
      category:'SPORTS',
      img_src:'/images/onboarding/rolls/redbull.png',
      roll_id:'4fb413bb9a725b650900195a'
    },
    {
      title:'Jacqueline',
      category:'INTERESTING PEOPLE',
      img_src:'/images/onboarding/rolls/jacqueline.png',
      roll_id:'4f900012b415cc661404e72b'
    },
    {
      title:'Reuters',
      category:'NEWS',
      img_src:'/images/onboarding/rolls/reuters.png',
      roll_id:'4f95622b9a725b72e700106b'
    },
    {
      title:'Vondoom',
      category:'INTERESTING PEOPLE',
      img_src:'/images/onboarding/rolls/vincent.png',
      roll_id:'4f900553b415cc6614051b7b'
    },
    {
      title:'WSJ',
      category:'NEWS',
      img_src:'/images/onboarding/rolls/wsj.png',
      roll_id:'4fa8542c88ba6b669b000bcd'
    },
    {
      title:'Harto',
      category:'INTERESTING PEOPLE',
      img_src:'/images/onboarding/rolls/harto.png',
      roll_id:'4f902316b415cc466a0009dd'
    },
    {
      title:'Chow',
      category:'FOOD',
      img_src:'/images/onboarding/rolls/chow.png',
      roll_id:'50072ee988ba6b796b00e4fd'
    },
		{
      title:'Reece',
      category:'INTERESTING PEOPLE',
      img_src:'/images/onboarding/rolls/reece.png',
      roll_id:'4f900d56b415cc6614056681'
    }
  ];
%>

<ol class="clearfix onboarding_list_module onboarding-roll-list">

  <% rolls.forEach(function(roll){ %>
    <li class="onboarding-roll-item js-onboarding-roll-item">
      
      <button data-roll_id="<%= roll.roll_id %>" class="onboarding-roll-button js-onboarding-roll-button">
        <h3 class="onboarding-roll-head"><%= roll.title %></h3>
        <h4 class="onboarding-roll-subhead"><%= roll.category %></h4>
        <div class="onboarding-roll-body">
          <div class="animate_module onboarding-roll-followed">
            <i class="ir onboarding-followed-icon">
              FOLLOWED
            </i>
          </div>

          <img src="<%= roll.img_src %>" class="onboarding-roll-list-img" />

        </div>
      </button>
    </li>
  <% }) %>

</ol>

<button class="js-onboarding-next-step onboarding-next-step onboarding-stage-2-next-step">
  Skip
</button>
