
<div class="onboarding-header">

  <h1>Shelby pulls in videos from lots of great sources</h1>

  <h2>You only need to follow a few rolls to load your stream</h2>

</div>

<ol class="clearfix onboarding-roll-list">


  <li class="onboarding-roll-item js-onboarding-roll-item">
    
    <div class="onboarding-roll-item-lining js-onboarding-roll-item-lining">
      <h3 class="onboarding-roll-head">Laughing Squid</h3>
      <h4 class="onboarding-roll-subhead">POPULAR CULTURE</h4>
      <div class="onboarding-roll-body">

        <div class="onboarding-roll-followed">
          <i class="ir onboarding-followed-icon">
            FOLLOWED
          </i>
        </div>
        <img src="http://img.mota.ru/upload/wallpapers/2009/07/16/10/01/12257/movies_187-preview.jpg" class="onboarding-roll-list-img" />

        <div class="onboarding-roll-button-wrapper">
          <button id="4f900553b415cc6614051b7b" class="onboarding-roll-button js-onboarding-roll-list-item-button">
            Follow
          </button>
        </div>
    </div>
    </div>
  </li>

</ol>

<button class="js-onboarding-next-step onboarding-next-step">
  Next
</button>
