<div class="shelby-header shelby-header--onboarding onboarding__header">
  <span class="shelby_logo">
    <span class="icon-mark"></span><span class="icon-type"></span><span class="ir">Shelby.tv</span>
  </span>
</div>

<section class="onboarding__wrapper js-onboarding-pane clearfix">
  <!-- content filled in by OnboardingContentPaneView -->
</section><!-- eo .content_lining -->