<div class="modal__body clearfix">
  Stuff about loading videos here
</div><!-- eo modal__body -->

<div class="modal__foot clearfix">
  <button class="button_primer button_command button_command--flexible button_green js-onboarding-advance-stage">
    <span class="icon icon-roll"></span>
    <span class="button_label">Add more video</span>
  </button>
</div><!-- eo modal__foot -->