<div class="onboarding_layout_head onboarding-head clearfix">
  <h1 class="onboarding-header">
    Program your personal Shelby stream
  </h1>

  <h2 class="onboarding-subheader">
    <span class="onboarding-follow-more-count js-onboarding-follow-more-count">Try following some rolls</span>
  </h2>

  <div class="onboarding-next-step-wrapper">
    <button class="js-onboarding-next-step onboarding-stage-2-next-step">
      Skip
    </button>

    <span class="onboarding-next-step-counter">
      Step 2 of 3
    </span>
  </div>
</div><!-- eo .onboarding_layout_head -->

<div class="onboarding_layout_body onboarding-body onboarding-stage-2 clearfix">
  <ol class="onboarding-category-list clearfix">
    <% rollCategories.get('roll_categories').forEach(function(category){ %>
      <li class="onboarding-category-item">
        <div class="onboarding-category-item-lining">
          <h3 class="onboarding-category-header">
            <%= category.get('category_title') %>
          </h3>

          <ol class="onboarding_list_module onboarding-roll-list clearfix">
            <% category.get('rolls').forEach(function(roll){ %>
              <li class="onboarding-roll-item js-onboarding-roll-item">
                <button data-roll_id="<%= roll.id %>" class="onboarding-roll-button js-onboarding-roll-button js-follow-unfollow">
                  <h4 class="onboarding-roll-head">
                    <%= roll.get('display_title') %>
                  </h4>

                  <div class="onboarding-roll-body">
                    <div class="animate_module onboarding-roll-status">
                      <p></p>
                    </div>

                    <img src="<%= roll.get('display_thumbnail_src') %>" class="onboarding-roll-list-img" />

                  </div>
                </button>
              </li><!-- eo onboarding-roll-item -->
            <% }); %>
          </ol>
        </div><!-- eo onboarding-category-lining -->
      </li><!-- eo onboarding-category-item -->
    <% }); %>
  </ol>
</div>
