
<div class="onboarding-header">

  <h1>Shelby pulls in videos from lots of great sources</h1>

  <h2>You only need to follow a few rolls to load your stream</h2>

</div>

<ol class="clearfix onboarding-roll-list">


  <li class="onboarding-roll-list-item js-onboarding-roll-list-item">
    <div class="onboarding-roll-list-item-lining js-onboarding-roll-list-item-lining">
      <h3>Laughing Squid</h3>
      <h4>POPULAR CULTURE</h4>
      <div class="onboarding-roll-list-followed">FOLLOWED</div>
      <img src="http://img.mota.ru/upload/wallpapers/2009/07/16/10/01/12257/movies_187-preview.jpg" class="onboarding-roll-list-img" />
      <button id="4f900553b415cc6614051b7b" class="onboarding-roll-list-item-button js-onboarding-roll-list-item-button">Follow</button>
    </div>
  </li>

</ol>

<button class="onboarding-next-step">
  Next
</button>
