<h2>OK! Add video from friends.</h2>
<p>We'll bring you the video your friends are sharing on other networks. <strong>We won't post or share anything without your permission.</strong></p>
<button class="button_primer button_twitter-blue button_command button_command--sub button_command--twitter">
  <span class="icon-twitter"></span>
  Twitter
</button>
<button class="button_primer button_facebook-blue button_command button_command--sub button_command--facebook">
  <span class="icon-facebook"></span>
  Facebook
</button>
<p>Or you can <a href="#" class="js-onboarding-advance-stage">skip this step</a></p>