<a href="#" class="button_primer button_command button_command--flexible button_facebook-blue js-facebook-post">
  <span class="icon icon-facebook"></span>
  <span class="button_label">Send</span>
</a>