<div class="onboarding-header">
  <h1>What's your name?</h1>
  <h2>Looking good BTW</h2>
</div>
<form class="form_module">
  <label class="form_label" for="onboarding-nick-input">username</label>
  <input class="form_input" id="js-onboarding-nick-input" name="onboarding-nick-input" type="text" placeholder="what's your nickname?" />
  <label class="form_label" for="onboarding-pwd-input">password</label>
  <input class="form_input" id="js-onboarding-pwd-input" name="onboarding-pwd-input" type="text" placeholder="shhhh it's a secret" />
  <label class="form_label" for="onboarding-email-input">email</label>
  <input class="form_input" id="js-onboarding-email-input" name="onboarding-email-input" type="text" placeholder="want the latest news?" />
</form>
