<div class="onboarding-header">
  <h1>Last Step!</h1>
  <h2>You've come a long way, baby.</h2>
</div>

<ol class="clearfix onboarding-last-step-list">

  <li class="onboarding-last-step-list-item js-onboarding-roll-list-item">
    <div class="onboarding-last-step-item-lining">
      <img src="/images/onboarding/roll.png" class="onboarding-roll-list-img" />
      <h3 class="onboarding-last-step-title">Roll to your .tv</h3>
      <h4 class="onboarding-last-step-desc">Watch videos from your connected networks and the rolls you follow.</h4>
    </div>
  </li>
  <li class="onboarding-last-step-list-item js-onboarding-roll-list-item">
    <div class="onboarding-last-step-item-lining">
      <img src="/images/onboarding/queue.png" class="onboarding-roll-list-img" />
      <h3 class="onboarding-last-step-title">Queue</h3>
      <h4 class="onboarding-last-step-desc">Save videos that interest you, or add them to your personal roll.</h4>
    </div>
  </li>
  <li class="onboarding-last-step-list-item js-onboarding-roll-list-item">
    <div class="onboarding-last-step-item-lining">
      <img src="/images/onboarding/explore.png" class="onboarding-roll-list-img" />
      <h3 class="onboarding-last-step-title">Explore</h3>
      <h4 class="onboarding-last-step-desc">Browse by topic, discover recommended videos, and follow new rolls.</h4>
    </div>
  </li>
  <li class="onboarding-last-step-list-item js-onboarding-roll-list-item">
    <div class="onboarding-last-step-item-lining">
      <img src="/images/onboarding/stream.png" class="onboarding-roll-list-img" />
      <h3 class="onboarding-last-step-title">Stream</h3>
      <h4 class="onboarding-last-step-desc">Publish a peronal roll of favorite videos by using the +Roll button.</h4>
    </div>
  </li>

</ol>

<button class="js-onboarding-next-step onboarding-next-step">
  Play video
</button>
