<div class="modal__body  modal__body--scroll clearfix js-invite-friends-body">
  <h2 class="modal__h1">
    Want more video? Invite friends!
  </h2>
  <p class="modal__block modal__block--push">
    Invite your friends to Shelby
  </p>
  <!-- list appended by the ListView -->
</div><!-- eo modal__body -->

<div class="modal__foot modal__foot--rev clearfix">
  <a class="button_primer button_command button_command--flexible button_gray js-onboarding-advance-stage">
    <span class="button_label">Skip</span>
    <span class="icon icon-arrow_right"></span>
  </a>

</div><!-- eo modal__foot -->
