
<li class="onboarding-guide-list-item list_item guide-item <%= stage>=1 ? 'active-list-item' : '' %>">
  <button class="list_button guide-link">
    What's your name?  
  </button>
</li>

<li class="onboarding-guide-list-item list_item guide-item <%= stage>=2 ? 'active-list-item' : '' %>">
  <button class="list_button guide-link">
    Explore Video
  </button>
</li>

<li class="onboarding-guide-list-item list_item guide-item <%= stage>=3 ? 'active-list-item' : '' %>">
  <button class="list_button guide-link">
    Connect and Learn
  </button>
</li>

<li class="onboarding-guide-list-item list_item guide-item <%= stage>=4 ? 'active-list-item' : '' %>">
  <button class="list_button guide-link">
    Last Step
  </button>
</li>
