.shelby-header {
	@include gradient-primer(adjust-lightness($guide-presentation-tab-bg-selected,2%));

	border-bottom: 1px solid $header-outline;

	//NOT SURE HOW I FEEL ABOUT THIS position: absolute; business YET
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 3;  /* need to keep this in front of the preroll-video-info */
}

.shelby-logo {
	background: transparent;
	border: none;
	display: block;
	float: left;
	padding: 0;

	&.shelby-logo-no-link {
		cursor: auto;
	}
}

.shelby-title {
  font-size: 2.3em;
  height: 35px;
  line-height: 1.6;
  letter-spacing: -4px;
  padding: 0 10px 0 5px;
  text-align: left;

  //settings shared between both logo and mark
  &:before,
  &:after {
  }

  //mark
  &:before {
    content: "\e01c";
    color: #6cbc45;
    font-size: 1.1em;
    line-height: 1;
    vertical-align: -2px;
  }

  //logo
  &:after {
    content: "\e018";
    color: $button-color;
  }

}


.shelby-title-staging {
  @include ellipsis;

  color: $guide-presentation-button;
  font-size: 1em;
  height: 35px;
  line-height: 3.4;
  margin: 0 1px;
  padding: 0 0.4em;
  width: 95px;

  &:hover {
    min-width: 95px;
    width: auto;
  }
}