.shelby-header {
  @include gradient-primer(adjust-lightness($guide-presentation-tab-bg-selected,2%));

  border-bottom: 1px solid #202020;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 4;  // need to keep this in front of the preroll-video-info
}

.shelby-logo {
  background: transparent;
  border: none;
  display: block;
  font-size: 1.8em;
  float: left;
  padding: 0;
  margin: 0;
  text-decoration: none;

  .shelby_logo {
    padding: 0px 12px 0 6px;
  }
}

.shelby-title-staging {
  @include ellipsis;

  color: $ui-red;
  font-size: 10px;
  height: 15px;
  line-height: 1;
  margin: 0;
  padding: 0;
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%;
  z-index:100000000;
}
