.shelby-header {
  @include gradient-primer(adjust-lightness($guide-presentation-tab-bg-selected,2%));

  border-bottom: 1px solid $header-outline;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 4;  // need to keep this in front of the preroll-video-info
}

.shelby-logo {
  background: transparent;
  border: none;
  display: block;
  float: left;
  font-size: 1.5em;
  padding: 0;

  .shelby_logo {
    padding: 5px 12px 0 6px;
  }
}

.shelby-title-staging {
  @include ellipsis;

  color: $guide-presentation-button;
  font-size: 1em;
  height: $app-header__height;
  line-height: 2.4;
  margin: 0 1px;
  padding: 0 0.4em;
  width: 95px;

  &:hover {
    min-width: 95px;
    width: auto;
  }
}