//---------------------------
//  boilerplate stuff
//
//  this is the only time
//  you should see styling
//  on natural elements
//---------------------------
h1,h2,h3,h4,h5,h6{
  font-family: $font-family;
  font-weight: bold;
  line-height: 1.231;
  margin: 0;
}

body{
  @include basefont;

  background-color: #000;
  bottom: 0;
  color:  $text;
  left: 0;
  height: 100%;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  -webkit-font-smoothing: antialiased;
}

a{
  color: lighten($text, 20%);

  &:hover,
  &:visited,
  &:active{
    color: lighten($text, 20%);
  }

}

  // MODIFIER:
  // Share Page. Major layout overrides are happening in here!!
  $_singleColumn: 550px;

  .shelby--shares {
    background-color: $ui-off-white;
    overflow: visible;

    &,
    .shelby-wrapper,
    .shelby-header,
    .content_wrapper,
    .app-banner__wrapper {
      position: relative;
    }

    .content_wrapper {
      margin-top: 0;
      overflow-y: auto;
    }

    .frame {
      max-width: $_singleColumn;
      margin: 1em auto;
      .frame-footer {
        .avatar {
          margin-right: 1em;
        }
      }
      .frame-likes {
      }
      .frame-likes:before,
      .frame-likes-link {
        vertical-align: middle;
      }
    }

    .xuser-message {
      font-color: #555;
    }

    // font-size adjust for "desktop" situations
    @media screen and (min-width: 600px) {
      .frame-title {
        font-size: 1.7em;
      }
      .frame-footer {
        font-size: 1.4em;
        line-height: 1.3;
        margin: 1em;

        //non-normative overrides
        .avatar {
          font-size: 0.8em;
        }
        .line-clamp {
          height: 4.6em;
        }
        .line-clamp--open {
          height: auto;
        }
      }
    }
    .frame-likes {
      font-size: 1.4em;
    }
    //non-normative
    .shelf--marketing_shares {
      font-size: 1.3em;
      margin: 0 auto;
      max-width: $_singleColumn;

      .alpha {
        font-family: $font-family-display;
        font-weight: 500;
      }

      .frame-body-wrapper {
        margin: 0.6em;
        padding: 2em;
      }
    }
    .shelf__block--push {
      margin-top: 2em;
    }
    .shelf__block--center {
      text-align: center;
    }
  }// eo shares


//---------------------------
//  shelby! containing wrappers, etc
//---------------------------

.shelby-wrapper{
  @include transition-property('top');
  @include transition-duration(.25s);
  @include transition-timing-function(ease-out);
  @include transition-delay(0s);

  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.welcome-message__wrapper,
.notification__wrapper,
.notifications-wrapper,
.action-layout,
.preferences-layout,
.main-layout {
  z-index: 1;
}

.guide-wrapper{
  background-color: $guide-bg-color; //should technically be on .guide or something.
  // border-right: 1px solid #ccc;
  float: left;
  height:100%;
  opacity: 1;
  position: relative;
  z-index: 3;
}

.menu{
  box-shadow: $shadow;
  overflow: hidden;
  position: relative;
}

.spinner{
  left: 50%;
  margin-left: -24px;
  margin-top: 100px;
  position: absolute;
  z-index: 0;
}
