@import "base";
//------------------------------------------------------------------------------
//  MODULE
//------------------------------------------------------------------------------
.notification_module {
  color: $button-color;
  font-family: $font-family-display;
  font-weight: 500;
  height: inherit; //if parent wrapper isn't set, set a height in the modifying class.
  text-align: center;
}

.notification_actions {
  font-size: 1.3em;
  left: 0;
  padding: 0 5px;
  position: absolute;
  top: 0;
}

.notification_dismiss {
  color: darken($shelby-blue,9%);
  border-radius: 20px !important;
  text-shadow: none;
  vertical-align: top;
  margin: 0.5em 0 0;  
}

.notification_label {
  line-height: 2.6;
}

.notification_body {

}

.notification_message {
  display: inline-block;

}

//------------------------------------------------------------------------------
//  NOTIFICATIONS
//------------------------------------------------------------------------------
.notifications-banner-wrapper {

}

.notification-banner {
  /*height is set by GenericBannerNotificationView */
  padding: 5px;
  position: relative;
  width: 100%;  
}

//------------------------------------------------------------------------------
//  BOOKMARKLET NOTIFICATION
//------------------------------------------------------------------------------
.bookmarklet-notification {
  @include gradient-primer($shelby-blue);

  .notification_label {
    color: darken($shelby-blue,9%);
  }
}

.bookmarklet-notification-radar-button {
  @include button-sizing;

  .icon {
    padding-left: 1.3em;
  }
}