//------------------------------------------------------------------------------
//  NON NORMATIVE
//------------------------------------------------------------------------------
.shelby-wrapper--discussion {
  background-color: $base;
  position: relative;

  .shelby-wrapper {
    position: relative;
  }
}

//------------------------------------------------------------------------------
//  Shelby Chat/Discussion
//------------------------------------------------------------------------------
.discussion {
  font-size: 1.3em;
}

////////////////////////////////////////////////////////////////////////////
//  structure
////////////////////////////////////////////////////////////////////////////
.discussion__header {
  background-color: $base;
  box-shadow: 0px 0px 5px 0px black;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 2;
}

.discussion__body {
  padding-top: 80px;
  padding-bottom: 100px;
  z-index: 1;
}

.discussion__footer {
  background-color: $base;
  box-shadow: 0px 0px 5px 0px black;
  bottom: 0px;
  left: 0;
  position: fixed;
  right: 0;
  z-index: 2;
}

/* anything that should be fixed width, centered */
.discussion__content {
  margin: 0 auto;
  max-width: 600px;
  padding: 0 1em;
}

.discussion__h1,
.discussion__h2 {
  font-family: $font-family-display;
  font-weight: 400;
}


.discussion__h1 {
  background-color: #cb60b3;
  @include filter-gradient(#cb60b3, #de47ac, vertical);
  @include background-image(linear-gradient(top,  #cb60b3 0%,#ad1283 74%,#de47ac 99%));

  
  box-shadow: 0px 0px 3px 0px black;
  color: white;
  text-shadow: 0px -1px 0px black;
  margin: 0;
  font-size: 1.7em;
  padding: 0.2em 0;
  text-align: center;
}

.discussion__h2 {
  font-size: 1.2em;
}

.discussion__h3 {
  font-weight: bold;
  font-size: 1.2em;
  margin-bottom: 1em;
}

.discussion__h4 {
  font-weight: bold;
}

.discussion__subhead {
  margin-top:0;
}

.discussion__list {
  margin: 0;
  padding: 0;

  & > .discussion__item {
    list-style-type: none;
  }
}

.discussion__timestamp {
  color: #999;
  font-size: 0.8em;
  font-weight: bold;
  text-align: center;
}

//framework for each comment
.media_module--discussion {
  max-width: 440px;

  .media_image {
    width: 25px;

    img {
      width: 100%;
    }
  }

  .media_image--rev {
    float: right;
    margin-left: 10px;
    margin-right: 0;
  }

  .media_body {

  }
  
  .discussion__text {
    /* grey speech bubble via http://www.colorzilla.com/gradient-editor/ */
    background-color: #dddddd;
    @include filter-gradient(#dddddd, #efefef, vertical);
    @include background-image(linear-gradient(top,  #dddddd 0%,#dcdcdc 81%,#efefef 100%));
    
    border-radius: 15px;
    box-shadow: 0px 0px 3px 0px black;
    color: black;
    display: inline-block;
    margin: 0 0.1em 0.5em;
    padding: 5px 10px;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5);
  }
}
////////////////////////////////////////////////////////////////////////////
//  Recipients
////////////////////////////////////////////////////////////////////////////
.discussion--recipients {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  
  .discussion__h2 {
    display: inline-block;
  }
}

.discussion__list--recipients {
  display: inline-block;
}

.discussion__item--recipients {
  display: inline-block;
  &:not(:last-child){
    span:after{
      content: ',';
      padding-right: 0.25em;
    }
  };
}
//my initial inclination was to &.recipien... the below classes
//but we can't predict that it'll always be coupled in that way.
//keeping them adjacent to .discussion__item--recipients is fine
.recipients--email {
}

.recipients--shelby {
  span {
    opacity: .5; //sorta hacky.
  }
}

////////////////////////////////////////////////////////////////////////////
//  Conversation
////////////////////////////////////////////////////////////////////////////
.discussion-conversation {

}

//main list in conversation
.discussion__list--conversation {

}

.discussion__item--conversation {

}


//comments per video
.discussion__list--messages {

}

.discussion__item--messages {

}


//------------------------------------------------------------------------------
//  discussion videocard
//------------------------------------------------------------------------------
.videocard {

  & > iframe,
  & > embed,
  & > object {
    margin: 0;
    height: 400px;
    padding: 0;
    width: 100%;
  }

}

////////////////////////////////////////////////////////////////////////////
//  discussion reply section
////////////////////////////////////////////////////////////////////////////
.discussion-reply {
  text-align: right;

  .discussion__h2 {
    float: left;
    padding-left: 1em;
  }
}

.discussion__form {
  float: right;
}

.form_module--discussion-reply {
  .form_fieldset {
    float: right;
    margin: 0;
    width: 440px;
  }

  .form_textarea {
    float: right;
    font-size: 1em;
    width: 400px;
  }

  .form_submit {
    float: right;
    margin-top: 1em;
  }
}

//------------------------------------------------------------------------------
//  overrides pertaining to viewer (ie poster of message == viewer of page)
//------------------------------------------------------------------------------
.discussion__item--viewer {
  text-align: right;

  .media_module--discussion {
    float:right;

    .media_image {
      float: right;
      margin-left: 10px;
      margin-right: 0;
    }
    
    .discussion__text {
      /* blue speech bubble via http://www.colorzilla.com/gradient-editor/ */
      background-color: #87bbfc;
      @include filter-gradient(#87bbfc, #cde9fc, vertical);
      @include background-image(linear-gradient(top, #87bbfc 0%,#a0cdfe 82%,#b4ddfe 92%,#cde9fc 100%));
    }
  }
}