@import "base";

$outset : adjust-lightness($contextoverlay-outset,-10%);
$inset  : adjust-lightness($contextoverlay-inset, -5);

.context-overlay-wrapper {
	position: absolute;
	z-index:3;	
}

.context-overlay-lining {
	font-size: 120%; //fixes the clipping of the icons in the buttons, makes line-height taller
	width: 330px;
	position: relative;

	.video-card {
		background-color: $contextoverlay-bg-color;
		box-shadow: none;
		border-top-left-radius: 0;
		
		.frame-creator-avatar {
		  border-radius: 0;
	  }
	}

	.video-card-header,
	.video-card-footer {
		background: transparent;
	}

	.video-card-header {
		border-bottom: none;
	}

	.video-card-footer {
		border-top-color: $inset;
		font-size: .8em;
	}

	.frame-controls {
		button{
			border-top-color: $outset;
			border-left-color: $outset;
			border-right-color: $inset;
		}
	}
}

.context-overlay-header{
		&:active,
		&:link,
		&:visited {
			text-decoration: none;
		}
		
		&:hover {
			text-decoration: underline;
		}
}
