@import "base";

$outset : adjust-lightness($contextoverlay-outset,-10%);
$inset  : adjust-lightness($contextoverlay-inset, -5);

.context-overlay-wrapper {
	position: absolute;
	z-index:3;	
}

.context-overlay-lining {
	font-size: .925em;
	position: relative;
	width: $guide-width;
	top: 10px;

	.xframe {
		background-color: $base;
		overflow: hidden; //hide that body-wrapper box-shadow!
		padding: 0;
	}

	.xframe-title {
		padding-left: 5px;
		padding-top: 3px;
	}

	.xframe-menu {
		bottom: 29px;
		display: block;
		top: auto;

		.right {
			float: left;
			text-align: left;
		}
	}

	.xframe-option,
	.xframe-command {
		//let's "unstyle" this shit to look like a text link.
		border: none !important;
		box-shadow: none;
		background: transparent;
		color: #666;
		font-family: $font-family;
		margin: 0;
		width: auto;

		&:hover {
			text-decoration: underline;
		}
	}

	.command-more {
		display: none;
		margin: 0;
	}

	.xframe-sublist {
		display: block;
		margin: 0;
		width: auto;
	}
}
