@import "base";

.context-overlay-wrapper {
}

//------------------------------------------------------------------------------
//  nested styles in context-overlay-lining
//  override default styling of the frame (jst)
//  (the context-overlay is a subclass of the frame view)
//------------------------------------------------------------------------------

.context-overlay-lining {
  font-size: .925em;
  line-height: 1.5;
  width: $guide-width;

  ////////////////////////////////////////////////////////////////////////////
  // frame restylings
  ////////////////////////////////////////////////////////////////////////////
  .frame {
    background-color: $base;
    overflow: hidden; //hide that body-wrapper box-shadow!
    padding: 0;
  }

  .frame-title {
    padding: 3px 5px 0;
  }

  .frame-footer {
    min-height: 51px;
  }
  ////////////////////////////////////////////////////////////////////////////
  //  menu and sublist stuff
  ////////////////////////////////////////////////////////////////////////////

  .frame-menu {
    bottom: 28px;
    display: block;
    top: auto;

    .right {
      float: left;
      text-align: left;
    }
  }

  .frame-sublist {
    box-shadow: none;
    display: block;
    margin: 0;
    width: auto;
  }

  .frame-sublist .frame-command,
  .frame-command {
    //let's "unstyle" this shit to look like a text link.
    border: none !important;
    box-shadow: none !important;
    background: transparent !important;
    color: #666;
    font-family: $font-family;
    font-weight: 300;
    margin: 0;
    opacity: $videocard-faux-tint;
    width: auto;

    &:hover {
      background: transparent;
      text-decoration: underline;
    }
  }

//------------------------------------------------------------------------------
//  command-more has dropdown:
//  queue, remove, shortlink, etc.
//------------------------------------------------------------------------------
  .command-sublist { //override the background positioning
    .icon {
      background-position: center left;
//      background-repeat: no-repeat; //not sure why this has to be called again.
      padding-left: $button-padding-left;
      padding-right: 0;
    }
  }

  .command-more {
    display: none;
    margin: 0;
  }
    // double indentation denotes sublist options
    // 'nesting' without actually nesting.
    // saves us from having stupid-long selector strings,
    // i.e. `.content-overlay .command-more .command-queue`
    .command-queue {
      &.queued {
        background: transparent;
        box-shadow: none;
        font-weight: 300;
      }
    }

    .command-share {
      .icon {
        &.icon_email {
          background-image: url($icon-email);
          background-size: 1.1em;
          padding-left: $button-padding-left + .2em;
        }
      }
    }

  .xuser-message {
    overflow-y:auto;
    max-height: 150px;
    min-height: .7em;
  }
}//eo .context-overlay-lining