//------------------------------------------------------------------------------
//  Local Variables
//------------------------------------------------------------------------------
$conversation-avatar-width: 45px; //used in message_item and reply form
$main-column-width: 45em;
.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.list--inline {
  & > li {
    display: inline-block;
  }
}
//------------------------------------------------------------------------------
//  NON NORMATIVE
//------------------------------------------------------------------------------
.shelby-wrapper--discussion {
  background-color: $base;
  position: relative;

  .shelby-wrapper {
    position: relative;
  }
}

//------------------------------------------------------------------------------
//  BLOCK: discussion Shelby Discussion Rolls
//------------------------------------------------------------------------------
.discussion {
  font-size: 1.3em;
  margin: 0 auto 2em;

  &.discussions-manager-shown {
    display: none;
  }

  &.discussion-attachment-shown {
    display: none;
  }

  /////// NON-NORMATIVE OVERRIDES /////////////////////////////////////////////
  .load-more {
    width: 100%;
    position: absolute;
    top: -45px;
  }

  .load-more-button {
    padding: 0.6em 2em;
    width: auto;
  }
}

//------------------------------------------------------------------------------
//  Discussion Framework
//------------------------------------------------------------------------------
.discussion__header {
  .shelby_logo {
    font-size: 2.6em;
    margin-top: 0.2em;
    text-align: center;
  }
}

.discussion__nav {
  font-weight: bold;
  margin-bottom: 0.5em;

  a {
    color: $shelby-green;
  }
}

.discussion__body {
  padding-top: 60px;
  padding-bottom: 10px;
  z-index: 1;
}

.discussion__footer {
}

/* anything that should be fixed width, centered */
.discussion__content {
  margin: 0 auto;
  max-width: $main-column-width;
}

  .discussion__content--main {
    margin-top: 4em;
  }
//------------------------------------------------------------------------------
//  Elements
//------------------------------------------------------------------------------
.discussion__h1,
.discussion__h2 {
  font-family: $font-family-display;
  font-weight: 400;
}


.discussion__h1 {
  color: white;
  margin: 0;
  font-size: 1.7em;
  padding: 0.2em 0;
  text-align: center;
}

.discussion__h2 {
  font-size: 1.2em;
}

.discussion__h3 {
  font-weight: bold;
  font-size: 1.2em;
  margin-bottom: 1em;
}

.discussion__h4 {
  font-weight: bold;
}

.discussion__subhead {
  margin-top:0;
}

.discussion__list {
  position: relative;

  & > .discussion__item {
    display: block;
  }
}

.discussion__button {

}

.discussion__timestamp {
  color: #999;
  font-size: 0.8em;
  font-weight: bold;
  line-height: 2;
  text-align: center;
}

//------------------------------------------------------------------------------
//  Recipients Block
//------------------------------------------------------------------------------
.recipients {
  border-radius: 5px;
  padding: 10px;
}


//------------------------------------------------------------------------------
//  Recipients Elements
//------------------------------------------------------------------------------
.recipients__h1 {
  font-family: $font-family;
  font-weight: normal;
  margin-bottom: 0.5em;
}

.recipients__list_wrapper {
  font-weight: bold;
  font-size: 1.3em;
}

.recipients__list {
  display: inline;
}

.recipients__item {
  &:after {
    content: ", ";
  }

  &:last-child {
    &:after {
      content: none;
    }
  }
}

  .recipients__item--overflow {
    display: none;
  }


//framework for each comment
.discussion__item {
  .discussion__item_lining {
    border-radius: 5px;
    padding: 10px;
  }

  .media_module {
//    max-width: 440px;
  }

  .media_image {
    width: $conversation-avatar-width;

    img {
      width: 100%;
    }
  }

  .media_body {
  }
}


////////////////////////////////////////////////////////////////////////////
//  Recipients
////////////////////////////////////////////////////////////////////////////
.discussion--recipients {
  padding: 0.5em 8px;
}

.discussion__list--recipients-to-label {
  color: #666;
}

.discussion__list--recipients {
  display: inline;
}

.discussion__item--recipients {
  display: inline-block;
  &:not(:last-child){
    > span:after{
      content: ',';
      padding-right: 0.25em;
    }
  };
}

.discussion__list--recipients-toggle-show-all {
  display: none;
}

.discussion__item--recipients-overflow {
  display: none;
}

.discussion__list--recipients-toggle-show-all .less {
  display: none;
}

.discussion--recipients .show-all-recipients {
  .discussion__item--recipients-overflow {
    display: inline-block;
  }

  .discussion__list--recipients-toggle-show-all {
    .less {
      display: inline;
    }
    .more {
      display: none;
    }
  }
}

//only shown in manager's nav view (below)
.discussion__item--content-updated-at {
  display: none;
}


//my initial inclination was to &.recipien... the below classes
//but we can't predict that it'll always be coupled in that way.
//keeping them adjacent to .discussion__item--recipients is fine
.recipients--email {
}

.recipients--shelby {
  /* never showing the supplementray-info for now */
  span.supplementary-info {
    display: none;
  }
}

////////////////////////////////////////////////////////////////////////////
//  Conversation
////////////////////////////////////////////////////////////////////////////

.discussion--main {
}

.discussion-conversation {

}

//main list in conversation
.discussion__list--conversation {

}

.discussion__item--conversation {
  border-radius: 5px;

  .discussion__item_lining {
    margin: 8px 0;
  }
}


//comments per video
.discussion__list--messages {
  .media_body {
    // max-width: 400px;
  }

  .discussion__text {
    // border-radius: 15px;
    // box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.5);
    color: $text;
    display: inline-block;
    line-height: 1.4;
    // margin: 0 0.1em 0.5em;
    // padding: 5px 10px;
    // text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5);
    // text-align: left;
  }

  .xuser-data-timestamp {
    font-weight: normal;
    font-size: 0.85em;
  }
}

.discussion__item--messages {

}


//------------------------------------------------------------------------------
//  discussion videocard
//------------------------------------------------------------------------------
.video {

  & > iframe,
  & > embed,
  & > object {
    margin: 0;
    height: 400px;
    padding: 0;
    width: 100%;
  }

}

////////////////////////////////////////////////////////////////////////////
//  discussion reply section
////////////////////////////////////////////////////////////////////////////
.discussion-reply {
  border-radius: 5px;
  background-color: white;
  position: relative;

  .discussion__block {

  }
}

.discussion__form-wrapper {
  .media_image {
    width: $conversation-avatar-width;

    img {
      width: 100% 10px;
    }
  }
}

.discussion__form--discussion-reply {
  .form_fieldset {
    margin: 0;
  }

  .form_textarea {
    float: right;
    font-size: 1em;
    height: $conversation-avatar-width;
    width: 100%;
  }

  .form_submit {
    float: right;
    margin-left: 8px;
  }

  .discussion__block {
    font-size: .9em;
    margin: 1em 0;
    opacity: .7;
  }

}


////////////////////////////////////////////////////////////////////////////
//  Attachment UI buttons
////////////////////////////////////////////////////////////////////////////
.discussion__button--attachment {
  @include button-sizing;

  float: left;
  margin-left: 10px;
  margin-top: 8px;

  .full-text {
    display: block;
  }

  .icon {
    display: none;
  }
}


//------------------------------------------------------------------------------
//  overrides pertaining to audience (ie respondants)
//------------------------------------------------------------------------------
.discussion__item--user{
  .discussion__text {
  }
}

//------------------------------------------------------------------------------
//  overrides pertaining to viewer (ie user)
//------------------------------------------------------------------------------
.discussion__item--viewer {
  .discussion__item_lining {
    background-color: white;
  }
  // border: 1px solid #333;
  // text-align: right;

  .media_module {
    // float:right;

//    .media_image {
//      float: right;
//      margin-left: 10px;
//      margin-right: 0;
//    }
  }

  .discussion__text {
    // @include gradient-primer(lighten($shelby-blue,40%));

    // box-shadow: 0px 0px 3px 0px darken($shelby-blue,15%);
  }
}

////////////////////////////////////////////////////////////////////////////
//  Search and Select Video Attachment UI
////////////////////////////////////////////////////////////////////////////
.discussion--attachment {
  .discussion__header {
    padding-bottom: 10px;

    .discussion__content {
      position: relative;
    }
  }

  .discussion__button--cancel {
    .icon {
      display: none;
      padding-left: .5em;
    }

    left: 8px;
    padding: .5em;
    position: absolute;
    top: 3px;
  }
}

//------------------------------------------------------------------------------
//  Form for searching for new attachments
//------------------------------------------------------------------------------
.form_module--attachment-search {
  margin: 0 8px;

  .form_textarea {
    float: left;
    width: 420px;
  }

  .form_submit {
    float: right;
  }
}


.discussion__content--attachment-results {
  padding: 100px 0 20px;
}


////////////////////////////////////////////////////////////////////////////
//  list of returned search results for possible attachments
////////////////////////////////////////////////////////////////////////////
.discussion__list--attachment-results {
  ////////////////////////////////////////////////////////////////////////////
  //  abstracted overrides
  ////////////////////////////////////////////////////////////////////////////
  .discussion__h3 {
    font-weight: 500;
    margin-top: .5em;
    margin-bottom: 0;
  }

  .discussion__button {
    margin: 0.5em 0;
    padding: 0.5em;
  }

  .discussion__item {
  }

  .discussion__text {
  }

  ////////////////////////////////////////////////////////////////////////////
  //  media module framework
  ////////////////////////////////////////////////////////////////////////////
  .media_module {
    background-color: $videocard-footer-bg-color;

    &:hover {
      background-color: #fff;
      box-shadow: 0 0 2px 0 $shelby-blue;
    }
  }

  .media_image {
    position: relative;
    width: 60%;

    .icon-play {
      background-size: 100%;
      cursor: pointer;
      position: absolute;
      top: 35%;
      left: 42%;
      width: 50px;
      height: 60px;
    }
  }

  .discussion__video-preview {
    height: 220px;
    width: 100%;
  }

  .media_body {
    margin-right: 8px;
    max-height: 200px;
    overflow: hidden;
  }
}

@media all and (max-width: 45em) {
  .videocard {
    & > iframe,
    & > embed,
    & > object {
      height: 250px;
    }
  }

  .discussion__header {
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
  }

  .discussion__footer {
    background-color: white;
    bottom: 0;
    left: 0;
    position: fixed;
    width: 100%;
  }

  .discussion-reply {
    border: none;
    border-radius: 0;
    box-shadow: none;
    margin: 0 auto;
  }
}

////////////////////////////////////////////////////////////////////////////
//  Manager: navigations of all shelby discussion rolls
////////////////////////////////////////////////////////////////////////////

.discussion__button--nav {
  line-height: 1.5;
  top: 5px;
}

.discussion__button--nav-far-right {
  line-height: 1.5;
  position: absolute;
  top: 5px;
  right: 20px;
}

.discussion__content--manager {
  display: none;
}

.discussion__list--discussions-nav {
  box-shadow: 0px 0px 7px 0px #667;
  margin: 35px 0;
}

.discussion__item--discussion-roll {
  background-color: white;
  background-image: url($icon-chevron-right);
  background-repeat: no-repeat;
  background-position: 98% 52%;
  border: 1px solid black;
  border-top: none;
  font-size: 1.3em;

  &:hover, &.discussion__item--current-discussion-roll {
    background-color: #f0f1ff;
  }

  > a {
    display: block;
    text-decoration: none;
    min-height: 75px;
    padding: 0 0.5em;
  }

  .discussion--recipients {
    padding: 10px 10px 0;
  }

  .discussion__list--recipients {
    display: inline-block;
    max-width: 420px;
  }

  .discussion__item--recipients {
    font-weight: 600;
  }

  .discussion__item--content-updated-at {
    color: $shelby-blue;
    display: block;
    float: right;
    font-weight: 600;
    font-size: 0.75em;
    line-height: 1.6em;
    margin-right: 2em;
  }

  .discussion__list--recipients-to-label {
    display: none;
  }

  .discussion__item--summary {
    color: #aaa;
    font-size: 0.75em;
    padding: 5px 60px 10px 10px;
  }
}

////////////////////////////////////////////////////////////////////////////
//  Explanation: some informative copy and images
////////////////////////////////////////////////////////////////////////////

.discussion__explanation {
  background: white;
  box-shadow: 0px 0px 7px 2px #333;
  display: none;
  position: fixed;
  top: 50px;
  border: 2px solid $shelby-blue;
  border-radius: $radius;
  padding: 1em 2em 0;
  width: 575px;
}

.discussion__explanation--dismiss {
  position: absolute;
  top: 5px;
  right: 5px;
}

.discussion__footnote {
  color: #ccd;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 11px;
  text-align: center;
  margin: 3em 0 .5em;
}