//------------------------------------------------------------------------------
//  Local Variables
//------------------------------------------------------------------------------
$conversation-avatar-width: 25px; //used in message_item and reply form

//------------------------------------------------------------------------------
//  NON NORMATIVE
//------------------------------------------------------------------------------
.shelby-wrapper--discussion {
  background-color: $base;
  position: relative;

  .shelby-wrapper {
    position: relative;
  }
}

//------------------------------------------------------------------------------
//  Shelby Discussion Rolls
//------------------------------------------------------------------------------
.discussion {
  font-size: 1.3em;
}

////////////////////////////////////////////////////////////////////////////
//  structure
////////////////////////////////////////////////////////////////////////////
.discussion__header {
  background-color: white;
  box-shadow: 0px 0px 5px 0px black;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 2;
}

.discussion__body {
  padding-top: 120px;
  padding-bottom: 120px;
  z-index: 1;
}

.discussion__footer {
  background-color: #eeeeee;
  @include filter-gradient(#eeeeee, #cccccc, vertical);
  @include background-image(linear-gradient(top,  #eeeeee 0%,#cccccc 100%));

  box-shadow: 0px 0px 5px 0px black;
  bottom: 0px;
  left: 0;
  position: fixed;
  right: 0;
  z-index: 2;
}

/* anything that should be fixed width, centered */
.discussion__content {
  margin: 0 auto;
  max-width: 600px;
  padding: 0 1em;
}

.discussion__h1,
.discussion__h2 {
  font-family: $font-family-display;
  font-weight: 400;
}


.discussion__h1 {
  background-color: #35c4fa;
  @include filter-gradient(#35c4fa, #0593ca, vertical);
  @include background-image(linear-gradient(top,  #35c4fa 0%,#06a1db 56%,#0593ca 100%));

  box-shadow: 0px 0px 3px 0px black;
  color: white;
  text-shadow: 0px -1px 0px black;
  margin: 0;
  font-size: 1.7em;
  padding: 0.2em 0;
  text-align: center;
}

.discussion__h2 {
  font-size: 1.2em;
}

.discussion__h3 {
  font-weight: bold;
  font-size: 1.2em;
  margin-bottom: 1em;
}

.discussion__h4 {
  font-weight: bold;
}

.discussion__subhead {
  margin-top:0;
}

.discussion__list {
  margin: 0;
  padding: 0;

  & > .discussion__item {
    list-style-type: none;
  }
}

.discussion__timestamp {
  color: #999;
  font-size: 0.8em;
  font-weight: bold;
  line-height: 2;
  text-align: center;
}

//framework for each comment
.discussion__item {
  .media_module {
//    max-width: 440px;
  }

  .media_image {
    width: $conversation-avatar-width;

    img {
      width: 100%;
    }
  }

  .media_body {
  }
}

////////////////////////////////////////////////////////////////////////////
//  Recipients
////////////////////////////////////////////////////////////////////////////
.discussion--recipients {
  padding: 0.5em 8px;
}

.discussion__list--recipients-to-label {
  color: #666;
}

.discussion__list--recipients {
  display: inline;
}

.discussion__item--recipients {
  display: inline-block;
  &:not(:last-child){
    > span:after{
      content: ',';
      padding-right: 0.25em;
    }
  };
}

.discussion__list--recipients-toggle-show-all {
  display: none;
}

.discussion__item--recipients-overflow {
  display: none;
}

.discussion__list--recipients-toggle-show-all .less {
  display: none;
}

.discussion--recipients .show-all-recipients {
  .discussion__item--recipients-overflow {
    display: inline-block;
  }
  
  .discussion__list--recipients-toggle-show-all {
    .less {
      display: inline;
    }
    .more {
      display: none;
    }
  }
}

//only shown in manager's nav view (below)
.discussion__item--content-updated-at {
  display: none;
}


//my initial inclination was to &.recipien... the below classes
//but we can't predict that it'll always be coupled in that way.
//keeping them adjacent to .discussion__item--recipients is fine
.recipients--email {
}

.recipients--shelby {
  /* never showing the supplementray-info for now */
  span.supplementary-info {
    display: none;
  }
}

////////////////////////////////////////////////////////////////////////////
//  Conversation
////////////////////////////////////////////////////////////////////////////

.discussion--main {
  &.discussions-manager-shown {
    display: none;
  }
  &.discussion-attachment-shown {
    display: none;
  }
}

.discussion-conversation {

}

//main list in conversation
.discussion__list--conversation {

  .load-more {
    position: absolute;
    top: 75px;
    list-style-type: none;
    width: 100%;
  }

  .load-more-button {
    width: 200px;
    margin: 0 auto;
  }
}

.discussion__item--conversation {

}


//comments per video
.discussion__list--messages {
  .media_body {
    max-width: 400px;
  }

  .discussion__text {
    border-radius: 15px;
    box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.5);
    color: black;
    display: inline-block;
    line-height: 1.4;
    margin: 0 0.1em 0.5em;
    padding: 5px 10px;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5);
    text-align: left;
  }
}

.discussion__item--messages {

}


//------------------------------------------------------------------------------
//  discussion videocard
//------------------------------------------------------------------------------
.videocard {

  & > iframe,
  & > embed,
  & > object {
    margin: 0;
    height: 400px;
    padding: 0;
    width: 100%;
  }

}

////////////////////////////////////////////////////////////////////////////
//  discussion reply section
////////////////////////////////////////////////////////////////////////////
.discussion-reply {
  position: relative;
  text-align: right;
}

.discussion__form-wrapper {
  float: right;
  width: 440px;

  .media_image {
    width: $conversation-avatar-width;

    img {
      width: 100%;
    }
  }
}

.discussion__form--discussion-reply {
  .form_fieldset {
    float: right;
    margin: 0;
    width: 440px;
  }

  .form_textarea {
    float: right;
    font-size: 1em;
    height: 45px;
    width: 400px;
  }

  .form_submit {
    float: right;
    margin-top: 1em;
  }
}


////////////////////////////////////////////////////////////////////////////
//  Attachment UI buttons
////////////////////////////////////////////////////////////////////////////
.discussion__button--attachment {
  @include button-sizing;

  float: left;
  margin-left: 10px;
  margin-top: 8px;

  .full-text {
    display: block;
  }

  .icon {
    display: none;
  }
}


//------------------------------------------------------------------------------
//  overrides pertaining to user (ie respondents to message)
//------------------------------------------------------------------------------
.discussion__item--user{
  .discussion__text {
    @include gradient-primer(#ddd);
    @include gradient-primer(#f2f0f0);
  }
}

//------------------------------------------------------------------------------
//  overrides pertaining to viewer (ie poster of message == viewer of page)
//------------------------------------------------------------------------------
.discussion__item--viewer {
  text-align: right;

  .media_module {
    float:right;

//    .media_image {
//      float: right;
//      margin-left: 10px;
//      margin-right: 0;
//    }
  }

  .discussion__text {
    @include gradient-primer(lighten($shelby-blue,40%));

    box-shadow: 0px 0px 3px 0px darken($shelby-blue,15%);
  }
}

////////////////////////////////////////////////////////////////////////////
//  Search and Select Video Attachment UI
////////////////////////////////////////////////////////////////////////////
.discussion--attachment {
  .discussion__header {
    padding-bottom: 10px;
    
    .discussion__content {
      position: relative;
    }
  }

  .discussion__button--cancel {
    .icon {
      display: none;
      padding-left: .5em;
    }

    left: 8px;
    padding: .5em;
    position: absolute;
    top: 3px;
  }
}

//------------------------------------------------------------------------------
//  Form for searching for new attachments
//------------------------------------------------------------------------------
.form_module--attachment-search {
  margin: 0 8px;

  .form_textarea {
    float: left;
    width: 420px;
  }

  .form_submit {
    float: right;
  }
}


.discussion__content--attachment-results {
  padding: 100px 0 20px;
}


////////////////////////////////////////////////////////////////////////////
//  list of returned search results for possible attachments
////////////////////////////////////////////////////////////////////////////
.discussion__list--attachment-results {
  ////////////////////////////////////////////////////////////////////////////
  //  abstracted overrides
  ////////////////////////////////////////////////////////////////////////////
  .discussion__h3 {
    font-weight: 500;
    margin-top: .5em;
    margin-bottom: 0;
  }
  
  .discussion__button {
    margin: 0.5em 0;
    padding: 0.5em;
  }

  .discussion__item {
  }

  .discussion__text {
  }

  ////////////////////////////////////////////////////////////////////////////
  //  media module framework
  ////////////////////////////////////////////////////////////////////////////
  .media_module {
    background-color: $videocard-footer-bg-color;

    &:hover {
      background-color: #fff;
      box-shadow: 0 0 2px 0 $shelby-blue;
    }
  }

  .media_image {
    position: relative;
    width: 60%;
    
    .icon-play {
      background-size: 100%;
      cursor: pointer;
      position: absolute;
      top: 35%;
      left: 42%;
      width: 50px;
      height: 60px;
    }
  }
  
  .discussion__video-preview {
    height: 220px;
    width: 100%;
  }

  .media_body {
    margin-right: 8px;
    max-height: 200px;
    overflow: hidden;
  }
}

@media all and (max-width: 500px) {
  .videocard {
    & > iframe,
    & > embed,
    & > object {
      height: 250px;
    }
  }
}

////////////////////////////////////////////////////////////////////////////
//  Manager: navigations of all shelby discussion rolls
////////////////////////////////////////////////////////////////////////////

.discussion__button--nav {
  line-height: 1.5;
  position: absolute;
  top: 5px;
}

.discussion__content--manager {
  display: none;
}

.discussion__list--discussions-nav {
  box-shadow: 0px 0px 7px 0px #667;
  margin: 35px 0;
}

.discussion__item--discussion-roll {
  background-color: white;
  background-image: url($icon-chevron-right);
  background-repeat: no-repeat;
  background-position: 98% 52%; 
  border: 1px solid black;
  border-top: none;
  font-size: 1.3em;
  
  &:hover, &.discussion__item--current-discussion-roll {
    background-color: #f0f1ff;
  }
  
  > a {
    display: block;
    text-decoration: none;
    min-height: 75px;
    padding: 0 0.5em;
  }
  
  .discussion--recipients {
    padding: 10px 10px 0;
  }
  
  .discussion__list--recipients {
    display: inline-block;
    max-width: 420px;
  }
  
  .discussion__item--recipients {
    font-weight: 600;
  }
  
  .discussion__item--content-updated-at {
    color: $shelby-blue;
    display: block;
    float: right;
    font-weight: 600;
    font-size: 0.75em;
    line-height: 1.6em;
    margin-right: 2em;
  }
  
  .discussion__list--recipients-to-label {
    display: none;
  }
  
  .discussion__item--summary {
    color: #aaa;
    font-size: 0.75em;
    padding: 5px 60px 10px 10px;
  }
}