/*
    Global DotTV Overrides
*/

//------------------------------------------------------------------------------
//  Block
//------------------------------------------------------------------------------
.shelby--dot-tv {
  overflow: visible;

  .user_info,
  .user-channel-guide {
    display: block;
  }

  .shelby-header {
    display: none;
  }


  //hack layout panels
  .action-layout {
    margin-top: 0;
    position: fixed;
  }

  .main-layout,
  .user-channel-guide,
  .shelby-wrapper {
    bottom: auto;
    left: auto;
    margin-top: 0;
    position: relative;
    right: auto;
    top: auto;
  }

  .main-layout {
    height: 500px;
  }
  //eo hack layout panels


  .videoplayer__wrapper {
    background-color: $base;
    padding: 0 10px 0 0;
  }

  .videoplayer__badge {
    display: block;
    margin-bottom: -3px;
    margin-right: 2px;
    margin-top: 4px;
  }

  .videoplayer {
    height: 470px;
  }

  .videoplayer-viewport {
    bottom: 0;
  }
}