/*
    Global DotTV Overrides
*/

//------------------------------------------------------------------------------
//  Block
//------------------------------------------------------------------------------
.shelby--dot-tv {
  overflow: visible;

  .user_info,
  .user-channel-guide {
    display: block;
  }

  .shelby-header {
    display: none;
  }

  .content_wrapper,
  .shelby-wrapper {
    bottom: auto;
    left: auto;
    position: relative;
    right: auto;
    top: auto;
  }

  .main-layout {
    height: 500px;
  }

  .content_wrapper {
    margin-top: 0;
    position: relative;
  }

  .videoplayer__wrapper {
    background-color: $base;
    padding: 0 10px;
  }

  .videoplayer__badge {
    display: block;
    margin-bottom: -3px;
    margin-right: 2px;
    margin-top: 4px;
  }

  .videoplayer {
    height: 470px;
  }

  .videoplayer-viewport {
    bottom: 0;
  }
}