/*
    Global DotTV Overrides
*/

//------------------------------------------------------------------------------
//  Block
//------------------------------------------------------------------------------
.shelby--dot-tv {
  background-color: white;
  overflow: visible;

  //hack layout panels
  .shelby-wrapper {
    height: 100%;
  }

  .shelby-header {
    display: none;
  }

  .action-layout {
    margin-top: 0;
    position: fixed;
  }

  .main-layout,
  .user-channel-guide,
  .shelby-wrapper {
    bottom: auto;
    left: auto;
    margin-top: 0;
    position: relative;
    right: auto;
    top: auto;
  }

  .main-layout {
    background-color: $base;
    box-shadow: $shadow;
    // box-shadow: 0 0 9px 0px rgba(0,0,0,.5);
    height: 500px;
    z-index: 1;
  }
  //eo hack layout panels

  //user-profile page! ---------------------------------------------------------
  .user_info,
  .user-channel-guide {
    display: block;
  }

    //PVI
    .persistent_video_info__foot {
      .hr {
        display: none;
      }
    }

    //videoplayer stuff
    .videoplayer__wrapper {
      background-color: $base;
      padding: 0 10px 0 0;
    }

    .videoplayer__badge {
      display: block;
      margin-bottom: -3px;
      margin-right: 2px;
      margin-top: 4px;
    }

    .videoplayer {
      height: 90%;
    }

    .videoplayer-viewport {
      bottom: 0;
    }

    //gross hack
    .shelf__list--social {
      display: none;
    }
}