@import "base";
//------------------------------------------------------------------------------
//  welcome message shown on .tv's
//------------------------------------------------------------------------------
#dot-tv-welcome-message {
  background: $guide-bg-color;
  box-shadow: 0 0 4px 0 rgba(0,0,0,.4);
  position: relative;
  margin-top: 20%;
  width: 500px;
  height: 200px;
  padding: 20px 0;

  font-size: 1.2em;
  text-align: center;

  h1 {
    margin-top: 5px;
  }

  .roll-header-image {
    margin: -20px auto 0;
    width: 100%;

    img { width: 100%; }
  }
}

.welcome-sub-message {
  margin-top: 10px;

  img {
    float: left;
    margin-right: 10px;
  }
}

.dot-tv-welcome__button--play {
  position: absolute;
  bottom: 20px;
  left: 190px;
  padding: 10px;
  font-size: 1.1em;

  i {
    padding-right: 20px;
    background-size: contain;
  }
}