$footer_height: 100px;
$play_button_diameter: 88px;

.embedded-frame-view-wrapper {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  
  .embed-top-section {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: $footer_height;
  }
  
  .preview-video-thumbnail {
    
  }
  
  .embed-footer-wrapper {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: $footer_height;
    background:#f2f0f0;
    
    .frame-footer {
      font-size: 1.3em;
    }
    
    .xuser-avatar {
      height: 3.5em;
      width: 3.5em;
    }
  }
  
  /**********************
   * Boards over the video
   **********************/
   .player-overlay-board {
     display: none;
     padding: 2em 2em 0;
     background-color: rgba(0,0,0,0.5);
     
     .now-playing {
       position: absolute;
       top: 35%;
     }
     
     .play_button {
       background-color: rgba(106,184,67,0.8);
       border-radius: $play_button_diameter/2;
       color: white;
       cursor: pointer;
       font-size: 3em;
       height:$play_button_diameter;
       left: 50%;
       margin-left: -($play_button_diameter/2);
       margin-top: -($play_button_diameter/2);
       padding: 25px 0 0 32px;
       position: absolute;
       top: 50%;
       width: $play_button_diameter;

       &:hover {
         background-color: rgba(106,184,67,1.0);
       }
     }
     
     .channel-name-h1 {
       color: white;
       cursor:pointer;
       font-size: 2.5em;
       font-weight: 600;
       
       &:hover {
         text-decoration: underline
       };
     }
     
     .overlay-board-h2 {
       color: #aaa;
       font-size: 2em;
       font-weight: 300;
     }
     
     .share-video {
       position: absolute;
       top: 70%;
     }
     
     .frame-social-share {
       font-size: 2em;
       padding: 0.4em 2em;
       margin-right: .25em;
     }
     
     .frame-shortlink {
       display: inline-block;
       font-size: 1.8em;
       width: 200px;
     }
   } 
   
  .before-play-board,
  .play-paused-board,
  .play-complete-board {
    display: block;
  }
    
  .before-play-board {
    .now-playing {
      display: none;
    }
  }
  
  .play-paused-board,
  .play-complete-board {
    /* push it above the player controls */
    bottom: $footer_height + 44px;
    
    .play_button {
      display: none;
    }
  }
  
  .video-title-h1 {
    color: #fff;
  }
  
  /**********************
   * Adjustments to standard styles
   **********************/
  /* no PVI: make video and controls to full height */
  .video_controls__wrapper,
  .videoplayer-viewport {
    bottom:0;
  }
  
  /* no prev/next/hide-guide */
  .videoplayer-nav__btn {
    display: none;
  }
  
}

/**********************
 * Without the footer
 **********************/
.embedded-frame-view-wrapper.no-footer {
  .embed-top-section {
    bottom: 0;
  }
  .embed-footer-wrapper {
    display: none;
  }
  .play-paused-board,
  .play-complete-board {
    /* only have to push it above the player controls */
    bottom: 44px;
  }
}