.guide-overlay--event-manager {
  //abstract overrides
  .guide-overlay-head {

  }

  .guide-overlay-body {
    padding: 1.5em 8px;
  }

  .form_legend {
    font-weight: bold;
    font-size: 1.1em;
  }

  .form_select {
    font-size: 1.5em;
  }

  //annotation item
  .form_fieldset--annotation {
    padding: 10px;

    .list {
      padding: 10px;
    }

    .form_number {
      font-size: 1.3em;
      width: 80%;
      display: inline;
    }
  }

  //add row
  .form_fieldset--add-row {
    border: 1px dashed #aaa;
    padding: 2px;

    .guide-overlay__button {
      display: block;
      padding: 0.8em;

      &:visited,
      &:link {
        text-decoration: none;
      }

      &:hover {
        text-decoration: underline;
      }

      &:active {
        background-color: rgba(0,0,0,.05);
      }

      .icon {
        display: block;
        padding-left: 1.5em;
      }
    }
  }

  //submit and cancel form
  .form_fieldset--submit {
    font-size: 1.2em;
    text-align: right;
  }
  //form_cancel is non-normative, but should it be normative?
  .form_cancel {
    padding-right: 0.75em;
  }

  .form_submit {
    @include button-sizing;
  }
}
