$banner-height : 40px;

.shelby--experience {
  background-color: black;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;


  .shelby_logo {
    font-size: 3em;
    margin: 32px 38px;
    position: absolute;
    z-index: 2;
  }
}

iframe.shelby {
  width: 100%;
  border: none;
  position: absolute;
  top: 0;
  left: 0;
  &.with-banner{
    top: $banner-height;
  }
}

.hidden {
  display: none;
}

#video-static {
  left: 0;
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
  overflow: hidden;

  video {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
  }
}

#video {
  height: 100%;
  border: none;
  position: absolute;
  top: 0;
  left: 0;
}

#static-wrapper {
  background-color: rgba(0,0,0,0.85);
  width: 100%;
  height: 100%;
  border: none;
  position: absolute;
  top: 0;
  left: 0;
}


#static-dampener{
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  text-align: center;
  padding-top: 270px;

  #content{
    position: absolute;
    height: 300px;
    width: 950px;
    left: 50%;
    top: 20%;
    text-align: center;
    opacity: 0.95;
    border-radius: 5px;
    padding-top: 50px;
    margin-left: -475px;

    h1 {
      font-family: $font-family-display;
      font-weight: 400;
      color: white;
      text-shadow: 0px 0px 5px rgb(153, 153, 153);
      margin: 10px 0px;
    }

    h2 {
      font-family: $font-family-display;
      font-weight: 300;
      color: #e2e2e2;
      margin-bottom: 1.2em;
    }

    form {
      margin-top: 50px;
      margin: 0 auto;
      width: 700px;
    }

    input {
      height: 50px;
      font-size: 25px;
      font-weight: bold;
    }

    input.submit {
      margin-left: 0.4em;
      padding: 0 1em;
      width: auto;
    }

    .working {
      background-color: #111;
      border: 1px solid #111;
    }

    input.with-spinner {
      color: #999;
      padding: 0 50px;
    }

    .spinner {
      top: 25px;
      left: 25px;
    }

    .facebook {
      margin-right: 10px;
      margin-left: 0px;
      margin-top: 1px;
    }
  }
}

.social {
  text-align: center;
  margin: 1.5em auto;

  .facebook {
    float: none;
    display: inline-block;
    margin-left: 10px;
    vertical-align: 4px;
  }

  .twitter {
    float: none;
    display: inline-block;
    margin-left: 10px;
    margin-top: 1px;
  }

  .google {
    display: inline-block !important;
    float: none !important;
    margin-top: 1px !important;
  }
}

#learn-more-wrapper {
  text-align: center;
  margin: 1.0em auto;

  #learn-more-icon {
    background-image: url('/images/question.png');
    padding: 0.85em;
    background-repeat: no-repeat;
    background-position-x: 50%;
    background-size: 65%;
    opacity: 0.8;
    cursor: pointer;
    width: 40px;
    margin: 0 auto;
  }
  #learn-more{
    display: none;
    color: #e2e2e2;
    width: 700px;
    margin: 10px auto;
    font-size: 0.95em;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 5px;
  }
}

#banner-wrapper {
  height: $banner-height;
  top: 0;
  position: absolute;
  left: 0;
  right: 0;
  background-color: rgb(88, 173, 46);
  color: white;
  font-size: 1.2em;

  #banner-inner{
    margin:8px;
    font-family: $font-family-display;
    font-size: 0.9em;
    font-weight: 300;
    color: $button-color;
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.6);

    #site-url {
      font-weight: bold;
    }

    #message {
      margin: 0 0 0 2px;
      font-weight: 300;
      line-height: 1.1;
      float:left;
    }

    #like-share {
      height: $banner-height;
      width: 460px;
      line-height: 1.3;
      position: absolute;
      right: 0;

      .message {
        margin: 0;
        float:left;
      }
      .social {
        margin: 0;

        .twitter,
        .facebook,
        .google {
          float: left;
          display: block;
          width: 77px;
        }
        .facebook {
          margin-top: 1px;
        }
      }
    }
  }
}


.animation {
    left: 50%;
    right: 50%;
    height: 4px;
    top: 50%;

  -webkit-animation: turn-off .5s;
  -moz-animation: turn-off .5s;
  -o-animation: turn-off .5s;
  animation: turn-off .5s;
}

@-webkit-keyframes turn-off {
  0% {
    left: 0;
    right: 0;
    height: 100%;
    top: 0;
  }

  75% {
    left: 0;
    right: 0;
    height: 4px;
    top: 50%;
  }

  100% {
    left: 50%;
    right: 50%;
    height: 4px;
    top: 50%;
  }
}
