//------------------------------------------------------------------------------
//  explore section
//------------------------------------------------------------------------------
.explore {
  background: #efefef;
  color: black;
  overflow-y: scroll;
}

.explore-body {
}

//------------------------------------------------------------------------------
//  lists of sections
//------------------------------------------------------------------------------
.explore-list { //primer, shared by all lists in .explore
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.explore-rolls {
  margin: 0 auto;
  max-width: 1000px;
}

.explore-item {

}
////////////////////////////////////////////////////////////////////////////
//  individual roll
////////////////////////////////////////////////////////////////////////////
.explore-roll {
  border-top: 1px solid $outset;
  border-bottom: 1px solid $inset;
  padding: 10px 10px 0;
}

.explore-roll-header {
  margin: 5px 10px;
}

.explore-link {
  float: left;

  &:active,
  &:link,
  &:visited {
    color: $explore-header-color;
    text-decoration: none;
  }

  &:hover {
    .explore-subline,
    .explore-header {
      text-decoration: underline;
    }
  }
}

.explore-header {
  font-size: 1.5em;
}

.explore-subline {
  color: $explore-subline-color;
  font-size: .9em;
  letter-spacing: 1px;
  margin: 0;
  text-transform: uppercase;
}

//------------------------------------------------------------------------------
//  menu per frame, displays on hover
//------------------------------------------------------------------------------
.explore-menu {
  font-size: 1.2em;
}

.explore-command {
  @include button-sizing(explore-rolls);

  float:right;
  margin: 0 .25em 0 .75em;

  &.command-active {
    //state for the follow/unfollow button,
    //if other modes/states arise this classname probably won't cut it
    @include button(blue,$shelby-blue);
  }
}

//------------------------------------------------------------------------------
//  list of frames per roll
//------------------------------------------------------------------------------
.explore-roll-list {
  /* so that dynamic addition of the frames doesn't jump the layout */
  min-height: 220px;
}

.explore-roll-item {
  float: left;
  width: 33.333333%;

  &:hover {
    .explore-frame-menu {
      display: block;
    }
  }
}

.explore-frame {
  @include transition-property('opacity');
	@include transition-duration(.5s);
	@include transition-timing-function(linear);
	@include transition-delay(0s);

  display: block;
  height: 200px;
  margin: 10px;
  opacity: 1.0;
  position: relative;

  &.transparent {
    opacity: 0.0;
  }

  &:hover {
    .menu_module {
      display: block;
    }
  }

  .xframe-thumbnail {
    border: 1px solid #b9b9b9;
  }
}

.explore-frame-thumbnail {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  border: 1px solid #b9b9b9;
  display: block;
  height: 160px;
  position: relative;
  width: 100%;

  & > img {

  }
}

.explore-frame-link {
  &:link,
  &:active,
  &:visited {
    text-decoration: none;
  }

  &:hover {
    text-decoration: underline;
  }
}

.explore-frame-title {
  color: $explore-frame-title;
  font-size: 1.2em;
  font-weight: 300;
  line-height: 1.4;
  margin-top: (10em/12);
}

.active-list-item {
  .list_button {
    background-color: $list-item-bg-hover;
  }
}

//------------------------------------------------------------------------------
//  guide styles.
//  base: list_module
//------------------------------------------------------------------------------

.guide-onboarding {
  background-color: $guide-explore-bg;
  height: 100%;

  ////////////////////////////////////////////////////////////////////////////
  //  TODO:
  //  guide-list is used in both EXPLORE and ME,
  //  since EXPLORE hasn't headers while ME does,
  //  `.guide-explore .guide-list` is a little override,
  //  accounts for the lack of the header.
  ////////////////////////////////////////////////////////////////////////////
  .guide-list {
    margin-top: $list-module-spacing;
  }
}

.guide-list {
  margin: 0 $list-module-spacing;
}

.guide-item {
  position: relative;

  &:first-child {
    .guide-link {
      @include roundies(header);
    }
  }

  &:last-child {
    .guide-link {
      @include roundies(footer);
      border-bottom: 1px solid $list-item-border;
    }
  }

  &:only-child {
    .guide-link {
      @include roundies;
    }
  }

  &:hover {
    .guide-link-unfollow {
      display: block;
    }
  }
}
.guide-link {
  background-color: $list-item-bg;
  border-bottom: none;
  border-left: 1px solid $list-item-border;
  border-right: 1px solid $list-item-border;
  border-top: 1px solid $list-item-border;
  color: $font-color-display;
  font-family: $font-family-display;
  font-weight: 400;
  font-size: 1.3em;
  padding: 0.9em 0.9em 1em;
  text-align: left;
  width: 100%;

  .guide-link-icon {
    @include ellipsis;

    background-image: url($icon-chevron-right);
    background-repeat: no-repeat;
    background-position: 100% 60%;
    display: block;
    font-style: normal;
    padding-right: 1em;
  }

  & > span {
    opacity: .5;
  }
}//eo guide-link

////////////////////////////////////////////////////////////////////////////
//  unfollow/follow button,
//  displays on hover per roll item in list
////////////////////////////////////////////////////////////////////////////
.guide-link-unfollow {
  @include button-sizing;

  display: none;
  margin: .8em 1em;
  position: absolute;
  right: 0;
  top: 0;

  &.re-follow {
    @include button-primer($shelby-blue, dark);
  }
}