

/* non-programatic changes to landing page display */
body.facebook-genius {

  .landing-form-input {
    width: 75%;
  }
  
  #js-genius-search-submit {
    width: 128px;
  }
  
  .genius-search-spinner{
  	height: 30px;
  	width: 30px;
  	margin: 0 auto;
  }
  
}

/* non-programatic changes to app display */
body.fb-genius-roll{
  .media_body, .media_image {
    overflow: visible;
  }
  // customize fb iframes
  .fb_edge_widget_with_comment span.fb_edge_comment_widget {
    top: -145px !important;
    left: -10px !important;
  }
  span.fb_edge_comment_widget iframe {
    width: 351px !important;
  }
  // ** //
  
  // header
  .shelby-header {
    @include background(linear-gradient(top, #3B5998 10%, black 90%));
  }
  .guide-presentation-selector {
    display:none;
  }
  
  #fb-comments-holder{
    height: 20%;
    overflow-y: scroll;
    background-color: white;
  }
  .fb-comments { background-color: white;}
  .fb-comments, .fb-comments * {
      width:100% !important;
      height: 100%;
      bottom:0;
  }
  
  // prev/next buttons
  .video-player-nav-buttons-wrapper{ display: none; }
  
  // video controls
  #video-controls {
    position:relative;
  }
  
  // video player adjustments
  .videoplayer-viewport {
    position: relative;
    height: 80%;
    width: 100%;
    > * {
      position: absolute;
      top: 0; left: 0;
      width: inherit;
      height: inherit;
    }

    /* ooyala doesn't let you set % sizes when embedding, so we need to override here */
    #ooyala-player-holder div, #ooyala-player-holder object { width: 100%!important; height: 80%!important; }
  }
  
}