/* non-programatic changes to app display */
body.facebook-genius{
  // landing page //
  .landing-form-input {
    width: 75%;
  }
  
  #js-genius-search-submit {
    width: 128px;
  }
  
  .genius-search-spinner{
  	height: 30px;
  	width: 30px;
  	margin: 0 auto;
  }
  
  .login-area {
    float: left;
    text-align: left;
    width: 50%;
    height: 400px;
    .landing-shelf-lining { width: 50%; }
  }
  
  .previous-search-area {
    float: right;
    width: 50%;
    height: 400px;    
    .landing-shelf-lining { width: 50%; }
    .landing-shelf-header { text-align:left; }
    .landing-shelf-subheader{
      text-align: left;
    }
    #recommended-searches{ display: none; }
  }
  
  // lists on the shelf
  .landing-shelf {
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }
    li {
      border-bottom: 1px solid #ccc;
      &a {
        text-decoration: none;
        color: $font-color;
        display: block;
        width: 400px;

        -webkit-transition: font-size 0.1s ease, background-color 0.1s ease;
        -moz-transition: font-size 0.1s ease, background-color 0.1s ease;
        -o-transition: font-size 0.1s ease, background-color 0.1s ease;
        -ms-transition: font-size 0.1s ease, background-color 0.1s ease;
        transition: font-size 0.1s ease, background-color 0.1s ease;
      }

      a:hover {
        width: 100%;
        font-size: 21px;
        font-weight: 300;
        background: #f6f6f6;
      }
    }
  }
  // ***** //
  
  .media_body, .media_image {
    overflow: visible;
  }
  // customize fb iframes
  .fb_edge_widget_with_comment span.fb_edge_comment_widget {
    top: -145px !important;
    left: -10px !important;
  }
  span.fb_edge_comment_widget iframe {
    width: 351px !important;
  }
  // ***** //
  
  // header //
  .shelby-logo{
    width: 100%;
    .shelby-title {
    	background: url('/images/genius/logo.png') center 5px no-repeat transparent;
    	background-size: 100%;
    	height: 35px;
    	margin: 0 auto;
    	width: 95px;
    } 
  }  
  .guide-presentation-selector {
    display:none;
  }
  
  #fb-comments-holder{
    position: relative;
    bottom: 15%;
    height: 33%;
    overflow-y: scroll;
    background-color: white;
    
    &.hide-comment-holder { margin-top: 300px; }
  }
  .fb-comments { background-color: white;}
  .fb-comments, .fb-comments * {
      width:100% !important;
      height: 100%;
      bottom:0;
  }
  
  // prev/next buttons
  .video-player-nav-buttons-wrapper{ display: none; }
  
  // video controls
  #video-controls {
    position:relative;
    bottom: 15%;
  }
  
  // video player adjustments
  .videoplayer-viewport {
    position: relative;
    height: 83%;
    width: 100%;
    > * {
      position: absolute;
      top: 0; left: 0;
      width: inherit;
      height: inherit;
    }

    /* ooyala doesn't let you set % sizes when embedding, so we need to override here */
    #ooyala-player-holder div, #ooyala-player-holder object { width: 100%!important; height: 83%!important; }
  }
  .full-width {
    .videoplayer-viewport{ height: 100%; }
    #video-controls { bottom: 0; width: 100%;}
  }
  
}

body.connected {
  .fb-login-button { display: none; }
}

body.not_authorized { 
  #searches-from-likes { display:none; }
}

section.fb-genius {
  #landing-page-search-area{
    margin-top: 316px;
    margin-left: 63px;
  }

  #sharing-box {
    width: 65px;
    float: left; 
  }

  .landing-shelf-lining { width: 1000px; }
  .landing-form-input { width: 85%; }

}
