@import "base";

//---------------------------
//	frame currently playing styles
//
//	nest styles inside of .active-list-item
//---------------------------

$active-list-item: $shelby-blue;
//bring this into base once the color is determined.
.stream {
	.active-list-item {
		background-color: $shelby-blue;
	  //background-color: rgba(0,0,255,.5);

		.xframe-title,
		.xframe-aside-text {
			color: white;
		}

		.xframe-aside-text a:link,
		.xframe-aside-text a:visited {
			color: adjust-lightness($active-list-item, 50%);
		}
	}
}

//---------------------------
//	frame natural state
//---------------------------

.xframe {
	border-top: 1px solid $outset;
	border-bottom: 1px solid $inset;
	padding: 1em;

	&:hover {
		.xframe-is-collapsed,
		.menu_module {
			display: block;
		}
	}
}

.xframe-header {
	&:active,
	&:hover,
	&:link, 
	&:visited{
		color: $text;
	}
	text-decoration:none;
}

.xframe-title {
	font-size: 1.3em;
	line-height: 1.45;
	margin-bottom: .35em;
}

.xframe-body-wrapper {
	background-color: #fff;
	box-shadow: $videocard-shadow;
	position: relative;
}

.xframe-body {
}

.xframe-thumbnail {
	height: 130px;

	&.missing-thumbnail {
		background-image: url($icon-missing-thumbnail) !important;
		background-size: 72px;
	}
}

.xframe-footer {
	.no-faux-link {
		&:visited,
		&:link {
			color: #666;
			text-decoration: none;
		}
		&:hover,
		&:active {
			text-decoration: underline;
		}
	}
}

.xframe-link {
}

.xframe-subline {
	margin-top: 1em;
	text-align: right;
}

.xframe-is-collapsed {
	&:link,
	&:visited {
		text-decoration: none;
	}

	&:active,
	&:hover {
		text-decoration: underline;
	}

	display:none;
	float: right;
	opacity: .5;
}

.xframe-comment-link {
	background-image: url($icon-videocard-comment);
	background-position: left center;
	background-repeat: no-repeat;
	background-size: 1.3em;
	display: block;
	float: right;
	line-height: 1;
	padding-left: 1.5em;
	padding-bottom: 1px;
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}

//---------------------------
//	frame creator block, 
//	(media obj.)
//---------------------------

.xuser-data {
	@include ellipsis();
	color: adjust-lightness($text, 20%);
}

.xuser-message {
}

.xuser-message-remainder {
	display: none;
}

.xuser-data-timestamp {
	float: right;
	opacity: .5;
}

.xuser-avatar {
	height: 33px;
	width: 33px;

	&.missing-avatar {
		background-image: url($icon-missing-avatar) !important;
	}
}

//---------------------------
//	frame command menu
//---------------------------

.xframe-menu {
	height: 0;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 1;
}

.xframe-command-menu {
	height: inherit;
	left: inherit;
	list-style-type: none;
	position: inherit;
	top: inherit;
	width: inherit;
}

.xframe-command {
	@include xx-button-primer($x-primer-color, light, menu);

	margin-left: 10px;
	margin-top: 10px;
}


		//------------------------
		//	dropdown sublist
		//------------------------
		.xframe-sublist {
			margin-top: 3px;
		}

		.xframe-option {
			background-color: #efefef;
			border-bottom: none;
			border-left: 1px solid $inset;
			border-right: 1px solid $inset;
			border-top: none;
			padding: .75em 1em .75em;
			width: 100%;

			&:hover {
				background-color: adjust-lightness(#efefef,-5%);
			}
		}

		.xframe-item {
			&:first-child {
				.xframe-option {
					border-top: 1px solid $inset;
				}
			}

			&:last-child {
				.xframe-option {
					border-bottom: 1px solid $inset;
				}
			}
		}

		.command-sublist {
			padding-right: 10px;
			.command-icon {
					background-position: center right;
					padding-left: 0;
					padding-right: 1.5em;
			}
		}

		//---------------------------
		//	styling of the command buttons,
		//	queue, roll, share, etc.
		//---------------------------
		.command-icon {
				background-position: center left;
				background-repeat: no-repeat;
				background-size: 1em;
				font-style: normal;
				padding-left: 1.3em;	
		}

		.command-queue {
			.command-icon {
				background-image: url($icon-videocard-queue);
			}

			&.queued {
				.command-icon {
					background: none;
					padding: 0;
				}
			}
		}

		.command-roll {
			.command-icon {
				background-image: url($icon-videocard-roll);
			}
		}

		.command-more {
			.command-icon {
				background-image: url($icon-carrot);
			}
		}

//---------------------------
//	frame collapsed
//
//	nest styles inside of .xframe-collapsed{}
//---------------------------

.xframe-collapsed {
	.xframe-title {
		height: 40px;
		overflow: hidden;
	}

	.xframe-thumbnail {
		float: left;
		height: 80px;
		margin-right: 10px;
		width: 45%;
	}

	.xframe-footer {
		overflow: hidden;
		zoom: 1;
	}

	&:hover {
		.xframe-body-wrapper {
			cursor: pointer;
		}

		.xframe-menu {
			display: none;
		}
	}
}

//---------------------------
//	aside 
//
//	lists duplicates, 'also via:' stuff
//---------------------------

.xframe-aside {
	margin: 8px 0px 0px 5px;
}

.xframe-aside-text {
	color: #666;
	margin: 0;
	padding: 0;
}

