//------------------------------------------------------------------------------
//  frame currently playing styles
//  nest styles inside of .active-list-item
//------------------------------------------------------------------------------
$active-list-item: $shelby-blue;
//bring this into base once the color is determined.
.roll,
.stream {
  .active-list-item {
    background-color: rgba(5, 144, 196, .8);//shelby-blue, rbga style

    .frame-title,
    .frame-aside-text {
      color: white;
    }

    .frame-aside-text a:link,
    .frame-aside-text a:visited {
      color: adjust-lightness($active-list-item, 50%);
    }
  }
}

//------------------------------------------------------------------------------
//  frame natural state
//------------------------------------------------------------------------------
.frame {
  padding: 0.8em;

  ////////////////////////////////////////////////////////////////////////////
  //  on HOVER, toggle:
  //
  //  uncollpased: command menu,
  //  collapsed: indicationt that frame is openable.
  ////////////////////////////////////////////////////////////////////////////
  &:hover {
    .menu_module {
      display: block;
    }
  }
}

.frame-list-item {
  border-top: 1px solid $outset;
  border-bottom: 1px solid $inset;
}

.frame-header {
  &:active,
  &:hover,
  &:link,
  &:visited{
    color: $text;
  }
  text-decoration:none;
}

.frame-title {
  font-size: 1.3em;
  line-height: 1.45;
  margin-bottom: .35em;
}

.frame-body-wrapper {
  background-color: $videocard-footer-bg-color;
  box-shadow: $videocard-shadow;
  position: relative;
}

.frame-body {
}

.frame-thumbnail {
  height: 130px;

  &.missing-thumbnail {
    background-image: url($icon-missing-thumbnail) !important;
    background-size: 72px;
  }
}

.frame-footer {
  .no-faux-link {
    &:visited,
    &:link {
      color: #666;
      text-decoration: none;
    }
    &:hover,
    &:active {
      text-decoration: underline;
    }
  }

  .hr--double {
    border-top-color: #D9D4D4;
    border-bottom-color: #FCFAFA;
  }
}

.frame-subsection,
.frame-subline {
  margin-top: 1em;
  text-align: right;
}


.frame-subsection {
  .frame-command-wrapper {
    color: #777;
    padding-right: 1em;

    &.icon {
      padding-left: 1.4em;
    }
  }
}

.frame-comment-link {
  display: block;
  float: right;
  line-height: 1;
  opacity: $videocard-faux-tint;
  padding-left: $button-padding-left;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

  &:before {
    vertical-align: -0.1em;
  }
}

//------------------------------------------------------------------------------
//  frame creator block,
//  base: media obj.
//------------------------------------------------------------------------------
.xuser-data {
  @include ellipsis();

  color: adjust-lightness($text, 20%);
}

.xuser-data-link {
  &:link,
  &:visited {
    text-decoration: none;
  }

  &:active,
  &:hover {
    text-decoration: underline;
  }
}

.xuser-message {
  min-height: 0.8em;
}

.xuser-message-remainder {
  display: none;
}

.xuser-data-timestamp {
  float: right;
  opacity: .5;
}

.xuser-avatar {
  height: 33px;
  width: 33px;

  &.missing-avatar {
    background-image: url($icon-missing-avatar) !important;
  }
}



//------------------------------------------------------------------------------
//  frame command menu:
//  frame menu appears on :hover of particular videocard
//------------------------------------------------------------------------------
.frame-menu {
  height: 0;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

.frame-command-menu {
  height: inherit;
  left: inherit;
  list-style-type: none;
  position: inherit;
  top: inherit;
  width: inherit;

  .menu_item {
    &.right {
      .frame-command {
        margin: 1em 1em 0 0;
      }
    }
  }
}

////////////////////////////////////////////////////////////////////////////
//  styling of the command buttons,
//  queue, roll, share, etc.
////////////////////////////////////////////////////////////////////////////
.frame-command {
  @include button-sizing(frame-command);

  margin-left: 1em;
  margin-top: 1em;

  //specifying each button individually,
  //not sure if applying this vertical align to the .icon_primer
  //is a good idea yet.
  .icon--videocard_roll,
  .icon--videocard_queue,
  .icon--email {
    vertical-align: -0.1em;
  }
}
    ////////////////////////////////////////////////////////////////////////////
    //  dropdown sublist:
    //  children options of a spcific frame command (more button)
    ////////////////////////////////////////////////////////////////////////////
    .frame-sublist {
      margin-top: 1px;
      box-shadow: $shadow;

      .frame-command {
        background-color: #efefef;
        border-bottom: none;
        border-left: 1px solid $inset;
        border-right: 1px solid $inset;
        border-top: none;
        margin: 0;
        padding: .75em 1em .8em;
        text-align: left;
        width: 100%;

        &:hover {
          background-color: adjust-lightness(#efefef,-5%);
        }
      }
    }

    .frame-shortlink {
      @include roundies(input);

      display: inline;
      font-size: 1.1em;
      height: 1.4em;
      margin: -2px 0;
      padding: 0.3em;
      width: 115px;
      background: transparent;
      border: 1px solid #aaa;

      &:focus {
        outline: none;
        border: 1px solid black;
      }
    }

//------------------------------------------------------------------------------
//  specific command button stylings
//------------------------------------------------------------------------------
.command-queue {
  padding-left: 0.7em;
  width: 71px;

  &.queued {
    &:not(.remove-frame) {
    }

    .icon--videocard_queue {
      display: none;
    }
  }
}

.command-roll {
  .icon {
    padding-left: $button-padding-left;
  }
}

.command-more {
}

.command-share {
  .icon {
    -webkit-background-size: contain;
    background-size: contain;
    padding-left: 1.8em;
  }
}

.command-remove {
  .icon--cancel {
    vertical-align: -0.1em;
  }
}

.command-link,
.command-share {
  background: transparent;
  border: none;
  color: #666;
  display: inline;
  margin: 0;
  opacity: 0.7;
  padding: 0;

  &:hover {
    opacity: 1;
    text-decoration: underline;
  }
}

//------------------------------------------------------------------------------
//  frame collapsed
//  (nest styles inside of .frame-collapsed{})
//------------------------------------------------------------------------------
.frame-collapsed {
  opacity: 0.5;
  padding: 0.8em;

  .frame-title {
    height: 40px;
    overflow: hidden;
  }

  .frame-thumbnail {
    float: left;
    height: 80px;
    margin-right: 10px;
    width: 45%;
  }

  .frame-footer {
    overflow: hidden;
    zoom: 1;
  }

  &:hover {
    opacity: 1;

    .frame-body-wrapper {
      cursor: pointer;
    }

    .frame-menu {
      display: none;
    }
  }

  /* unplayable and collapsed */
  &.xvideo-unplayable {

    .xvideo-unplayable-thumbnail-overlay {
      left: 40px;
      top: 20px;
    }

    &:hover{
      opacity: .5;
    }
  }
}

.xvideo-unplayable {
  .xvideo-unplayable-thumbnail-overlay {
    @include text-shadow(0px 0px 4px #000);

    color: #efefef;
    display: block;
    font-size: 1.5em;
    left: 130px;
    line-height: 1;
    position: absolute;
    text-align: center;
    top: 45px;
  }

  .xframe-thumbnail {
    @include filter(blur(3px) grayscale(1));
  }

  .xframe-menu {
    display: none!important;
  }
}

.xvideo-unplayable-thumbnail-overlay {
  display: none;
}

//---------------------------
//  aside: subline below videocard
//
//  lists duplicates, 'also via:' stuff
//---------------------------

.frame-aside {
  margin: 8px 0px 0px 5px;
}

.frame-aside-text {
  color: #666;
  margin: 0;
  padding: 0;
}

//------------------------------------------------------------------------------
//  .menu_module--share-frame HAPPENS to be isolated roll specific,
//  but isn't necessarily, or may not always be true
//------------------------------------------------------------------------------
$share-frame-half-gutter: 4px;

.menu_list--share-frame {
  .menu_item {
    float: left;
    padding-top: 1em;
    width: auto;

    &.menu_item--right {
      float: right;
    }

    &:first-child {
      padding-right: $share-frame-half-gutter;

    }

    &:last-child {
      padding-left: $share-frame-half-gutter;

    }
  }

  .menu_button--twitter,
  .menu_button--facebook,
  .menu_button--email,
  .menu_button--comment {
    padding: 0.6em 0.8em .6em 0.25em;
    width: 100%;

    .icon {
      background-size: 1.8em;
      -webkit-background-size: 1.8em;
      display: block;
      padding-left: 1.9em;
    }
  }

  .menu_button--twitter {
    .icon {
    }
  }

  .menu_button--facebook {
    .icon {
    }
  }

  .menu_button--email {
    i {
      padding: 0 0.3em;
    }
  }

  .menu_button--comment {
    padding-left: 0.9em;

    .icon {
      background-size: contain;
      -webkit-background-size: contain;
    }
  }

  .menu_button--comment a {
    text-decoration: none;
  }

}

//------------------------------------------------------------------------------
//  frame via search (not a "real" frame, really just a video)
//  (nest styles inside of .via-search{})
//------------------------------------------------------------------------------
.via-search {
  .command-sublist { display: none; }

  ul.menu_list--share-frame{
    .menu_item {
      padding-top: 0;
    }
  }
}

//------------------------------------------------------------------------------
//  FreshPlay "new" frames
//------------------------------------------------------------------------------
.frame.fresh-play-new {
  overflow: hidden;
}

.frame.fresh-play-new .sash {
  @include rotate(45deg);
  @include sash-primer();

  position: absolute;
  right: -25px;
  top: 10px;
  width: 90px;
}
