//------------------------------------------------------------------------------
//  frame currently playing styles
//  nest styles inside of .active-list-item
//------------------------------------------------------------------------------
//bring this into base once the color is determined.
.roll,
.stream {
  .active-list-item {
    .frame > {
      .frame-body-wrapper {
        outline: 4px solid $ui-green;
      }
    }

    .frame-menu {
      display: block;
    }
  }
}

//------------------------------------------------------------------------------
//  frame natural state
//------------------------------------------------------------------------------
.frame {
  padding: 0.8em;

  ////////////////////////////////////////////////////////////////////////////
  //  on HOVER, toggle:
  //
  //  uncollpased: command menu,
  //  collapsed: indicationt that frame is openable.
  ////////////////////////////////////////////////////////////////////////////
  &:hover {
    .frame-menu {
      display: block;
    }
  }

  .frame-body-wrapper {
    margin-top: 0.7em;
  }

  .share_menu {
    background-color: $base;
    margin-left: -1.9em;
    min-width: 160px;
    position: absolute;
  }
}
    .frame--abstract {
      .icon-play:before {
        font-size: 4em;
      }
      .frame-thumbnail {
        padding-top: 4em;
        text-align: center;
        color: #FFF;
      }
      .frame-title {
        color: #666;
      }
      .frame-likes-count,
      .frame-likes {
        color: #bbb;
      }
      .frame-likes-avatar {
        background-color: #ddd;
        display: inline-block;
        vertical-align: -9px;
      }
      .xuser-message {
        background-color: #bbb;
        color: #bbb;
        display: inline;
      }
    }


    //.frame modifiers
    .frame--shelf {
      .frame-body-wrapper {
        min-height: 222px;
      }
    }

.frame-list-item {
  border-bottom: 1px solid $inset;
}

.frame-header {
  &:active,
  &:hover,
  &:link,
  &:visited{
    color: $text;
  }

  text-decoration:none;
}

.frame-title {
  display: inline;
  font-size: 1.3em;
  line-height: 1.35;
  margin-bottom: 0.35em;
}

.frame-body-wrapper {
  background-color: $ui-white;
  border: 1px solid rgba(0,0,0,.2);
  position: relative;
}

.frame-body {
}

.frame-thumbnail {
  height: 130px;

  &.missing-thumbnail {
    background-image: url($icon-missing-thumbnail) !important;
    background-size: 72px;
  }
}

.no-faux-link {
  &:visited,
  &:link {
    color: #666;
    text-decoration: none;
  }
  &:hover,
  &:active {
    text-decoration: underline;
  }
}

.frame-footer {

}

.frame-subsection,
.frame-subline {
  margin-top: 0.5em;
  text-align: right;
}


.frame-subsection {
}

//------------------------------------------------------------------------------
//  frame creator block,
//  base: media obj.
//------------------------------------------------------------------------------
.xuser-data {
  @include ellipsis();

  color: adjust-lightness($text, 20%);
}

    .xuser-data--green {
      color: adjust-lightness($ui-green, -10%);
    }

    .xuser-data--recommendation {
      font-size: 1.1em;
    }

.xuser-data-link {
  &:link,
  &:visited {
    text-decoration: none;
  }

  &:active,
  &:hover {
    text-decoration: underline;
  }
}

.xuser-message {
  min-height: 0.8em;
}

.xuser-message-remainder {
  display: none;
}

.xuser-data-timestamp {
  float: right;
  opacity: .5;
}

.xuser-avatar {
  border-radius: 3px;
  height: 33px;
  width: 33px;
  position: relative;
  overflow: visible;

  &.missing-avatar {
    background-image: url($icon-missing-avatar) !important;
  }
}
    .xuser-avatar--facebook,
    .xuser-avatar--twitter,
    .xuser-avatar--tumblr {
      &:before {
        background-color: $base-frame;
        border-radius: 4px;
        // box-shadow: -1px -1px 1px 0 rgba(0,0,0,0.1);
        bottom: -4px;
        color: $button-color;
        height: 1em;
        font-size: 1.2em;
        padding: 0.3em;
        position: absolute;
        right: -4px;
        width: 1em;
        text-align: center;
        // text-shadow: $shadow-text;
        z-index: 1;
      }
    }
    .xuser-avatar--facebook {
      &:before {
        background-color: $facebook-blue;
      }
    }
    .xuser-avatar--twitter {
      &:before {
        background-color: $twitter-blue;
      }
    }
    .xuser-avatar--tumblr {
      &:before {
        background-color: $tumblr-blue;
      }
    }

//------------------------------------------------------------------------------
//  faux users have special frames
//------------------------------------------------------------------------------
.frame-footer {
  .media_body {
    min-height: 3.3em;
  }

  .xuser-message--faux {
    margin-top: 0.7em;
  }

  .social-icon {
    float: right;
    font-size: 1.4em;
    line-height: 1;
  }

  .line-clamp {
    height: 4.1em;

    &:after {
      @include transparent-fade($ui-white,40%,right);
    }
  }

  .line-clamp--open {
    height: auto;

    &:after {
      display: block;
      position: relative;
    }
  }
}

//------------------------------------------------------------------------------
//  frame command menu:
//  frame menu appears on :hover of particular videocard
//------------------------------------------------------------------------------
.frame-menu {
  display: none;
  height: 0;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;

    .button_command {
      margin-left: 0.5em;
      margin-top: 0.5em;
    }
    .button_command--cancel {
      font-size: 0.8em;
      margin: 0.8em;
      padding: 0.4em 0.3em;
      .icon {
        vertical-align: -2px;
      }
    }
    .button_command--sub {
      margin-left: 0;
    }
}



//------------------------------------------------------------------------------
//  specific command button stylings
//------------------------------------------------------------------------------
.command-link,
.command-share {
  background: transparent;
  border: none;
  color: #666;
  display: inline;
  margin: 0;
  opacity: 0.7;
  padding: 0;

  &:hover {
    opacity: 1;
    text-decoration: underline;
  }
}

//------------------------------------------------------------------------------
//  frame collapsed
//  (nest styles inside of .frame-collapsed{})
//------------------------------------------------------------------------------
.frame-collapsed {
  opacity: 0.5;
  padding: 0.8em;

  .frame-title {
    display: block;
    height: 40px;
    overflow: hidden;
  }

  .frame-thumbnail {
    float: left;
    height: 80px;
    margin-right: 10px;
    width: 45%;
  }

  .frame-footer {
    overflow: hidden;
    zoom: 1;

    .social-icon {
      font-size: 1.4em;
    }
  }

  &:hover {
    opacity: 1;

    .frame-body-wrapper {
      cursor: pointer;
    }

    .frame-menu {
      display: none;
    }
  }

  .xuser-data {
    @include ellipsis;
  }

  .xuser-message--faux {
    margin-bottom: 0;

    .see-all {
      display: none;
    }
  }
  /* unplayable and collapsed */
  &.xvideo-unplayable {

    .xvideo-unplayable-thumbnail-overlay {
      width: 45%;
      height: 79px;
      padding-top: 19px;
    }

    &:hover{
      opacity: .5;
    }
  }
}

.xvideo-unplayable {
  .xvideo-unplayable-thumbnail-overlay {
    background-color: rgba(0, 0, 0, 0.5);
    color: #EFEFEF;
    display: block;
    font-family: $font-family;
    font-size: 1.5em;
    font-weight: bold;
    height: 130px;
    line-height: 1;
    padding-top: 45px;
    position: absolute;
    text-align: center;
    text-shadow: 0px 0px 4px black;
    top: 0;
    width: 100%;
  }

  .xframe-thumbnail {
    @include filter(blur(3px) grayscale(1));
  }

  .xframe-menu {
    display: none!important;
  }
}

.xvideo-unplayable-thumbnail-overlay {
  display: none;
}

//---------------------------
//  aside: subline below videocard
//
//  lists duplicates, 'also via:' stuff
//---------------------------

.frame-external-subline {
  margin: 0.8em 0 0 5px;
}

.frame-external-subline-text {
  color: #666;
  margin: 0;
  padding: 0;
}

//---------------------------
//  likes: like information below the videocard
//---------------------------

.frame-likes {
  height: 2.3em;
  overflow: hidden;

  &.icon-like,
  &.icon-roll {
    &:before {
      display: inline;
      font-size: 1.4em;
      vertical-align: -3px;
    }
  }
}

.frame-likes--hide {
  display: none;
}

.frame-likes-avatars {
  display: inline-block;

  &.list {
    margin: 0 0.22em 0 0.4em;
  }

  &.friends-avatars.list {
   margin: 0.4em 0 0 0;
  }

  &.friends-avatars {
    li + li {
      margin-left: 0.325em;
    }
  }

  &.no-liker-avatars {
    margin: 0;
    & + .frame-likes-count {
      margin-left: 0.22em;
    }
  }

  li {
    display: inline;

    & + li {
      margin-left: 0.3em;
    }
  }

}

.frame-likes-count {
  display: inline;
  font-family: $font-family;
  font-weight: 600;
  line-height: 2.3em;
}

.frame-likes-link {
  display: inline-block;
}

.frame-likes-avatar {
  @include roundies(avatar);

  height: 26px;
  width: 26px;
}

//------------------------------------------------------------------------------
//  frame via search (not a "real" frame, really just a video)
//  (nest styles inside of .via-search{})
//------------------------------------------------------------------------------
.via-search {
  .command-sublist { display: none; }

  ul.menu_list--share-frame{
    .menu_item {
      padding-top: 0;
    }
  }
}

//------------------------------------------------------------------------------
//  FreshPlay "new" frames
//------------------------------------------------------------------------------
.frame.fresh-play-new {
  overflow: hidden;
}
