//------------------------------------------------------------------------------
//  ABSTRACTS in _overlay.scss

//------------------------------------------------------------------------------
//  ROOT

.guide-overlay--frame-rolling {
}

//------------------------------------------------------------------------------
//  HEAD

.guide-overlay__head--frame-rolling {
  .guide-over__title--inline {

  }

  .destination {
    font-weight: bold;
    font-size: 1.1em;
    line-height: 1;
  }

  .destination-modifier {

  }
}

//------------------------------------------------------------------------------
//  HEAD

.guide-overlay__body--frame-rolling {
  padding:1.5em 8px;

  .frame-body-wrapper {
    margin-top: 0.7em;
  }

  .form_textarea {
    font-size: 1em;
  }

  .form_fieldset--social {
    .button_primer {
      display: inline-block;
      margin-right: 0.2em;
    }
  }
}

