//------------------------------------------------------------------------------
//  ABSTRACTS in _overlay.scss

//------------------------------------------------------------------------------
//  ROOT

.guide-overlay--frame-rolling {
}

//------------------------------------------------------------------------------
//  HEAD

.guide-overlay__head--frame-rolling {
  .guide-over__title--inline {

  }

  .destination {
    font-weight: 400;
    font-size: 1.1em;
    line-height: 1;
  }

  .destination-modifier {

  }
}

//------------------------------------------------------------------------------
//  HEAD

.guide-overlay__body--frame-rolling {
  padding:1.5em 8px;

  .form_textarea {
    font-size: 1em;
  }

}


//------------------------------------------------------------------------------
//  abstracts
//
//  TODO: may not belong in this partial.
//------------------------------------------------------------------------------
.roll_selection__h1 {

}

.roll_selection__h2 {

}

.roll_selection__h3 {
  color: #777;
  font-weight: 300;
}

//------------------------------------------------------------------------------
//  controls contents generated by RollSelectionListView
//------------------------------------------------------------------------------
.roll_selection {
  display: none;
}

.roll_selection__list {
  font-size: 0.9em;
}

.roll_selection__item {
  @include button-primer($shelby-gray-medium);

  border-radius: 5px;
  margin-bottom: 5px;

  .roll_selection__h3 {
    margin-top: 1px;
  }

  .roll_selection__link {
    color: $text;
    padding: 0.9em 1em 1.1em;
    text-shadow: 0px 1px 0px white;

    &:hover {
      text-decoration: none;
    }
  }
}

.roll_selection__item_lining {

}


//------------------------------------------------------------------------------
//  controls contents generated by RollingFormView
//------------------------------------------------------------------------------

.guide_overlay__main {
  .select-roll-type {
    .create-roll {
      @include button-primer($shelby-blue);

      float: right;
      margin: 7px 7px 0 0;
    }
  }
}

//------------------------------------------------------------------------------
//  Show Roll Selection
//------------------------------------------------------------------------------
.show-roll-selection {
  .roll_selection {
    display: block;
  }

  .rolling-form {
    display: none;
  }
}

.multi-roll-enabled {
  .change-rolling-destination {
    display: inline;
  }
}

.multi-roll-enabled {
  &.show-roll-selection {
    .change-rolling-destination {
      display: none;
    }
  }
}
