@import "base";




.logged-out-twitter,
.email-gate-networks-twitter {
	
	@include x-logged-out-networks-buttons($twitter-blue);
	&:before{
		background-image: url($icon-share-twitter-on);
		background-position: center center;
		background-size: 97%;
	}
}

.logged-out-facebook,
.email-gate-networks-facebook {

	@include x-logged-out-networks-buttons($facebook-blue);
	&:before{
		background-image: url($icon-share-facebook-on);
		background-position: 1px -1px;
		background-size: 95%;
	}
}






html {
	overflow-y:auto !important;
	overflow-y:hidden !important;
}

.gate {
	background-color: #101010;
	@include background(url('/images/blue.jpg') no-repeat center center #101010);
	@include background-size(cover);

	color: #efefef;
	font-size: 13px;
	line-height: 1.5;
	overflow: auto !important;
}

.gate-wrapper {
	margin-top: 1em;
	margin-bottom: 2.5em;
}

.gate-lining {
	margin-left: 170px;
	margin-top: 0px;
	width: 26em;
}

.gate-header {
	margin-bottom: 50px;
}

.gate-logo {
	@include background-size(contain);

	background-image: url($logo-shelby);
	background-position: left center;
	background-repeat: no-repeat;
	clear: left;
	float: left;
	height: 40px;
	margin: 0 35px;
	width: 100px;
}

.gate-slogan {
	font-size: (11em/13);
	font-weight: 100;
	line-height: 4;
}

.gate-head {
	font-size: 2em;
}

.gate-subhead {
}

.gate-login {
	@include button-primer($shelby-green, dark);

	margin: 0 0 1.5em;

}

//------------------ form ---------------------//

.gate-form, .login-form {
	margin: 1.5em 0 1em;
}

.login-form {
  margin-bottom: 40px;
}

.gate-form-label {
	color: #ddd;
	display: block;
	font-size: (12em/13);
	font-weight: 500;
	margin: 1em 0 .25em;
}

.gate-form-input{
	@include inputfont;
	@include roundies(input);

	border: none;
	padding: 4px 3px;
	width: 63%;
}

.login-form .gate-form-input {
  width: 79%;
}

.gate-form-submit{
	@include button-primer($shelby-blue, dark);

	display: block;
	margin-top: 1em;
}

.gate-form-login-submit{
  @include button-primer($shelby-green, dark);

	display: inline;
	float: left;
	margin-top: 1em;
	padding-left: 2em;
	padding-right: 2em;
}

.gate-form-forgot-password {
  display: inline;
  line-height: 5;
  padding-left: 1em;
}

//-------------------- eo form ---------------------//

.gate-no-access-wrapper {
  float: left;
  margin-top: 3em;
  width: 100%;
}

.gate-no-access {
	color: $button-color;
	font-size: (11em/13);
	font-weight: 300;
	margin-top:3em;

	&:visited {
		color: $button-color;
	}
}

.gate-small {
	font-size: (11em/13);
}

.gate-networks-wrapper {
  margin-bottom: 3em;
}

.gate-networks-twitter,
.gate-networks-facebook {
  display: block;
  float: left;
  padding: 0 3px 0 20px;
  text-align: center;
  text-decoration: none;
  width: 100px;	

  &:before {
    width: 36px;
  }
  &:visited {
    color: #efefef;
  }
}

.gate-networks-twitter {
  @extend .logged-out-twitter;
  margin-right: 20px;

	&:before {
		background-position: 30% 50%;
		background-size: 82%;
	}
}

.gate-networks-facebook {
  @extend .logged-out-facebook;

  &:before {
	  background-position: 30% 50%;
	  background-size: 72%;
  }
}

.gate-input-error,
.gate-signin-error {
	color: #E92222;
	font-size: (12em/13);
}

.gate-signin-noaccess {
	color: yellow;
	font-size: (12em/13);
}

.gate-input-error {
	padding-left: .5em;
}

.gate-footer {
	bottom: 1em;
	margin-left: 170px;
	position: absolute;
}

.gate-footer-list {
	line-height: 2;
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 200px;
}

.gate-footer-item {
	display: block;
	float: left;
	padding-right: .25em;
}

#made-newyork {
	padding-left: .75em;
}

.gate-networks-link {
	display: inherit;
	float: inherit;
	height: 24px;
	width: 24px;
}

.gate-footer-networks-twitter,
.gate-footer-networks-facebook,
.gate-footer-networks-tumblr {
	@include x-networks-badge;
	@include roundies(input);

	font: 0/0 a;
	text-shadow: none;
	color: transparent;
}

.gate-footer-networks-twitter{
	@include preferences-networks(twitter);
	background-size:76%;
}

.gate-footer-networks-facebook{
	@include preferences-networks(facebook);
	background-size:28%;
}

.gate-footer-networks-tumblr{
	@include preferences-networks(tumblr);
	background-size:36%;
}

//helpers

.gate-extra-margin {
	margin-top: 5em;
	margin-bottom: 1.2em;
}

.gate-small-block {
	font-size: 11px;
}


//-------------------- changes compensating for video embed --------------//
.with-video {
	.gate-lining,
	.gate-footer {
		margin-left: 35px;
	}

	.gate-lining {
		float: left;
	}

	.gate-footer {
		clear: both;
	}
}

.with-video-embed {
	margin-top: 5px;
	position: relative;
	width: 500px;

	& > iframe,
	& > embed,
	& > object {
		width: 100%;
		height: 360px;
		position: relative;
	}
}

.with-video-embed-block {
	margin-top: 1.5em;
}


//-------------------- screens SHORTER than 620 --------------//
@media all and (max-height:620px) {

	.gate-wrapper {
		margin-top: .5em;
	}

	.gate-header {
		margin-bottom: 0em;
	}

	.gate-footer {
		bottom: auto;
		margin-top: 2em;
		position: relative;
	}
	
	.gate-extra-margin {
		margin-top: 1em;
	}
}

//-------------------- screens NARROWER than 920 --------------//
@media all and (max-width:920px){

	.gate-header {
		margin-bottom: 0em;
	}

	.gate-logo {
		margin: 0 20px;
	}

	.gate-slogan {
		font-size: (10em/13);
		line-height: 4.5;
	}
	
	.gate-lining,
	.gate-footer {
		margin-left: 145px;
	}

	.gate-footer {
		bottom: auto;
		margin-top: 2em;
		position: relative;
	}

	.with-video {
		.with-video-embed {
			float:none;
			width: 100%;
			margin: 0;
		}

		.with-video-embed-block {
			margin-left: 35px;
			width: auto;

			br {
				display: none;
			}
		}
	}

	.gate-extra-margin {
		margin-top: 1em;
	}
}

//-------------------- screens NARROWER than 415 --------------//
@media all and (max-width:415px) { 

	.with-video {
		.with-video-embed {
			margin-top: 5px;
			margin-left: 0 !important;

			& > iframe,
			& > embed,
			& > object {
				height: 200px;
			}
		}

		.with-video-embed-block {
			margin-left: 20px;
			margin-right: 20px;
		}

		.gate-lining {
			margin-left: 0px;
			padding-left: 20px;
			width: 100%;
		}

		.gate-footer {
			margin-left: 20px;
		}

	}

	.gate-logo {
		margin-right: 10px;
		width: 70px;
	}

	.gate-slogan {
		line-height: 4.4;
	}

	.gate-lining,
	.gate-footer {
		margin-left: 0px;
		padding-left: 20px;
		width: 100%;
	}
}
