@import "base";


.shelby-header {
	@include gradient-primer(adjust-lightness($guide-presentation-tab-bg-selected,2%), 5%);

	border-bottom: 1px solid $header-outline;

	//NOT SURE HOW I FEEL ABOUT THIS position: absolute; business YET
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
}

.shelby-logo {
	background: transparent;
	border: none;
	display: block;
	float: left;
	padding: 0;
}

.shelby-title {
	background: url($logo-shelby) center 9px no-repeat transparent;
	background-size: 85%;
	height: 35px;
	margin: 0 1px;
	width: 95px;
}