@import "base";

.guide-presentation-selector {
}

.guide-presentation-list {
  font-size: 1.4em;
  margin: 0;
  padding: 0;
}

.guide-presentation-item,
.guide-settings-item {
  display: block;
  float: left;
  list-style-type: none;

  & > button {
    @include inputfont;

    background: none;
    border: none;
    color: $button-color;
    display: inherit;
    line-height: 2;
    padding: 3px 6px;
    width:100%;

    &:hover {
      text-decoration: underline;
    }

    &.guide-presentation-content-selected {
      color: $shelby-blue;
    }
  }

  & > .guide-settings-anchor {
    float: right;
    width: auto;
  }
}

.guide-presentation-item {
  margin-top: 2px;
  width: 70px;
}

.guide-settings {
  float: right;
  position: relative;
  width: 100px;
}

.guide-settings-list {
  background-color: $guide-presentation-tab-bg-selected;
  display: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 13px;
  width: 200px;
  z-index:5;

  button {
    text-align: left;
  }
}

.guide-settings-item {
  width: 100%;
}

.guide-settings-userhandle {
  background: #ddd;
  color: #333;
  display: block;
  padding: 6px;
}

.guide-settings-anchor {
    background: none;
    border: none;
    color: $button-color;

    &:after {
    @include background(url($icon-settings) no-repeat center center transparent);
    content: "\0020";
    float: right;
    height: 19px;
    margin: {
      right: 4px;
      top: 4px;
    }
    width: 20px;

  }
}

.guide-settings-button {
  &:hover {
    background: $shelby-blue;
  }
}
