.guide-presentation-selector {}

//man nav block
.app_nav {
  .list__item {
    &.secondary-item {
      float: right;
      position: relative;
      text-align: left;
      width: auto;
    }
  }
}

.app_nav__button {
  background: none;
  border: none;
  color: darken($ui-white,33.333%);
  display: inherit;
  font-family: $font-family;
  font-size: 1.3em;
  font-weight: normal;
  line-height: 2;
  padding: 0.5em 1.8em;
  width:100%;

  &:active,
  &:hover {
    color: $ui-white;
  }

  &.active-item {
    background: $guide-presentation-tab-bg-selected;
    color: $guide-presentation-button-active;

    &:active,
    &:link,
    &:visited {
      text-decoration: none;
    }
  }
  &[disabled] {
    opacity: 0.5;

    &:hover {
      color: darken($ui-white,33.333%);
    }
  }
}
    .app_nav__button--inverted {
      color: $ui-black;

      &:active,
      &:hover {
        color: $ui-black;
      }
    }
    .app_nav__button--settings {
      .avatar {
        margin-right: 0.5em;
      }
    }
