//------------------------------------------------------------------------------
//  guide overlay setup
//------------------------------------------------------------------------------
.guide-overlay {
	background-color: $base;
	bottom: 0;
	position: absolute;
  margin-left: -100%;
  top: 0;
	width: 100%;
}

.guide-overlay.showing {
  margin-left: 0;
}

//------------------------------------------------------------------------------
//  TODO: non-normative/uncategorized
//------------------------------------------------------------------------------
#guide-header-roll-header-image {
  height: 50px;
  position: relative;
  //quick fix to de-uglify fredwilson.tv
  background-size: $guide-width;

  .guide-header-roll-header-title {
    bottom: $defaultMargin / 2;
    color: #efefef;
    left: $defaultMargin;
    position: absolute;
    text-shadow: 0px 0px 5px black;
  }

  .progress-overlay {
    background: black;
    height:   00%;
    opacity: 0.75;
    position: absolute;
    top: 0;
    width: 0;
  }
}

.guide-header-roll-header-uploader {
  padding: $defaultMargin;
  position: relative;

  .spinner-overlay {
    right: $defaultMargin;
    position: absolute;
    top: $defaultMargin / 2;

    .spinner {
      margin-top: 0;
      width: 30px;
    }
  }
}
