@import "base";

.guide-overlay {
	background-color: $guide-bg-color;
	bottom: 0;
	position: absolute;
  margin-left: -100%;
  top: 0;
	width: 100%;
}

.guide-overlay.showing {
  margin-left: 0; 
}

/* common to many guide overlays */
.guide-overlay-header {
  border-bottom: 1px solid $inset;
}

.guide-overlay-body {
  border-top: 1px solid $outset;
}

.guide-overlay-title {
  height: 46px;

  .back, .cancel {
  	@include button-primer($x-primer-color, light, guide-close);

  	left: 0;
    margin: 1em;
  	position: absolute;
  	top: 0;	
    
    .cancel-icon {
      color: transparent;
      display: block;
      font: 0/0 a;
      height: 7px;
      background-image: url($icon-cancel);
      background-position: center center;
      background-repeat: no-repeat;
      background-size: contain;
      width: 7px;
    }
  }
  
  h2 {
    line-height: 4.25;
    text-align: center;
    font-size: 1em;
    font-weight: 400;
  }

  .em {
    font-weight: 100;
  }
  
  /* For two-line headers with details above the meat */
  h2.top-line, h2.bottom-line{
    line-height: 1;
    text-align: left;
    padding-left: 43px;
  }
  h2.top-line {
    font-size: 1em;
    font-weight: 100;
    padding-top: 8px;
  }
  h2.bottom-line {
    @include ellipsis();
    font-size: 1.5em;
    line-height: 1.2;
  }
}

.guide-header-lining,
.xguide-overlay-context {
  background-color: adjust-lightness($guide-bg-color, -5%);
  border-bottom: 1px solid $inset;
  border-top: 1px solid $outset;
  box-shadow: $videocard-shadow;
//  height: 100px;
//  overflow: hidden;
  position: relative;

//  &.guide-overlay-missing-thumbnail {
//    background-image: url($icon-missing-thumbnail);
//    background-size: 20%;
//  }
}

.guide-overlay-context-overview {
  bottom: 0;
  padding-bottom: 10px;
  position: absolute;  
  width: 100%;
}

.guide-header-title {
  @include ellipsis();

//  color: #ccc;
  font-weight: 500;
  line-height: 2.6;
  padding: 0 10px;
  position: relative;
  width: inherit;
  z-index: 1;
}

.guide-header-button {
  @include button-primer($shelby-gray, dark,frame-command);
  
  float: right;
  margin: 10px;
}

.guide-follow-button {
  margin-right: 0;
}

.guide-header-button-highlighted {
  @include button-primer($shelby-blue, dark,frame-command);
}

.guide-overlay-context-creator {
  font-size: 12px;
  margin-bottom: 3px;
}

.guide-overlay-context-title {
  font-size: 14px;
}