@import "base";

.guide-presentation-selector {
}

.guide-presentation-list {
  font-size: 1.2em;
  margin: 0;
  padding: 0;
}

.guide-presentation-item,
.guide-settings-item {
  display: block;
  float: left;
  list-style-type: none;

  & > .presentation-button {
    background: none;
    border: none;
    color: $guide-presentation-button;
    display: inherit;
    font-family: $font-family-display;
    font-weight: 100;
    line-height: 2;
    padding: 3px 6px;
    width:100%;

    &:active,
    &:hover {
      color: #efefef;
    }

    &:hover,
    &:link,
    &:visited {
      //in the event that this class is applied to an <a>, rather than a <button>
      text-decoration: none;
    }

    &.guide-presentation-content-selected {
      color: $guide-presentation-button-active;

      &:active,
      &:link,
      &:visited {
        text-decoration: none;
      }
    }
  }

  & > .guide-settings-anchor {
    background: none;
    border: none;
    color: $button-color;
    display: inline;
  }
}

.guide-presentation-item {
  margin-top: 2px;
  width: 70px;
}

.guide-now-playing {
// XXX commented out for deving
  display: none;
  width: 100px;
  
  .context-overlay-wrapper {
// XXX commented out for deving
    opacity: 0.0;
  }

  &:hover{
    background-color: black;
    .context-overlay-wrapper {
      opacity: 1.0;
    }
  }
}

.guide-settings {
  float: right;
  position: relative;
  text-align: right;
  width: 100px;
}

.guide-settings-list {
  background-color: $guide-presentation-tab-bg-selected;
  display: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 13px;
  text-align: left;
  width: 200px;
  z-index:5;

  .guide-settings-button {
    text-align: left;
  }
}

.guide-settings-item {
  width: 100%;
}

.guide-settings-userhandle {
  background: #ddd;
  color: #333;
  display: block;
  padding: 6px;
}

.guide-settings-anchor {
    &:after {
      @include background(url($icon-settings) no-repeat center center transparent);

      content: "\0020";
      float: right;
      height: 19px;
      margin: {
        right: 4px;
        top: 4px;
      }
      width: 20px;

  }
}

.guide-settings-button {
  &:hover {
    background: $shelby-blue;
  }
}
