.guide-presentation-selector {
}

.guide-nav-list {
  display: none;
  font-size: 1.2em;
  margin: 0;
  padding: 0;
}

.guide-nav-item {
  display: block;
  float: left;
  list-style-type: none;

  &.secondary-item {
    float: right;
    margin-right: 1em;
    position: relative;
    text-align: left;
    width: auto;
  }

  &.has-children {
    & > .nav-button {
      background-image: url($icon-carrot);
      background-position: right center;
      background-repeat: no-repeat;
      padding-right: 1em;
    }

    &:hover {
      .is-child {
        display: block;
      }
    }
  }
}

.nav-button {
  background: none;
  border: none;
  color: $guide-presentation-button;
  display: inherit;
  font-family: $font-family-display;
  font-weight: 100;
  line-height: 2;
  padding: 0.5em 1.8em;
  width:100%;

  &:active,
  &:hover {
    color: #efefef;
  }

//  in the event that this class is applied to
//  an <a>, rather than a <button>, we must
//  treat these props:
  &:hover,
  &:link,
  &:visited {
    text-decoration: none;
  }

  &.active-item {
    background: $guide-presentation-tab-bg-selected;
    color: $guide-presentation-button-active;

    &:active,
    &:link,
    &:visited {
      text-decoration: none;
    }
  }
}

.guide-nav-item {
  width: auto;
}

//------------------------------------------------------------------------------
//  INVITE A USER SECTION
//------------------------------------------------------------------------------
.dropdown_module--invite-user {
  .dropdown_lining {
    @include fin-left(#e2e2e2);

    background-color: $base;
    box-shadow: 0px 0px 5px 0px black;
    margin-top: 5px;
    min-height: 300px;
    text-align: left;
    width: 300px;
  }
}

.invite-count {
  background-color: $shelby-blue;
  border-radius: 10px;
  color: $button-color;
  display: block;
  font-weight: 400;
  height: 17px;
  line-height: 1.5;
  margin: 2px;
  position: absolute;
  right: 1px;
  text-align: center;
  text-shadow: $shadow-text;
  top: -1px;
  width: 17px;
}

.invite-feedback {
  margin: 80px 10px 10px;
  font-size: 1.4em;
  text-align: center;

  &:not(.invite-feedback--success) {
    .icon {
      display: none;
    }
  }

  .icon {
    display: block;
    height: 100px;
  }
}

.invite-feedback--failure {
  margin-top: 120px;
}

////////////////////////////////////////////////////////////////////////////
//  experimental hr divider
////////////////////////////////////////////////////////////////////////////
.hr-double {
  background-color: $outset;
  border-bottom: 1px solid $outset;
  border-top: 1px solid $inset;
  height: 0;
  margin: 1em 0;
  width: 100%;
}

//---------------------------
//  explore panel
//---------------------------

.explore-section-lining {
  background-color: $base;
  box-shadow: 0px 0px 5px 0px black;
  margin-top: 5px;
  text-align: left;
  width: 200px;
}

.explore-section-channel {
  color: #666;
  font-family: $font-family-display;
  font-size: 1.25em;
  font-weight: 300;
  height: 3.335em;
  line-height: 3.335em;
  padding: 0 .6em;

  &:first-child {
    @include fin-left($base, 29px);
  }

  & + .explore-section-channel {
    border-top: solid #adadad 1px;
  }

  &:hover{
    background-color: #b9b9b9;
    cursor: pointer;

    &:first-child {
      @include fin-left(#b9b9b9, 29px);
    }
  }

  .play-button {
    position: absolute;
    right: 25px;
  }
  .now-playing {
    display: none
  }
}

.explore-section-channel--active {
  background-color: #74C042;
  color: #FFF;

  &:first-child {
    @include fin-left(#74C042, 29px);
  }

  .now-playing {
    display: inline-block;
    right: 10px;
    position: absolute;
  }
  .play-button {
    display: none;
  }
}

//------------------------------------------------------------------------------
//  INVITE A USER FORM
//------------------------------------------------------------------------------
.form_module--invite-form {
  .form_legend {
    margin: 5px 10px;
  }

  .form_h1 {
    font-size: 1.4em;
    margin-top: .6em;
  }

  .form_description {
    margin-top: .25em;
  }

  .form_fieldset {
    font-size: .9em;
    margin: 5px 10px;
  }

  .form_label {
  }

  .form_error {
    color: $shelby-red;
    display: none;
    float: right;
    font-family: $font-family;
  }

  .form_submit {
    float: right;
    font-size: 1.2em;
    margin: 5px 0 15px;
  }
}

//---------------------------
//  settings panel
//---------------------------

.settings-section {
  right: 0;
}

$settings-panel-bg : #555;

.settings-section-lining {
  @include fin($videocard-footer-bg-color);

  background-color: $base;
  box-shadow: 0px 0px 5px 0px black;
  margin-top: 5px;
  text-align: left;
  width: 330px;
}

.guide-settings-button {
  background: transparent;
  border: none;

  &:hover {
    text-decoration: underline;
  }
}

.settings-user {
  background-color: $videocard-footer-bg-color;
  box-shadow: $shadow;
}

.settings-list {
  font-size: .95em;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.settings-item {
  display: inline;

  &.right {
    float: right;

    .settings-button {
      padding-left: 0em;
      padding-right: 1em;
    }
  }
}

.settings-button {
  background: transparent;
  border: none;
  color: $text;
  float: left;
  line-height: 1.5;
  padding: .75em .5em .75em .8em;
  text-align: left;

  &:active,
  &:link,
  &:visited {
    text-decoration: none;
  }

  &:hover {
    text-decoration: underline;
  }
}


.settings-userhandle {
  @include ellipsis;

  background: transparent;
  border: none;
  color: $text;
  display: block;
  float: left;
  font-family: $font-family-display;
  font-weight: 500;
  font-size: 1.1em;
  line-height: 2.3;
  margin: 0;
  padding: 7px;
  width: 60%;

  img {
    height: 33px;
    margin-right: 5px;
    width: 33px;
  }

  a {
    @include hover-link();
    color: $text;
  }
}

.settings-preferences {
  float: right;
  line-height: 3.9;
  padding: 0 1em;
}
