//------------------------------------------------------------------------------
// Hide Guide Overrides, should be nested or compounded.
//------------------------------------------------------------------------------
.hide-guide {
  .user_info,
	&.guide-wrapper{
	  margin-left:-($guide-width);
	}
  .video_controls__wrapper,
  .persistent_video_info__wrapper {
    // background-color: rgba(239, 239, 239, 0);
    // bottom: -100%;
    opacity: 0.9;
    left: 10%;
    right: 10%;
  }

  // .persistent_video_info {
  //   max-width: 900px;
  // }

  .videoplayer-viewport {
    bottom: 0;
  }

  .video_progress--mini__wrapper {
    bottom: 0;
  }
  .videoplayer-tools__wrapper {
   // bottom: 0;
  }

  .video_controls__button--fullscreen,
  .videoplayer-nav__btn--fullscreen {
    .icon-player_fullscreen_enable {
      display: none;
    }

    .icon-player_fullscreen_disable {
      display: block;
    }
  }
  // .videoplayer-tools {
  //   max-width: 900px;
  // }
}

.hide-guide--user-profile {
  &.guide-wrapper{
    margin-left:-($guide-width);
  }
}
.shelby--dot-tv {
  .hide-guide {
    &.main-layout {
      height: 600px;
    }

    .videoplayer__wrapper {
      padding-right: 0;
    }

    .videoplayer {
      margin: 0;
    }
  }
}
