//------------------------------------------------------------------------------
//  icons list
//------------------------------------------------------------------------------
$icons:
  avatar
  cancel
  carrot
  chevron
  comment_reply
  email
  missing_thumb
  onboarding_play
  player_fullscreen_disable
  player_fullscreen_enable
  player_hd_off
  player_hd_on
  player_pause
  player_play
  player_sound_off
  player_sound_on
  share_facebook_off
  share_facebook_on
  share_twitter_off
  share_twitter_on
  social_facebook
  social_tumblr
  social_twitter
  star
  videocard_comment
  videocard_queue
  videocard_roll,
  videocard_roll_on;

//------------------------------------------------------------------------------
//  ICON CLASS CONSTRUCTOR
//------------------------------------------------------------------------------

@each $icon in $icons {
  .icon_#{$icon} {
    @include icon-primer($icon);
  }
}

//------------------------------------------------------------------------------
//  button icon module
//------------------------------------------------------------------------------
.button_icon {
  background-repeat: no-repeat;
  background-position: center left;
  background-size: auto;
  font-style: normal;
}

.button_icon_right {
  background-repeat: no-repeat;
  background-position: center right;
  background-size: auto;
  font-style: normal;
}
