@import "base";

.in-line-promo {
  background-color: #D6D6D6;
  padding: 5px 10px;

  &.in-line-donate-promo {
    padding: 0;
  }
}

.in-line-promo-item {
  &:last-child {
    .in-line-promo-item-lining {
      margin-bottom: 0;
    }
  }
}

.in-line-promo-item-lining {
  margin: 2px 0 10px;
}

.in-line-promo-header {
  font-size: 1.17em;
  margin-bottom: 10px;
}

.in-line-promo-button {
  @include button-sizing;
  
  float: right;
}

.in-line-promo-link {
  float: right;
  font-size: 1.17em;
  line-height: 2.3;

  &:active,
  &:link,
  &:visited {
    color: #555;
    text-decoration: none;
  }

  &:hover {
    color: #555;
    text-decoration: underline;
  }
}

.in-line-promo-thumb,
.in-line-promo-title {
  float: left;
}

.in-line-promo-thumb {
  border: 1px solid #ADADAD;
  height: 30px;
}

.in-line-promo-title {
  @include ellipsis;

  color: #555;
  font-size: 1.17em;
  line-height: 2.3;
  margin-left: 0.55em;
}

.in-line-donate-link {
  &:active,
  &:link,
  &:visited {
    text-decoration: none;

    .in-line-donate-title {
      text-decoration: none;
    }
  }

  &:hover {
    text-decoration: underline;

    .in-line-donate-title {
      text-decoration: underline;
    }
  }
}

.in-line-donate-header {
  color: #333;
}

.in-line-donate-lining {
  padding: 5px 10px;
}