// Inline Roll Promos

.frame--inline-promo {
  background-color: #fff;

  &:hover {
    .frame-body-wrapper {
      background-color: #fff;
      cursor: pointer;
    }
  }

  .frame-footer {
    margin-top: 1.5em;
    margin-left: 0.5em;
  }

  .icon {
    //chevron
    background-size: 1.5em;
    margin-right: 0.5em;
    padding-right: 2em;
  }

  .xuser-message,
  .xuser-data {
    margin-bottom: 0.25em;
  }
}

.frame--explore-promo {
  padding: 0.8em;

  .explore-promo__button {
    @include button-sizing;

    float: right;
  }

  .explore-promo__h1 {
    line-height: 2.3;
  }
}