//-------------------------
// header bar
//-------------------------

.isoroll__header {
  max-height: 36px;
  overflow: hidden;
  border-bottom: none;
}


.current-roll {
  float: left;
  width: $guide-width;
}

//main nav list
.isoroll-nav__list {
  margin: 0;
  padding: 0;
}

.isoroll-nav__item {
  display: block;
  float: left;
  list-style-type: none;

  &.secondary {
    float: right;
  }
}

.isoroll-nav__button {
  @include ellipsis;
  @include gradient-primer(adjust-lightness($guide-presentation-tab-bg-selected,5%));

  color: $guide-presentation-button;
  display: block;
  font-size: 1.2em;
  font-weight: 500;
  font-family: $font-family-display;
  max-width: $guide-width * 0.75;
  min-width: $guide-width / 4;
  height: 35px;
  padding: 9px 10px;
  text-align: center;
  text-decoration: none;

  &:hover {
    @include gradient-primer(adjust-lightness($guide-presentation-tab-bg-selected,10%));
    color: adjust-lightness($guide-presentation-button,20%);
    text-decoration: none;
  }
}

.active-item {
  .isoroll-nav__button,
  .isoroll-nav__button:hover {
    background: black;
    color: #efefef;
  }
}

.isoroll-nav__avatar {
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  background-size: cover;
  display: inline-block;
  height: 2em;
  overflow: hidden;
  width: 2em;
  vertical-align: middle;

  img {
    width: 100%;
  }
}

//secondary nav buttons
.isoroll-nav__button--unfollow,
.isoroll-nav__button--shelby {
  font-size: 1.2em;
  margin: 5px 5px 5px 0;
  padding-top: 0.4em;
  padding-bottom: 0.4em;

  .light {
    font-weight: 100;
  }
}


.isoroll-header--shelby {
  width: 145px;
}

/* non-programatic changes to app display */
//------------------------------------------------------------------------------
//  FROM _FRAME.SCSS:
//  isolated roll
//  (nest styles inside of .isolated-roll{})
//------------------------------------------------------------------------------
.isolated-roll {
  .conversation-message {
    .xuser-data {
      display: block;
    }
  }

  .xuser-message {
    margin: 0;
    min-height: 2em;
  }

  .xuser-data-timestamp {
    padding: 0 0 5px 10px;
  }

  /* adjust the avatar in the roll header */
  .guide {
    .xuser-avatar {
      border-right: 1px solid $outset;
      margin: 0 10px 0 0;
    }
  }

  /* hide the avatar on the frame */
  .frame {
    &:not(.frame--inline-promo) {
      .xuser-data {
        display: none;
      }

      .xuser-avatar {
        display: none;
      }
    }

    &.frame--inline-promo {
    }
  }
}
