//------------------------------------------------------------------------------
// BLOCK -- header bar
//------------------------------------------------------------------------------
.isoroll__header {
  height: $app-header__height;
  overflow: hidden;
  border-bottom: none;
}
    .current-roll {
      float: left;
      width: $guide-width;
    }

//------------------------------------------------------------------------------
//  ELEMENTS
//------------------------------------------------------------------------------
.isoroll-nav__list {
  height: inherit;
  margin: 0;
  padding: 0;
}

.isoroll-nav__item {
  display: inline-block;
  height: inherit;
  float: left;
  margin: 0;
  padding: 0;
  list-style-type: none;

  &.secondary {
    float: right;
  }
  &.left-secondary {
    margin-left: 5px;
  }
}
    //------------------------------------------------------------------------------
    //  MODIFIERS of isoroll-nav__item
    //------------------------------------------------------------------------------
    .isoroll-nav__item--parent { //First Roll (Parent of all mulit-rolls)
      padding: 0;

      .isoroll-nav__button {
        background: black;
      }

      .isoroll-nav__title {
      }
    }


    .isoroll-nav__item--child { //Subsequent Rolls (belonging to Parent account)
      .isoroll-nav__avatar {
        display: none;
      }
    }


    .isoroll-nav__item--active { //Currently Active Roll -- The one the user is watching
      .isoroll-nav__button,
      .isoroll-nav__button:hover {
        @include gradient-primer(#222);
        color: #efefef;
      }
    }

.isoroll-nav__button {
  @include ellipsis;
  @include gradient-primer(adjust-lightness($guide-presentation-tab-bg-selected,5%));

  border-right: 1px solid #444;
  color: $guide-presentation-button;
  display: block;
  font-size: 1.2em;
  font-weight: 500;
  font-family: $font-family-display;
  margin: 0;
  max-width: $guide-width * 0.75;
  min-width: $guide-width / 4;
  height: inherit;
  text-align: center;
  text-decoration: none;

  &:hover {
    @include gradient-primer(adjust-lightness($guide-presentation-tab-bg-selected,10%));
    color: adjust-lightness($guide-presentation-button,20%);
    text-decoration: none;
  }

  &:active {
    @include gradient-primer(#111);
  }
}
    //------------------------------------------------------------------------------
    //  MODIFIERS of isoroll-nav__button
    //------------------------------------------------------------------------------
    //secondary nav buttons
    //aligned right, look different from multi-roll menu
    .isoroll-nav__button--unfollow,
    .isoroll-nav__button--shelby {
      font-size: 1.2em;
      margin: 5px 5px 5px 0;
      padding-top: 0.4em;
      padding-bottom: 0.4em;

      .light {
        font-weight: 100;
      }
    }

.isoroll-nav__title {
  display: inline-block;
  height: inherit;
  margin: 1em 1em 0;
}


.isoroll-nav__avatar {
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  background-size: cover;
  display: inline-block;
  float: left;
  height: inherit;
  overflow: hidden;
  width: 3em;
  vertical-align: middle;

  img {
    width: 100%;
  }
}


.isoroll-header--shelby {
  width: 145px;
}


/* non-programatic changes to app display */
//------------------------------------------------------------------------------
//  FROM _FRAME.SCSS:
//  isolated roll
//  (nest styles inside of .isolated-roll{})
//------------------------------------------------------------------------------
.isolated-roll {
  .conversation-message {
    .xuser-data {
      display: block;
    }
  }

  .xuser-message {
    margin: 0;
    min-height: 2em;
  }

  .xuser-data-timestamp {
    padding: 0 0 5px 10px;
  }

  /* adjust the avatar in the roll header */
  .guide {
    .xuser-avatar {
      border-right: 1px solid $outset;
      margin: 0 10px 0 0;
    }
  }

  /* hide the avatar on the frame */
  .frame {
    &:not(.frame--inline-promo) {
      .xuser-data {
        display: none;
      }

      .xuser-avatar {
        display: none;
      }
    }

    &.frame--inline-promo {
    }
  }
}
