.shelf__wrapper--iphone {
  background: transparent;
  left: 0;
  position: fixed;
  -webkit-transform: translateZ(0);
     -moz-transform: translateZ(0);
      -ms-transform: translateZ(0);
          transform: translateZ(0);
  top: 70px;
  width: 100%;
  z-index: 0;

  //non-normative
  .iphone {
    float: right;
    margin-right: 40px;
    margin-top: 60px;
    position: relative;
    padding-top: 57.8%;
  }
  .iphone--horizontal {
    margin-right: 33%;
    margin-top: 75px;

    .slide {
      width: 437px;
    }
  }
}
  .iphone {
    background-image: url('/images/landing/_CONTENT/iphone.png');
    background-repeat: no-repeat;
    background-position: top center;
    height: 547px;
    -webkit-transition: all .25s;
    width: 259px;
  }
      .iphone--horizontal {
        -webkit-transform: rotate(-90deg);
           -moz-transform: rotate(-90deg);
            -ms-transform: rotate(-90deg);
                transform: rotate(-90deg);
      }

  .iphone__viewport {
    height: 359px;
    left: 0;
    margin: 111px 22px 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 218px;

    .slide {
      @include transition-property(margin-top, margin-left);
      @include transition-duration(0.25s);

      height: inherit;
      left: inherit;
      position: relative;
      top: inherit;
      width: 438px;

      &.show {
        margin-top: -359px;
      }

      &.show--hover,
      &:hover {
        margin-left: -219px;
      }

      img {
        float: left;
      }
    }
  }

.shelf--iphone {
  background-color:transparent;
  border: none;
  margin: 0 auto;
  max-width: 1200px;
  position: relative;
  width: auto;
}
