.shelf__wrapper--social {
  text-align: center;
  .shelf__lining {
    margin: 0 auto;
  }
  .shelf__img--iphone {
  }
}

.shelf--social {
  .shelf__h1 {
    margin-top: 2.5em;
  }
    .shelf__img--iphone {
      -webkit-transform: rotate(-90deg);
    }
}
