//------------------------------------------------------------------------------
//  OVERRIDES
//------------------------------------------------------------------------------
//----- Override App Base Styles -----------------------------------------
//----- Modifiers --------------------------------------------------------
.shelby--landing {
  h1,h2,h3,h4,h5,h6 {
    font-family: $font-family-display;
    font-weight: 500;
  }

  background-color: $ui-off-white;
  height: auto;
  overflow: visible;
  position: relative;

  //TODO: determine why this override is necessary.
  .shelby__wrapper {
    padding-top: 70px;
  }

  .shelby__head {
  }

  /* adjust the header, don't want absolute position */
  .shelby__header {
    position: relative;
  }

  /* this gets hidden in _guide-presentation-selector.scss for onboarding */
  .app_nav {
    display: block;
    text-align: right;
  }

  .button_primer--twitter,
  .button_primer--facebook {
    text-align: center;
    width: 40%;
  }
}

// ----- Non-normative Overrides --------------------------------------------------------
.login-section,
.signup-section {
  right: 1.3em;
  top: 2em;
  padding-top: 1em;
}

.login-section-lining,
.signup-section-lining {
  @include fin;

  background: $nav-dropdown-bg;
  box-shadow: 0 0 20px 0 black;
  text-align: left;
  width: 300px;
}

.login-header,
.signup-header {
  margin: 10px 10px 0;
}

.login-section hr,
.signup-section hr {
  border-bottom: 1px solid $inset;
  margin-bottom: 0;
  margin-top: .5em;
}


//------------------------------------------------------------------------------
//------------------------------------------------------------------------------
//------------------------------------------------------------------------------
//------------------------------------------------------------------------------
//------------------------------------------------------------------------------
//  Block
//------------------------------------------------------------------------------

.shelf {
  background-color: $ui-white;
  border: 1px solid $inset;
  font-size: 1.5em;
  margin: 1em auto;
  width: 944px;
}
    .shelf--error {
      border: 1px solid $ui-red;
      color: $ui-red;
      font-weight: bold;
      text-align: center;
    }

    .shelf--header {
      border-top: none;
      border-left: none;
      border-right: none;
      left: 0;
      max-width: none;
      margin: 0;
      position: fixed;
      top: 0;
      width: 100%;
      z-index: 1;

      .shelf__lining {
        padding: 0.25em 1em;
      }

      //non-normative overrides
      .app_nav__button {
        font-size: inherit;
        margin-top: 0.5em;
      }
    }

    .shelf--cta {
      text-align: center;

      .shelf__lining {
        padding-top: 4em;
        font-size: 1.1em;
      }

      .shelf__button {
        margin: 2em auto;
      }

      .shelf__img {
        display: block;
        margin: 0 auto;
        max-width: 100%;
      }
    }

    .shelf--stream {
      .shelf__h1 {
        margin-top: 6.5em;
      }

      .shelf__img--stream {
        max-width: 100%;
        margin: 0 2em;
      }
      .shelf__img--sources {
        margin: 2em 0;
        max-width: 100%;
      }
    }

    .shelf--social {
      .shelf__h1 {
        margin-top: 1.8em;
      }

      .shelf__img {
        margin: 4em 3em;
      }
    }

    .shelf--press {
      text-align: center;

      .shelf__img {
        height: 40px;
        display: block;
        -webkit-background-size: auto;
        background-size: auto;
      }
      .shelf__img--mashable {
        background-image: url('/images/landing/mashable.png');
      }
      .shelf__img--tnw {
        background-image: url('/images/landing/tnw.png');
      }
      .shelf__img--tc {
        background-image: url('/images/landing/tc.png');
      }
    }

    .shelf--secondary-cta {
      text-align: center;

      .shelf__h2 {
        margin-top: 1em;
      }
    }

    .shelf--slogan {
      text-align: center;

      .shelf__h2 {
        margin-top: 1em;
      }
    }

//------------------------------------------------------------------------------
//  Elements
//------------------------------------------------------------------------------
.shelf__lining {
  padding: 2em 3em;
}

.shelf__h1 {
  font-size: 1.8em;
  margin-bottom: 1em;
}

.shelf__h2 {
  margin-bottom: 1em;
}

.shelf__block {
  line-height: 1.5;
}


////////////////////////////////////////
//the footer isn't actually a shelf
.shelby__foot {
  background-color: $ui-black;
  font-size: 1.5em;
  line-height: 1.5;
  text-align: center;

  .shelby__lining {
    display: inline-block;
    text-align: left;
    vertical-align: top;
    padding: 3em 0;
  }

  .shelby__h4 {
    color: $ui-soft-black;
    margin-bottom: 1em;
  }

  .list__link {
    &,
    &:visited,
    &:hover {
      color: $ui-white;
    }
  }
}