////////////////////////////////////////
//the footer isn't actually a shelf

.shelby__foot {
  @include font-size(11px);

  background-color: $ui-white;
  height: auto;
  line-height: 1.5;
  padding: 20px 0;
  text-align: center;

  small {
    font-size: 11px;
    opacity: 0.5;
  }

  .list__item {
    padding: 0.25em 1em;
  }

  .shelby__lining {
  }

  .shelby__h4 {
    color: $ui-soft-black;
  }
}
