.shelf__wrapper--header {
  border-bottom: 1px solid $inset;
  left: 0;
  max-width: none;
  margin: 0;
  position: fixed;
  top: 0;
  -webkit-transform: translateZ(0);
     -moz-transform: translateZ(0);
      -ms-transform: translateZ(0);
          transform: translateZ(0);
  width: 100%;
  z-index: 2;
}

.shelf--header {
  background-color: $ui-white;

  .shelf__lining {
    padding: 0 2.6em;
  }

  .shelf__button--cta {
    vertical-align: -2px;
  }

  //non-normative overrides
  .app_nav__button {
    font-size: inherit;
    margin-top: 0.9em;
  }

  .shelby-logo,
  .dropdown_button {
    border: 1px solid rgba(255,255,255,0);
    outline: none;

    &:focus {
      border: 1px solid rgba(200,200,200,1);
    }
  }

  .login-section {
    padding-top: 3em;
  }


  //viewports (across all devices) smaller than 900-ish pixels
  @media screen and (max-width: $mq-nine-ish) {
    .shelf__lining {
      padding: 0;
    }
    .shelby-logo {
      font-size: 40px;
    }
    .app_nav__button {
      margin-top: 0;
    }
    .shelf__button--cta {
      display: none;
    }
  }
}
