.shelf__wrapper--cta {
  text-align: center;

  .media_module {
    background-image: image-url("rec-playback-tall.png");
    background-position: 84% 68%;
    background-repeat: no-repeat;
    -webkit-background-size: 590px;
    background-size: 590px;
  }
}

.shelf--cta {
  &.shelf--facebook-logged-out {
    .facepile {
      display: none;
    }

    .appstore {
      margin-top: 175px;
    }
  }

  .shelf__lining {
    padding-top: 4em;
    position: relative;
    z-index: 1;
  }

  .shelf__button {
    font-size: 1.5em;
    margin-top: 1em;
  }

  .facepile {
    margin-top: 1.5em;
  }

  .appstore {
    display: block;
  }

  .android {
    display: inline-block;
  }

  .amazon {
    margin-left: 35px;
  }

  .shelf__img--iphone {
    float: right;
    margin: 65px 39px;
  }

  .shelf__email-signup {
    @include basefont;

    color: lighten($text,20%);
    font-size: 0.8em;
    margin-top: -0.5em;
  }

  //viewports (across all devices) smaller than 900-ish pixels
  @media screen and (max-width:  $mq-nine-ish) {
    padding: 0;

    &.shelf--facebook-logged-out {
      height: auto;
      background-position: center 85%;
      -webkit-background-size: 80%;
      background-size: 80%;
      // below is used for macbook, above is used for samsung laptop
      // -webkit-background-size: 90%;
      // background-size: 90%;
      text-align: center;
    }
    .appstore {
      display: none;
    }
    .shelf__h1 {
      margin-top: 0.5em!important;
      font-size: 2em;
      width: auto;
    }
    .shelf__block {

      br {
        display: none;
      }
    }
    .shelf__img--desktop {
      max-height: 53%;
      max-width: 93%;
    }

    .shelf__button {
      width: auto;
    }
  }
}
