/*
    Press used to be its own Partial
    it might someday be again, so keeping stuff here.
 */
.press_list {
  .shelf__img {
    height: 40px;
    display: block;
    -webkit-background-size: auto;
    background-size: auto;
  }
  .shelf__img--mashable {
    background-image: url('/images/landing/mashable.png');
  }
  .shelf__img--tnw {
    background-image: url('/images/landing/tnw.png');
  }
  .shelf__img--tc {
    background-image: url('/images/landing/tc.png');
  }
}

