// global scoping
.shelby--login {
  //framework
  .shelf__wrapper--error {
    background-color: transparent;
  }
  //elements
  .shelf__h2 {
    text-align: center;
  }
  //non-normative
  .login-section {
    max-width: 330px;
    margin: 0 auto;
  }

  @media screen and (max-width: $mq-nine-ish) {
    //framework
    .shelf {
      border-left: 0;
      border-right: 0;
      min-width: 0;
      padding-left: 0;
      padding-right: 0;
      width: auto;

      .shelf__lining {
        clear: both;
        float: none;
        margin: 0;
        padding: 0;
        width: auto;
      }
    }
    //elements
    .shelf__h2 {
      font-size: 1.3em;
    }
  }
}

//------------------------------------------------------------------------------
//  Block
//------------------------------------------------------------------------------
.shelf__wrapper--login {
  background: transparent;
  margin: 0;
  padding: 50px;
}

.shelf--login {
  font-size: 1.3em;

  .shelf__lining {
    margin: 20px auto 0;
    padding: 1em 2em;
  }
}
