//------------------------------------------------------------------------------
//  OVERRIDES
//------------------------------------------------------------------------------
//----- Override App Base Styles -----------------------------------------
//----- Modifiers --------------------------------------------------------
.shelby--landing {
  background-color: $ui-off-white;
  height: auto;
  overflow: scroll;
  position: relative;

  h1,h2,h3,h4,h5,h6 {
    font-family: $font-family-display;
    font-weight: 500;
  }

  //TODO: determine why this override is necessary.
  .shelby__wrapper {
    padding-top: 70px;
  }

  .shelby__head {
  }

  .shelby-logo {
    font-size: $logo-font-size;
  }

  /* adjust the header, don't want absolute position */
  .shelby__header {
    position: relative;
  }

  .app_nav {
    text-align: right;
  }

  //viewports (across all devices) smaller than 900-ish pixels
  @media screen and (max-width: $mq-nine-ish) {
    .shelby__wrapper {
      padding-top: 50px;
    }
  }
}

// ----- Non-normative Overrides -----------------------------------------------

@import "partials/landing-page__shelf";
@import "partials/landing-page__login";
@import "partials/landing-page__export";
@import "partials/landing-page__error";
@import "partials/landing-page__fill";
//let consecutive shelves override if need be. do not disturb the four partials above.
@import "partials/landing-page__ipadbeta";
@import "partials/landing-page__header";
@import "partials/landing-page__cta";
@import "partials/landing-page__press";
@import "partials/landing-page__secondary-cta";
@import "partials/landing-page__signup";
@import "partials/landing-page__stream";
@import "partials/landing-page__social";
@import "partials/landing-page__apps";
@import "partials/landing-page__team";

@import "partials/landing-page__footer";


