.shelf__wrapper--stream {
  background-image: url(/images/landing/bg-2.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}

.shelf--stream {
  &,
  .shelf__block {
    color: $ui-white;
  }

  .shelf__img--iphone {
    float: right;
    margin: 65px 39px;
  }

  .shelf__h1 {
    margin-top: 200px;
  }
  .shelf__block {
    margin-bottom: 30px;
  }

  .shelf__list {

    img {
      @include roundies(input);

      margin-right: 7px;
    }
  }
}
