.shelf--signup {
  height: 440px;
  text-align: center;

  .shelf__lining {
    font-size: 1.1em;
  }

  .shelf__lining--right {
    width: 45%;
    float: right;
    padding-top: 2em;
    text-align: left;
    font-size: 0.9em;
  }

  .shelf__lining--left {
    width: 55%;
    float: left;
    padding-top: 5.75em;
    padding-left: 66px;
  }

  .shelf__button {
    margin: 1.5em auto 0;
  }

  .shelf__img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
  }

  .list--benefits {
    margin-left: 75px;
  }

  .form_fieldset {
    width: 255px;
  }

  .form__description {
    font-size: 0.8em;
    line-height: 1;
  }

  .form_fieldset--error {
    .form_error {
      display: block;
    }
  }

  .form_error {
    position: absolute;
    margin: 0.3em 2em;
    font-size: 0.65em;
    display: none;
  }
}
