.shelf__wrapper--cta {
  text-align: center;

  .media_module {
    background-image: image-url("rec-playback-tall.png");
    background-position: 84% 68%;
    background-repeat: no-repeat;
    -webkit-background-size: 590px;
    background-size: 590px;
  }
}

.shelf--cta {
  &.shelf--facebook-logged-out {
    .facepile {
      display: none;
    }

    .appstore {
      margin-top: 175px;
    }
  }

  .shelf__lining {
    padding-top: 4em;
    position: relative;
    z-index: 1;
  }

  .shelf__button {
    font-size: 1.5em;
    margin-top: 1em;
  }

  .facepile {
    margin-top: 1.5em;
  }

  .appstore {
    display: block;
  }

  .android {
    display: inline-block;
  }

  .amazon {
    margin-left: 35px;
  }

  .shelf__img--iphone {
    float: right;
    margin: 65px 39px;
  }

  .shelf__email-signup {
    @include basefont;

    color: lighten($text,20%);
    font-size: 0.8em;
    margin-top: -0.5em;
  }

  @media screen and (max-width:  $mq-nine-ish) {
    .shelf__lining {
      width: auto;
    }
    .shelf__button {
      width: auto;
    }
  }
}
