.shelf__wrapper--apps {
  background-color: $ui-white;
  background-image: image-url("bg-3.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;

  min-height: 400px;

  .shelf {
    text-align: center;
  }
  .shelf__lining {
    margin: 0 auto;
  }
}

.shelf--apps {
  width: auto;

  .shelf__h1 {

  }


  //non normative
  p br {
    display: none;
  }

  & > .list {
    margin: 0 auto;
  }

  .list__item {
    padding: 1em;
  }

  img.one-whole {
    max-width: 100%;
  }

  //viewports (across all devices) smaller than 900-ish pixels
  @media screen and (max-width: $mq-nine-ish) {
    .list {
      width: 100%;
    }
  }
  //viewports (across all devices) smaller than 500-ish pixels
  @media screen and (max-width: $mq-five-ish) {
    .list__item {
      display: block;
      margin-bottom: 2em;
      width: 100%;
    }
  }
}
