//------------------------------------------------------------------------------
//  Block
//------------------------------------------------------------------------------
.shelf__wrapper {
  background-color: $ui-white;

  .shelf {
    background-color: transparent;
    border: none;
    position: relative;

    &:not(.shelf--header) {
      top: -1em;
    }

    @media screen and (max-width: $mq-nine-ish) {
      &:not(.shelf--header) {
        top: 0;
      }
    }
  }


  //viewports (across all devices) smaller than 500-ish pixels
  @media screen and (max-width: $mq-five-ish) {
    &.shelf__wrapper--signup {
      .form_module {
        width: auto;
      }
    }
  }
}

.shelf {
  background-color: $ui-white;
  border: 1px solid $inset;
  font-size: 1.5em;
  margin: 0 auto;
  text-align: left;
  max-width: 1150px;

  @media screen and (max-width: $mq-nine-ish) {
    border-left: 0;
    border-right: 0;
    width: auto;

    .media_image,
    .media_body,
    .media_module {
      overflow: visible;
    }

    .media_body,
    .media_image {
      display:  block;
    }

    .shelf__lining {
      margin: 0;
      float: none;
      padding-left: 0;
      padding-right: 0;
      width: auto;
    }

    .shelf__img--iphone {
      width: 37%;
    }

    .shelf__img--iphone_horizontal {
      margin: 70px auto;
      width: 90%;
    }
  }
}

//------------------------------------------------------------------------------
//  Elements
//------------------------------------------------------------------------------
.shelf__lining {
  padding: 0em 3.5em;
}

.shelf__h1 {
  font-size: 2.2em;
  margin-bottom: 1em;
}

.shelf__h2 {
  margin-bottom: 1em;
}

.shelf__block {
  line-height: 1.5;
}

.shelf__link {
  &:hover {
    text-decoration: underline;
  }
}
