.shelf__wrapper--stream {
  background-image: image-url("bg-2.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;

  .media_module {
    background-image: image-url("ipad-channels.png");
    background-position: 95% 42%;
    background-repeat: no-repeat;
    -webkit-background-size: 590px;
    background-size: 590px;

  }
}

.shelf--stream {
  max-width: 1200px;

  .shelf__lining {
    padding-right: 0;
    position: relative;
    z-index: 1;
  }

  &,
  .shelf__block {
    color: $ui-white;
  }

  .shelf__img--ipad {
    float: right;
    margin: 65px 0px  39px 0;
    visibility: hidden;
    width: 840px;
  }

  .shelf__h1 {
    font-size: 1.8em;
    margin-top: 200px;
  }
  .shelf__block {
    margin-bottom: 30px;
  }

  .shelf__list {

    img {
      @include roundies(input);

      margin-right: 7px;
    }
  }

  @media screen and (max-width: $mq-nine-ish) {
    .shelf__lining {
      margin: 2em auto 0;
      float: none;
    }
  }
}
