//------------------------------------------------------------------------------
//  Overrides
//------------------------------------------------------------------------------

//  Screens that LESS THAN 625px tall.
@media screen and (max-height: 630px) {
  //share pane shortlink hack
  .guide-overlay__foot--frame-rolling {
    top: 460px;
  }
}

//  Screens that LESS THAN 1100px wide.
@media screen and (max-width: 1100px) {
  //////////////////////////////////////////////////////////////////////////////
  //  Guide
  //////////////////////////////////////////////////////////////////////////////
  .sidebar_module {
    width: 300px;
  }
  //////////////////////////////////////////////////////////////////////////////
  //  Onboarding
  //////////////////////////////////////////////////////////////////////////////
  .onboarding {
    padding-left: 300px;
  }
  //////////////////////////////////////////////////////////////////////////////
  //  user-card
  //////////////////////////////////////////////////////////////////////////////
  .user {
    font-size: 1em;
  }
  .user__button {
    margin-top: 1.2em;
  }
  //////////////////////////////////////////////////////////////////////////////
  //  hacky fucking thing
  //////////////////////////////////////////////////////////////////////////////
  .welcome-message__wrapper {
    left: 300px;
  }
  //////////////////////////////////////////////////////////////////////////////
  //  Frame
  //////////////////////////////////////////////////////////////////////////////
  .main-layout {
    .frame-body {
      .frame-thumbnail {
        height: 100px;
      }
    }

    .frame {
      .button_command--cancel {
        margin-top: 1.3em;
      }

      .frame__tab {
        font-size: 0.7em;
      }

      // .share_menu {
      //   min-width: 13em;
      // }

      .frame-footer {
        margin: 5px 5px 2px;

        .xuser-avatar {
          height: 18px;
          width: 18px;
          margin-right: 5px;
        }

        .xuser-avatar--facebook,
        .xuser-avatar--twitter,
        .xuser-avatar--tumblr,
        .xuser-avatar--featured {
          &:before {
            font-size: 0.9em;
          }
        }
      }
    }

    .button_command {
      font-size: 1.1em;
    }

    .button_command--sub {
      font-size: 1em;
    }

    // .frame-subsection {
    //   margin-top: 0.25em;
    // }

    .frame-collapsed {
      .frame-thumbnail {
        height: 70px;
      }
    }
  }
}//eo media-query///////////////////////////////////////////////////////////////

//  Screens that LESS THAN 600px wide.
@media screen and (max-width: 600px) {
  //touch interfaces with narrow viewports
  .touch {
  }// eo touch
}//eo media-query///////////////////////////////////////////////////////////////
