//------------------------------------------------------------------------------
//  Mobile Overrides
//------------------------------------------------------------------------------

//  Screens that LESS THAN 625px tall.
@media screen and (max-height: 630px) {
}

//  Screens that LESS THAN 1100px wide.
@media screen and (max-width: 1100px) {
}//eo media-query///////////////////////////////////////////////////////////////

//  Screens that LESS THAN 600px wide.
@media screen and (max-width: 600px) {
  .shelby--mobile {
    &.shelby--shares {
      .share_panel {
        bottom: 0;
        left: 0;
        margin-top: 5px;
        position: relative;
        top: 0;
        width: auto;
      }
    }
    &.shelby--shares_enabled {
      .share_panel {
        margin-top: 0;
      }
    }
    //
    .shelf--header {
      .shelf__lining {
        padding-left: 0;
        padding-right: 0;
      }
    }
    .shelf--error {
      padding: 0 1em;
    }
    //nav fittings
    .shelby-logo {
      .icon-type {
        display: none;
      }
    }
    //branding + header
    .shelby-logo {
      .shelby_logo {
        padding-right: 6px;
      }
    }
    .app_nav__button--settings {
      .button_label {
        display: none;
      }
    }
  }

  .frame-footer {
    .media_body {
      font-size: 1.1em;
    }
  }
}//eo media-query///////////////////////////////////////////////////////////////
