//------------------------------------------------------------------------------
//  Overrides
//------------------------------------------------------------------------------

//  Screens that < 1100px wide.
@media screen and (max-width: 1100px) {
  //icon normalization, compensates for small typeface proportions
  [class*="icon-"]:before {
    vertical-align: -0.1em;
  }
  //////////////////////////////////////////////////////////////////////////////
  //  Guide
  //////////////////////////////////////////////////////////////////////////////
  .sidebar_module {
    width: 300px;
  }

  //////////////////////////////////////////////////////////////////////////////
  //  Frame
  //////////////////////////////////////////////////////////////////////////////
  .frame-body {
    .frame-thumbnail {
      height: 100px;
    }
  }

  .frame-footer {
    margin: 5px 5px 2px;

    .xuser-avatar {
      // display: inline-block;
      height: 18px;
      width: 18px;
      margin-right: 5px;
    }
  }

  .frame-command {
    margin: .75em 0 0 .75em;
    padding: .55em .8em .6em;
  }

  .frame-command-menu {
    .menu_item {
      &.right {
        .frame-command {
          margin: .75em .75em 0 0;
        }
      }
    }
  }

  .frame-subsection {
    margin-top: 0.25em;

    .frame-command {
      margin: 0;
      padding: .55em .8em .6em 0;
    }
  }

  .frame-collapsed {
    .frame-thumbnail {
      height: 70px;
    }
  }

  //////////////////////////////////////////////////////////////////////////////
  //  Persistent Video Info
  //////////////////////////////////////////////////////////////////////////////
  .persistent_video_info__list--actions {
    font-size: 1.1em;

    .persistent_video_info__button {
      padding-left: .5em;
      padding-right: .5em;
    }
  }

  .video-search-form {
    .form_label {
      font-size: 1.2em;
    }
  }
}