@import "base";

.mobile-search{

  .mobile-search-form{
    margin: 10px auto;
    text-align: center;
    width: 100%;
    .mobile-search-spinner{
      position: absolute;
      margin-top: -26px;
      right: 50%;
    }
  }

  #header {
    a{
      margin-top: 7px;
      margin-right: 8px;      
    }
  }
  .mobile-logo {
    @include background(
  		url('../images/genius/landing_logo.svg') no-repeat left center transparent
  	);
  	background-size:135px;
    height: 35px;
    margin-left: 30px;
  }
  
  #search-history {
    margin: 40px auto;
  }

  #mobile-frames {

   width: 330px;
   margin: 50px auto auto;

   .search-frame {
     margin: 10px auto;

     .video-title {
       @include basefont;
       font-size: 12px;
       background-color: black;
       width: 320px;
       padding: 10px 5px 5px;
       margin-top: -5px;
     }
   }

   .search-button {
     width: 120px;
     height: 40px;
     border-radius: 6px;
     margin: 0 115px;
     padding: 1px;
     background-color: #999;
   }

  }
}
