//------------------------------------------------------------------------------
//  Mobile Base
//------------------------------------------------------------------------------
.shelby--mobile {
  .shelby-header {
    height: 41px;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
  }
}