//---------------------------
//  TODO: fix this list shit 
//---------------------------

.list,
.rolls-list,
.form-rolls-list,
.existing-rolls-list > ul {
  margin: 0;
  padding: 0;

  li {
    list-style-type: none;  
    &:first-child {
      .xframe {
        border-top: none;
      }
    }
  }
}

//---------------------------
//  animation module 
//---------------------------

.animate_module,
.animate-easein {
  @include animate;
}

//---------------------------
//  media module, what up! 
//  thanks to @stubbornella.
//---------------------------

.media_module {
  margin : $media-module-margin;
  position : relative;
}

.media_body,
.media_image {
  overflow: hidden;
  zoom: 1;
}

.media_image {
  float: left;
  margin-right: 10px;
}

.media_body {
  p {
    margin: 0 0 .5em 0;
  }
}

//---------------------------
//  modular image
//---------------------------

.image_module {
  @include background-size(cover);

  background-color: $thumbnail_default_bg;
  background-position: center center;
  background-repeat: no-repeat;
  display: block;
}

//---------------------------
//  modular menu framework
//  menu appears in the frame
//---------------------------

.menu_module {
  display: none;
}

.menu_list,
.menu_sublist {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu_sublist {
  display: none;
  width: 106px;
}

.menu_item:hover {
  .menu_sublist{
    display: block;
  }
}

.menu_item {
  float: left;

  &.right {
    float: right;
    //float LI to the right
    text-align: right;
    //child el (button) is display:inline by default,
    //this is like a fake float right
    //makes the sublist margin effective.
  }
}

//---------------------------
//  modular list framework
//---------------------------

.list_module {
  margin: 0;
  list-style-type: none;
  padding: $list-module-spacing;
}

.list_item {
}

.list_button {

  &:hover {
    background-color: $list-item-bg-hover;
  }
}

//---------------------------
//  modular overlay framework
//  
//    overlays have two main parts:
//    header and body.
//    this abstraction is a primer for
//    the content separation.
//    *must be used for any overlay 
//---------------------------

.overlay_header {
  height: $overlay_header_height;
}

.overlay_body {
  bottom: 0;
  position: absolute;
  overflow-y: auto;
  top: $overlay_header_height;
  width: 100%;
}

//---------------------------
//  modular form framework
//
//    base styling to make any/all
//    inputs consistent throughout
//    the entire app
//---------------------------

.form_module {

}

.form_fieldset {
  margin-top: 1em;
}

.form_label {
  font-family: $font-family-display;
  font-size: 1em;
  font-weight: 400;
  display: block;
  line-height: 1.75;
}

.form_input,
.form_textarea {
  @include roundies(input);
  @include transition-property('border');
  @include transition-duration(0.25s);
  @include transition-timing-function(ease-in);

  border: 1px solid adjust-lightness($inset, -15%);
  display: block;
  font-size: 1.2em;
  padding: .5em;
  width: 100%;

  &:focus {
    outline: none;
    border: 1px solid adjust-lightness($inset, -50%);
  }
}

.form_textarea_subline {
  margin: .25em 0 0;
  opacity: .5;
  text-align: right;
}

.form_input {
//  margin-bottom: 1em;
}

.form_textarea {

}

.form_submit {
  @include button-primer($shelby-blue, dark, wide);

  .spinner {
    left: auto;
    margin-left: -4px;
    margin-top: -2px;   
    position: relative;
  }
}

//---------------------------
//  share form framework
//
//    TODO: make share_module a sub-class of form_module
//---------------------------

.share_module {

}

.share_label {
  float: left;
  margin-right: 5px;
}

.share_label_icon {
  display: block;
  float: left;
  height: 30px;
  width: 30px;
}

.share_input {

}

.share_input:checked {

}

//---------------------------
//  dropdown framework
//  used in header nav
//
//    contextless-abstraction, 
//    any/all hoverable dropdowns should
//    use the the dropdown_module
//
//    1. dropdown_button and dropdown_section are siblings
//    2. dropdown_icon is the child icon of dropdown_button,
//       indicates that button is a dropdown
//---------------------------

.dropdown_module {
  position: relative;

  &:hover {
    .dropdown_section {
      display: block;
    }
  }
}

.dropdown_button {
}
  .dropdown_icon {
    background-image: url($icon-carrot);
    background-repeat: no-repeat;
    background-position: right center;
    font-style: normal;
    padding-right: 1em;
  }

.dropdown_section {
  display: none;
  position: absolute;
  z-index: 4;
}

.dropdown_lining {
  position: relative;
  //DO NOT SET AN MARGIN/PADDING OFFSET HERE.
  //Offsets are stylistic and relative to a particlar context
  //i.e. class="dropdown_lining nowplaying-section-lining",
  //.nowplaying-section-lining applies offset.
}

//---------------------------
//  social-login framework
//---------------------------

.social_login_twitter {
  @include x-logged-out-networks-buttons($twitter-blue);

  margin-right: 20px;
  
  &:before{
    background-image: url($icon-share-twitter-on);
    background-position: 30% 50%;
    background-size: 82%;
  }

  &:hover {
    @include x-logged-out-networks-buttons(adjust-lightness($twitter-blue, 5%));
  }

  &:active {
    @include x-logged-out-networks-buttons(adjust-lightness($twitter-blue, -5%));
  }
}

.social_login_facebook {
  @include x-logged-out-networks-buttons($facebook-blue);

  &:before{
    background-image: url($icon-share-facebook-on);
    background-position: 30% 50%;
    background-size: 72%;
  }

  &:hover {
    @include x-logged-out-networks-buttons(adjust-lightness($facebook-blue, 5%));
  }

  &:active {
    @include x-logged-out-networks-buttons(adjust-lightness($facebook-blue, -5%));
  }
}

