//---------------------------
//  animation module 
//---------------------------

.animate_module,
.animate-easein {
  @include animate;
}

//---------------------------
//  media module, what up! 
//  thanks @stubbornella.
//---------------------------

.media_module {
  margin-bottom : ($media-module-margin - 3);
  margin-left   : $media-module-margin;
  margin-right  : $media-module-margin;
  margin-top    : $media-module-margin;
  position      : relative;
}

.media_body,
.media_image {
  overflow: hidden;
  zoom: 1;
}

.media_image {
  float: left;
  margin-right: 10px;
}

.media_body {
  p {
    margin: 0 0 .5em 0;
  }
}

//---------------------------
//  modular image
//---------------------------

.image_module {
  @include background-size(cover);

  background-color: adjust-lightness(#efefef,2%);
  background-position: center center;
  background-repeat: no-repeat;
  display: block;
}

//---------------------------
//  modular menu framework
//---------------------------

.menu_module {
  display: none;
}

.menu_list,
.menu_sublist {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu_sublist {
  display: none;
  width: 106px;
}

.menu_item:hover {
  .menu_sublist{
    display: block;
  }
}

.menu_item {
  float: left;

  &.right {
    float: right;
    //float LI to the right
    text-align: right;
    //child el (button) is display:inline by default,
    //this is like a fake float right
    //makes the sublist margin effective.
  }
}

//---------------------------
//  modular list framework
//---------------------------

.list_module {
  margin: 0;
  list-style-type: none;
  padding: $list-module-spacing;
}

.list_item {
}

.list_button {

  &:hover {
    background-color: $list-item-bg-hover;
  }
}

//---------------------------
//  modular overlay framework
//---------------------------

.overlay_header {
  height: $overlay_header_height;
}

.overlay_body {
  bottom: 0;
  position: absolute;
  overflow-y: auto;
  top: $overlay_header_height;
  width: 100%;
}

//---------------------------
//  modular form framework
//---------------------------

.form_module {

}

.form_fieldset {
  margin-top: 1em;
}

.form_label {
  font-family: $font-family-display;
  font-size: 1em;
  font-weight: 400;
  display: block;
}

.form_input,
.form_textarea {
  @include roundies(input);
  @include transition-property('border');
  @include transition-duration(0.25s);
  @include transition-timing-function(ease-in);

  border: 1px solid adjust-lightness($inset, -15%);
  display: block;
  font-size: 1.2em;
  padding: .5em;
  width: 100%;

  &:focus {
    outline: none;
    border: 1px solid adjust-lightness($inset, -50%);
  }
}

.form_textarea_counter {
  margin: .25em 0 0;
  opacity: .5;
  text-align: right;
}

.form_input {
  margin-bottom: 1em;
}

.form_textarea {

}