.app_search__form {
  margin-top: 3px;
  font-size: 1.3em;
}

.app_search__label {
  @include transition-property('background-color, width');
  @include transition-duration(0.25s);
  @include transition-timing-function(ease-in);

  background-color: #CCC;
  border-radius: 15px;
  display: inline-block;
  margin-top: 3px;
  position: relative;
  width: 220px;

  &.focused {
    background-color: #FFF;
    .icon-search {
      color: $ui-black;
    }
  }

  .icon-search {
    color: $ui-soft-black;
    font-size: 1.5em;
    left: 0;
    margin: 0.1em 0 0 0.2em;
    position: absolute;
    top: 0;
  }
}

.app_search__input {
  // font-size: 1.1em;
  border: none;
  background: transparent;
  padding: 0.45em 0.7em 0.5em 2.1em;
  width: 100%;

  &:focus {
    outline: 0;
  }
}