.nav-search-form {
  margin-top: 1px;
}

.nav-search-form-text {
  @include transition-property('background-color, width');
  @include transition-duration(0.25s);
  @include transition-timing-function(ease-in);

  background-color: #CCC;
  border-radius: 15px;
  display: inline-block;
  margin-top: 4px;
  width: 220px;

  &.focused {
    background-color: #FFF;
  }

  &.icon {
    background-position: .55em center;
    -webkit-background-size: 18px;
    background-size: 18px;
  }

  input {
    font-size: 1.1em;
    border: none;
    background: transparent;
    padding: 0.45em 0.7em 0.5em 2.1em;
    width: 100%;

    &:focus {
      outline: 0;
    }
  }
}