
.notification {
  background-color: $ui-green;
  color: $ui-white;
  font-size: 1.3em;
  left: 0;
  line-height: 1.2;
  position: absolute;
  text-align: center;
  top: 41px;
  width: 100%;
  z-index: 10000;
  opacity: 0.95;
  border-bottom: solid 1px $ui-gray;
}
