@import "base";

.notifications-wrapper {
	display: none;
}

.notifications-lining{
	@include x-button-primer;

	position: absolute;	
	left: 50%;
  top: 50%; 
	width: 332px;
	height: 133px;
	margin-left: -330px;
	margin-top: -75px;
	padding:0px;
	z-index: 5;
}

.notification{
	width: 100%;
	height: 100%;
	font-size: 14px;
	overflow: hidden;

	.message {
		color: #ffffff;
		text-align: center;
		font-weight: 300;
		line-height:1.5;
		padding:0px 8px;
		top: 17px;
		position: absolute;
		width: 100%;
	}
	.button-wrapper{
		position: absolute;
		width: 100%;
		bottom: 12px;
		.disabled{
			display: none;
		}
	}
	
	.notification-confirm { @include xx-button-primer($shelby-blue,dark); }
	.notification-cancel { @include xx-button-primer; }
	button.red { @include xx-button-primer($shelby-red,dark); }
	button.blue { @include xx-button-primer($shelby-blue,dark); }
	button.grey { @include xx-button-primer($shelby-gray,dark); }
	
	.one_button{
		.notification-confirm{
			width: 80px;
			margin-left: 126px;
		}
		.notification-cancel{
		  display: none;
		}			
	}
	.two_button{
		.notification-confirm{
			float: right;
			margin-right: 55px;
			width: 100px;
		}
		.notification-cancel{
			float: left;
			margin-left: 55px;
			width: 100px;
		}
	}
}

/* lightweight auto-dismissed informational style */
.notifications-lining.info {
	top: 85px;
	height: 39px;
	
	.notification {
		
		.message {
			top: 8px;
		}
	
		.button-wrapper {
			bottom: 3px;
			right: 0;
			width: 42px;
		}
	
		button.notification-confirm {
			float: right;
			margin-right: 3px;
			width: 42px;
		}
	
	}
}
