//------------------------------------------------------------------------------
// NOTIFICATIONS Block
//------------------------------------------------------------------------------
.notifications {

}

//------------------------------------------------------------------------------
// Single NOTIFICATION Block
//------------------------------------------------------------------------------

//------------------------------------------------------------------------------
//  Block
//------------------------------------------------------------------------------

.notification__wrapper {
  left: 50%;
  margin-left: -300px;
  position: absolute;
  top: 36px;
  width: 600px;
  z-index: 4;

  &.hide {
    height: 0;
  }
}

.notification {
  font-size: 1.3em;
  padding: 1em;

}

//------------------------------------------------------------------------------
//  Elements
//------------------------------------------------------------------------------

.notification__button {

}

.notification__link {

}

.notification__message {

}

//------------------------------------------------------------------------------
//  Head
//------------------------------------------------------------------------------

.notification__head {

}


//------------------------------------------------------------------------------
//  Body
//------------------------------------------------------------------------------

.notification__body {

}


//------------------------------------------------------------------------------
//  Modifiers
//------------------------------------------------------------------------------

.notification--feedback {
  @include gradient-primer($shelby-blue);
  @include roundies(footer);

  //  Elements

  .notification__button {

  }

  .notification__link {

  }

  .notification__message {

  }

  //  Head

  .notification__head {

  }


  //  Body

  .notification__body {

  }

}