//------------------------------------------------------------------------------
//  onboard modules
//------------------------------------------------------------------------------
.onboarding_list_module {
  list-style-type:none;
  margin: 0 auto;
  padding: 0;
}
//------------------------------------------------------------------------------
//  onboarding guide list
//------------------------------------------------------------------------------
.onboarding-guide-list {
  .item-complete:not(.active-list-item) {
    .guide-link {
      opacity: .5;
    }
  }
}


////////////////////////////////////////////////////////////////////////////
//  onboarding_layout:
//  setup for the fixed header situation
////////////////////////////////////////////////////////////////////////////
$onboarding-head-height: 125px;

.onboarding_layout_head {
  height: $onboarding-head-height;
}

.onboarding_layout_body {
  bottom: 0;
  position: absolute;
  top: $onboarding-head-height;
  width: 100%;
}

//------------------------------
//  onboard architectural priming 
//------------------------------
.onboarding-content-pane  {
  background: adjust-lightness($base, 5%);
  box-shadow: $shadow;
  position: relative;
  text-align: center;
  z-index: 4;
}

.onboarding-content-wrapper  {
}

.onboarding-guide-list-item {
  &:hover {
    display: none;
  }

  button {
    cursor: auto;
  }
}

  //------------------------------
  //  onboarding head/body
  //------------------------------
  .onboarding-head {
    background-color: darken($base,1%);
  }

  .onboarding-header  {
    font-size: 2.8em;
    margin-top: 38px;
  }
  .onboarding-subheader  {
    font-size: 1.2em;
    font-weight: 300;
    line-height: 2.3;
  }

  .onboarding-body {
    overflow-y: auto;
  }

  .onboarding-body-lining {
    margin: 3em;
  }

//------------------------------------------------------------------------------
//  onboarding abstracts, generic stuff
//------------------------------------------------------------------------------
.onboarding-block-container,
.onboarding-form-container {
  max-width: 330px;
  margin:  0px auto;

  &.wide {
    max-width: none;//this can change according to any needs
  }

  p {
    font-family: $font-family-display;
    font-size: 1.2em;
    font-weight: 300;
    text-align: center;
  }

  .onboarding-form-disclaimer {
    font-size: .8em;
  }
}


//------------------------------------------------------------------------------
//  onboarding 'next step'
//------------------------------------------------------------------------------ 
.onboarding-next-step-wrapper {
  font-size: 1.2em;
  margin: 38px 20px 0;
  position: absolute;
  right: 0;
  top: 0;
}

.onboarding-next-step {
  @include button-primer($shelby-blue);

//  font-size: 1.1em;

  &.deselected {
    @include button-primer;
  }

  .player-play {
    background-position: center center;
    color: transparent;
    display: block;
    font: 0/0 a;
    height: 20px;
    width: 50px;
    text-indent: -100%;
  }
}

.onboarding-next-step-counter {
  color: #666;
  display: block;
  font-size: .8em;
  font-weight: bold;
  line-height: 2;
}

.onboarding-error {
  display: none;
  color: $shelby-red;
}

.onboarding-subline {
  color: $font-color-light;
  font-size: .8em;
  margin: .5em 0;
}

//------------------------------------------------------------------------------
//  form related
//------------------------------------------------------------------------------

/* empty for now */

//------------------------------------------------------------------------------
//  STAGE 1
//------------------------------------------------------------------------------
.onboarding-stage-1 {

}

.onboarding-form-1 {
  font-size: 1.2em;
  position: relative;
  text-align: left;

  //------------------------------
  //  TODO: 
  //  dynamic-avatar needs refactoring
  //  for now this is a hacky override 
  //------------------------------

  .form_label.no-subline {
    margin-top: 1em;
  }

  .dynamic-avatar {
    border:1px solid $avatar-outline;
    float: none;

    .progress-overlay {
      opacity: 0.5;
      top: 0;
      z-index: 1;
    }

    .progress-message {
      color: white;
      font-family: $font-family-display;
      font-size: 1.2em;
      font-weight: 500;
      margin-top: -0.5em;
      position: absolute;
      text-align: center;
      top: 50%;
      width: 100%;
      z-index: 2;
    }

    .spinner-overlay {
      .spinner {
        margin-left:33.3333%;
        margin-top:33.3333%;
      }
    }
  }
}

  //------------------------------
  //  avatar upload module 
  //------------------------------
  .onboarding-form-avatar {
    position: relative;
    margin: 0 auto;
    width: 138px;

    .user-avatar,
    .shelby-avatar {
      width: 100%;
    }
  }

  .onboarding-form-avatar-thumb {
    height: 138px;
    overflow: hidden;
    width: 138px;
  }

  .onboarding-form-avatar-file {
    margin-top: 1em;
    font-size: .7em;
  }


.onboarding-vanity-url {
//  font-size: 22px;
}

.onboarding-username {
  position: relative;

  &.show-context {
    .onboarding-username-http,
    .onboarding-username-shelbytv {
      opacity: 1;
    }
  }
}

.onboarding-username-input {

}

.onboarding-username-http,
.onboarding-username-shelbytv {
  font-family: $font-family-display;
  font-size: 1.2em;
  font-weight: 100;
  line-height: 2;
  opacity: 0;
  position: absolute;
  top: 0;
}

.onboarding-username-http {
  left: -53px;
}

.onboarding-username-shelbytv {
  right: -73px;
}

.onboarding-form-subline {
  font-size: .7em;
}

//------------------------------------------------------------------------------
//  STAGE 2
//------------------------------------------------------------------------------
.onboarding-stage-2 {

}

.onboarding-follow-more-count {
  &.onboarding-follow-more-highlight {
    color: $shelby-red;
  }
}

.onboarding-category-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.onboarding-category-item {
  border-top:1px solid $inset;
  border-bottom: 1px solid $outset;

  &:first-child {
    border-top: none;
  }

  &:last-child {
    border-bottom: none;
  }
}

.onboarding-category-item-lining {
  padding: 1em;
}

.onboarding-category-header {
  font-size: 1.5em;
  padding: .25em;
  text-align: left;
}

.onboarding-roll-list {
  img {
    width: 100%;
  }
}

.onboarding-roll-item {
  float: left;
  margin: 0;
  padding: 2px;
  width: 16.666667%;
}

.onboarding-roll-button {
  @include gradient-primer($base, 15%);
  @include roundies(input);

  border: 1px solid darken($base,5%);
  display: block;
  margin: 10px 0;
  padding: 5px;
  position: relative;
  text-align: left;
  width: 100%;

  &:hover:not(.followed) {
    @include gradient-primer(lighten($base, 10%));

    border: 1px solid lighten($base,2%);

    .onboarding-roll-status {
      display: block;
    }
  }

  &:active:not(.followed) {
    @include gradient-primer(darken($base,25%),25%);
  
    border: 1px solid darken($base,15%);
  }

  &.followed {
    border: 1px solid $shelby-green;
    background: transparent;

    .onboarding-roll-head {
      opacity: .2;
    }

    .onboarding-roll-status {
      border: none;
      display: block;

      p{
        &:after {
          color: $shelby-green;
          content: "Following";
        }
      }
    }

    &:hover {
      border: 1px solid $shelby-gray;

      p {
        &:after {
          color: $shelby-gray;
          content: "Unfollow";
        }
      }
    }
  }
}

.onboarding-roll-body {
  position: relative;
}

.onboarding-roll-head,
.onboarding-roll-subhead {
  @include ellipsis;
}

.onboarding-roll-head {
  font-size: 1.39em;
  padding-bottom: 0.25em;
}

.onboarding-roll-subhead {
  font-weight: 100;
  font-size: 0.8em;
  letter-spacing: 1px;
  line-height: 1.9;
  margin-bottom: 8px;
}

.onboarding-roll-status {
  background-color: rgba(255,255,255,0.9);
  border: 1px solid lighten($shelby-gray,50%);
  display: none;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;

  p {
    &:after {
      @include ellipsis;

      color: $shelby-gray;
      content: "Follow";
//      display: none;
      font-family: $font-family-display;
      font-size: 1.5em;
      font-weight: 500;
      margin-top: -.75em;
      position: absolute;
      text-align: center;
      top: 50%;
      width: 100%;
    }
  }
}

.onboarding-stage-2-next-step {
  @include button-primer;

  &.onboarding-next-step-highlight {
    @include button-primer($shelby-blue, dark);
  }
}

//------------------------------------------------------------------------------
//  STAGE 3
//------------------------------------------------------------------------------
.onboarding-stage-3 {
  font-size: 1.2em;
}

.onboarding-network-list {
  list-style: none;
  margin: 20px auto;
  padding: 0;
  width: auto;
}

.onboarding-network-item {
  display: inline-block;
  margin-right: 2%;
  margin-left: 2%;
  padding: 0;
  width: 25%;
  vertical-align: top;
}

.onboarding-network-button {
  &.onboarding-connected-network {
    @include button-primer($shelby-gray-light);
  }

  width: 100%;
}

.onboarding-network-lining {
  margin-left: 5px;
  margin-right: 5px;
}

.onboarding-network-description {
  font-family: $font-family-display;
  font-size: .9em;
  font-weight: 400;
  min-height: 55px;
  margin-top: .5em;

  span {
    text-transform: capitalize;
  }
}

////////////////////////////////////////////////////////////////////////////
//  network button icon class structure
////////////////////////////////////////////////////////////////////////////
.onboarding-icon {
  background-repeat: no-repeat;
  background-position: center center;
  display: block;  
  height: 105px;
}

.onboarding-network-twitter {
  @include button-primer($twitter-blue);

  &:hover {
    &:not([disabled]) {
      @include button-primer(adjust-lightness($twitter-blue, 5%));
    }
  }
  &.onboarding-connected-network {
    .onboarding-icon {
      background-image: url($icon-onboarding-twitter-added);
    }
  }
  .onboarding-icon {
    background-image: url($icon-onboarding-twitter-add);
  }
}

.onboarding-network-facebook {
  @include button-primer($facebook-blue);

  &:hover {
    &:not([disabled]) {
      @include button-primer(adjust-lightness($facebook-blue, 5%));
    }
  }

  &.onboarding-connected-network {
    .onboarding-icon {
      background-image: url($icon-onboarding-facebook-added);
    }
  }

  .onboarding-icon {
    background-image: url($icon-onboarding-facebook-add);
  }
}

.onboarding-network-tumblr {
  @include button-primer($tumblr-blue);

  &:hover {
    &:not([disabled]) {
      @include button-primer(adjust-lightness($tumblr-blue, 5%));
    }
  }

  &.onboarding-connected-network {
    .onboarding-icon {
      background-image: url($icon-onboarding-tumblr-added);
    }
  }

  .onboarding-icon {
    background-image: url($icon-onboarding-tumblr-add);
  }
}

.onboarding-network-additional-options {
  background-color: #E2E2E2;
  margin-top: 2.5em;
  padding: 5px;
  text-align: left;
  input { margin: 4px 0 0; }
  p {
    line-height: 1.231;
    margin: 0;
  }
}

//------------------------------------------------------------------------------
//  STAGE 4
//------------------------------------------------------------------------------
.onboarding-stage-4 {
  font-size: 1.2em;

  .onboarding-block-container {
    margin-top: 1em;
  }
}

////////////////////////////////////////////////////////////////////////////
//  this is the 'roll' button in the messaging
////////////////////////////////////////////////////////////////////////////
.onboarding-inline-button {
  @include button-primer($x-primer-color, $primer-tone, $primer-button-context, false);

  display: inline-block;
  font-size: .7em;
  margin: 0 .25em;

  .icon-roll {
    padding-left: 1.3em;
  }
}

.onboarding-username-display {
  @include ellipsis;

  font-size: 2em;
}

.onboarding-stage-4-rolling-demo {
  border: 1px solid #adadad;
  height: 400px;
  margin: 30px auto 0 auto;
  position: relative;
  width: 700px;
}

.onboarding-stage-4-rolling-demo-image {
  height: 100%;
  left: 0;
  position: absolute;
  width: 100%;
  top: 0;
}

.onboarding-custom-tv-url {
  font-family: sans-serif;
  font-size: 13px;
  font-weight: 500;
  left: 510px;
  overflow: hidden;
  position: absolute;
  text-align: left;
  top: 61px;
  width: 176px;
}

.onboarding-stage-4-avatar-wrapper {
  background-color: black;
  position: absolute;
}

.onboarding-stage-4-avatar {
  display: block;
  opacity: 0.7;
}

.onboarding-stage-4-avatar-wrapper-video-card {
  left: 28px;
  top: 222px;
}

.onboarding-stage-4-avatar-video-card {
  height: 31px;
  width: 31px;
}

.onboarding-stage-4-avatar-wrapper-roll-header {
  left: 428px;
  top: 87px;
}

.onboarding-stage-4-avatar-roll-header {
  height: 37px;
  width: 37px;
}

.onboarding-stage-4-avatar-wrapper-in-roll {
  left: 445px;
  top: 286px;
}

.onboarding-stage-4-avatar-in-roll {
  height: 33px;
  width: 33px;
}

.onboarding-stage-4-username {
  color:#454545;
  font-weight: bold;
  position: absolute;
}

.onboarding-stage-4-username-video-card {
  color: #5E5E5E;
  font-size: 10px;
  font-weight: bold;
  left: 67px;
  line-height: 1;
  top: 222px;
}

.onboarding-stage-4-username-roll-header {
  color: #3B3B3B;
  font-size: 13px;
  font-weight: bold;
  left: 473px;
  line-height: 40px;
  top: 86px;
}

.onboarding-stage-4-username-in-roll {
  color: #5E5E5E;
  font-size: 11px;
  font-weight: bold;
  left: 488px;
  line-height: 1.2;
  top: 286px;
}

//------------------------------------------------------------------------------
//  onboarding mediqueries
//------------------------------------------------------------------------------
@media all and (max-width: 1080px){
  .onboarding-header {
    font-size: 2em;
  }
}

@media all and (max-width: 1280px){
  .onboarding-network-description {
    br {
      display: none;
    }
  }
}
