@import "base";
//------------------------------------------------------------------------------
//  Modernizr.touch
//------------------------------------------------------------------------------
.touch {
  .preroll-video-info-wrapper {
    font-size: 1.3em
  }
}

//------------------------------------------------------------------------------
//  full width
//------------------------------------------------------------------------------
.full-width { 
  .preroll-video-info-wrapper {
    padding-right: 80px;
  }
}

//------------------------------------------------------------------------------
//  preroll video info
//------------------------------------------------------------------------------
.preroll-video-info-wrapper {
  left: 0;
  position: absolute;
  top: 50%;
  width: 100%;
  z-index: 2;


  &.showing {
    .preroll-video-info {
      opacity: 1.0;
    }
  }

  &.post-display {
    /* get the entire thing out of the way after it fades */
    top: 200%;
    @include transition-property('top');
    @include transition-duration(0s);
    @include transition-delay(1.5s);
  }

}

.preroll-video-info {
  @include text-shadow(0px -1px 0px #000);

  background: rgba(0,0,0, 0.5);
  color: white;
  margin: -25% 6em;
  opacity: 0.0;
  padding: 2em;

  @include transition-property('opacity');
  @include transition-duration(1s);
  @include transition-timing-function(ease-in-out);
  @include transition-delay(0s);

  .video-title {
    font-size: 40px;
    font-weight: bold;
  }

  .frame-creator {
    font-size: 23px;
    img {
      width: 48px;
    }
  }

  .frame-comment {
    font-size: 30px;
    margin: 25px 0 35px 0;
  }
  
}