//TODO: it appears that this partial needs a new name.

//------------------------------------------------------------------------------
//  List of Buttons/Actions in guide_head
//------------------------------------------------------------------------------
//Block
.guide__list {
}

  //Modifier
  .guide__list--rolls {
    .guide__button {}
  }

//Elements
.guide__button {
  float: right;
  margin: 4px 6px 4px 0;
  padding: 0.5em 1em;
}