/*
	Styles the form in step 2/2 when rolling
*/

//---------------------------
//  wrapper for all UI below the
//  video card and rolling message
//---------------------------
.rolling-option {
  font-size: 1.2em;
  position: absolute;
  width: 100%;

  .form_fieldset--social {
    //soon to be obsolete
    .button_primer {
      text-align: center;
    }
  }

  .form_fieldset--submit {
    margin-top: 2em;
  }
}

.share-option {
	margin-top: 8px;
}

.share-option-twitter,
.share-option-facebook {
  margin-right: 5px;
}

.share-button-twitter,
.share-button-facebook {
  background-position: center center;
  background-repeat: no-repeat;
  border: 1px solid $inset !important;
  border-radius: $radius;
}

.share-button-twitter {
  background-image: url($icon-share-twitter-off);
  background-size: contain;
}

.share-button-facebook {
  background-image: url($icon-share-facebook-off);
  background-size: contain;
}

.share-option-twitter:checked {
  & ~ .share-button-twitter {
    background-color: $twitter-blue;
    background-image: url($icon-share-twitter-on);
    border-color: adjust-lightness($twitter-blue, -20%) !important;
  }
}

.share-option-facebook:checked {
  & ~ .share-button-facebook {
    background-color: $facebook-blue;
    background-image: url($icon-share-facebook-on);
    border-color: adjust-lightness($facebook-blue, -15%) !important;
  }
}