/*
	Styles the form in step 2/2 when rolling
*/

@import "base";

fieldset.rolling-fields {
	border-bottom: 1px solid #333;
	margin: $defaultMargin;
	padding-bottom: $defaultMargin;
	
	&:last-child {
		border-bottom: none;
	}
	
	.section-label {
		font-size: 14px;
		font-weight: 500;
	}

	.roll-selection-item-title {
		padding-top: 0;

		.path {
			@include ellipsis();
			display: inline;
			max-width: 125px;
		}
		
    #new-roll-name {
			display:inline-block;
			width: auto;
		}
	}
}

.roll-options-input {
  @include inputfont;
  @include opacity(0.8);
  @include roundies(input);

  border: 1px solid $inset;
  padding: 5px;
  margin-bottom:5px;

  &:focus{
    @include transition-property('opacity');
    @include transition-duration(0.25s);
    @include transition-timing-function(ease-in);
    @include opacity(1);
  }
}

.roll-options-submit {
  @include xx-button-primer($shelby-blue, dark, wide);

  float: right;
  margin: 8px 0;
}

/* sliders */
fieldset.share-option {
	margin-top: 5px;
	
	.label {
		font-weight: 100;
		padding-top: 6px;
	}
}

.share-status-label {
	float: right;
	margin-right: 45%;
}

/* generic slider style */
.share-status-label {
  @include roundies;

  border: 1px solid $inset;
  cursor: pointer;
  display: block;
  font-family: 'Arial';
  font-size: .875em;
  height: 29px;
  overflow: hidden;
  position: relative;
	width: 80px;
}

.share-status-checkbox {
  @include transition-property('all');
  @include transition-duration(0.25s);
  @include transition-timing-function(ease-out);

  display: block;
  height: 1px;
  left: 0;
  margin: 3px;
  position: absolute;
  top: 0;
  width: 1px;

  &:focus {
    border: none;
    outline: none;
  }
}

.share-status-checkbox ~ .share-status-description {
  @include transition-property('all');
  @include transition-duration(0.25s);
  @include transition-timing-function(ease-out);

  color: transparent;
  display: block;
  font: 0/0 a;
  height: inherit;
  line-height: 1.231;
  overflow: hidden;
  padding-left: 46px;
  padding-top: 2px;
  text-align: left;
  text-shadow: none;
}

.share-status-checkbox ~ .share-status-description:before {
  color: $button-color;
  content: "Off";
  font: 300 12px/2 'Ubuntu',Trebuchet MS,sans-serif;
}

.share-status-checkbox ~ .share-status-chrome {
  @include transition-property('all');
  @include transition-duration(0.25s);
  @include transition-timing-function(ease-out);

  @include roundies;

	background-color: #999;
  border: 1px solid #4d4d4d;
  box-shadow: inset 0px 1px 0px 0px #a6a6a6;
  content: "\0020";
  display: block;
  left: 0px;
  margin: 0px;
  position: absolute;
  height: inherit;
  top:-1px;
  width: 35px;
}

.share-status-checkbox:checked {
	/* make sure traditional checkbox is not visible */
  top: 500px;
}

.share-status-checkbox:checked ~ .share-status-description {
  text-align: left;
  padding-left: 14px;
}

.share-status-checkbox:checked ~ .share-status-description:before {
  content: "On";
}

.share-status-checkbox:checked ~ .share-status-chrome {
  left: 43px;
}

/* twitter slider icon */
#share-on-twitter.share-status-checkbox ~ .share-status-chrome {
  background-image: url($icon-share-twitter-off);
  background-position: 0 center;
  background-repeat: no-repeat;
}

#share-on-twitter.share-status-checkbox:checked ~ .share-status-chrome {
  background-image: url($icon-share-twitter-on);
  background-position: 0 center;
}

/* facebook slider icon */
#share-on-facebook.share-status-checkbox ~ .share-status-chrome {
  background-image: url($icon-share-facebook-off);
  background-position: 0 center;
  background-repeat: no-repeat;
}

#share-on-facebook.share-status-checkbox:checked ~ .share-status-chrome {
  background-image: url($icon-share-facebook-on);
  background-position: 0 center;
}