/*
	Styles the list elements used in step 1 in the Rolling overlay
*/
@import "base";

.existing-rolls-list {
	.rolling-main-header {
		border-top: none;
	}
}

.existing-rolls-list > ul {
	cursor: pointer;
	margin: 0;
	
	a {
		display: block;
		height: inherit;
		text-decoration: none;

		&:visited{
			text-decoration: none;
		}

		&:hover,
		&:active{
			@include gradient-primer($video-card-bg-color, 5%);
		}
	}
}

.roll-selection-item {
	border-bottom:  1px solid $inset;
}

.roll-selection-item-lining {
	background: url($icon-chevron-right) no-repeat 97% center transparent;
	border-top:  1px solid $outset;
	padding: 0 0 10px 10px;
}

.roll-selection-item-title {
	@include ellipsis();

	font-size: 14px;
	padding-top: 10px;
	padding-right: 45px;
	
	.path {
		font-weight: 100;
		color: #555;
	}
}

.roll-selection-item-state {
	font-size: 11px;
	color: #777;
}