.video-search-form {
  padding: 5px 10px;
  position: relative;

  .form_label {
    font-size: 1.45em;
    margin-bottom: 0.2em;
  }
}

.video-search-button {
  font-size: 1.2em;
  padding: 0.45em 1em 0.6em;
}