.video-search-form {
  padding: 5px 10px;
  position: relative;

  .form_label {
    font-size: 1.45em;
    margin-bottom: 0.2em;
  }

  .button_primer {
    margin-left: 0.5em;
    padding: 0 2em;
  }
}

