@import "compass/typography/links/unstyled-link";
//------------------------------------------------------------------------------
//  SEOVIDEO PRIVATE VARS
//------------------------------------------------------------------------------
$seo-column-main: 900px;
$seo-column-left: 640px;
$seo-column-right: 200px;

$related_video__height: 195px;
////////////////////////////////////////////////////////////////////////////
//  non-normative
////////////////////////////////////////////////////////////////////////////
.xuser-data-timestamp {
  font-size: 0.8em;
  line-height: 1.9;
}

.xuser-data-origin-name {
  opacity: 0.6;
}

//------------------------------------------------------------------------------
//  seovideo setup
//------------------------------------------------------------------------------
html,body{
  height:100%;
  margin:0;
  padding:0;
  width:100%;
}

body{
  // background-color:#f8f8f8;
  background-color:#dddddd;
  bottom:0;
  color: $font-color;
  font-family: $font-family;
  font-size: 81.25%;
  font-weight: normal;
}

a {
  @include unstyled-link;

  &:hover,
  &:visited,
  &:active{
    color: inherit;
  }
}

p {
  margin: 0 0 .25em;
}

//------------------------------------------------------------------------------
//  abstracts
//------------------------------------------------------------------------------
.seovideo__list {
  list-style: none;
  margin: 0;
  padding: 0;

  .seovideo__item {

  }
}

.seovideo__h1 {
  font-family: $font-family-display;
  font-size: 1.6em;
  font-weight: 400;
  text-align: center;
}

.seovideo__h2 {
  font-size: 1.1em;
  font-weight: bold;
  margin: 0 0 0.25em;
}

.seovideo__h3 {
  color: #666;
  font-size: 1em;
  font-weight: bold;
  margin: 0;
}

.seovideo__h4 {
  font-weight: bold;
  margin: 0.5em 0;
}

.seovideo__thumbnail {
  display: block;
  background-color: #000;
  background-position: center center;
  -webkit-background-size: cover;
  background-repeat: no-repeat;
  background-size: cover;
  height: 130px;
  position: relative;

  &:before {
    border-radius: 92px;
    background-color: #000;
    color: #FFF;
    font-size: 2.25em;
    height: 71px;
    line-height: 2.5;
    left: 50%;
    margin-left: -36px;
    opacity: 0.5;
    padding-left: 5px;
    position: absolute;
    text-align: center;
    top: 25%;
    width: 71px;
  }

  &:hover {
    &:before {
      opacity: 1;
    }
  }
}
//------------------------------------------------------------------------------
//  seovideo architecture
//------------------------------------------------------------------------------

.content-wrapper {
  margin: 0px;
  width: 100%;
}

.shelby-header {
  position: relative;

  .shelby_logo {
    font-size: 1.5em;
  }
}

.seovideo-wrapper {
  margin: 0 auto;
  max-width: $seo-column-main;
}

//------------------------------------------------------------------------------
//  seovideo
//------------------------------------------------------------------------------
.seovideo__wrapper {

}

.seovideo {
  max-width: $seo-column-left;
  margin: 1.5em auto 0.5em;
}

.seovideo__head {
  padding: 0.7em 1em 0;

  .seovideo__h1 {
    margin: 0.425em 6em;
  }

  //non-normative overrides
  .shelby-logo {
    font-size: 2.5em;
    position: absolute;
  }
}

.seovideo__main {

}

//------------------------------------------------------------------------------
//  seovideo banner
//------------------------------------------------------------------------------
.seovideo__banner_wrapper {
  max-width: 600px;
  margin: 0 auto;
}

.seovideo__banner {
  margin: 2em 0;
}

.form_module--search {
  font-size: 1.4em;

  .button_primer {
    margin-left: 8px;
    padding: 0em 2em;
  }
}

//------------------------------------------------------------------------------
//  seovideo video
//------------------------------------------------------------------------------
.seovideo__video {
  embed,
  & > iframe,
  & > embed,
  & > object {
    width: 100%;

  }
}

.seovideo__video_details {
  padding: 0.5em 0em;

  p {

  }
}

.seovideo__list--social {
  margin-top: 1em;

  .seovideo__item {
    display: inline-block;
    vertical-align: top;
  }
}

//------------------------------------------------------------------------------
//  seovideo related
//------------------------------------------------------------------------------

.seovideo__aside {
  max-width: $seo-column-main;
  margin: 0 auto;

  .seovideo__h1 {
    line-height: 2;
    margin: 0.4em 0 0;
  }

  .seovideo__h4 {
    line-height: 1.5;
    font-size: 1.25em;
  }
}
  .seovideo__aside_lining {
    padding: 0 1em 1em;
  }

  .seovideo__list--aside {

    .seovideo__item {
      padding: 1em;
      float: left;
    }

    .seovideo__h4 {
    }

    .seovideo__link {
      &:hover {
        .related_video {
          background-color: #fff;
        }
      }
    }
  }

//------------------------------------------------------------------------------
//  seovideo related
//------------------------------------------------------------------------------
//messages section
.seovideo__messages {
  max-width: $seo-column-left;
  margin: 0 auto;
  padding: 0 0 2em;

  .seovideo__h3 {
    margin-top: 2em;
  }

  .seovideo__list {
    border-bottom: 1px solid $outset;
    border-top: 1px solid $inset;
  }

  .seovideo__item {
    border-bottom: 1px solid $inset;
    border-top: 1px solid $outset;
  }
}

//individual messages
.seovideo__message {
  min-height: 2.6em;

  .seovideo__block {
    margin-right: 80px;
  }
}

//------------------------------------------------------------------------------
//  SOCIAL MEDIA STUFF
//------------------------------------------------------------------------------
.seovideo-social {
  margin: 8px 8px 8px -83px;
        float: right;
        width: 75px;
}

.twitter-share-button {
  display: block;
  float: right;
        width: 100%;
}

.fb_edge_widget_with_comment,
.fb-like span {
    height: 21px;
    overflow: hidden;
    position: relative;
}

.fb-like iframe {
    overflow: hidden;
    position: absolute;
    top: -41px;
}

.seovideo-social-button {
  width: 100%;
  display: block;
  text-align: right;
  height: 25px;
}

#disqus_thread{
  float: left;
  width: 640px;
  margin-right: 20px;
  margin-top: 30px;
  padding: 12px;
}

////////////////////////////////////////////////////////////////////////////
//  narrow screens
////////////////////////////////////////////////////////////////////////////
@media only screen and (max-width : 900px) {
  .seovideo__head {
    .shelby_logo {
      font-size: 0.9em;
      padding-left: 0;
    }

    .seovideo__h1 {
      font-size: 1em;
      margin-right: 0;
      margin-top: 0.9em;
      text-align: right;
    }
  }

  .seovideo__video_details {
    padding: 0.5em;
  }
}

@media only screen and (max-width : 470px) {
  .seovideo__video {
    & > iframe,
    & > embed,
    & > object {
      height: 200px;
    }
  }

  .seovideo__head {
    .seovideo__h1 {
      font-size: 0.9em;
      margin-top: 1.25em;
    }
  }


  .seovideo__h2 {
    margin-left: 0.5em;
  }

  .seovideo__aside {
    margin: 1em;
  }

  .seovideo__list--aside {
    .seovideo__item {
      float: none;
      margin: 20px 2px;
      width: auto;

      &:first-child {
        margin-top: 1px;
      }
    }
  }

  .seovideo__messages {
    padding: 0 1em;

    .seovideo__h3 {
      margin-top: 0;
    }

    .seovideo__list {
      margin-bottom: 2em;
    }
  }
}

////////////////////////////////////////////////////////////////////////////
//  for wide screens
////////////////////////////////////////////////////////////////////////////
@media only screen and (min-width : 1200px) {
}
