@import "compass/typography/links/unstyled-link";
//------------------------------------------------------------------------------
//  SEOVIDEO PRIVATE VARS
//------------------------------------------------------------------------------
$seo-column-main: 900px;
$seo-column-left: 640px;
$seo-column-right: 200px;

$related_video__height: 195px;
////////////////////////////////////////////////////////////////////////////
//  non-normative
////////////////////////////////////////////////////////////////////////////
.xuser-data-timestamp {
  font-size: 0.8em;
  line-height: 1.9;
}

.xuser-data-origin-name {
  opacity: 0.6;
}

//------------------------------------------------------------------------------
//  seovideo setup
//------------------------------------------------------------------------------
html,body{
  height:100%;
  margin:0;
  padding:0;
  width:100%;
}

body{
  // background-color:#f8f8f8;
  background-color:#dddddd;
  bottom:0;
  color: $font-color;
  font-family: $font-family;
  font-size: 81.25%;
  font-weight: normal;
}

a {
  @include unstyled-link;

  &:hover,
  &:visited,
  &:active{
    color: inherit;
  }
}

p {
  margin: 0 0 .25em;
}

//------------------------------------------------------------------------------
//  abstracts
//------------------------------------------------------------------------------
.seovideo__list {
  list-style: none;
  margin: 0;
  padding: 0;

  .seovideo__item {

  }
}

.seovideo__h2 {
  font-family: $font-family-display;
  font-size: 1.3em;
  font-weight: 400;
  margin: 0 0 0.25em;
}

.seovideo__h3 {
  color: #666;
  font-size: 1em;
  font-weight: bold;
  margin: 0;
}

.seovideo__thumbnail {
  display: block;
  background-color: #000;
  background-position: center center;
  -webkit-background-size: cover;
  background-repeat: no-repeat;
  background-size: cover;
  height: 130px;
}
//------------------------------------------------------------------------------
//  seovideo architecture
//------------------------------------------------------------------------------

.content-wrapper {
  margin: 0px;
  width: 100%;
}

.shelby-header {
  position: relative;
}

.seovideo-wrapper {
  margin: 0 auto;
  max-width:$seo-column-main;
}

//------------------------------------------------------------------------------
//  seovideo
//------------------------------------------------------------------------------
.seovideo__wrapper {

}

.seovideo {
  max-width: 640px;
  margin: 2em auto;
}

.seovideo__main {

}

//------------------------------------------------------------------------------
//  seovideo banner
//------------------------------------------------------------------------------
.seovideo__banner_wrapper {
  max-width: 600px;
  margin: 0 auto;
}

.seovideo__banner {
  margin: 2em 0;
}

.form_module--search {
  font-size: 1.4em;

  .form_input {
    display: block;
    width: 100%;
  }

  .form_submit {
    display: block;
    padding: 0.71em 2em;
  }
}

//------------------------------------------------------------------------------
//  seovideo video
//------------------------------------------------------------------------------
.seovideo__video {
  & > iframe,
  & > embed,
  & > object {
    max-width: 100%;

  }
}

.seovideo__video_details {
  padding: 1.0em 1.5em;

  p {

  }
}

.seovideo__list--social {
  margin-top: 1em;

  .seovideo__item {
    display: inline-block;
    vertical-align: top;
  }
}

//------------------------------------------------------------------------------
//  seovideo related
//------------------------------------------------------------------------------

.seovideo__aside {
  .seovideo__h3 {
    margin: 2em 0 1em;
    line-height: 1.5;
  }
}

.seovideo__aside_lining {

}

.seovideo__list--aside {

  .seovideo__item {
    display: block;
    float: left;
    margin-bottom: 10px;
    width: 50%;

    &:nth-child(2n+1) {
      padding-right: 5px;
    }
    &:nth-child(2n) {
      padding-left: 5px;
    }
  }

  .seovideo__h4 {
    margin: 0;
    font-weight: normal;
  }

  .seovideo__link {
    &:hover {
      .related_video {
        background-color: #fff;
      }
    }
  }
}

// the related video design requires some complex css.
// that's why we're creating this "related_video" block.
.related_video {

}

.related_video__main {

}

.related_video__footer {
  height: 65px;
  display: table;
  width: 100%;
}

.related_video__footer-lining {
  display: table-cell;
  margin: 0 auto;
  padding: 1em;
  vertical-align: middle;
  width: 100%;

  .seovideo__h4 {
    padding-right: 1.5em;

    &.icon {
      background-size: 1em;
    }
  }
}

//------------------------------------------------------------------------------
//  seovideo related
//------------------------------------------------------------------------------
//messages section
.seovideo__messages {
  padding: 0 0 2em;

  .seovideo__h3 {
    margin-top: 2em;
  }

  .seovideo__list {
    border-bottom: 1px solid $outset;
    border-top: 1px solid $inset;
  }

  .seovideo__item {
    border-bottom: 1px solid $inset;
    border-top: 1px solid $outset;
  }
}

//individual messages
.seovideo__message {
  min-height: 2.6em;

  .seovideo__block {
    margin-right: 80px;
  }
}

//------------------------------------------------------------------------------
//  SOCIAL MEDIA STUFF
//------------------------------------------------------------------------------
.seovideo-social {
  margin: 8px 8px 8px -83px;
        float: right;
        width: 75px;
}

.twitter-share-button {
  display: block;
  float: right;
        width: 100%;
}

.fb_edge_widget_with_comment,
.fb-like span {
    height: 21px;
    overflow: hidden;
    position: relative;
}

.fb-like iframe {
    overflow: hidden;
    position: absolute;
    top: -41px;
}

.seovideo-social-button {
         width: 100%;
         display: block;
         text-align: right;
         height: 25px;
}

#disqus_thread{
  float: left;
  width: 640px;
  margin-right: 20px;
  margin-top: 30px;
  padding: 12px;
}

////////////////////////////////////////////////////////////////////////////
//  narrow screens
////////////////////////////////////////////////////////////////////////////
@media only screen and (max-width : 470px) {
  .seovideo__video {
    & > iframe,
    & > embed,
    & > object {
      height: 200px;
    }
  }

  .seovideo__aside {
    margin: 1em;
  }

  .seovideo__list--aside {
    .seovideo__item {
      float: none;
      margin: 20px 2px;
      width: auto;

      &:first-child {
        margin-top: 1px;
      }

      &:nth-child(2n+1) {
        padding-right: 0;
      }

      &:nth-child(2n) {
        padding-left: 0;
      }
    }
  }

  .seovideo__messages {
    padding: 0 1em;

    .seovideo__h3 {
      margin-top: 0;
    }

    .seovideo__list {
      margin-bottom: 2em;
    }
  }
}
////////////////////////////////////////////////////////////////////////////
//  for wide screens
////////////////////////////////////////////////////////////////////////////
@media only screen and (min-width : 1200px) {
  .seovideo {
    max-width: 980px;
  }

  .seovideo__main {
    float: left;
    margin-right: 20px;
    width: 640px;
  }

  .seovideo__aside {
    margin: 1px;
    float: right;
    width: 318px;

    .seovideo__h3 {
      margin-bottom: 0.25em;
      margin-top: 0.2em;
    }
  }

  .seovideo__list--aside {
    .seovideo__item {
      float: none;
      margin: 20px 2px;
      width: auto;

      &:first-child {
        margin-top: 1px;
      }

      &:nth-child(2n+1) {
        padding-right: 0;
      }

      &:nth-child(2n) {
        padding-left: 0;
      }
    }
  }

  .seovideo__messages {
    max-width: 640px;
  }
}

////////////////////////////////////////////////////////////////////////////////
//  AB TEST
////////////////////////////////////////////////////////////////////////////////
.seovideo__item--advertisement {
  .seovideo__link {
    &:hover {
      text-decoration: underline;
    }
  }

  .seovideo__h4 {
    font-size: 1.2em;
    font-family: $font-family-display;
    font-weight: bold;
    margin-bottom: 0.25em;
  }


  .related_video__footer-lining {
    margin-right: 10px;
    // text-shadow: 1px 0px 2px black;

    & > .icon {
      padding-right: 1em;
      -webkit-background-size: 1em;
      background-size: 1em;
    }
  }
}
////////////////////////////////////////////////////////////////////////////
//  AB Test: SEO AD, text size
//
//  ab_test("seo_ad_text_size", "large", "small") do |config|
//
////////////////////////////////////////////////////////////////////////////
.seo__item--advertisement-large {
  font-size: 1.4em;
  line-height: 1.3;
}

.seo__item--advertisement-small {
  //do nothing
}

////////////////////////////////////////////////////////////////////////////
//  AB Test: SEO AD, videocard
//
//  ab_test("seo_ad_videocard", "obvious", "subtle") do |config|
//
////////////////////////////////////////////////////////////////////////////

.seo__item--advertisement-obvious {
  //advertisement-large is being carried on to this test:
  //otherwise, the ad isn't 'different'

  font-size: 1.4em;
  line-height: 1.3;

  .seovideo__h4 {
    font-size: 1.1em;
    font-weight: 400;
  }

  .related_video__footer-lining {
    text-shadow: 1px 0px 2px black;
  }

  .related_video__footer {
    color: #efefef;
    height: $related_video__height;
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
  }

  .seovideo__thumbnail {
    background-image: url('/images/seovideo/seo_holiday_4.jpg');
    height: $related_video__height;
  }

  .seovideo__subline {
    display: none;
  }
}

.seo__item--advertisement-subtle {
  &:hover {
    .icon {
      background-image: none;
    }
  }

  .br--obvious {
    display: none;
  }

  .seovideo__h4 {
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.3;
  }

  .seovideo__subline {
    bottom: 0;
    color: #999;
    font-size: 0.8em;
    margin: 0.35em 0.6em;
    position: absolute;
    right: 0;
  }

  .seovideo__thumbnail {
    background-image: url('/images/seovideo/seo_holiday_3.jpg');
  }
}

////////////////////////////////////////////////////////////////////////////
//  AB Test: SEO prepopulate
//
//  ab_test("seo_search_prepopulat", true, false) do |config|
//
////////////////////////////////////////////////////////////////////////////

.seovideo__banner_wrapper--true {
  //if search input is prepopulated with search term that brought user to page
  margin-top: 22px;
  padding: 18px 22px 1px;

  .seovideo__h2 {
    text-align: center;
    font-family: $font-family-display;
    font-size: 1.8em;
    font-weight: 300;
  }
}

.seovideo__banner_wrapper--false {
  .seovideo__h2 {
    display: none;
  }
}