//------------------------------------------------------------------------------
//  ABSTRACTS in _overlay.scss

//------------------------------------------------------------------------------
//  ROOT

.guide-overlay--frame-sharing {
}

//------------------------------------------------------------------------------
//  HEAD

.guide-overlay__head--frame-sharing {
  //non-normal: .discussion__h1 is applied to the head.
  //provides BG color and font color.
}

  .guide-overlay__title {
  }

//------------------------------------------------------------------------------
//  BODY

.guide-overlay__body--frame-sharing {
  padding:1.5em 8px;

  .form_module {

  }

  .frame-sharing {

  }
}

//  BELOW IS NON-NORMATIVE

.frame-sharing__to-label {
  float: left;
  margin-right: 0.5em;
  margin-bottom: 0.5em;
}