@import "base";

.frame-share{
//	extended by .rolling-frame;
	@include background(hsla(0,0,0,0.8));

	height:100%;
	top:40px;
}

.frame-share-content{
	height:inherit;
}

.frame-share-header{
	//extended by .video-card-header;
}

.frame-sharing__to-label {
  float: left;
  margin-right: 0.5em;
}

.frame-sharing__roll-selection {
  max-width: 200px;
}

.frame-sharing__message-label {
  margin-top: .1em;
}