.shelby--signup {
  background: $ui-gray;

  //non-normative overrides
  .shelby__head {
    padding: 1em 2em;
  }

  .shelby_logo {
    font-size: 5em;
  }

  .form__legend {
    line-height: 1.6;
    margin-bottom: 1em;
    text-align: center;
  }

  .form__description {
    font-size: 0.7em;
    line-height: 2.5;
  }

  .roll_card {
    font-size: 0.8em;
    text-align: left;
  }
}


/*
  Every stage has its own .signup block.
  The stages are as follows:
  content, social, profile
*/

//block
.signup {
  font-size: 1.5em;
  margin: 0 auto;
  text-align: center;
  width: 45em;
}
    //modifiers (stages)
    .signup--content {
    }
    .signup--social {
    }
    .signup--profile {
      width: 33em;

      .avatar__wrapper {
        margin-top: 2.7em;
        width: 150px;

        input[type="file"] {
          font-size: 9px;
        }
      }

      .form_fieldset {
        text-align: left;
      }
    }

//elements
.signup__h1 {
  font-family: $font-family-display;
  font-weight: 400;
}
.signup__h2 {
  color: $ui-soft-black;
  font-size: 1em;
  font-weight: normal;
  margin-bottom: 1em;
}