//------------------------------------------------------------------------------
//  Modernizr.touch
//------------------------------------------------------------------------------
.touch {
  .guide_body {
    overflow: hidden;
  }

  //------------------------------------------------------------------------------
  //  Frame

  .frame-body-wrapper {
    box-shadow: none;
    border: 1px solid rgba(0,0,0,.2);
  }

  //------------------------------------------------------------------------------
  //  Preroll video info

  .preroll-video-info-wrapper {
    font-size: 1.3em
  }

  .preroll-video-info-wrapper {
    font-size: .5em;
    top: 0;
  }
  .preroll-video-info {
    margin: 15em 15em 0;
  }
  
  //------------------------------------------------------------------------------
  //  Player controls
  
  .videoplayer-controls__wrapper {
    display: none;
  }
  
  .video_progress--mini__wrapper {
    z-index: 2;
  }

  //------------------------------------------------------------------------------
  //  Persistent video Info

  .hide-guide {
    .videoplayer-viewport {
      bottom: 5em;
    }

    .persistent_video_info__wrapper {
      bottom: -($persistent_video_info--height);
    }
  }

}//eo .touch
