//------------------------------------------------------------------------------
//  Modernizr.touch
//------------------------------------------------------------------------------
.touch {
  .guide_body {
    overflow: hidden;
  }

  .videoplayer-tools__wrapper,
  .videoplayer-controls__wrapper {
    font-size: 1.3em;
  }

  .video_progress {
    margin-top: 1.9em;
  }

  .video_controls__time {
    font-size: 1.05rem;
  }

  .video_progress__scrubber {
    border-radius: 2px;
    height: 35px;
    margin: -22px 0;
    width: 20px;
  }

//------------------------------------------------------------------------------
//  Frame

  .frame-body-wrapper {
    box-shadow: none;
    border: 1px solid rgba(0,0,0,.2);
  }

//------------------------------------------------------------------------------
//  Preroll video info

  .preroll-video-info-wrapper {
    font-size: 1.3em
  }

  .preroll-video-info-wrapper {
    font-size: .5em;
    top: 0;
  }
  .preroll-video-info {
    margin: 15em 15em 0;
  }


//------------------------------------------------------------------------------
//  Shelby Discussion Rolls

  //structural
  .discussion__body {
    padding-bottom: 55px;
  }

  .discussion__content {
    padding-left: 0;
    padding-right: 0;
  }
  ////////////////////////////////////////////////////////////////////////////
  //  reply UI
  ////////////////////////////////////////////////////////////////////////////
  .discussion-reply {

  }

  //media-module reply wrapper, reply lives in media_body
  .discussion__form-wrapper {
    float: right;
    margin-left: 0;
    margin-right: 0;
    max-width: 100%;
    width: 100%;

    .media_image {
      display: none;
    }
  }

  //actual reply form
  .discussion__form--discussion-reply {
    .form_fieldset {
      float: right;
      margin: 0;
      padding: 0 8px;
      width: 100%;
    }

    .form_textarea {
      border-radius: 15px;
      height: 30px;
      left: 50px;
      position: absolute;
      right: 75px;
      width: auto;
    }

    .form_submit {
      border-radius: 15px;
      float: right;
      margin-top: 0;
      padding: 7px 12px;
    }
  }

  //button to add attachments
  .discussion__button--attachment {
    border-radius: 15px;
    padding: 7px 12px;
    position: absolute;

    .full-text {
      display: none;
    }
    .icon {
      padding-left: .5em;
      display: block;
    }
  }

  ////////////////////////////////////////////////////////////////////////////
  //  search for video
  ////////////////////////////////////////////////////////////////////////////
  .form_module--attachment-search {
    text-align: center;

    .form_input,
    .form_textarea {
      left: 8px;
      position: absolute;
      right: 90px;
      width: auto;
    }

    .form_submit {
      display: inline;
      float: right;
      padding: 0.7em 1.0em 0.8em;
    }
  }

  .discussion__content--attachment {
    .discussion__button--cancel {
      height: 21px;
      left: 8px;

      .icon {
        display: inline-block;
      }

      .full-text {
        display: none;
      }
    }

    .discussion__list--attachment-results {
      .media_image {
        width: 33%;
      }
    }
  }

  //// Hide-guide for touch ///////////////////////////////////////////////////
  .hide-guide {
    .video_controls__wrapper {
      left: 0;
      right: 0;
    }

    .videoplayer-viewport {
      bottom: 5.6em;
    }

    .video_controls__wrapper {
      bottom: 0;
    }

    .persistent_video_info__wrapper {
      bottom: -$persistent_video_info__height;

    }
  }
}
