//------------------------------------------------------------------------------
//  Modernizr.touch
//------------------------------------------------------------------------------
.touch {
  .guide_body {
    overflow: hidden;
  }

  .videoplayer-tools__wrapper,
  .videoplayer-controls__wrapper {
    font-size: 1.3em;
  }

  .video_progress {
    margin-top: 1.9em;
  }

  .video_controls__time {
    font-size: 1.05rem;
  }

  .video_progress__scrubber {
    border-radius: 2px;
    height: 35px;
    margin: -22px 0;
    width: 20px;
  }

  //------------------------------------------------------------------------------
  //  Frame

  .frame-body-wrapper {
    box-shadow: none;
    border: 1px solid rgba(0,0,0,.2);
  }

  //------------------------------------------------------------------------------
  //  Preroll video info

  .preroll-video-info-wrapper {
    font-size: 1.3em
  }

  .preroll-video-info-wrapper {
    font-size: .5em;
    top: 0;
  }
  .preroll-video-info {
    margin: 15em 15em 0;
  }

//------------------------------------------------------------------------------
//  Persistent video Info

  .hide-guide {
    .videoplayer-viewport {
      bottom: 5em;
    }

    .video_controls__wrapper {
      bottom: 0;
      left: 0;
      right: 0;
    }

    .persistent_video_info__wrapper {
      bottom: -($persistent_video_info--height);
    }
  }

}//eo .touch
