//------------------------------------------------------------------------------
//  User Info Panel
//------------------------------------------------------------------------------
//------------------------------------------------------------------------------
//  Block
//------------------------------------------------------------------------------
.user_info {
  background-color: $base;
  height: 100%;
  float: left;
  width: $guide-width;

  // NON-NORMATIVE OVERRIDES
  .user_card {
    margin: 0 8px 8px 0;
  }
}

//------------------------------------------------------------------------------
//  Elements
//------------------------------------------------------------------------------



// .user-info-lining {
//   display: none;
//   height: 50%;
//   position: relative;
//   width: 50%;
// }

.user-info-lining, .user-channel-guide-lining {
  display: none;
}

.user-channel-guide-lining {
  height: 50%;
  overflow-y: auto;
  background-color: $base;
}

/* Overrides when showing user profile */

.show-user-profile {

  .content_lining {
    height:50%;
  }

  .user-info-lining, .user-channel-guide-lining {
    display: block;
  }

}

//------------------------------------------------------------------------------
//  user channel section specific
//------------------------------------------------------------------------------

.user-channel {
  width : 3000px;
  // TODO when load more is not broken, show it
  .load-more { display: none !important;}
}

.user-channel__wrapper {
  overflow-x : auto;
  margin: 10px;
}

.user-channel__title {
  float : left;
  width: 150px;
}

.user-channel__item {
  float: left;
  width: 300px;

  &:hover {
    .explore-frame-menu {
      display: block;
    }
  }
}

