//------------------------------------------------------------------------------
// User Inactivity Overrides, should be nested or compounded.
//------------------------------------------------------------------------------
.user-inactive {
  .js-app-header,
  .main-layout .guide-wrapper {
    opacity: .4;
  }

  .persistent_video_info__wrapper { //targeting the wrapper hack for user-profile shit
    .persistent_video_info {
      opacity: 0.4;
    }
  }

  .channel_menu {
    opacity: 0.7;
  }

  .hide-guide .persistent_video_info {
    opacity: 0.0;
  }

  .guide-toggle.hide,
  .guide-toggle.hide:hover {
    @include transition-delay(0s);

    width: 112px;

    .copy {
      @include opacity(1.0);
      @include transition-delay(.2s);
    }
  }

  .guide-toggle.show {
    border: none;
    box-shadow:none;
    right: -35px;
  }

  //elements in the videoplayer and videoplayer navigational buttons
  .videoplayer-nav__btn,
  .video_controls__wrapper {
    opacity: 0;
  }

  //Fade in when user is inactive
  .video_progress--mini__wrapper {
    opacity: 1.0;
  }
}
