@import "base";
//------------------------------------------------------------------------------
//  User Preferences Page
//------------------------------------------------------------------------------
.preferences{
  font-size: 1.2em;
}

.preferences-head {
  border-bottom: 1px solid $inset;
  font-size: 1.3em;
  padding: $default-margin;
}

////////////////////////////////////////////////////////////////////////////
//  abstract: used in all .form_fieldsets
////////////////////////////////////////////////////////////////////////////
.preferences-section {
  border-top: 1px solid $outset;
  border-bottom: 1px solid $inset;

  margin: 0;
  padding: $default-margin;
}

.preferences-form {
  .form_legend {
    font-size: 1.2em;
    margin-bottom: 1em;
  }

  .form_fieldset {
    font-size: 1em;
    font-weight: 500;
  }
}

.preferences-list {
  .list_item {
    margin-bottom: 1em;
  }
}

.preferences-checkbox {
  margin: .6em;
}

////////////////////////////////////////////////////////////////////////////
//  .form_fieldset.preferences-section.avatar-section
////////////////////////////////////////////////////////////////////////////
.avatar-section {

}

.avatar-section-body {

}

.avatar-section-viewport {
  float: left;
  width: 48px;
  height: 48px;

  .dynamic-avatar {
    border: 1px solid $avatar-outline;
    width: inherit;
    height: inherit;
  }

  .user-avatar {
    width: 100%;
  }
}

.avatar-section-input {

}

.avatar-section-input {
  input[type=file] {
    margin: 13px 0 0 10px;
  }
}

////////////////////////////////////////////////////////////////////////////
//  .form_fieldset.preferences-section.profile-section
////////////////////////////////////////////////////////////////////////////
.profile-section {

}

.profile-actions {
  margin-top: 10px;
  text-align: right;
}

.profile-action-cancel,
.profile-action-save {
  @include button-sizing;
}

////////////////////////////////////////////////////////////////////////////
//  .form_fieldset.preferences-section.password-section
////////////////////////////////////////////////////////////////////////////
.password-section {

}

.password-actions {
  margin-top: 10px;
  text-align: right;
}

.password-action-save {
  @include button-sizing;
}

////////////////////////////////////////////////////////////////////////////
//  .form_fieldset.preferences-section.networks-section
////////////////////////////////////////////////////////////////////////////
.networks-section {

}

.networks-username {
  float:right;
  line-height: 2.6;
  margin: 0;
}

.preferences-networks-twitter,
.preferences-networks-tumblr,
.preferences-networks-facebook {
  @include x-networks-badge;

  line-height: 2.4;
}

.preferences-networks-twitter{
  &:before{
    @include preferences-networks(twitter);
    background-size:76%;
  }
}

.preferences-networks-facebook{
  &:before{
    @include preferences-networks(facebook);
    background-size:28%;
  }
}

.preferences-networks-tumblr{
  &:before{
    @include preferences-networks(tumblr);
    background-size:36%;
  }
}

.connected-network-options {
  background-color: #eee;
  margin: 0 0 0 27px;
  padding: 5px;

  p {
    line-height: 1.231;
    margin: 0;
  }
}

.connected-network-checkbox {
  float: right;
}

.connected-network {
  @include button-primer($shelby-green, dark, wide);

  float:right;
  font-size: .8em;
}

////////////////////////////////////////////////////////////////////////////
//  .form_fieldset.preferences-section.notifications-section
////////////////////////////////////////////////////////////////////////////
.notifications-section {

}

.preferences-checkbox {
  float: right;
}