/*
    User Stats Page extends the Landing Shelves stuff
*/
//app-wide-overrides
.shelby--user-stats {
  .shelf--about {
    .icon-mark {
      &:before {
        font-family: 'Shelby' !important;
        margin: 0.3em 0.5em;
      }
    }
  }
}

//shelby specific
.shelf--stats-banner {
  background-image: url('/images/stats/drsztul.jpg');
  position: relative;

  &:before {
    background-color: rgba(0,0,0,.3);
    content: "\0020";
    height: 100%;
    left:0;
    position: absolute;
    top:0;
    width: 100%;
    z-index: 0;
  }

  .shelf__lining {
    position: relative;
    z-index: 1;
  }
}

.shelf--stats {
  .shelf__lining {
    width: 1080px;
  }

}

.frame_stats__list {
  margin: 1em auto;

  //non-normative overrides
  .frame {
    .frame-body-wrapper {
      margin-top: 0.5em;
    }
  }

  .frame-title {
    display: block;
    min-height: 3em;
  }

  .frame-body-wrapper {
    height: 18em;
    overflow: hidden;
  }

  .shelby-logo {
    .icon-mark {
      font-size: 5.3em;
      color: #6cbc45;
      margin-left: 7px;
    }
  }
}
  .frame_stats__item {
    float: left;
    font-size: 1.1em;
  }
      .frame_stats__item--frame {
        width: 330px;
      }
      .frame_stats__item--stats {
        width: 33.3333%;
      }
      .frame_stats__item--extras {
        width: 33.3333%;
      }

  .frame_stats__item_lining {
    padding: 0.8em;
  }

.stats__list {
  font-size: 3.6em;
  padding: 0.5em;

  .icon {
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
    display: inline-block;
    font-size: inherit;
    vertical-align: -0.1em;
  }

  .icon-views {
    background-image: url(/images/assets/eye.svg);
    height: 1em;
    width: 1em;
  }

  .icon-heart {
    color: $shelby-red;
  }
}

.extras {
  .extras__h1 {
    font-size: 2em;
  }

  //non-normative
  .frame-body-wrapper {
    padding: 1.1em 1.4em;
  }
}

/*
    Share Actions Block
*/
//block
.action_menu {
  bottom: 1em;
    font-size: 1.5em;
  left: 0;
  margin: 0.5em 1em;
  position: absolute;
  text-align: center;
  right: 0;

  .menu_list--share-frame {
    // font-size: 1.3em;
  }

  .icon-social_twitter {
    color: $twitter-blue;
  }

  .icon-social_facebook {
    color: $facebook-blue;
  }

  .icon-email {
    color: $shelby-green;
  }
}
    //modifier
    .action_menu--small {
      font-size: 1.1em;
    }

  //elements
  .action_menu__button {
    display: block;
    padding: 0.8em 1.6em;
  }

  .action_menu__button--search {
    margin-left: 0.5em;
  }

  .action_menu__button--roll {
    margin: 0 auto;
  }
