.preferences {
  font-size: 1.2em;
}

.guide-overlay__head--preferences{

}

.guide-overlay__body--preferences{
  .guide-overlay__list {
    .button_primer {
      background-image:none;
      border-top: none;
      border-left: none;
      border-radius: 0;
      border-right: none;
    }
  }
}

