@import "base";

.animate-easein {
  @include animate;
}
 
.videoplayer{
	background: #000;
	height:100%;
  margin-left: 330px;
  position: relative;
}

.videoplayer.full-width {
  margin-left:0px;
}

.videoplayer-viewport {
  position: relative;
  height: 100%;
  width: 100%;
  > * {
    position: absolute;
    top: 0; left: 0;
    width: inherit;
    height: inherit;
  }
  
  /* ooyala doesn't let you set % sizes when embedding, so we need to override here */
  #ooyala-player-holder div, #ooyala-player-holder object { width: 100%!important; height: 100%!important; }
}