@import "base";

//------------------------------------------------------------------------------
//  user-inactive controls show/hide triggers for various
//  elements in the videoplayer and videoplayer navigational buttons
//------------------------------------------------------------------------------
.user-inactive {
  .video-player-tools-wrapper {
    opacity: 0;
  }

  .video-player-nav-buttons-wrapper {
    .video-player-prev,
    .video-player-next {
      opacity: 0.0;
    }
  }
}

//------------------------------------------------------------------------------
//  Modernizr.touch
//------------------------------------------------------------------------------
.touch {
  .video-player-tools-wrapper {
    font-size: 1.3em;
  }
}

//------------------------------------------------------------------------------
//  VIDEO PLAYER setup,
//  video-player-tools-wrapper is purely for positioning.
//------------------------------------------------------------------------------
.video-player-tools-wrapper {
  bottom: 0;
  height: 5.2em;
  left: 0;
  opacity: 1;
  position: absolute;
  width: 100%;
  z-index: 2;
}


////////////////////////////////////////////////////////////////////////////
//  actual video player controller
////////////////////////////////////////////////////////////////////////////
.video-player-tools {
	background-color: $video-player;
	@include background( linear-gradient(top, adjust-lightness($video-player, 5%), $video-player) );
  @include roundies;

  border: 1px solid #202020;
  height: 4.1em;
  margin: $defaultMargin;
  padding: 0;
  position: relative;
}

//------------------------------------------------------------------------------
//  video player buttons
//------------------------------------------------------------------------------
  ////////////////////////////////////////////////////////////////////////////
  //  player controls module
  ////////////////////////////////////////////////////////////////////////////
  .videoplayer_button {
    background-color: transparent;
    border: none;
    height: 4em;
    float: left;
    padding: 0;
    width: 4.5em;

    i {
      display: block;
      height: inherit;
    }
  }

////////////////////////////////////////////////////////////////////////////
//  player controls
////////////////////////////////////////////////////////////////////////////
.video-player-roll {
  i {
    color: #b2b3b3;
    font-weight: 800;
    font-size: 1.1em;
    font-style: normal;
    line-height: 3.5em;
    &:hover {
      color: #e2e3e3;
    }
  }
  
  &:active {
    margin: 1px -1px -1px 1px;
  }
}

.video-player-play {
  &.pause {
    .icon-play {
      background-image:	url($icon-player-pause);
    }
  }
}

.video-player-volume {
	float:right;

	&.muted {
    .icon-volume {
      background-image: url($icon-player-sound-off);
    }
	}
}

.video-player-fullscreen {
  float: right;

  &.cancel {
    .icon-fullscreen {
      background-image: url($icon-player-fullscreen-disable);
    }
  }
}

.video-player-quality {
  float: right;

  &.hd-on {
    .icon-hd {
      background-image: url($icon-player-hd-on);
    }
  }

  &.disable-video-quality {
    .icon-hd {
      background-image: url($icon-player-hd-off);
      opacity: .7;
    }
  }
}


////////////////////////////////////////////////////////////////////////////
//  video player progress bar components
////////////////////////////////////////////////////////////////////////////
.video-player-progress {
  background: black;
  border-radius: $radius*2;
//<<<<<<< HEAD
//  height: 8px;
//  left: 60px;
//  right: 250px;
//  margin: 18px 8px 0;
//  position: absolute;
//=======
  height: 8px;
//  left:105px;
//  right:250px;
  margin: 1.8em  8px 0;
  overflow: hidden;
  position: relative;
//>>>>>>> master
}

.video-player-progress-load,
.video-player-progress-elapsed {

  background: $video-controls-progress-load;
  @include background(linear-gradient(top, adjust-lightness($video-controls-progress-load, 5%), $video-controls-progress-load));

  border-radius: $radius*2;
  height: 8px;
  width: 0;
}

.video-player-progress-elapsed {
  @include background($shelby-blue);

  margin-top:-8px;
}

.video-player-scrubber {
  background: #efefef;
  border-radius: 8px;
  box-shadow: 1px 0px 2px 1px black;
  cursor: pointer;
  cursor: ew-resize;
  height: 15px;
  left: 0;
  margin: -11px;
  position: absolute;
  width: 15px;
}

.video-player-timeline {
  color: #b2b2b2;
  float: right;
  font-size: 13px;
  font-size: 0.8rem;
  font-weight: 300;
  line-height: 3.5;
  margin: 0 15px;
}

//------------------------------------------------------------------------------
//  video player navigational buttons,
//  prev/next
//------------------------------------------------------------------------------
////////////////////////////////////////////////////////////////////////////
//  animation phases are unique to the rest of the app
////////////////////////////////////////////////////////////////////////////
.videoplayer_animate {
  	@include transition-property('opacity, margin-right');
  	@include transition-duration('.25s, .5s');
  	@include transition-timing-function('ease-out, ease-in-out');
  	@include transition-delay('0s, 0s');
}
////////////////////////////////////////////////////////////////////////////
//  container, positions prev/next buttons
////////////////////////////////////////////////////////////////////////////
.video-player-nav-buttons-wrapper {
  height: 40px;
  margin-top: -20px;
  position: absolute;
  top: 50%;
  width: 100%;
  z-index: 1;
}
////////////////////////////////////////////////////////////////////////////
//  shared props between both prev/next
//  thus module, hence underscore
////////////////////////////////////////////////////////////////////////////
.videoplayer_nav {
  @include gradient-primer($video-player);
  @include opacity(0.5);

  border: none;
  border-radius: $radius;
  height:40px;
  padding: 0;
  position:absolute;
  width: 40px;
  z-index: 2;

  &:hover {
    @include opacity(1.0);
  }

  .icon-next,
  .icon-prev {
    display: block;
    height: inherit;
  }
  ////////////////////////////////////////////////////////////////////////////
  //  compound, not nested
  ////////////////////////////////////////////////////////////////////////////
  &.video-player-prev {
    left: 20px;
  }

  &.video-player-next {
    right: 20px;
  }
}