//------------------------------------------------------------------------------
//  OVERRIDES
//------------------------------------------------------------------------------
//----- Override App Base Styles -----------------------------------------
//----- Modifiers --------------------------------------------------------
.shelby--zeddmore {
  .frame-collapsed {
    border: none;
    font-size: 11px;
    opacity: 1;
  }
  .frame-title {
    font-size: 13px;
  }
}


.shelf--zeddmore {
  .list--column {
    float: left;
  }
}
// ----- Non-normative Overrides -----------------------------------------------
