//------------------------------------------------------------------------------
//  OVERRIDES
//------------------------------------------------------------------------------
//----- Override App Base Styles -----------------------------------------
//----- Modifiers --------------------------------------------------------
.shelby--zeddmore {
  .shelf--header {
    .shelf__lining {
      padding: 0;
    }
  }
}

.shelf--zeddmore {
  //shelf related
  .shelf__h2 {
    padding: 20px 10px 0;
  }

  //unorganized
  .column {
    float: left;
  }
  .frame-collapsed {
    border: none;
    font-size: 11px;
    opacity: 1;
  }
  .frame-title {
    font-size: 13px;
  }
}
// ----- Non-normative Overrides -----------------------------------------------
.frame {
  .progress {
    // border: 1px solid $ui-soft-black;
    border-top: 0;
    height: 5px;
    margin-top: 0;
    position: relative;

    & > div {
      background-color: $ui-green;
      height: 100%;
      left: 0;
      top: 0;
      width: 50%; //default
    }
  }
}


//------------------------------------------------------------------------------
.lightbox {
  background-color: rgba(0,0,0,0.95);
  left: 0;
  height: 100%;
  position: fixed;
  right: 0;
  text-align: left;
  top: 0;
  z-index: 100;
}
    //framework
    .lightbox__lining { //wraps the __frame and __menu
      min-height: 400px;
      margin: 0 auto;
      min-width: 500px;
      max-width: 640px;
    }
    .lightbox__menu {
      margin: 10px;
      position: absolute;
      right: 0;
      text-align: right;
      top: 0;
      width: 640px;
    }
    .lightbox__frame {
      color: $ui-white;
      margin: 0 auto;
      text-align: left;
      width: 640px;
    }
    //elements
    .lightbox__h1 {
      margin-top: 2em;
      margin-bottom: 1em;
    }
    .lightbox__block {
      font-family: $font-family;
      font-size: 14px;
      line-height: 1.5;
      max-height: 300px;
      overflow-y: auto;
    }
