@import "base";

.video-guide {
	
	margin: 0;
	padding: 0; 
	position: relative;

	li {
		border-right: 1px solid #222;
		display: block;
		float: left;
		height: 42px;
		width: 50%;

		&:nth-of-type(4) {
			border-right: none;
			box-shadow: inset 1px 1px 1px #4d4d4d;
			width: 50%;
		}
	}

	button, button:visited {
		@include basefont;

		border: none;
		box-shadow: inset 0px 1px 0px #4d4d4d;
		color: #666;
		display: block;
		font-size: 11px;
		height: inherit;
		line-height: 5.5;
		text-align: center;
		text-decoration: none;
		text-transform: lowercase;
		width: 100%;

		&:hover {
			box-shadow: inset 0px 1px 0px #666;
			background-color: #444;
		}
		&:active {
			box-shadow: inset 0px 0px 10px #222;
		}

	}
	input {
		display: block;
		margin:  $defaultMargin 0;
		width: 100%;
	}

	.active-tab {
		box-shadow: inset 0px 1px 7px 0px #202020;

		&:hover {
			box-shadow: inset 0px 1px 7px 0px #111;
		}
	}

	.stream {
		@include background(
			url('../images/assets/stream.svg') no-repeat center center
		);
		
		&.active-tab {
			@include background(
				url('../images/assets/stream_on.svg') no-repeat center 1px #3f3f3f
			);
			color: #63BD57;
			&:hover {
				background-color: #3f3f3f;
			}
		}
	}

	.rolls {
		@include background(
			url('../images/assets/rolls.svg') no-repeat center center
		);
		
		&.active-tab {
			@include background(
				url('../images/assets/rolls_on.svg') no-repeat center 1px
			);
			color: #0092C1;
			&:hover {
				background-color: #3f3f3f;
			}
		}
	}
	.saves {
		@include background(
			url('../images/assets/saves.svg') no-repeat center center
		);
		
		&.active-tab {
			@include background(
				url('../images/assets/saves_on.svg') no-repeat center 1px
			);
			color: $shelby-purple;
			&:hover {
				background-color: #3f3f3f;	
			}
		}
	}
}

.dashboard-search {
	border-radius: $radius*4;
	margin: 0px 7px 3px;
	position: relative;

	i {
		background:  url('../images/assets/search.svg') no-repeat center center;
		height: 12px;
		margin: 5px;
		position: absolute;
		width: 12px; 
	}
	input[type="text"] {
		border: none;
		border-radius: $radius*4;
		padding: 3px 8px 3px 20px;
		
		&:focus {
			box-shadow: 0px 0px 5px 3px #666;
			outline: none;
		}
	}
}
