  <header class="discussion__header shelby-header">
    <div class="discussion__content">
      <h1 class="shelby_logo">
        <span class="icon-mark"></span><span class="icon-type"></span><span class="ir">Shelby.tv</span>
      </h1>
    </div>
  </header>

  <div class="discussion__content discussion__content--main">
    <nav class="discussion__nav">
      <a href="#" class="discussion__button--nav js-about">Help</a>
    </nav>

    <div class="explanation frame-body-wrapper js-about-content">
      <button class="button_primer button_default discussion__button--cancel js-about-cancel">
        <i class="icon-cancel"></i>
        <span class="ir">Cancel</span>
      </button>

      <p class="discussion__h2">
        Shelby Mail is a great way to<br/>privately share videos with friends.
      </p>
      <p class="discussion__h2">
        Click

        <button class="button_primer button_default visuallydisabled discussion__button--share">
          <i class="icon icon-email"></i>Email…
        </button>
        
        to start a conversation...
      </p>

      <img src="/images/mailss.jpg" class="discussion__img" alt="Live screenshot of Shelby Mail" />

      <p class="discussion__h2">
        All your conversations.  All those videos.  Right here.
      </p>
    </div><!-- eo explanation -->

<!-- <ol class="discussion__list discussion__list--discussions-nav js-dicussion-rolls-nav"> -->

    <ol class="list discussion_menu__list js-dicussion-rolls-nav">
      <!-- filled in by DiscussionRollsManagerView -->
    </ol>