  <header class="discussion__header shelby-header">
    <div class="discussion__content">
      <h1 class="shelby_logo">
        <span class="icon-mark"></span><span class="icon-type"></span><span class="ir">Shelby.tv</span>
      </h1>
    </div>
  </header>

  <div class="discussion__content discussion__content--main">
    <nav class="discussion__nav">
      <a href="#" class="discussion__button--nav js-about">About</a>
    </nav>

    <div class="explanation frame-body-wrapper js-about-content">
      <button class="button_primer button_default discussion__button--cancel js-about-cancel">X</button>

      <p class="discussion__h2">
        There are so many terrific videos online.
        Shelby Mail is a great, private way to share and talk about them with friends.
      </p>

      <p class="discussion__h2">
        All of your conversations, all of those videos, always right here.
      </p>

      <p>TODO: mobile screenshot of a conversation with callout "reply to a video with another video!"</p>

      <p class="discussion__h2">
        Give it a try in <a href="/" target="_shelbyApp">Shelby</a>!
      </p>

      <p class="discussion__h2">
        Look for this button:

        <button class="button_primer button_default visuallydisabled discussion__button--share">
          <i class="icon icon-email"></i>Email…
        </button>
      </p>

      <p class="discussion__footnote">
        Designed for mobile
      </p>

    </div><!-- eo explanation -->

<!-- <ol class="discussion__list discussion__list--discussions-nav js-dicussion-rolls-nav"> -->

    <ol class="list discussion_menu__list js-dicussion-rolls-nav">
      <!-- xxx WHAT DOES THIS GET FILLLED IN BY -->
    </ol>