  <% var recipient = msg.get('nickname') %>
  <% var recipientAvatar = libs.shelbyGT.viewHelpers.user.avatarUrlForMessage(msg) %>
<li class="discussion__item <%= msgFromViewer ? ' discussion__item--viewer' : null %> clearfix">
  <div class="media_module media_module--discussion">
    <div class="media_image">
      <img src="<%= recipientAvatar %>">
    </div><!-- eo media_image -->

    <div class="media_body">
      <p class="discussion__h4">
        <%= recipient %>
      </p>

      <p>
				<span class="discussion__text">
					<%= msg.get('text') %>
				</span>
      </p>
    </div><!-- eo media_body -->
  </div>
</li>