<div class="visual-preview js-add-video">
	<img class="thumbnail" src="<%= thumbnail.url %>" />
</div>
<div class="textual-preview">
	<h3 class="video-title"><%= title %></h3>
	<p class="video-description"><%= description %>
</div>