<div class="media_module frame-body-wrapper clearfix">
  <div class="media_image js-preview-video">
    <img class="thumbnail" src="<%= thumbnail.url %>" />
		<i class="ir button_icon_center icon_player_play icon-play">preview</i>
  </div>

  <div class="media_body">
    <h3 class="discussion__h3">
      <%= title %>
    </h3>

		<button class="discussion__button button_primer button_blue js-add-video">
			Add This Video
		</button>
		
    <p class="discussion__text">
      <%= description %>
    </p>
  </div>
</div><!-- eo media_module -->