
<ul class="list list--inline recipients__list js-discussion-roll-recipients-list">
	<!-- content filled in by appending children: DiscussionRollRecipientView -->
</ul>

<a href="#" class="discussion__list--recipients-toggle-show-all js-discussion-roll-recipients-toggle-show-all">
	<span class="more">more...</span>
	<span class="less">[less]</span>
</a>

<% if(discussionRoll.has("content_updated_at")){ %>
  <span class="xuser-data-timestamp">
    <%= libs.shelbyGT.viewHelpers.app.summaryDate(new Date(discussionRoll.get("content_updated_at"))) %>
  </span>
<% } %>