<a href="#" class="js-search-video">
  <div class="discussion__item discussion__item--insert-video frame-body-wrapper">
    <p class="discussion__h5">
      <%= (Modernizr.touch) ? 'Tap' : 'Click' %> here to insert video
    </p>
  </div><!-- eo discussion__item--insert-video -->
</a>

<div class="discussion__content discussion-reply frame-body-wrapper clearfix">
  <form class="form_module discussion__form--discussion-reply clearfix">
    <div class="media_module discussion__form-wrapper clearfix">
      <div class="media_image">
        <img src="<%= libs.shelbyGT.viewHelpers.user.avatarUrl(user) %>">
      </div><!-- eo media_image -->

      <button class="button_primer button_green form_submit js-post-message">Reply</button>

      <div class="media_body">
        <fieldset class="form_fieldset">
          <textarea rows="1" class="form_textarea js-message-text"></textarea>
        </fieldset>
      </div><!-- eo media_body -->
    </div><!-- eo media_module -->
  </form>
</div><!-- eo discussion-reply -->