<form class="form_module discussion__form--discussion-reply clearfix">
  <div class="media_module discussion__form-wrapper">
    <div class="media_image">
      <img src="<%= libs.shelbyGT.viewHelpers.user.avatarUrl(user) %>">
    </div><!-- eo media_image -->

    <button class="button_primer button_green form_submit js-post-message">Reply</button>

    <div class="media_body">
        <fieldset class="form_fieldset">
          <textarea rows="1" class="form_textarea js-message-text"></textarea>
        </fieldset>

      <p class="discussion__block">
        Hint: Copy & Paste a link to a video or use <a href="#" class="js-add-video-attachment">Shelby Chat</a>
      </p>
    </div><!-- eo media_body -->
  </div><!-- eo media_module -->
</form>