<ul class="discussion__list discussion__list--attachment js-discussion-video-attachments">
	<!-- DiscussionRollVideoAttachmentViews appended by DiscussionRollReplyView -->
</ul>
	
<div class="media_module discussion__form-wrapper">
  <div class="media_image media_image--rev">
    <img src="<%= libs.shelbyGT.viewHelpers.user.avatarUrl(user) %>">
  </div><!-- eo media_image -->

  <div class="media_body">
    <form class="form_module discussion__form--discussion-reply clearfix">
      <fieldset class="form_fieldset">				
        <textarea rows="1" class="form_textarea js-message-text"></textarea>

        <button class="button_primer button_blue form_submit js-post-message">
          Send
        </button>
      </fieldset>
    </form>
  </div><!-- eo media_body -->
</div><!-- eo media_module -->

<button class="button_primer button_gray-medium discussion__button--attachment js-add-video-attachment">
	<span class="button_icon_center icon_videocard_roll icon">&nbsp;</span>
  <span class="full-text">Add Video</span>
</button>