<h3 class="discussion__h2">
  Reply
</h3>

<div class="discussion__form media_module media_module--discussion">
  <div class="media_image media_image--rev">
    <img src="/images/assets/avatar.png">
  </div><!-- eo media_image -->

  <div class="media_body">
    <form class="form_module form_module--discussion-reply clearfix">
      <fieldset class="form_fieldset">
        <textarea class="form_textarea js-message-text"></textarea>

        <button class="button_primer button_blue form_submit js-post-message">
          Send
        </button>
      </fieldset>
    </form>
  </div><!-- eo media_body -->
</div><!-- eo media_module -->