<a href="/mail/<%= roll.id %>?u=<%= viewer %>&t=<%= roll.get('token') %>">
	<div class="discussion--recipients js-discussion-roll-recipients">
		<!-- content filled in by DiscussionRollRecipientsView -->
	</div>
	<div class="discussion--last-message js-discussion-roll-last-message">
	  <!-- content filled in by DiscussionRollRecipientsView -->
	</div>
</a>