<a href="/chat/<%= roll.id %>?u=<%= viewer %>&t=<%= roll.get('token') %>">
	<div class="discussion--recipients js-discussion-roll-recipients">
		<!-- content filled in by DiscussionRollRecipientsView -->
	</div>
</a>