<div class="discussion discussion__content discussion__content--attachment js-discussion-select-video-attachment">
	<header class="discussion__header">
	  <h1 class="discussion__h1">
	    Add Video to Chat
	  </h1>

	  <div class="discussion__content">
			<button class="button_primer button_gray-medium discussion__button--cancel js-cancel">
				Cancel
			</button>
			
			<form class="form_module form_module--attachment-search clearfix">
	      <fieldset class="form_fieldset">
	        <input type="text" class="form_textarea js-video-search-query" placeholder="Search For Video"></input>

	        <button class="button_primer button_blue form_submit js-do-search">
	          Search
	        </button>
	      </fieldset>
	    </form>
	  </div>
	</header>

  <section class="discussion__content discussion__content--attachment-results js-attachment-content">
  </section>
</div>