<div class="attachment js-discussion-select-video-attachment">
	<div class="attachment__lining frame-body-wrapper">
		<div class="attachment__head">
			<button class="button_primer button_default discussion__button--cancel js-cancel">
				<i class="icon-cancel"></i>
				<span class="ir">Cancel</span>
			</button>

			<h3 class="discussion__h3">
				Add Video
			</h3>
		</div><!-- eo discussion__head -->

		<div class="attachment__body">
			<form class="form_module">
				<fieldset class="form_fieldset search_module">
					<button class="button_primer button_green search_module__submit js-do-search">
						Search
					</button>

					<span class="search_module__input_wrapper">
						<input type="text" class="form_input 	search_module__input js-video-search-query" />
					</span>
				</fieldset>
			</form>

		</div><!-- eo discussion__body -->
	</div><!-- eo attachment__lining -->

  <section class="discussion__content discussion__content--search-results js-attachment-content">
  </section>
</div><!-- eo attachment -->