<div class="discussion discussion__content discussion--attachment js-discussion-select-video-attachment">
	<header class="discussion__header">
		<div class="discussion__content">
			<button class="button_primer button_blue-dark discussion__button--cancel js-cancel">
				<span class="button_icon_center icon_cancel icon">&nbsp;</span>
				<span class="full-text">Cancel</span>
			</button>
		</div>
		
	  <h1 class="discussion__h1">
	    Add Video
	  </h1>

	  <div class="discussion__content">
			<form class="form_module form_module--attachment-search clearfix">
	      <fieldset class="form_fieldset">
	        <input type="text" class="form_textarea js-video-search-query" placeholder="Search For Video"></input>

	        <button class="button_primer button_blue form_submit js-do-search">
	          Search
	        </button>
	      </fieldset>
	    </form>
	  </div>
	</header>

  <section class="discussion__content discussion__content--attachment-results js-attachment-content">
  </section>
</div>