<div class="discussion-roll">
	<h1>Video Conversation</h1>
	<div class="discussion-roll-recipients js-discussion-roll-recipients">
		<!-- content filled in by DiscussionRollRecipientsView -->
	</div>
	<div class="discussion-roll-conversation-wrapper js-discussion-roll-conversation-wrapper">
		<h3>Conversation</h#>
		<!-- content appended via DiscussionRollConversationView -->
	</div>
	<div class="discussion-roll-reply js-discussion-roll-reply">
		<!-- content filled in by DiscussionRollReplyView -->
	</div>
</div>