<div class="discussion">
  <h1 class="discussion__h1">
    Shelby Chat
  </h1>

  <div class="discussion-recipients js-discussion-roll-recipients">
    <!-- content filled in by DiscussionRollRecipientsView -->
  </div>

  <h2 class="discussion__h2">
    Conversation
  </h2>
  <section class="discussion__body frame-body-wrapper">
    <div class="discussion-conversation js-discussion-roll-conversation-wrapper">

      <!-- content appended via DiscussionRollConversationView -->
    </div>

    <div class="discussion-reply js-discussion-roll-reply clearfix">
      <!-- content filled in by DiscussionRollReplyView -->
    </div>
  </section>
</div>