<div class="discussion clearfix">
  <header class="discussion__header shelby-header">
    <div class="discussion__content">
      <h1 class="shelby_logo">
        <span class="icon-mark"></span><span class="icon-type"></span><span class="ir">Shelby.tv</span>
      </h1>
    </div>
  </header>

  <div class="discussion__content discussion__content--main js-discussion-main">
    <nav class="discussion__nav">
      <a href="#" class="discussion__button--nav js-nav">&larr; Discussions</a>
    </nav>

    <div class="recipients frame-body-wrapper js-discussion">
      <h3 class="recipients__h1">
        To
      </h3>

      <div class="recipients__list_wrapper js-discussion-roll-recipients">
      <!-- content filled in by DiscussionRollRecipientsView -->
      </div>
    </div><!-- eo recipients -->

    <section class="discussion__body">
      <div class="discussion__content js-discussion-roll-conversation-wrapper">
        <!-- content appended via DiscussionRollConversationView -->
      </div>
    </section>

    <footer class="discussion__footer js-discussion-roll-reply ">
      <!-- content filled in by DiscussionRollReplyView -->
    </footer>
  </div><!-- eo discussion__content -->
</div><!-- discussion__content--main -->

<div class="discussion__content discussion__content--menu hidden js-discussion-menu">
  <div class="" id="js-discussions-manager">
    <!-- content filled in by DiscussionRollsManagerView -->
  </div>
</div>