<div class="discussion-roll">
	<h1>Video Conversation</h1>
	<div class="discussion-roll-recipients js-discussion-roll-recipients">
		<!-- content filled in by DiscussionRollRecipientsView -->
	</div>
	<div class="discussion-roll-conversation js-discussion-roll-conversation">
		<!-- content filled in by DiscussionRollConversationView -->
	</div>
	<div class="discussion-roll-reply js-discussion-roll-reply">
		<!-- content filled in by DiscussionRollReplyView -->
	</div>
</div>