<div class="discussion discussion__content js-discussion">
	<header class="discussion__header">
	  <h1 class="discussion__h1">
	    Shelby Chat
	  </h1>

	  <div class="discussion__content">
			<div class="discussion--recipients js-discussion-roll-recipients">
	    <!-- content filled in by DiscussionRollRecipientsView -->
			</div>
	  </div>
	</header>

	<!-- TODO: just putting this here to get things working, needs to move for correct styling/function of ux -->
	<section class="discussion__lgutter" style="padding-top: 100px">
		<div class="discussions-manager" id="js-discussions-manager">
			<!-- content filled in by DiscussionRollsManagerView -->
		</div>
	</section>
	
  <section class="discussion__body frame-body-wrapper">
    <div class="discussion-conversation js-discussion-roll-conversation-wrapper">
      <!-- content appended via DiscussionRollConversationView -->
    </div>
  </section>

	<footer class="discussion__footer">
		<div class="discussion__content discussion-reply js-discussion-roll-reply clearfix">
      <!-- content filled in by DiscussionRollReplyView -->
    </div>
	</footer>
</div>