<div class="discussion js-discussion clearfix">
  <header class="discussion__header shelby-header">
    <div class="discussion__content">
      <h1 class="shelby_logo">
        <span class="icon-mark"></span><span class="icon-type"></span><span class="ir">Shelby.tv</span>
      </h1>
    </div>
  </header>

  <div class="discussion__content discussion__content--main">
    <nav class="discussion__nav">
      <a href="#" class="discussion__button--nav js-nav">&larr; Discussions</a>
    </nav>

    <div class="recipients frame-body-wrapper">
      <h3 class="recipients__h1 js-nav-title">
        Conversation
      </h3>

      <div class="recipients__list_wrapper js-discussion-roll-recipients">
      <!-- content filled in by DiscussionRollRecipientsView -->
      </div>
    </div>
  </div>

  <section class="discussion__body">
    <div class="discussion__content js-discussion-roll-conversation-wrapper">
      <!-- content appended via DiscussionRollConversationView -->
    </div>
  </section>

	<footer class="discussion__footer">
		<div class="discussion__content discussion-reply frame-body-wrapper js-discussion-roll-reply clearfix">
      <!-- content filled in by DiscussionRollReplyView -->
    </div>
	</footer>
</div><!-- eo discussion -->

<div class="discussion discussion__content discussion__content--manager">
	<div class="" id="js-discussions-manager">
		<!-- content filled in by DiscussionRollsManagerView -->
	</div>
</div>