
<% if @videos %>
  <ol class="list">
    <% @videos.each_with_index do |video, index| %>
      <li class="list__item">
        <%= render :partial => '/objects/video',
            :locals => {
              :embed_video    => true,
              :ga_category    => "Radar",
              :index          => index,
              :signed_in_user => @signed_in_user,
              :userNickname   => @signed_in_user['nickname'],
              :video          => video
            }
        %>
      </li>
    <% end %>
  </ol>
<% end %>


<script type="text/javascript">
  $(document).ready(function(){

    parent.postMessage("ready", "*");
    console.log("IFRAME READY, MESSAGE SENT");

    $(".js-close").on('click', function(e){
      e.preventDefault();
      parent.postMessage("close", "*");
      console.log("IFRAME CLOSE CLICKED, MESSAGE SENT");
    })
  });
</script>
