<% if @user_signed_in %>
  <% if @videos %>
    <ol class="list js-list">
      <% @videos.each_with_index do |video, index| %>
        <li class="list__item">
          <div class="js-notification"></div>
          <%= render :partial => '/objects/video',
              :locals => {
                :embed_video    => true,
                :ga_category    => "Radar",
                :index          => index,
                :signed_in_user => @signed_in_user,
                :user_signed_in => @user_signed_in,
                :video          => video
              }
          %>
        </li>
      <% end %>
    </ol>

    <script type="text/javascript">
      $(document).ready( function(){
        shelby.trackEx({
          providers : ['ga'],
          gaCategory : "Radar",
          gaAction : "<%= @found_video_providers.empty? ? 'Radar found NO video' : 'Radar found video' %>",
          gaValue : "<%= @videos.length %>"
        });
      });
    </script>
  <% end %>

<% else %>
  <div class="login">
    <%= render :partial => 'objects/login_form', :locals => {} %>
  </div>

<% end %>
