<html>
<head>
  <title>test</title>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
</head>
<body>
<div>
  <button id="show">show</button>
  <button id="hide">hide</button>
</div>

<iframe id="shelbyRadar" width="700" height="1000" src style="display:none;"></iframe>

<script type="text/javascript">
  function closeFrame(){
       $('#shelbyRadar').remove();
  }
  $(document).ready(function(){
    $("#show").on("click", function(){
      $("#shelbyRadar").attr('src', "http://localhost.shelby.tv:3000/radar?vimeo[]=51283882&youtube[]=owxPxniqswk&youtube[]=6IKD5F_hMMQ");
    });
    $("#hide").on("click", function(){
      $("#shelbyRadar").attr('src', "");
    });
  });

  ////////////////////////////////////////////////////
  // POSTING MESSAGES BETWEEN IFRAME AND PARENT
  // Create IE + others compatible event handler
  var eventMethod = window.addEventListener ? "addEventListener" : "attachEvent";
  var eventer = window[eventMethod];
  var messageEvent = eventMethod == "attachEvent" ? "onmessage" : "message";

  // Listen to message from iframe
  eventer(messageEvent,function(e) {
    console.log(e)
    if (e.data == "close") {
      // also make sure the banner is hidden
      $("#shelbyRadar").remove();
    }
    else if (e.data == "ready") {
      $("#shelbyRadar").show();
    }
  }, false);
  ////////////////////////////////////////////////////

</script>

</body>
</html>
