defaults: &defaults
  api_domain: 'api.shelby.tv'
  web_domain: 'shelby.tv'
  chrome_web_store_url: 'https://chrome.google.com/webstore/detail/shelbytv-video-radar/ifdmhakojchpihfoebiihdjcphmmhcol'

development:
  <<: *defaults
  web_domain: 'localhost.shelby.tv:3000'

test:
  <<: *defaults
  web_domain: 'localhost.shelby.tv:3000'

staging:
  <<: *defaults
  web_domain: 'staging.shelby.tv'

production: &production
  <<: *defaults

arnold:
  <<: *production
