<form class="form_module js-sms-twilio" action="<%= Settings::Application.secure_form_root %>/POST/message/send">
  <label for="sms" class="form_label modal_dialog__h1">
    Text iOS download link to your phone:
  </label>

  <fieldset class="form_fieldset search_module">
    <p class="form_error">
      There was a problem sending you a text message, please try again!
    </p>
    <input type="submit" class="button_primer button_command button_command--sub button_command--large button_green search_module__submit" value="Send" tabindex="2" />
    <span class="search_module__input_wrapper">
      <input id="sms" name="sms" type="text" class="form_input search_module__input" placeholder="+1 555 123 4567" tabindex="1" required />
    </span>
  </fieldset>

  <p class="modal_dialog__block">
    <a href="#">Or sign up on the web</a>
  </p>
</form>
