<form id="x" class="form_module js-sms-twilio" action="<%= Settings::Application.secure_form_root %>/message/send">
  <label for="sms" class="form_label modal_dialog__h1">
    Text iOS download link to your phone:
  </label>

  <div class="search_module">
    <input type="submit" class="button_primer button_command button_command--sub button_command--large button_green search_module__submit" value="Send" tabindex="2" />
    <span class="search_module__input_wrapper">
      <input id="sms" name="sms" type="text" class="form_input search_module__input" placeholder="555-555-1234" tabindex="1" required />
    </span>
  </div>

  <p class="modal_dialog__block">
    <a href="#">Or sign up on the web</a>
  </p>
</form>
