
//------------------------------------------------------------------------------
//  UI KIT
//------------------------------------------------------------------------------
  $ui-white      : rgba(#ffffff,1); //Pane White
  $ui-off-white  : rgba(#f4f4f4,1); //Shelby White

  $ui-black      : rgba(#333333,1); //Typography
  $ui-soft-black : rgba(#555555,1); //Button Typography
  $ui-gray       : rgba(#f1f1f1,1); //Pane Grey

  $ui-green      : rgba(#6fbe47,1); //Shelby Green
  $ui-red        : rgba(#ee4c4c,1); //Shelby Red
  $ui-blue       : rgba(#0590c4,1); //Shelby Blue

  $facebook-blue : rgba(#013e80,1); //Facebook Blue
  $twitter-blue  : rgba(#2CAAE1,1); //Twitter Blue
  $tumblr-blue   : rgba(#2f445b,1); //Tumblr Blue


  $ui-button-text: $ui-black;
  $ui-button-text-inverted: $ui-white;
//------------------------------------------------------------------------------
//  ICONS, these aren't worth taking the time to update right now.
//------------------------------------------------------------------------------
$extension: ".svg" !default;
$images: "/images/" !default;
$path: "#{$images}assets/" !default;

$icon-carrot                    : "#{$path}carrot#{$extension}";
$icon-chevron-right             : "#{$path}chevron#{$extension}";
$icon-like                      : "#{$path}heart#{$extension}";
$icon-like-on                   : "#{$path}heart_on#{$extension}";
$icon-like-active               : "#{$path}heart_active#{$extension}";
$icon-missing-avatar            : "#{$path}missing_avatar.png";
$icon-missing-thumbnail         : "#{$path}missing_thumb#{$extension}";
$icon-onboarding-facebook-add   : "#{$path}onboarding_facebook_add#{$extension}";
$icon-onboarding-facebook-added : "#{$path}onboarding_facebook_added#{$extension}";
$icon-onboarding-tumblr-add     : "#{$path}onboarding_tumblr_add#{$extension}";
$icon-onboarding-tumblr-added   : "#{$path}onboarding_tumblr_added#{$extension}";
$icon-onboarding-twitter-add    : "#{$path}onboarding_twitter_add#{$extension}";
$icon-onboarding-twitter-added  : "#{$path}onboarding_twitter_added#{$extension}";
$icon-share-facebook-on         : "#{$path}share_facebook_on#{$extension}";
$icon-share-facebook-off        : "#{$path}share_facebook_off#{$extension}";
$icon-share-twitter-on          : "#{$path}share_twitter_on#{$extension}";
$icon-share-twitter-off         : "#{$path}share_twitter_off#{$extension}";
$icon-signup-spinner            : "#{$path}signup-loader.gif";
$icon-social-facebook           : "#{$path}social_facebook#{$extension}";
$icon-social-tumblr             : "#{$path}social_tumblr#{$extension}";
$icon-social-twitter            : "#{$path}social_twitter#{$extension}";
$icon-videocard-roll            : "#{$path}videocard_roll#{$extension}";
$icon-videocard-roll-on         : "#{$path}videocard_roll_on#{$extension}";

//------------------------------------------------------------------------------
//  ANIMATION VALUES
//  should only be used in the animate mixin / module
//------------------------------------------------------------------------------
$animate-property : 'all' !default;
$animate-duration : .5s !default;
$animate-timing   : ease-in-out !default;
$animate-delay    : 0s !default;

//------------------------------------------------------------------------------
//  FONT SETUP
//------------------------------------------------------------------------------
$font-color             : #333;
$font-family            : 'Helvetica Neue', Helvetica, sans-serif;
$font-family-display    : 'Ubuntu',Trebuchet MS,sans-serif;
$font-family-icon       : 'icomoon';
$font-size              : 100%;
$base-font-size         : 16px;
$base-line-height       : 1.5;
$font-size-large-button : 18px;
$font-size-button       : 16px;
$font-size-sub-button   : 14px;
$font-size-text         : 13px;
//------------------------------------------------------------------------------
//------------------------------------------------------------------------------
//  BORDER RADIUS
//------------------------------------------------------------------------------
$radius        : 5px;
$button-radius : $radius - 1;
$input-radius  : $radius - 2;

//------------------------------------------------------------------------------
//  MARGINS, PADDINGS, and WIDTHS
//------------------------------------------------------------------------------
$_unit                         : 10px;
$defaultMargin                 : $_unit;

//------------------------------------------------------------------------------
//  COLORS
//------------------------------------------------------------------------------
//  COLORS: base
$base          : $ui-gray;
$base-frame    : $ui-off-white;
$shadow        : 0 0 2px 0 rgba(0,0,0,0.3);
$shadow-text   : 0px -1px 0px rgba(0,0,0,0.6);
$outset        : adjust-lightness($base, 7%);
$inset         : adjust-lightness($base, -10%);
//  COLORS: fonts
$text               : #333;
$button-color       : #efefef;
$button-color-light : $text + #333;
//  COLORS: guide
$guide-bg-color                     : $base;
$guide-presentation-button          : #aaa;
$guide-presentation-button-active   : adjust-lightness($guide-presentation-button, 28%);
$guide-presentation-bg-color        : #2f3233;
$guide-presentation-tab-bg-color    : #27292a;
$guide-presentation-tab-bg-selected : #242627;
//  COLORS: nav
$nav-dropdown-bg                    : $base;
//  COLORS: list_module
$_list-module-bg                     : $base;
$list-item-bg                       : adjust-lightness($_list-module-bg, 5%);
$list-item-bg-hover                 : adjust-lightness($list-item-bg, -10%);
$list-item-border                   : adjust-lightness($_list-module-bg, -10%);
//  COLORS: overlay
$overlay_header_height              : 46px;
//  COLORS: thumbnail_module
$thumbnail_default_bg               : adjust-lightness($base, -1%);
//  COLORS: external
$external-bg                        : #efefef;
//  COLORS: shelby
$shelby-blue                        : #0590c4;
$shelby-default                     : #eeeeee;
$shelby-gray                        : #27292A;
$shelby-gray-light                  : #a0a0a0;
$shelby-gray-medium                 : #dddddd;
$shelby-green                       : #428e3a;
$shelby-purple                      : #693a7b;
$shelby-red                         : #cc1235;
$shelby-yellow                      : #d5cd39;
$primer-color                       : $shelby-gray !default;
$education-yellow                   : #f9f15c;
//  COLORS: social media
$facebook-blue                      : #013e80;
$twitter-blue                       : #2CAAE1;
$tumblr-blue                        : #2f445b;
//  COLORS: buttons
$button-default-color               : #eee;
$networks-unselected                : #474747;

//------------------------------------------------------------------------------
//  Constants
//------------------------------------------------------------------------------
$app-header__height            : 40px;
$app-background-color          : #e2e2e2;
$guide-width                   : $_unit * 37; //if you use this, make sure you add a media-query to account for narrow viewports
$persistent_video_info--height : 180px;
