//FRAME

.frame-logo {
  color : #EFEFEF;
  float: right;
  font-size:14px;
  line-height: 2;
  margin: 9px 12px 0 0;
  position: absolute;
  right: 0;
}

.frame-logo-img {
  display: inline;
  margin-left: 5px;
  margin-top: 0px;
  width: 100px;
  vertical-align: middle;
}

.all-frame-creator{
  -webkit-background-size: cover;
  background-size: cover;
  height: 50px;
  margin-left: 14px;
  margin-bottom:5px;
  margin-top: 5px;
  width: 50px;

}

.frame-conversation-message-block {
  font-size: 13px;
}

//NOTIFICATION

.notifications-lining {
  position: fixed;
  z-index: 2147483647;
}

.shelby-notify {
  background-color: #eee;
  background-image: url('/images/assets/shelby_mark_dark.svg');
  background-position: 10% -3px;
  background-size: 40px 40px;
  background-repeat: no-repeat;
  border: 1px solid #adadad;
  border-radius: 2px;
  box-shadow: -1px 1px 6px -1px rgba(0, 0, 0, 0.3);
  color: #333;
  font-size: 11px;
  font-weight: 300;
  height: 40px;
  left: 30px;
  line-height: 3.5em;
  position: fixed;
  top: 30px;
  width: 160px;
  z-index: 2147483646;

  &.more {
    width: 200px;
    background-position: 10% -3px;

  }

  .notify-text {
    margin-left: 60px;
  }

  .notify-cancel {
    @include x-button-primer($shelby-gray);

    border-radius: 20px;
    height: 20px;
    left: -10px;
    line-height: 1.0;
    padding: 0;
    position: absolute;
    top: -10px;	
    width: 20px;
  }
}

.notify-window {
  background-color: black;
  bottom: 0px;
  left: 0px;
  opacity: 0;
  position: fixed;
  right: 0px;
  top: 0px;
  z-index: 2147483647;
  &.notified {
    opacity: 0.7;
  }
  &.animate-fadein {
    @include transition-property('opacity');
    @include transition-duration(.5s);
    @include transition-timing-function(ease-in-out);
    @include transition-delay(0s);
  }
}

.found-vid-notification {
  font-size: 20px;
  left: 50%;
  position: absolute;
  top: 50%;
}

.queue-notification {
  background-image: url("/images/assets/chrome_queue_large.svg");
  background-position: 50% 0%;
  background-repeat: no-repeat;
  background-size: 50%;
  height:100px;
  left: 50%;
  line-height: 12;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 150px;
}

//LOGIN
.bookmarklet-login-twitter,  
.bookmarklet-login-facebook {
  border-radius: 3px;
  display: block;
  float: left;
  font: 0/0 a;
  height: 40px;
  margin: 20px;
  padding: 0 3x 0 20px;
  text-align: center;
  text-decoration: none;
  text-shadow: none;
  width: 165px;
}

.bookmarklet-login-twitter {  
  @include x-logged-out-networks-buttons($twitter-blue);
  background-size: 11%;
  &:before {
    background-image: url($icon-share-twitter-on);
    background-position: center center;
    background-size: 97%;
  }
}

.bookmarklet-login-facebook {
  @include x-logged-out-networks-buttons($facebook-blue);
  background-size: 4%;
  &:before {
    background-image: url($icon-share-facebook-on);
    background-position: 1px 3px;
    background-size: 95%;
  }
}

//ROLLS

.roll-options-submit {
  text-align: center;
}

.label {
  color: #DCDDDE;
}

//GUIDE

.guide-overlay-title-text {
  line-height: 2.65;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
}

.guide-window {
  background: #222;
  border-left: 1px solid black;
  bottom: 0;
  box-shadow: 0px 0px 25px 5px black;
  margin-right: -360px;
  position: fixed;
  right: 0px;
  top: 0px;
  width: 330px;
  z-index: 2147483646; 
  &.guide-show {
    margin-right: 0;
  }
  &.guide-animate {
    @include transition-property('margin-right');
    @include transition-duration(.5s);
    @include transition-timing-function(ease-in-out);
    @include transition-delay(0s);
  }
    
}

.frame-exists {
  .frame-logo:before {
    content: "Seen on";
    display: block;
    float: left;
  }
}


//BUTTONS

.bookmarklet-video-tab {
  height: 300px;
  overflow: hidden;
  position: absolute;
  width: 85px;
  z-index: 2147483646;
}

.embedded-buttons {
  border-radius: 0;
  list-style-type: none;
  margin: 0 0 0 100%;
  padding-bottom: 28px;
  padding-top: 2px;
  width: 80px;
  li {
    border: 1px solid #adadad;
    border-right: 0;
    background-color: #EEE;
    box-shadow: -1px 1px 6px -1px rgba(0, 0, 0, 0.3);
    width: 100%;
    &:hover {
      background-color: gray;
    }

    .all-queue {
      &:hover {
        background-color: gray;
      }
    }
    .all-roll {
      &:hover {
        background-color: gray;
      }
    }

    .all-comment {
      &:hover {
        background-color: gray;
      }
    }

    &:last-child {
      border-top: none;
    }
  }

  &.buttons-animate{
    @include transition-property('margin-left');
    @include transition-duration(.5s);
    @include transition-timing-function(ease-in-out);
    @include transition-delay(0s);
  }

  &.buttons-show {
    margin-left: 5px;
  }
}

.embedded-controls {
  li {
    &:first-child {
      border-radius: 5px 0 0 0;
      button {
        border-radius: 5px 0 0 0;
      }
    }

    &:last-child {
      border-radius: 0 0 0 5px;
      button {
        border-radius: 0 0 0 5px;
      }
    }
  }
}

.comment-button-content {
  &:before {
    content: "Reply"
  }
  &.self {
    &:before {
      content: "Comment"
    }
  }
  font-style: normal;
}

.queue-button-content {
  &:before {
      content: "Queue"
  }
  background-image: url("/images/assets/chrome_queue.svg");
  background-position: 5px 2px;
  background-repeat:no-repeat;
  background-size: 20%;
  font-style: normal;
  padding-bottom: 2px;
  padding-left: 19px;
}
  

.roll-button-content {
  background-image: url("/images/assets/chrome_roll.svg");
  background-position: 5px 2px;
  background-repeat:no-repeat;
  background-size: 20%;
  font-style: normal;
  padding-bottom: 2px;
  padding-left: 19px;
}

.bookmarklet-button {
  width: 100%;
  height: 100%;
  font-size: 11px;
  font-weight: 300;
  color: #333;
  text-align: center;
  background-color: #EEE;
  height: 31px;

  &.queued {
    background-color: gray;
    cursor: default;
    i {
      background-position: 0px 2px;
      padding-left: 15px;

      &:before {
        content: "Queued"
      }
      font-style: normal;
    }
  }
}

.frame-title {
  width:50%;
}

.gate-networks-twitter,
.gate-networks-facebook{
  @include roundies(input);

  border: 0;
  display: block;
  font: 0/0 a;
  height: 40px;
  margin: 20px;
  text-shadow: none;
}

.gate-networks-twitter {
  @include gradient-primer($twitter-blue);
  @include preferences-networks;

  background-size: 11%;
}

.gate-networks-facebook {
  @include gradient-primer($facebook-blue);
  @include preferences-networks(facebook);

  background-size: 4%;
}

#guide-overlay-controls {
  z-index:2147483647;
  position: fixed;
}

.content-body {
    top: 45px;
}
