//FRAME

.frame-logo {
  color : #EFEFEF;
  float: right;
  font-size:14px;
  line-height: 2;
  margin: 9px 12px 0 0;
  position: absolute;
  right: 0;
}

.frame-logo-img {
  display: inline;
  margin-left: 5px;
  margin-top: 0px;
  width: 100px;
  vertical-align: middle;
}

.frame-creator{
  height: 100%;
  width: 100%;
  -webkit-background-size: cover;
  background-size: cover;
}

.frame-creator-avatar{
  height: 100%;
  width: 100%;
}

.frame-conversation-message-block {
  font-size: 13px;
}

//NOTIFICATION
.shelby-notify {
  background-color: #eee;
  background-image: url('/images/assets/shelby_mark.svg');
  background-position: 50% -7px;
  background-size: 30px 40px;
  background-repeat: no-repeat;
  border: 1px solid #adadad;
  color: #333;
  font-size: 11px;
  font-weight: 300;
  height: 40px;
  left: 30px;
  line-height: 5.5em;
  position: fixed;
  text-align: center;
  top: 30px;
  width: 102px;
  z-index: 2147483647;
}

//LOGIN
.bookmarklet-login-twitter,  
.bookmarklet-login-facebook {
  border-radius: 3px;
  display: block;
  float: left;
  font: 0/0 a;
  height: 40px;
  margin: 20px;
  padding: 0 3x 0 20px;
  text-align: center;
  text-decoration: none;
  text-shadow: none;
  width: 165px;
}

.bookmarklet-login-twitter {  
  @include x-logged-out-networks-buttons($twitter-blue);
  background-size: 11%;
  &:before {
    background-image: url($icon-share-twitter-on);
    background-position: center center;
    background-size: 97%;
  }
}

.bookmarklet-login-facebook {
  @include x-logged-out-networks-buttons($facebook-blue);
  background-size: 4%;
  &:before {
    background-image: url($icon-share-facebook-on);
    background-position: 1px 3px;
    background-size: 95%;
  }
}

//ROLLS

.roll-options-submit {
  text-align: center;
}

//GUIDE

.guide-overlay-title-text {
  line-height: 2.65;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
}

.guide-clickoff {
  display: none;
  position: fixed;
  top: 0px;
  z-index: 2147483647;
  &.guide-clickoff-show {
    cursor: pointer;
    display: block;
  }
}

.guide-window {
  background: #222;
  border-left: 1px solid black;
  bottom: 0;
  box-shadow: 0px 0px 25px 5px black;
  margin-right: -360px;
  position: fixed;
  right: 0px;
  top: 0px;
  width: 330px;
  z-index: 2147483646; 
  &.guide-show {
    margin-right: 0;
  }
  &.guide-animate {
    @include transition-property('margin-right');
    @include transition-duration(.5s);
    @include transition-timing-function(ease-in-out);
    @include transition-delay(0s);
  }
    
}

.frame-exists {
  .frame-logo:before {
    content: "Seen on";
    display: block;
    float: left;
  }
}

.bookmarklet-button {
  width: 100%;
  height: 100%;
  font-size: 11px;
  font-weight: 300;
  color: #333;
  text-align: center;
  background-color: #EEE;
  border: 1px solid #adadad;
}

.bookmarklet-video-tab {
  height: 300px;
  overflow: hidden;
  position: absolute;
  width: 50px;
  z-index: 2147483646;
}


.embedded-buttons {
  border-radius: 0;
  list-style-type: none;
  margin: 0 0 0 100%;
  padding-bottom: 30px;
  width: inherit;
  li {
    .all-roll {
      background-image: url("/images/assets/videocard_roll_off.svg");
      &:hover {
        background-image: url("/images/assets/videocard_roll_on.svg");
      }
      background-size: 10px 10px;
      background-repeat: no-repeat;
      background-position: 0 45%;
    }

    background-color: #EEE;
    height: 31px;
  }

  &.buttons-animate{
    @include transition-property('margin-left');
    @include transition-duration(.5s);
    @include transition-timing-function(ease-in-out);
    @include transition-delay(0s);
  }

  &.buttons-show {
    margin-left: 0;
  }
}


.frame-title {
  width:50%;
}

.gate-networks-twitter,
.gate-networks-facebook{
  @include roundies(input);

  border: 0;
  display: block;
  font: 0/0 a;
  height: 40px;
  margin: 20px;
  text-shadow: none;
}

.gate-networks-twitter {
  @include gradient-primer($twitter-blue);
  @include preferences-networks;

  background-size: 11%;
}

.gate-networks-facebook {
  @include gradient-primer($facebook-blue);
  @include preferences-networks(facebook);

  background-size: 4%;
}

#guide-overlay-controls {
  z-index:2147483647;
  position: fixed;
}

.content-body {
    top: 45px;
}
