@import "base";
@import "base-mixin";

$extension: ".png";

.lt-ie9 {

	.guide-toggle .copy {
		top: 1px;
	}

}

//svg fallbacks to png:


.no-svg {

  //guide-header

  	.logo-header {
  		background:url($logo-shelby) center 9px no-repeat transparent;
      background-size: 79%;
    }

    .top-level {
    	&:after {
  			background: url($icon-carrot) no-repeat center center transparent;
    	}
    }

  //menu


  //rolls

  //hax, need to get these variables out of here.
  $flatNetworksUnselected : #666;
  $softNetworksUnselected : #666;

  .networks-twitter {
  	background: $flatNetworksUnselected;
  	@include background(
  		url($icon-share-twitter-off) no-repeat center center,
  		$softNetworksUnselected
  	);
  	&.active{
  		background: $twitter-blue;
  		@include background(
  			url($icon-share-twitter-on) no-repeat center center,
  			linear-gradient(top, adjust-lightness($twitter-blue, 10%), $twitter-blue)
  		);
  	}
  }

  .networks-facebook{
  	background: $flatNetworksUnselected;
  	@include background(
  		url($icon-share-facebook-off) no-repeat center center,
  			$softNetworksUnselected
  		);
	
  	&.active{
  		background: $facebook-blue;
  		@include background(
  			url($icon-share-facebook-on) no-repeat center center,
        linear-gradient(top, adjust-lightness($facebook-blue, 10%), $facebook-blue)
  		);
  	}
  }

  //frame

//add menu buttons

  //video-controls
  .video-player-play{
  	@include background(
  		url($icon-player-play) center center no-repeat transparent
  	);

  	&.pause{
  		@include background(
  			url($icon-player-pause) center center no-repeat transparent
  		);		
  	}
  }

  .video-player-volume{
  	@include background(
  		url($icon-player-sound-on) center center no-repeat transparent
  	);
  	&.mute{
  		@include background(
  			url($icon-player-sound-off) center center no-repeat transparent
  		);
  	}
  }

  .video-player-fullscreen{
  	@include background(
  		url($icon-player-fullscreen-enable) center center no-repeat transparent
  	);
  	&.cancel {
  	  @include background(
    		url($icon-player-fullscreen-disable) center center no-repeat transparent
    	);
	  }
  }

  .video-player-quality {
    @include background(
      url($icon-player-hd-on) center center no-repeat transparent
    );
    &.hd-off {
      @include background(
        url($icon-player-hd-off) center center no-repeat transparent
      );
    }

  }

  //roll-selection-default-items

  .form-rolls-list{

  	.rolling-public-roll{
  		&.new:before{
  			content:"+";
  		}
  	}

  	.rolling-private-roll{
  	}
  }

  //user-preferences

  .you-preferences-networks-twitter{

  	&:before{
  		@include background(
  			url($icon-social-twitter) no-repeat center center #00a2d1
  		);
  	}
  }
  .you-preferences-networks-facebook{
  	&:before{
  		@include background(
  			url($icon-social-facebook) no-repeat center center #013e80
  		);
  	}	
  }
  .you-preferences-networks-tumblr{
  	&:before{
  		@include background(
  			url($icon-social-tumblr) no-repeat center center,
  			$tumblr-blue
  		);
  	}
  }
  .you-preferences-notifications{
  	input + span{
  		&:after{
  			@include background(
  				$toggle-switch-gray
  			);
  		}
  	}
  }

  //team

  .about-external-twitter {
  	a{
  		@include background(
  			url($icon-team-twitter) no-repeat center left transparent
  		);
  	}
  }

  .about-external-link {
  	a{
  		@include background(
  			url($icon-team-web) no-repeat center left transparent
  		);
  	}
  }

  //guide overlay
  .conversation-message-reply {
    background: {
      image: url($icon-comment-reply);
    }
  }


}
