@import "base";
@import "base-mixin";

@import "compass/css3",
        "compass/utilities/text/ellipsis",
        "compass/utilities/lists/bullets";

.ext-elements {
	  * {
	    -moz-box-sizing: border-box;
	    -webkit-box-sizing: border-box;
	    box-sizing: border-box;
	  font-family: "Ubuntu",Trebuchet MS,sans-serif !important;
	  text-align: left;
          border: none;
          text-transform: none;
          letter-spacing: 0;
	  }

          button {
            cursor: pointer;
            text-align: center;
          }

          h1, h2, h3 {
            color: #DCDDDE;
          }

	  ul, li, a, div, p, span, form, fieldset, label, input, button, img {
	    margin: 0;
	    padding: 0;
	    border: 0;
	    outline: none;
            list-stype-type: none;
	  }

          form {
            display: block;
          }
            

	  textarea, button, input {
	  	font-size: 12px !important;
	  }

	  font: 100 normal 62.5%/1.231 "Ubuntu",Trebuchet MS,sans-serif;
	  color: #DCDDDE;
	  font-size: 14.5454545455px;
	  line-height: 1.4;
	  text-align: left;
          border: none;


	
	@import 

                "partials/app.html",
		"partials/fonts",

                "partials/gate",
                "partials/guide-header",

		"partials/guide-presentation-selector",
		"partials/guide-overlay-view",
		"partials/guide-overlay-controls",

		"partials/roll-header",
		"partials/roll-item",
    
                "partials/frame",
                "partials/rolling-form",
		"partials/rolls-list",

		"partials/frame-rolling",
                "partials/rolling-form",
		"partials/frame-conversation",

		"partials/rolls",	
		"partials/share",
		"partials/roll-selection-items",
 
                "bookmarklet-overwrite",

                "partials/notifications",

		"partials/h5bp-utilities"; 	
}
