//------------------------------------------------------------------------------
//  base: color variables, height & width constants
//------------------------------------------------------------------------------
@import "base";
//------------------------------------------------------------------------------
//  base-mixin: mixins library
//------------------------------------------------------------------------------
@import "base-mixin";

//------------------------------------------------------------------------------
//  boilerplate + normalization
//------------------------------------------------------------------------------
@import "boilerplate/fonts";
@import "boilerplate/icon-font";
@import "boilerplate/h5bp";

//------------------------------------------------------------------------------
//  MODULES, Object oriented, framework-like
//------------------------------------------------------------------------------
@import "modules";

//------------------------------------------------------------------------------
//  App wide ABSTRACTS (if MODULES are object, ABSTRACTS are subjective)
//------------------------------------------------------------------------------
@import "abstracts";

//------------------------------------------------------------------------------
//  non-normative
//------------------------------------------------------------------------------
@import "partials/in-line-notification";
@import "partials/empty-indicator";
@import "partials/load-more";
@import "partials/login-form";

//------------------------------------------------------------------------------
//  Shelby.tv App
//------------------------------------------------------------------------------
@import "partials/app.html";
@import "partials/banner_notification";
@import "partials/notifications";
@import "partials/app-header";
@import "partials/guide-presentation-selector";
@import "partials/guide-overlay-view";
@import "partials/nav-search";

@import "partials/landing-page";

////////////////////////////////////////////////////////////////////////////
//  layout related
////////////////////////////////////////////////////////////////////////////
@import "partials/explore";
@import "partials/onboarding";
@import "partials/action";
@import "partials/user-profile";

@import "partials/frame";
@import "partials/external-tools";

@import "partials/roll-header";
@import "partials/search-header";

//------------------------------------------------------------------------------
//  videoplayer related
//------------------------------------------------------------------------------
@import "partials/video/video-player";
@import "partials/video/persistent-video-info";
@import "partials/video/channel-info-overlay";
@import "partials/video/channel-welcome";
@import "partials/video/search-welcome";
@import "partials/video/video-controls";
@import "partials/video/video-mini-progress";
@import "partials/preroll-video-info";
@import "partials/me-section";
@import "partials/rolls-list";

//------------------------------------------------------------------------------
//  rolling and sharing
//------------------------------------------------------------------------------
@import "partials/frame-rolling";
@import "partials/rolling-form";
@import "partials/frame-conversation";
@import "partials/rolls";
@import "partials/share";

//------------------------------------------------------------------------------
//  peripherals
//------------------------------------------------------------------------------
@import "partials/user-preferences";

//------------------------------------------------------------------------------
//  shelby genius page styles
//------------------------------------------------------------------------------
@import "partials/genius.scss";

//------------------------------------------------------------------------------
//  isolated roll styles
//------------------------------------------------------------------------------
@import "partials/isolated-roll";
@import "partials/dot-tv";
@import "partials/dot-tv-welcome";

//------------------------------------------------------------------------------
//  Shelby discussion rolls
//------------------------------------------------------------------------------
@import "partials/discussion_roll";

//------------------------------------------------------------------------------
//  Overrides
//------------------------------------------------------------------------------
@import "partials/user-anonymous";
@import "partials/hide-guide";
@import "partials/hide-pvi";
@import "partials/user-inactive";
@import "partials/touch";

@import "partials/lt-ie9";

@import "partials/media-queries";

// REMOVE PREVIOUS EASTEREGGS IN PARTIAL BEFORE UNCOMMENTING:
// @import "partials/eastereggs";

//------------------------------------------------------------------------------
//  non-semantic boilerplater helper classes
//------------------------------------------------------------------------------
@import "boilerplate/h5bp-utilities";
