.shelby--styleguide {
  pre {
    code {
      display: block;
      overflow: auto;
      font-size: 11px;
    }
  }
}

.shelf__wrapper--styleguide {
  padding-top: 50px;

  .form_module {
    font-size: 13px;
  }
}


