@import "base";

.shelby--styleguide {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: $font-family;
    font-weight: bold;
  }

  pre {
    code {
      display: block;
      overflow: auto;
      font-size: 11px;
    }
  }
}

.shelf__wrapper--styleguide {
  padding-top: 50px;

  .form_module {
    font-size: 13px;
  }
}


