.shelby--whitelabel-cheez {
  // APP HEADER
  .shelby-header {
    display: none;
  }
  // fixes the positioning of the now-missing header
  .content_wrapper {
    margin-top: 0;
  }

  // FRAME + PVI
  .persistent_video_info,
  .frame {
    .button_command--like {
      display: none;
    }
  }
  // FRAME FOOTER
  .frame-likes {
    display: none;
  }
}
