/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* Commenting out the Reset style sheet in favor of the normalize style sheet that comes with h5bp.
 * Need to integrate the h5bp normalizer into this compass fanciness.
 * @import "compass/reset";
 */
/* line 7, ../../../app/stylesheets/partials/anon-banner.scss */
.logged-out-banner-wrapper {
  bottom: 0;
  left: 0;
  padding-right: 330px;
  position: absolute;
  top: 0;
  width: 100%;
}

/* line 16, ../../../app/stylesheets/partials/anon-banner.scss */
.logged-out-overlay {
  background: black;
  bottom: 0;
  display: none;
  height: 100%;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
  position: absolute;
  text-align: center;
  width: 100%;
  z-index: 0;
}
/* line 27, ../../../app/stylesheets/partials/anon-banner.scss */
.logged-out-overlay p {
  color: #efefef;
  font-size: 40px;
  font-weight: 500;
  margin-top: 25%;
  padding-right: 330px;
  top: 50%;
}

/* line 38, ../../../app/stylesheets/partials/anon-banner.scss */
.logged-out-banner {
  background: url("../images/assets/noise.png") #585858;
  -moz-border-radius: 0 0 5px 5px;
  -webkit-border-radius: 0 0 5px 5px;
  -o-border-radius: 0 0 5px 5px;
  -ms-border-radius: 0 0 5px 5px;
  -khtml-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
  margin: 0 auto;
  min-width: 680px;
  max-width: 738px;
  position: relative;
  z-index: 1;
}

/* line 51, ../../../app/stylesheets/partials/anon-banner.scss */
.logged-out-header {
  background: url("../images/assets/noise.png") #303030;
  border-bottom: 1px solid #222;
  padding: 10px;
}

/* line 58, ../../../app/stylesheets/partials/anon-banner.scss */
.logged-out-nav {
  float: left;
  font-size: 11px;
}
/* line 62, ../../../app/stylesheets/partials/anon-banner.scss */
.logged-out-nav li {
  display: inline;
  padding-right: 5px;
}
/* line 66, ../../../app/stylesheets/partials/anon-banner.scss */
.logged-out-nav a {
  color: #d3d3d3;
  text-decoration: none;
}
/* line 70, ../../../app/stylesheets/partials/anon-banner.scss */
.logged-out-nav a:hover {
  color: white;
  text-decoration: underline;
}
/* line 75, ../../../app/stylesheets/partials/anon-banner.scss */
.logged-out-nav a:visited, .logged-out-nav a:active {
  color: white;
}

/* line 81, ../../../app/stylesheets/partials/anon-banner.scss */
.logged-out-origin {
  float: right;
}

/* line 85, ../../../app/stylesheets/partials/anon-banner.scss */
.logged-out-tagline {
  float: left;
  font-weight: 100;
  font-size: 17px;
  margin-top: 20px;
  width: 50%;
}
/* line 92, ../../../app/stylesheets/partials/anon-banner.scss */
.logged-out-tagline a {
  text-decoration: none;
  font-weight: 500;
}
/* line 95, ../../../app/stylesheets/partials/anon-banner.scss */
.logged-out-tagline a:hover {
  text-decoration: none;
}
/* line 99, ../../../app/stylesheets/partials/anon-banner.scss */
.logged-out-tagline a:active, .logged-out-tagline a:visited {
  text-decoration: none;
}

/* line 105, ../../../app/stylesheets/partials/anon-banner.scss */
.logged-out-networks {
  float: left;
  margin: 12px 0;
  padding: 0;
  width: 50%;
}
/* line 112, ../../../app/stylesheets/partials/anon-banner.scss */
.logged-out-networks li {
  display: inline;
  float: left;
  width: 50%;
}
/* line 117, ../../../app/stylesheets/partials/anon-banner.scss */
.logged-out-networks button {
  width: 93%;
}

/* line 147, ../../../app/stylesheets/partials/anon-banner.scss */
.logged-out-twitter {
  font: 700 normal 100%/1.231 "Ubuntu", "Times New Roman";
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #222;
  color: white;
  font-size: 11px;
  line-height: 2.5;
  text-align: center;
  margin-right: 10px;
  padding-left: 30px;
  position: relative;
  background: #00a2d1;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #00b5d7), color-stop(100%, #00a2d1));
  background: -webkit-linear-gradient(top, #00b5d7, #00a2d1);
  background: -moz-linear-gradient(top, #00b5d7, #00a2d1);
  background: -o-linear-gradient(top, #00b5d7, #00a2d1);
  background: -ms-linear-gradient(top, #00b5d7, #00a2d1);
  background: linear-gradient(top, #00b5d7, #00a2d1);
}
/* line 135, ../../../app/stylesheets/partials/anon-banner.scss */
.logged-out-twitter:before {
  border-right: 1px solid #222;
  bottom: 1px;
  content: "\0020";
  float: left;
  left: 0;
  position: absolute;
  top: 1px;
  width: 30px;
}
/* line 154, ../../../app/stylesheets/partials/anon-banner.scss */
.logged-out-twitter:before {
  background: url("../images/assets/rolls_share_twitter_on.svg") no-repeat center -3px transparent;
}

/* line 159, ../../../app/stylesheets/partials/anon-banner.scss */
.logged-out-facebook {
  font: 700 normal 100%/1.231 "Ubuntu", "Times New Roman";
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #222;
  color: white;
  font-size: 11px;
  line-height: 2.5;
  text-align: center;
  margin-right: 10px;
  padding-left: 30px;
  position: relative;
  background: #013e80;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #01599e), color-stop(100%, #013e80));
  background: -webkit-linear-gradient(top, #01599e, #013e80);
  background: -moz-linear-gradient(top, #01599e, #013e80);
  background: -o-linear-gradient(top, #01599e, #013e80);
  background: -ms-linear-gradient(top, #01599e, #013e80);
  background: linear-gradient(top, #01599e, #013e80);
}
/* line 135, ../../../app/stylesheets/partials/anon-banner.scss */
.logged-out-facebook:before {
  border-right: 1px solid #222;
  bottom: 1px;
  content: "\0020";
  float: left;
  left: 0;
  position: absolute;
  top: 1px;
  width: 30px;
}
/* line 166, ../../../app/stylesheets/partials/anon-banner.scss */
.logged-out-facebook:before {
  background: url("../images/assets/rolls_share_facebook_on.svg") no-repeat center center transparent;
}
