/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* Commenting out the Reset style sheet in favor of the normalize style sheet that comes with h5bp.
 * Need to integrate the h5bp normalizer into this compass fanciness.
 * @import "compass/reset";
 */
/* line 6, ../../../app/stylesheets/partials/app.html.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
  line-height: 1.231;
  margin: 0;
}

/* line 12, ../../../app/stylesheets/partials/app.html.scss */
html, body {
  bottom: 0;
  height: 100%;
  left: 0;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}

/* line 25, ../../../app/stylesheets/partials/app.html.scss */
body {
  color: #dcddde;
  font: 100 normal 62.5%/1.231 "Ubuntu", Trebuchet MS, "Times New Roman", sans-serif;
  background: url("../images/assets/noise.png") black;
}

/* line 35, ../../../app/stylesheets/partials/app.html.scss */
a {
  color: #a4a4a4;
}
/* line 40, ../../../app/stylesheets/partials/app.html.scss */
a:hover, a:visited, a:active {
  color: #a4a4a4;
}

/* line 46, ../../../app/stylesheets/partials/app.html.scss */
.wrapper {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

/* line 54, ../../../app/stylesheets/partials/app.html.scss */
.lining {
  float: left;
  margin-right: -330px;
  height: 100%;
  width: 100%;
}

/* line 62, ../../../app/stylesheets/partials/app.html.scss */
.content, .main {
  float: right;
  width: 330px;
}

/* line 67, ../../../app/stylesheets/partials/app.html.scss */
.main {
  background: #494949;
  font-size: 1.2em;
  height: 100%;
  line-height: 1.4;
  overflow: hidden;
  position: relative;
  z-index: 3;
  opacity: 1;
  -moz-transition-property: opacity, margin-right;
  -webkit-transition-property: opacity, margin-right;
  -o-transition-property: opacity, margin-right;
  transition-property: opacity, margin-right;
  -moz-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -moz-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  -moz-transition-delay: 0s;
  -webkit-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
}

/* line 85, ../../../app/stylesheets/partials/app.html.scss */
.main.hide-guide {
  margin-right: -330px;
}

/* line 89, ../../../app/stylesheets/partials/app.html.scss */
.user-inactive .main {
  opacity: .5;
}

/* line 93, ../../../app/stylesheets/partials/app.html.scss */
.content-body {
  bottom: 0;
  overflow-x: hidden;
  overflow-y: auto;
  position: absolute;
  top: 88px;
  width: 100%;
}

/* line 113, ../../../app/stylesheets/partials/app.html.scss */
.menu {
  -moz-box-shadow: 0px 2px 5px 0px #333333;
  -webkit-box-shadow: 0px 2px 5px 0px #333333;
  -o-box-shadow: 0px 2px 5px 0px #333333;
  box-shadow: 0px 2px 5px 0px #333333;
  border-bottom: 1px solid #222;
  position: relative;
  overflow: hidden;
}

/* line 121, ../../../app/stylesheets/partials/app.html.scss */
.spinner {
  left: 50%;
  margin-left: -24px;
  margin-top: 100px;
  position: absolute !important;
  z-index: 0  !important;
}
