/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* Commenting out the Reset style sheet in favor of the normalize style sheet that comes with h5bp.
 * Need to integrate the h5bp normalizer into this compass fanciness.
 * @import "compass/reset";
 */
/* line 3, ../../../app/stylesheets/partials/comment-overlay.scss */
.comment-overlay-wrapper {
  -moz-transition-property: opacity;
  -webkit-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
  -moz-transition-duration: 0.25s;
  -webkit-transition-duration: 0.25s;
  -o-transition-duration: 0.25s;
  transition-duration: 0.25s;
  -moz-transition-timing-function: ease-out;
  -webkit-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  -moz-transition-delay: 0s;
  -webkit-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
  background: transparent;
  font-size: 12px;
  left: 10px;
  line-height: 1.4;
  padding-right: 360px;
  position: absolute;
  top: 10px;
  width: 100%;
  z-index: 2;
}
/* line 19, ../../../app/stylesheets/partials/comment-overlay.scss */
.comment-overlay-wrapper .user {
  background-color: #303030;
  height: inherit;
  margin-left: 25px;
  margin-right: 25px;
  max-width: 500px;
  overflow-y: hidden;
}
/* line 28, ../../../app/stylesheets/partials/comment-overlay.scss */
.comment-overlay-wrapper .user-vcard {
  border: none;
}
/* line 32, ../../../app/stylesheets/partials/comment-overlay.scss */
.comment-overlay-wrapper .user-video-text p {
  max-height: 2.5em;
  overflow: hidden;
}

/* line 38, ../../../app/stylesheets/partials/comment-overlay.scss */
.comment-overlay-lining {
  display: none;
  height: 67px;
  max-width: 550px;
  position: relative;
}

/* line 45, ../../../app/stylesheets/partials/comment-overlay.scss */
.comment-overlay-prev {
  -moz-box-shadow: inset 0px 0px 1px 0px #333333;
  -webkit-box-shadow: inset 0px 0px 1px 0px #333333;
  -o-box-shadow: inset 0px 0px 1px 0px #333333;
  box-shadow: inset 0px 0px 1px 0px #333333;
  border: none;
  height: inherit;
  position: absolute;
  top: 0;
  width: 24px;
  background: url("../images/assets/comment_arrow_left.svg") no-repeat center center #303030;
  -moz-border-radius: 5px 0 0 5px;
  -webkit-border-radius: 5px 0 0 5px;
  -o-border-radius: 5px 0 0 5px;
  -ms-border-radius: 5px 0 0 5px;
  -khtml-border-radius: 5px 0 0 5px;
  border-radius: 5px 0 0 5px;
  left: 0;
}
/* line 109, ../../../app/stylesheets/_base.scss */
.comment-overlay-prev.message-terminus {
  background-image: none;
  cursor: default;
}

/* line 55, ../../../app/stylesheets/partials/comment-overlay.scss */
.comment-overlay-next {
  -moz-box-shadow: inset 0px 0px 1px 0px #333333;
  -webkit-box-shadow: inset 0px 0px 1px 0px #333333;
  -o-box-shadow: inset 0px 0px 1px 0px #333333;
  box-shadow: inset 0px 0px 1px 0px #333333;
  border: none;
  height: inherit;
  position: absolute;
  top: 0;
  width: 24px;
  background: url("../images/assets/comment_arrow_right.svg") no-repeat center center #303030;
  -moz-border-radius: 0 5px 5px 0;
  -webkit-border-radius: 0 5px 5px 0;
  -o-border-radius: 0 5px 5px 0;
  -ms-border-radius: 0 5px 5px 0;
  -khtml-border-radius: 0 5px 5px 0;
  border-radius: 0 5px 5px 0;
  right: 0;
}
/* line 109, ../../../app/stylesheets/_base.scss */
.comment-overlay-next.message-terminus {
  background-image: none;
  cursor: default;
}
