/* line 3, ../../../app/stylesheets/partials/context-overlay.scss */
.context-overlay-wrapper {
  -moz-transition-property: opacity;
  -webkit-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
  -moz-transition-duration: 0.25s;
  -webkit-transition-duration: 0.25s;
  -o-transition-duration: 0.25s;
  transition-duration: 0.25s;
  -moz-transition-timing-function: ease-out;
  -webkit-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  -moz-transition-delay: 0s;
  -webkit-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
  left: 10px;
  padding-right: 360px;
  position: absolute;
  top: 10px;
  width: 100%;
  z-index: 3;
}

/* line 16, ../../../app/stylesheets/partials/context-overlay.scss */
.context-overlay-lining {
  font-size: 120%;
  max-width: 330px;
  position: relative;
}
/* line 21, ../../../app/stylesheets/partials/context-overlay.scss */
.context-overlay-lining .video-card {
  background-color: #232526;
  box-shadow: inset 0px 1px 0px 0px #343434;
  margin: 10px;
}
/* line 27, ../../../app/stylesheets/partials/context-overlay.scss */
.context-overlay-lining .frame-title {
  width: 61%;
}
/* line 32, ../../../app/stylesheets/partials/context-overlay.scss */
.context-overlay-lining .frame-locator:before {
  border-left-color: #343434;
}
/* line 38, ../../../app/stylesheets/partials/context-overlay.scss */
.context-overlay-lining .frame-controls button {
  border-top-color: #343434;
  border-left-color: #343434;
}

/* line 45, ../../../app/stylesheets/partials/context-overlay.scss */
.user-inactive .context-overlay-wrapper {
  opacity: 0;
}
