/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* Commenting out the Reset style sheet in favor of the normalize style sheet that comes with h5bp.
 * Need to integrate the h5bp normalizer into this compass fanciness.
 * @import "compass/reset";
 */
/* line 10, ../../../app/stylesheets/partials/form-roll-video.scss */
.form-rolls-list a {
  display: block;
}
/* line 15, ../../../app/stylesheets/partials/form-roll-video.scss */
.form-rolls-list .public-roll.new:before, .form-rolls-list .new.private-roll:before {
  content: "+";
}
/* line 18, ../../../app/stylesheets/partials/form-roll-video.scss */
.form-rolls-list .public-roll:after, .form-rolls-list .private-roll:after {
  content: url("../images/assets/rolls_public.svg");
  float: right;
}
/* line 28, ../../../app/stylesheets/partials/form-roll-video.scss */
.form-rolls-list .private-roll:after {
  content: url("../images/assets/rolls_private.svg");
}

/* line 38, ../../../app/stylesheets/partials/form-roll-video.scss */
.share-comment-counter {
  color: white;
  float: right;
  line-height: 2.5;
  margin: 10px;
}
