/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* Commenting out the Reset style sheet in favor of the normalize style sheet that comes with h5bp.
 * Need to integrate the h5bp normalizer into this compass fanciness.
 * @import "compass/reset";
 */
/* line 7, ../../../app/stylesheets/partials/frame.scss */
.list {
  margin: 0;
  padding: 0;
}
/* line 11, ../../../app/stylesheets/partials/frame.scss */
.list li {
  background: #494949;
  list-style-type: none;
  padding: 10px;
}
/* line 19, ../../../app/stylesheets/partials/frame.scss */
.list li:hover {
  background: #555555;
}
/* line 27, ../../../app/stylesheets/partials/frame.scss */
.list .active-frame {
  background: #6d6d6d;
}

/* line 35, ../../../app/stylesheets/partials/frame.scss */
.video-card {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #222222;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: relative;
}

/* line 46, ../../../app/stylesheets/partials/frame.scss */
.video-card-footer {
  -moz-border-radius: 0 0 5px 5px;
  -webkit-border-radius: 0 0 5px 5px;
  -o-border-radius: 0 0 5px 5px;
  -ms-border-radius: 0 0 5px 5px;
  -khtml-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
  border-top: 1px solid #252525;
  overflow: hidden;
  z-index: 5;
}

/* line 55, ../../../app/stylesheets/partials/frame.scss */
.video-thumbnail {
  background: #444;
  line-height: 75px;
  margin: 0;
  text-align: center;
  width: 100%;
}

/* line 63, ../../../app/stylesheets/partials/frame.scss */
.video-thumbnail-image {
  display: inline-block;
  margin: -27px auto 0;
  overflow: hidden;
  padding-top: 0;
  vertical-align: middle;
  width: 100%;
  cursor: pointer;
}

/* line 74, ../../../app/stylesheets/partials/frame.scss */
.video-thumbnail-missing {
  margin: 36px auto 0;
  width: auto;
}

/* line 79, ../../../app/stylesheets/partials/frame.scss */
.video-card-header {
  background-color: #303030;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #333333), color-stop(100%, #303030));
  background: -webkit-linear-gradient(top, #333333, #303030);
  background: -moz-linear-gradient(top, #333333, #303030);
  background: -o-linear-gradient(top, #333333, #303030);
  background: -ms-linear-gradient(top, #333333, #303030);
  background: linear-gradient(top, #333333, #303030);
  -moz-border-radius: 3px 3px 0 0;
  -webkit-border-radius: 3px 3px 0 0;
  -o-border-radius: 3px 3px 0 0;
  -ms-border-radius: 3px 3px 0 0;
  -khtml-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
  padding: 6px 8px 7px;
}
/* line 85, ../../../app/stylesheets/partials/frame.scss */
.video-card-header a {
  text-decoration: none;
}
/* line 88, ../../../app/stylesheets/partials/frame.scss */
.video-card-header a:active, .video-card-header a:visited {
  text-decoration: none;
}
/* line 91, ../../../app/stylesheets/partials/frame.scss */
.video-card-header a:hover {
  text-decoration: underline;
}
/* line 96, ../../../app/stylesheets/partials/frame.scss */
.video-card-header h1 {
  float: left;
  font-size: 1em;
  height: 1.231em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

/* line 120, ../../../app/stylesheets/partials/frame.scss */
.video-thumbnail {
  height: 125px;
  overflow: hidden;
  position: relative;
}

/* line 125, ../../../app/stylesheets/partials/frame.scss */
.video-controls {
  margin: 5px;
  padding: 0;
  position: absolute;
  right: 0px;
  top: 0px;
}
/* line 132, ../../../app/stylesheets/partials/frame.scss */
.video-controls .roll-frame, .video-controls .save-frame, .video-controls .remove-frame {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  background-color: #59b034;
  background: url("../images/assets/noise.png"), -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #79c758), color-stop(100%, #59b034));
  background: url("../images/assets/noise.png"), -webkit-linear-gradient(top, #79c758, #59b034);
  background: url("../images/assets/noise.png"), -moz-linear-gradient(top, #79c758, #59b034);
  background: url("../images/assets/noise.png"), -o-linear-gradient(top, #79c758, #59b034);
  background: url("../images/assets/noise.png"), -ms-linear-gradient(top, #79c758, #59b034);
  background: url("../images/assets/noise.png"), linear-gradient(top, #79c758, #59b034);
  -moz-box-shadow: inset 0px 1px 1px 0px #69f034;
  -webkit-box-shadow: inset 0px 1px 1px 0px #69f034;
  -o-box-shadow: inset 0px 1px 1px 0px #69f034;
  box-shadow: inset 0px 1px 1px 0px #69f034;
  border: 1px solid black;
  margin-bottom: 5px;
  padding: 0;
}
/* line 145, ../../../app/stylesheets/partials/frame.scss */
.video-controls .roll-frame button, .video-controls .save-frame button, .video-controls .remove-frame button {
  background: url("../images/assets/action_roll.svg") no-repeat 8px 4px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  display: block;
  height: 32px;
  margin: 0;
  outline: 0;
  text-decoration: underline;
  width: 32px;
}
/* line 157, ../../../app/stylesheets/partials/frame.scss */
.video-controls .roll-frame:hover, .video-controls .save-frame:hover, .video-controls .remove-frame:hover {
  background: url("../images/assets/noise.png"), #63c43a;
  -moz-box-shadow: inset 0px 1px 1px 0px #69f034;
  -webkit-box-shadow: inset 0px 1px 1px 0px #69f034;
  -o-box-shadow: inset 0px 1px 1px 0px #69f034;
  box-shadow: inset 0px 1px 1px 0px #69f034;
}
/* line 166, ../../../app/stylesheets/partials/frame.scss */
.video-controls .upvote-frame {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  background-color: #464646;
  background: url("../images/assets/noise.png"), -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #646464), color-stop(100%, #464646));
  background: url("../images/assets/noise.png"), -webkit-linear-gradient(top, #646464, #464646);
  background: url("../images/assets/noise.png"), -moz-linear-gradient(top, #646464, #464646);
  background: url("../images/assets/noise.png"), -o-linear-gradient(top, #646464, #464646);
  background: url("../images/assets/noise.png"), -ms-linear-gradient(top, #646464, #464646);
  background: url("../images/assets/noise.png"), linear-gradient(top, #646464, #464646);
  -moz-box-shadow: inset 0px 1px 1px 0px #888888;
  -webkit-box-shadow: inset 0px 1px 1px 0px #888888;
  -o-box-shadow: inset 0px 1px 1px 0px #888888;
  box-shadow: inset 0px 1px 1px 0px #888888;
  border: 1px solid black;
  margin-bottom: 5px;
  padding: 0;
}
/* line 179, ../../../app/stylesheets/partials/frame.scss */
.video-controls .upvote-frame button {
  background: url("../images/assets/action_heart_white.svg") no-repeat 9px 4px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  font: 500 normal 100%/1.231 "Ubuntu", Trebuchet MS, "Times New Roman", sans-serif;
  color: #fff;
  display: block;
  font-weight: bold;
  height: 32px;
  margin: 0;
  outline: 0;
  padding-top: 16px;
  width: 32px;
}
/* line 194, ../../../app/stylesheets/partials/frame.scss */
.video-controls .upvote-frame:hover {
  background: url("../images/assets/noise.png"), #535353;
  -moz-box-shadow: inset 0px 1px 1px 0px #888888;
  -webkit-box-shadow: inset 0px 1px 1px 0px #888888;
  -o-box-shadow: inset 0px 1px 1px 0px #888888;
  box-shadow: inset 0px 1px 1px 0px #888888;
}
/* line 202, ../../../app/stylesheets/partials/frame.scss */
.video-controls .upvote-frame.upvoted {
  background-color: #9e1632;
  background: url("../images/assets/noise.png"), -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ba2046), color-stop(100%, #9e1632));
  background: url("../images/assets/noise.png"), -webkit-linear-gradient(top, #ba2046, #9e1632);
  background: url("../images/assets/noise.png"), -moz-linear-gradient(top, #ba2046, #9e1632);
  background: url("../images/assets/noise.png"), -o-linear-gradient(top, #ba2046, #9e1632);
  background: url("../images/assets/noise.png"), -ms-linear-gradient(top, #ba2046, #9e1632);
  background: url("../images/assets/noise.png"), linear-gradient(top, #ba2046, #9e1632);
  -moz-box-shadow: inset 0px 1px 1px 0px #ef2f74;
  -webkit-box-shadow: inset 0px 1px 1px 0px #ef2f74;
  -o-box-shadow: inset 0px 1px 1px 0px #ef2f74;
  box-shadow: inset 0px 1px 1px 0px #ef2f74;
}
/* line 210, ../../../app/stylesheets/partials/frame.scss */
.video-controls .upvote-frame.upvoted button {
  background: url("../images/assets/action_heart.svg") no-repeat 9px 4px;
  color: #222;
}
/* line 218, ../../../app/stylesheets/partials/frame.scss */
.video-controls .save-frame, .video-controls .remove-frame {
  background-color: #693a7b;
  background: url("../images/assets/noise.png"), -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #8d539a), color-stop(100%, #693a7b));
  background: url("../images/assets/noise.png"), -webkit-linear-gradient(top, #8d539a, #693a7b);
  background: url("../images/assets/noise.png"), -moz-linear-gradient(top, #8d539a, #693a7b);
  background: url("../images/assets/noise.png"), -o-linear-gradient(top, #8d539a, #693a7b);
  background: url("../images/assets/noise.png"), -ms-linear-gradient(top, #8d539a, #693a7b);
  background: url("../images/assets/noise.png"), linear-gradient(top, #8d539a, #693a7b);
  -moz-box-shadow: inset 0px 1px 1px 0px #8d8f90;
  -webkit-box-shadow: inset 0px 1px 1px 0px #8d8f90;
  -o-box-shadow: inset 0px 1px 1px 0px #8d8f90;
  box-shadow: inset 0px 1px 1px 0px #8d8f90;
}
/* line 227, ../../../app/stylesheets/partials/frame.scss */
.video-controls .save-frame button, .video-controls .remove-frame button {
  background: url("../images/assets/saved_action.svg") no-repeat center center;
}
/* line 232, ../../../app/stylesheets/partials/frame.scss */
.video-controls .save-frame:hover, .video-controls .remove-frame:hover {
  background: url("../images/assets/noise.png"), #9863a2;
  -moz-box-shadow: inset 0px 1px 1px 0px #9863a2;
  -webkit-box-shadow: inset 0px 1px 1px 0px #9863a2;
  -o-box-shadow: inset 0px 1px 1px 0px #9863a2;
  box-shadow: inset 0px 1px 1px 0px #9863a2;
}
/* line 240, ../../../app/stylesheets/partials/frame.scss */
.video-controls .remove-frame {
  -moz-box-shadow: inset 0px 1px 1px 0px #c0224c;
  -webkit-box-shadow: inset 0px 1px 1px 0px #c0224c;
  -o-box-shadow: inset 0px 1px 1px 0px #c0224c;
  box-shadow: inset 0px 1px 1px 0px #c0224c;
  background-color: #9e1632;
  background: url("../images/assets/noise.png"), -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ba2046), color-stop(100%, #9e1632));
  background: url("../images/assets/noise.png"), -webkit-linear-gradient(top, #ba2046, #9e1632);
  background: url("../images/assets/noise.png"), -moz-linear-gradient(top, #ba2046, #9e1632);
  background: url("../images/assets/noise.png"), -o-linear-gradient(top, #ba2046, #9e1632);
  background: url("../images/assets/noise.png"), -ms-linear-gradient(top, #ba2046, #9e1632);
  background: url("../images/assets/noise.png"), linear-gradient(top, #ba2046, #9e1632);
}
/* line 249, ../../../app/stylesheets/partials/frame.scss */
.video-controls .remove-frame button {
  background: url("../images/assets/saved_remove.svg") no-repeat center center;
}
/* line 254, ../../../app/stylesheets/partials/frame.scss */
.video-controls .remove-frame:hover {
  background: url("../images/assets/noise.png"), #cb1c40;
  -moz-box-shadow: inset 0px 1px 1px 0px #cb1c40;
  -webkit-box-shadow: inset 0px 1px 1px 0px #cb1c40;
  -o-box-shadow: inset 0px 1px 1px 0px #cb1c40;
  box-shadow: inset 0px 1px 1px 0px #cb1c40;
}

/* line 264, ../../../app/stylesheets/partials/frame.scss */
.video-footer {
  background-color: #303030;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #333333), color-stop(100%, #303030));
  background: -webkit-linear-gradient(top, #333333, #303030);
  background: -moz-linear-gradient(top, #333333, #303030);
  background: -o-linear-gradient(top, #333333, #303030);
  background: -ms-linear-gradient(top, #333333, #303030);
  background: linear-gradient(top, #333333, #303030);
  -moz-border-radius: 0 0 3px 3px;
  -webkit-border-radius: 0 0 3px 3px;
  -o-border-radius: 0 0 3px 3px;
  -ms-border-radius: 0 0 3px 3px;
  -khtml-border-radius: 0 0 3px 3px;
  border-radius: 0 0 3px 3px;
  border-top: 1px solid #4f4d51;
  font-size: 11px;
  font-weight: 500;
  height: 27px;
  padding: 6px 8px 7px;
}

/* line 284, ../../../app/stylesheets/partials/frame.scss */
.video-activity-comment {
  padding: 10px;
}
/* line 286, ../../../app/stylesheets/partials/frame.scss */
.video-activity-comment textarea {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  border-color: #555;
  padding: 5px;
  width: 100%;
  resize: none;
}
/* line 294, ../../../app/stylesheets/partials/frame.scss */
.video-activity-comment .video-activity-comment-submit {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  font: 500 normal 100%/1.231 "Ubuntu", Trebuchet MS, "Times New Roman", sans-serif;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #4a4a4a), color-stop(100%, #343434));
  background: -webkit-linear-gradient(top, #4a4a4a, #343434);
  background: -moz-linear-gradient(top, #4a4a4a, #343434);
  background: -o-linear-gradient(top, #4a4a4a, #343434);
  background: -ms-linear-gradient(top, #4a4a4a, #343434);
  background: linear-gradient(top, #4a4a4a, #343434);
  -moz-box-shadow: inset -1px 0px 1px 0px #444444;
  -webkit-box-shadow: inset -1px 0px 1px 0px #444444;
  -o-box-shadow: inset -1px 0px 1px 0px #444444;
  box-shadow: inset -1px 0px 1px 0px #444444;
  border: 1px solid #222;
  color: #efefef;
  display: block;
  float: left;
  font-size: 13px;
  height: 23px;
  line-height: 1.5;
  margin: 3px;
  padding: 0 5px;
  text-shadow: 0px 1px 2px #222;
  width: auto;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #00a5cc), color-stop(100%, #007fb6));
  background: -webkit-linear-gradient(top, #00a5cc, #007fb6);
  background: -moz-linear-gradient(top, #00a5cc, #007fb6);
  background: -o-linear-gradient(top, #00a5cc, #007fb6);
  background: -ms-linear-gradient(top, #00a5cc, #007fb6);
  background: linear-gradient(top, #00a5cc, #007fb6);
  -moz-box-shadow: inset -1px 0px 1px 0px #79cae7;
  -webkit-box-shadow: inset -1px 0px 1px 0px #79cae7;
  -o-box-shadow: inset -1px 0px 1px 0px #79cae7;
  box-shadow: inset -1px 0px 1px 0px #79cae7;
  border-color: #00597C;
  float: right;
  margin: 3px 0;
  padding: 0 7px;
  width: auto;
}

/* line 311, ../../../app/stylesheets/partials/frame.scss */
.video-activity-list {
  margin: 0;
  padding-left: 0;
}
/* line 315, ../../../app/stylesheets/partials/frame.scss */
.video-activity-list li {
  border-bottom: 0;
  list-style-type: none;
  padding: 0;
}

/* line 326, ../../../app/stylesheets/partials/frame.scss */
.video-source {
  float: right;
}

/* line 331, ../../../app/stylesheets/partials/frame.scss */
.video-author {
  margin: 0;
}

/* line 337, ../../../app/stylesheets/partials/frame.scss */
.user {
  background-color: #303030;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #333333), color-stop(100%, #303030));
  background: -webkit-linear-gradient(top, #333333, #303030);
  background: -moz-linear-gradient(top, #333333, #303030);
  background: -o-linear-gradient(top, #333333, #303030);
  background: -ms-linear-gradient(top, #333333, #303030);
  background: linear-gradient(top, #333333, #303030);
}

/* line 342, ../../../app/stylesheets/partials/frame.scss */
.user-vcard {
  border-bottom: 1px solid #252525;
  border-top: 1px solid #4f4d51;
  height: 100%;
  padding: 0 9px 9px;
}
/* line 351, ../../../app/stylesheets/partials/frame.scss */
.user-vcard a {
  text-decoration: none;
}

/* line 356, ../../../app/stylesheets/partials/frame.scss */
.user-avatar {
  display: block;
  float: left;
}
/* line 360, ../../../app/stylesheets/partials/frame.scss */
.user-avatar img {
  margin-bottom: 7px;
  margin-right: 7px;
  margin-top: 9px;
}

/* line 366, ../../../app/stylesheets/partials/frame.scss */
.user-handle, .user-post-date {
  font-size: 11px;
  font-weight: 500;
  line-height: 2.8;
  color: #a4a4a4;
}

/* line 373, ../../../app/stylesheets/partials/frame.scss */
.user-post-date {
  float: right;
  line-height: 1;
  margin-top: 9px;
  padding-right: 3px;
}

/* line 382, ../../../app/stylesheets/partials/frame.scss */
.user-post-origin-twitter:before, .user-post-origin-facebook:before, .user-post-origin-tumblr:before {
  content: url('/images/../images/assets/twitter_stamp.svg?1335297177');
  float: left;
  font-size: 0.75em;
  margin: 1px 3px;
}

/* line 392, ../../../app/stylesheets/partials/frame.scss */
.user-post-origin-facebook:before {
  content: url('/images/../images/assets/facebook_stamp.svg?1335297177');
}

/* line 399, ../../../app/stylesheets/partials/frame.scss */
.user-post-origin-tumblr:before {
  content: url('/images/../images/assets/tumblr_stamp.svg?1336400805');
}

/* line 404, ../../../app/stylesheets/partials/frame.scss */
.user-video-text {
  margin-top: -7px;
}
/* line 407, ../../../app/stylesheets/partials/frame.scss */
.user-video-text p {
  margin: 2px 5px 0 32px;
}
