/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* Commenting out the Reset style sheet in favor of the normalize style sheet that comes with h5bp.
 * Need to integrate the h5bp normalizer into this compass fanciness.
 * @import "compass/reset";
 */
/* line 10, ../../../app/stylesheets/partials/frame-rolling-success.scss */
.frame-rolling-success .frame-share {
  background: url("../images/assets/noise.png") #454545;
  height: auto;
  padding: 10px 10px 0;
}
/* line 17, ../../../app/stylesheets/partials/frame-rolling-success.scss */
.frame-rolling-success .share-networks-list li {
  background: none;
  border-bottom: none;
  margin-bottom: 0;
  padding: 0;
}

/* line 26, ../../../app/stylesheets/partials/frame-rolling-success.scss */
.frame-rolling-success-header {
  background: url("../images/assets/noise.png") #555555;
  border-bottom: 1px solid #222;
  height: 40px;
}
/* line 31, ../../../app/stylesheets/partials/frame-rolling-success.scss */
.frame-rolling-success-header h1 {
  font-size: 13px;
  line-height: 3;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 80%;
}
/* line 38, ../../../app/stylesheets/partials/frame-rolling-success.scss */
.frame-rolling-success-header h1:before {
  content: url("../images/assets/rolls_public.svg");
  float: left;
  margin: 4px 10px;
}

/* line 46, ../../../app/stylesheets/partials/frame-rolling-success.scss */
.frame-share-undo {
  line-height: 3;
  margin: 0 5px;
  position: absolute;
  right: 5px;
  top: 0;
}
