/* line 3, ../../../app/stylesheets/partials/frame.scss */
.list {
  margin: 0;
  padding: 0;
}
/* line 7, ../../../app/stylesheets/partials/frame.scss */
.list li {
  list-style-type: none;
}

/* line 12, ../../../app/stylesheets/partials/frame.scss */
.frame {
  padding: 10px;
}
/* line 15, ../../../app/stylesheets/partials/frame.scss */
.frame:hover {
  background: #292b2d;
}

/* line 20, ../../../app/stylesheets/partials/frame.scss */
.active-list-item {
  background-color: #ddd;
}
/* line 23, ../../../app/stylesheets/partials/frame.scss */
.active-list-item:hover {
  background-color: white;
}
/* line 27, ../../../app/stylesheets/partials/frame.scss */
.active-list-item .active-frame {
  background: #6d6d6d;
}

/* line 32, ../../../app/stylesheets/partials/frame.scss */
.video-card {
  -moz-box-shadow: inset 0 1px 0 0 #414141;
  -webkit-box-shadow: inset 0 1px 0 0 #414141;
  -o-box-shadow: inset 0 1px 0 0 #414141;
  box-shadow: inset 0 1px 0 0 #414141;
  border-radius: 5px;
  background-color: #35383a;
  border: 1px solid #222222;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: relative;
}

/* line 44, ../../../app/stylesheets/partials/frame.scss */
.video-thumbnail {
  background-color: #494949;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  line-height: 75px;
  margin: 0;
  text-align: center;
}

/* line 56, ../../../app/stylesheets/partials/frame.scss */
.video-thumbnail-image {
  cursor: pointer;
  display: inline-block;
  margin: -29px auto 0;
  overflow: hidden;
  padding-top: 0;
  vertical-align: middle;
  width: 100%;
}

/* line 66, ../../../app/stylesheets/partials/frame.scss */
.video-thumbnail-missing {
  background-image: url("data:image/svg+xml,%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20x%3D%220px%22%20y%3D%220px%22%0A%09%20width%3D%2240px%22%20height%3D%2253px%22%20viewBox%3D%220%200%2040%2053%22%20enable-background%3D%22new%200%200%2040%2053%22%20xml%3Aspace%3D%22preserve%22%3E%0A%3Cg%3E%0A%09%3Cpath%20fill%3D%22%23EFEFEF%22%20d%3D%22M18.337%2C10.294c-1.664%2C0-3.232%2C0.207-4.71%2C0.622c-1.48%2C0.415-3.116%2C1.085-4.917%2C2.009L5.802%2C5.101%0A%09%09c1.8-1.154%2C3.923-2.043%2C6.372-2.669C14.619%2C1.81%2C17.021%2C1.5%2C19.373%2C1.5c2.958%2C0%2C5.392%2C0.393%2C7.308%2C1.176%0A%09%09c1.914%2C0.785%2C3.429%2C1.776%2C4.539%2C2.979c1.106%2C1.199%2C1.878%2C2.514%2C2.318%2C3.946c0.439%2C1.432%2C0.66%2C2.792%2C0.66%2C4.086%0A%09%09c0%2C1.293-0.198%2C2.483-0.589%2C3.568c-0.398%2C1.084-0.894%2C2.088-1.491%2C3.011c-0.601%2C0.924-1.292%2C1.801-2.077%2C2.633%0A%09%09c-0.786%2C0.83-1.55%2C1.615-2.284%2C2.352c-0.55%2C0.555-1.131%2C1.144-1.729%2C1.768c-0.602%2C0.623-1.145%2C1.283-1.627%2C1.975%0A%09%09c-0.483%2C0.694-0.892%2C1.418-1.212%2C2.184c-0.326%2C0.762-0.481%2C1.535-0.481%2C2.322c0%2C0.18%2C0%2C0.463%2C0%2C0.829%0A%09%09c0%2C0.365%2C0.021%2C0.688%2C0.07%2C0.972h-9.142c-0.095-0.464-0.152-0.982-0.176-1.557c-0.022-0.576-0.034-1.074-0.034-1.49%0A%09%09c0-1.289%2C0.16-2.457%2C0.482-3.5c0.323-1.037%2C0.751-2.006%2C1.283-2.909c0.53-0.9%2C1.14-1.742%2C1.836-2.527%0A%09%09c0.692-0.784%2C1.407-1.548%2C2.146-2.286c1.059-1.061%2C2.03-2.115%2C2.91-3.149c0.875-1.042%2C1.314-2.227%2C1.314-3.568%0A%09%09c0-1.109-0.428-2.055-1.281-2.838C21.258%2C10.687%2C19.999%2C10.294%2C18.337%2C10.294z%20M24.774%2C45.128c0%2C2.034-0.656%2C3.602-1.972%2C4.712%0A%09%09c-1.318%2C1.108-2.804%2C1.66-4.466%2C1.66c-1.664%2C0-3.15-0.552-4.468-1.66c-1.315-1.11-1.976-2.678-1.976-4.712%0A%09%09c0-2.029%2C0.66-3.598%2C1.976-4.708c1.317-1.108%2C2.804-1.66%2C4.468-1.66c1.662%2C0%2C3.147%2C0.552%2C4.466%2C1.66%0A%09%09C24.118%2C41.53%2C24.774%2C43.099%2C24.774%2C45.128z%22/%3E%0A%3C/g%3E%0A%3C/svg%3E");
  background-size: 20%;
}

/* line 71, ../../../app/stylesheets/partials/frame.scss */
.video-card-header {
  border-bottom: 1px solid black;
  padding: 0;
}
/* line 76, ../../../app/stylesheets/partials/frame.scss */
.video-card-header a {
  text-decoration: none;
}
/* line 79, ../../../app/stylesheets/partials/frame.scss */
.video-card-header a:active, .video-card-header a:visited {
  text-decoration: none;
}
/* line 82, ../../../app/stylesheets/partials/frame.scss */
.video-card-header a:hover {
  text-decoration: underline;
}

/* line 88, ../../../app/stylesheets/partials/frame.scss */
.frame-creator-avatar, .frame-creator-avatar-missing {
  border-radius: 5px 0 0 0;
  float: left;
  height: 40px;
  width: 40px;
}

/* line 95, ../../../app/stylesheets/partials/frame.scss */
.frame-creator-avatar-missing {
  background: url("data:image/svg+xml,%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20x%3D%220px%22%20y%3D%220px%22%0A%09%20width%3D%2240px%22%20height%3D%2253px%22%20viewBox%3D%220%200%2040%2053%22%20enable-background%3D%22new%200%200%2040%2053%22%20xml%3Aspace%3D%22preserve%22%3E%0A%3Cg%3E%0A%09%3Cpath%20fill%3D%22%23EFEFEF%22%20d%3D%22M18.337%2C10.294c-1.664%2C0-3.232%2C0.207-4.71%2C0.622c-1.48%2C0.415-3.116%2C1.085-4.917%2C2.009L5.802%2C5.101%0A%09%09c1.8-1.154%2C3.923-2.043%2C6.372-2.669C14.619%2C1.81%2C17.021%2C1.5%2C19.373%2C1.5c2.958%2C0%2C5.392%2C0.393%2C7.308%2C1.176%0A%09%09c1.914%2C0.785%2C3.429%2C1.776%2C4.539%2C2.979c1.106%2C1.199%2C1.878%2C2.514%2C2.318%2C3.946c0.439%2C1.432%2C0.66%2C2.792%2C0.66%2C4.086%0A%09%09c0%2C1.293-0.198%2C2.483-0.589%2C3.568c-0.398%2C1.084-0.894%2C2.088-1.491%2C3.011c-0.601%2C0.924-1.292%2C1.801-2.077%2C2.633%0A%09%09c-0.786%2C0.83-1.55%2C1.615-2.284%2C2.352c-0.55%2C0.555-1.131%2C1.144-1.729%2C1.768c-0.602%2C0.623-1.145%2C1.283-1.627%2C1.975%0A%09%09c-0.483%2C0.694-0.892%2C1.418-1.212%2C2.184c-0.326%2C0.762-0.481%2C1.535-0.481%2C2.322c0%2C0.18%2C0%2C0.463%2C0%2C0.829%0A%09%09c0%2C0.365%2C0.021%2C0.688%2C0.07%2C0.972h-9.142c-0.095-0.464-0.152-0.982-0.176-1.557c-0.022-0.576-0.034-1.074-0.034-1.49%0A%09%09c0-1.289%2C0.16-2.457%2C0.482-3.5c0.323-1.037%2C0.751-2.006%2C1.283-2.909c0.53-0.9%2C1.14-1.742%2C1.836-2.527%0A%09%09c0.692-0.784%2C1.407-1.548%2C2.146-2.286c1.059-1.061%2C2.03-2.115%2C2.91-3.149c0.875-1.042%2C1.314-2.227%2C1.314-3.568%0A%09%09c0-1.109-0.428-2.055-1.281-2.838C21.258%2C10.687%2C19.999%2C10.294%2C18.337%2C10.294z%20M24.774%2C45.128c0%2C2.034-0.656%2C3.602-1.972%2C4.712%0A%09%09c-1.318%2C1.108-2.804%2C1.66-4.466%2C1.66c-1.664%2C0-3.15-0.552-4.468-1.66c-1.315-1.11-1.976-2.678-1.976-4.712%0A%09%09c0-2.029%2C0.66-3.598%2C1.976-4.708c1.317-1.108%2C2.804-1.66%2C4.468-1.66c1.662%2C0%2C3.147%2C0.552%2C4.466%2C1.66%0A%09%09C24.118%2C41.53%2C24.774%2C43.099%2C24.774%2C45.128z%22/%3E%0A%3C/g%3E%0A%3C/svg%3E") no-repeat center center #454545;
  background-size: 50%;
}

/* line 112, ../../../app/stylesheets/partials/frame.scss */
.frame-creator-roll {
  color: #999;
  font-size: 11px;
  font-weight: 300;
  height: 1.9em;
  padding: 6px 8px 0;
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  float: left;
  width: 50%;
}

/* line 124, ../../../app/stylesheets/partials/frame.scss */
.frame-timestamp {
  color: #999;
  font-size: 11px;
  font-weight: 300;
  height: 1.9em;
  padding: 6px 8px 0;
  float: right;
}

/* line 129, ../../../app/stylesheets/partials/frame.scss */
.frame-locator {
  font: 700 normal 100%/1.231 "Ubuntu", Trebuchet MS, sans-serif;
  background: url("data:image/svg+xml,%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20x%3D%220px%22%20y%3D%220px%22%0A%09%20width%3D%2218px%22%20height%3D%2218px%22%20viewBox%3D%220%200%2018%2018%22%20enable-background%3D%22new%200%200%2018%2018%22%20xml%3Aspace%3D%22preserve%22%3E%0A%3Cpath%20fill%3D%22%23efefef%22%20d%3D%22M8.999%2C0C4.037%2C0%2C0%2C4.037%2C0%2C9.001C0%2C13.959%2C4.037%2C18%2C8.999%2C18S18%2C13.959%2C18%2C9.001C18%2C4.037%2C13.961%2C0%2C8.999%2C0z%20M9.83%2C15.806%0A%09v-3.799H8.172v3.799c-3.126-0.377-5.601-2.854-5.979-5.975h3.803V8.172H2.192c0.377-3.126%2C2.853-5.604%2C5.979-5.98v3.805H9.83V2.192%0A%09c3.126%2C0.378%2C5.599%2C2.854%2C5.976%2C5.979h-3.8v1.659h3.8C15.428%2C12.951%2C12.955%2C15.427%2C9.83%2C15.806z%22/%3E%0A%3C/svg%3E%0A") no-repeat 10px center transparent;
  border-bottom: none;
  border-left: 1px solid black;
  border-right: none;
  border-top: none;
  color: #efefef;
  line-height: 3.25;
  padding: 0 1em 0 3em;
  position: absolute;
  right: 0;
}
/* line 143, ../../../app/stylesheets/partials/frame.scss */
.frame-locator:before {
  border-left: 1px solid #414141;
  content: "\0020";
  display: block;
  height: 40px;
  float: left;
  margin: 0 0 0 -36px;
}

/* line 154, ../../../app/stylesheets/partials/frame.scss */
.frame-title {
  clear: right;
  color: #bfbfbf;
  float: left;
  font-size: 13px;
  height: 19px;
  line-height: 17px;
  overflow: hidden;
  padding: 0 8px 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 83%;
}

/* line 168, ../../../app/stylesheets/partials/frame.scss */
.video-card-footer {
  border-radius: 0 0 5px 5px;
  overflow: hidden;
  z-index: 5;
}

/* line 174, ../../../app/stylesheets/partials/frame.scss */
.video-thumbnail {
  height: 125px;
  overflow: hidden;
  position: relative;
}

/* line 180, ../../../app/stylesheets/partials/frame.scss */
.video-activity-comment {
  border-bottom: 1px solid black;
  border-top: 1px solid #343434;
  padding: 10px;
}
/* line 185, ../../../app/stylesheets/partials/frame.scss */
.video-activity-comment textarea {
  border-radius: 3px;
  border-color: #555;
  padding: 5px;
  resize: none;
  width: 100%;
}
/* line 193, ../../../app/stylesheets/partials/frame.scss */
.video-activity-comment .video-activity-comment-submit {
  background-color: #0071a3;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #0094d6), color-stop(100%, #0071a3));
  background: -webkit-linear-gradient(top, #0094d6, #0071a3);
  background: -moz-linear-gradient(top, #0094d6, #0071a3);
  background: -o-linear-gradient(top, #0094d6, #0071a3);
  background: -ms-linear-gradient(top, #0094d6, #0071a3);
  background: linear-gradient(top, #0094d6, #0071a3);
  -moz-box-shadow: inset 0px 1px 0px 0px #23bcff;
  -webkit-box-shadow: inset 0px 1px 0px 0px #23bcff;
  -o-box-shadow: inset 0px 1px 0px 0px #23bcff;
  box-shadow: inset 0px 1px 0px 0px #23bcff;
  font: 700 normal 100%/1.231 "Ubuntu", Trebuchet MS, sans-serif;
  text-shadow: 0px -1px 0px #333333;
  border: 1px solid #002a3d;
  border-radius: 5px;
  color: #efefef;
  padding: 4px 8px;
  float: right;
  margin-top: 5px;
}

/* line 205, ../../../app/stylesheets/partials/frame.scss */
.video-activity-list {
  margin: 0;
  padding-left: 0;
}
/* line 209, ../../../app/stylesheets/partials/frame.scss */
.video-activity-list li {
  border-bottom: 0;
  list-style-type: none;
  padding: 0;
}

/* line 216, ../../../app/stylesheets/partials/frame.scss */
.video-source {
  float: right;
  height: 1.231em;
  max-width: 50%;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* line 224, ../../../app/stylesheets/partials/frame.scss */
.video-author {
  margin: 0;
}

/* XXX BELOW still needed for context overlay, but not for conversation within guide  */
/* line 229, ../../../app/stylesheets/partials/frame.scss */
.user-vcard {
  border-bottom: 1px solid black;
  border-top: 1px solid #343434;
  height: 100%;
  padding: 0 9px 9px;
}
/* line 235, ../../../app/stylesheets/partials/frame.scss */
.user-vcard a {
  text-decoration: none;
}

/* line 240, ../../../app/stylesheets/partials/frame.scss */
.user-avatar {
  display: block;
  float: left;
}
/* line 244, ../../../app/stylesheets/partials/frame.scss */
.user-avatar img {
  margin-bottom: 7px;
  margin-right: 7px;
  margin-top: 9px;
}

/* line 250, ../../../app/stylesheets/partials/frame.scss */
.user-handle, .user-post-date {
  color: #a4a4a4;
  font-size: 11px;
  font-weight: 500;
  line-height: 2.8;
}

/* line 257, ../../../app/stylesheets/partials/frame.scss */
.user-post-date {
  float: right;
  line-height: 1;
  margin-top: 9px;
  padding-right: 3px;
}

/* line 266, ../../../app/stylesheets/partials/frame.scss */
.user-post-origin-twitter:before, .frame-creator-origin-twitter:before, .user-post-origin-facebook:before, .user-post-origin-tumblr:before {
  content: url('/images/../images/assets/twitter_stamp.svg?1338995882');
  float: left;
  font-size: 0.75em;
  margin: 3px 3px 0 0;
}

/* line 276, ../../../app/stylesheets/partials/frame.scss */
.user-post-origin-facebook:before {
  content: url('/images/../images/assets/facebook_stamp.svg?1338995882');
}

/* line 283, ../../../app/stylesheets/partials/frame.scss */
.user-post-origin-tumblr:before {
  content: url('/images/../images/assets/tumblr_stamp.svg?1338995882');
}

/* line 288, ../../../app/stylesheets/partials/frame.scss */
.user-video-text {
  margin-top: -7px;
}
/* line 291, ../../../app/stylesheets/partials/frame.scss */
.user-video-text p {
  margin: 2px 5px 0 32px;
}

/* XXX ABOVE still needed for context overlay, but not for conversation within guide  */
/* line 297, ../../../app/stylesheets/partials/frame.scss */
.frame-controls {
  margin: 0;
  padding: 0;
}
/* line 301, ../../../app/stylesheets/partials/frame.scss */
.frame-controls li {
  display: block;
  float: left;
  list-style-type: none;
  width: 25%;
}
/* line 308, ../../../app/stylesheets/partials/frame.scss */
.frame-controls li:first-child button {
  border-left: none;
}
/* line 314, ../../../app/stylesheets/partials/frame.scss */
.frame-controls li:last-child button {
  border-right: none;
}
/* line 319, ../../../app/stylesheets/partials/frame.scss */
.frame-controls button {
  font: 700 normal 100%/1.231 "Ubuntu", Trebuchet MS, sans-serif;
  background: transparent;
  border-bottom: none;
  border-left: 1px solid #414141;
  border-right: 1px solid black;
  border-top: 1px solid #414141;
  display: block;
  height: 42px;
  width: 100%;
}

/* line 332, ../../../app/stylesheets/partials/frame.scss */
.frame-activity {
  font-weight: 500;
}

/* line 336, ../../../app/stylesheets/partials/frame.scss */
.frame-activity-favorites {
  border-bottom: 1px solid black;
  border-top: 1px solid #414141;
  font-size: 11px;
  margin: 0;
  padding: 4px;
  width: auto;
}
/* line 344, ../../../app/stylesheets/partials/frame.scss */
.frame-activity-favorites li {
  display: block;
  float: left;
  height: 24px;
  list-style-type: none;
  overflow: hidden;
  margin-right: 3px;
  width: 24px;
}
/* line 354, ../../../app/stylesheets/partials/frame.scss */
.frame-activity-favorites a {
  display: block;
}
/* line 358, ../../../app/stylesheets/partials/frame.scss */
.frame-activity-favorites img {
  display: block;
  width: 100%;
}
/* line 363, ../../../app/stylesheets/partials/frame.scss */
.frame-activity-favorites:before {
  background: url("../images/assets/videocard_heart_off.svg") no-repeat 3px center transparent;
  background-size: 55%;
  content: "\0020";
  float: left;
  height: 24px;
  width: 22px;
}

/* line 374, ../../../app/stylesheets/partials/frame.scss */
.frame-controls-like i {
  background: url("../images/assets/videocard_heart_off.svg") no-repeat left 0 transparent;
  color: #efefef;
  font-style: normal;
  padding-bottom: 2px;
  padding-left: 19px;
}
/* line 383, ../../../app/stylesheets/partials/frame.scss */
.frame-controls-like.upvoted i, .frame-controls-like:hover i {
  background: url("../images/assets/videocard_heart_on.svg") no-repeat left 0 transparent;
}

/* line 390, ../../../app/stylesheets/partials/frame.scss */
.frame-controls-comments i {
  background: url("../images/assets/videocard_comment_off.svg") no-repeat left 0 transparent;
  color: #efefef;
  font-style: normal;
  padding-bottom: 2px;
  padding-left: 21px;
}
/* line 399, ../../../app/stylesheets/partials/frame.scss */
.frame-controls-comments .frame-comments-open i, .frame-controls-comments:hover i {
  background: url("../images/assets/videocard_comment_on.svg") no-repeat left 0 transparent;
}

/* line 406, ../../../app/stylesheets/partials/frame.scss */
.frame-controls-roll button {
  background: url("../images/assets/videocard_roll_off.svg") no-repeat center center transparent;
}
/* line 411, ../../../app/stylesheets/partials/frame.scss */
.frame-controls-roll:hover button {
  background: url("../images/assets/videocard_roll_on.svg") no-repeat center center transparent;
}

/* line 418, ../../../app/stylesheets/partials/frame.scss */
.frame-controls-share button {
  background: url("../images/assets/videocard_share_off.svg") no-repeat center center transparent;
}
/* line 423, ../../../app/stylesheets/partials/frame.scss */
.frame-controls-share:hover button {
  background: url("../images/assets/videocard_share_on.svg") no-repeat center center transparent;
}
