/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* Commenting out the Reset style sheet in favor of the normalize style sheet that comes with h5bp.
 * Need to integrate the h5bp normalizer into this compass fanciness.
 * @import "compass/reset";
 */
/* line 3, ../../../app/stylesheets/partials/frame-rolling-completion.scss */
.frame-rolling-completion {
  -moz-border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;
  -o-border-radius: 5px 5px 0 0;
  -ms-border-radius: 5px 5px 0 0;
  -khtml-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
  border-top: none;
  overflow-y: hidden;
  top: 0;
  z-index: 1;
}
/* line 12, ../../../app/stylesheets/partials/frame-rolling-completion.scss */
.frame-rolling-completion .frame-share {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  -o-border-radius: 0;
  -ms-border-radius: 0;
  -khtml-border-radius: 0;
  border-radius: 0;
  bottom: 0;
  height: auto;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 40px;
}
/* line 22, ../../../app/stylesheets/partials/frame-rolling-completion.scss */
.frame-rolling-completion .frame-share:before {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20);
  opacity: 0.2;
  background: #222;
  bottom: 0;
  content: "\0020";
  position: absolute;
  top: 0;
  width: 100%;
}
/* line 35, ../../../app/stylesheets/partials/frame-rolling-completion.scss */
.frame-rolling-completion .share-networks-list li {
  margin-bottom: 0;
  padding: 0;
}
/* line 42, ../../../app/stylesheets/partials/frame-rolling-completion.scss */
.frame-rolling-completion.frame-rolling-private .share-comment-counter {
  display: block;
  float: right;
  height: 20px;
  position: relative;
}

/* line 51, ../../../app/stylesheets/partials/frame-rolling-completion.scss */
.frame-rolling-completion-header {
  -moz-border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;
  -o-border-radius: 5px 5px 0 0;
  -ms-border-radius: 5px 5px 0 0;
  -khtml-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
  background-color: #555555;
  border-bottom: 1px solid #222222;
  height: 40px;
}
/* line 58, ../../../app/stylesheets/partials/frame-rolling-completion.scss */
.frame-rolling-completion-header h1 {
  border-bottom: 1px solid #333333;
  font-size: 16px;
  height: 40px;
  line-height: 2.4;
  margin: 0 auto;
  max-width: 145px;
  padding-right: 10px;
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
}
/* line 86, ../../../app/stylesheets/partials/frame-rolling-completion.scss */
.frame-rolling-completion-header h1.roll-type-private:before {
  background-image: url("../images/assets/rolls_private.svg");
}
/* line 90, ../../../app/stylesheets/partials/frame-rolling-completion.scss */
.frame-rolling-completion-header h1.roll-type-social {
  padding: 0;
}

/* line 96, ../../../app/stylesheets/partials/frame-rolling-completion.scss */
.frame-share-undo {
  line-height: 3;
  margin: 0 5px;
  position: absolute;
  right: 5px;
  top: 0;
}
