/* line 9, ../../../app/stylesheets/partials/frame-rolling-options.scss */
.create-roll .roll-options {
  border: none;
}
/* line 11, ../../../app/stylesheets/partials/frame-rolling-options.scss */
.create-roll .roll-options:first-child {
  border-top: 1px solid #343434;
}
/* line 15, ../../../app/stylesheets/partials/frame-rolling-options.scss */
.create-roll .roll-options:nth-child(2) {
  float: left;
  margin-bottom: 2em;
  width: 50%;
}

/* line 90, ../../../app/stylesheets/partials/frame-rolling-options.scss */
.roll-options {
  padding: 5px 10px 10px;
  border-top: 1px solid #343434;
  border-bottom: 1px solid black;
}

/* line 96, ../../../app/stylesheets/partials/frame-rolling-options.scss */
.roll-options-label {
  font-size: 14px;
  font-weight: 500;
  line-height: 2;
}

/* line 100, ../../../app/stylesheets/partials/frame-rolling-options.scss */
.roll-options-input {
  font: 300 normal 100%/1.231 "Ubuntu", Trebuchet MS, sans-serif;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
  border-radius: 3px;
  border: 1px solid black;
  display: block;
  padding: 5px;
  margin-bottom: 5px;
  width: 100%;
}
/* line 111, ../../../app/stylesheets/partials/frame-rolling-options.scss */
.roll-options-input:focus {
  -moz-transition-property: opacity;
  -webkit-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
  -moz-transition-duration: 0.25s;
  -webkit-transition-duration: 0.25s;
  -o-transition-duration: 0.25s;
  transition-duration: 0.25s;
  -moz-transition-timing-function: ease-in;
  -webkit-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

/* line 119, ../../../app/stylesheets/partials/frame-rolling-options.scss */
.roll-options-submit {
  background-color: #0071a3;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #0094d6), color-stop(100%, #0071a3));
  background: -webkit-linear-gradient(top, #0094d6, #0071a3);
  background: -moz-linear-gradient(top, #0094d6, #0071a3);
  background: -o-linear-gradient(top, #0094d6, #0071a3);
  background: -ms-linear-gradient(top, #0094d6, #0071a3);
  background: linear-gradient(top, #0094d6, #0071a3);
  box-shadow: inset 0px 1px 0px 0px #23bcff;
  font: 700 normal 100%/1.231 "Ubuntu", Trebuchet MS, sans-serif;
  text-shadow: 0px -1px 0px #333333;
  border: 1px solid #002a3d;
  border-radius: 5px;
  color: #efefef;
  padding: 6px 13px;
  float: right;
  width: 100%;
}

/* line 126, ../../../app/stylesheets/partials/frame-rolling-options.scss */
.new-roll-status-label {
  border: 1px solid #444;
  border-radius: 3px;
  cursor: pointer;
  display: block;
  font-family: 'Arial';
  font-size: .875em;
  height: 28px;
  overflow: hidden;
  position: relative;
  width: 100px;
}

/* line 139, ../../../app/stylesheets/partials/frame-rolling-options.scss */
.new-roll-status-checkbox {
  margin: 3px;
  position: absolute;
  left: 0;
  top: 0;
}

/* line 146, ../../../app/stylesheets/partials/frame-rolling-options.scss */
.new-roll-status-checkbox ~ .new-roll-status-description {
  display: block;
  font: 0/0 a;
  line-height: 1.231;
  height: inherit;
  overflow: hidden;
  padding-left: 41px;
  padding-top: 2px;
  text-indent: -9999px;
  text-align: left;
}

/* line 158, ../../../app/stylesheets/partials/frame-rolling-options.scss */
.new-roll-status-checkbox ~ .new-roll-status-description:before {
  content: "Public";
  font: normal 14px/1.231 sans-serif;
}

/* line 163, ../../../app/stylesheets/partials/frame-rolling-options.scss */
.new-roll-status-checkbox ~ .new-roll-status-chrome {
  background: #666;
  border-radius: 3px;
  border: 1px solid #444;
  box-shadow: 0 0 3px 1px #444;
  content: "\0020";
  display: block;
  left: -1px;
  margin: 0px;
  position: absolute;
  height: inherit;
  top: -1px;
  width: 24px;
}

/* line 178, ../../../app/stylesheets/partials/frame-rolling-options.scss */
.new-roll-status-checkbox:checked {
  left: 75px;
}

/* line 182, ../../../app/stylesheets/partials/frame-rolling-options.scss */
.new-roll-status-checkbox:checked ~ .new-roll-status-description {
  text-align: left;
  padding-left: 16px;
}

/* line 187, ../../../app/stylesheets/partials/frame-rolling-options.scss */
.new-roll-status-checkbox:checked ~ .new-roll-status-description:before {
  content: "Private";
}

/* line 191, ../../../app/stylesheets/partials/frame-rolling-options.scss */
.new-roll-status-checkbox:checked ~ .new-roll-status-chrome {
  left: 76px;
}
