/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* Commenting out the Reset style sheet in favor of the normalize style sheet that comes with h5bp.
 * Need to integrate the h5bp normalizer into this compass fanciness.
 * @import "compass/reset";
 */
/* line 3, ../../../app/stylesheets/partials/frame-rolling.scss */
.rolling-main {
  bottom: 0;
  overflow-y: auto;
  position: absolute;
  top: 146px;
  width: 100%;
}
/* line 12, ../../../app/stylesheets/partials/frame-rolling.scss */
.rolling-main > li:first-child {
  -moz-border-radius: 4px 4px 0 0;
  -webkit-border-radius: 4px 4px 0 0;
  -o-border-radius: 4px 4px 0 0;
  -ms-border-radius: 4px 4px 0 0;
  -khtml-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
}
/* line 15, ../../../app/stylesheets/partials/frame-rolling.scss */
.rolling-main > li:first-child h2 {
  -moz-border-radius: 4px 4px 0 0;
  -webkit-border-radius: 4px 4px 0 0;
  -o-border-radius: 4px 4px 0 0;
  -ms-border-radius: 4px 4px 0 0;
  -khtml-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
}
/* line 20, ../../../app/stylesheets/partials/frame-rolling.scss */
.rolling-main > li:hover {
  background-color: #666;
  cursor: pointer;
}
/* line 26, ../../../app/stylesheets/partials/frame-rolling.scss */
.rolling-main .share-comment-counter {
  margin: 0;
  right: 0;
}

/* line 32, ../../../app/stylesheets/partials/frame-rolling.scss */
.rolling-main-header {
  border-bottom: 1px solid black;
  border-top: 1px solid #343434;
  font-size: 1.4em;
  padding: 10px;
}

/* line 39, ../../../app/stylesheets/partials/frame-rolling.scss */
.rolling-main-done, .rolling-main-social {
  background-color: #0071a3;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #0094d6), color-stop(100%, #0071a3));
  background: -webkit-linear-gradient(top, #0094d6, #0071a3);
  background: -moz-linear-gradient(top, #0094d6, #0071a3);
  background: -o-linear-gradient(top, #0094d6, #0071a3);
  background: -ms-linear-gradient(top, #0094d6, #0071a3);
  background: linear-gradient(top, #0094d6, #0071a3);
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: inset 0px 1px 0px 0px #23bcff;
  -webkit-box-shadow: inset 0px 1px 0px 0px #23bcff;
  -o-box-shadow: inset 0px 1px 0px 0px #23bcff;
  box-shadow: inset 0px 1px 0px 0px #23bcff;
  font: 700 normal 100%/1.231 "Ubuntu", Trebuchet MS, sans-serif;
  text-shadow: 0px -1px 0px #333333;
  border: 1px solid #002a3d;
  color: #efefef;
  padding: 6px 13px;
}

/* line 44, ../../../app/stylesheets/partials/frame-rolling.scss */
.rolling-main-social {
  float: right;
  padding-left: 0;
}
/* line 50, ../../../app/stylesheets/partials/frame-rolling.scss */
.rolling-main-social:before {
  background: url("../images/assets/sharebutton_icons.svg") no-repeat 0px center;
  background-size: 71%;
  border-right: 1px solid #005f8a;
  content: "\0020";
  float: left;
  margin: 0px 9px;
  width: 36px;
  height: 15px;
}

/* line 62, ../../../app/stylesheets/partials/frame-rolling.scss */
.rolling-frame {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
}
