/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* Commenting out the Reset style sheet in favor of the normalize style sheet that comes with h5bp.
 * Need to integrate the h5bp normalizer into this compass fanciness.
 * @import "compass/reset";
 */
/* line 7, ../../../app/stylesheets/partials/frame-rolling-options.scss */
.frame-rolling-options {
  background: url("../images/assets/noise.png") #585858;
  padding: 10px;
}

/* line 15, ../../../app/stylesheets/partials/frame-rolling-options.scss */
.new-roll-name-input, .new-roll-recipients {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #222;
  display: block;
  padding: 5px;
  width: 100%;
}
