/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* Commenting out the Reset style sheet in favor of the normalize style sheet that comes with h5bp.
 * Need to integrate the h5bp normalizer into this compass fanciness.
 * @import "compass/reset";
 */
/* line 7, ../../../app/stylesheets/partials/frame-share.scss */
.frame-share {
  background: rgba(0, 0, 0, 0.8);
  height: 100%;
  top: 40px;
}

/* line 15, ../../../app/stylesheets/partials/frame-share.scss */
.frame-share-content {
  height: inherit;
}
