/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* Commenting out the Reset style sheet in favor of the normalize style sheet that comes with h5bp.
 * Need to integrate the h5bp normalizer into this compass fanciness.
 * @import "compass/reset";
 */
/* line 3, ../../../app/stylesheets/partials/frame.scss */
.list {
  margin: 0;
  padding: 0;
}
/* line 7, ../../../app/stylesheets/partials/frame.scss */
.list li {
  list-style-type: none;
}

/* line 12, ../../../app/stylesheets/partials/frame.scss */
.frame {
  background-color: #494949;
  padding: 10px;
}
/* line 16, ../../../app/stylesheets/partials/frame.scss */
.frame:hover {
  background: #555555;
}

/* line 22, ../../../app/stylesheets/partials/frame.scss */
.active-list-item .active-frame {
  background: #6d6d6d;
}

/* line 27, ../../../app/stylesheets/partials/frame.scss */
.video-card {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  background-color: #404040;
  border: 1px solid #333333;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: relative;
}

/* line 38, ../../../app/stylesheets/partials/frame.scss */
.video-thumbnail {
  background: #494949;
  line-height: 75px;
  margin: 0;
  text-align: center;
}

/* line 46, ../../../app/stylesheets/partials/frame.scss */
.video-thumbnail-image {
  cursor: pointer;
  display: inline-block;
  margin: -29px auto 0;
  overflow: hidden;
  padding-top: 0;
  vertical-align: middle;
  width: 100%;
}

/* line 56, ../../../app/stylesheets/partials/frame.scss */
.video-thumbnail-missing {
  margin: 36px auto 0;
  width: auto;
}

/* line 61, ../../../app/stylesheets/partials/frame.scss */
.video-card-header {
  border-bottom: 1px solid #333333;
  padding: 0;
}
/* line 66, ../../../app/stylesheets/partials/frame.scss */
.video-card-header a {
  text-decoration: none;
}
/* line 69, ../../../app/stylesheets/partials/frame.scss */
.video-card-header a:active, .video-card-header a:visited {
  text-decoration: none;
}
/* line 72, ../../../app/stylesheets/partials/frame.scss */
.video-card-header a:hover {
  text-decoration: underline;
}

/* line 78, ../../../app/stylesheets/partials/frame.scss */
.frame-creator-avatar, .frame-creator-avatar-missing {
  -moz-border-radius: 5px 0 0 0;
  -webkit-border-radius: 5px 0 0 0;
  -o-border-radius: 5px 0 0 0;
  -ms-border-radius: 5px 0 0 0;
  -khtml-border-radius: 5px 0 0 0;
  border-radius: 5px 0 0 0;
  float: left;
  height: 40px;
  width: 40px;
}

/* line 86, ../../../app/stylesheets/partials/frame.scss */
.frame-creator-avatar-missing {
  background: url("/images/assets/missing_thumb.svg") no-repeat center center #454545;
  background-size: 50%;
}

/* line 103, ../../../app/stylesheets/partials/frame.scss */
.frame-creator-roll {
  color: #999;
  font-size: 11px;
  font-weight: 300;
  height: 1.9em;
  padding: 5px 8px 0;
  float: left;
}

/* line 112, ../../../app/stylesheets/partials/frame.scss */
.frame-timestamp {
  color: #999;
  font-size: 11px;
  font-weight: 300;
  height: 1.9em;
  padding: 5px 8px 0;
  float: right;
}

/* line 117, ../../../app/stylesheets/partials/frame.scss */
.frame-title {
  clear: right;
  color: #bfbfbf;
  float: left;
  font-size: 13px;
  height: 19px;
  line-height: 17px;
  overflow: hidden;
  padding: 0 8px 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 83%;
}

/* line 131, ../../../app/stylesheets/partials/frame.scss */
.video-card-footer {
  -moz-border-radius: 0 0 5px 5px;
  -webkit-border-radius: 0 0 5px 5px;
  -o-border-radius: 0 0 5px 5px;
  -ms-border-radius: 0 0 5px 5px;
  -khtml-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
  overflow: hidden;
  z-index: 5;
}

/* line 169, ../../../app/stylesheets/partials/frame.scss */
.video-thumbnail {
  height: 125px;
  overflow: hidden;
  position: relative;
}

/* line 175, ../../../app/stylesheets/partials/frame.scss */
.video-controls {
  display: none;
  margin: 5px;
  padding: 0;
  position: absolute;
  right: 0px;
  top: 0px;
}
/* line 183, ../../../app/stylesheets/partials/frame.scss */
.video-controls .roll-frame, .video-controls .save-frame, .video-controls .remove-frame {
  background-color: #59b034;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #79c758), color-stop(100%, #59b034));
  background: -webkit-linear-gradient(top, #79c758, #59b034);
  background: -moz-linear-gradient(top, #79c758, #59b034);
  background: -o-linear-gradient(top, #79c758, #59b034);
  background: -ms-linear-gradient(top, #79c758, #59b034);
  background: linear-gradient(top, #79c758, #59b034);
  -moz-box-shadow: inset 0px 1px 1px 0px #69f034;
  -webkit-box-shadow: inset 0px 1px 1px 0px #69f034;
  -o-box-shadow: inset 0px 1px 1px 0px #69f034;
  box-shadow: inset 0px 1px 1px 0px #69f034;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #333333;
  margin-bottom: 5px;
  padding: 0;
}
/* line 193, ../../../app/stylesheets/partials/frame.scss */
.video-controls .roll-frame button, .video-controls .save-frame button, .video-controls .remove-frame button {
  background: url("../images/assets/action_roll.svg") no-repeat 8px 4px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  display: block;
  height: 32px;
  margin: 0;
  outline: 0;
  text-decoration: underline;
  width: 32px;
}
/* line 205, ../../../app/stylesheets/partials/frame.scss */
.video-controls .roll-frame:hover, .video-controls .save-frame:hover, .video-controls .remove-frame:hover {
  background: #63c43a;
  -moz-box-shadow: inset 0px 1px 1px 0px #69f034;
  -webkit-box-shadow: inset 0px 1px 1px 0px #69f034;
  -o-box-shadow: inset 0px 1px 1px 0px #69f034;
  box-shadow: inset 0px 1px 1px 0px #69f034;
}
/* line 210, ../../../app/stylesheets/partials/frame.scss */
.video-controls .share-frame {
  background-color: #143caf;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #0087c0), color-stop(100%, #143caf));
  background: -webkit-linear-gradient(top, #0087c0, #143caf);
  background: -moz-linear-gradient(top, #0087c0, #143caf);
  background: -o-linear-gradient(top, #0087c0, #143caf);
  background: -ms-linear-gradient(top, #0087c0, #143caf);
  background: linear-gradient(top, #0087c0, #143caf);
  -moz-box-shadow: inset 0px 1px 1px 0px #00c6de;
  -webkit-box-shadow: inset 0px 1px 1px 0px #00c6de;
  -o-box-shadow: inset 0px 1px 1px 0px #00c6de;
  box-shadow: inset 0px 1px 1px 0px #00c6de;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #333333;
  margin-bottom: 5px;
  padding: 0;
}
/* line 220, ../../../app/stylesheets/partials/frame.scss */
.video-controls .share-frame button {
  background: url("../images/assets/action_share.svg") no-repeat 2px 9px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  display: block;
  height: 32px;
  margin: 0;
  outline: 0;
  text-decoration: underline;
  width: 32px;
}
/* line 231, ../../../app/stylesheets/partials/frame.scss */
.video-controls .share-frame:hover {
  background: #1744c6;
  -moz-box-shadow: inset 0px 1px 1px 0px #077dba;
  -webkit-box-shadow: inset 0px 1px 1px 0px #077dba;
  -o-box-shadow: inset 0px 1px 1px 0px #077dba;
  box-shadow: inset 0px 1px 1px 0px #077dba;
}
/* line 238, ../../../app/stylesheets/partials/frame.scss */
.video-controls .upvote-frame {
  background-color: #464646;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #646464), color-stop(100%, #464646));
  background: -webkit-linear-gradient(top, #646464, #464646);
  background: -moz-linear-gradient(top, #646464, #464646);
  background: -o-linear-gradient(top, #646464, #464646);
  background: -ms-linear-gradient(top, #646464, #464646);
  background: linear-gradient(top, #646464, #464646);
  -moz-box-shadow: inset 0px 1px 1px 0px #888888;
  -webkit-box-shadow: inset 0px 1px 1px 0px #888888;
  -o-box-shadow: inset 0px 1px 1px 0px #888888;
  box-shadow: inset 0px 1px 1px 0px #888888;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #333333;
  margin-bottom: 5px;
  padding: 0;
}
/* line 248, ../../../app/stylesheets/partials/frame.scss */
.video-controls .upvote-frame button {
  background: url("../images/assets/action_heart_white.svg") no-repeat 9px 4px;
  font: 700 normal 100%/1.231 "Ubuntu", Trebuchet MS, sans-serif;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  color: #fff;
  display: block;
  font-weight: bold;
  height: 32px;
  margin: 0;
  outline: 0;
  padding-top: 16px;
  width: 32px;
}
/* line 261, ../../../app/stylesheets/partials/frame.scss */
.video-controls .upvote-frame:hover {
  background: #535353;
  -moz-box-shadow: inset 0px 1px 1px 0px #888888;
  -webkit-box-shadow: inset 0px 1px 1px 0px #888888;
  -o-box-shadow: inset 0px 1px 1px 0px #888888;
  box-shadow: inset 0px 1px 1px 0px #888888;
}
/* line 266, ../../../app/stylesheets/partials/frame.scss */
.video-controls .upvote-frame.upvoted {
  background-color: #9e1632;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ba2046), color-stop(100%, #9e1632));
  background: -webkit-linear-gradient(top, #ba2046, #9e1632);
  background: -moz-linear-gradient(top, #ba2046, #9e1632);
  background: -o-linear-gradient(top, #ba2046, #9e1632);
  background: -ms-linear-gradient(top, #ba2046, #9e1632);
  background: linear-gradient(top, #ba2046, #9e1632);
  -moz-box-shadow: inset 0px 1px 1px 0px #ef2f74;
  -webkit-box-shadow: inset 0px 1px 1px 0px #ef2f74;
  -o-box-shadow: inset 0px 1px 1px 0px #ef2f74;
  box-shadow: inset 0px 1px 1px 0px #ef2f74;
}
/* line 272, ../../../app/stylesheets/partials/frame.scss */
.video-controls .upvote-frame.upvoted button i {
  background: url("../images/assets/videocard_heart_on.svg") no-repeat left 0 transparent;
}
/* line 278, ../../../app/stylesheets/partials/frame.scss */
.video-controls .save-frame, .video-controls .remove-frame {
  background-color: #693a7b;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #8d539a), color-stop(100%, #693a7b));
  background: -webkit-linear-gradient(top, #8d539a, #693a7b);
  background: -moz-linear-gradient(top, #8d539a, #693a7b);
  background: -o-linear-gradient(top, #8d539a, #693a7b);
  background: -ms-linear-gradient(top, #8d539a, #693a7b);
  background: linear-gradient(top, #8d539a, #693a7b);
  -moz-box-shadow: inset 0px 1px 1px 0px #8d8f90;
  -webkit-box-shadow: inset 0px 1px 1px 0px #8d8f90;
  -o-box-shadow: inset 0px 1px 1px 0px #8d8f90;
  box-shadow: inset 0px 1px 1px 0px #8d8f90;
}
/* line 284, ../../../app/stylesheets/partials/frame.scss */
.video-controls .save-frame button, .video-controls .remove-frame button {
  background: url("../images/assets/saved_action.svg") no-repeat center center;
}
/* line 289, ../../../app/stylesheets/partials/frame.scss */
.video-controls .save-frame:hover, .video-controls .remove-frame:hover {
  background: #9863a2;
  -moz-box-shadow: inset 0px 1px 1px 0px #9863a2;
  -webkit-box-shadow: inset 0px 1px 1px 0px #9863a2;
  -o-box-shadow: inset 0px 1px 1px 0px #9863a2;
  box-shadow: inset 0px 1px 1px 0px #9863a2;
}
/* line 294, ../../../app/stylesheets/partials/frame.scss */
.video-controls .remove-frame {
  -moz-box-shadow: inset 0px 1px 1px 0px #c0224c;
  -webkit-box-shadow: inset 0px 1px 1px 0px #c0224c;
  -o-box-shadow: inset 0px 1px 1px 0px #c0224c;
  box-shadow: inset 0px 1px 1px 0px #c0224c;
  background-color: #9e1632;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ba2046), color-stop(100%, #9e1632));
  background: -webkit-linear-gradient(top, #ba2046, #9e1632);
  background: -moz-linear-gradient(top, #ba2046, #9e1632);
  background: -o-linear-gradient(top, #ba2046, #9e1632);
  background: -ms-linear-gradient(top, #ba2046, #9e1632);
  background: linear-gradient(top, #ba2046, #9e1632);
}
/* line 300, ../../../app/stylesheets/partials/frame.scss */
.video-controls .remove-frame button {
  background: url("../images/assets/saved_remove.svg") no-repeat center center;
}
/* line 305, ../../../app/stylesheets/partials/frame.scss */
.video-controls .remove-frame:hover {
  background: #cb1c40;
  -moz-box-shadow: inset 0px 1px 1px 0px #cb1c40;
  -webkit-box-shadow: inset 0px 1px 1px 0px #cb1c40;
  -o-box-shadow: inset 0px 1px 1px 0px #cb1c40;
  box-shadow: inset 0px 1px 1px 0px #cb1c40;
}

/* line 317, ../../../app/stylesheets/partials/frame.scss */
.video-activity-comment {
  padding: 10px;
}
/* line 320, ../../../app/stylesheets/partials/frame.scss */
.video-activity-comment textarea {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  border-color: #555;
  padding: 5px;
  resize: none;
  width: 100%;
}
/* line 328, ../../../app/stylesheets/partials/frame.scss */
.video-activity-comment .video-activity-comment-submit {
  float: right;
}

/* line 338, ../../../app/stylesheets/partials/frame.scss */
.video-activity-list {
  margin: 0;
  padding-left: 0;
}
/* line 342, ../../../app/stylesheets/partials/frame.scss */
.video-activity-list li {
  border-bottom: 0;
  list-style-type: none;
  padding: 0;
}

/* line 349, ../../../app/stylesheets/partials/frame.scss */
.video-source {
  float: right;
  height: 1.231em;
  max-width: 50%;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* line 357, ../../../app/stylesheets/partials/frame.scss */
.video-author {
  margin: 0;
}

/* line 361, ../../../app/stylesheets/partials/frame.scss */
.user-vcard {
  border-bottom: 1px solid #333333;
  border-top: 1px solid #555555;
  height: 100%;
  padding: 0 9px 9px;
}
/* line 367, ../../../app/stylesheets/partials/frame.scss */
.user-vcard a {
  text-decoration: none;
}

/* line 372, ../../../app/stylesheets/partials/frame.scss */
.user-avatar {
  display: block;
  float: left;
}
/* line 376, ../../../app/stylesheets/partials/frame.scss */
.user-avatar img {
  margin-bottom: 7px;
  margin-right: 7px;
  margin-top: 9px;
}

/* line 382, ../../../app/stylesheets/partials/frame.scss */
.user-handle, .user-post-date {
  color: #a4a4a4;
  font-size: 11px;
  font-weight: 500;
  line-height: 2.8;
}

/* line 389, ../../../app/stylesheets/partials/frame.scss */
.user-post-date {
  float: right;
  line-height: 1;
  margin-top: 9px;
  padding-right: 3px;
}

/* line 398, ../../../app/stylesheets/partials/frame.scss */
.user-post-origin-twitter:before, .frame-creator-origin-twitter:before, .user-post-origin-facebook:before, .user-post-origin-tumblr:before {
  content: url('/images/../images/assets/twitter_stamp.svg?1338389592');
  float: left;
  font-size: 0.75em;
  margin: 1px 3px;
}

/* line 408, ../../../app/stylesheets/partials/frame.scss */
.user-post-origin-facebook:before {
  content: url('/images/../images/assets/facebook_stamp.svg?1338389592');
}

/* line 415, ../../../app/stylesheets/partials/frame.scss */
.user-post-origin-tumblr:before {
  content: url('/images/../images/assets/tumblr_stamp.svg?1337611867');
}

/* line 420, ../../../app/stylesheets/partials/frame.scss */
.user-video-text {
  margin-top: -7px;
}
/* line 423, ../../../app/stylesheets/partials/frame.scss */
.user-video-text p {
  margin: 2px 5px 0 32px;
}

/* line 428, ../../../app/stylesheets/partials/frame.scss */
.frame-controls {
  margin: 0;
  padding: 0;
}
/* line 432, ../../../app/stylesheets/partials/frame.scss */
.frame-controls li {
  display: block;
  float: left;
  list-style-type: none;
  width: 25%;
}
/* line 439, ../../../app/stylesheets/partials/frame.scss */
.frame-controls li:first-child button {
  border-left: none;
}
/* line 445, ../../../app/stylesheets/partials/frame.scss */
.frame-controls li:last-child button {
  border-right: none;
}
/* line 450, ../../../app/stylesheets/partials/frame.scss */
.frame-controls button {
  font: 700 normal 100%/1.231 "Ubuntu", Trebuchet MS, sans-serif;
  background: transparent;
  border-bottom: none;
  border-left: 1px solid #555555;
  border-right: 1px solid #333333;
  border-top: 1px solid #555555;
  display: block;
  height: 42px;
  width: 100%;
}

/* line 464, ../../../app/stylesheets/partials/frame.scss */
.frame-activity,
.video-footer {
  border-bottom: 1px solid #333333;
  border-top: 1px solid #555555;
  font-size: 11px;
  font-weight: 500;
  padding: 4px;
}

/* line 473, ../../../app/stylesheets/partials/frame.scss */
.frame-activity-favorites {
  margin: 0;
  padding: 0;
  width: auto;
}
/* line 478, ../../../app/stylesheets/partials/frame.scss */
.frame-activity-favorites li {
  display: block;
  float: left;
  height: 24px;
  list-style-type: none;
  overflow: hidden;
  margin-right: 3px;
  width: 24px;
}
/* line 488, ../../../app/stylesheets/partials/frame.scss */
.frame-activity-favorites a {
  display: block;
}
/* line 492, ../../../app/stylesheets/partials/frame.scss */
.frame-activity-favorites img {
  display: block;
  width: 100%;
}
/* line 497, ../../../app/stylesheets/partials/frame.scss */
.frame-activity-favorites:before {
  background: url("../images/assets/videocard_heart_off.svg") no-repeat 3px center transparent;
  background-size: 55%;
  content: "\0020";
  float: left;
  height: 24px;
  width: 22px;
}

/* line 508, ../../../app/stylesheets/partials/frame.scss */
.frame-controls-like i {
  background: url("../images/assets/videocard_heart_off.svg") no-repeat left 0 transparent;
  color: #efefef;
  font-style: normal;
  padding-bottom: 2px;
  padding-left: 19px;
}
/* line 517, ../../../app/stylesheets/partials/frame.scss */
.frame-controls-like.upvoted i, .frame-controls-like:hover i {
  background: url("../images/assets/videocard_heart_on.svg") no-repeat left 0 transparent;
}

/* line 526, ../../../app/stylesheets/partials/frame.scss */
.frame-controls-comments i {
  background: url("../images/assets/videocard_comment_off.svg") no-repeat left 0 transparent;
  color: #efefef;
  font-style: normal;
  padding-bottom: 2px;
  padding-left: 21px;
}
/* line 535, ../../../app/stylesheets/partials/frame.scss */
.frame-controls-comments .frame-comments-open i, .frame-controls-comments:hover i {
  background: url("../images/assets/videocard_comment_on.svg") no-repeat left 0 transparent;
}

/* line 542, ../../../app/stylesheets/partials/frame.scss */
.frame-controls-roll button {
  background: url("../images/assets/videocard_roll_off.svg") no-repeat center center transparent;
}
/* line 547, ../../../app/stylesheets/partials/frame.scss */
.frame-controls-roll:hover button {
  background: url("../images/assets/videocard_roll_on.svg") no-repeat center center transparent;
}

/* line 554, ../../../app/stylesheets/partials/frame.scss */
.frame-controls-share button {
  background: url("../images/assets/videocard_share_off.svg") no-repeat center center transparent;
}
/* line 559, ../../../app/stylesheets/partials/frame.scss */
.frame-controls-share:hover button {
  background: url("../images/assets/videocard_share_on.svg") no-repeat center center transparent;
}
