/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* Commenting out the Reset style sheet in favor of the normalize style sheet that comes with h5bp.
 * Need to integrate the h5bp normalizer into this compass fanciness.
 * @import "compass/reset";
 */
/* line 3, ../../../app/stylesheets/partials/frame-rolling.scss */
.rolling-main {
  border-top: 1px solid #333333;
  bottom: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  position: absolute;
  top: 39px;
  width: 100%;
}
/* line 14, ../../../app/stylesheets/partials/frame-rolling.scss */
.rolling-main > li:first-child {
  -moz-border-radius: 4px 4px 0 0;
  -webkit-border-radius: 4px 4px 0 0;
  -o-border-radius: 4px 4px 0 0;
  -ms-border-radius: 4px 4px 0 0;
  -khtml-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
}
/* line 17, ../../../app/stylesheets/partials/frame-rolling.scss */
.rolling-main > li:first-child h2 {
  -moz-border-radius: 4px 4px 0 0;
  -webkit-border-radius: 4px 4px 0 0;
  -o-border-radius: 4px 4px 0 0;
  -ms-border-radius: 4px 4px 0 0;
  -khtml-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
}
/* line 22, ../../../app/stylesheets/partials/frame-rolling.scss */
.rolling-main > li:hover {
  background: url("../images/assets/noise.png") #666666;
  cursor: pointer;
}
/* line 28, ../../../app/stylesheets/partials/frame-rolling.scss */
.rolling-main .share-comment-counter {
  margin: 0;
  right: 0;
}

/* line 35, ../../../app/stylesheets/partials/frame-rolling.scss */
.rolling-main-header,
.rolling-main-footer {
  background: url("../images/assets/noise.png") #555555;
  -moz-border-radius: 4px 4px 0 0;
  -webkit-border-radius: 4px 4px 0 0;
  -o-border-radius: 4px 4px 0 0;
  -ms-border-radius: 4px 4px 0 0;
  -khtml-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
  border-bottom: 1px solid #4F4D51;
  height: 40px;
  left: 0;
  padding: 5px;
  position: absolute;
  top: 0;
  width: 100%;
}

/* line 50, ../../../app/stylesheets/partials/frame-rolling.scss */
.rolling-main-header-title {
  line-height: 1.75;
  text-align: center;
}

/* line 59, ../../../app/stylesheets/partials/frame-rolling.scss */
.rolling-main-cancel {
  background-color: #343434;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #4e4e4e), color-stop(100%, #343434));
  background: -webkit-linear-gradient(top, #4e4e4e, #343434);
  background: -moz-linear-gradient(top, #4e4e4e, #343434);
  background: -o-linear-gradient(top, #4e4e4e, #343434);
  background: -ms-linear-gradient(top, #4e4e4e, #343434);
  background: linear-gradient(top, #4e4e4e, #343434);
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: inset 0px 1px 0px 0px #747474;
  -webkit-box-shadow: inset 0px 1px 0px 0px #747474;
  -o-box-shadow: inset 0px 1px 0px 0px #747474;
  box-shadow: inset 0px 1px 0px 0px #747474;
  font: 700 normal 100%/1.231 "Ubuntu", Trebuchet MS, sans-serif;
  text-shadow: 0px -1px 0px #333333;
  border: 1px solid #010101;
  color: #efefef;
  padding: 6px 13px;
  left: 0;
  margin: 6px;
  position: absolute;
  top: 0;
}

/* line 68, ../../../app/stylesheets/partials/frame-rolling.scss */
.xrolling-main-back {
  background: #4a4a4a;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #575757), color-stop(100%, #4a4a4a));
  background: -webkit-linear-gradient(top, #575757, #4a4a4a);
  background: -moz-linear-gradient(top, #575757, #4a4a4a);
  background: -o-linear-gradient(top, #575757, #4a4a4a);
  background: -ms-linear-gradient(top, #575757, #4a4a4a);
  background: linear-gradient(top, #575757, #4a4a4a);
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  font: 700 normal 100%/1.231 "Ubuntu", Trebuchet MS, sans-serif;
  -moz-box-shadow: inset -1px 0px 1px 0px #444444;
  -webkit-box-shadow: inset -1px 0px 1px 0px #444444;
  -o-box-shadow: inset -1px 0px 1px 0px #444444;
  box-shadow: inset -1px 0px 1px 0px #444444;
  border: 1px solid #222;
  color: #efefef;
  display: block;
  font-family: 'Ubuntu',Trebuchet MS,sans-serif;
  font-size: 13px;
  font-weight: 300;
  line-height: 1.5;
  margin: 3px;
  padding: 1px 8px;
  text-shadow: 0px 1px 2px #222;
  left: 0;
  margin: 8px 10px;
  position: absolute;
  top: 0;
}

/* line 78, ../../../app/stylesheets/partials/frame-rolling.scss */
.rolling-main-done, .rolling-main-social {
  background-color: #0071a3;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #0094d6), color-stop(100%, #0071a3));
  background: -webkit-linear-gradient(top, #0094d6, #0071a3);
  background: -moz-linear-gradient(top, #0094d6, #0071a3);
  background: -o-linear-gradient(top, #0094d6, #0071a3);
  background: -ms-linear-gradient(top, #0094d6, #0071a3);
  background: linear-gradient(top, #0094d6, #0071a3);
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: inset 0px 1px 0px 0px #23bcff;
  -webkit-box-shadow: inset 0px 1px 0px 0px #23bcff;
  -o-box-shadow: inset 0px 1px 0px 0px #23bcff;
  box-shadow: inset 0px 1px 0px 0px #23bcff;
  font: 700 normal 100%/1.231 "Ubuntu", Trebuchet MS, sans-serif;
  text-shadow: 0px -1px 0px #333333;
  border: 1px solid #002a3d;
  color: #efefef;
  padding: 6px 13px;
}

/* line 82, ../../../app/stylesheets/partials/frame-rolling.scss */
.xrolling-main-done {
  background-color: #007fb6;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #00a5cc), color-stop(100%, #007fb6));
  background: -webkit-linear-gradient(top, #00a5cc, #007fb6);
  background: -moz-linear-gradient(top, #00a5cc, #007fb6);
  background: -o-linear-gradient(top, #00a5cc, #007fb6);
  background: -ms-linear-gradient(top, #00a5cc, #007fb6);
  background: linear-gradient(top, #00a5cc, #007fb6);
  -moz-box-shadow: inset -1px 0px 1px 0px #00a3e9;
  -webkit-box-shadow: inset -1px 0px 1px 0px #00a3e9;
  -o-box-shadow: inset -1px 0px 1px 0px #00a3e9;
  box-shadow: inset -1px 0px 1px 0px #00a3e9;
  border: 1px solid #004a6a;
  margin-top: 10px;
}
/* line 94, ../../../app/stylesheets/partials/frame-rolling.scss */
.xrolling-main-done .spinner {
  left: auto;
  margin-left: auto;
  margin-top: auto;
  position: static;
}

/* line 110, ../../../app/stylesheets/partials/frame-rolling.scss */
.rolling-main-social {
  float: right;
  padding-left: 0;
}
/* line 116, ../../../app/stylesheets/partials/frame-rolling.scss */
.rolling-main-social:before {
  background: url("../images/assets/sharebutton_icons.svg") no-repeat 0px center;
  background-size: 71%;
  border-right: 1px solid #006d9d;
  content: "\0020";
  float: left;
  margin: 0px 9px;
  width: 36px;
  height: 15px;
}

/* line 128, ../../../app/stylesheets/partials/frame-rolling.scss */
.rolling-frame {
  -moz-transition-property: all;
  -webkit-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.25s;
  -webkit-transition-duration: 0.25s;
  -o-transition-duration: 0.25s;
  transition-duration: 0.25s;
  -moz-transition-timing-function: ease-in;
  -webkit-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  background-color: #494949;
  left: 0;
  position: absolute;
  margin-left: 100%;
  top: 0;
  width: 100%;
  height: 100%;
}

/* line 143, ../../../app/stylesheets/partials/frame-rolling.scss */
.rolling-frame-trans {
  margin-left: 0;
}
