/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* Commenting out the Reset style sheet in favor of the normalize style sheet that comes with h5bp.
 * Need to integrate the h5bp normalizer into this compass fanciness.
 * @import "compass/reset";
 */
/* line 7, ../../../app/stylesheets/partials/frame-rolling-completion.scss */
.frame-rolling-completion {
  border-top: none;
  overflow-y: hidden;
  top: 0;
  z-index: 1;
}
/* line 16, ../../../app/stylesheets/partials/frame-rolling-completion.scss */
.frame-rolling-completion .frame-share {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  -o-border-radius: 0;
  -ms-border-radius: 0;
  -khtml-border-radius: 0;
  border-radius: 0;
  bottom: 0;
  height: auto;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 40px;
}
/* line 26, ../../../app/stylesheets/partials/frame-rolling-completion.scss */
.frame-rolling-completion .frame-share:before {
  background: #222;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20);
  opacity: 0.2;
  bottom: 0;
  content: "\0020";
  position: absolute;
  top: 0;
  width: 100%;
}
/* line 38, ../../../app/stylesheets/partials/frame-rolling-completion.scss */
.frame-rolling-completion .share-networks-list li {
  margin-bottom: 0;
  padding: 0;
}
/* line 47, ../../../app/stylesheets/partials/frame-rolling-completion.scss */
.frame-rolling-completion.frame-rolling-private .share-comment-counter {
  display: block;
  float: right;
  height: 20px;
  position: relative;
}

/* line 56, ../../../app/stylesheets/partials/frame-rolling-completion.scss */
.frame-rolling-completion-header {
  background: url("../images/assets/noise.png") #555555;
  border-bottom: 1px solid #222;
  height: 40px;
}
/* line 62, ../../../app/stylesheets/partials/frame-rolling-completion.scss */
.frame-rolling-completion-header h1 {
  background: url("../images/assets/noise.png") #666666;
  border-bottom: 1px solid #333333;
  -moz-border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;
  -o-border-radius: 5px 5px 0 0;
  -ms-border-radius: 5px 5px 0 0;
  -khtml-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
  font-size: 16px;
  height: 40px;
  line-height: 2.4;
  padding-right: 10px;
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
}
/* line 80, ../../../app/stylesheets/partials/frame-rolling-completion.scss */
.frame-rolling-completion-header h1.roll-type-public:before, .frame-rolling-completion-header h1.roll-type-private:before {
  content: "\0020";
  background: url("../images/assets/rolls_public.svg") no-repeat center center transparent;
  float: left;
  height: 21px;
  margin: 8px;
  position: absolute;
  width: 20px;
}
/* line 94, ../../../app/stylesheets/partials/frame-rolling-completion.scss */
.frame-rolling-completion-header h1.roll-type-private:before {
  background-image: url("../images/assets/rolls_private.svg");
}
/* line 98, ../../../app/stylesheets/partials/frame-rolling-completion.scss */
.frame-rolling-completion-header h1.roll-type-social {
  padding-left: 10px;
}

/* line 104, ../../../app/stylesheets/partials/frame-rolling-completion.scss */
.frame-share-undo {
  line-height: 3;
  margin: 0 5px;
  position: absolute;
  right: 5px;
  top: 0;
}
