/* line 3, ../../../app/stylesheets/partials/frame-rolling-options.scss */
.frame-rolling-options {
  background-color: #585858;
  padding: 10px;
}

/* line 8, ../../../app/stylesheets/partials/frame-rolling-options.scss */
.new-roll-name-input, .new-roll-recipients {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #222;
  display: block;
  padding: 5px;
  width: 100%;
}
