/* line 3, ../../../app/stylesheets/partials/gate.scss */
.no-access {
  margin-top: 30px;
}

/* line 8, ../../../app/stylesheets/partials/gate.scss */
.private-beta-access h2 {
  margin: 10px 0;
}
/* line 11, ../../../app/stylesheets/partials/gate.scss */
.private-beta-access p.login {
  width: 205px;
}

/* line 16, ../../../app/stylesheets/partials/gate.scss */
.email-gate {
  background-color: #101010;
  background: url("../images/email-gate/bg.png") no-repeat center center #101010;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* line 22, ../../../app/stylesheets/partials/gate.scss */
.email-gate-wrapper {
  margin: 0 auto;
  width: 480px;
}

/* line 27, ../../../app/stylesheets/partials/gate.scss */
.content-wrapper {
  margin: 15% auto 0;
  width: 1020px;
}

/* line 32, ../../../app/stylesheets/partials/gate.scss */
.embed-gate-wrapper {
  float: left;
  width: 500px;
}

/* line 36, ../../../app/stylesheets/partials/gate.scss */
.embed-gate-wrapper iframe {
  width: 500px;
}

/* line 39, ../../../app/stylesheets/partials/gate.scss */
.email-gate-wrapper.with-embed {
  float: left;
  margin-left: 40px;
}

/* line 48, ../../../app/stylesheets/partials/gate.scss */
.email-gate-logo {
  background: url("../images/email-gate/landing_logo.svg") no-repeat center center transparent;
  background-size: 100%;
  float: left;
  height: 100px;
  margin-right: 18px;
  width: 50%;
}

/* line 59, ../../../app/stylesheets/partials/gate.scss */
.email-gate-slogan {
  float: left;
  font-size: 11px;
  line-height: 1.4;
  margin-top: 40px;
  width: 33%;
}

/* line 68, ../../../app/stylesheets/partials/gate.scss */
.email-gate-login {
  margin: 10px;
  position: absolute;
  right: 0;
  top: 0;
  width: 205px;
}

/* line 76, ../../../app/stylesheets/partials/gate.scss */
.email-gate-login-button {
  font: 700 normal 100%/1.231 "Ubuntu", Trebuchet MS, sans-serif;
  background: #428e3a;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #53b249), color-stop(100%, #428e3a));
  background: -webkit-linear-gradient(top, #53b249, #428e3a);
  background: -moz-linear-gradient(top, #53b249, #428e3a);
  background: -o-linear-gradient(top, #53b249, #428e3a);
  background: -ms-linear-gradient(top, #53b249, #428e3a);
  background: linear-gradient(top, #53b249, #428e3a);
  -moz-box-shadow: 0 0 0 1px #428e3a;
  -webkit-box-shadow: 0 0 0 1px #428e3a;
  -o-box-shadow: 0 0 0 1px #428e3a;
  box-shadow: 0 0 0 1px #428e3a;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  text-shadow: 0px 1px 2px #222222;
  border: none;
  color: #efefef;
  display: block;
  float: right;
  font-size: 13px;
  margin: 0 0 10px 20px;
  padding: 7px 19px;
}

/* line 92, ../../../app/stylesheets/partials/gate.scss */
.email-gate-networks {
  background: #585858;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: inset 0 1px 2px -1px #999999;
  -webkit-box-shadow: inset 0 1px 2px -1px #999999;
  -o-box-shadow: inset 0 1px 2px -1px #999999;
  box-shadow: inset 0 1px 2px -1px #999999;
  display: none;
  margin-top: 45px;
  padding: 10px;
  position: relative;
}
/* line 103, ../../../app/stylesheets/partials/gate.scss */
.email-gate-networks:before {
  -moz-box-shadow: inset 1px 1px 2px -1px #999999;
  -webkit-box-shadow: inset 1px 1px 2px -1px #999999;
  -o-box-shadow: inset 1px 1px 2px -1px #999999;
  box-shadow: inset 1px 1px 2px -1px #999999;
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  background: #585858;
  content: "\0020";
  display: block;
  height: 10px;
  position: absolute;
  right: 31px;
  top: -5px;
  width: 10px;
}

/* line 119, ../../../app/stylesheets/partials/gate.scss */
.email-gate-networks-twitter {
  display: block;
  padding: 3px 3px 3px 36px;
  text-align: center;
  text-decoration: none;
  width: 100%;
}
/* line 128, ../../../app/stylesheets/partials/gate.scss */
.email-gate-networks-twitter:before {
  width: 36px;
}
/* line 131, ../../../app/stylesheets/partials/gate.scss */
.email-gate-networks-twitter:visited {
  color: #efefef;
}

/* line 136, ../../../app/stylesheets/partials/gate.scss */
.email-gate-networks-facebook {
  display: block;
  margin-top: 10px;
  padding: 3px 3px 3px 36px;
  text-align: center;
  text-decoration: none;
  width: 100%;
}
/* line 145, ../../../app/stylesheets/partials/gate.scss */
.email-gate-networks-facebook:before {
  width: 36px;
}
/* line 148, ../../../app/stylesheets/partials/gate.scss */
.email-gate-networks-facebook:visited {
  color: #efefef;
}

/* line 153, ../../../app/stylesheets/partials/gate.scss */
.email-gate-error {
  font-size: 11px;
}

/* line 157, ../../../app/stylesheets/partials/gate.scss */
.email-gate-signup {
  margin: 0 auto;
  text-align: center;
}

/* line 162, ../../../app/stylesheets/partials/gate.scss */
.email-gate-caption {
  font-size: 13px;
  margin: 5px auto 10px;
  text-align: center;
  width: 100%;
}

/* line 169, ../../../app/stylesheets/partials/gate.scss */
.email-gate-label {
  display: block;
  font-size: 14px;
  font-weight: 300;
  line-height: 3.8;
  text-align: right;
}

/* line 177, ../../../app/stylesheets/partials/gate.scss */
.email-gate-email, .email-gate-code {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  border: none;
  display: block;
  float: right;
  font-size: 14px;
  margin: 5px 25% 5px 10px;
  padding: 12px 10px;
  width: 50%;
}

/* line 192, ../../../app/stylesheets/partials/gate.scss */
.email-gate-signup-submit {
  font: 700 normal 100%/1.231 "Ubuntu", Trebuchet MS, sans-serif;
  background: #0071a3;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #0094d6), color-stop(100%, #0071a3));
  background: -webkit-linear-gradient(top, #0094d6, #0071a3);
  background: -moz-linear-gradient(top, #0094d6, #0071a3);
  background: -o-linear-gradient(top, #0094d6, #0071a3);
  background: -ms-linear-gradient(top, #0094d6, #0071a3);
  background: linear-gradient(top, #0094d6, #0071a3);
  -moz-box-shadow: 0 0 0 1px #0071a3;
  -webkit-box-shadow: 0 0 0 1px #0071a3;
  -o-box-shadow: 0 0 0 1px #0071a3;
  box-shadow: 0 0 0 1px #0071a3;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  text-shadow: 0px 1px 2px #222222;
  border: none;
  color: #efefef;
  display: block;
  font-size: 13px;
  margin: 14px auto;
  padding: 7px 19px;
  width: 17%;
}

/* line 208, ../../../app/stylesheets/partials/gate.scss */
.email-gate-thank-you {
  display: none;
  margin-top: 10px;
  text-align: center;
}
/* line 213, ../../../app/stylesheets/partials/gate.scss */
.email-gate-thank-you h1 {
  font-size: 1em;
  margin-bottom: 2em;
}

/* line 219, ../../../app/stylesheets/partials/gate.scss */
.detour {
  margin-top: 1.231em;
}
