/* line 3, ../../../app/stylesheets/partials/gate.scss */
.gate {
  background-color: #101010;
  background: url("/images/t3.png") no-repeat center center #101010;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #efefef;
  font-size: 13px;
  line-height: 1.5;
}

/* line 13, ../../../app/stylesheets/partials/gate.scss */
.gate-wrapper {
  margin-top: 1em;
}

/* line 17, ../../../app/stylesheets/partials/gate.scss */
.gate-lining {
  margin-left: 170px;
  margin-top: 0px;
  width: 24em;
}

/* line 23, ../../../app/stylesheets/partials/gate.scss */
.gate-header {
  margin-bottom: 50px;
}

/* line 27, ../../../app/stylesheets/partials/gate.scss */
.gate-logo {
  -moz-background-size: contain;
  -webkit-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  background-image: url("/images/assets/shelbylogo.svg");
  background-position: left center;
  background-repeat: no-repeat;
  clear: left;
  float: left;
  height: 40px;
  margin: 0 35px;
  width: 100px;
}

/* line 40, ../../../app/stylesheets/partials/gate.scss */
.gate-slogan {
  font-size: 0.846em;
  font-weight: 100;
  line-height: 4;
}

/* line 46, ../../../app/stylesheets/partials/gate.scss */
.gate-head {
  font-size: 2em;
}

/* line 53, ../../../app/stylesheets/partials/gate.scss */
.gate-login {
  background-color: #0071a3;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #0094d6), color-stop(100%, #0071a3));
  background: -webkit-linear-gradient(top, #0094d6, #0071a3);
  background: -moz-linear-gradient(top, #0094d6, #0071a3);
  background: -o-linear-gradient(top, #0094d6, #0071a3);
  background: -ms-linear-gradient(top, #0094d6, #0071a3);
  background: linear-gradient(top, #0094d6, #0071a3);
  box-shadow: inset 0px 1px 0px 0px #23bcff;
  font: 700 normal 100%/1.231 "Ubuntu", Trebuchet MS, sans-serif;
  text-shadow: 0px -1px 0px #333333;
  border: 1px solid #002a3d;
  border-radius: 5px;
  color: #efefef;
  padding: 6px 13px;
  margin: 0 0 1.5em;
}

/* line 62, ../../../app/stylesheets/partials/gate.scss */
.gate-form {
  margin: 1em 0 2em;
}

/* line 66, ../../../app/stylesheets/partials/gate.scss */
.gate-form-label {
  color: #ddd;
  display: block;
  font-size: 0.923em;
  font-weight: 500;
  margin: 1em 0 .25em;
}

/* line 74, ../../../app/stylesheets/partials/gate.scss */
.gate-form-input {
  font: 300 normal 100%/1.231 "Ubuntu", Trebuchet MS, sans-serif;
  border-radius: 3px;
  border: none;
  padding: 4px 3px;
  width: 63%;
}

/* line 83, ../../../app/stylesheets/partials/gate.scss */
.gate-form-submit {
  background-color: #428e3a;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #53b249), color-stop(100%, #428e3a));
  background: -webkit-linear-gradient(top, #53b249, #428e3a);
  background: -moz-linear-gradient(top, #53b249, #428e3a);
  background: -o-linear-gradient(top, #53b249, #428e3a);
  background: -ms-linear-gradient(top, #53b249, #428e3a);
  background: linear-gradient(top, #53b249, #428e3a);
  box-shadow: inset 0px 1px 0px 0px #85ca7d;
  font: 700 normal 100%/1.231 "Ubuntu", Trebuchet MS, sans-serif;
  text-shadow: 0px -1px 0px #333333;
  border: 1px solid #20461c;
  border-radius: 5px;
  color: #efefef;
  padding: 4px 8px;
  display: block;
  margin-top: 1em;
}

/* line 92, ../../../app/stylesheets/partials/gate.scss */
.gate-no-access {
  background-color: #27292a;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #404344), color-stop(100%, #27292a));
  background: -webkit-linear-gradient(top, #404344, #27292a);
  background: -moz-linear-gradient(top, #404344, #27292a);
  background: -o-linear-gradient(top, #404344, #27292a);
  background: -ms-linear-gradient(top, #404344, #27292a);
  background: linear-gradient(top, #404344, #27292a);
  box-shadow: inset 0px 1px 0px 0px #646a6c;
  font: 700 normal 100%/1.231 "Ubuntu", Trebuchet MS, sans-serif;
  text-shadow: 0px -1px 0px #333333;
  border: 1px solid black;
  border-radius: 5px;
  color: #efefef;
  padding: 4px 8px;
  color: #efefef;
  display: block;
  float: left;
  font-size: 0.846em;
  font-weight: 300;
  margin-top: 3em;
  padding: 5px 9px;
  text-decoration: none;
}
/* line 104, ../../../app/stylesheets/partials/gate.scss */
.gate-no-access:visited {
  color: #efefef;
}

/* line 109, ../../../app/stylesheets/partials/gate.scss */
.gate-small {
  font-size: 0.846em;
}

/* line 113, ../../../app/stylesheets/partials/gate.scss */
.gate-networks-twitter {
  margin-top: 2em;
}

/* line 118, ../../../app/stylesheets/partials/gate.scss */
.gate-networks-twitter,
.gate-networks-facebook {
  display: block;
  padding: 4px 3px 3px 20px;
  text-align: center;
  text-decoration: none;
  width: 200px;
}
/* line 125, ../../../app/stylesheets/partials/gate.scss */
.gate-networks-twitter:before,
.gate-networks-facebook:before {
  width: 36px;
}
/* line 128, ../../../app/stylesheets/partials/gate.scss */
.gate-networks-twitter:visited,
.gate-networks-facebook:visited {
  color: #efefef;
}

/* line 138, ../../../app/stylesheets/partials/gate.scss */
.gate-networks-facebook {
  margin-top: 10px;
}

/* line 144, ../../../app/stylesheets/partials/gate.scss */
.gate-input-error,
.gate-signin-error {
  color: #E92222;
  font-size: 0.923em;
}

/* line 149, ../../../app/stylesheets/partials/gate.scss */
.gate-input-error {
  padding-left: .5em;
}

/* line 154, ../../../app/stylesheets/partials/gate.scss */
.with-video .gate-lining {
  float: left;
  margin-left: 35px;
}

/* line 160, ../../../app/stylesheets/partials/gate.scss */
.with-video-embed {
  margin-top: 5px;
  width: 500px;
}
/* line 163, ../../../app/stylesheets/partials/gate.scss */
.with-video-embed * {
  width: 100%;
}
