<<<<<<< HEAD
/*
Syntax error: Undefined mixin 'background'.
        on line 18 of /shelbytv/app/stylesheets/partials/gate.scss, in `background'
        from line 18 of /shelbytv/app/stylesheets/partials/gate.scss

13: 	}
14: }
15: 
16: .email-gate {
17: 	background-color: #101010;
18: 	@include background(url('../images/email-gate/bg.png') no-repeat center center #101010);
19: 	@include background-size(cover);
20: }
21: 
22: .email-gate-wrapper {
23: 	margin: 0 auto;

Backtrace:
/shelbytv/app/stylesheets/partials/gate.scss:18:in `background'
/shelbytv/app/stylesheets/partials/gate.scss:18
/home/vagrant/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.17/lib/sass/tree/visitors/perform.rb:170:in `visit_mixin'
/home/vagrant/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.17/lib/sass/tree/visitors/base.rb:37:in `visit'
/home/vagrant/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.17/lib/sass/tree/visitors/perform.rb:18:in `visit'
/home/vagrant/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.17/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/home/vagrant/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.17/lib/sass/tree/visitors/base.rb:53:in `map'
/home/vagrant/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.17/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/home/vagrant/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.17/lib/sass/tree/visitors/perform.rb:27:in `block in visit_children'
/home/vagrant/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.17/lib/sass/tree/visitors/perform.rb:39:in `with_environment'
/home/vagrant/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.17/lib/sass/tree/visitors/perform.rb:26:in `visit_children'
/home/vagrant/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.17/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/home/vagrant/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.17/lib/sass/tree/visitors/perform.rb:238:in `visit_rule'
/home/vagrant/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.17/lib/sass/tree/visitors/base.rb:37:in `visit'
/home/vagrant/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.17/lib/sass/tree/visitors/perform.rb:18:in `visit'
/home/vagrant/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.17/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/home/vagrant/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.17/lib/sass/tree/visitors/base.rb:53:in `map'
/home/vagrant/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.17/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/home/vagrant/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.17/lib/sass/tree/visitors/perform.rb:27:in `block in visit_children'
/home/vagrant/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.17/lib/sass/tree/visitors/perform.rb:39:in `with_environment'
/home/vagrant/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.17/lib/sass/tree/visitors/perform.rb:26:in `visit_children'
/home/vagrant/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.17/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/home/vagrant/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.17/lib/sass/tree/visitors/perform.rb:47:in `visit_root'
/home/vagrant/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.17/lib/sass/tree/visitors/base.rb:37:in `visit'
/home/vagrant/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.17/lib/sass/tree/visitors/perform.rb:18:in `visit'
/home/vagrant/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.17/lib/sass/tree/visitors/perform.rb:7:in `visit'
/home/vagrant/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.17/lib/sass/tree/root_node.rb:20:in `render'
/home/vagrant/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.17/lib/sass/engine.rb:299:in `_render'
/home/vagrant/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.17/lib/sass/engine.rb:247:in `block in render'
/home/vagrant/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.17/lib/sass/util.rb:331:in `silence_sass_warnings'
/home/vagrant/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.17/lib/sass/engine.rb:247:in `render'
/home/vagrant/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.17/lib/sass/plugin/compiler.rb:340:in `update_stylesheet'
/home/vagrant/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.17/lib/sass/plugin/compiler.rb:202:in `block in update_stylesheets'
/home/vagrant/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.17/lib/sass/plugin/compiler.rb:200:in `each'
/home/vagrant/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.17/lib/sass/plugin/compiler.rb:200:in `update_stylesheets'
/home/vagrant/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.17/lib/sass/plugin.rb:81:in `update_stylesheets'
/home/vagrant/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.17/lib/sass/plugin.rb:54:in `check_for_updates'
/home/vagrant/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.17/lib/sass/plugin/rack.rb:51:in `call'
/home/vagrant/.rvm/gems/ruby-1.9.2-p290/gems/actionpack-3.2.2/lib/action_dispatch/middleware/best_standards_support.rb:17:in `call'
/home/vagrant/.rvm/gems/ruby-1.9.2-p290/gems/rack-1.4.1/lib/rack/etag.rb:23:in `call'
/home/vagrant/.rvm/gems/ruby-1.9.2-p290/gems/rack-1.4.1/lib/rack/conditionalget.rb:25:in `call'
/home/vagrant/.rvm/gems/ruby-1.9.2-p290/gems/actionpack-3.2.2/lib/action_dispatch/middleware/head.rb:14:in `call'
/home/vagrant/.rvm/gems/ruby-1.9.2-p290/gems/actionpack-3.2.2/lib/action_dispatch/middleware/params_parser.rb:21:in `call'
/home/vagrant/.rvm/gems/ruby-1.9.2-p290/gems/actionpack-3.2.2/lib/action_dispatch/middleware/flash.rb:242:in `call'
/home/vagrant/.rvm/gems/ruby-1.9.2-p290/gems/rack-1.4.1/lib/rack/session/abstract/id.rb:205:in `context'
/home/vagrant/.rvm/gems/ruby-1.9.2-p290/gems/rack-1.4.1/lib/rack/session/abstract/id.rb:200:in `call'
/home/vagrant/.rvm/gems/ruby-1.9.2-p290/gems/actionpack-3.2.2/lib/action_dispatch/middleware/cookies.rb:338:in `call'
/home/vagrant/.rvm/gems/ruby-1.9.2-p290/gems/actionpack-3.2.2/lib/action_dispatch/middleware/callbacks.rb:28:in `block in call'
/home/vagrant/.rvm/gems/ruby-1.9.2-p290/gems/activesupport-3.2.2/lib/active_support/callbacks.rb:405:in `_run__2762727553043877011__call__1975143716994849724__callbacks'
/home/vagrant/.rvm/gems/ruby-1.9.2-p290/gems/activesupport-3.2.2/lib/active_support/callbacks.rb:405:in `__run_callback'
/home/vagrant/.rvm/gems/ruby-1.9.2-p290/gems/activesupport-3.2.2/lib/active_support/callbacks.rb:385:in `_run_call_callbacks'
/home/vagrant/.rvm/gems/ruby-1.9.2-p290/gems/activesupport-3.2.2/lib/active_support/callbacks.rb:81:in `run_callbacks'
/home/vagrant/.rvm/gems/ruby-1.9.2-p290/gems/actionpack-3.2.2/lib/action_dispatch/middleware/callbacks.rb:27:in `call'
/home/vagrant/.rvm/gems/ruby-1.9.2-p290/gems/actionpack-3.2.2/lib/action_dispatch/middleware/reloader.rb:65:in `call'
/home/vagrant/.rvm/gems/ruby-1.9.2-p290/gems/actionpack-3.2.2/lib/action_dispatch/middleware/remote_ip.rb:31:in `call'
/home/vagrant/.rvm/gems/ruby-1.9.2-p290/gems/actionpack-3.2.2/lib/action_dispatch/middleware/debug_exceptions.rb:16:in `call'
/home/vagrant/.rvm/gems/ruby-1.9.2-p290/gems/actionpack-3.2.2/lib/action_dispatch/middleware/show_exceptions.rb:56:in `call'
/home/vagrant/.rvm/gems/ruby-1.9.2-p290/gems/railties-3.2.2/lib/rails/rack/logger.rb:26:in `call_app'
/home/vagrant/.rvm/gems/ruby-1.9.2-p290/gems/railties-3.2.2/lib/rails/rack/logger.rb:16:in `call'
/home/vagrant/.rvm/gems/ruby-1.9.2-p290/gems/quiet_assets-1.0.1/lib/quiet_assets.rb:20:in `call_with_quiet_assets'
/home/vagrant/.rvm/gems/ruby-1.9.2-p290/gems/actionpack-3.2.2/lib/action_dispatch/middleware/request_id.rb:22:in `call'
/home/vagrant/.rvm/gems/ruby-1.9.2-p290/gems/rack-1.4.1/lib/rack/methodoverride.rb:21:in `call'
/home/vagrant/.rvm/gems/ruby-1.9.2-p290/gems/rack-1.4.1/lib/rack/runtime.rb:17:in `call'
/home/vagrant/.rvm/gems/ruby-1.9.2-p290/gems/activesupport-3.2.2/lib/active_support/cache/strategy/local_cache.rb:72:in `call'
/home/vagrant/.rvm/gems/ruby-1.9.2-p290/gems/rack-1.4.1/lib/rack/lock.rb:15:in `call'
/home/vagrant/.rvm/gems/ruby-1.9.2-p290/gems/actionpack-3.2.2/lib/action_dispatch/middleware/static.rb:61:in `call'
/home/vagrant/.rvm/gems/ruby-1.9.2-p290/gems/railties-3.2.2/lib/rails/engine.rb:479:in `call'
/home/vagrant/.rvm/gems/ruby-1.9.2-p290/gems/railties-3.2.2/lib/rails/application.rb:220:in `call'
/home/vagrant/.rvm/gems/ruby-1.9.2-p290/gems/rack-1.4.1/lib/rack/content_length.rb:14:in `call'
/home/vagrant/.rvm/gems/ruby-1.9.2-p290/gems/railties-3.2.2/lib/rails/rack/log_tailer.rb:14:in `call'
/home/vagrant/.rvm/gems/ruby-1.9.2-p290/gems/rack-1.4.1/lib/rack/handler/webrick.rb:59:in `service'
/home/vagrant/.rvm/rubies/ruby-1.9.2-p290/lib/ruby/1.9.1/webrick/httpserver.rb:111:in `service'
/home/vagrant/.rvm/rubies/ruby-1.9.2-p290/lib/ruby/1.9.1/webrick/httpserver.rb:70:in `run'
/home/vagrant/.rvm/rubies/ruby-1.9.2-p290/lib/ruby/1.9.1/webrick/server.rb:183:in `block in start_thread'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Undefined mixin 'background'.\A         on line 18 of /shelbytv/app/stylesheets/partials/gate.scss, in `background'\A         from line 18 of /shelbytv/app/stylesheets/partials/gate.scss\A \A 13: 	}\A 14: }\A 15: \A 16: .email-gate {\A 17: 	background-color: #101010;\A 18: 	@include background(url('../images/email-gate/bg.png') no-repeat center center #101010);\A 19: 	@include background-size(cover);\A 20: }\A 21: \A 22: .email-gate-wrapper {\A 23: 	margin: 0 auto;"; }
=======
/* line 3, ../../../app/stylesheets/partials/gate.scss */
.no-access {
  margin-top: 30px;
}

/* line 8, ../../../app/stylesheets/partials/gate.scss */
.private-beta-access h2 {
  margin: 10px 0;
}
/* line 11, ../../../app/stylesheets/partials/gate.scss */
.private-beta-access p.login {
  width: 205px;
}

/* line 16, ../../../app/stylesheets/partials/gate.scss */
.email-gate {
  background-color: #101010;
  background: url("../images/email-gate/bg.png") no-repeat center center #101010;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* line 22, ../../../app/stylesheets/partials/gate.scss */
.email-gate-wrapper {
  margin: 0 auto;
  width: 480px;
}

/* line 27, ../../../app/stylesheets/partials/gate.scss */
.content-wrapper {
  margin: 15% auto 0;
  width: 1020px;
}

/* line 32, ../../../app/stylesheets/partials/gate.scss */
.embed-gate-wrapper {
  float: left;
  width: 500px;
}

/* line 36, ../../../app/stylesheets/partials/gate.scss */
.embed-gate-wrapper iframe {
  width: 500px;
  height: 300px;
}

/* line 40, ../../../app/stylesheets/partials/gate.scss */
.email-gate-wrapper.with-embed {
  float: left;
  margin-left: 40px;
}

/* line 49, ../../../app/stylesheets/partials/gate.scss */
.email-gate-logo {
  background: url("../images/email-gate/landing_logo.svg") no-repeat center center transparent;
  background-size: 100%;
  float: left;
  height: 100px;
  margin-right: 18px;
  width: 50%;
}

/* line 60, ../../../app/stylesheets/partials/gate.scss */
.email-gate-slogan {
  float: left;
  font-size: 11px;
  line-height: 1.4;
  margin-top: 40px;
  width: 33%;
}

/* line 69, ../../../app/stylesheets/partials/gate.scss */
.email-gate-login {
  margin: 10px;
  position: absolute;
  right: 0;
  top: 0;
  width: 205px;
}

/* line 77, ../../../app/stylesheets/partials/gate.scss */
.email-gate-login-button {
  font: 700 normal 100%/1.231 "Ubuntu", Trebuchet MS, sans-serif;
  background: #428e3a;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #53b249), color-stop(100%, #428e3a));
  background: -webkit-linear-gradient(top, #53b249, #428e3a);
  background: -moz-linear-gradient(top, #53b249, #428e3a);
  background: -o-linear-gradient(top, #53b249, #428e3a);
  background: -ms-linear-gradient(top, #53b249, #428e3a);
  background: linear-gradient(top, #53b249, #428e3a);
  border-radius: 5px;
  text-shadow: 0px 1px 2px #222222;
  border: none;
  box-shadow: 0 0 0 1px #428e3a;
  color: #efefef;
  display: block;
  float: right;
  font-size: 13px;
  margin: 0 0 10px 20px;
  padding: 7px 19px;
}

/* line 94, ../../../app/stylesheets/partials/gate.scss */
.email-gate-networks {
  background: #585858;
  border-radius: 5px;
  box-shadow: inset 0 1px 2px -1px #999999;
  display: none;
  margin-top: 45px;
  padding: 10px;
  position: relative;
}
/* line 104, ../../../app/stylesheets/partials/gate.scss */
.email-gate-networks:before {
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  background: #585858;
  box-shadow: inset 1px 1px 2px -1px #999999;
  content: "\0020";
  display: block;
  height: 10px;
  position: absolute;
  right: 31px;
  top: -5px;
  width: 10px;
}
/* line 119, ../../../app/stylesheets/partials/gate.scss */
.email-gate-networks .email-gate-error {
  color: #DADADA;
  font-size: 13px;
  margin-top: 10px;
}

/* line 127, ../../../app/stylesheets/partials/gate.scss */
.email-gate-networks-twitter {
  display: block;
  padding: 3px 3px 3px 36px;
  text-align: center;
  text-decoration: none;
  width: 100%;
}
/* line 136, ../../../app/stylesheets/partials/gate.scss */
.email-gate-networks-twitter:before {
  width: 36px;
}
/* line 139, ../../../app/stylesheets/partials/gate.scss */
.email-gate-networks-twitter:visited {
  color: #efefef;
}

/* line 144, ../../../app/stylesheets/partials/gate.scss */
.email-gate-networks-facebook {
  display: block;
  margin-top: 10px;
  padding: 3px 3px 3px 36px;
  text-align: center;
  text-decoration: none;
  width: 100%;
}
/* line 153, ../../../app/stylesheets/partials/gate.scss */
.email-gate-networks-facebook:before {
  width: 36px;
}
/* line 156, ../../../app/stylesheets/partials/gate.scss */
.email-gate-networks-facebook:visited {
  color: #efefef;
}

/* line 161, ../../../app/stylesheets/partials/gate.scss */
.email-gate-error {
  color: #cc1235;
}

/* line 165, ../../../app/stylesheets/partials/gate.scss */
.email-gate-signup {
  margin: 0 auto;
  text-align: center;
}

/* line 170, ../../../app/stylesheets/partials/gate.scss */
.email-gate-caption {
  font-size: 13px;
  margin: 5px auto 10px;
  text-align: center;
  width: 100%;
}

/* line 177, ../../../app/stylesheets/partials/gate.scss */
.email-gate-label {
  display: block;
  font-size: 14px;
  font-weight: 300;
  line-height: 3.8;
  text-align: right;
}

/* line 185, ../../../app/stylesheets/partials/gate.scss */
.email-gate-email, .email-gate-code {
  border-radius: 3px;
  border: none;
  display: block;
  float: right;
  font-size: 14px;
  margin: 5px 25% 5px 10px;
  padding: 12px 10px;
  width: 50%;
}

/* line 200, ../../../app/stylesheets/partials/gate.scss */
.email-gate-signup-submit {
  font: 700 normal 100%/1.231 "Ubuntu", Trebuchet MS, sans-serif;
  background: #0071a3;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #0094d6), color-stop(100%, #0071a3));
  background: -webkit-linear-gradient(top, #0094d6, #0071a3);
  background: -moz-linear-gradient(top, #0094d6, #0071a3);
  background: -o-linear-gradient(top, #0094d6, #0071a3);
  background: -ms-linear-gradient(top, #0094d6, #0071a3);
  background: linear-gradient(top, #0094d6, #0071a3);
  border-radius: 5px;
  text-shadow: 0px 1px 2px #222222;
  border: none;
  box-shadow: 0 0 0 1px #0071a3;
  color: #efefef;
  display: block;
  font-size: 13px;
  margin: 14px auto;
  padding: 7px 19px;
  width: 17%;
}

/* line 217, ../../../app/stylesheets/partials/gate.scss */
.email-gate-thank-you {
  display: none;
  margin-top: 10px;
  text-align: center;
}
/* line 222, ../../../app/stylesheets/partials/gate.scss */
.email-gate-thank-you h1 {
  font-size: 1em;
  margin-bottom: 2em;
}

/* line 228, ../../../app/stylesheets/partials/gate.scss */
.detour {
  margin-top: 1.231em;
}
>>>>>>> a2418691dc70e568680b68afd13bac382ba3e420
