/* line 3, ../../../app/stylesheets/partials/genius.scss */
.genius {
  background-color: #101010;
  background: url("../images/genius/bg.png") no-repeat center center #101010;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* line 11, ../../../app/stylesheets/partials/genius.scss */
.genius-wrapper {
  margin: 0 auto;
  width: 400px;
}

/* line 16, ../../../app/stylesheets/partials/genius.scss */
.content-wrapper {
  margin: 15% auto 0;
  width: 1020px;
}

/* line 21, ../../../app/stylesheets/partials/genius.scss */
.embed-gate-wrapper {
  float: left;
  width: 500px;
}

/* line 25, ../../../app/stylesheets/partials/genius.scss */
.embed-gate-wrapper iframe {
  width: 500px;
}

/* line 28, ../../../app/stylesheets/partials/genius.scss */
.genius-wrapper.with-embed {
  float: left;
  margin-left: 40px;
}

/* line 37, ../../../app/stylesheets/partials/genius.scss */
.genius-logo {
  background: url("../images/genius/landing_logo.svg") no-repeat center center transparent;
  background-size: 100%;
  float: left;
  height: 100px;
  margin-right: 18px;
  width: 50%;
}

/* line 51, ../../../app/stylesheets/partials/genius.scss */
.genius-slogan {
  float: left;
  font-size: 11px;
  line-height: 1.4;
  margin-top: 35px;
}

/* line 58, ../../../app/stylesheets/partials/genius.scss */
.genius-search-form {
  margin: 0 auto;
  text-align: center;
}

/* line 63, ../../../app/stylesheets/partials/genius.scss */
.genius-caption {
  font-size: 13px;
  margin: 5px auto 10px;
  text-align: center;
  width: 100%;
}

/* line 70, ../../../app/stylesheets/partials/genius.scss */
.genius-label {
  display: block;
  font-size: 14px;
  font-weight: 300;
  line-height: 3.8;
  text-align: right;
}

/* line 78, ../../../app/stylesheets/partials/genius.scss */
.genius-search-input {
  -moz-border-radius: 2.5px;
  -webkit-border-radius: 2.5px;
  -o-border-radius: 2.5px;
  -ms-border-radius: 2.5px;
  -khtml-border-radius: 2.5px;
  border-radius: 2.5px;
  border: none;
  display: block;
  font-size: 14px;
  margin: 0px auto;
  padding: 12px 10px;
  width: 50%;
}

/* line 90, ../../../app/stylesheets/partials/genius.scss */
.genius-search-submit {
  font: 700 normal 100%/1.231 "Ubuntu", Trebuchet MS, sans-serif;
  background: #0071a3;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #0094d6), color-stop(100%, #0071a3));
  background: -webkit-linear-gradient(top, #0094d6, #0071a3);
  background: -moz-linear-gradient(top, #0094d6, #0071a3);
  background: -o-linear-gradient(top, #0094d6, #0071a3);
  background: -ms-linear-gradient(top, #0094d6, #0071a3);
  background: linear-gradient(top, #0094d6, #0071a3);
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 0 0 0 1px #0071a3;
  -webkit-box-shadow: 0 0 0 1px #0071a3;
  -o-box-shadow: 0 0 0 1px #0071a3;
  box-shadow: 0 0 0 1px #0071a3;
  text-shadow: 0px 1px 2px #222222;
  border: none;
  color: #efefef;
  display: block;
  font-size: 13px;
  margin: 14px auto;
  padding: 7px 19px;
  width: 17%;
}
/* line 106, ../../../app/stylesheets/partials/genius.scss */
.genius-search-submit.disabled, .genius-search-submit[disabled] {
  background: #27292a;
  background: url("../images/assets/noise.png"), #27292a;
  -moz-box-shadow: 0 0 0 1px #27292a;
  -webkit-box-shadow: 0 0 0 1px #27292a;
  -o-box-shadow: 0 0 0 1px #27292a;
  box-shadow: 0 0 0 1px #27292a;
  text-shadow: 0px 1px 2px black;
  color: gray;
}

/* line 118, ../../../app/stylesheets/partials/genius.scss */
.genius-search-spinner {
  height: 30px;
  width: 30px;
  margin: 0 auto;
}
