/* line 3, ../../../app/stylesheets/partials/guide-header.scss */
.header {
  background-color: #232526;
  border-bottom: 1px solid #202020;
}
/* line 7, ../../../app/stylesheets/partials/guide-header.scss */
.header nav {
  display: inline;
}

/* line 13, ../../../app/stylesheets/partials/guide-header.scss */
.logo {
  background: transparent;
  border: none;
  display: block;
  float: left;
  padding: 0;
}

/* line 21, ../../../app/stylesheets/partials/guide-header.scss */
.logo-header {
  background: url("../images/assets/shelbylogo.svg") center 9px no-repeat transparent;
  background-size: 85%;
  height: 35px;
  margin: 0 1px;
  width: 95px;
}

/* line 29, ../../../app/stylesheets/partials/guide-header.scss */
.settings {
  float: right;
  margin: 0;
  padding: 0;
  width: 50%;
}
/* line 35, ../../../app/stylesheets/partials/guide-header.scss */
.settings button {
  font: 300 normal 100%/1.231 "Ubuntu", Trebuchet MS, sans-serif;
  background: transparent;
  border: none;
  color: #adadad;
  line-height: 2.9;
  padding-bottom: 0;
  text-align: left;
}
/* line 45, ../../../app/stylesheets/partials/guide-header.scss */
.settings button:hover {
  color: white;
  text-decoration: underline;
}
/* line 51, ../../../app/stylesheets/partials/guide-header.scss */
.settings li {
  display: block;
  float: right;
  height: 35px;
  position: relative;
}
/* line 57, ../../../app/stylesheets/partials/guide-header.scss */
.settings li li {
  float: none;
  height: 2em;
  line-height: 2;
  margin: 0;
  padding-left: 0;
}
/* line 64, ../../../app/stylesheets/partials/guide-header.scss */
.settings li li button, .settings li li span {
  height: 2em;
  line-height: 2;
  padding-left: 0.5em;
  text-decoration: none;
}

/* line 76, ../../../app/stylesheets/partials/guide-header.scss */
.top-level:after {
  background: url("../images/assets/carrot.svg") no-repeat center center transparent;
  content: "\0020";
  font-size: 8.667px;
  height: 12px;
  line-height: 5.5;
  margin-left: 3px;
  position: absolute;
  text-align: right;
  top: 40%;
  width: 12px;
}

/* line 91, ../../../app/stylesheets/partials/guide-header.scss */
.about, .profile {
  padding-left: 12px;
  padding-right: 20px;
  position: relative;
  width: 70px;
  z-index: 2;
}
/* line 98, ../../../app/stylesheets/partials/guide-header.scss */
.about:hover, .profile:hover {
  color: white;
  text-decoration: underline;
}

/* line 104, ../../../app/stylesheets/partials/guide-header.scss */
.subnav {
  -moz-box-shadow: 0px 0px 5px 2px #222222;
  -webkit-box-shadow: 0px 0px 5px 2px #222222;
  -o-box-shadow: 0px 0px 5px 2px #222222;
  box-shadow: 0px 0px 5px 2px #222222;
  background: #232526;
  border-bottom: 1px solid #222;
  border-left: 1px solid #222;
  border-right: 1px solid #222;
  border-top: 0px solid transparent;
  display: none;
  position: absolute;
  width: 92px;
  z-index: 1;
}

/* line 118, ../../../app/stylesheets/partials/guide-header.scss */
.profile {
  padding-right: 10px;
  width: 85px;
}
/* line 124, ../../../app/stylesheets/partials/guide-header.scss */
.profile:hover {
  text-decoration: underline;
}

/* line 129, ../../../app/stylesheets/partials/guide-header.scss */
.profile-subnav, .about-subnav {
  left: -94px;
  width: 174px;
}
/* line 133, ../../../app/stylesheets/partials/guide-header.scss */
.profile-subnav button, .about-subnav button {
  width: 100%;
}
/* line 135, ../../../app/stylesheets/partials/guide-header.scss */
.profile-subnav button:hover, .about-subnav button:hover {
  text-decoration: none;
}

/* line 141, ../../../app/stylesheets/partials/guide-header.scss */
.about-subnav {
  left: 0;
  width: 92px;
}
/* line 147, ../../../app/stylesheets/partials/guide-header.scss */
.about-subnav button:hover {
  text-decoration: underline;
}

/* line 152, ../../../app/stylesheets/partials/guide-header.scss */
.profile-subnav-userhandle {
  color: #333;
  background: #ddd;
  border-bottom: 1px solid #efefef;
}

/* line 160, ../../../app/stylesheets/partials/guide-header.scss */
.you:after {
  background: url("data:image/svg+xml,%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20x%3D%220px%22%20y%3D%220px%22%0A%09%20width%3D%2216px%22%20height%3D%2217px%22%20viewBox%3D%220%200%2016%2017%22%20enable-background%3D%22new%200%200%2016%2017%22%20xml%3Aspace%3D%22preserve%22%3E%0A%3Cpath%20fill%3D%22%23AEADAE%22%20d%3D%22M14.503%2C8.003l-0.032-0.649c0.502-0.214%2C0.998-0.47%2C1.485-0.765c-0.039-0.306-0.138-0.6-0.21-0.899%0A%09c-0.574-0.078-1.157-0.104-1.711-0.088c-0.073-0.204-0.183-0.394-0.271-0.59c-0.099-0.193-0.222-0.373-0.33-0.559%0A%09c0.351-0.43%2C0.664-0.882%2C0.96-1.371c-0.177-0.253-0.402-0.465-0.604-0.696c-0.545%2C0.199-1.071%2C0.446-1.556%2C0.717%0A%09c-0.161-0.145-0.344-0.264-0.515-0.397c-0.177-0.124-0.368-0.229-0.552-0.343c0.112-0.541%2C0.181-1.089%2C0.216-1.659%0A%09c-0.273-0.142-0.573-0.227-0.86-0.337C10.133%2C0.795%2C9.781%2C1.26%2C9.48%2C1.726c-0.21-0.056-0.428-0.072-0.641-0.11%0A%09C8.625%2C1.581%2C8.407%2C1.587%2C8.191%2C1.571C8.038%2C1.026%2C7.845%2C0.522%2C7.611%2C0C7.305%2C0.006%2C7%2C0.054%2C6.696%2C0.103%0A%09c-0.15%2C0.55-0.245%2C1.129-0.294%2C1.686C6.188%2C1.835%2C5.986%2C1.912%2C5.783%2C1.988C5.576%2C2.055%2C5.383%2C2.155%2C5.188%2C2.249%0A%09C4.801%2C1.842%2C4.387%2C1.472%2C3.941%2C1.127C3.673%2C1.28%2C3.421%2C1.457%2C3.179%2C1.646c0.126%2C0.557%2C0.31%2C1.11%2C0.525%2C1.629%0A%09c-0.166%2C0.14-0.31%2C0.301-0.455%2C0.463C3.097%2C3.893%2C2.974%2C4.072%2C2.844%2C4.245C2.312%2C4.063%2C1.775%2C3.929%2C1.22%2C3.829%0A%09C1.052%2C4.087%2C0.914%2C4.362%2C0.785%2C4.643c0.368%2C0.435%2C0.79%2C0.841%2C1.221%2C1.199C1.923%2C6.043%2C1.871%2C6.253%2C1.818%2C6.463%0A%09c-0.062%2C0.208-0.09%2C0.423-0.122%2C0.638C1.142%2C7.189%2C0.597%2C7.319%2C0.064%2C7.49C0.043%2C7.796%2C0.034%2C8.103%2C0.059%2C8.41%0A%09c0.537%2C0.213%2C1.077%2C0.379%2C1.637%2C0.495c0.032%2C0.214%2C0.06%2C0.43%2C0.122%2C0.637c0.053%2C0.211%2C0.105%2C0.422%2C0.188%2C0.622%0A%09c-0.437%2C0.33-0.88%2C0.707-1.268%2C1.104c0.135%2C0.276%2C0.258%2C0.562%2C0.426%2C0.818c0.58-0.063%2C1.129-0.165%2C1.68-0.325%0A%09c0.13%2C0.173%2C0.253%2C0.353%2C0.406%2C0.507c0.145%2C0.161%2C0.289%2C0.324%2C0.455%2C0.465c-0.234%2C0.495-0.45%2C1.031-0.611%2C1.563%0A%09c0.247%2C0.185%2C0.488%2C0.376%2C0.756%2C0.528c0.483-0.324%2C0.925-0.671%2C1.338-1.066c0.195%2C0.093%2C0.388%2C0.194%2C0.595%2C0.26%0A%09c0.203%2C0.076%2C0.406%2C0.153%2C0.619%2C0.199c0.023%2C0.547%2C0.083%2C1.124%2C0.188%2C1.67C6.895%2C15.93%2C7.198%2C15.995%2C7.505%2C16%0A%09c0.275-0.52%2C0.505-1.021%2C0.687-1.564c0.216-0.016%2C0.434-0.011%2C0.648-0.045c0.213-0.038%2C0.431-0.054%2C0.641-0.11%0A%09c0.273%2C0.475%2C0.588%2C0.94%2C0.941%2C1.393c0.29-0.101%2C0.584-0.2%2C0.865-0.324c0.004-0.589-0.033-1.152-0.119-1.706%0A%09c0.184-0.114%2C0.375-0.219%2C0.552-0.344c0.171-0.132%2C0.354-0.251%2C0.515-0.396c0.465%2C0.292%2C0.959%2C0.557%2C1.481%2C0.794%0A%09c0.209-0.226%2C0.424-0.446%2C0.614-0.688c-0.271-0.522-0.562-1.004-0.896-1.456c0.108-0.188%2C0.231-0.366%2C0.33-0.561%0A%09c0.089-0.196%2C0.198-0.386%2C0.271-0.588c0.547%2C0.042%2C1.108%2C0.047%2C1.681%2C0.013c0.081-0.296%2C0.166-0.594%2C0.225-0.896%0A%09c-0.481-0.338-0.972-0.627-1.47-0.87L14.503%2C8.003z%20M8.001%2C10.472c-1.366%2C0-2.472-1.106-2.472-2.471%0A%09c0-1.365%2C1.106-2.472%2C2.472-2.472c1.364%2C0%2C2.472%2C1.106%2C2.472%2C2.472C10.473%2C9.365%2C9.365%2C10.472%2C8.001%2C10.472z%22/%3E%0A%3C/svg%3E%0A") no-repeat center center transparent;
  content: "\0020";
  float: right;
  height: 19px;
  margin-top: -4px;
  width: 20px;
}
/* line 169, ../../../app/stylesheets/partials/guide-header.scss */
.you span {
  border-radius: 5px;
  display: block;
  height: 24px;
  float: left;
  margin-right: 5px;
  width: 24px;
}
/* line 179, ../../../app/stylesheets/partials/guide-header.scss */
.you img {
  width: 100%;
}
