/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* Commenting out the Reset style sheet in favor of the normalize style sheet that comes with h5bp.
 * Need to integrate the h5bp normalizer into this compass fanciness.
 * @import "compass/reset";
 */
/* line 6, ../../../app/stylesheets/partials/guide-header.scss */
.header {
  background: url("../images/assets/noise.png") #2b2a2a;
  border-bottom: 1px solid #222;
}
/* line 13, ../../../app/stylesheets/partials/guide-header.scss */
.header nav {
  display: inline;
}

/* line 19, ../../../app/stylesheets/partials/guide-header.scss */
.logo {
  background: transparent;
  border: none;
  display: block;
  float: left;
}
/* line 25, ../../../app/stylesheets/partials/guide-header.scss */
.logo h1 {
  background: url("../images/assets/shelbylogo.svg") center 8px no-repeat transparent;
  height: 42px;
  margin: 0 12px;
  width: 115px;
}

/* line 33, ../../../app/stylesheets/partials/guide-header.scss */
.settings {
  float: right;
  margin: 0;
  padding: 0;
  width: 50%;
}
/* line 39, ../../../app/stylesheets/partials/guide-header.scss */
.settings button {
  font: 500 normal 100%/1.231 "Ubuntu", Trebuchet MS, "Times New Roman", sans-serif;
  background: transparent;
  border: none;
  color: #efefef;
  line-height: 3.25;
  text-align: left;
}
/* line 49, ../../../app/stylesheets/partials/guide-header.scss */
.settings button:after {
  background: url("../images/assets/carrot.svg") no-repeat center center transparent;
  content: "\0020";
  font-size: 8.667px;
  height: 12px;
  line-height: 5.5;
  margin-left: 3px;
  position: absolute;
  text-align: right;
  top: 40%;
  width: 12px;
}
/* line 63, ../../../app/stylesheets/partials/guide-header.scss */
.settings button:hover {
  color: white;
  text-decoration: underline;
}
/* line 69, ../../../app/stylesheets/partials/guide-header.scss */
.settings li {
  display: block;
  float: right;
  height: 42px;
  position: relative;
}
/* line 75, ../../../app/stylesheets/partials/guide-header.scss */
.settings li li {
  float: none;
  height: 2em;
  line-height: 2;
  margin: 0;
  padding-left: 0;
}
/* line 82, ../../../app/stylesheets/partials/guide-header.scss */
.settings li li button, .settings li li span {
  height: 2em;
  line-height: 2;
  padding-left: 0.5em;
  text-decoration: none;
}
/* line 89, ../../../app/stylesheets/partials/guide-header.scss */
.settings li li button:before, .settings li li button:after {
  content: none;
}
/* line 94, ../../../app/stylesheets/partials/guide-header.scss */
.settings a {
  background: #2b2a2a;
  color: #d8d8d8;
  display: block;
  height: 42px;
  line-height: 3.25;
  text-decoration: none;
}
/* line 102, ../../../app/stylesheets/partials/guide-header.scss */
.settings a:after {
  background: url("../images/assets/carrot.svg") no-repeat center center transparent;
  content: "\0020";
  font-size: 8.667px;
  height: 12px;
  line-height: 5.5;
  margin-left: 3px;
  position: absolute;
  text-align: right;
  top: 40%;
  width: 12px;
}
/* line 116, ../../../app/stylesheets/partials/guide-header.scss */
.settings a:hover {
  color: white;
  text-decoration: underline;
}

/* line 123, ../../../app/stylesheets/partials/guide-header.scss */
.about, .profile {
  padding-left: 10px;
  padding-right: 20px;
  position: relative;
  width: 70px;
  z-index: 2;
}
/* line 130, ../../../app/stylesheets/partials/guide-header.scss */
.about:hover, .profile:hover {
  color: white;
  background: #549738;
}

/* line 136, ../../../app/stylesheets/partials/guide-header.scss */
.subnav {
  -moz-box-shadow: 0px 0px 5px 2px #222222;
  -webkit-box-shadow: 0px 0px 5px 2px #222222;
  -o-box-shadow: 0px 0px 5px 2px #222222;
  box-shadow: 0px 0px 5px 2px #222222;
  background: #2b2a2a;
  border-bottom: 1px solid #222;
  border-left: 1px solid #222;
  border-right: 1px solid #222;
  border-top: 0px solid transparent;
  display: none;
  position: absolute;
  width: 92px;
  z-index: 1;
}

/* line 150, ../../../app/stylesheets/partials/guide-header.scss */
.profile {
  padding-right: 10px;
  width: 85px;
}
/* line 156, ../../../app/stylesheets/partials/guide-header.scss */
.profile:hover {
  background: #0f8db8;
}

/* line 161, ../../../app/stylesheets/partials/guide-header.scss */
.profile-subnav, .about-subnav {
  left: -94px;
  width: 174px;
}
/* line 163, ../../../app/stylesheets/partials/guide-header.scss */
.profile-subnav button, .about-subnav button {
  width: 100%;
}
/* line 166, ../../../app/stylesheets/partials/guide-header.scss */
.profile-subnav button:hover, .about-subnav button:hover {
  background: #0f8db8;
  text-decoration: none;
}

/* line 175, ../../../app/stylesheets/partials/guide-header.scss */
.about-subnav {
  left: 0;
  width: 92px;
}
/* line 177, ../../../app/stylesheets/partials/guide-header.scss */
.about-subnav button:hover {
  background: #549738;
}

/* line 184, ../../../app/stylesheets/partials/guide-header.scss */
.profile-subnav-userhandle {
  color: #333;
  background: #ddd;
  border-bottom: 1px solid #efefef;
}

/* line 191, ../../../app/stylesheets/partials/guide-header.scss */
.you span {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  display: block;
  height: 24px;
  float: left;
  margin-right: 5px;
  width: 24px;
}
/* line 201, ../../../app/stylesheets/partials/guide-header.scss */
.you img {
  width: 100%;
}
