/* line 3, ../../../app/stylesheets/partials/guide-education.scss */
.guide-education {
  padding: 0 !important;
}

/* line 7, ../../../app/stylesheets/partials/guide-education.scss */
.guide-education-lining {
  background: #f9f15c;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fbf58d), color-stop(100%, #f9f15c));
  background: -webkit-linear-gradient(top, #fbf58d, #f9f15c);
  background: -moz-linear-gradient(top, #fbf58d, #f9f15c);
  background: -o-linear-gradient(top, #fbf58d, #f9f15c);
  background: -ms-linear-gradient(top, #fbf58d, #f9f15c);
  background: linear-gradient(top, #fbf58d, #f9f15c);
  border: 1px solid #f8ef43;
  position: relative;
}
/* line 13, ../../../app/stylesheets/partials/guide-education.scss */
.guide-education-lining p {
  color: #000;
  font-size: 12px;
  font-weight: 500;
  margin-left: 10px;
  margin-right: 48px;
  margin-top: 10px;
}

/* line 23, ../../../app/stylesheets/partials/guide-education.scss */
.guide-education-close {
  background: url("../images/assets/remove_notification.svg") no-repeat center center transparent;
  border: none;
  color: #333;
  cursor: pointer;
  height: 10px;
  margin: 10px;
  position: absolute;
  right: 0;
  top: 0;
  width: 10px;
}
