/* line 2, ../../../app/stylesheets/partials/h5bp-alternates.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 7, ../../../app/stylesheets/partials/h5bp-alternates.scss */
body {
  font-size: 13px;
}

/* line 8, ../../../app/stylesheets/partials/h5bp-alternates.scss */
h1, h2, h3, h4, h5, h6 {
  line-height: 1.231;
  margin: 0;
}

/* line 11, ../../../app/stylesheets/partials/h5bp-alternates.scss */
a {
  color: green;
}
/* line 14, ../../../app/stylesheets/partials/h5bp-alternates.scss */
a:hover {
  color: black;
}
/* line 17, ../../../app/stylesheets/partials/h5bp-alternates.scss */
a:visited {
  color: red;
}

/* line 22, ../../../app/stylesheets/partials/h5bp-alternates.scss */
menu {
  margin: 0;
  padding: 0;
}

/* line 27, ../../../app/stylesheets/partials/h5bp-alternates.scss */
.content {
  float: right;
  width: 330px;
}

/* line 33, ../../../app/stylesheets/partials/h5bp-alternates.scss */
.notype {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}
