/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* Commenting out the Reset style sheet in favor of the normalize style sheet that comes with h5bp.
 * Need to integrate the h5bp normalizer into this compass fanciness.
 * @import "compass/reset";
 */
/* line 6, ../../../app/stylesheets/partials/main.scss */
h1, h2, h3, h4, h5, h6 {
  line-height: 1.231;
  margin: 0;
}

/* line 8, ../../../app/stylesheets/partials/main.scss */
body {
  color: #dcddde;
  font: 300 normal 62.5%/1.231 "Ubuntu", "Times New Roman";
  background: url("../images/assets/noise.png") #005500;
}

/* line 19, ../../../app/stylesheets/partials/main.scss */
a {
  color: #a4a4a4;
}
/* line 24, ../../../app/stylesheets/partials/main.scss */
a:hover, a:visited, a:active {
  color: #a4a4a4;
}

/* line 32, ../../../app/stylesheets/partials/main.scss */
#lining {
  float: left;
  margin-right: -330px;
  width: 100%;
}

/* line 39, ../../../app/stylesheets/partials/main.scss */
.video-player {
  background: #333;
  color: white;
  height: 520px;
  margin-right: 330px;
}
/* line 45, ../../../app/stylesheets/partials/main.scss */
.video-player p {
  background: black;
  margin: 0;
}

/* line 52, ../../../app/stylesheets/partials/main.scss */
.content, .main {
  float: right;
  width: 330px;
}

/* line 57, ../../../app/stylesheets/partials/main.scss */
.main {
  background: #494949;
  font-size: 1.3em;
  overflow: hidden;
  position: relative;
}

/* line 66, ../../../app/stylesheets/partials/main.scss */
.content-body {
  height: 650px;
  overflow-x: hidden;
  overflow-y: scroll;
}

/* line 73, ../../../app/stylesheets/partials/main.scss */
.menu {
  -moz-box-shadow: 0px 2px 5px 0px #333333;
  -webkit-box-shadow: 0px 2px 5px 0px #333333;
  -o-box-shadow: 0px 2px 5px 0px #333333;
  box-shadow: 0px 2px 5px 0px #333333;
  border-bottom: 1px solid #222;
  position: relative;
  overflow: hidden;
}
