/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* Commenting out the Reset style sheet in favor of the normalize style sheet that comes with h5bp.
 * Need to integrate the h5bp normalizer into this compass fanciness.
 * @import "compass/reset";
 */
/* line 3, ../../../app/stylesheets/partials/menu.scss */
.video-guide {
  margin: 0;
  padding: 0;
  position: relative;
}
/* line 9, ../../../app/stylesheets/partials/menu.scss */
.video-guide li {
  border-right: 1px solid #222;
  display: block;
  float: left;
  height: 42px;
  width: 50%;
}
/* line 16, ../../../app/stylesheets/partials/menu.scss */
.video-guide li:nth-of-type(4) {
  -moz-box-shadow: inset 1px 1px 1px #4d4d4d;
  -webkit-box-shadow: inset 1px 1px 1px #4d4d4d;
  -o-box-shadow: inset 1px 1px 1px #4d4d4d;
  box-shadow: inset 1px 1px 1px #4d4d4d;
  border-right: none;
  width: 50%;
}
/* line 23, ../../../app/stylesheets/partials/menu.scss */
.video-guide button, .video-guide button:visited {
  -moz-box-shadow: inset 0px 1px 0px #4d4d4d;
  -webkit-box-shadow: inset 0px 1px 0px #4d4d4d;
  -o-box-shadow: inset 0px 1px 0px #4d4d4d;
  box-shadow: inset 0px 1px 0px #4d4d4d;
  font: 100 normal 62.5%/1.231 "Ubuntu", Trebuchet MS, sans-serif;
  border: none;
  color: #666;
  display: block;
  font-size: 11px;
  height: inherit;
  line-height: 5.5;
  text-align: center;
  text-decoration: none;
  text-transform: lowercase;
  width: 100%;
}
/* line 38, ../../../app/stylesheets/partials/menu.scss */
.video-guide button:hover, .video-guide button:visited:hover {
  -moz-box-shadow: inset 0px 1px 0px #666666;
  -webkit-box-shadow: inset 0px 1px 0px #666666;
  -o-box-shadow: inset 0px 1px 0px #666666;
  box-shadow: inset 0px 1px 0px #666666;
  background-color: #444;
}
/* line 42, ../../../app/stylesheets/partials/menu.scss */
.video-guide button:active, .video-guide button:visited:active {
  -moz-box-shadow: inset 0px 0px 10px #222222;
  -webkit-box-shadow: inset 0px 0px 10px #222222;
  -o-box-shadow: inset 0px 0px 10px #222222;
  box-shadow: inset 0px 0px 10px #222222;
}
/* line 47, ../../../app/stylesheets/partials/menu.scss */
.video-guide input {
  display: block;
  margin: 10px 0;
  width: 100%;
}
/* line 53, ../../../app/stylesheets/partials/menu.scss */
.video-guide .active-tab {
  -moz-box-shadow: inset 0px 1px 7px 0px #202020;
  -webkit-box-shadow: inset 0px 1px 7px 0px #202020;
  -o-box-shadow: inset 0px 1px 7px 0px #202020;
  box-shadow: inset 0px 1px 7px 0px #202020;
}
/* line 56, ../../../app/stylesheets/partials/menu.scss */
.video-guide .active-tab:hover {
  -moz-box-shadow: inset 0px 1px 7px 0px #111111;
  -webkit-box-shadow: inset 0px 1px 7px 0px #111111;
  -o-box-shadow: inset 0px 1px 7px 0px #111111;
  box-shadow: inset 0px 1px 7px 0px #111111;
}
/* line 61, ../../../app/stylesheets/partials/menu.scss */
.video-guide .stream {
  background: url("../images/assets/stream.svg") no-repeat center center;
}
/* line 66, ../../../app/stylesheets/partials/menu.scss */
.video-guide .stream.active-tab {
  background: url("../images/assets/stream_on.svg") no-repeat center 1px #3f3f3f;
  color: #63BD57;
}
/* line 71, ../../../app/stylesheets/partials/menu.scss */
.video-guide .stream.active-tab:hover {
  background-color: #3f3f3f;
}
/* line 77, ../../../app/stylesheets/partials/menu.scss */
.video-guide .rolls {
  background: url("../images/assets/rolls.svg") no-repeat center center;
}
/* line 82, ../../../app/stylesheets/partials/menu.scss */
.video-guide .rolls.active-tab {
  background: url("../images/assets/rolls_on.svg") no-repeat center 1px;
  color: #0092C1;
}
/* line 87, ../../../app/stylesheets/partials/menu.scss */
.video-guide .rolls.active-tab:hover {
  background-color: #3f3f3f;
}
/* line 92, ../../../app/stylesheets/partials/menu.scss */
.video-guide .saves {
  background: url("../images/assets/saves.svg") no-repeat center center;
}
/* line 97, ../../../app/stylesheets/partials/menu.scss */
.video-guide .saves.active-tab {
  background: url("../images/assets/saves_on.svg") no-repeat center 1px;
  color: #693a7b;
}
/* line 102, ../../../app/stylesheets/partials/menu.scss */
.video-guide .saves.active-tab:hover {
  background-color: #3f3f3f;
}

/* line 109, ../../../app/stylesheets/partials/menu.scss */
.dashboard-search {
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  -o-border-radius: 20px;
  -ms-border-radius: 20px;
  -khtml-border-radius: 20px;
  border-radius: 20px;
  margin: 0px 7px 3px;
  position: relative;
}
/* line 115, ../../../app/stylesheets/partials/menu.scss */
.dashboard-search i {
  background: url("../images/assets/search.svg") no-repeat center center;
  height: 12px;
  margin: 5px;
  position: absolute;
  width: 12px;
}
/* line 122, ../../../app/stylesheets/partials/menu.scss */
.dashboard-search input[type="text"] {
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  -o-border-radius: 20px;
  -ms-border-radius: 20px;
  -khtml-border-radius: 20px;
  border-radius: 20px;
  border: none;
  padding: 3px 8px 3px 20px;
}
/* line 127, ../../../app/stylesheets/partials/menu.scss */
.dashboard-search input[type="text"]:focus {
  -moz-box-shadow: 0px 0px 5px 3px #666666;
  -webkit-box-shadow: 0px 0px 5px 3px #666666;
  -o-box-shadow: 0px 0px 5px 3px #666666;
  box-shadow: 0px 0px 5px 3px #666666;
  outline: none;
}
