/* line 3, ../../../app/stylesheets/partials/rolls-list.scss */
.rolls-list {
  padding: 0;
  position: relative;
  margin: 0;
}
/* line 10, ../../../app/stylesheets/partials/rolls-list.scss */
.rolls-list a {
  cursor: pointer;
  display: block;
  padding: 5px;
}
/* line 15, ../../../app/stylesheets/partials/rolls-list.scss */
.rolls-list a:hover {
  background-color: #6d6d6d;
}
/* line 20, ../../../app/stylesheets/partials/rolls-list.scss */
.rolls-list li {
  padding: 0;
}
/* line 24, ../../../app/stylesheets/partials/rolls-list.scss */
.rolls-list .active-list-item {
  position: relative;
}
/* line 28, ../../../app/stylesheets/partials/rolls-list.scss */
.rolls-list .active-list-item a {
  color: #000;
}
/* line 32, ../../../app/stylesheets/partials/rolls-list.scss */
.rolls-list .active-list-item h2 {
  height: 36px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 160px;
}
/* line 39, ../../../app/stylesheets/partials/rolls-list.scss */
.rolls-list .active-list-item h2:after {
  content: "Now Playing";
  color: #FFF;
  padding-top: 10px;
  padding-right: 10px;
  position: absolute;
  right: 0;
  top: 0;
}
