/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* Commenting out the Reset style sheet in favor of the normalize style sheet that comes with h5bp.
 * Need to integrate the h5bp normalizer into this compass fanciness.
 * @import "compass/reset";
 */
/* line 6, ../../../app/stylesheets/partials/rolls-list.scss */
.rolls-list {
  padding: 0;
  position: relative;
  margin: 0;
}
/* line 13, ../../../app/stylesheets/partials/rolls-list.scss */
.rolls-list a {
  cursor: pointer;
  display: block;
  padding: 10px;
}
/* line 17, ../../../app/stylesheets/partials/rolls-list.scss */
.rolls-list a:hover {
  background: #555555;
}
/* line 24, ../../../app/stylesheets/partials/rolls-list.scss */
.rolls-list li {
  border-bottom: 1px solid #222;
  padding: 0;
}
