/* line 3, ../../../app/stylesheets/partials/rolls.scss */
.roll-action-menu {
  display: none;
}
/* line 7, ../../../app/stylesheets/partials/rolls.scss */
.roll-action-menu .share-comment {
  border-bottom: none;
  border-top: none;
  padding-bottom: 0;
}
/* line 13, ../../../app/stylesheets/partials/rolls.scss */
.roll-action-menu .share-networks,
.roll-action-menu .share-submit {
  border-top: none;
}

/* line 19, ../../../app/stylesheets/partials/rolls.scss */
.roll-menu {
  margin: 0;
  padding: 11px 0 9px;
}
/* line 23, ../../../app/stylesheets/partials/rolls.scss */
.roll-menu li {
  display: block;
  float: left;
  list-style-type: none;
  margin: 0;
}
/* line 29, ../../../app/stylesheets/partials/rolls.scss */
.roll-menu .left {
  margin-left: 10px;
  width: 47px;
}
/* line 33, ../../../app/stylesheets/partials/rolls.scss */
.roll-menu .middle {
  margin-left: 8px;
  width: 161px;
}
/* line 37, ../../../app/stylesheets/partials/rolls.scss */
.roll-menu .right {
  margin-left: 8px;
  width: 85px;
}

/* line 43, ../../../app/stylesheets/partials/rolls.scss */
.rolls-add, .rolls-invite {
  background-color: #428e3a;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #53b249), color-stop(100%, #428e3a));
  background: -webkit-linear-gradient(top, #53b249, #428e3a);
  background: -moz-linear-gradient(top, #53b249, #428e3a);
  background: -o-linear-gradient(top, #53b249, #428e3a);
  background: -ms-linear-gradient(top, #53b249, #428e3a);
  background: linear-gradient(top, #53b249, #428e3a);
  -moz-box-shadow: inset 0px 1px 0px 0px #85ca7d;
  -webkit-box-shadow: inset 0px 1px 0px 0px #85ca7d;
  -o-box-shadow: inset 0px 1px 0px 0px #85ca7d;
  box-shadow: inset 0px 1px 0px 0px #85ca7d;
  font: 700 normal 100%/1.231 "Ubuntu", Trebuchet MS, sans-serif;
  text-shadow: 0px -1px 0px #333333;
  border: 1px solid #20461c;
  border-radius: 5px;
  color: #efefef;
  padding: 6px 13px;
  margin-top: 0;
  width: 100%;
}

/* line 54, ../../../app/stylesheets/partials/rolls.scss */
.rolls-share {
  margin-top: 0 !important;
  width: 100%;
}

/* line 60, ../../../app/stylesheets/partials/rolls.scss */
.rolls-leave, .rolls-edit, .rolls-share-cancel {
  background-color: #27292a;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #404344), color-stop(100%, #27292a));
  background: -webkit-linear-gradient(top, #404344, #27292a);
  background: -moz-linear-gradient(top, #404344, #27292a);
  background: -o-linear-gradient(top, #404344, #27292a);
  background: -ms-linear-gradient(top, #404344, #27292a);
  background: linear-gradient(top, #404344, #27292a);
  -moz-box-shadow: inset 0px 1px 0px 0px #646a6c;
  -webkit-box-shadow: inset 0px 1px 0px 0px #646a6c;
  -o-box-shadow: inset 0px 1px 0px 0px #646a6c;
  box-shadow: inset 0px 1px 0px 0px #646a6c;
  font: 700 normal 100%/1.231 "Ubuntu", Trebuchet MS, sans-serif;
  text-shadow: 0px -1px 0px #333333;
  border: 1px solid black;
  border-radius: 5px;
  color: #efefef;
  padding: 6px 13px;
  margin-top: 0;
}

/* line 65, ../../../app/stylesheets/partials/rolls.scss */
.rolls-edit {
  width: 100%;
}

/* line 70, ../../../app/stylesheets/partials/rolls.scss */
.rolls-share-cancel {
  margin-top: 0;
}

/* line 75, ../../../app/stylesheets/partials/rolls.scss */
.rolls-back {
  background-color: #27292a;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #404344), color-stop(100%, #27292a));
  background: -webkit-linear-gradient(top, #404344, #27292a);
  background: -moz-linear-gradient(top, #404344, #27292a);
  background: -o-linear-gradient(top, #404344, #27292a);
  background: -ms-linear-gradient(top, #404344, #27292a);
  background: linear-gradient(top, #404344, #27292a);
  -moz-box-shadow: inset 0px 1px 0px 0px #646a6c;
  -webkit-box-shadow: inset 0px 1px 0px 0px #646a6c;
  -o-box-shadow: inset 0px 1px 0px 0px #646a6c;
  box-shadow: inset 0px 1px 0px 0px #646a6c;
  font: 700 normal 100%/1.231 "Ubuntu", Trebuchet MS, sans-serif;
  text-shadow: 0px -1px 0px #333333;
  border: 1px solid black;
  border-radius: 5px;
  color: #efefef;
  padding: 6px 13px;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}

/* line 82, ../../../app/stylesheets/partials/rolls.scss */
.roll-delete {
  background-color: #cc1235;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ec254b), color-stop(100%, #cc1235));
  background: -webkit-linear-gradient(top, #ec254b, #cc1235);
  background: -moz-linear-gradient(top, #ec254b, #cc1235);
  background: -o-linear-gradient(top, #ec254b, #cc1235);
  background: -ms-linear-gradient(top, #ec254b, #cc1235);
  background: linear-gradient(top, #ec254b, #cc1235);
  -moz-box-shadow: inset 0px 1px 0px 0px #f26c85;
  -webkit-box-shadow: inset 0px 1px 0px 0px #f26c85;
  -o-box-shadow: inset 0px 1px 0px 0px #f26c85;
  box-shadow: inset 0px 1px 0px 0px #f26c85;
  font: 700 normal 100%/1.231 "Ubuntu", Trebuchet MS, sans-serif;
  text-shadow: 0px -1px 0px #333333;
  border: 1px solid #6e0a1d;
  border-radius: 5px;
  color: #efefef;
  padding: 6px 13px;
  display: none;
  position: absolute;
  right: 9px;
  top: 22px;
}

/* ------ Roll Add Area */
/* line 92, ../../../app/stylesheets/partials/rolls.scss */
.add-video-area {
  background-color: #2c2f30;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #44494b), color-stop(100%, #2c2f30));
  background: -webkit-linear-gradient(top, #44494b, #2c2f30);
  background: -moz-linear-gradient(top, #44494b, #2c2f30);
  background: -o-linear-gradient(top, #44494b, #2c2f30);
  background: -ms-linear-gradient(top, #44494b, #2c2f30);
  background: linear-gradient(top, #44494b, #2c2f30);
  -moz-box-shadow: inset 0px 1px 0px 0px #697073;
  -webkit-box-shadow: inset 0px 1px 0px 0px #697073;
  -o-box-shadow: inset 0px 1px 0px 0px #697073;
  box-shadow: inset 0px 1px 0px 0px #697073;
  font: 700 normal 100%/1.231 "Ubuntu", Trebuchet MS, sans-serif;
  text-shadow: 0px -1px 0px #333333;
  border: 1px solid black;
  border-radius: 5px;
  color: #efefef;
  padding: 6px 13px;
  margin: 10px 10px 0px;
  padding: 6px;
  display: none;
}
/* line 97, ../../../app/stylesheets/partials/rolls.scss */
.add-video-area input {
  width: 260px;
  height: 25px;
  margin-right: 5px;
  padding: 4px;
}
/* line 103, ../../../app/stylesheets/partials/rolls.scss */
.add-video-area .add-video {
  background-color: #343434;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #4e4e4e), color-stop(100%, #343434));
  background: -webkit-linear-gradient(top, #4e4e4e, #343434);
  background: -moz-linear-gradient(top, #4e4e4e, #343434);
  background: -o-linear-gradient(top, #4e4e4e, #343434);
  background: -ms-linear-gradient(top, #4e4e4e, #343434);
  background: linear-gradient(top, #4e4e4e, #343434);
  -moz-box-shadow: inset 0px 1px 0px 0px #747474;
  -webkit-box-shadow: inset 0px 1px 0px 0px #747474;
  -o-box-shadow: inset 0px 1px 0px 0px #747474;
  box-shadow: inset 0px 1px 0px 0px #747474;
  font: 700 normal 100%/1.231 "Ubuntu", Trebuchet MS, sans-serif;
  text-shadow: 0px -1px 0px #333333;
  border: 1px solid #010101;
  border-radius: 5px;
  color: #efefef;
  padding: 6px 13px;
  width: 28px;
  height: 25px;
  margin-top: 0;
  padding: 4px;
}
/* line 110, ../../../app/stylesheets/partials/rolls.scss */
.add-video-area .spinner {
  left: auto;
  margin-left: 0px;
  margin-top: 0px;
  position: relative;
}

/* unused
.rolls-list-nav {
	@extend .notype;

	padding: $defaultMargin - 2 $defaultMargin;
	position: absolute;
	right: 0;
	top: 0;
	width: 25%;
}

.roll-back {
	@include x-tab-primer;	
	@include background(
		url('../images/assets/navarrow_left.svg') no-repeat center center,
		linear-gradient(top, adjust-lightness($primer-color,10%), $primer-color)
	);
	border-radius: $button-radius 0 0 $button-radius;

	margin-right: -1px;
	text-align: left;
	width: 50%;
}

.roll-next {
	@include x-tab-primer;
	@include background(
		url('../images/assets/navarrow_right.svg') no-repeat center center,
		linear-gradient(top, adjust-lightness($primer-color,10%), $primer-color)
	);
	border-radius: 0 $button-radius $button-radius 0;

	text-align: right;
	width: 50%;
}
*/
/*----------------------------------------------------- Roll Sharing ----------------------------------------------------- */
/* line 157, ../../../app/stylesheets/partials/rolls.scss */
.share-dialog {
  padding: 0;
  display: none;
  position: relative;
  width: 100%;
  z-index: 1;
}

/* line 171, ../../../app/stylesheets/partials/rolls.scss */
.share-comment,
.share-networks,
.share-submit {
  padding: 5px 10px 10px;
}

/* line 175, ../../../app/stylesheets/partials/rolls.scss */
.share-comment {
  border-top: 1px solid #343434;
  border-bottom: 1px solid black;
}

/* line 181, ../../../app/stylesheets/partials/rolls.scss */
.share-networks,
.share-submit {
  border-top: 1px solid #343434;
}

/* line 185, ../../../app/stylesheets/partials/rolls.scss */
.share-networks {
  float: left;
  width: 50%;
}

/* line 190, ../../../app/stylesheets/partials/rolls.scss */
.share-label {
  font-size: 14px;
  font-weight: 500;
  line-height: 2;
}

/* line 194, ../../../app/stylesheets/partials/rolls.scss */
.share-textarea {
  font: 300 normal 100%/1.231 "Ubuntu", Trebuchet MS, sans-serif;
  border-radius: 3px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
  display: block;
  padding: 5px;
  width: 100%;
}
/* line 203, ../../../app/stylesheets/partials/rolls.scss */
.share-textarea:focus {
  -moz-transition-property: opacity;
  -webkit-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
  -moz-transition-duration: 0.25s;
  -webkit-transition-duration: 0.25s;
  -o-transition-duration: 0.25s;
  transition-duration: 0.25s;
  -moz-transition-timing-function: ease-in;
  -webkit-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

/* line 211, ../../../app/stylesheets/partials/rolls.scss */
.share-networks-list {
  margin: 0;
  padding-left: 0;
}

/* line 216, ../../../app/stylesheets/partials/rolls.scss */
.share-submit-button {
  background-color: #0071a3;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #0094d6), color-stop(100%, #0071a3));
  background: -webkit-linear-gradient(top, #0094d6, #0071a3);
  background: -moz-linear-gradient(top, #0094d6, #0071a3);
  background: -o-linear-gradient(top, #0094d6, #0071a3);
  background: -ms-linear-gradient(top, #0094d6, #0071a3);
  background: linear-gradient(top, #0094d6, #0071a3);
  -moz-box-shadow: inset 0px 1px 0px 0px #23bcff;
  -webkit-box-shadow: inset 0px 1px 0px 0px #23bcff;
  -o-box-shadow: inset 0px 1px 0px 0px #23bcff;
  box-shadow: inset 0px 1px 0px 0px #23bcff;
  font: 700 normal 100%/1.231 "Ubuntu", Trebuchet MS, sans-serif;
  text-shadow: 0px -1px 0px #333333;
  border: 1px solid #002a3d;
  border-radius: 5px;
  color: #efefef;
  padding: 6px 13px;
  margin-top: 32px;
  width: 100%;
}
/* line 222, ../../../app/stylesheets/partials/rolls.scss */
.share-submit-button .spinner {
  left: auto;
  margin-left: -4px;
  margin-top: -2px;
  position: relative;
}

/* line 230, ../../../app/stylesheets/partials/rolls.scss */
.share-comment-counter {
  display: block;
  font-size: 11px;
  height: 22px;
  line-height: 2;
  float: right;
}

/* line 349, ../../../app/stylesheets/_base.scss */
.networks-twitter button,
.networks-facebook button {
  border-radius: 3px;
  background-color: #474747;
  border: 1px solid #3a3a3a;
  display: block;
  height: 34px;
  width: 34px;
}

/* line 244, ../../../app/stylesheets/partials/rolls.scss */
.networks-twitter button {
  background: url("../images/assets/rolls_share_twitter_off.svg") no-repeat 1px 5px, -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #7a7a7a), color-stop(100%, #474747));
  background: url("../images/assets/rolls_share_twitter_off.svg") no-repeat 1px 5px, -webkit-linear-gradient(top, #7a7a7a, #474747);
  background: url("../images/assets/rolls_share_twitter_off.svg") no-repeat 1px 5px, -moz-linear-gradient(top, #7a7a7a, #474747);
  background: url("../images/assets/rolls_share_twitter_off.svg") no-repeat 1px 5px, -o-linear-gradient(top, #7a7a7a, #474747);
  background: url("../images/assets/rolls_share_twitter_off.svg") no-repeat 1px 5px, -ms-linear-gradient(top, #7a7a7a, #474747);
  background: url("../images/assets/rolls_share_twitter_off.svg") no-repeat 1px 5px, linear-gradient(top, #7a7a7a, #474747);
}
/* line 252, ../../../app/stylesheets/partials/rolls.scss */
.networks-twitter.active button {
  background-color: #00a2d1;
  background: url("../images/assets/rolls_share_twitter_on.svg") no-repeat 1px 5px, -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #38d2ff), color-stop(100%, #00a2d1));
  background: url("../images/assets/rolls_share_twitter_on.svg") no-repeat 1px 5px, -webkit-linear-gradient(top, #38d2ff, #00a2d1);
  background: url("../images/assets/rolls_share_twitter_on.svg") no-repeat 1px 5px, -moz-linear-gradient(top, #38d2ff, #00a2d1);
  background: url("../images/assets/rolls_share_twitter_on.svg") no-repeat 1px 5px, -o-linear-gradient(top, #38d2ff, #00a2d1);
  background: url("../images/assets/rolls_share_twitter_on.svg") no-repeat 1px 5px, -ms-linear-gradient(top, #38d2ff, #00a2d1);
  background: url("../images/assets/rolls_share_twitter_on.svg") no-repeat 1px 5px, linear-gradient(top, #38d2ff, #00a2d1);
}

/* line 263, ../../../app/stylesheets/partials/rolls.scss */
.networks-facebook button {
  background: url("../images/assets/rolls_share_facebook_off.svg") no-repeat center center, -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #7a7a7a), color-stop(100%, #474747));
  background: url("../images/assets/rolls_share_facebook_off.svg") no-repeat center center, -webkit-linear-gradient(top, #7a7a7a, #474747);
  background: url("../images/assets/rolls_share_facebook_off.svg") no-repeat center center, -moz-linear-gradient(top, #7a7a7a, #474747);
  background: url("../images/assets/rolls_share_facebook_off.svg") no-repeat center center, -o-linear-gradient(top, #7a7a7a, #474747);
  background: url("../images/assets/rolls_share_facebook_off.svg") no-repeat center center, -ms-linear-gradient(top, #7a7a7a, #474747);
  background: url("../images/assets/rolls_share_facebook_off.svg") no-repeat center center, linear-gradient(top, #7a7a7a, #474747);
}
/* line 271, ../../../app/stylesheets/partials/rolls.scss */
.networks-facebook.active button {
  background-color: #013e80;
  background: url("../images/assets/rolls_share_facebook_on.svg") no-repeat center center, -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #026fe5), color-stop(100%, #013e80));
  background: url("../images/assets/rolls_share_facebook_on.svg") no-repeat center center, -webkit-linear-gradient(top, #026fe5, #013e80);
  background: url("../images/assets/rolls_share_facebook_on.svg") no-repeat center center, -moz-linear-gradient(top, #026fe5, #013e80);
  background: url("../images/assets/rolls_share_facebook_on.svg") no-repeat center center, -o-linear-gradient(top, #026fe5, #013e80);
  background: url("../images/assets/rolls_share_facebook_on.svg") no-repeat center center, -ms-linear-gradient(top, #026fe5, #013e80);
  background: url("../images/assets/rolls_share_facebook_on.svg") no-repeat center center, linear-gradient(top, #026fe5, #013e80);
}
