/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* Commenting out the Reset style sheet in favor of the normalize style sheet that comes with h5bp.
 * Need to integrate the h5bp normalizer into this compass fanciness.
 * @import "compass/reset";
 */
/* line 7, ../../../app/stylesheets/partials/roll-filter-controls.scss */
.filter-controls {
  background: #585858;
  border-top: 1px solid #333;
  border-bottom: 1px solid #333;
  font-size: 11px;
  font-weight: 700;
  margin: 0;
  padding: 0;
  position: relative;
  text-align: center;
  width: 100%;
}
/* line 20, ../../../app/stylesheets/partials/roll-filter-controls.scss */
.filter-controls li {
  display: block;
}

/* line 26, ../../../app/stylesheets/partials/roll-filter-controls.scss */
.current-roll {
  float: left;
  font-size: 1.2em;
  line-height: 2.55;
  padding: 5px;
  text-align: center;
  width: 100%;
}

/* line 35, ../../../app/stylesheets/partials/roll-filter-controls.scss */
.current-roll-avatar {
  display: inline-block;
  height: 20px;
  left: -2px;
  margin: 0 0 0 -20px;
  overflow: hidden;
  position: relative;
  top: -2px;
  vertical-align: middle;
  width: 20px;
}
/* line 46, ../../../app/stylesheets/partials/roll-filter-controls.scss */
.current-roll-avatar img, .current-roll-avatar span {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
}

/* line 55, ../../../app/stylesheets/partials/roll-filter-controls.scss */
.roll-name-change {
  display: none;
}
/* line 57, ../../../app/stylesheets/partials/roll-filter-controls.scss */
.roll-name-change input {
  margin: 3px;
  padding: 4px;
}

/* line 70, ../../../app/stylesheets/partials/roll-filter-controls.scss */
.rolls-back {
  background-color: #303030;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #333333), color-stop(100%, #303030));
  background: -webkit-linear-gradient(top, #333333, #303030);
  background: -moz-linear-gradient(top, #333333, #303030);
  background: -o-linear-gradient(top, #333333, #303030);
  background: -ms-linear-gradient(top, #333333, #303030);
  background: linear-gradient(top, #333333, #303030);
  float: left;
  height: 20px;
  padding: 5px 10px;
  width: 50%;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  font: 700 normal 100%/1.231 "Ubuntu", Trebuchet MS, sans-serif;
  border: 1px solid #222;
  color: #efefef;
  height: 26px;
  left: 17px;
  padding: 5px 10px 5px 5px;
  position: absolute;
  top: 9px;
  width: auto;
}
/* line 84, ../../../app/stylesheets/partials/roll-filter-controls.scss */
.rolls-back i {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #333333), color-stop(100%, #303030));
  background: -webkit-linear-gradient(top, #333333, #303030);
  background: -moz-linear-gradient(top, #333333, #303030);
  background: -o-linear-gradient(top, #333333, #303030);
  background: -ms-linear-gradient(top, #333333, #303030);
  background: linear-gradient(top, #333333, #303030);
  -moz-border-radius: 0 100% 0 5px;
  -webkit-border-radius: 0 100% 0 5px;
  -o-border-radius: 0 100% 0 5px;
  -ms-border-radius: 0 100% 0 5px;
  -khtml-border-radius: 0 100% 0 5px;
  border-radius: 0 100% 0 5px;
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  border-bottom: 1px solid #222;
  border-left: 1px solid #222;
  display: block;
  height: 17px;
  left: -8px;
  position: absolute;
  top: 4px;
  width: 17px;
  z-index: 1000;
}

/* line 102, ../../../app/stylesheets/partials/roll-filter-controls.scss */
.roll-delete {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  background: url("../images/assets/noise.png"), -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ba2046), color-stop(100%, #9e1632));
  background: url("../images/assets/noise.png"), -webkit-linear-gradient(top, #ba2046, #9e1632);
  background: url("../images/assets/noise.png"), -moz-linear-gradient(top, #ba2046, #9e1632);
  background: url("../images/assets/noise.png"), -o-linear-gradient(top, #ba2046, #9e1632);
  background: url("../images/assets/noise.png"), -ms-linear-gradient(top, #ba2046, #9e1632);
  background: url("../images/assets/noise.png"), linear-gradient(top, #ba2046, #9e1632);
  -moz-box-shadow: inset 0px 1px 1px 0px #888888;
  -webkit-box-shadow: inset 0px 1px 1px 0px #888888;
  -o-box-shadow: inset 0px 1px 1px 0px #888888;
  box-shadow: inset 0px 1px 1px 0px #888888;
  font: 700 normal 100%/1.231 "Ubuntu", Trebuchet MS, sans-serif;
  font-weight: 600;
  color: #EFEFEF;
  background-color: linear-gradient(top, #ba2046, #9e1632);
  border: 1px solid #711024;
  height: 26px;
  padding: 5px;
  position: absolute;
  top: 10px;
  right: 15px;
  float: right;
  width: 62px;
  display: none;
}

/* line 124, ../../../app/stylesheets/partials/roll-filter-controls.scss */
.rolls-list-nav {
  padding: 9px 10px;
  position: absolute;
  right: 0;
  top: 0;
  width: 25%;
}

/* line 135, ../../../app/stylesheets/partials/roll-filter-controls.scss */
.roll-back {
  background-color: #303030;
  background: url("../images/assets/navarrow_left.svg") no-repeat center center #303030;
  float: left;
  height: 20px;
  padding: 5px 10px;
  width: 50%;
  -moz-border-radius: 5px 0 0 5px;
  -webkit-border-radius: 5px 0 0 5px;
  -o-border-radius: 5px 0 0 5px;
  -ms-border-radius: 5px 0 0 5px;
  -khtml-border-radius: 5px 0 0 5px;
  border-radius: 5px 0 0 5px;
  border: 1px solid #222;
  height: 26px;
  margin-right: -1px;
  text-align: left;
}

/* line 148, ../../../app/stylesheets/partials/roll-filter-controls.scss */
.roll-next {
  background-color: #303030;
  background: url("../images/assets/navarrow_right.svg") no-repeat center center #303030;
  float: left;
  height: 20px;
  padding: 5px 10px;
  width: 50%;
  -moz-border-radius: 0 5px 5px 0;
  -webkit-border-radius: 0 5px 5px 0;
  -o-border-radius: 0 5px 5px 0;
  -ms-border-radius: 0 5px 5px 0;
  -khtml-border-radius: 0 5px 5px 0;
  border-radius: 0 5px 5px 0;
  border: 1px solid #222;
  height: 26px;
  text-align: right;
}
