/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* Commenting out the Reset style sheet in favor of the normalize style sheet that comes with h5bp.
 * Need to integrate the h5bp normalizer into this compass fanciness.
 * @import "compass/reset";
 */
/* line 10, ../../../app/stylesheets/partials/roll-selection-default-items.scss */
.form-rolls-list a {
  display: block;
  padding: 5px;
  text-decoration: none;
}
/* line 15, ../../../app/stylesheets/partials/roll-selection-default-items.scss */
.form-rolls-list a:visited {
  text-decoration: none;
}
/* line 20, ../../../app/stylesheets/partials/roll-selection-default-items.scss */
.form-rolls-list a:hover, .form-rolls-list a:active {
  text-decoration: underline;
}
/* line 25, ../../../app/stylesheets/partials/roll-selection-default-items.scss */
.form-rolls-list li {
  padding: 5px;
}
/* line 29, ../../../app/stylesheets/partials/roll-selection-default-items.scss */
.form-rolls-list .rolling-public-roll, .form-rolls-list .rolling-private-roll, .form-rolls-list .rolling-social {
  font-size: 14px;
  line-height: 1.75;
  position: relative;
  text-align: center;
}
/* line 35, ../../../app/stylesheets/partials/roll-selection-default-items.scss */
.form-rolls-list .rolling-public-roll.new:before, .form-rolls-list .new.rolling-private-roll:before, .form-rolls-list .new.rolling-social:before {
  content: "+";
}
/* line 38, ../../../app/stylesheets/partials/roll-selection-default-items.scss */
.form-rolls-list .rolling-public-roll:after, .form-rolls-list .rolling-private-roll:after, .form-rolls-list .rolling-social:after {
  content: url("../images/assets/rolls_public.svg");
  right: 9px;
  position: absolute;
  top: 1px;
}
/* line 49, ../../../app/stylesheets/partials/roll-selection-default-items.scss */
.form-rolls-list .rolling-private-roll:after {
  content: url("../images/assets/rolls_private.svg");
}
/* line 57, ../../../app/stylesheets/partials/roll-selection-default-items.scss */
.form-rolls-list .rolling-social:after {
  content: none;
}

/* line 63, ../../../app/stylesheets/partials/roll-selection-default-items.scss */
.share-comment-counter {
  color: white;
  float: right;
  line-height: 2.5;
  margin: 10px;
}
