/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* Commenting out the Reset style sheet in favor of the normalize style sheet that comes with h5bp.
 * Need to integrate the h5bp normalizer into this compass fanciness.
 * @import "compass/reset";
 */
/* line 3, ../../../app/stylesheets/partials/rolls.scss */
.roll-action-menu {
  display: none;
}

/* line 7, ../../../app/stylesheets/partials/rolls.scss */
.roll-menu {
  margin: 0;
  padding: 11px 0 9px;
}
/* line 11, ../../../app/stylesheets/partials/rolls.scss */
.roll-menu li {
  display: block;
  float: left;
  list-style-type: none;
  margin: 0;
}
/* line 17, ../../../app/stylesheets/partials/rolls.scss */
.roll-menu .left {
  margin-left: 12px;
  width: 47px;
}
/* line 21, ../../../app/stylesheets/partials/rolls.scss */
.roll-menu .middle {
  margin-left: 8px;
  width: 161px;
}
/* line 25, ../../../app/stylesheets/partials/rolls.scss */
.roll-menu .right {
  margin-left: 8px;
  width: 85px;
}

/* line 31, ../../../app/stylesheets/partials/rolls.scss */
.rolls-add, .rolls-invite {
  background-color: #428e3a;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #53b249), color-stop(100%, #428e3a));
  background: -webkit-linear-gradient(top, #53b249, #428e3a);
  background: -moz-linear-gradient(top, #53b249, #428e3a);
  background: -o-linear-gradient(top, #53b249, #428e3a);
  background: -ms-linear-gradient(top, #53b249, #428e3a);
  background: linear-gradient(top, #53b249, #428e3a);
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: inset 0px 1px 0px 0px #85ca7d;
  -webkit-box-shadow: inset 0px 1px 0px 0px #85ca7d;
  -o-box-shadow: inset 0px 1px 0px 0px #85ca7d;
  box-shadow: inset 0px 1px 0px 0px #85ca7d;
  font: 700 normal 100%/1.231 "Ubuntu", Trebuchet MS, sans-serif;
  text-shadow: 0px -1px 0px #333333;
  border: 1px solid #20461c;
  color: #efefef;
  padding: 6px 13px;
  margin-top: 0;
  width: 100%;
}

/* line 42, ../../../app/stylesheets/partials/rolls.scss */
.rolls-share {
  margin-top: 0 !important;
  width: 100%;
}

/* line 48, ../../../app/stylesheets/partials/rolls.scss */
.rolls-leave, .rolls-edit, .rolls-share-cancel {
  background-color: #343434;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #4e4e4e), color-stop(100%, #343434));
  background: -webkit-linear-gradient(top, #4e4e4e, #343434);
  background: -moz-linear-gradient(top, #4e4e4e, #343434);
  background: -o-linear-gradient(top, #4e4e4e, #343434);
  background: -ms-linear-gradient(top, #4e4e4e, #343434);
  background: linear-gradient(top, #4e4e4e, #343434);
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: inset 0px 1px 0px 0px #747474;
  -webkit-box-shadow: inset 0px 1px 0px 0px #747474;
  -o-box-shadow: inset 0px 1px 0px 0px #747474;
  box-shadow: inset 0px 1px 0px 0px #747474;
  font: 700 normal 100%/1.231 "Ubuntu", Trebuchet MS, sans-serif;
  text-shadow: 0px -1px 0px #333333;
  border: 1px solid #010101;
  color: #efefef;
  padding: 6px 13px;
  margin-top: 0;
}

/* line 53, ../../../app/stylesheets/partials/rolls.scss */
.rolls-edit {
  width: 100%;
}

/* line 58, ../../../app/stylesheets/partials/rolls.scss */
.rolls-share-cancel {
  margin-top: 0;
}

/* line 63, ../../../app/stylesheets/partials/rolls.scss */
.rolls-back {
  background-color: #27292a;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #404344), color-stop(100%, #27292a));
  background: -webkit-linear-gradient(top, #404344, #27292a);
  background: -moz-linear-gradient(top, #404344, #27292a);
  background: -o-linear-gradient(top, #404344, #27292a);
  background: -ms-linear-gradient(top, #404344, #27292a);
  background: linear-gradient(top, #404344, #27292a);
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: inset 0px 1px 0px 0px #646a6c;
  -webkit-box-shadow: inset 0px 1px 0px 0px #646a6c;
  -o-box-shadow: inset 0px 1px 0px 0px #646a6c;
  box-shadow: inset 0px 1px 0px 0px #646a6c;
  font: 700 normal 100%/1.231 "Ubuntu", Trebuchet MS, sans-serif;
  text-shadow: 0px -1px 0px #333333;
  border: 1px solid black;
  color: #efefef;
  padding: 6px 13px;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}

/* line 70, ../../../app/stylesheets/partials/rolls.scss */
.roll-delete {
  background-color: #cc1235;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ec254b), color-stop(100%, #cc1235));
  background: -webkit-linear-gradient(top, #ec254b, #cc1235);
  background: -moz-linear-gradient(top, #ec254b, #cc1235);
  background: -o-linear-gradient(top, #ec254b, #cc1235);
  background: -ms-linear-gradient(top, #ec254b, #cc1235);
  background: linear-gradient(top, #ec254b, #cc1235);
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: inset 0px 1px 0px 0px #f26c85;
  -webkit-box-shadow: inset 0px 1px 0px 0px #f26c85;
  -o-box-shadow: inset 0px 1px 0px 0px #f26c85;
  box-shadow: inset 0px 1px 0px 0px #f26c85;
  font: 700 normal 100%/1.231 "Ubuntu", Trebuchet MS, sans-serif;
  text-shadow: 0px -1px 0px #333333;
  border: 1px solid #6e0a1d;
  color: #efefef;
  padding: 6px 13px;
  display: none;
  position: absolute;
  right: 9px;
  top: 22px;
}

/* unused
.rolls-list-nav {
	@extend .notype;

	padding: $defaultMargin - 2 $defaultMargin;
	position: absolute;
	right: 0;
	top: 0;
	width: 25%;
}

.roll-back {
	@include x-tab-primer;	
	@include background(
		url('../images/assets/navarrow_left.svg') no-repeat center center,
		linear-gradient(top, adjust-lightness($primer-color,10%), $primer-color)
	);
	@include border-radius($button-radius 0 0 $button-radius);	

	margin-right: -1px;
	text-align: left;
	width: 50%;
}

.roll-next {
	@include x-tab-primer;
	@include background(
		url('../images/assets/navarrow_right.svg') no-repeat center center,
		linear-gradient(top, adjust-lightness($primer-color,10%), $primer-color)
	);
	@include border-radius(0 $button-radius $button-radius 0);	

	text-align: right;
	width: 50%;
}
*/
/*----------------------------------------------------- Roll Sharing ----------------------------------------------------- */
/* line 117, ../../../app/stylesheets/partials/rolls.scss */
.share-dialog {
  background: #585858;
  padding: 0;
  display: none;
  position: relative;
  width: 100%;
  z-index: 1;
}

/* line 126, ../../../app/stylesheets/partials/rolls.scss */
.share-form {
  background: #494949;
  padding: 0;
  position: relative;
}
/* line 131, ../../../app/stylesheets/partials/rolls.scss */
.share-form fieldset {
  border-top: 1px solid #555555;
  border-bottom: 1px solid #333333;
  padding: 0 10px 10px;
}
/* line 136, ../../../app/stylesheets/partials/rolls.scss */
.share-form fieldset:first-child {
  border-top: none;
}
/* line 139, ../../../app/stylesheets/partials/rolls.scss */
.share-form fieldset:last-child {
  border-bottom: none;
}
/* line 145, ../../../app/stylesheets/partials/rolls.scss */
.share-form legend,
.share-form label {
  float: left;
  font-weight: 500;
  margin: 8px 0 5px;
  width: 100%;
}

/* line 153, ../../../app/stylesheets/partials/rolls.scss */
.share-comment {
  position: relative;
}
/* line 156, ../../../app/stylesheets/partials/rolls.scss */
.share-comment textarea {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  padding: 5px;
  resize: none;
  width: 100%;
}
/* line 164, ../../../app/stylesheets/partials/rolls.scss */
.share-comment .video-shared {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  padding-top: 15px;
}

/* line 176, ../../../app/stylesheets/partials/rolls.scss */
.share-networks-list {
  float: left;
  margin: 0;
  padding: 0;
}
/* line 181, ../../../app/stylesheets/partials/rolls.scss */
.share-networks-list li {
  display: inline-block;
  list-style-type: none;
  margin: 0 10px 10px 0;
}

/* line 332, ../../../app/stylesheets/_base.scss */
.networks-twitter button,
.networks-facebook button {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  background-color: #474747;
  border: 1px solid #3a3a3a;
  display: block;
  height: 34px;
  width: 34px;
}

/* line 195, ../../../app/stylesheets/partials/rolls.scss */
.networks-twitter button {
  background: url("../images/assets/rolls_share_twitter_off.svg") no-repeat 1px 5px, -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #7a7a7a), color-stop(100%, #474747));
  background: url("../images/assets/rolls_share_twitter_off.svg") no-repeat 1px 5px, -webkit-linear-gradient(top, #7a7a7a, #474747);
  background: url("../images/assets/rolls_share_twitter_off.svg") no-repeat 1px 5px, -moz-linear-gradient(top, #7a7a7a, #474747);
  background: url("../images/assets/rolls_share_twitter_off.svg") no-repeat 1px 5px, -o-linear-gradient(top, #7a7a7a, #474747);
  background: url("../images/assets/rolls_share_twitter_off.svg") no-repeat 1px 5px, -ms-linear-gradient(top, #7a7a7a, #474747);
  background: url("../images/assets/rolls_share_twitter_off.svg") no-repeat 1px 5px, linear-gradient(top, #7a7a7a, #474747);
}
/* line 203, ../../../app/stylesheets/partials/rolls.scss */
.networks-twitter.active button {
  background-color: #00a2d1;
  background: url("../images/assets/rolls_share_twitter_on.svg") no-repeat 1px 5px, -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #38d2ff), color-stop(100%, #00a2d1));
  background: url("../images/assets/rolls_share_twitter_on.svg") no-repeat 1px 5px, -webkit-linear-gradient(top, #38d2ff, #00a2d1);
  background: url("../images/assets/rolls_share_twitter_on.svg") no-repeat 1px 5px, -moz-linear-gradient(top, #38d2ff, #00a2d1);
  background: url("../images/assets/rolls_share_twitter_on.svg") no-repeat 1px 5px, -o-linear-gradient(top, #38d2ff, #00a2d1);
  background: url("../images/assets/rolls_share_twitter_on.svg") no-repeat 1px 5px, -ms-linear-gradient(top, #38d2ff, #00a2d1);
  background: url("../images/assets/rolls_share_twitter_on.svg") no-repeat 1px 5px, linear-gradient(top, #38d2ff, #00a2d1);
}

/* line 214, ../../../app/stylesheets/partials/rolls.scss */
.networks-facebook button {
  background: url("../images/assets/rolls_share_facebook_off.svg") no-repeat center center, -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #7a7a7a), color-stop(100%, #474747));
  background: url("../images/assets/rolls_share_facebook_off.svg") no-repeat center center, -webkit-linear-gradient(top, #7a7a7a, #474747);
  background: url("../images/assets/rolls_share_facebook_off.svg") no-repeat center center, -moz-linear-gradient(top, #7a7a7a, #474747);
  background: url("../images/assets/rolls_share_facebook_off.svg") no-repeat center center, -o-linear-gradient(top, #7a7a7a, #474747);
  background: url("../images/assets/rolls_share_facebook_off.svg") no-repeat center center, -ms-linear-gradient(top, #7a7a7a, #474747);
  background: url("../images/assets/rolls_share_facebook_off.svg") no-repeat center center, linear-gradient(top, #7a7a7a, #474747);
}
/* line 222, ../../../app/stylesheets/partials/rolls.scss */
.networks-facebook.active button {
  background-color: #013e80;
  background: url("../images/assets/rolls_share_facebook_on.svg") no-repeat center center, -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #026fe5), color-stop(100%, #013e80));
  background: url("../images/assets/rolls_share_facebook_on.svg") no-repeat center center, -webkit-linear-gradient(top, #026fe5, #013e80);
  background: url("../images/assets/rolls_share_facebook_on.svg") no-repeat center center, -moz-linear-gradient(top, #026fe5, #013e80);
  background: url("../images/assets/rolls_share_facebook_on.svg") no-repeat center center, -o-linear-gradient(top, #026fe5, #013e80);
  background: url("../images/assets/rolls_share_facebook_on.svg") no-repeat center center, -ms-linear-gradient(top, #026fe5, #013e80);
  background: url("../images/assets/rolls_share_facebook_on.svg") no-repeat center center, linear-gradient(top, #026fe5, #013e80);
}

/* line 235, ../../../app/stylesheets/partials/rolls.scss */
.share-submit-button {
  background-color: #0071a3;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #0094d6), color-stop(100%, #0071a3));
  background: -webkit-linear-gradient(top, #0094d6, #0071a3);
  background: -moz-linear-gradient(top, #0094d6, #0071a3);
  background: -o-linear-gradient(top, #0094d6, #0071a3);
  background: -ms-linear-gradient(top, #0094d6, #0071a3);
  background: linear-gradient(top, #0094d6, #0071a3);
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: inset 0px 1px 0px 0px #23bcff;
  -webkit-box-shadow: inset 0px 1px 0px 0px #23bcff;
  -o-box-shadow: inset 0px 1px 0px 0px #23bcff;
  box-shadow: inset 0px 1px 0px 0px #23bcff;
  font: 700 normal 100%/1.231 "Ubuntu", Trebuchet MS, sans-serif;
  text-shadow: 0px -1px 0px #333333;
  border: 1px solid #002a3d;
  color: #efefef;
  padding: 6px 13px;
  margin-top: 10px;
  width: 100%;
}
/* line 241, ../../../app/stylesheets/partials/rolls.scss */
.share-submit-button .spinner {
  left: auto;
  margin-left: auto;
  margin-top: auto;
  position: static;
}
