/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* Commenting out the Reset style sheet in favor of the normalize style sheet that comes with h5bp.
 * Need to integrate the h5bp normalizer into this compass fanciness.
 * @import "compass/reset";
 */
/* line 7, ../../../app/stylesheets/partials/saved-indicator.scss */
.video-saved {
  -moz-transition-property: all;
  -webkit-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 1s;
  -webkit-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
  -moz-transition-timing-function: ease-in;
  -webkit-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
  -moz-transition-delay: 2s;
  -webkit-transition-delay: 2s;
  -o-transition-delay: 2s;
  transition-delay: 2s;
  background: rgba(0, 0, 0, 0.8);
  height: 100%;
  left: 0;
  padding-top: 10px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 100%;
}
/* line 22, ../../../app/stylesheets/partials/saved-indicator.scss */
.video-saved img {
  width: 30px;
}
/* line 26, ../../../app/stylesheets/partials/saved-indicator.scss */
.video-saved p {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.231;
  margin: 0;
}

/* line 34, ../../../app/stylesheets/partials/saved-indicator.scss */
.video-saved-trans {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}
