/* line 4, ../../../app/stylesheets/partials/seovideo.scss */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

/* line 11, ../../../app/stylesheets/partials/seovideo.scss */
body {
  font: 100 normal 62.5%/1.231 "Ubuntu", Trebuchet MS, sans-serif;
  background-color: #101010;
  bottom: 0;
  color: #a4a4a4;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

/* line 23, ../../../app/stylesheets/partials/seovideo.scss */
a {
  color: inherit;
  text-decoration: inherit;
  cursor: inherit;
}
/* line 6, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/typography/links/_unstyled-link.scss */
a:active, a:focus {
  outline: none;
}
/* line 28, ../../../app/stylesheets/partials/seovideo.scss */
a:hover, a:visited, a:active {
  color: inherit;
}

/* line 33, ../../../app/stylesheets/partials/seovideo.scss */
p {
  margin: 1px;
}

/* line 37, ../../../app/stylesheets/partials/seovideo.scss */
.seovideo {
  background: url("../images/seovideo/bg.png") 0 0 repeat #101010;
}

/* line 43, ../../../app/stylesheets/partials/seovideo.scss */
.seovideo-wrapper {
  margin: 0 auto;
  width: 874px;
}

/* line 48, ../../../app/stylesheets/partials/seovideo.scss */
.seovideo-wrapper-mobile {
  margin: 0 auto;
  width: 320px;
}

/* line 53, ../../../app/stylesheets/partials/seovideo.scss */
.content-wrapper {
  width: 100%;
  margin: 0px;
}

/* line 58, ../../../app/stylesheets/partials/seovideo.scss */
.seovideo-header {
  margin: 0px;
  height: 47px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #2e3132), color-stop(100%, #171819));
  background-image: -webkit-linear-gradient(#2e3132, #171819);
  background-image: -moz-linear-gradient(#2e3132, #171819);
  background-image: -o-linear-gradient(#2e3132, #171819);
  background-image: -ms-linear-gradient(#2e3132, #171819);
  background-image: linear-gradient(#2e3132, #171819);
}

/* line 64, ../../../app/stylesheets/partials/seovideo.scss */
.seovideo-header-mobile {
  margin: 0px;
  height: 47px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #2e3132), color-stop(100%, #171819));
  background-image: -webkit-linear-gradient(#2e3132, #171819);
  background-image: -moz-linear-gradient(#2e3132, #171819);
  background-image: -o-linear-gradient(#2e3132, #171819);
  background-image: -ms-linear-gradient(#2e3132, #171819);
  background-image: linear-gradient(#2e3132, #171819);
}

/* line 70, ../../../app/stylesheets/partials/seovideo.scss */
.seovideo-header-contents {
  margin: 0 auto;
  height: 47px;
  width: 874px;
}

/* line 76, ../../../app/stylesheets/partials/seovideo.scss */
.seovideo-header-contents-mobile {
  margin: 0 auto;
  height: 47px;
  width: 320px;
}

/* line 82, ../../../app/stylesheets/partials/seovideo.scss */
.seovideo-headerrule {
  height: 2px;
  width: 100%;
  color: #303234;
  background-color: #303234;
  margin: 0px 0px 0px 0px;
  border-top-color: black;
}

/* line 91, ../../../app/stylesheets/partials/seovideo.scss */
.seovideo-logo {
  float: left;
  width: 100px;
  padding-top: 13px;
}

/* line 97, ../../../app/stylesheets/partials/seovideo.scss */
.seovideo-logo-mobile {
  float: left;
  margin-left: 6px;
  width: 34px;
  padding-top: 15px;
  overflow: hidden;
}

/* line 105, ../../../app/stylesheets/partials/seovideo.scss */
.seovideo-slogan {
  font-size: 12px;
  font-weight: 400;
  padding-top: 20px;
  margin: 0 auto;
  width: 500px;
  text-align: center;
}

/* line 114, ../../../app/stylesheets/partials/seovideo.scss */
.seovideo-slogan-mobile {
  font-size: 11px;
  font-weight: 400;
  padding-top: 20px;
  margin: 0 auto;
  width: 310px;
  text-align: center;
}

/* line 123, ../../../app/stylesheets/partials/seovideo.scss */
.seovideo-pitch {
  height: 38px;
  font-size: 12px;
  font-weight: 400;
  margin-top: 25px;
}

/* line 130, ../../../app/stylesheets/partials/seovideo.scss */
.seovideo-pitch-mobile {
  height: 44px;
  font-size: 11px;
  font-weight: 300;
  margin-top: 12px;
  text-align: center;
}

/* line 138, ../../../app/stylesheets/partials/seovideo.scss */
.seovideo-embed {
  float: left;
  width: 640px;
  padding: 0px;
  margin-top: 9px;
}

/* line 145, ../../../app/stylesheets/partials/seovideo.scss */
.seovideo-embed-mobile {
  width: 310px;
  padding: 0px;
  margin-top: 9px;
  margin-left: auto;
  margin-right: auto;
}

/* line 153, ../../../app/stylesheets/partials/seovideo.scss */
.seovideo-details {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.4;
  float: left;
  width: 640px;
  padding: 0px;
  margin-top: 5px;
  margin-bottom: 28px;
}

/* line 164, ../../../app/stylesheets/partials/seovideo.scss */
.seovideo-details-mobile {
  font-size: 10px;
  font-weight: 300;
  line-height: 1.2;
  width: 310px;
  padding: 0px;
  margin-top: 5px;
  margin-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* line 176, ../../../app/stylesheets/partials/seovideo.scss */
.seovideo-messages {
  float: left;
}

/* line 180, ../../../app/stylesheets/partials/seovideo.scss */
.seovideo-relatedvideo-header {
  height: 33px;
}

/* line 184, ../../../app/stylesheets/partials/seovideo.scss */
.seovideo-relatedvideo-header-mobile {
  height: 20px;
  width: 310px;
  font-size: 10px;
  font-weight: 400;
}

/* line 191, ../../../app/stylesheets/partials/seovideo.scss */
.seovideo-relatedvideos {
  width: 194px;
  margin-top: 39px;
  padding: 0px;
}

/* line 197, ../../../app/stylesheets/partials/seovideo.scss */
.seovideo-relatedvideos-mobile {
  width: 310px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 0px;
  text-align: justify;
  -ms-text-justify: distribute-all-lines;
  text-justify: distribute-all-lines;
}

/* line 210, ../../../app/stylesheets/partials/seovideo.scss */
.seovideo-leftcol {
  float: left;
  width: 640px;
  padding: 0px;
}

/* line 216, ../../../app/stylesheets/partials/seovideo.scss */
.seovideo-rightcol {
  font-size: 12px;
  font-weight: 400;
  float: right;
  width: 194px;
  padding: 0px;
  margin-left: 40px;
}

/* line 225, ../../../app/stylesheets/partials/seovideo.scss */
.seovideo-relatedvideo {
  width: 194px;
  margin: 0px 0px 10px 0px;
}

/* line 230, ../../../app/stylesheets/partials/seovideo.scss */
.seovideo-relatedvideo-mobile {
  width: 94px;
  vertical-align: top;
  display: inline-block;
  *display: inline;
  zoom: 1;
}

/* line 238, ../../../app/stylesheets/partials/seovideo.scss */
.seovideo-relatedvideo-title {
  font-size: 10px;
  font-weight: 100;
  margin: 4px 0px 0px 0px;
  max-height: 20px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

/* line 248, ../../../app/stylesheets/partials/seovideo.scss */
.seovideo-message {
  margin: 10px 10px 10px 10px;
}

/* line 252, ../../../app/stylesheets/partials/seovideo.scss */
.seovideo-message-mobile {
  margin: 5px 5px 5px 5px;
}

/* line 256, ../../../app/stylesheets/partials/seovideo.scss */
.seovideo-message-image {
  float: left;
  width: 50px;
  padding: 0px;
  margin: 0px;
}

/* line 263, ../../../app/stylesheets/partials/seovideo.scss */
.seovideo-messagenickname {
  font-size: 12px;
  font-weight: 600;
  margin-left: 60px;
  padding-top: 2px;
}

/* line 270, ../../../app/stylesheets/partials/seovideo.scss */
.seovideo-messagedate {
  color: white;
  font-size: 10px;
  margin-top: 10px;
  margin-left: 60px;
}

/* line 277, ../../../app/stylesheets/partials/seovideo.scss */
.seovideo-messagetext {
  color: white;
  font-size: 12px;
  margin-left: 60px;
  margin-top: 5px;
  line-height: 1.4;
}

/* line 285, ../../../app/stylesheets/partials/seovideo.scss */
.seovideo-message-image-mobile {
  float: left;
  width: 36px;
  padding: 0px;
  margin: 0px;
}

/* line 292, ../../../app/stylesheets/partials/seovideo.scss */
.seovideo-messagenickname-mobile {
  font-size: 11px;
  font-weight: 400;
  margin-left: 46px;
}

/* line 298, ../../../app/stylesheets/partials/seovideo.scss */
.seovideo-messagedate-mobile {
  color: white;
  font-size: 8px;
  margin-top: 8px;
  margin-left: 46px;
}

/* line 305, ../../../app/stylesheets/partials/seovideo.scss */
.seovideo-messagetext-mobile {
  color: white;
  font-size: 10px;
  margin-left: 46px;
  margin-top: 4px;
  line-height: 1.2;
}
