/* line 4, ../../../app/stylesheets/partials/seovideo.scss */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

/* line 11, ../../../app/stylesheets/partials/seovideo.scss */
body {
  font: 100 normal 62.5%/1.231 "Ubuntu", Trebuchet MS, sans-serif;
  background-color: #101010;
  bottom: 0;
  color: #a4a4a4;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

/* line 23, ../../../app/stylesheets/partials/seovideo.scss */
a {
  color: inherit;
  text-decoration: inherit;
  cursor: inherit;
}
/* line 6, ../../../../../home/vagrant/.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/typography/links/_unstyled-link.scss */
a:active, a:focus {
  outline: none;
}
/* line 28, ../../../app/stylesheets/partials/seovideo.scss */
a:hover, a:visited, a:active {
  color: inherit;
}

/* line 33, ../../../app/stylesheets/partials/seovideo.scss */
p {
  margin: 1px;
}

/* line 37, ../../../app/stylesheets/partials/seovideo.scss */
.seovideo {
  background: url("../images/seovideo/bg.png") 0 0 repeat #101010;
}

/* line 43, ../../../app/stylesheets/partials/seovideo.scss */
.seovideo-wrapper {
  margin: 0 auto;
  width: 874px;
}

/* line 48, ../../../app/stylesheets/partials/seovideo.scss */
.content-wrapper {
  width: 100%;
  margin: 0px;
}

/* line 53, ../../../app/stylesheets/partials/seovideo.scss */
.seovideo-header {
  margin: 0px;
  height: 47px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #2e3132), color-stop(100%, #171819));
  background-image: -webkit-linear-gradient(#2e3132, #171819);
  background-image: -moz-linear-gradient(#2e3132, #171819);
  background-image: -o-linear-gradient(#2e3132, #171819);
  background-image: -ms-linear-gradient(#2e3132, #171819);
  background-image: linear-gradient(#2e3132, #171819);
}

/* line 59, ../../../app/stylesheets/partials/seovideo.scss */
.seovideo-header-contents {
  margin: 0 auto;
  height: 47px;
  width: 874px;
}

/* line 65, ../../../app/stylesheets/partials/seovideo.scss */
.seovideo-headerrule {
  height: 2px;
  width: 100%;
  color: #303234;
  background-color: #303234;
  margin: 0px 0px 0px 0px;
  border-top-color: black;
}

/* line 74, ../../../app/stylesheets/partials/seovideo.scss */
.seovideo-logo {
  float: left;
  width: 100px;
  padding-top: 13px;
}

/* line 80, ../../../app/stylesheets/partials/seovideo.scss */
.seovideo-slogan {
  font-size: 12px;
  font-weight: 400;
  padding-top: 20px;
  margin: 0 auto;
  width: 500px;
  text-align: center;
}

/* line 89, ../../../app/stylesheets/partials/seovideo.scss */
.seovideo-pitch {
  height: 38px;
  font-size: 12px;
  font-weight: 400;
  margin-top: 25px;
}

/* line 96, ../../../app/stylesheets/partials/seovideo.scss */
.seovideo-embed {
  float: left;
  width: 640px;
  padding: 0px;
  margin-top: 9px;
}

/* line 103, ../../../app/stylesheets/partials/seovideo.scss */
.seovideo-details {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.4;
  float: left;
  width: 640px;
  padding: 0px;
  margin-top: 5px;
  margin-bottom: 28px;
}

/* line 114, ../../../app/stylesheets/partials/seovideo.scss */
.seovideo-messages {
  float: left;
  width: 640px;
}

/* line 119, ../../../app/stylesheets/partials/seovideo.scss */
.seovideo-relatedvideo-header {
  height: 28px;
}

/* line 123, ../../../app/stylesheets/partials/seovideo.scss */
.seovideo-relatedvideos {
  width: 194px;
  margin-top: 44px;
  padding: 0px;
}

/* line 129, ../../../app/stylesheets/partials/seovideo.scss */
.seovideo-leftcol {
  float: left;
  width: 640px;
  padding: 0px;
}

/* line 135, ../../../app/stylesheets/partials/seovideo.scss */
.seovideo-rightcol {
  font-size: 12px;
  font-weight: 400;
  float: right;
  width: 194px;
  padding: 0px;
  margin-left: 40px;
}

/* line 144, ../../../app/stylesheets/partials/seovideo.scss */
.seovideo-relatedvideo {
  width: 194px;
  margin: 0px 0px 10px 0px;
}

/* line 149, ../../../app/stylesheets/partials/seovideo.scss */
.seovideo-relatedvideo-title {
  font-size: 10px;
  font-weight: 100;
  margin: 4px 0px 0px 0px;
  max-height: 20px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

/* line 159, ../../../app/stylesheets/partials/seovideo.scss */
.seovideo-message {
  margin: 10px 10px 10px 10px;
}

/* line 163, ../../../app/stylesheets/partials/seovideo.scss */
.seovideo-message-image {
  float: left;
  width: 50px;
  padding: 0px;
  margin: 0px;
}

/* line 170, ../../../app/stylesheets/partials/seovideo.scss */
.seovideo-messagenickname {
  font-size: 12px;
  font-weight: 600;
  margin-left: 60px;
  padding-top: 2px;
}

/* line 177, ../../../app/stylesheets/partials/seovideo.scss */
.seovideo-messagedate {
  color: white;
  font-size: 10px;
  margin-top: 10px;
  margin-left: 60px;
}

/* line 184, ../../../app/stylesheets/partials/seovideo.scss */
.seovideo-messagetext {
  color: white;
  font-size: 12px;
  margin-left: 60px;
  margin-top: 5px;
  line-height: 1.4;
}
