/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* Commenting out the Reset style sheet in favor of the normalize style sheet that comes with h5bp.
 * Need to integrate the h5bp normalizer into this compass fanciness.
 * @import "compass/reset";
 */
/* line 5, ../../../app/stylesheets/partials/team.scss */
.about-team dt:before {
  border: 1px solid black;
  content: "\0020";
  display: block;
  height: 172px;
  margin-bottom: 10px;
  width: 100%;
}
/* line 14, ../../../app/stylesheets/partials/team.scss */
.about-team a {
  color: #efefef;
}

/* line 20, ../../../app/stylesheets/partials/team.scss */
.about-team-nav li {
  float: left;
  list-style-type: none;
  width: 50%;
}

/* line 28, ../../../app/stylesheets/partials/team.scss */
.about-header h1 {
  border-bottom: 1px solid #222;
  font-size: 16px;
  font-weight: 500;
  line-height: 2.75;
  margin: 0 10px 10px;
}

/* line 37, ../../../app/stylesheets/partials/team.scss */
.about-nav, .about-definition-peripherals {
  margin: 10px;
  padding: 0;
}
/* line 41, ../../../app/stylesheets/partials/team.scss */
.about-nav a, .about-definition-peripherals a {
  text-decoration: none;
}
/* line 45, ../../../app/stylesheets/partials/team.scss */
.about-nav a:hover, .about-definition-peripherals a:hover, .about-nav a:active, .about-definition-peripherals a:active {
  text-decoration: underline;
}
/* line 48, ../../../app/stylesheets/partials/team.scss */
.about-nav a:visited, .about-definition-peripherals a:visited {
  text-decoration: none;
}
/* line 54, ../../../app/stylesheets/partials/team.scss */
.about-nav h2, .about-definition-peripherals h2,
.about-nav h3,
.about-definition-peripherals h3 {
  font-size: 12px;
  line-height: 1.4;
}
/* line 58, ../../../app/stylesheets/partials/team.scss */
.about-nav h2, .about-definition-peripherals h2 {
  font-weight: 300;
}
/* line 62, ../../../app/stylesheets/partials/team.scss */
.about-nav h3, .about-definition-peripherals h3 {
  font-weight: 100;
}
/* line 65, ../../../app/stylesheets/partials/team.scss */
.about-nav li, .about-definition-peripherals li {
  list-style-type: none;
  margin-bottom: .5em;
}

/* line 72, ../../../app/stylesheets/partials/team.scss */
.about-term-list dt {
  font-weight: 500;
  margin: 10px 10px 0;
}
/* line 76, ../../../app/stylesheets/partials/team.scss */
.about-term-list dd {
  margin: 0 10px;
  padding: 0;
}
/* line 79, ../../../app/stylesheets/partials/team.scss */
.about-term-list dd.about-definition {
  margin-top: 10px;
}

/* line 85, ../../../app/stylesheets/partials/team.scss */
.about-definition-peripherals {
  line-height: 1.5;
  list-style-type: none;
  margin: 10px 0 20px 0;
}
/* line 91, ../../../app/stylesheets/partials/team.scss */
.about-definition-peripherals li {
  float: none;
  margin-bottom: 0;
  width: auto;
}

/* line 99, ../../../app/stylesheets/partials/team.scss */
.about-external-twitter a {
  background: url("../images/assets/team_twitter.svg") no-repeat center left transparent;
  padding-left: 22px;
}

/* line 108, ../../../app/stylesheets/partials/team.scss */
.about-external-link a {
  background: url("../images/assets/team_web.svg") no-repeat center left transparent;
  padding-left: 22px;
}

/* line 116, ../../../app/stylesheets/partials/team.scss */
.pacheco:before {
  background: url("../images/team/1_reece.gif") no-repeat center center transparent;
}

/* line 119, ../../../app/stylesheets/partials/team.scss */
.spinosa:before {
  background: url("../images/team/2_dan.gif") no-repeat center center transparent;
}

/* line 122, ../../../app/stylesheets/partials/team.scss */
.sztul:before {
  background: url("../images/team/3_henry.gif") no-repeat center center transparent;
}

/* line 125, ../../../app/stylesheets/partials/team.scss */
.recny:before {
  background: url("../images/team/4_myles.gif") no-repeat center center transparent;
}

/* line 128, ../../../app/stylesheets/partials/team.scss */
.kurdziel:before {
  background: url("../images/team/5_chris.gif") no-repeat center center transparent;
}

/* line 131, ../../../app/stylesheets/partials/team.scss */
.johnson:before {
  background: url("../images/team/6_mark.gif") no-repeat center center transparent;
}

/* line 134, ../../../app/stylesheets/partials/team.scss */
.appelwick:before {
  background: url("../images/team/7_lauren.gif") no-repeat center center transparent;
}

/* line 137, ../../../app/stylesheets/partials/team.scss */
.samberg:before {
  background: url("../images/team/8_josh.gif") no-repeat center center transparent;
}

/* line 140, ../../../app/stylesheets/partials/team.scss */
.iadevaia:before {
  background: url("../images/team/9_vincent.gif") no-repeat center center transparent;
}

/* line 143, ../../../app/stylesheets/partials/team.scss */
.matyus:before {
  background: url("../images/team/10_mike.gif") no-repeat center center transparent;
}

/* line 146, ../../../app/stylesheets/partials/team.scss */
.sabintsev:before {
  background: url("../images/team/11_arthur.gif") no-repeat center center transparent;
}
