/* line 6, ../../../app/stylesheets/partials/ui-test.scss */
.ui-test .video-saves {
  background: url("../images/assets/saved_big.svg") no-repeat center center transparent;
  background-size: 100%;
  display: block;
  float: right;
  height: 14px;
  margin: 0;
  padding: 0;
  width: 10px;
}
/* line 16, ../../../app/stylesheets/partials/ui-test.scss */
.ui-test .video-saves:before {
  content: "";
}
/* line 23, ../../../app/stylesheets/partials/ui-test.scss */
.ui-test .upvote-frame .video-controls-button {
  font: 700 normal 100%/1.231 "Ubuntu", Trebuchet MS, sans-serif;
  background: url("../images/assets/upvote_large.svg") no-repeat center 5px;
  background-size: 35%;
  border: none;
  color: #cfcfcf;
  padding-top: 27px;
  text-decoration: none;
}
/* line 34, ../../../app/stylesheets/partials/ui-test.scss */
.ui-test .upvote-frame .video-score-upvoted {
  color: #333;
}
/* line 40, ../../../app/stylesheets/partials/ui-test.scss */
.ui-test .video-controls .save-frame {
  display: none;
}
/* line 43, ../../../app/stylesheets/partials/ui-test.scss */
.ui-test .video-controls .upvote-frame {
  display: block;
}
/* line 48, ../../../app/stylesheets/partials/ui-test.scss */
.ui-test .video-activity-comment {
  padding: 2px 0 0;
}
