/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* Commenting out the Reset style sheet in favor of the normalize style sheet that comes with h5bp.
 * Need to integrate the h5bp normalizer into this compass fanciness.
 * @import "compass/reset";
 */
/* line 12, ../../../app/stylesheets/partials/user-preferences.scss */
.you-preferences-form {
  margin: 0 10px;
}
/* line 15, ../../../app/stylesheets/partials/user-preferences.scss */
.you-preferences-form fieldset {
  margin-bottom: 1em;
}
/* line 18, ../../../app/stylesheets/partials/user-preferences.scss */
.you-preferences-form fieldset:first-child, .you-preferences-form fieldset.you-profile-actions {
  margin-bottom: 0;
}
/* line 24, ../../../app/stylesheets/partials/user-preferences.scss */
.you-preferences-form input {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  font: 300 normal 100%/1.231 "Ubuntu", Trebuchet MS, "Times New Roman", sans-serif;
  border: 1px solid #222;
}
/* line 30, ../../../app/stylesheets/partials/user-preferences.scss */
.you-preferences-form legend {
  font-size: 16px;
  font-weight: 500;
  line-height: 2.75;
}

/* line 39, ../../../app/stylesheets/partials/user-preferences.scss */
.you-preferences-list, .you-preferences-networks, .you-preferences-notifications {
  margin: 0;
  padding: 0;
}
/* line 43, ../../../app/stylesheets/partials/user-preferences.scss */
.you-preferences-list li, .you-preferences-networks li, .you-preferences-notifications li {
  border-bottom: 1px solid #222;
  list-style-type: none;
  padding: 10px 5px 10px 10px;
}
/* line 48, ../../../app/stylesheets/partials/user-preferences.scss */
.you-preferences-list li:first-child, .you-preferences-networks li:first-child, .you-preferences-notifications li:first-child {
  border-top: 1px solid #222;
}
/* line 52, ../../../app/stylesheets/partials/user-preferences.scss */
.you-preferences-list label, .you-preferences-networks label, .you-preferences-notifications label {
  margin-top: 1px;
}

/* line 59, ../../../app/stylesheets/partials/user-preferences.scss */
.you-profile input,
.you-notifications input {
  float: left;
  line-height: 1.4;
}
/* line 64, ../../../app/stylesheets/partials/user-preferences.scss */
.you-profile label,
.you-notifications label {
  float: left;
  font-weight: 500;
  font-size: 14px;
  line-height: 2;
  width: 25%;
}
/* line 72, ../../../app/stylesheets/partials/user-preferences.scss */
.you-profile input,
.you-notifications input {
  padding: 5px;
  width: 75%;
}

/* line 78, ../../../app/stylesheets/partials/user-preferences.scss */
.you-profile-actions {
  float: right;
  margin-top: 5px;
}
/* line 82, ../../../app/stylesheets/partials/user-preferences.scss */
.you-profile-actions button {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  font: 500 normal 100%/1.231 "Ubuntu", Trebuchet MS, "Times New Roman", sans-serif;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #4a4a4a), color-stop(100%, #343434));
  background: -webkit-linear-gradient(top, #4a4a4a, #343434);
  background: -moz-linear-gradient(top, #4a4a4a, #343434);
  background: -o-linear-gradient(top, #4a4a4a, #343434);
  background: -ms-linear-gradient(top, #4a4a4a, #343434);
  background: linear-gradient(top, #4a4a4a, #343434);
  -moz-box-shadow: inset -1px 0px 1px 0px #444444;
  -webkit-box-shadow: inset -1px 0px 1px 0px #444444;
  -o-box-shadow: inset -1px 0px 1px 0px #444444;
  box-shadow: inset -1px 0px 1px 0px #444444;
  border: 1px solid #222;
  color: #efefef;
  display: block;
  float: left;
  font-size: 13px;
  height: 23px;
  line-height: 1.5;
  margin: 3px;
  padding: 0 5px;
  text-shadow: 0px 1px 2px #222;
  width: auto;
}
/* line 86, ../../../app/stylesheets/partials/user-preferences.scss */
.you-profile-actions .you-profile-cancel {
  width: auto;
  padding: 0 5px;
}
/* line 91, ../../../app/stylesheets/partials/user-preferences.scss */
.you-profile-actions #response-message {
  float: left;
  margin: 6px;
}

/* line 101, ../../../app/stylesheets/partials/user-preferences.scss */
.you-preferences-networks button {
  font: 500 normal 100%/1.231 "Ubuntu", Trebuchet MS, "Times New Roman", sans-serif;
  background: transparent;
  border: none;
  color: #efefef;
  float: right;
  font-size: 11px;
  font-weight: 300;
  text-decoration: underline;
}
/* line 112, ../../../app/stylesheets/partials/user-preferences.scss */
.you-preferences-networks button.connected-network {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  font: 500 normal 100%/1.231 "Ubuntu", Trebuchet MS, "Times New Roman", sans-serif;
  background: #007fb6;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #00a5cc), color-stop(100%, #007fb6));
  background: -webkit-linear-gradient(top, #00a5cc, #007fb6);
  background: -moz-linear-gradient(top, #00a5cc, #007fb6);
  background: -o-linear-gradient(top, #00a5cc, #007fb6);
  background: -ms-linear-gradient(top, #00a5cc, #007fb6);
  background: linear-gradient(top, #00a5cc, #007fb6);
  -moz-box-shadow: inset -1px 0px 1px 0px #79cae7;
  -webkit-box-shadow: inset -1px 0px 1px 0px #79cae7;
  -o-box-shadow: inset -1px 0px 1px 0px #79cae7;
  box-shadow: inset -1px 0px 1px 0px #79cae7;
  border: 1px solid #222;
  color: #efefef;
  display: block;
  height: 34px;
  float: inherit;
  line-height: 2.5;
  margin: 10px 0;
  padding: 0 10%;
  text-shadow: 0px 1px 2px #222;
  width: 81px;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #549738), color-stop(100%, #3f722a));
  background: -webkit-linear-gradient(top, #549738, #3f722a);
  background: -moz-linear-gradient(top, #549738, #3f722a);
  background: -o-linear-gradient(top, #549738, #3f722a);
  background: -ms-linear-gradient(top, #549738, #3f722a);
  background: linear-gradient(top, #549738, #3f722a);
  -moz-box-shadow: inset -1px 0px 1px 0px #85cc66;
  -webkit-box-shadow: inset -1px 0px 1px 0px #85cc66;
  -o-box-shadow: inset -1px 0px 1px 0px #85cc66;
  box-shadow: inset -1px 0px 1px 0px #85cc66;
  float: right;
  height: 26px;
  line-height: 1;
  margin: 0;
  padding: 0;
  text-decoration: none;
}
/* line 128, ../../../app/stylesheets/partials/user-preferences.scss */
.you-preferences-networks h2 {
  float: left;
  font-size: 14px;
  line-height: 2;
  width: 40%;
}
/* line 135, ../../../app/stylesheets/partials/user-preferences.scss */
.you-preferences-networks h3 {
  float: left;
  font-size: 12px;
  line-height: 2.5;
  width: 40%;
}
/* line 142, ../../../app/stylesheets/partials/user-preferences.scss */
.you-preferences-networks li {
  padding-left: 0;
}

/* line 149, ../../../app/stylesheets/partials/user-preferences.scss */
.you-preferences-networks-twitter:before, .you-preferences-networks-facebook:before, .you-preferences-networks-tumblr:before {
  background: url("../images/assets/rolls_twitter.svg") no-repeat center center #00a2d1;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: -1px 0px 5px -1px #222222;
  -webkit-box-shadow: -1px 0px 5px -1px #222222;
  -o-box-shadow: -1px 0px 5px -1px #222222;
  box-shadow: -1px 0px 5px -1px #222222;
  background-size: 76%;
  border: 1px solid #222;
  content: "\0020";
  float: left;
  height: 24px;
  left: 0;
  margin: 1px 5px 0 0;
  top: 0;
  width: 24px;
}

/* line 170, ../../../app/stylesheets/partials/user-preferences.scss */
.you-preferences-networks-facebook:before {
  background: url("../images/assets/rolls_facebook.svg") no-repeat center center #013e80;
  background-size: 28%;
  content: "\0020";
}

/* line 182, ../../../app/stylesheets/partials/user-preferences.scss */
.you-preferences-networks-tumblr:before {
  background: url("../images/assets/rolls_tumblr.svg") no-repeat center center, #2f445b;
  background-size: 36%;
  content: "\0020";
}

/* line 196, ../../../app/stylesheets/partials/user-preferences.scss */
.you-preferences-notifications label {
  font-size: 14px;
  font-weight: 500;
  position: relative;
  width: 100%;
  z-index: 1;
}
/* line 203, ../../../app/stylesheets/partials/user-preferences.scss */
.you-preferences-notifications input[type="checkbox"] {
  margin-top: 10px;
  position: absolute;
  height: 0;
  left: 50%;
  width: 50%;
}
/* line 212, ../../../app/stylesheets/partials/user-preferences.scss */
.you-preferences-notifications input[type="checkbox"]:after {
  color: #efefef;
  content: "off";
  position: absolute;
  right: 20px;
  top: -7px;
}
/* line 220, ../../../app/stylesheets/partials/user-preferences.scss */
.you-preferences-notifications input[type="checkbox"]:checked:after {
  content: "on";
}
/* line 224, ../../../app/stylesheets/partials/user-preferences.scss */
.you-preferences-notifications input + span {
  -moz-transition-property: all;
  -webkit-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 1s;
  -webkit-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
  -moz-transition-timing-function: ease-in;
  -webkit-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ba2046), color-stop(100%, #9e1632));
  background: -webkit-linear-gradient(top, #ba2046, #9e1632);
  background: -moz-linear-gradient(top, #ba2046, #9e1632);
  background: -o-linear-gradient(top, #ba2046, #9e1632);
  background: -ms-linear-gradient(top, #ba2046, #9e1632);
  background: linear-gradient(top, #ba2046, #9e1632);
  border: 1px solid #222;
  display: block;
  height: 20px;
  margin: 5px 0 0 49%;
  position: relative;
  width: 60px;
}
/* line 237, ../../../app/stylesheets/partials/user-preferences.scss */
.you-preferences-notifications input + span:after {
  background: #fefefe;
  background: url("../images/assets/switch.svg") no-repeat center center, -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #d7d7d7), color-stop(100%, #fefefe));
  background: url("../images/assets/switch.svg") no-repeat center center, -webkit-linear-gradient(top, #d7d7d7, #fefefe);
  background: url("../images/assets/switch.svg") no-repeat center center, -moz-linear-gradient(top, #d7d7d7, #fefefe);
  background: url("../images/assets/switch.svg") no-repeat center center, -o-linear-gradient(top, #d7d7d7, #fefefe);
  background: url("../images/assets/switch.svg") no-repeat center center, -ms-linear-gradient(top, #d7d7d7, #fefefe);
  background: url("../images/assets/switch.svg") no-repeat center center, linear-gradient(top, #d7d7d7, #fefefe);
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -o-border-radius: 2px;
  -ms-border-radius: 2px;
  -khtml-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0px 0px 2px 1px #111111;
  -webkit-box-shadow: 0px 0px 2px 1px #111111;
  -o-box-shadow: 0px 0px 2px 1px #111111;
  box-shadow: 0px 0px 2px 1px #111111;
  content: "\0020";
  height: 18px;
  left: 0;
  position: absolute;
  top: 0;
  width: 30px;
}
/* line 254, ../../../app/stylesheets/partials/user-preferences.scss */
.you-preferences-notifications input:checked + span {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #00a5cc), color-stop(100%, #007fb6));
  background: -webkit-linear-gradient(top, #00a5cc, #007fb6);
  background: -moz-linear-gradient(top, #00a5cc, #007fb6);
  background: -o-linear-gradient(top, #00a5cc, #007fb6);
  background: -ms-linear-gradient(top, #00a5cc, #007fb6);
  background: linear-gradient(top, #00a5cc, #007fb6);
  display: block;
  height: 20px;
  position: relative;
  width: 60px;
}
/* line 260, ../../../app/stylesheets/partials/user-preferences.scss */
.you-preferences-notifications input:checked + span:after {
  left: 49%;
}
/* line 264, ../../../app/stylesheets/partials/user-preferences.scss */
.you-preferences-notifications input:focus {
  outline: none;
  border: none;
}
