/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* Commenting out the Reset style sheet in favor of the normalize style sheet that comes with h5bp.
 * Need to integrate the h5bp normalizer into this compass fanciness.
 * @import "compass/reset";
 */
/* line 12, ../../../app/stylesheets/partials/user-preferences.scss */
.you-preferences-form {
  margin: 0 10px;
}
/* line 15, ../../../app/stylesheets/partials/user-preferences.scss */
.you-preferences-form fieldset {
  margin-bottom: 1em;
}
<<<<<<< HEAD
/* line 19, ../../../app/stylesheets/partials/user-preferences.scss */
=======
/* line 21, ../../../app/stylesheets/partials/user-preferences.scss */
>>>>>>> 366009ba0a97b350dc8150aafeedfb475ffe7565
.you-preferences-form input {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  font: 300 normal 100%/1.231 "Ubuntu", "Times New Roman";
  border: 1px solid #222;
}
/* line 25, ../../../app/stylesheets/partials/user-preferences.scss */
.you-preferences-form legend {
  font-size: 16px;
  font-weight: 700;
  line-height: 2.75;
}

<<<<<<< HEAD
/* line 34, ../../../app/stylesheets/partials/user-preferences.scss */
=======
/* line 27, ../../../app/stylesheets/partials/user-preferences.scss */
>>>>>>> 366009ba0a97b350dc8150aafeedfb475ffe7565
.you-preferences-list, .you-preferences-networks, .you-preferences-notifications {
  margin: 0;
  padding: 0;
}
<<<<<<< HEAD
/* line 38, ../../../app/stylesheets/partials/user-preferences.scss */
=======
/* line 31, ../../../app/stylesheets/partials/user-preferences.scss */
>>>>>>> 366009ba0a97b350dc8150aafeedfb475ffe7565
.you-preferences-list li, .you-preferences-networks li, .you-preferences-notifications li {
  border-bottom: 1px solid #222;
  list-style-type: none;
  padding: 10px 5px 10px 10px;
}
<<<<<<< HEAD
/* line 43, ../../../app/stylesheets/partials/user-preferences.scss */
=======
/* line 36, ../../../app/stylesheets/partials/user-preferences.scss */
>>>>>>> 366009ba0a97b350dc8150aafeedfb475ffe7565
.you-preferences-list li:first-child, .you-preferences-networks li:first-child, .you-preferences-notifications li:first-child {
  border-top: 1px solid #222;
}
/* line 47, ../../../app/stylesheets/partials/user-preferences.scss */
.you-preferences-list label, .you-preferences-networks label, .you-preferences-notifications label {
  margin-top: 1px;
}

<<<<<<< HEAD
/* line 55, ../../../app/stylesheets/partials/user-preferences.scss */
=======
/* line 45, ../../../app/stylesheets/partials/user-preferences.scss */
>>>>>>> 366009ba0a97b350dc8150aafeedfb475ffe7565
.you-profile label,
.you-profile input,
.you-notifications label,
.you-notifications input {
  float: left;
  line-height: 2;
}
<<<<<<< HEAD
/* line 60, ../../../app/stylesheets/partials/user-preferences.scss */
=======
/* line 51, ../../../app/stylesheets/partials/user-preferences.scss */
>>>>>>> 366009ba0a97b350dc8150aafeedfb475ffe7565
.you-profile label,
.you-notifications label {
  width: 25%;
}
<<<<<<< HEAD
/* line 64, ../../../app/stylesheets/partials/user-preferences.scss */
=======
/* line 55, ../../../app/stylesheets/partials/user-preferences.scss */
>>>>>>> 366009ba0a97b350dc8150aafeedfb475ffe7565
.you-profile input,
.you-notifications input {
  padding-left: 5px;
  width: 75%;
}

<<<<<<< HEAD
/* line 70, ../../../app/stylesheets/partials/user-preferences.scss */
.you-profile-actions {
  float: right;
}
/* line 72, ../../../app/stylesheets/partials/user-preferences.scss */
=======
/* line 60, ../../../app/stylesheets/partials/user-preferences.scss */
.you-profile-actions {
  float: right;
}
/* line 62, ../../../app/stylesheets/partials/user-preferences.scss */
>>>>>>> 366009ba0a97b350dc8150aafeedfb475ffe7565
.you-profile-actions button {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  font: 700 normal 100%/1.231 "Ubuntu", "Times New Roman";
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #4a4a4a), color-stop(100%, #343434));
  background: -webkit-linear-gradient(top, #4a4a4a, #343434);
  background: -moz-linear-gradient(top, #4a4a4a, #343434);
  background: -o-linear-gradient(top, #4a4a4a, #343434);
  background: -ms-linear-gradient(top, #4a4a4a, #343434);
  background: linear-gradient(top, #4a4a4a, #343434);
  -moz-box-shadow: inset -1px 0px 1px 0px #444444;
  -webkit-box-shadow: inset -1px 0px 1px 0px #444444;
  -o-box-shadow: inset -1px 0px 1px 0px #444444;
  box-shadow: inset -1px 0px 1px 0px #444444;
  border: 1px solid #222;
  color: #efefef;
  display: block;
  float: left;
  font-size: 13px;
  height: 23px;
  line-height: 1.5;
  margin: 3px;
  padding: 0 1px;
  width: 48px;
  padding: 0 5px;
  width: auto;
}
/* line 75, ../../../app/stylesheets/partials/user-preferences.scss */
.you-profile-actions #response-message {
  float: left;
  margin: 6px;
}

<<<<<<< HEAD
/* line 84, ../../../app/stylesheets/partials/user-preferences.scss */
=======
/* line 72, ../../../app/stylesheets/partials/user-preferences.scss */
>>>>>>> 366009ba0a97b350dc8150aafeedfb475ffe7565
.you-preferences-networks h2 {
  float: left;
  font-size: 14px;
  line-height: 2;
  width: 30%;
}
<<<<<<< HEAD
/* line 91, ../../../app/stylesheets/partials/user-preferences.scss */
=======
/* line 78, ../../../app/stylesheets/partials/user-preferences.scss */
>>>>>>> 366009ba0a97b350dc8150aafeedfb475ffe7565
.you-preferences-networks h3 {
  float: left;
  font-size: 12px;
  line-height: 2.5;
  width: 40%;
}
<<<<<<< HEAD
/* line 98, ../../../app/stylesheets/partials/user-preferences.scss */
=======
/* line 84, ../../../app/stylesheets/partials/user-preferences.scss */
>>>>>>> 366009ba0a97b350dc8150aafeedfb475ffe7565
.you-preferences-networks button {
  font: 700 normal 100%/1.231 "Ubuntu", "Times New Roman";
  background: transparent;
  border: none;
  color: #efefef;
  float: right;
  font-size: 11px;
  font-weight: 300;
  text-decoration: underline;
}
<<<<<<< HEAD
/* line 109, ../../../app/stylesheets/partials/user-preferences.scss */
=======
/* line 95, ../../../app/stylesheets/partials/user-preferences.scss */
>>>>>>> 366009ba0a97b350dc8150aafeedfb475ffe7565
.you-preferences-networks button.connected-network {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  font: 700 normal 100%/1.231 "Ubuntu", "Times New Roman";
  background: #007fb6;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #00a5cc), color-stop(100%, #007fb6));
  background: -webkit-linear-gradient(top, #00a5cc, #007fb6);
  background: -moz-linear-gradient(top, #00a5cc, #007fb6);
  background: -o-linear-gradient(top, #00a5cc, #007fb6);
  background: -ms-linear-gradient(top, #00a5cc, #007fb6);
  background: linear-gradient(top, #00a5cc, #007fb6);
  -moz-box-shadow: inset -1px 0px 1px 0px #79cae7;
  -webkit-box-shadow: inset -1px 0px 1px 0px #79cae7;
  -o-box-shadow: inset -1px 0px 1px 0px #79cae7;
  box-shadow: inset -1px 0px 1px 0px #79cae7;
  border: 1px solid #222;
  color: #efefef;
  display: block;
  height: 34px;
  float: inherit;
  line-height: 2.5;
  margin: 10px 0;
  padding: 0 10%;
  width: 81px;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #549738), color-stop(100%, #3f722a));
  background: -webkit-linear-gradient(top, #549738, #3f722a);
  background: -moz-linear-gradient(top, #549738, #3f722a);
  background: -o-linear-gradient(top, #549738, #3f722a);
  background: -ms-linear-gradient(top, #549738, #3f722a);
  background: linear-gradient(top, #549738, #3f722a);
  -moz-box-shadow: inset -1px 0px 1px 0px #85cc66;
  -webkit-box-shadow: inset -1px 0px 1px 0px #85cc66;
  -o-box-shadow: inset -1px 0px 1px 0px #85cc66;
  box-shadow: inset -1px 0px 1px 0px #85cc66;
  float: right;
  height: 26px;
  line-height: 1;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

<<<<<<< HEAD
/* line 129, ../../../app/stylesheets/partials/user-preferences.scss */
=======
/* line 115, ../../../app/stylesheets/partials/user-preferences.scss */
>>>>>>> 366009ba0a97b350dc8150aafeedfb475ffe7565
.you-preferences-notifications label {
  font-size: 14px;
  font-weight: 500;
  width: 33%;
}
<<<<<<< HEAD
/* line 134, ../../../app/stylesheets/partials/user-preferences.scss */
=======
/* line 120, ../../../app/stylesheets/partials/user-preferences.scss */
>>>>>>> 366009ba0a97b350dc8150aafeedfb475ffe7565
.you-preferences-notifications input {
  margin-top: 10px;
  position: relative;
  width: 58%;
}
/* line 139, ../../../app/stylesheets/partials/user-preferences.scss */
.you-preferences-notifications input:after {
  color: #efefef;
  content: "off";
  position: absolute;
  right: 0;
  top: -7px;
}
/* line 147, ../../../app/stylesheets/partials/user-preferences.scss */
.you-preferences-notifications input:checked:after {
  content: "on";
}
