/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* Commenting out the Reset style sheet in favor of the normalize style sheet that comes with h5bp.
 * Need to integrate the h5bp normalizer into this compass fanciness.
 * @import "compass/reset";
 */
/* line 7, ../../../app/stylesheets/partials/video-player-control.scss */
.video-player-control {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  padding: 10px;
  width: 100%;
}

/* line 13, ../../../app/stylesheets/partials/video-player-control.scss */
.video-player-play, .video-player-volume, .video-player-fullscreen, .video-player-roll {
  background: url("../images/assets/player_play.svg") center center no-repeat transparent;
  height: 47px;
  float: left;
  width: 47px;
}

/* line 23, ../../../app/stylesheets/partials/video-player-control.scss */
.video-player-progress {
  background: #ddffdd;
  position: absolute;
  left: 60px;
  right: 211.5px;
  height: 100%;
}

/* line 31, ../../../app/stylesheets/partials/video-player-control.scss */
.video-player-timeline {
  float: right;
}

/* line 34, ../../../app/stylesheets/partials/video-player-control.scss */
.video-player-scrubber {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  -khtml-border-radius: 50%;
  border-radius: 50%;
  -moz-box-shadow: 1px 1px 1px 1px black;
  -webkit-box-shadow: 1px 1px 1px 1px black;
  -o-box-shadow: 1px 1px 1px 1px black;
  box-shadow: 1px 1px 1px 1px black;
  background: #efefef;
  height: 10px;
  width: 10px;
}

/* line 43, ../../../app/stylesheets/partials/video-player-control.scss */
.video-player-volume {
  background: url("../images/assets/player_sound_on.svg") center center no-repeat transparent;
  float: right;
}
/* line 51, ../../../app/stylesheets/partials/video-player-control.scss */
.video-player-volume.mute {
  background: url("../images/assets/player_sound_off.svg") center center no-repeat transparent;
}

/* line 58, ../../../app/stylesheets/partials/video-player-control.scss */
.video-player-fullscreen {
  background: url("../images/assets/player_fullscreen.svg") center center no-repeat transparent;
  float: right;
}

/* line 68, ../../../app/stylesheets/partials/video-player-control.scss */
.video-player-roll {
  background: url("../images/assets/player_roll.svg") center center no-repeat transparent;
  float: right;
}
