/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* Commenting out the Reset style sheet in favor of the normalize style sheet that comes with h5bp.
 * Need to integrate the h5bp normalizer into this compass fanciness.
 * @import "compass/reset";
 */
/* line 7, ../../../app/stylesheets/partials/video-player.scss */
.video-player {
  background: #000;
  color: white;
  height: 100%;
  margin-right: 330px;
  -moz-transition-property: margin-right;
  -webkit-transition-property: margin-right;
  -o-transition-property: margin-right;
  transition-property: margin-right;
  -moz-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -moz-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  -moz-transition-delay: 0s;
  -webkit-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
}

/* line 24, ../../../app/stylesheets/partials/video-player.scss */
.video-player.full-width {
  margin-right: 0px;
}

/* line 29, ../../../app/stylesheets/partials/video-player.scss */
#video-players-holder {
  position: relative;
  height: 100%;
  width: 100%;
  /* ooyala doesn't let you set % sizes when embedding, so we need to override here */
}
/* line 33, ../../../app/stylesheets/partials/video-player.scss */
#video-players-holder > * {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* line 41, ../../../app/stylesheets/partials/video-player.scss */
#video-players-holder #ooyala-player-holder div, #video-players-holder #ooyala-player-holder object {
  width: 100%!important;
  height: 100%!important;
}
