/* line 3, ../../../app/stylesheets/partials/video-controls.scss */
.video-player-tools-wrapper {
  -moz-transition-property: opacity;
  -webkit-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
  -moz-transition-duration: 0.25s;
  -webkit-transition-duration: 0.25s;
  -o-transition-duration: 0.25s;
  transition-duration: 0.25s;
  -moz-transition-timing-function: ease-out;
  -webkit-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  -moz-transition-delay: 0s;
  -webkit-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
  bottom: 0;
  height: 65px;
  left: 0;
  opacity: 1;
  position: absolute;
  width: 100%;
  z-index: 2;
}

/* line 18, ../../../app/stylesheets/partials/video-controls.scss */
.user-inactive .video-player-tools-wrapper {
  opacity: 0;
}

/* line 22, ../../../app/stylesheets/partials/video-controls.scss */
.video-player-tools {
  background-color: #0e0e0e;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #1b1b1b), color-stop(100%, #0e0e0e));
  background: -webkit-linear-gradient(top, #1b1b1b, #0e0e0e);
  background: -moz-linear-gradient(top, #1b1b1b, #0e0e0e);
  background: -o-linear-gradient(top, #1b1b1b, #0e0e0e);
  background: -ms-linear-gradient(top, #1b1b1b, #0e0e0e);
  background: linear-gradient(top, #1b1b1b, #0e0e0e);
  border-radius: 5px;
  border: 1px solid #202020;
  height: 45px;
  margin: 10px 340px 10px 10px;
  -moz-transition-property: margin;
  -webkit-transition-property: margin;
  -o-transition-property: margin;
  transition-property: margin;
  -moz-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -moz-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  -moz-transition-delay: 0s;
  -webkit-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
}

/* line 37, ../../../app/stylesheets/partials/video-controls.scss */
.video-player-tools.full-width {
  margin: 10px 40px 10px 10px;
}

/* line 41, ../../../app/stylesheets/partials/video-controls.scss */
.video-player-tools-inner {
  border-radius: 5px;
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
}

/* line 49, ../../../app/stylesheets/partials/video-controls.scss */
.video-player-play, .video-player-volume, .video-player-fullscreen, .video-player-quality, .video-player-roll {
  border: none;
  height: 43px;
  float: left;
  width: 47px;
  background: url("../images/assets/player_play.svg") center center no-repeat transparent;
}
/* line 59, ../../../app/stylesheets/partials/video-controls.scss */
.video-player-play.pause, .pause.video-player-volume, .pause.video-player-fullscreen, .pause.video-player-quality, .pause.video-player-roll {
  background: url("../images/assets/player_pause.svg") center center no-repeat transparent;
}

/* line 67, ../../../app/stylesheets/partials/video-controls.scss */
.video-player-progress {
  background: black;
  border-radius: 10px;
  height: 8px;
  left: 60px;
  right: 250px;
  margin: 18px 8px 0;
  position: absolute;
}

/* line 77, ../../../app/stylesheets/partials/video-controls.scss */
.video-player-progress-load, .video-player-progress-elapsed {
  background: #303030;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #3d3d3d), color-stop(100%, #303030));
  background: -webkit-linear-gradient(top, #3d3d3d, #303030);
  background: -moz-linear-gradient(top, #3d3d3d, #303030);
  background: -o-linear-gradient(top, #3d3d3d, #303030);
  background: -ms-linear-gradient(top, #3d3d3d, #303030);
  background: linear-gradient(top, #3d3d3d, #303030);
  border-radius: 10px;
  height: 8px;
  width: 0;
}

/* line 86, ../../../app/stylesheets/partials/video-controls.scss */
.video-player-progress-elapsed {
  background: #0071a3;
  margin-top: -8px;
}

/* line 93, ../../../app/stylesheets/partials/video-controls.scss */
.video-player-scrubber {
  background: #efefef;
  border-radius: 50%;
  box-shadow: 1px 0px 2px 1px black;
  cursor: pointer;
  cursor: ew-resize;
  height: 15px;
  left: 0;
  margin: -11px;
  position: absolute;
  width: 15px;
}

/* line 106, ../../../app/stylesheets/partials/video-controls.scss */
.video-player-timeline {
  color: #b2b2b2;
  float: right;
  font-size: 13px;
  font-weight: 300;
  line-height: 3.25;
  margin: 0 15px;
}

/* line 115, ../../../app/stylesheets/partials/video-controls.scss */
.video-player-volume {
  background: url("../images/assets/player_sound_on.svg") center center no-repeat transparent;
  float: right;
}
/* line 123, ../../../app/stylesheets/partials/video-controls.scss */
.video-player-volume.mute {
  background: url("../images/assets/player_sound_off.svg") center center no-repeat transparent;
}

/* line 130, ../../../app/stylesheets/partials/video-controls.scss */
.video-player-fullscreen {
  background: url("../images/assets/player_fullscreen.svg") center center no-repeat transparent;
  float: right;
}
/* line 138, ../../../app/stylesheets/partials/video-controls.scss */
.video-player-fullscreen.cancel {
  background: url("../images/assets/player_fullscreen_cancel.svg") center center no-repeat transparent;
}

/* line 146, ../../../app/stylesheets/partials/video-controls.scss */
.video-player-quality {
  background: url("../images/assets/player_hd_off.svg") center center no-repeat transparent;
  float: right;
}
/* line 154, ../../../app/stylesheets/partials/video-controls.scss */
.video-player-quality.hd-on {
  background: url("../images/assets/player_hd_on.svg") center center no-repeat transparent;
}

/* line 161, ../../../app/stylesheets/partials/video-controls.scss */
.disable-video-quality .video-player-quality {
  background: url("../images/assets/player_hd_disabled.svg") center center no-repeat transparent;
}

/* line 167, ../../../app/stylesheets/partials/video-controls.scss */
.video-player-roll {
  background: url("../images/assets/player_roll.svg") center 6px no-repeat transparent;
  float: right;
}

/* line 178, ../../../app/stylesheets/partials/video-controls.scss */
.video-player-nav-buttons-wrapper .video-player-prev {
  background: url("../images/assets/arrow_left.svg") center center no-repeat #444444;
  -moz-transition-property: opacity;
  -webkit-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
  -moz-transition-duration: 0.25s;
  -webkit-transition-duration: 0.25s;
  -o-transition-duration: 0.25s;
  transition-duration: 0.25s;
  -moz-transition-timing-function: ease-out;
  -webkit-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  -moz-transition-delay: 0s;
  -webkit-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
  left: 20px;
  opacity: 1.0;
}
/* line 192, ../../../app/stylesheets/partials/video-controls.scss */
.video-player-nav-buttons-wrapper .video-player-next {
  background: url("../images/assets/arrow_right.svg") center center no-repeat #444444;
  -moz-transition-property: opacity, margin-right;
  -webkit-transition-property: opacity, margin-right;
  -o-transition-property: opacity, margin-right;
  transition-property: opacity, margin-right;
  -moz-transition-duration: .25s, .5s;
  -webkit-transition-duration: .25s, .5s;
  -o-transition-duration: .25s, .5s;
  transition-duration: .25s, .5s;
  -moz-transition-timing-function: ease-out, ease-in-out;
  -webkit-transition-timing-function: ease-out, ease-in-out;
  -o-transition-timing-function: ease-out, ease-in-out;
  transition-timing-function: ease-out, ease-in-out;
  -moz-transition-delay: 0s, 0s;
  -webkit-transition-delay: 0s, 0s;
  -o-transition-delay: 0s, 0s;
  transition-delay: 0s, 0s;
  margin-right: 330px;
  right: 20px;
}
/* line 205, ../../../app/stylesheets/partials/video-controls.scss */
.video-player-nav-buttons-wrapper .video-player-next.full-width {
  margin-right: 0;
}
/* line 210, ../../../app/stylesheets/partials/video-controls.scss */
.video-player-nav-buttons-wrapper .video-player-prev, .video-player-nav-buttons-wrapper .video-player-next {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
  border-radius: 5px;
  height: 40px;
  position: absolute;
  top: 45%;
  width: 40px;
  z-index: 2;
}
/* line 220, ../../../app/stylesheets/partials/video-controls.scss */
.video-player-nav-buttons-wrapper .video-player-prev:hover, .video-player-nav-buttons-wrapper .video-player-next:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
