<article id="" class="animate_module frame frame--inline_cta<%= " frame--#{cta.hook}_cta" %> js-inline_sources_cta">
  <div class="frame-body-wrapper clearfix">
    <div class="frame-body">
      <a href="#" style="background-image: url(<%= asset_path cta.image_url %>);" onclick="return false;" class="video__wrapper image_module">
        <%= image_tag cta.image_url, :class => "visuallyhidden" %>
      </a>
    </div><!-- eo .frame-body -->

    <footer class="media_module frame-footer clearfix">
      <div class="media_body">
        <p class="xuser-message<%#= " line-clamp js-toggle-comment" if message and frame['conversation'] and frame['conversation']['messages'].length>0 and frame['conversation']['messages'][0]['text'].length > 265%>">
          <%= cta.message.html_safe %>
        </p>
      </div><!-- eo .media_body -->
    </footer><!-- eo .media_module-->
  </div><!-- eo .frame-body-wrapper -->
</article>
