<%
  # This is the Liker Container that goes below a Videocard
%>
<script id="js-frame-like" type="application/json">
  <div class="frame-likes frame-external-subline icon-like icon-like--red js-frame-likes">
    <ul class="list frame-likes-avatars js-liker-avatars-list"></ul>
    <span class="frame-likes-count frame-external-subline-text invisible js-like-total">+ 0</span>
  </div>
</script>
