<div class="modal_dialog__wrapper<%= " modal_dialog__wrapper--#{modifier}" if modifier %> js-popup--sms">
  <div class="modal_dialog<%= " modal_dialog--#{modifier}" if modifier %> frame-body-wrapper">
    <%= yield %>
  </div>
</div>