<div class="modal_dialog__wrapper<%= " modal_dialog__wrapper--#{modifier}" if modifier %> vertical-align-hack hidden js-popup--sms">
  <div class="vertical-align-hack__el">
    <div class="modal_dialog<%= " modal_dialog--#{modifier}" if modifier %> frame-body-wrapper">
      <%= yield %>
    </div><!-- eo modal_dialog -->
  </div><!-- eo vertical-align-hack__el -->
</div><!-- eo vertical-align-hack -->