<ul class="list">
  <li class="list__item">
    <button
      class="button_primer button_command button_command--flexible button_command--sub button_command--text js-me"
      data-ga_category="Header"
      data-ga_action="Profile"
      data-ga_label="<%= userNickname %>"
    >
      Profile
    </button>
  </li>
</ul>

<ul class="list">
  <% if !is_mobile %>
    <li class="list__item">
      <a
        href="/preferences"
        class="button_primer button_command button_command--flexible button_command--sub button_command--text js-navigate"
        data-ga_category="Header"
        data-ga_action="Preferences"
        data-ga_label="<%= userNickname %>"
        >
        Preferences
      </a>
    </li>

    <li class="list__item">
      <a
        href="/preferences/friends"
        class="button_primer button_command button_command--flexible button_command--sub button_command--text js-navigate"
        data-ga_category="Header"
        data-ga_action="Invite Friends"
        data-ga_label="<%= userNickname %>"
        >
        Invite Friends
      </a>
    </li>
  <% end %>

  <li class="list__item">
    <a href="https://getsatisfaction.com/shelbytv" target="_blank" class="button_primer button_command button_command--flexible button_command--sub button_command--text ">
      Support and Feedback
    </a>
  </li>

  <li class="list__item">
    <a href="http://shelby.tv/blog" target="_blank" class="button_primer button_command button_command--flexible button_command--sub button_command--text ">
      Blog
    </a>
  </li>
</ul>

<ul class="list">
<li class="list__item">
  <button
    class="button_primer button_command button_command--flexible button_command--sub button_command--text js-signout"
    data-ga_category="Header"
    data-ga_action="Logout"
    data-ga_label="<%= userNickname %>"
    >
    Logout
  </button>
</li>
</ul>
