<% var roll = shelby.models.guide.get('activeFrameModel').get('roll') %>
<% var rollCreator = shelby.models.guide.get('activeFrameModel').get('creator') %>

<div class="notification_module notification_module--anonymous-signup">
  <div class="notification_actions js-learn-more">
    <button class="button_primer button_gray-medium notification_button">
      <i class="button_icon_right">
        Learn more
      </i>
    </button>
  </div><!-- eo dropdown_module -->

  <div class="notification_body clearfix">
    <div class="notification_message">
          <h1 class="anon-benefit-title"><%= rollCreator.get('name') %> is using Shelby.tv to curate these videos here at <%= shelby.config.hostName %></h1>
      <% switch(bannerType){
         case libs.shelbyGT.AnonymousActions.QUEUE: %>
          <!-- <h1 class="anon-benefit-title">Don't miss a thing!</h1> -->
          <h2 class="anon-benefit-subtitle">As a member of Shelby.tv, you can queue the videos that interest you and watch them whenever you'd like.</h2>
      <% break;
         case libs.shelbyGT.AnonymousActions.STREAM: %>
          <!-- <h1 class="anon-benefit-title">Instant On</h1> -->
          <h2 class="anon-benefit-subtitle">As a member of Shelby.tv, your stream is a fresh source of videos that you care about.  It can also include the videos shared by your Twitter, Facebook, and Tumblr friends!</h2>
      <% break;
         case libs.shelbyGT.AnonymousActions.ROLL: %>
          <!-- <h1 class="anon-benefit-title">Create a .tv channel</h1> -->
          <h2 class="anon-benefit-subtitle">The Shelby.tv community curates really interesting channels of video.  As a member, you +Roll and curate a channel to call your own.</h2>
      <% break;
         case libs.shelbyGT.AnonymousActions.FOLLOW: %>
          <!-- <h1 class="anon-benefit-title">You choose what's on</h1> -->
          <h2 class="anon-benefit-subtitle">Discover interesting videos that you might miss on other sites.  The Shelby.tv community of Rolls has something for everybody.</h2>
      <% break;
         case libs.shelbyGT.AnonymousActions.COMMENT: %>
          <!-- <h1 class="anon-benefit-title">Engage</h1> -->
          <h2 class="anon-benefit-subtitle">Take part in lively discussions outside the traditional walls of video sites.  Sign up now to become a member of the thoughtful Shelby.tv community.</h2>
      <% break;
         case libs.shelbyGT.AnonymousActions.ME: %>
          <!-- <h1 class="anon-benefit-title">http://your-name.shelby.tv</h1> -->
          <h2 class="anon-benefit-subtitle">Curate your own .tv channel. It's like a blog, except you post video and don't have write so much. ;-]</h2>
      <% break;
         default: %>
          <!-- <h1 class="anon-benefit-title">Get more from Shelby</h1> -->
          <h2 class="anon-benefit-subtitle">Join the thoughtful community on Shelby and enjoy your video experience a little better.</h2>
      <% } %>
    </div><!-- eo notification_message -->
  </div><!-- eo notification_body -->
</div>