<div class="welcome-message fin fin--left_top welcome-message--large">
  <div>
    <h2 class="welcome-message__h1--plain">
      <%= header %>
    </h2>

    <h3 class="welcome-message__h2--plain">
      <%= message %>
    </h3>

    <button class="js-play button_primer button_command button_command--flexible button_green"><%= button %></button>
  </div><!-- eo welcome-message__head -->

</div><!-- eo .welcome-message -->
