<div class="welcome-message fin fin--left_top welcome-message--large">
  <div>
    <h2 class="welcome-message__h1--plain">
      <%= shelby.config.welcomeMessages[currentDisplayState].header %>
    </h2>

    <h3 class="welcome-message__h2--plain">
      <%= shelby.config.welcomeMessages[currentDisplayState].message %>
    </h3>

    <div class="welcome-message__button-wrapper">
      <button class="js-play button_primer button_command button_command--flexible button_green"><%= shelby.config.welcomeMessages[currentDisplayState].button %></button>
    </div>
  </div><!-- eo welcome-message__head -->

</div><!-- eo .welcome-message -->
