  <button class="shelby-logo shelby-logo-no-link js-home">
    <h1 class="shelby-title ir">
      Shelby.tv
    </h1>
  </button>

  <nav id="js-guide-presentation-selector" class="guide-presentation-selector">
    <!-- content filled in by GuidePresentationSelectorView -->
  </nav>
