<button class="button_primer shelby-logo visuallydisabled js-home">
  <% if (shelby.config.environment != "staging") { %>
    <h1 class="shelby_logo">
	    <span class="icon-mark"></span><span class="icon-type"></span><span class="ir">Shelby.tv</span>
    </h1>
  <% } else { %>
    <h1 class="shelby-title-staging">
      <%= shelby.config.branch %>
    </h1>
  <% } %>
</button>

<nav id="js-guide-presentation-selector" class="guide-presentation-selector">
  <!-- content filled in by GuidePresentationSelectorView -->
</nav>

<div id="js-channel-info-overlay-wrapper" class="animate_module channel_info__wrapper js-inactivity-preemption">
  <!-- content filled in by GuidePresentationSelectorView -->
</div>

