<div class="welcome-message fin fin--left_top welcome-message--large">
  <div>
    <h2 class="welcome-message__h1--plain">
      Welcome to Shelby.tv
    </h2>

    <h3 class="welcome-message__h2--plain">
      This stream of video was made just for you. The more you watch, like and share the better it will get!
    </h3>

    <button class="js-play button_primer button_command button_command--wide button_green">Play</button>
  </div><!-- eo welcome-message__head -->

</div><!-- eo .welcome-message -->
