<div class="modal modal--padding fin fin--left_top">
  <h2 class="alpha">
    <%= shelby.config.welcomeMessages[currentDisplayState].header %>
  </h2>

  <p class="modal__block delta">
    <% if (shelby.models.user.isNotLoggedIn() && currentDisplayState == 'loggedOutShares') { %>
      <b><%= shelby.models.guide.get('currentRollModel').get('creator_name')  %></b>
    <% } %>
    <%= shelby.config.welcomeMessages[currentDisplayState].message %>
  </p>

  <button class="js-dismiss button_primer button_command button_command--flexible button_green">
    <%= shelby.config.welcomeMessages[currentDisplayState].button %>
  </button>
</div><!-- eo .modal -->
