<div class="app-banner app-banner--chips-ahoy clearfix">
  <div class="app-banner__lining media_module clearfix">
    <div class="media_image">
      <div class="brand__logo">
        <span class="visuallyhidden">Chips Ahoy! Sweetest Bracket</span>
      </div>
      <img class="brand__flourish" src="/images/chips-ahoy/chip.png" />
    </div><!-- eo media_image -->

    <div class="media_image media_image--rev">
      <img class="brand__flourish" src="/images/chips-ahoy/chips.png" />

      <button class="button_primer button_default brand__social_button">
        <i class="icon icon-social_twitter"></i>
        <span class="visuallyhidden">@chipsahoy</span>
      </button>

      <button class="button_primer button_default brand__social_button">
        <i class="icon icon-social_facebook"></i>
        <span class="visuallyhidden">facebook.com/chipsahoy</span>
      </button>
    </div>

    <div class="media_body">
      <h1 class="brand__h1">
        Chips Ahoy has joined the madness.Want in? <br />
        Tweet a video with #sweetestbracket to star on <a href="http://chipsahoy.tv">chipsahoy.tv</a>!
      </h1>
    </div>
</div>