<div class="app-banner app-banner--chips-ahoy clearfix">
  <div class="app-banner__lining media_module clearfix">
    <div class="media_image">
      <div class="brand__logo">
        <span class="visuallyhidden">Chips Ahoy! Sweetest Bracket</span>
      </div>
      <img class="brand__flourish" src="/images/chips-ahoy/chip.png" />
    </div><!-- eo media_image -->

    <div class="media_image media_image--rev">
      <img class="brand__flourish" src="/images/chips-ahoy/chips.png" />

      <a href="https://twitter.com/intent/tweet?<%= tweetIntentQueryString %>">
        <button class="button_primer button_gray brand__social_button">
          <i class="icon icon-twitter"></i>
          <span class="visuallyhidden">@chipsahoy</span>
        </button>
      </a>

      <button class="button_primer button_gray brand__social_button js-facebook-share">
        <i class="icon icon-facebook"></i>
        <span class="visuallyhidden">facebook.com/chipsahoy</span>
      </button>

      <span class="videoplayer__badge">
        <a href="http://shelby.tv" target="_top">
          Powered by <span class="shelby_logo shelby_logo shelby_logo--plain"><span class="icon-mark"></span><span class="icon-type"></span><span class="ir">Shelby.tv</span></span>
        </a>
      </span>
    </div>

    <div class="media_body">
      <h1 class="brand__h1">
        Chips Ahoy has joined the madness. Want in? <br />
        Tweet a video with #sweetestbracket to star on <a href="http://chipsahoy.tv">chipsahoy.tv</a>!
      </h1>
    </div>
</div>