<div class="shelby-notify">
    <button class="notify-cancel">
    x
    </button>
  <div class="notify-text">
    Found <%=numVids%><%= (findMore) ? " more ": " "%><%= (numVids > 1) ? "videos": "video" %>
  </div>
</div>
