<a class="bookmarklet-login-twitter" target="_blank" href=<%=twitterDomain%> Login with Twitter </a>
<a class="bookmarklet-login-facebook" target="_blank" href=<%=facebookDomain%> Login with Facebook </a>
