<div id=<%=guideName%>-overlay-header class="guide-overlay-header">
  <div class="guide-overlay-title">
    <button class="back" <%=guideName%>-button">
    </button>
    <div class="guide-overlay-title-text">
      <%=guideTitle%>
    </div>
  </div>
</div>
