      <li>
        <div class="frame-creator-avatar-holder"> 
          <div class="frame-creator">
            <img src="<%=frame.creator.user_image%>" class="frame-creator-avatar" alt="<%=frame.creator.nickname%>'s avatar" title="<%=frame.creator.nickname%>">
          </div> 
        </div>
      </li>
