<h3 class="bookmarklet-help-header">
  How to:
</h3>

<ol>
  <li>
    Make sure your bookmarks bar is showing.
    (Click <strong>View</strong> then <strong>Show Bookmarks Bar</strong>")
  </li>

  <li>
    Drag the <span class="faux-bookmarklet-button"><i>Shelby Radar</i></span> button above into your browser's bookmarks bar
  </li>

  <li>
    Click that button when you see video anywhere on the web!
  </li>
</ol>
