
<div id="js-notifications-wrapper" class="js-dismiss animate_module notification-banner-wrapper hide">
  <div class="notification_module notification_module--bookmarklet">
<!--     <div class="notification_actions--rev">
      <a href="#" onclick="return false;" title="Close" class="notification_label js-dismiss">
        Dismiss
      </a>
    </div>--><!-- eo notification_actions-->

    <div class="notification_body bookmarklet-logo">
      <h1 class="notification_message">
        <% if (numVids === 0) {%>
            No videos found.
        <% } else { %>
           Found <%=numVids%><%= (findMore) ? " more ": " "%><%= (numVids > 1) ? "videos": "video" %>
        <% } %>
      </h1>
    </div><!-- eo notification_body-->
  </div><!-- eo notification_module-->
</div><!-- eo notifications-wrapper  -->