<div class="overlay_header guide-overlay-head">
  <div class="guide-overlay-head-lining">
    <button class="button_primer button_gray guide-overlay-cancel js-cancel js-track-event" data-ga_category="Bookermarklet" data-ga_action="Click cancel" data-ga_label="anonymous">
      <i class="icon icon-cancel">
        Cancel
      </i>
    </button>
    <h2 class="guide-overlay-header">
      Login to Shelby
    </h2>
  </div><!-- eo .guide-overlay-head-lining -->
</div><!-- eo .guide-overlay-head -->

<div class="overlay_body guide-overlay-body">
  <%= SHELBYJST['signin-form']({
    facebookAuthUrl   : facebookDomain,
    forgotPasswordUrl : shelby.config.apiBase + "/user/password/new",
    formActionUrl     : shelby.config.loginFormUrl + '?redir=' + window.location.href,
    twitterAuthUrl    : twitterDomain
  })%>
</div><!-- eo guide-overlay-body.rolling-body -->