
<div class="guide-overlay-header rolling-header">
  <div class="guide-overlay-title">
    <button class="cancel js-login-cancel js-track-event">
      <i class="button_icon icon_cancel cancel-icon">
        Cancel
      </i>
    </button>

    <h2 class="title">
      Login
    </h2>
  </div>
</div> 

<a class="bookmarklet-login-twitter" target="_blank" href="<%=twitterDomain%>">
  Login with Twitter
</a>

<a class="bookmarklet-login-facebook" target="_blank" href="<%=facebookDomain%>">
  Login with Facebook
</a>
