<div class="guide-overlay__head guide-overlay__head--bookmarklet">
  <h2 class="guide-overlay__h1">
    Login to Shelby
  </h2>
</div><!-- eo .guide-overlay__head -->

<div class="guide-overlay__body guide-overlay__body--bookmarklet">
  <%= SHELBYJST['signin-form']({
    facebookAuthUrl   : facebookDomain,
    forgotPasswordUrl : shelby.config.apiBase + "/user/password/new",
    formActionUrl     : shelby.config.loginFormUrl + '?redir=' + window.location.href,
    twitterAuthUrl    : twitterDomain
  })%>
</div><!-- eo guide-overlay__body -->