<div class="overlay_header guide-overlay-head rolling-header">
  <div class="guide-overlay-head-lining">
    <button class="guide-overlay-cancel js-login-cancel js-track-event">
      <i class="button_icon icon_cancel cancel-icon">
        Cancel
      </i>
    </button>

    <h2 class="guide-overlay-header">
      Login
    </h2>
  </div><!-- eo .guide-overlay-head-lining -->
</div><!-- eo .guide-overlay-head.rolling-header -->

<div class="overlay_body guide-overlay-body rolling-body">
  <a class="bookmarklet-login-twitter" target="_blank" href="<%=twitterDomain%>">
    Login with Twitter
  </a>

  <a class="bookmarklet-login-facebook" target="_blank" href="<%=facebookDomain%>">
    Login with Facebook
  </a>
</div><!-- eo guide-overlay-body.rolling-body -->