<div class="shelby-notify">
    <button class="notify-cancel">
      <i class="button_icon_left icon_cancel cancel-icon">
        Cancel
      </i>
    </button>
  <div class="notify-text">
    <% if (numVids === 0) {%>
        No videos found.
    <% } else { %>
       Found <%=numVids%><%= (findMore) ? " more ": " "%><%= (numVids > 1) ? "videos": "video" %>
    <% } %>
  </div>
</div>
