<script>
	shelby.views.keyboardControls = null;
	shelby.views.keyboardControls = new libs.shelbyGT.KeyboardControlsView(true);
</script>

<div class="channel-background">
	<div class="header-message">
		Welcome to Shelby Channels!
	</div>
	<div class ="row-container">
		<div class="pane" style="background-color:#f2385a">
			<a href="#" style="">
				<div class= "button-text">Entertain me!</div>
				<div class="up button"></div>
			</a>
		</div>
		<div class="pane" style="background-color:#f5a503">
			<a href="#" style="">
				<div class="button-text">Teach me!</div>
				<div class="down button"></div>
			</a>
		</div>
		<div class="pane" style="background-color:#4ad9d9">
			<a href="#" style="">
				<div class="button-text">Inspire me!</div>
				<div class="left button"></div>
			</a>
		</div>
		<div class="pane" style="background-color:#52B576">
			<a href="#" style="">
				<div class="button-text">Make me laugh!</div>
				<div class="right button"></div>
			</a>
		</div>		
	</div>
	<div class ="footer">
		<div style="float:left;position:relative;">
			<img src="/images/assets/remote-iphone.png"/>Sync your smartphone at: 
		</div>
		<div id="shelby-remote-url" style="position:absolute;margin-left:40%;font-weight:400;"></div>
	</div>
</div>

