<div class="empty-indicator-lining empty-stream">
  <h2 class="empty-indicator-header">
    Your stream is empty.
  </h2>
  <p class="empty-indicator-block">
    Follow some rolls in <a href="#" onclick="return false;" class="js-explore-link">Explore</a> or connect your social networks in <a href="#" onclick="return false;" class="js-preferences-link">Preferences</a> to get some video in your stream.
  </p>
</div>