<div class="stream-lining">
  <h2 class="stream-header">
    Your stream is empty.
  </h2>
  <p class="stream-block">
    Follow some rolls in <a href="#" onclick="return false;" class="js-explore-link">Explore</a> or connect your social networks in <a href="#" onclick="return false;" class="js-preferences-link">Preferences</a> to get some video in your stream.
  </p>
</div>