<div class="inner">
  <h1>Welcome to my dot tv</h1>
  <div class="message">
    really welcome
  </div>
  <button class="button_primer button_blue dot-tv-welcome__button--play js-start-playing js-track-event" data-ga_category=".TV Welcome" data-ga_action="Click play button" data-ga_label="anonymous">
    <i class="button_icon_right icon_player_play icon">
      Start Watching
    </i>
  </button>
</div>