<span class="share_menu__faux-button clearfix">
  <i class="icon icon-embed">
  </i>
  <input type="text" value="<%- SHELBYJST['shelby-embed']({frame : frame}) %>" class="form_input js-input-select-on-focus" />
</span>