<% var frameTitle     = frame.get('video').get('title') || '' %>
<% var userNickname   = user.get('nickname') || 'your personal '%>

<div class="overlay_header guide-overlay-head">
  <div class="guide-overlay-head-lining js-guide-overlay-head-lining">
    <button class="button_primer button_gray-medium guide-overlay-cancel js-cancel js-track-event" data-ga_category="Roll" data-ga_action="Click cancel" data-ga_label="<%= userNickname %>">
      <i class="button_icon_left icon_cancel icon">
        Cancel
      </i>
    </button>

    <h2 class="guide-overlay-header">
      Timeline Events
    </h2>
  </div><!-- eo guide-overlay-head-lining -->
</div><!-- eo guide-overlay-head.framerolling-head -->

<div class="overlay_body guide-overlay-body">
  <form class="form_module">
    <h3 class="guide-overlay__h3">
      Popups
    </h3>

    <%= SHELBYJST['popup-form-item']({}) %>

    <fieldset class="form_fieldset form_fieldset--submit">
      <a href="#" class="form_cancel js-cancel-annotation">Cancel</a>
      <input type="submit" class="button_primer button_blue form_submit" value="Save" />
    </fieldset>
  </form>
</div><!-- eo overlay_body guide-overlay-body conversation-body -->