<button class="dropdown_button nav-button js-explore">
  Explore
</button>
<section class="dropdown_section explore-section">
  <div class="dropdown_lining explore-section-lining clearfix">
    <ul class="list">
      <% _(channels).each(function(channel, key) { %>
        <li class="explore-section-channel js-channel" data-channel="<%= key %>">
          <%= channel.title %>
        </li>
      <% }); %>
    </ul>
  </div>
</section>