<section class="content_lining" role="main">
  <!-- content filled in by ExploreContentPaneView -->
</section><!-- eo .content_lining -->

<section class="js-inactivity-preemption js-guide guide-wrapper sidebar_module clearfix">
  <div class="guide-explore js-guide-explore clearfix">
    <ul class="list_module guide-list js-roll-category-list">
      <!-- content filled in by child ListView -->
    </ul>
  </div>
</section><!-- eo .guide-wrapper -->