<section class="content_module explore animate-easein js-content-module-explore">
  <div class="explore-body js-explore-body">
      <!-- Content filled in by child ListView -->
  </div>
</section><!-- eo .explore -->