<section class="content_lining" role="main">
  <section class="content_module explore animate-easein">
    <div class="explore-body">
      <ol class="explore-list explore-rolls">
        <li class="explore-item">
          <section class="explore-roll">
            <div class="explore-roll-header clearfix">
              <a href="#" onclick="return false;" class="explore-link">
                <h2 class="explore-header">
                  Laughing Squid
                </h2>
                <p class="explore-subline">
                  laughingsquid.com | See all…
                </p>
              </a>

              <ul class="explore-list explore-menu">
                <li>
                  <button class="explore-command">
                    Similar Rolls
                  </button>
                </li>

                <li>
                  <button class="explore-command command-active">
                    Follow
                  </button>
                </li>
              </ul>
            </div>

            <ol class="explore-list explore-roll-list clearfix">
              <li class="explore-roll-item">
                <article id="" class="explore-frame clearfix">
                  <ul class="explore-list explore-frame-menu">
                    <li>
                      <button class="explore-frame-command">
                        Queue
                      </button>
                    </li>

                    <li>
                      <button class="explore-frame-command">
                        + Roll…
                      </button>
                    </li>
                  </ul>

                  <a href="#" onclick="return false;" class="explore-frame-thumbnail" style="background-image:url(http://b.vimeocdn.com/ts/318/529/318529172_960.jpg);" role="img">
                    <img src="http://b.vimeocdn.com/ts/318/529/318529172_960.jpg" alt="Conan Rents a Super Slow-Motion Camera…" title="Conan Rents a Super Slow-Motion Camera…" class="visuallyhidden">
                  </a>

                  <a href="#" onclick="return false;" class="explore-frame-link">
                    <h3 class="explore-frame-title">
                      Conan Rents a Super Slow-Motion Camera and Films his Face Reading this REALLY LONG TITLE
                    </h3>
                  </a>
                </article>
              </li>

              <li class="explore-roll-item">
                <article id="" class="explore-frame clearfix">
                  <ul class="explore-list explore-frame-menu">
                    <li>
                      <button class="explore-frame-command">
                        Queue
                      </button>
                    </li>

                    <li>
                      <button class="explore-frame-command">
                        + Roll…
                      </button>
                    </li>
                  </ul>

                  <a href="#" onclick="return false;" class="explore-frame-thumbnail" style="background-image:url(http://b.vimeocdn.com/ts/318/529/318529172_960.jpg);" role="img">
                    <img src="http://b.vimeocdn.com/ts/318/529/318529172_960.jpg" alt="Conan Rents a Super Slow-Motion Camera…" title="Conan Rents a Super Slow-Motion Camera…" class="visuallyhidden">
                  </a>

                  <a href="#" onclick="return false;" class="explore-frame-link">
                    <h3 class="explore-frame-title">
                      Conan Rents a Super Slow-Motion Camera and Films his Face Reading this REALLY LONG TITLE
                    </h3>
                  </a>
                </article>
              </li>

              <li class="explore-roll-item">
                <article id="" class="explore-frame clearfix">
                  <ul class="explore-list explore-frame-menu">
                    <li>
                      <button class="explore-frame-command">
                        Queue
                      </button>
                    </li>

                    <li>
                      <button class="explore-frame-command">
                        + Roll…
                      </button>
                    </li>
                  </ul>

                  <a href="#" onclick="return false;" class="explore-frame-thumbnail" style="background-image:url(http://b.vimeocdn.com/ts/318/529/318529172_960.jpg);" role="img">
                    <img src="http://b.vimeocdn.com/ts/318/529/318529172_960.jpg" alt="Conan Rents a Super Slow-Motion Camera…" title="Conan Rents a Super Slow-Motion Camera…" class="visuallyhidden">
                  </a>

                  <a href="#" onclick="return false;" class="explore-frame-link">
                    <h3 class="explore-frame-title">
                      Conan Rents a Super Slow-Motion Camera and Films his Face Reading this REALLY LONG TITLE
                    </h3>
                  </a>
                </article>
              </li>

            </ol>
          </section>
        </li>
      </ol>
    </div>
  </section><!-- eo .explore -->
</section><!-- eo .content_lining -->

<section class="js-inactivity-preemption js-guide guide-wrapper sidebar_module clearfix" role="sidebar">
  <div class="guide-explore clearfix">
    <ul class="list_module guide-list">
      <li class="list_item guide-item">
        <button class="list_button guide-link">
          Popular Culture
        </button>
      </li>

      <li class="list_item guide-item">
        <button class="list_button guide-link">
          Sports
        </button>
      </li>

      <li class="list_item guide-item">
        <button class="list_button guide-link">
          Political Underground Movements
        </button>
      </li>
    </ul>
  </div>
</section><!-- eo .guide-wrapper -->