<% var userNickname = shelby.models.user.get('nickname') %>
<div class="external-tools__head clearfix">
  <h1 class="external-tools__h1">
    Add video to your stream
  </h1>

  <h2 class="external-tools__h2">
    We make it simple to <strong>Roll</strong> or <strong>Like</strong> <br />
    a video from any website on the web.
  </h2>
</div><!-- eo external-tools__head -->

<div class="external-tools__body">
  <% if(opts.displayExtension){ %>
    <div class="external-tools__lining external-tools__lining--extension clearfix">
      <a class="button_primer faux_button button_gray-medium button_standard external-tools__button" href="https://chrome.google.com/webstore/detail/shelbytv-video-radar/ifdmhakojchpihfoebiihdjcphmmhcol" title="Drag me onto your bookmarks bar!">
        <i class="button_icon_left icon"></i> Chrome Extension
      </a>

      <div class="external-bookmarklet-instructions">
        <h3 class="bookmarklet-help-header">
          Shelby Video Radar
        </h3>

        <p class="extension__block">
          Add the <strong>Shelby Video Radar</strong> to your Google Chrome toolbar to start <strong>Rolling</strong> and <strong>Liking</strong> from your favorite websites.
        </p>
      </div>
    </div><!-- eo .external-subsection -->
  <% } %>

  <div class="external-tools__lining external-tools__lining--bookmarklet clearfix">
    <a class="button_primer faux_button button_gray-medium button_wide external-tools__button" href="javascript:(function(){window.isShelbyBookmarklet=true;_sbm=document.createElement('SCRIPT');_sbm.type='text/javascript';_sbm.src='//shelby.tv/assets/shelbify.js';document.getElementsByTagName('head')%5B0%5D.appendChild(_sbm);})();" title="Drag me onto your bookmarks bar!">
      <i class="icon icon-videocard_roll"></i> Shelby Video
    </a>

    <p class="external-block external-bookmarklet-caption">
      <span class="external-bookmarklet-button-subline">
        (Click and Drag to your Bookmarks Bar)
      </span>
    </p>

    <div class="external-bookmarklet-instructions">
      <%= SHELBYJST['bookmarklet-instructions']() %>
    </div>
  </div><!-- eo .external-subsection -->
</div><!-- eo .external-tools__body -->