<div class="external-tools-lining clearfix">
  <h1 class="external-header">
    Add video to Shelby
  </h1>

  <p>
    Want to Queue a video from someone's blog post? Or Roll an interesting video you just found? We make it easy.
  </p>

<!--
  <h2>
    Chrome Extension
  </h2>

  <p>
    Here is some text about the chrome extension. I heard it's Rodan's favorite chrome tool to roll videos to his Shelby account.
  </p>

  <button>
    <i class="button_icon icon_videocard_roll">
      Add to Chrome
    </i>
  </button>

-->
  <div class="external-subsection">
    <h2>
      Bookmarklet
    </h2>

    <img class="external-figure bookmarklet-figure" src="/images/tools/tools_shot.png" alt="The bookmarklet being used in the wild" title="Roll, Queue, and share a video from any website!">  

    <div class="external-bookmarklet-button-wrapper">
      <a class="external-bookmarklet-button" href="javascript:window.isShelbyBookmarklet=true;_sbm=document.createElement('SCRIPT');_sbm.type='text/javascript';_sbm.src='//shelby.tv/assets/shelbify.js';document.getElementsByTagName('head')%5B0%5D.appendChild(_sbm);" title="Drag me onto your bookmarks bar!">
        <i class="button_icon icon_videocard_roll add-icon">
          Shelby Bookmarklet
        </i>
      </a>
      <br />
      &uarr; Click and Drag &uarr;
    </div>

    <p class="external-block">
      Drag the bookmarklet on to your <strong>Bookmarks Bar</strong>. Click it when you want to <strong>Roll</strong>, <strong>Queue</strong>, and <strong>share a video</strong> from any website.
    </p>

  </div><!-- eo .external-subsection -->
</div><!-- eo .external-tools-lining -->