<div class="external-tools-lining clearfix">
  <h1 class="external-header">
    Add video to Shelby
  </h1>

  <p class="external-block">
    Want to <strong>Queue</strong> a video from someone's blog post? Or <strong>Roll</strong> an interesting video you just found? We make it easy.
  </p>

  <div class="external-subsection">
    <h2 class="external-subheader">
      Shelby Radar
    </h2>

    <div class="external-bookmarklet-button-wrapper">
      <a class="external-bookmarklet-button" href="<%= shelby.config.chromeExtensionWebStoreUrl %>" title="Click to add the Chrome Extension!">
        <i class="button_icon chrome-icon">
          Chrome Extension
        </i>
      </a>
    </div>

    <p class="external-block">
      Click the button above to add <strong>Shelby Radar</strong> to your Google Chrome browser from the Chrome App Store.
    </p>
  </div><!-- eo .external-subsection -->

  <div class="external-subsection">
    <h2 class="external-subheader">
      Bookmarklet
    </h2>

    <img class="external-figure bookmarklet-figure" src="/images/tools/tools_shot.png" alt="The bookmarklet being used in the wild" title="Roll, Queue, and share a video from any website!">  

    <div class="external-bookmarklet-button-wrapper">
      <a class="external-bookmarklet-button" href="javascript:(function(){window.isShelbyBookmarklet=true;_sbm=document.createElement('SCRIPT');_sbm.type='text/javascript';_sbm.src='//shelby.tv/assets/shelbify.js';document.getElementsByTagName('head')%5B0%5D.appendChild(_sbm);})();" title="Drag me onto your bookmarks bar!">
        <i class="button_icon icon_videocard_roll add-icon">
          Shelby Bookmarklet
        </i>
      </a>
      <br />
      &uarr; Click and Drag &uarr;
    </div>

    <p class="external-block">
      Drag the bookmarklet on to your <strong>Bookmarks Bar</strong>. Click it when you want to <strong>Roll</strong>, <strong>Queue</strong>, and <strong>share a video</strong> from any website.
    </p>

  </div><!-- eo .external-subsection -->
</div><!-- eo .external-tools-lining -->