<% var creator = frame.get('creator') %>
<% var frameThumbnail = frame.get('video').get('thumbnail_url') %>
<% var thumbnailText = (creator ? "posted by " + creator.get('nickname') : "video thumbnail") %>

<div class="guide-overlay-header rolling-header">
  <div class="guide-overlay-title">
    <button class="cancel js-track-event" data-ga_category="Rolling" data-ga_action="Click cancel" data-ga_label='<%= user.get('nickname') %>'>
      Cancel
    </button>
		<button class="back js-track-event" data-ga_category="Rolling" data-ga_action="step_2_back" data-ga_label='<%= user.get('nickname') %>'
			style="display:none;">
      Back
    </button>
    <h2 class="title">Roll Video</h2>
  </div>
  
  <%=
    JST['wide-thumbnail-overlay']({
      creatorName : creator.get('nickname'),
      showThumbnail : true,
      thumbnail : frameThumbnail,
      title : frame.get('video').get('title')
    })
  %>

<div class="guide-overlay-main rolling-main">
	
	<div class="rolling-form">
		<!-- Form content from RollingFormView -->
	</div>
	
	<div class="select-roll-type">  
		<button class="create-roll js-track-event" data-ga_category="Rolling" data-ga_action="create_new_roll" data-ga_label='<%= user.get('nickname') %>'>
			Create
		</button>
		
		<h3 class="rolling-main-header">Rolls</h3>
  
	  <div class="js-existing-rolls-list existing-rolls-list">
	    <!-- Rolls UL added + filled out by RollingSelctionListView -->
	  </div>
	</div>
</div>



