<div class="frame-likes frame-external-subline icon-like icon-like--red js-frame-likes">
    <!-- Filled in by the FrameLikesView -->
</div><!-- eo frame-likes -->
<div class="frame-likes frame-external-subline icon-roll icon-roll--green js-frame-rollers">
    <!-- Filled in by the FrameRollersView -->
</div><!-- eo frame-rollers -->
<div class="frame-likes frame-recs frame-external-subline icon-mark icon-mark--blue js-frame-recs">
    <!-- Filled in by the FrameRecsView -->
</div><!-- eo frame-recs -->
