        <!-- new videocard -->
           <article id="__id__" class="xframe">
            <header class="xframe-header">
              <h1 class="xframe-title">
                Alex Alexander and His Really Stupid Terrible Horrible No-Good Very-Bad Day, What A Loser
              </h1>
            </header>
            <div class="xframe-body-wrapper clearfix">
              <div class="xframe-body">
                <div class="menu_module xframe-menu">
                  <ul class="menu_list xframe-command-menu xframe-list" role="menubar">
                    <li class="menu_item" role="menuitem">
                      <button class="xframe-command command-queue">
                        Queue
                      </button>
                    </li>
                    <li class="menu_item" role="menuitem">
                      <button class="xframe-command command-roll">
                        Roll…
                      </button>
                    </li>
                    <li class="menu_item right command-sublist" aria-haspopup="true">
                      <button class="menu_sublist_anchor xframe-command command-more">
                        More
                      </button>
                      <ul class="menu_sublist xframe-sublist" role="menu">
                        <li class="menu_option xframe-item" role="menuitem">
                          <button class="xframe-option command-share">
                            Share Video
                          </button>
                        </li>
                        <li class="menu_option xframe-item" role="menuitem">
                          <button class="xframe-option command-remove">
                            Remove Video
                          </button>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </div><!-- eo .xframe-menu -->
                  <div class="image_module xframe-thumbnail js-frame-activate" style="background-image: url('<%= '/images/avatar.jpg' %>');" role="img">
                    <img class="visuallyhidden" src="<%= '/images/avatar.jpg' %>" title="__TITLE__" alt="Thumbnail of __TITLE__">
                  </div>
                  <!-- <div class="xframe-thumbnail xframe-thumbnail-missing"></div> -->
              </div><!-- eo .xframe-body -->

              <footer class="media_module xframe-footer">
                <a href="#" class="media_image">
                  <span class="image_module xuser-avatar" style="background-image: url(<%= '/images/avatar.jpg' %>);" role="img">
                    <img src="<%= '/images/avatar.jpg' %>" class="visuallyhidden" title="__USER__" alt="Thumbnail of __USER__">
                  </span>
                </a>
                <div class="media_body">
                  <p class="xuser-data">
                    shared by <strong>vincentvondoom</strong> on twitter
                  </p>
                  <p>
                    Just a reminder: We're going to have a pretty amazing event for @jeffemire's UNDERWATER WELDER tomorrow! http://beguiling.com
                  </p>
                  <p class="xframe-comment">
                    <a href="#" class="xframe-link xframe-comment-link">
                      Comments (40)
                    </a>
                  </p>
                </div>
              </footer><!-- eo .media_module-->
            </div><!-- eo .xframe-body-wrapper -->
          </article>
        <!-- end new videocard -->
