<% var creator = frame.get('creator') %>
<% var frameTitle = frame.get('title') || '' %>
<% var frameThumbnail = frame.get('video').get('thumbnail_url') %>
<% var thumbnailText = (creator ? "posted by " + creator.get('nickname') : "video thumbnail") %>
<div class="overlay_header guide-overlay-header conversation-header">
  <div class="guide-overlay-title">
    <button class="cancel js-cancel js-track-event" data-ga_category="Conversation" data-ga_action="Click cancel" data-ga_label="<%= user.get('nickname') %>">
      <i class="cancel-icon">Cancel</i>
    </button>
    <h2>Destination: <span class="em">user.shelby.tv</span></h2>
  </div>
</div>

<div class="overlay_body guide-overlay-body conversation-body">
  <h1 class="xframe-title" title="<%= frameTitle %>">
    <%= frameTitle || '' %> 
  </h1>
  
  <div class="xframe-body-wrapper">
    <%=
      JST['thumbnail-module']({
        thumbnail : frameThumbnail,
        title : frame.get('video').get('title')
      })
    %>

    <div class="guide-overlay-main rolling-main">
      <div class="rolling-form">
        <!-- Form content from RollingFormView -->
      </div>
    </div><!-- eo guide-overlay-main -->
  </div><!-- eo xframe-body-wrapper -->
</div><!-- eo overlay_body-->



