<div class="frame-likes frame-external-subline icon-heart icon-heart--red js-frame-likes">
    <!-- Filled in by the FrameLikesView -->
</div><!-- eo frame-likes -->
<div class="frame-likes frame-external-subline icon-videocard_roll icon-videocard_roll--green js-frame-rollers">
    <!-- Filled in by the FrameRollersView -->
</div><!-- eo frame-rollers -->