<div id="js-guide" class="guide_module">
  <div id="js-guide-header" class="guide__head clearfix">
    <div id="js-roll-action-menu" class="guide__menu guide__menu--rolls">
      <!-- content filled in by RollActionMenuView -->
    </div>

    <div id="js-item-header" class="guide__header">
      <!-- content filled in by ItemHeaderView -->
    </div>
  </div>

  <div id="js-guide-body" class="guide__body">
    <div id="guide">
      <!-- content filled in by GuideContentView -->
    </div>
  </div>
</div><!-- eo .guide -->