<form id="js-nav-search-form" class="nav-search-form">
  <span class="nav-search-form-text">
    <input name="search" type="text" placeholder="Search Shelby" class="form_input js-nav-search-form-text" id="js-nav-search-form-text" />
  </span>
</form>