<div id="js-guide" class="guide_module">
  <div id="js-guide-header" class="guide_head guide-head clearfix">
    <div id="js-roll-action-menu" class="guide-head-menu roll-action-menu">
      <!-- content filled in by RollActionMenuView -->
    </div>

    <div id="js-item-header" class="guide-header">
      <!-- content filled in by ItemHeaderView -->
    </div>
  </div>

  <div id="js-guide-body" class="guide_body guide-body">
    <div id="js-add-video-area" class="guide-body-menu video-card add-video-area">
      <!-- content filled in by AddVideoView -->
    </div>

    <div id="guide" class="guide-body-content">
      <!-- content filled in by GuideContentView -->
    </div>
  </div>
</div><!-- eo .guide -->