<form id="js-nav-search-form" class="app_search__form">
  <label class="app_search__label js-nav-search-form-text-wrapper" title="Search" for="js-nav-search-form-text">
    <span class="icon icon-search"></span>
    <input name="query" type="text" placeholder="Search" class="app_search__input js-nav-search-form-text" id="js-nav-search-form-text" />
  </label>
</form><!-- eo app_search__form -->