
<ul class="js-content-selector guide-presentation-list clearfix">
  <li class="guide-presentation-item">
    <button class="js-stream">
      Stream
    </button>
  </li>

  <li class="guide-presentation-item">
    <button class="js-my-rolls">
      Rolls
    </button>
  </li>

  <li class="guide-presentation-item">
    <button class="js-browse">
      Explore
    </button>
  </li>

  <li class="guide-presentation-item guide-settings">
    <button class="js-settings guide-settings-anchor">
    </button>

    <ul id="js-settings-subnav" class="guide-settings-list">
      <li class="guide-settings-item">
        <span class="guide-settings-userhandle"><%= user.get('nickname') %></span>
      </li>
      <li class="guide-settings-item">
        <button class="guide-settings-button js-help">Help</button>
      </li>
      <li class="guide-settings-item">
        <button class="guide-settings-button js-team">Team</button>
      </li>
      <li class="guide-settings-item">
        <button class="guide-settings-button" data-href="http://shelby.tv/blog" data-target="_blank">Blog</button>
      </li>
      <li class="guide-settings-item">
        <button class="guide-settings-button js-legal">Legal</button>
      </li>
      <li class="guide-settings-item">
        <button class="guide-settings-button js-preferences">Preferences</button>
      </li>
      <li class="guide-settings-item">
        <button class="guide-settings-button js-signout">Log Out</button>
      </li>
    </ul><!-- eo guide-settings-list -->
  </li>
</ul><!-- eo guide-presentation-list -->