<form id="js-nav-search-form" class="nav-search-form">
  <span class="button_icon icon_search icon nav-search-form-text js-nav-search-form-text-wrapper">
    <input name="search" type="text" placeholder="Search Shelby" class="js-nav-search-form-text" id="js-nav-search-form-text" />
  </span>
</form>