<div id="js-guide" class="guide">
  <div id="js-guide-header" class="menu">
    <div id="js-item-header">
      <!-- content filled in by ItemHeaderView -->
    </div>

    <div id="js-roll-action-menu" class="roll-action-menu">
      <!-- content filled in by RollActionMenuView -->
    </div>
  </div>

  <div id="js-guide-body" class="content-body">
    <div id="js-add-video-area" class="video-card add-video-area">
      <!-- content filled in by AddVideoView -->
    </div>

    <div id="guide">
      <!-- content filled in by GuideContentView -->
    </div>
  </div>
</div><!-- eo .guide -->