<div class="in-stream-roll-promo-item in-stream-promo xframe-list-item">
  <img src="<%= roll.get('img_src') %>" />
  <h3>
    <%= roll.get('title') %>
  </h3>
  <a href="#" onclick="return false;" class="js-goto-roll js-track-event" data-ga_category="Stream" data-ga_action="Click on roll promo" data-ga_label="<%= roll.get('roll_id') %>">
    <h3>
      view roll
    </h3>
  </a
</div>