<div class="in-stream-promo clearfix xframe-list-item">
  <button class="in-stream-promo-button js-goto-explore js-track-event" data-ga_category="Stream" data-ga_action="Click on explore promo" data-ga_label="<%= shelby.models.user.get('nickname') %>">
    Explore
  </button>
  <h3 class="in-stream-promo-header">
    Discover even more content in Shelby!
  </h3>
</div>