<div class="in-stream-explore-promo clearfix">
  <button class="in-stream-explore-promo-button js-goto-explore">
    Explore
  </button>
  <h3 class="in-stream-explore-promo-header">
    Discover even more content in Shelby!
  </h3>
</div>