<div class="frame-list-item frame--explore-promo clearfix">
  <button class="button_primer button_command button_command--sub button_green explore-promo__button js-goto-featured">
   Featured
  </button>

  <h3 class="explore-promo__h1">
    Discover even more content:
  </h3>
</div>
