<div class="frame-list-item frame--explore-promo clearfix">
  <button class="button_primer button_blue explore-promo__button js-goto-explore">
   #Channels
  </button>

  <h3 class="explore-promo__h1">
    Discover even more content in Shelby!
  </h3>
</div>
