<div class="in-line-promo xframe-list-item clearfix">
  <h3 class="in-line-promo-header">
    Discover even more great content
  </h3>
  <ul class="list">
    <%
      rolls.each(function(roll){
    %>
        <%= SHELBYJST['inline-roll-promo-item']({"roll":roll}) %>
    <%
      });
    %>
  </ul>
</div>