<div class="in-line-promo in-line-donate-promo xframe-list-item clearfix">
  <a href="http://www.redcross.org/charitable-donations" target="_blank" class="in-line-donate-link js-donate-link" data-roll_id="<%= roll.id %>">
    <div class="in-line-donate-lining">
      <h3 class="in-line-promo-header in-line-donate-header">
        <%= headerText %>
      </h3>
      <ul class="list">
        <li class="in-line-promo-item">
            <div class="in-line-promo-item-lining clearfix">
              <img class="in-line-promo-thumb" src="<%= roll.get('display_thumbnail_src') %>" />
              <h3 class="in-line-promo-title in-line-donate-title">
                <%= promoText %>
              </h3>
            </div>
        </li>
      </ul>
    </div>
  </a>
</div>