<div class="in-line-promo clearfix xframe-list-item">
  <button class="in-line-promo-button js-goto-explore js-track-event" data-ga_category="Promo" data-ga_action="Click explore promo" data-ga_label="explore">
    Explore
  </button>
  <h3 class="in-line-promo-header">
    Discover even more content in Shelby!
  </h3>
</div>