<div class="in-line-promo clearfix xframe-list-item">
  <button class="in-line-promo-button js-goto-explore">
    Explore
  </button>
  <h3 class="in-line-promo-header">
    Discover even more content in Shelby!
  </h3>
</div>