<form class="form_module invite-form">
  <h3>
    Shelby is in private beta
  </h3>
  <p>
    Invite a friend to join our commity
  </p>
  <fieldset class="form_fieldset">
    <label class="form_label" for="invite-email">
      To
    </label>
    <input id="invite-email" class="form_input js-invite-email" type="email" name="invite-email" autofocus tabindex="0" placeholder="email@address.com" />
    <label class="form_label" for="invite-to">
      Subject
    </label>
    <input id="invite-to" class="form_input js-invite-to" type="text" name="invite-to" tabindex="0" value="Someone invites you to join Shelby.tv" disabled />
    <label class="form_label" for="invite-message">
      Message
    </label>
    <textarea class="form_textarea js-invite-textarea" name="invite-message" id="invite-message" tabindex="0">Check out Shelby.tv!  It's a simple new way to explore video.</textarea>
    <button onclick="return false;" class="js-send-invite form_submit button_primer button_default" type="submit" tabindex="0">
      Send Invite
    </button>
  </fieldset>
</form>