<button class="guide-header-button guide-button-home js-full-shelby-button"></button>
<% if (showFollowButton) { %>
  <button class="guide-header-button guide-follow-button js-follow-button"></button>
<% } %>