<!-- using frame_count to determine if frame has been fetched or not -->
<% if(roll.has('frame_count')){ %>
	<div class="image_module" id="guide-header-roll-header-image" style="background-image: url('<%= libs.shelbyGT.viewHelpers.roll.guideHeaderImageURL(roll) %>');">
		<img src="<%= libs.shelbyGT.viewHelpers.roll.guideHeaderImageURL(roll) %>" class="visuallyhidden" />
		<h2 class="guide-header-roll-header-title">
			<%= roll.get('title') %>
		</h2>
	</div>
<% } %>