<article class="about-legal">
	<header class="about-header clearfix">
		<h1>
			Legal
		</h1>
	</header>

	<dl class="about-term-list">
		<dt class="">
			Privacy
		</dt>
		<dd class="about-definition">
			We take your online privacy seriously.  Please see our <a href="http://shelby.tv/privacy.html" target="privacy">Privacy Policy</a> for more details.
		</dd>
	</dl>
	
	<dl class="about-term-list">
		<dt class="">
			Usage
		</dt>
		<dd class="about-definition">
			We want you to enjoy Shelby.tv, and we want to make the Internet a better place.
			Our lawyers say these <a href="http://shelby.tv/tou.html" target="tou">Terms of Use</a> will help with that.
		</dd>
	</dl>
	
	<dl class="about-term-list">
		<dt class="">
			Copyright
		</dt>
		<dd class="about-definition">
			Built @ Cyberdyne Systems, NYC
		</dd>
		<dd class="about-definition">
			&copy; 2012 Shelby TV, Inc.
		</dd>
	</dl>
	
</article>