<li style="display:none" class="js-load-more js-loading load-more js-track-event" data-ga_category="Guide" data-ga_action="Click load more" data-ga_label='<%= shelby.models.user.get('nickname') %>'>
	<button class="load-more-button js-load-more-button">
		Loading...
	</button>
</li>
