<button class="button_primer button_gray load-more-button js-load-more-button js-track-event" data-ga_category="Guide" data-ga_action="Click load more" data-ga_label='<%= shelby.models.user.get('nickname') %>'>
	Loading...
</button>