<ul class="list_module me-section">
  <li class="js-me-rolls-list">
    <h1 class="me-header js-me-header">Me</h1>
    <!-- <ul class="list_module guide-list">
      <li class="list_item guide-item clearfix">matyus.shelby.tv</li>
    </ul> -->
    <!-- Content filled in by RollListView -->
  </li>
  <li class="js-following-rolls-list">
    <h2 class="me-header js-following-header">Following</h2>
    <!-- Content filled in by RollListView -->
  </li>
</ul>