<div id="js-notifications" class="notification_module notification_module--feedback <%= model.get('class') %>">
  <div class="notification_actions">
    <button class="button_primer button_blue notification_button js-dismiss">
      &times;
    </button>

    <span class="notification_label js-confirm">
      Dismiss
    </span>
  </div><!-- eo notification_actions -->

  <div class="notification_body">
    <h1 class="notification_message">
      <%= model.get("message") %>
    </h1>
  </div><!-- eo notification_body -->
</div>