<div id="js-notifications" class="media_module notification_module notification_module--feedback <%= model.get('class') %>">
  <div class="media_image notification_actions">
    <button class="button_primer button_blue notification_button js-button js-confirm">
      &times;
    </button>

    <a href="#" onclick="return false;" title="Close" class="notification_label js-button js-confirm">
      Dismiss
    </a>
  </div><!-- eo notification_actions -->

  <div class="media_body notification_body">
    <h1 class="notification_message">
      <%= model.get("message") %>
    </h1>
  </div><!-- eo notification_body -->
</div>