<div class="notification__wrapper">
  <div class="js-notifications notification notification--blue <%= model.get('class') %>">
    <div class="notification__head">
      <p class="notification__block">
        <%= model.get("message") %>
      </p>
    </div><!-- eo notification__head -->

    <div class="notification__body">
      <a href="#" onclick="return false;" title="Close" class="notification__button--close faux_button icon_primer icon--cancel js-button js-confirm">
        Dismiss
      </a>
    </div><!-- eo notification__body -->
  </div><!-- eo notification -->
</div><!-- eo notification__wrapper -->