<% var primary = model.get('button_primary') %>
<% var secondary = model.get('button_secondary') %>

<div class="js-notifications notification <%= model.get('class') %>">
  <div class="notification__head">
    <p class="notification__block">
      <%= model.get("message") %>
    </p>
  </div><!-- eo notification__head -->

  <div class="notification__body">
    <% if (primary.title) { %>
      <button class="button_primer button_blue notification__button--primary faux_button js-primary">
        <%= primary.title %>
      </button>
    <% } %>

    <% if (secondary.title) { %>
      <button class="notification__button--secondary faux_button js-secondary">
        <%= secondary.title %>
      </button>
    <% } %>
  </div><!-- eo notification__body -->
</div><!-- eo notification -->