<article id="51f02329b415cc1a18051124" class="animate_module frame frame--abstract frame-list-item">
  <h1 class="frame-title" title="The Pixel Painter">
   The Cutest Corgi Video Ever
  </h1>

  <div class="frame-body-wrapper clearfix">
    <div class="frame-body">
      <span class="image_module frame-thumbnail icon icon-play" style="" role="img">
      </span>
    </div><!-- eo .frame-body -->

    <footer class="media_module frame-footer clearfix">
      <span class="image_module xuser-avatar media_image" style="" role="img"></span>

      <div class="media_body">
        <span class="xuser-data-timestamp">Jul 24</span>

        <p class="xuser-data">
          <span class="no-faux-link" data-user_nickname="tsvi.tannin"><strong>reece</strong></span>
        </p>

        <p class="xuser-message">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur, asperiores, incidunt, enim, minus ea
        </p>
      </div><!-- eo .media_body -->
    </footer><!-- eo .media_module-->
  </div><!-- eo .frame-body-wrapper -->

  <div class="frame-likes frame-external-subline icon-like">
    <ul class="list frame-likes-avatars">
      <li>
        <a class="frame-likes-link" href="#">
          <span class="frame-likes-avatar"></span>
        </a>
      </li>

      <li>
        <a class="frame-likes-link" href="#">
          <span class="frame-likes-avatar"></span>
        </a>
      </li>

      <li>
        <a class="frame-likes-link" href="#">
          <span class="frame-likes-avatar"></span>
        </a>
      </li>

      <li>
        <a class="frame-likes-link" href="#">
          <span class="frame-likes-avatar"></span>
        </a>
      </li>

      <li>
        <a class="frame-likes-link" href="#">
          <span class="frame-likes-avatar"></span>
        </a>
      </li>
    </ul>

    <span class="frame-likes-count frame-external-subline-text">+2</span>
  </div><!-- eo frame-likes -->

  <div class="frame-likes frame-external-subline icon-roll">
    <ul class="list frame-likes-avatars">
      <li>
        <a class="frame-likes-link" href="#">
          <span class="frame-likes-avatar"></span>
        </a>
      </li>

      <li>
        <a class="frame-likes-link" href="#">
          <span class="frame-likes-avatar"></span>
        </a>
      </li>

      <li>
        <a class="frame-likes-link" href="#">
          <span class="frame-likes-avatar"></span>
        </a>
      </li>
    </ul>
  </div><!-- eo frame-rollers -->
</article>