
<li class="list_item guide-item <%= stage>=1 ? 'active-list-item' : '' %>">
  <button class="list_button guide-link">
    onb 1
  </button>
</li>

<li class="list_item guide-item <%= stage>=2 ? 'active-list-item' : '' %>">
  <button class="list_button guide-link">
    onb 2
  </button>
</li>
