<div class="frame-body-wrapper js-popup-form-item">
  <fieldset class="form_fieldset form_fieldset--annotation">
    <h3 class="guide-overlay__h3">
      Popup #
    </h3>

    <label for="preset" class="form_label form_legend">
      Style
    </label>

    <select class="form_select">
      <option class="form_option">Meme</option>
      <option class="form_option">Basic</option>
      <option class="form_option">Sticky Note</option>
    </select>

    <fieldset class="form_fieldset">
      <h4 class="form_legend">
        Start
      </h4>

      <hr class="hr--double" />

      <ul class="list list--fifths">
        <li>
          <label class="form_label" for="start-hours">
            Hour
          </label>
          <input id="start-hours" class="form_number" type="number" value="00"  min="0" max="12" /> :
        </li><!--

        --><li>
          <label class="form_label" for="start-minutes">
            Minute
          </label>
          <input id="start-minutes" class="form_number" type="number" value="00" min="0" max="60" /> :
        </li><!--

        --><li>
          <label class="form_label" for="start-seconds">
            Second
          </label>
          <input id="start-seconds" class="form_number" type="number" value="00" min="0" max="60"/>
        </li>
      </ul>
    </fieldset>

    <fieldset class="form_fieldset">
      <h4 class="form_legend">
        End
      </h4>

      <hr class="hr--double" />

      <ul class="list list--fifths">
        <li>
          <label class="form_label" for="end-hours">
            Hour
          </label>
          <input id="end-hours" class="form_number" type="number" value="00"  min="0" max="12" /> :
        </li><!--

        --><li>
          <label class="form_label" for="end-minutes">
            Minute
          </label>
          <input id="end-minutes" class="form_number" type="number" value="00" min="0" max="60" /> :
        </li><!--

        --><li>
          <label class="form_label" for="end-seconds">
            Second
          </label>
          <input id="end-seconds" class="form_number" type="number" value="00" min="0" max="60"/>
        </li>
      </ul>
    </fieldset>
  </fieldset>
  <fieldset class="form_fieldset--annotation">
    <label class="form_label form_legend">
      Message
    </label>

    <textarea class="form_textarea"></textarea>
  </fieldset>
</div><!-- eo js-popup-form-item -->