<div class="js-popup-form-item">
  <fieldset class="form_fieldset form_fieldset--annotation">
    <h3 class="guide-overlay__h3">
      Popup #
    </h3>

    <ul class="list list--fourths">
      <li>
        <label class="form_label" for="hours">
          Hour
        </label>
        <input id="hours" class="form_number" type="number" value="00" /> :
      </li><!--

      --><li>
        <label class="form_label" for="minutes">
          Minute
        </label>
        <input id="minutes" class="form_number" type="number" value="00" /> :
      </li><!--

      --><li>
        <label class="form_label" for="seconds">
          Second
        </label>
        <input id="seconds" class="form_number" type="number" value="00" />
      </li>
    </ul>
  </fieldset>
  <fieldset class="form_fieldset--annotation">
    <label class="form_label">
      Message
    </label>

    <textarea class="form_textarea"></textarea>
  </fieldset>
</div><!-- eo js-popup-form-item -->