<div class="form_module">
  <h1 class="form__legend">
    Networks
  </h1>

  <p class="form__description">
    Wait, you have friends?
  </p>

  <div class="media_module network">
    <div class="media_image badge badge--twitter"></div>

    <div class="media_image media_image--rev">
      <button class="button_primer button_command button_command--flexible button_gray">
        Connect
      </button>
    </div>

    <div class="media_body">
      <p class="network__h1">
        Twitter
      </p>

      <p class="network__h2">
        @vondoom
      </p>

      <div class="form_fieldset">
        <input type="checkbox" class="form_checkbox form_checkbox--inline" id="connectTwitter" name="connectTwitter" />
        <label for="connectTwitter" class="form_label">Follow @shelby</label>
      </div>
    </div>
  </div><!-- network -->
</div>