<div class="form_module">
  <h1 class="form__legend">
    Follow Sources
  </h1>
  <ul class="list roll_categories js-sources-list--preferences">
    <!-- filled in by the FollowSourcesView -->
  </ul>
</div>
