<form action="/" class="form_module">
  <legend class="form__legend">
    Password
  </legend>

  <p class="form__description">
    Change your super secret password.
  </p>

  <fieldset class="form_fieldset">
    <label for="userPassword" class="form_label">
      Current Password
    </label>

    <input type="text" class="form_input" id="userPassword" name="userPassword" />
  </fieldset>

  <fieldset class="form_fieldset">
    <label for="newPassword" class="form_label">
      Current Password
    </label>

    <input type="text" class="form_input" id="newPassword" name="newPassword" />
  </fieldset>

  <fieldset class="form_fieldset">
    <label for="newPasswordConfirm" class="form_label">
      Current Password
    </label>

    <input type="text" class="form_input" id="newPasswordConfirm" name="newPasswordConfirm" />
  </fieldset>

  <fieldset class="form_fieldset">
    <button class="button_primer button_command button_command--submit button_green">
      Save
    </button>

    <button class="button_primer button_command button_command--submit button_gray">
      Cancel
    </button>
  </fieldset>
</form>