<div class="form_module">
  <h1 class="form__legend">
    Follow Sources
  </h1>
  <div class="roll_categories js-sources-list--preferences">
    <!-- filled in by the FollowSourcesView -->
  </div>
</div>
