<form action="/preferences/password" class="form_module js-preferences-password">
  <h1 class="form__legend">
    Change Password
  </h1>

  <fieldset class="form_fieldset">
    <label for="newPassword" class="form_label">
      New Password
    </label>
    <span class="form_error"></span>
    <input type="password" class="form_input" id="newPassword" name="newPassword" />
  </fieldset>

  <fieldset class="form_fieldset">
    <label for="newPasswordConfirm" class="form_label">
      Confirm New Password
    </label>
    <span class="form_error"></span>
    <input type="password" class="form_input" id="newPasswordConfirm" name="newPasswordConfirm" />
  </fieldset>

  <fieldset class="form_fieldset">
    <button type="submit" class="button_primer button_command button_command--submit button_green">
      Save
    </button>

    <button type="reset" class="button_primer button_command button_command--sub button_command--cancel button_command--submit button_gray">
      Reset
    </button>
  </fieldset>
</form>