<form action="/" class="form_module">
  <legend class="form__legend">
    Notifications
  </legend>

  <p class="form__description">
    Let us tell you how popular you are.
  </p>

  <fieldset class="form_fieldset">
    <input type="checkbox" class="form_checkbox form_checkbox--inline" id="notificationNews" name="notificationNews" />

    <label for="notificationNews" class="form_label form_label--inline">
      News and Updates
    </label>
  </fieldset>

  <fieldset class="form_fieldset">
    <input type="checkbox" class="form_checkbox form_checkbox--inline" id="notificationLikes" name="notificationLikes" />

    <label for="notificationLikes" class="form_label form_label--inline">
      Likes
    </label>
  </fieldset>

  <fieldset class="form_fieldset">
    <input type="checkbox" class="form_checkbox form_checkbox--inline" id="notificationReRolls" name="notificationReRolls" />

    <label for="notificationReRolls" class="form_label form_label--inline">
      Re-Rolls
    </label>
  </fieldset>

  <fieldset class="form_fieldset">
    <input type="checkbox" class="form_checkbox form_checkbox--inline" id="notificationRollActivity" name="notificationRollActivity" />

    <label for="notificationRollActivity" class="form_label form_label--inline">
      Roll Activity
    </label>
  </fieldset>

  <fieldset class="form_fieldset">
    <button class="button_primer button_command button_command--submit button_green">
      Save
    </button>

    <button class="button_primer button_command button_command--submit button_gray">
      Cancel
    </button>
  </fieldset>
</form>