<div class="empty-indicator-lining empty-queue">
  <h2 class="empty-indicator-header">
    Let's queue up some video!
  </h2>
  
  <ul class="list empty-indicator-list">
    <li>
      <div class="empty-indicator-section empty-indicator-within-shelby">
          <h3 class="empty-indicator-subheader">
            Within Shelby
          </h3>
          <p class="empty-indicator-block">
            Click the QUEUE button on any video in Shelby to save it for viewing at a later time.
          </p>
        </div>
    </li>
    <li>
      <div class="empty-indicator-section">
          <h3 class="empty-indicator-subheader">
            Across the web
          </h3>
          <button class="button_primer button_blue empty-indicator-button">Browser Tools</button>
          <p class="empty-indicator-block">
            Queue video directly from your favorite websites using our <a class="tools-link" href="#" onclick="return false;">browser tools</a>.
          </p>
        </div>
    </li>
  </ul>
</div>