<div class="empty-indicator-lining empty-queue">
  <h2 class="empty-indicator-header">
    No Activity
  </h2>

  <ul class="list empty-indicator-list">
    <li>
      <div class="empty-indicator-section empty-indicator-within-shelby">
        <h3 class="empty-indicator-subheader">
          Within Shelby
        </h3>
        <button class="empty-indicator-button button_primer button_gray button_command button_command--like visuallydisabled js-track-event" data-ga_category="Likes Section" data-ga_action="Click disabled like buttons" data-ga_label="<%= shelby.models.user.get('nickname') %>">
          <span class="icon icon-like js-command-icon"></span>
          <span class="label">
            Like
          </span>
        </button>
        <p class="empty-indicator-block">
          Click the LIKE button on any video and it will appear here!
        </p>
      </div>
    </li>
  </ul>
</div>
