<%
  var creator = frame.get('creator');
  var creatorNickname = creator ? frame.get('creator').get('nickname') : '';
  var messages = (frame.get('conversation') && frame.get('conversation').get('messages')) || [];

  var messageText;
  if (!frame.get('isSearchResultFrame')) {
    messageText = (creatorNickname) ? "&#x2794;@"+creatorNickname : '';
    if(messages.length > 0){
      messageText += ": "+messages.first().get('text');
    }
  } else {
    messageText = '';
  }
%>

<%=
  SHELBYJST['media-module']({
    userAvatar   : libs.shelbyGT.viewHelpers.user.avatarUrl(user),
    userNickname : user.get('nickname') || '',
    messageText  : messageText,
    subline      : false
  })
%>

<%
  var active_networks = [];
  if(user.get('authentications')){
    user.get('authentications').forEach(function(auth){
      active_networks.push(auth.provider);
    });
  }

  var twitter_enabled = _.include(active_networks, 'twitter') ? true : false;
  var facebook_enabled = _.include(active_networks, 'facebook') ? true : false;
%>

<div class="rolling-option">
  <% if (user.isAnonymous()) { %>
    <fieldset class="form_fieldset form_fieldset--social clearfix">
      <p class="form_label">
        Also Share to
      </p>

      <a href="#" target="_blank" class="disabled button_primer button_command button_command--share button_twitter-blue js-tweet-share">
        <span class="icon icon-twitter"></span>
        <span class="button_label">Twitter</span>
      </a>

      <a href="#" class="disabled button_primer button_command button_command--share button_facebook-blue js-facebook-post">
        <span class="icon icon-facebook"></span>
        <span class="button_label">Facebook</span>
      </a>
    </fieldset>
  <% } else { %>
    <fieldset class="form_fieldset form_fieldset--social clearfix">
      <p class="form_label">
        Also Share to
      </p>

      <label for="share-on-twitter" class="button_primer button_command button_command--flexible<%= (twitter_enabled) ? ' button_twitter-blue' : ' button_gray' %>">
        <input id="share-on-twitter" name="share-on-twitter" type="checkbox" class="visuallyhidden" />
        <span class="icon icon-twitter"></span>
        <span class="button_label">Twitter</span>
      </label>

      <label for="share-on-facebook" class="button_primer button_command button_command--flexible<%= (facebook_enabled) ? ' button_facebook-blue' : ' button_gray' %>">
        <input id="share-on-facebook" name="share-on-facebook" type="checkbox" class="visuallyhidden" />
        <span class="icon icon-facebook"></span>
        <span class="button_label">Facebook</span>
      </label>
    </fieldset>
  <% } %>


  <fieldset class="form_fieldset clearfix">
    <button class="button_primer button_command button_command--wide button_green js-roll-it" type="submit" tabindex="0" onclick="return false;">
      Roll It!
    </button>
    <button class="button_primer button_command button_command--flexible button_gray js-cancel">
      Cancel
    </button>

    <p class="form_label">
      Protip: Sharing improves videos recommended to you and your friends on Shelby.
    </p>
  </fieldset>
</div>