<%
  var creator = frame.get('creator');
  var creatorNickname = creator ? frame.get('creator').get('nickname') : '';
  var messages = (frame.get('conversation') && frame.get('conversation').get('messages')) || [];

  var messageText;
  if (!frame.get('isSearchResultFrame')) {
    messageText = (creatorNickname) ? "&#x2794;@"+creatorNickname : '';
    if(messages.length > 0){
      messageText += ": "+messages.first().get('text');
    }
  } else {
    messageText = '';
  }
%>

<%=
  SHELBYJST['media-module']({
    userAvatar   : libs.shelbyGT.viewHelpers.user.avatarUrl(user),
    userNickname : user.get('nickname') || '',
    messageText  : messageText,
    subline      : false
  })
%>

<%
  var active_networks = [];
  if(user.get('authentications')){
    user.get('authentications').forEach(function(auth){
      active_networks.push(auth.provider);
    });
  }

  var twitter_enabled = _.include(active_networks, 'twitter');
  var facebook_enabled = _.include(active_networks, 'facebook');

  var twitter_checked = _.include(enabledDestinations, 'twitter');
  var facebook_checked = _.include(enabledDestinations, 'facebook');
%>

<div class="rolling-option">
  <fieldset class="share_module share-option">
    <% if(twitter_enabled) { %>
      <label class="share_label" for="share-on-twitter" title="Share to Twitter">
        <input id="share-on-twitter" class="share_input share-option-twitter visuallyhidden js-toggle-twitter-sharing" name="share-option-twitter" type="checkbox" <%= twitter_checked ? 'checked="true" ' : '' %>/>
        <span class="ir share_label_icon share-button-twitter">Share to Twitter</span>
      </label>
    <% } %>

    <% if(facebook_enabled) { %>
      <label class="share_label" for="share-on-facebook" title="Share to Facebook">
        <input id="share-on-facebook" class="share_input share-option-facebook visuallyhidden js-toggle-facebook-sharing" name="share-option-facebook" type="checkbox" <%= facebook_checked ? 'checked="true" ' : '' %>/>
        <span class="ir share_label_icon share-button-facebook">Share to Facebook</span>
      </label>
    <% } %>

    <button id="js-roll-it" class="button_primer button_command button_command--wide button_green rolling-submit" type="submit" tabindex="0" onclick="return false;">
      Roll It!
    </button>
  </fieldset>
</div>