<a href="#" class="js-track-event" data-ga_category="Rolling" data-ga_action="click add to roll" data-ga_label='<%= shelby.models.user.get('nickname') %>'>
  <div class="roll-selection-item-lining clearfix">      
    <h2 class="roll-selection-item-title">
			<span class="path"><%= libs.shelbyGT.viewHelpers.roll.pathForDisplay(roll) %>/</span><%= libs.shelbyGT.viewHelpers.roll.titleWithoutPath(roll) %>
    </h2>

		<% if(libs.shelbyGT.viewHelpers.roll.urlForRoll(roll)) { %>
	    <h3 class="roll-selection-item-state">
				<%= libs.shelbyGT.viewHelpers.roll.urlForRoll(roll) %>
	    </h3>
		<% } %>
  </div>
</a>