<ul class="roll-menu clearfix"> 
  <li class="left">
    <button id="js-rolls-back" class="rolls-back js-track-event" data-ga_category="Roll List" data-ga_action="Click back" data-ga_label='<%= shelby.models.user.get('nickname') %>'>
    	Back
    </button>
  </li>
  <li class="middle">
    <button class="rolls-share js-share-roll"><%= actionCopy %></button>
  </li>
  <li class="right">
    <button class="rolls-edit js-edit-roll">Edit</button>
  </li>
  <li class="right">
    <button class="rolls-add js-leave-roll js-roll-add-leave-button"><!-- see RollActionMenuView._toggleJoinRoll() --></button>
  </li>
  <li class="right">
    <button id="js-roll-delete" class="roll-delete js-track-event" data-ga_category="Roll List" data-ga_action="Click delete" data-ga_label='<%= shelby.models.user.get('nickname') %>'>
  	  Delete
    </button>
  </li>
</ul>