<div class="media_module clearfix">
  <span class="media_image">
    <img class="xuser-avatar" src="<%= (isInAppUserProfile) ? libs.shelbyGT.viewHelpers.user.avatarUrl(user) : roll.get('thumbnail_url') %>" />
  </span>

  <div class="media_body user-nickname">
    <h2 class="roll-header__h1">
      <%= (isInAppUserProfile) ? shelby.models.user.get('nickname') : (libs.shelbyGT.viewHelpers.roll.titleForDisplay(roll) || '') %>
    </h2>

    <h3 class="roll-header__h2">
      <%= (isInAppUserProfile) ? shelby.models.user.get('name') : (user.get('name') || '') %>
    </h3>
  </div>
</div><!-- eo media_module -->

<% if (isInAppUserProfile) { %>
  <ul class="list list--fit tabs clearfix">
    <li class="one-third">
      <a href="#" class="button_standard tab js-track-event js-user-tab js-user-roll" data-ga_category="Me tab" data-ga_action="Click" data-ga_label="Roll">
        Roll
      </a>
    </li>

    <li class="one-third">
      <a href="#" class="button_standard tab js-track-event js-user-tab js-user-likes" data-ga_category="Me tab" data-ga_action="Click" data-ga_label="Likes">
        Likes
      </a>
    </li>

    <li class="one-third">
      <a href="#" class="button_standard tab js-track-event js-user-tab js-user-following" data-ga_category="Me tab" data-ga_action="Click" data-ga_label="Following">
        Following
      </a>
    </li>
  </ul>
<% } %>