<% /* parent:"roll-item" */ %>
<button class="list_button guide-link js-roll-item-button" data-roll_id="<%= roll.id %>">
  <i class="guide-link-icon">
    <%= libs.shelbyGT.viewHelpers.roll.titleForDisplay(roll) %>
  </i>
</button>

<% if ( roll.get('creator_id') != shelby.models.user.id ) { %>
  <button class="button_primer button_gray guide-link-unfollow js-roll-item-unfollow">
    Unfollow
  </button>
<% } %>