<% /* parent:"roll-item" */ %>

<button class="list_button guide-link js-roll-item-button">
  <i class="guide-link-icon">
    <%= libs.shelbyGT.viewHelpers.roll.titleForRollsList(roll) %>
  </i>
</button>

<% if ( roll.id != shelby.models.user.get('personal_roll_id') ) { %>
  <button class="guide-link-unfollow js-roll-item-unfollow">
    Unfollow
  </button>
<% } %>