<ul class="roll-menu clearfix"> 
  <li>
    <button class="button_primer button_blue roll-menu-button roll-menu-add js-roll-add-leave-button">
      <!-- see RollActionMenuView._followOrUnfollowRoll() -->
    </button>
  </li>
</ul>