<% if (isInAppUserProfile) { %>
  <h2 class="user-nickname">
    <%= shelby.models.user.get('nickname') %>
  </h2>
  <ul>
    <li>
      <div class="js-user-roll">Roll</div>
    </li>
    <li>
      <div class="js-user-likes">Likes</div>
    </li>
    <li>
      <div class="js-user-following">Following</div>
    </li>
  </ul>
<% } else { %>
  <h2 class="roll-title">
      <%= libs.shelbyGT.viewHelpers.roll.titleForDisplay(roll) || '' %>
  </h2>
<% } %>