<% 
  var rollTitle = libs.shelbyGT.viewHelpers.roll.titleForDisplay(roll) || '',
      rollSubdomain = roll.has('subdomain'),
      personalRollId = shelby.models.user.get('personal_roll_id');
%>

<div class="title">
  <% if(roll.id == personalRollId && rollSubdomain) { %>
    <h2 class="current-roll">
      <span class="roll-title-text">
        <%= rollTitle || '' %>
      </span>
      <span id="js-roll-name-change" class="roll-name-change">
        <input value="<%= rollTitle %>" size="15"/>
      </span>
    </h2>
  <% } else { %>
    <h2 class="current-roll">
      <% console.log(roll) %>
      <span class="roll-title-text">
        <%= (roll.get('creator_nickname') == shelby.models.user.get('nickname')) ? rollTitle : roll.get('title') %>
      </span>
    </h2>
  <% } %>
</div>