<form id="js-video-search-form" class="video-search-form">
  <input name="search" type="text" id="js-video-search-query-input" placeholder="what will you find next?" value="<%= search.escape('query') %>" />
</form>