<div class="empty-indicator-lining empty-stream">
  <h2 class="empty-indicator-header">
    We couldn't find anything, sorry!
  </h2>
  <p class="empty-indicator-block">
    Search again in the area above or watch some video in <a href="#" onclick="return false;" class="js-explore-link">Explore</a>.
  </p>
</div>