<div class="empty-indicator-lining empty-stream">
  <h2 class="empty-indicator-header">
    We couldn't find any video with that search
  </h2>
  <p class="empty-indicator-block">
    Try again in the area above or watch some video in <a href="#" onclick="return false;" class="js-explore-link">#Channels</a>.
  </p>
</div>
