<div class="search-header clearfix">
  <form id="js-video-search-form" class="video-search-form">
  <fieldset class="form_fieldset search_module">
    <input type="submit" class="button_primer button_blue search_module__submit js-video-search-button" value="Search">

    <span class="search_module__input_wrapper">
      <input autofocus="autofocus" name="search" type="text" class="form_input search_module__input" id="js-video-search-query-input" placeholder="Find More Video" value="">
    </span>
  </fieldset><!-- eo search_module -->
</form>
</div>

<div class="tooltip tooltip--inline tooltip--search fin fin--top_left">
  <h5 class="tooltip__h1">
    Search
  </h5>

  <p class="tooltip__block">
    YouTube, Vimeo, and Dailymotion!
  </p>
</div><!-- eo tooltip -->

<div class="tooltip tooltip--prev-video fin fin--left_bottom">
  <h5 class="tooltip__h1">
    Previous Video
  </h5>

  <p class="tooltip__block">
    Press the <span class="keyboard_button">&larr;</span> key
  </p>
</div><!-- eo tooltip -->

<div class="tooltip tooltip--hide-guide fin fin--left_top">
  <h5 class="tooltip__h1">
    Show Guide
  </h5>

  <p class="tooltip__block">
    Press the <span class="keyboard_button">G</span> key
  </p>
</div><!-- eo tooltip -->

<div class="tooltip tooltip--next-video fin fin--right_top">
  <h5 class="tooltip__h1">
    Next video
  </h5>

  <p class="tooltip__block">
    Press the <span class="keyboard_button">&rarr;</span> key
  </p>
</div><!-- eo tooltip -->

<div class="tooltip tooltip--inline tooltip--play-video fin fin--bottom_left">
  <h5 class="tooltip__h1">
    Play/Pause
  </h5>

  <p class="tooltip__block">
    Press the <span class="keyboard_button keyboard_button--inline">space bar</span>
  </p>
</div><!-- eo tooltip -->

<div class="tooltip tooltip--inline tooltip--toggle-tooltips">
  <h5 class="tooltip__h1">
    Keyboard Shortcuts
  </h5>

  <p class="tooltip__block">
    Press the <span class="keyboard_button keyboard_button--inline">?</span> key
  </p>
</div><!-- eo tooltip -->

<div class="welcome-message welcome-message--large frame-body-wrapper">
  <div class="welcome-message__head welcome-message__head--plain">
    <h2 class="welcome-message__h1--plain">
      Welcome to Shelby Video Search
    </h2>

    <h3 class="welcome-message__h2--plain">
      ⬅ start a search, sit back, and enjoy fullscreen, continuous playback!
    </h3>
  </div><!-- eo welcome-message__head -->

</div><!-- eo .welcome-message -->
