<form id="js-video-search-form" class="video-search-form">
  <input type="submit" class="button_primer button_blue media_image--rev video-search-button js-video-search-button" value="Search" />
  <div class="media_body">
    <div>
      <input autofocus="autofocus" name="search" type="text" class="form_input video-search-text-input" id="js-video-search-query-input" placeholder="what will you find next?" value="<%= search.escape('query') %>" />
    </div>
  </div>
</form>