<%
  var active_networks = [];
  shelby.models.user.get('authentications').forEach(function(auth){
    active_networks.push(auth.provider);
  });
  var twitter_active = _.include(shareModel.get('destination'), 'twitter') ? true : false;
  var facebook_active = _.include(shareModel.get('destination'), 'facebook') ? true : false;
%>
  <!-- form element wrapper is in outside of this JST -->
  <fieldset class="form_fieldset">
    <label class="form_label" for="email-recipients">
      Recipients
    </label>
    <input id="email-recipients" class="form_input js-share-email-addresses" type="email" name="email-recipients" autofocus tabindex="0" placeholder="email@address.com, other@address.com, etc…" />

    <label class="form_label" for="email-message">
      Message
    </label>
    <textarea class="form_textarea js-share-textarea" name="email-message" id="email-message" tabindex="0"></textarea>
    <!-- <p id="js-share-comment-counter" class="form_textarea_subline">140</p> -->
  </fieldset>

	<fieldset class="form_fieldset share-submit">
		<button onclick="return false;" class="js-submit-share share-submit-button" type="submit" tabindex="0">
      Send
    </button>
	</fieldset>
