<div class="guide-overlay__head">
  <h1 class="guide-overlay__title">
    Preferences
  </h1>
</div>
<%
  var menu = [];
%>

<div class="guide-overlay__body">
  <ul class="list guide-overlay__list">
    <li class="list__item">
      <button class="button_primer button_command button_command--text js-preferences-profile">
        <span class="icon icon-chevron"></span>
        <span class="button_label">Profile</span>
      </button>
    </li>
  </ul>
</div>