<div class="media_module user_roll__item_lining clearfix">
  <button class="button_primer <%= (defaultButtonColor) ? 'button_gray' : 'button_chips-ahoy' %> media_image animate_module user-channel__button_prev js-button-previous">
    <i class="icon-arrow_left"></i>
    <span class="visuallyhidden">Previous</span>
  </button>

  <button class="button_primer <%= (defaultButtonColor) ? 'button_gray' : 'button_chips-ahoy' %> media_image media_image--rev animate_module user-channel__button_next js-button-next">
    <i class="icon-arrow_right"></i>
    <span class="visuallyhidden">Next</span>
  </button>

  <div class="media_body user-channel__wrapper clearfix">
    <div class="user-channel__head">
      <h3 class="user-channel__title js-user-channel-title">
        <%= roll.get('title') %> by <img class="user-channel__avatar" src="<%= roll.get('thumbnail_url') %>"/ > Chips Ahoy!
      </h3>
    </div>

    <div class="media_body user-channel__body js-user-channel-wrapper">
      <div class="user-channel js-user-channel clearfix">
        <!-- Filled in by … -->
      </div><!-- eo user-channel block -->
    </div><!-- eo media_body -->
</div><!-- eo media_module -->