<div class="media_module">
  <button class="media_image user-channel__button js-button-previous">
    <i class="icon-arrow_left"></i>
    <span class="visuallyhidden">Previous</span>
  </button>

  <button class="media_image media_image--rev user-channel__button js-button-next">
    <i class="icon-arrow_right"></i>
    <span class="visuallyhidden">Next</span>
  </button>

  <div class="media_body user-channel__wrapper js-user-channel-wrapper">
    <div class="user-channel js-user-channel clearfix">
      <h3 class="user-channel__title js-user-channel-title">
        <%= roll.get('title') %>
      </h3>
    </div><!-- eo user-channel block -->
  </div><!-- eo media_body -->
</div><!-- eo media_module -->