<div class="guide-overlay__head guide-overlay__head--preferences">
  <h1 class="guide-overlay__h1">
    Preferences
  </h1>
</div>

<div class="guide-overlay__body guide-overlay__body--preferences">
  <ul class="list guide-overlay__list">
    <li class="list__item">
      <button class="button_primer button_command button_gray button_command--fill button_command--flexible js-preferences-profile">
        <span class="icon icon-chevron"></span>
        <span class="button_label">Profile</span>
      </button>
    </li>
    <li class="list__item">
      <button class="button_primer button_command button_gray button_command--fill button_command--flexible js-preferences-password">
        <span class="icon icon-chevron"></span>
        <span class="button_label">Password</span>
      </button>
    </li>
    <li class="list__item">
      <button class="button_primer button_command button_gray button_command--fill button_command--flexible js-preferences-networks">
        <span class="icon icon-chevron"></span>
        <span class="button_label">Networks</span>
      </button>
    </li>
    <li class="list__item">
      <button class="button_primer button_command button_gray button_command--fill button_command--flexible js-preferences-notifications">
        <span class="icon icon-chevron"></span>
        <span class="button_label">Notifications</span>
      </button>
    </li>
    <li class="list__item">
      <button class="button_primer button_command button_gray button_command--fill button_command--flexible js-preferences-goodies">
        <span class="icon icon-chevron"></span>
        <span class="button_label">Goodies</span>
      </button>
    </li>
  </ul>
</div>