<div class="animate_module video_controls__wrapper clearfix">
  <div class="video_controls clearfix">
    <button class="video_controls__button video_controls__button--play js-videoplayer-playback js-track-event">
      <i class="icon-player_play"></i>
      <i class="icon-player_pause"></i>
      <span class="visuallyhidden">Play</span>
    </button>

    <button class="video_controls__button video_controls__button--quality js-videoplayer-hd js-track-event">
      <i class="icon-HD"></i>
      <span class="visuallyhidden">HD</span>
    </button>

    <button class="video_controls__button video_controls__button--volume unmute js-videoplayer-mute js-track-event">
      <i class="icon-player_sound_on"></i>
      <i class="icon-player_sound_off"></i>
      <span class="visuallyhidden">Volume</span>
    </button>

    <div class="video_controls__time js-videoplayer-timeline">
      <span>0:00</span> / <span>0:00</span>
    </div>

    <div class="video_progress__wrapper js-videoplayer-progress">
      <div class="video_progress">
        <div class="video_progress__load"></div>
        <div class="video_progress__elapsed"></div>
        <div class="video_progress__scrubber"></div>
      </div>
    </div>
  </div><!-- eo video_controls -->
</div><!-- eo video_conrtols__wrapper -->


<button class="videoplayer_animate videoplayer-nav__btn videoplayer-nav__btn--next js-videoplayer-next js-track-event" data-ga_category="Player" data-ga_action="Click next video" data-ga_label='<%= shelby.models.user.get('nickname') %>' title="Next Video">
	<i class="icon-arrow_right"></i>
  <span class="visuallyhidden">Next</span>
</button>

<button class="videoplayer_animate videoplayer-nav__btn videoplayer-nav__btn--prev js-videoplayer-prev js-track-event" data-ga_category="Player" data-ga_action="Click prev video" data-ga_label='<%= shelby.models.user.get('nickname') %>' title="Previous Video">
	<i class="icon-arrow_left"></i>
	<span class="visuallyhidden">Prev</span>
</button>

<button class="videoplayer_animate videoplayer-nav__btn videoplayer-nav__btn--fullscreen js-videoplayer-fullscreen js-track-event" data-ga_category="Player" data-ga_action="Click fullscreen" data-ga_label='<%= shelby.models.user.get('nickname') %>' title="Hide / Show Guide">
  <i class="icon-player_fullscreen_enable"></i>
  <i class="icon-player_fullscreen_disable"></i>
  <span class="visuallyhidden">Fullscreen</span>
</button>
