<section class="content_module videoplayer animate-easein">
  <div class="videoplayer-viewport">
    <div id="youtube-player-holder"></div>
    <div id="vimeo-player-holder"></div>
    <div id="collegehumor-player-holder"></div>
    <div id="dailymotion-player-holder"></div>
    <div id="bliptv-player-holder"></div>
    <div id="ooyala-player-holder"></div>
    <div id="espn-player-holder"></div>
    <div id="hulu-player-holder"></div>
    <div id="videoPlayerComponent"></div>
    <div id="adComponent"></div>
  </div><!-- eo .videoplayer-viewport -->

  <div id="js-preroll-video-info-wrapper" class="preroll-video-info-wrapper"></div>
  <div id="video-controls" class="video-player-controls-wrapper js-inactivity-preemption"></div>

  <div id="mini-video-progress">
    <div class="mini-video-player-progress">
      <div class="video-player-progress-load"></div>
      <div class="video-player-progress-elapsed"></div>
    </div>
  </div>

  <div class="animate_module context-overlay-wrapper js-inactivity-preemption">
    <aside id="js-context-overlay-lining" class="context-overlay-lining clearfix"></aside>
  </div><!-- eo .conext-overlay-wrapper -->

  <div id="js-notifications-wrapper" class="notifications-wrapper"></div>
</section><!-- eo .videoplayer -->