<div id="js-persistent-video-info-wrapper" class="animate_module media_module persistent_video_info__wrapper js-inactivity-preemption">
</div>

<div style="position:absolute;right: 30px; z-index:10000;" id="js-channel-info-overlay-wrapper" class="animate_module media_module channel_info__wrapper js-inactivity-preemption"></div>

<div class="videoplayer-viewport animate_module">
  <div id="youtube-player-holder"></div>
  <div id="vimeo-player-holder"></div>
  <div id="collegehumor-player-holder"></div>
  <div id="dailymotion-player-holder"></div>
  <div id="bliptv-player-holder"></div>
  <div id="ooyala-player-holder"></div>
  <div id="espn-player-holder"></div>
  <div id="hulu-player-holder"></div>
  <div id="videoPlayerComponent"></div>
  <div id="adComponent"></div>
</div><!-- eo .videoplayer-viewport -->

<div id="js-preroll-video-info-wrapper" class="preroll-video-info-wrapper js-inactivity-preemption"></div>
<div id="js-video-controls" class="videoplayer-controls__wrapper js-inactivity-preemption"></div>

<div id="fb-comments-holder" class="hidden"></div>

<div id="js-mini-video-progress" class="video_progress--mini__wrapper">
  <div class="video_progress video_progress--mini">
    <div class="video_progress__load"></div>
    <div class="video_progress__elapsed"></div>
  </div>
</div>
