<div id="js-persistent-video-info-wrapper" class="animate_module media_module persistent_video_info__wrapper js-inactivity-preemption">
</div>

<div class="animate_module media_module persistent_video_info__wrapper js-inactivity-preemption">
  <div class="persistent_video_info persistent_video_info--supplemental animate_module">
    <div class="media_image--rev persistent_video_info__next-frame">
      <img src="http://s3.evcdn.com/images/block250/I0-001/000/215/118-5.jpg_/iamx-18.jpg" style="width: 100%;" />
    </div><!-- eo .persistent_video_info__next-frame -->

    <div class="media_body persistent_video_info__current-frame">
      <div class="persistent_video_info__lining">
        <h3 class="persistent_video_info__h1">
      		IAMX <span>on Tour</span>
        </h3>

        <div class="media_module persistent_video_info__body">
          <div class="media_image">
            <div class="calendar frame-body-wrapper">
              <div class="calendar__head">
                <span class="calendar__month">
                  DEC
                </span>
              </div>

              <div class="calendar__body">
                <span class="calendar__number">
                  99
                </span>
              </div>
            </div>
          </div>

          <div class="media_body">
            <p>
              <strong>Chicago, IL</strong> — Blue Bottle Stadium
            </p>

            <p>
              Fri, December 9, 2013
            </p>

            <p>
              $25-50
            </p>
          </div><!-- eo .media_body -->
        </div><!-- eo .persistent_video_info__body -->
      </div><!-- eo .persistent_video_info_lining -->
    </div><!-- eo .persistent_video_info__current-frame -->
  </div><!-- eo .persistent_video_info -->
</div>

<div class="videoplayer-viewport animate_module">
  <div id="youtube-player-holder"></div>
  <div id="vimeo-player-holder"></div>
  <div id="collegehumor-player-holder"></div>
  <div id="dailymotion-player-holder"></div>
  <div id="bliptv-player-holder"></div>
  <div id="ooyala-player-holder"></div>
  <div id="espn-player-holder"></div>
  <div id="hulu-player-holder"></div>
  <div id="videoPlayerComponent"></div>
  <div id="adComponent"></div>
</div><!-- eo .videoplayer-viewport -->

<div id="js-preroll-video-info-wrapper" class="preroll-video-info-wrapper js-inactivity-preemption"></div>
<div id="video-controls" class="video-player-controls-wrapper js-inactivity-preemption"></div>

<div id="fb-comments-holder" class="hidden"></div>

<div id="mini-video-progress" class="mini-videoplayer__wrapper">
  <div class="mini-videoplayer">
    <div class="videoplayer-progress__load"></div>
    <div class="videoplayer-progress__elapsed"></div>
  </div>
</div>

<div class="annotation__wrapper js-annotation-wrapper">
  <!-- Content filled in dynamically by VideoAnnotationManagerView -->
</div><!-- eo videoplayer_popup -->
