<!doctype html>
<html>
<head>
  <title>shelby.tv | sign up</title>
  <meta name="description" content="">

  <%= stylesheet_link_tag "signup" %>
</head>
<body class="shelby shelby--signup">
  <div class="shelby__wrapper">
    <header class="shelby__head" role="banner">
      <span class="shelby_logo shelby_logo--inverted">
        <span class="icon-mark"></span><span class="icon-type"></span><span class="ir">Shelby.tv</span>
      </span>
    </header>

    <%= yield %>
  </div><!-- eo shelby__wrapper -->

<!--



TODO: DONT FORGET ABOUT ALL SORTS OF TRACKING



-->


  <%= javascript_include_tag "jquery" %>
  <%= javascript_include_tag "signup" %>

</body>
</html>
